<?xml version="1.0" encoding="Shift_JIS"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja">

 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=Shift_JIS" />
  <meta http-equiv="Content-Style-Type" content="text/css" />
  <meta http-equiv="Content-Script-Type" content="text/javascript" />
  <title>東方萃夢想スコアデータ</title>
  <link rel="stylesheet" type="text/css" href="style.css" />
  <link rel="stylesheet" type="text/css" href="th075.css" />
<style type="text/css">
<!--
    table.score_per_level td.use { min-width: 60px; }
    table.score_per_level td.clear { min-width: 60px; }
    table.score_per_level td.combo { min-width: 80px; }
    table.score_per_level td.damage { min-width: 80px; }
-->
</style>
 </head>

 <body>

  <h1>東方萃夢想スコアデータ</h1>

  <hr />

  <div class="section">
   <p>
    スコアデータ全般 /
    <a href="th075score2.html">個別ランキング</a> /
    <a href="th075card.html">御札戦歴</a><br />
    <a href="#Easy">Easy</a> /
    <a href="#Normal">Normal</a> /
    <a href="#Hard">Hard</a> /
    <a href="#Lunatic">Lunatic</a>
   </p>
  </div>

  <hr />

  <div class="section">
   <h2>難易度別スコア</h2>

   <table class="score_per_level">
    <caption id="Easy">Easy</caption>
    <thead>
     <tr>
      <td class="character">Chara</td>
      <td class="name">Name</td>
      <td class="score">Score</td>
      <td class="date">Date</td>
      <td class="use">使用回数</td>
      <td class="clear">クリア回数</td>
      <td class="combo">最大連続技数</td>
      <td class="damage">最大ダメージ</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="character">博麗 霊夢</td>
      <td class="name">%T75SCRERM11</td>
      <td class="score">%T75SCRERM12</td>
      <td class="date">%T75SCRERM13</td>
      <td class="use">%T75CHRERM1</td>
      <td class="clear">%T75CHRERM2</td>
      <td class="combo">%T75CHRERM3</td>
      <td class="damage">%T75CHRERM4</td>
     </tr>
     <tr>
      <td class="character">霧雨 魔理沙</td>
      <td class="name">%T75SCREMR11</td>
      <td class="score">%T75SCREMR12</td>
      <td class="date">%T75SCREMR13</td>
      <td class="use">%T75CHREMR1</td>
      <td class="clear">%T75CHREMR2</td>
      <td class="combo">%T75CHREMR3</td>
      <td class="damage">%T75CHREMR4</td>
     </tr>
     <tr>
      <td class="character">十六夜 咲夜</td>
      <td class="name">%T75SCRESK11</td>
      <td class="score">%T75SCRESK12</td>
      <td class="date">%T75SCRESK13</td>
      <td class="use">%T75CHRESK1</td>
      <td class="clear">%T75CHRESK2</td>
      <td class="combo">%T75CHRESK3</td>
      <td class="damage">%T75CHRESK4</td>
     </tr>
     <tr>
      <td class="character">アリス・マーガトロイド</td>
      <td class="name">%T75SCREAL11</td>
      <td class="score">%T75SCREAL12</td>
      <td class="date">%T75SCREAL13</td>
      <td class="use">%T75CHREAL1</td>
      <td class="clear">%T75CHREAL2</td>
      <td class="combo">%T75CHREAL3</td>
      <td class="damage">%T75CHREAL4</td>
     </tr>
     <tr>
      <td class="character">パチュリー・ノーレッジ</td>
      <td class="name">%T75SCREPC11</td>
      <td class="score">%T75SCREPC12</td>
      <td class="date">%T75SCREPC13</td>
      <td class="use">%T75CHREPC1</td>
      <td class="clear">%T75CHREPC2</td>
      <td class="combo">%T75CHREPC3</td>
      <td class="damage">%T75CHREPC4</td>
     </tr>
     <tr>
      <td class="character">魂魄 妖夢</td>
      <td class="name">%T75SCREYM11</td>
      <td class="score">%T75SCREYM12</td>
      <td class="date">%T75SCREYM13</td>
      <td class="use">%T75CHREYM1</td>
      <td class="clear">%T75CHREYM2</td>
      <td class="combo">%T75CHREYM3</td>
      <td class="damage">%T75CHREYM4</td>
     </tr>
     <tr>
      <td class="character">レミリア・スカーレット</td>
      <td class="name">%T75SCRERL11</td>
      <td class="score">%T75SCRERL12</td>
      <td class="date">%T75SCRERL13</td>
      <td class="use">%T75CHRERL1</td>
      <td class="clear">%T75CHRERL2</td>
      <td class="combo">%T75CHRERL3</td>
      <td class="damage">%T75CHRERL4</td>
     </tr>
     <tr>
      <td class="character">西行寺 幽々子</td>
      <td class="name">%T75SCREYU11</td>
      <td class="score">%T75SCREYU12</td>
      <td class="date">%T75SCREYU13</td>
      <td class="use">%T75CHREYU1</td>
      <td class="clear">%T75CHREYU2</td>
      <td class="combo">%T75CHREYU3</td>
      <td class="damage">%T75CHREYU4</td>
     </tr>
     <tr>
      <td class="character">八雲 紫</td>
      <td class="name">%T75SCREYK11</td>
      <td class="score">%T75SCREYK12</td>
      <td class="date">%T75SCREYK13</td>
      <td class="use">%T75CHREYK1</td>
      <td class="clear">%T75CHREYK2</td>
      <td class="combo">%T75CHREYK3</td>
      <td class="damage">%T75CHREYK4</td>
     </tr>
     <tr>
      <td class="character">伊吹 萃香</td>
      <td class="name">%T75SCRESU11</td>
      <td class="score">%T75SCRESU12</td>
      <td class="date">%T75SCRESU13</td>
      <td class="use">%T75CHRESU1</td>
      <td class="clear">%T75CHRESU2</td>
      <td class="combo">%T75CHRESU3</td>
      <td class="damage">%T75CHRESU4</td>
     </tr>
    </tbody>
   </table>

   <table class="score_per_level">
    <caption id="Normal">Normal</caption>
    <thead>
     <tr>
      <td class="character">Chara</td>
      <td class="name">Name</td>
      <td class="score">Score</td>
      <td class="date">Date</td>
      <td class="use">使用回数</td>
      <td class="clear">クリア回数</td>
      <td class="combo">最大連続技数</td>
      <td class="damage">最大ダメージ</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="character">博麗 霊夢</td>
      <td class="name">%T75SCRNRM11</td>
      <td class="score">%T75SCRNRM12</td>
      <td class="date">%T75SCRNRM13</td>
      <td class="use">%T75CHRNRM1</td>
      <td class="clear">%T75CHRNRM2</td>
      <td class="combo">%T75CHRNRM3</td>
      <td class="damage">%T75CHRNRM4</td>
     </tr>
     <tr>
      <td class="character">霧雨 魔理沙</td>
      <td class="name">%T75SCRNMR11</td>
      <td class="score">%T75SCRNMR12</td>
      <td class="date">%T75SCRNMR13</td>
      <td class="use">%T75CHRNMR1</td>
      <td class="clear">%T75CHRNMR2</td>
      <td class="combo">%T75CHRNMR3</td>
      <td class="damage">%T75CHRNMR4</td>
     </tr>
     <tr>
      <td class="character">十六夜 咲夜</td>
      <td class="name">%T75SCRNSK11</td>
      <td class="score">%T75SCRNSK12</td>
      <td class="date">%T75SCRNSK13</td>
      <td class="use">%T75CHRNSK1</td>
      <td class="clear">%T75CHRNSK2</td>
      <td class="combo">%T75CHRNSK3</td>
      <td class="damage">%T75CHRNSK4</td>
     </tr>
     <tr>
      <td class="character">アリス・マーガトロイド</td>
      <td class="name">%T75SCRNAL11</td>
      <td class="score">%T75SCRNAL12</td>
      <td class="date">%T75SCRNAL13</td>
      <td class="use">%T75CHRNAL1</td>
      <td class="clear">%T75CHRNAL2</td>
      <td class="combo">%T75CHRNAL3</td>
      <td class="damage">%T75CHRNAL4</td>
     </tr>
     <tr>
      <td class="character">パチュリー・ノーレッジ</td>
      <td class="name">%T75SCRNPC11</td>
      <td class="score">%T75SCRNPC12</td>
      <td class="date">%T75SCRNPC13</td>
      <td class="use">%T75CHRNPC1</td>
      <td class="clear">%T75CHRNPC2</td>
      <td class="combo">%T75CHRNPC3</td>
      <td class="damage">%T75CHRNPC4</td>
     </tr>
     <tr>
      <td class="character">魂魄 妖夢</td>
      <td class="name">%T75SCRNYM11</td>
      <td class="score">%T75SCRNYM12</td>
      <td class="date">%T75SCRNYM13</td>
      <td class="use">%T75CHRNYM1</td>
      <td class="clear">%T75CHRNYM2</td>
      <td class="combo">%T75CHRNYM3</td>
      <td class="damage">%T75CHRNYM4</td>
     </tr>
     <tr>
      <td class="character">レミリア・スカーレット</td>
      <td class="name">%T75SCRNRL11</td>
      <td class="score">%T75SCRNRL12</td>
      <td class="date">%T75SCRNRL13</td>
      <td class="use">%T75CHRNRL1</td>
      <td class="clear">%T75CHRNRL2</td>
      <td class="combo">%T75CHRNRL3</td>
      <td class="damage">%T75CHRNRL4</td>
     </tr>
     <tr>
      <td class="character">西行寺 幽々子</td>
      <td class="name">%T75SCRNYU11</td>
      <td class="score">%T75SCRNYU12</td>
      <td class="date">%T75SCRNYU13</td>
      <td class="use">%T75CHRNYU1</td>
      <td class="clear">%T75CHRNYU2</td>
      <td class="combo">%T75CHRNYU3</td>
      <td class="damage">%T75CHRNYU4</td>
     </tr>
     <tr>
      <td class="character">八雲 紫</td>
      <td class="name">%T75SCRNYK11</td>
      <td class="score">%T75SCRNYK12</td>
      <td class="date">%T75SCRNYK13</td>
      <td class="use">%T75CHRNYK1</td>
      <td class="clear">%T75CHRNYK2</td>
      <td class="combo">%T75CHRNYK3</td>
      <td class="damage">%T75CHRNYK4</td>
     </tr>
     <tr>
      <td class="character">伊吹 萃香</td>
      <td class="name">%T75SCRNSU11</td>
      <td class="score">%T75SCRNSU12</td>
      <td class="date">%T75SCRNSU13</td>
      <td class="use">%T75CHRNSU1</td>
      <td class="clear">%T75CHRNSU2</td>
      <td class="combo">%T75CHRNSU3</td>
      <td class="damage">%T75CHRNSU4</td>
     </tr>
    </tbody>
   </table>

   <table class="score_per_level">
    <caption id="Hard">Hard</caption>
    <thead>
     <tr>
      <td class="character">Chara</td>
      <td class="name">Name</td>
      <td class="score">Score</td>
      <td class="date">Date</td>
      <td class="use">使用回数</td>
      <td class="clear">クリア回数</td>
      <td class="combo">最大連続技数</td>
      <td class="damage">最大ダメージ</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="character">博麗 霊夢</td>
      <td class="name">%T75SCRHRM11</td>
      <td class="score">%T75SCRHRM12</td>
      <td class="date">%T75SCRHRM13</td>
      <td class="use">%T75CHRHRM1</td>
      <td class="clear">%T75CHRHRM2</td>
      <td class="combo">%T75CHRHRM3</td>
      <td class="damage">%T75CHRHRM4</td>
     </tr>
     <tr>
      <td class="character">霧雨 魔理沙</td>
      <td class="name">%T75SCRHMR11</td>
      <td class="score">%T75SCRHMR12</td>
      <td class="date">%T75SCRHMR13</td>
      <td class="use">%T75CHRHMR1</td>
      <td class="clear">%T75CHRHMR2</td>
      <td class="combo">%T75CHRHMR3</td>
      <td class="damage">%T75CHRHMR4</td>
     </tr>
     <tr>
      <td class="character">十六夜 咲夜</td>
      <td class="name">%T75SCRHSK11</td>
      <td class="score">%T75SCRHSK12</td>
      <td class="date">%T75SCRHSK13</td>
      <td class="use">%T75CHRHSK1</td>
      <td class="clear">%T75CHRHSK2</td>
      <td class="combo">%T75CHRHSK3</td>
      <td class="damage">%T75CHRHSK4</td>
     </tr>
     <tr>
      <td class="character">アリス・マーガトロイド</td>
      <td class="name">%T75SCRHAL11</td>
      <td class="score">%T75SCRHAL12</td>
      <td class="date">%T75SCRHAL13</td>
      <td class="use">%T75CHRHAL1</td>
      <td class="clear">%T75CHRHAL2</td>
      <td class="combo">%T75CHRHAL3</td>
      <td class="damage">%T75CHRHAL4</td>
     </tr>
     <tr>
      <td class="character">パチュリー・ノーレッジ</td>
      <td class="name">%T75SCRHPC11</td>
      <td class="score">%T75SCRHPC12</td>
      <td class="date">%T75SCRHPC13</td>
      <td class="use">%T75CHRHPC1</td>
      <td class="clear">%T75CHRHPC2</td>
      <td class="combo">%T75CHRHPC3</td>
      <td class="damage">%T75CHRHPC4</td>
     </tr>
     <tr>
      <td class="character">魂魄 妖夢</td>
      <td class="name">%T75SCRHYM11</td>
      <td class="score">%T75SCRHYM12</td>
      <td class="date">%T75SCRHYM13</td>
      <td class="use">%T75CHRHYM1</td>
      <td class="clear">%T75CHRHYM2</td>
      <td class="combo">%T75CHRHYM3</td>
      <td class="damage">%T75CHRHYM4</td>
     </tr>
     <tr>
      <td class="character">レミリア・スカーレット</td>
      <td class="name">%T75SCRHRL11</td>
      <td class="score">%T75SCRHRL12</td>
      <td class="date">%T75SCRHRL13</td>
      <td class="use">%T75CHRHRL1</td>
      <td class="clear">%T75CHRHRL2</td>
      <td class="combo">%T75CHRHRL3</td>
      <td class="damage">%T75CHRHRL4</td>
     </tr>
     <tr>
      <td class="character">西行寺 幽々子</td>
      <td class="name">%T75SCRHYU11</td>
      <td class="score">%T75SCRHYU12</td>
      <td class="date">%T75SCRHYU13</td>
      <td class="use">%T75CHRHYU1</td>
      <td class="clear">%T75CHRHYU2</td>
      <td class="combo">%T75CHRHYU3</td>
      <td class="damage">%T75CHRHYU4</td>
     </tr>
     <tr>
      <td class="character">八雲 紫</td>
      <td class="name">%T75SCRHYK11</td>
      <td class="score">%T75SCRHYK12</td>
      <td class="date">%T75SCRHYK13</td>
      <td class="use">%T75CHRHYK1</td>
      <td class="clear">%T75CHRHYK2</td>
      <td class="combo">%T75CHRHYK3</td>
      <td class="damage">%T75CHRHYK4</td>
     </tr>
     <tr>
      <td class="character">伊吹 萃香</td>
      <td class="name">%T75SCRHSU11</td>
      <td class="score">%T75SCRHSU12</td>
      <td class="date">%T75SCRHSU13</td>
      <td class="use">%T75CHRHSU1</td>
      <td class="clear">%T75CHRHSU2</td>
      <td class="combo">%T75CHRHSU3</td>
      <td class="damage">%T75CHRHSU4</td>
     </tr>
    </tbody>
   </table>

   <table class="score_per_level">
    <caption id="Lunatic">Lunatic</caption>
    <thead>
     <tr>
      <td class="character">Chara</td>
      <td class="name">Name</td>
      <td class="score">Score</td>
      <td class="date">Date</td>
      <td class="use">使用回数</td>
      <td class="clear">クリア回数</td>
      <td class="combo">最大連続技数</td>
      <td class="damage">最大ダメージ</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="character">博麗 霊夢</td>
      <td class="name">%T75SCRLRM11</td>
      <td class="score">%T75SCRLRM12</td>
      <td class="date">%T75SCRLRM13</td>
      <td class="use">%T75CHRLRM1</td>
      <td class="clear">%T75CHRLRM2</td>
      <td class="combo">%T75CHRLRM3</td>
      <td class="damage">%T75CHRLRM4</td>
     </tr>
     <tr>
      <td class="character">霧雨 魔理沙</td>
      <td class="name">%T75SCRLMR11</td>
      <td class="score">%T75SCRLMR12</td>
      <td class="date">%T75SCRLMR13</td>
      <td class="use">%T75CHRLMR1</td>
      <td class="clear">%T75CHRLMR2</td>
      <td class="combo">%T75CHRLMR3</td>
      <td class="damage">%T75CHRLMR4</td>
     </tr>
     <tr>
      <td class="character">十六夜 咲夜</td>
      <td class="name">%T75SCRLSK11</td>
      <td class="score">%T75SCRLSK12</td>
      <td class="date">%T75SCRLSK13</td>
      <td class="use">%T75CHRLSK1</td>
      <td class="clear">%T75CHRLSK2</td>
      <td class="combo">%T75CHRLSK3</td>
      <td class="damage">%T75CHRLSK4</td>
     </tr>
     <tr>
      <td class="character">アリス・マーガトロイド</td>
      <td class="name">%T75SCRLAL11</td>
      <td class="score">%T75SCRLAL12</td>
      <td class="date">%T75SCRLAL13</td>
      <td class="use">%T75CHRLAL1</td>
      <td class="clear">%T75CHRLAL2</td>
      <td class="combo">%T75CHRLAL3</td>
      <td class="damage">%T75CHRLAL4</td>
     </tr>
     <tr>
      <td class="character">パチュリー・ノーレッジ</td>
      <td class="name">%T75SCRLPC11</td>
      <td class="score">%T75SCRLPC12</td>
      <td class="date">%T75SCRLPC13</td>
      <td class="use">%T75CHRLPC1</td>
      <td class="clear">%T75CHRLPC2</td>
      <td class="combo">%T75CHRLPC3</td>
      <td class="damage">%T75CHRLPC4</td>
     </tr>
     <tr>
      <td class="character">魂魄 妖夢</td>
      <td class="name">%T75SCRLYM11</td>
      <td class="score">%T75SCRLYM12</td>
      <td class="date">%T75SCRLYM13</td>
      <td class="use">%T75CHRLYM1</td>
      <td class="clear">%T75CHRLYM2</td>
      <td class="combo">%T75CHRLYM3</td>
      <td class="damage">%T75CHRLYM4</td>
     </tr>
     <tr>
      <td class="character">レミリア・スカーレット</td>
      <td class="name">%T75SCRLRL11</td>
      <td class="score">%T75SCRLRL12</td>
      <td class="date">%T75SCRLRL13</td>
      <td class="use">%T75CHRLRL1</td>
      <td class="clear">%T75CHRLRL2</td>
      <td class="combo">%T75CHRLRL3</td>
      <td class="damage">%T75CHRLRL4</td>
     </tr>
     <tr>
      <td class="character">西行寺 幽々子</td>
      <td class="name">%T75SCRLYU11</td>
      <td class="score">%T75SCRLYU12</td>
      <td class="date">%T75SCRLYU13</td>
      <td class="use">%T75CHRLYU1</td>
      <td class="clear">%T75CHRLYU2</td>
      <td class="combo">%T75CHRLYU3</td>
      <td class="damage">%T75CHRLYU4</td>
     </tr>
     <tr>
      <td class="character">八雲 紫</td>
      <td class="name">%T75SCRLYK11</td>
      <td class="score">%T75SCRLYK12</td>
      <td class="date">%T75SCRLYK13</td>
      <td class="use">%T75CHRLYK1</td>
      <td class="clear">%T75CHRLYK2</td>
      <td class="combo">%T75CHRLYK3</td>
      <td class="damage">%T75CHRLYK4</td>
     </tr>
     <tr>
      <td class="character">伊吹 萃香</td>
      <td class="name">%T75SCRLSU11</td>
      <td class="score">%T75SCRLSU12</td>
      <td class="date">%T75SCRLSU13</td>
      <td class="use">%T75CHRLSU1</td>
      <td class="clear">%T75CHRLSU2</td>
      <td class="combo">%T75CHRLSU3</td>
      <td class="damage">%T75CHRLSU4</td>
     </tr>
    </tbody>
   </table>
  </div>

  <hr />

  <div class="section">
   <p>
    Data output by <a href="http://www.colorless-sight.jp/touhou/ThSFC/">ThScoreFileConverter</a>.
<script type="text/javascript">
<!--
    document.write("Last updated: ", document.lastModified, ".");
//-->
</script>
   </p>
  </div>

 </body>
</html>
