<?xml version="1.0" encoding="Shift_JIS"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja">

 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=Shift_JIS" />
  <meta http-equiv="Content-Stype-Type" content="text/css" />
  <meta http-equiv="Content-Script-Type" content="text/javascript" />
  <title>東方風神録スコアデータ</title>
  <link rel="stylesheet" type="text/css" href="style.css" />
  <link rel="stylesheet" type="text/css" href="th10.css" />
<style type="text/css">
<!--
    table.practice { float: left; }
-->
</style>
 </head>

 <body>
  <h1>東方風神録スコアデータ</h1>

  <hr />

  <div class="section">
   <p>
    <a href="th10score1.html">スコアデータ全般</a> /
    <a href="th10score2.html">個別ランキング</a> /
    プラクティス /
    <a href="th10card.html">御札戦歴</a><br />
    <a href="#Easy">Easy</a>
    <a href="#Normal">Normal</a>
    <a href="#Hard">Hard</a>
    <a href="#Lunatic">Lunatic</a>
   </p>
  </div>

  <hr />

  <div class="section">
   <h2 id="Easy">Easy</h2>

   <table class="practice">
    <caption>博麗 霊夢（誘導装備）</caption>
    <thead>
     <tr>
      <td class="stage">Stage</td>
      <td class="score">Score</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="stage">Stage 1</td>
      <td class="score">%T10PRACERA1</td>
     </tr>
     <tr>
      <td class="stage">Stage 2</td>
      <td class="score">%T10PRACERA2</td>
     </tr>
     <tr>
      <td class="stage">Stage 3</td>
      <td class="score">%T10PRACERA3</td>
     </tr>
     <tr>
      <td class="stage">Stage 4</td>
      <td class="score">%T10PRACERA4</td>
     </tr>
     <tr>
      <td class="stage">Stage 5</td>
      <td class="score">%T10PRACERA5</td>
     </tr>
     <tr>
      <td class="stage">Stage 6</td>
      <td class="score">%T10PRACERA6</td>
     </tr>
    </tbody>
   </table>

   <table class="practice">
    <caption>博麗 霊夢（前方集中装備）</caption>
    <thead>
     <tr>
      <td class="stage">Stage</td>
      <td class="score">Score</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="stage">Stage 1</td>
      <td class="score">%T10PRACERB1</td>
     </tr>
     <tr>
      <td class="stage">Stage 2</td>
      <td class="score">%T10PRACERB2</td>
     </tr>
     <tr>
      <td class="stage">Stage 3</td>
      <td class="score">%T10PRACERB3</td>
     </tr>
     <tr>
      <td class="stage">Stage 4</td>
      <td class="score">%T10PRACERB4</td>
     </tr>
     <tr>
      <td class="stage">Stage 5</td>
      <td class="score">%T10PRACERB5</td>
     </tr>
     <tr>
      <td class="stage">Stage 6</td>
      <td class="score">%T10PRACERB6</td>
     </tr>
    </tbody>
   </table>

   <table class="practice">
    <caption>博麗 霊夢（封印装備）</caption>
    <thead>
     <tr>
      <td class="stage">Stage</td>
      <td class="score">Score</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="stage">Stage 1</td>
      <td class="score">%T10PRACERC1</td>
     </tr>
     <tr>
      <td class="stage">Stage 2</td>
      <td class="score">%T10PRACERC2</td>
     </tr>
     <tr>
      <td class="stage">Stage 3</td>
      <td class="score">%T10PRACERC3</td>
     </tr>
     <tr>
      <td class="stage">Stage 4</td>
      <td class="score">%T10PRACERC4</td>
     </tr>
     <tr>
      <td class="stage">Stage 5</td>
      <td class="score">%T10PRACERC5</td>
     </tr>
     <tr>
      <td class="stage">Stage 6</td>
      <td class="score">%T10PRACERC6</td>
     </tr>
    </tbody>
   </table>

   <table class="practice">
    <caption>霧雨 魔理沙（高威力装備）</caption>
    <thead>
     <tr>
      <td class="stage">Stage</td>
      <td class="score">Score</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="stage">Stage 1</td>
      <td class="score">%T10PRACEMA1</td>
     </tr>
     <tr>
      <td class="stage">Stage 2</td>
      <td class="score">%T10PRACEMA2</td>
     </tr>
     <tr>
      <td class="stage">Stage 3</td>
      <td class="score">%T10PRACEMA3</td>
     </tr>
     <tr>
      <td class="stage">Stage 4</td>
      <td class="score">%T10PRACEMA4</td>
     </tr>
     <tr>
      <td class="stage">Stage 5</td>
      <td class="score">%T10PRACEMA5</td>
     </tr>
     <tr>
      <td class="stage">Stage 6</td>
      <td class="score">%T10PRACEMA6</td>
     </tr>
    </tbody>
   </table>

   <table class="practice">
    <caption>霧雨 魔理沙（貫通装備）</caption>
    <thead>
     <tr>
      <td class="stage">Stage</td>
      <td class="score">Score</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="stage">Stage 1</td>
      <td class="score">%T10PRACEMB1</td>
     </tr>
     <tr>
      <td class="stage">Stage 2</td>
      <td class="score">%T10PRACEMB2</td>
     </tr>
     <tr>
      <td class="stage">Stage 3</td>
      <td class="score">%T10PRACEMB3</td>
     </tr>
     <tr>
      <td class="stage">Stage 4</td>
      <td class="score">%T10PRACEMB4</td>
     </tr>
     <tr>
      <td class="stage">Stage 5</td>
      <td class="score">%T10PRACEMB5</td>
     </tr>
     <tr>
      <td class="stage">Stage 6</td>
      <td class="score">%T10PRACEMB6</td>
     </tr>
    </tbody>
   </table>

   <table class="practice">
    <caption>霧雨 魔理沙（魔法使い装備）</caption>
    <thead>
     <tr>
      <td class="stage">Stage</td>
      <td class="score">Score</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="stage">Stage 1</td>
      <td class="score">%T10PRACEMC1</td>
     </tr>
     <tr>
      <td class="stage">Stage 2</td>
      <td class="score">%T10PRACEMC2</td>
     </tr>
     <tr>
      <td class="stage">Stage 3</td>
      <td class="score">%T10PRACEMC3</td>
     </tr>
     <tr>
      <td class="stage">Stage 4</td>
      <td class="score">%T10PRACEMC4</td>
     </tr>
     <tr>
      <td class="stage">Stage 5</td>
      <td class="score">%T10PRACEMC5</td>
     </tr>
     <tr>
      <td class="stage">Stage 6</td>
      <td class="score">%T10PRACEMC6</td>
     </tr>
    </tbody>
   </table>
  </div>

  <hr />

  <div class="section">
   <h2 id="Normal">Normal</h2>

   <table class="practice">
    <caption>博麗 霊夢（誘導装備）</caption>
    <thead>
     <tr>
      <td class="stage">Stage</td>
      <td class="score">Score</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="stage">Stage 1</td>
      <td class="score">%T10PRACNRA1</td>
     </tr>
     <tr>
      <td class="stage">Stage 2</td>
      <td class="score">%T10PRACNRA2</td>
     </tr>
     <tr>
      <td class="stage">Stage 3</td>
      <td class="score">%T10PRACNRA3</td>
     </tr>
     <tr>
      <td class="stage">Stage 4</td>
      <td class="score">%T10PRACNRA4</td>
     </tr>
     <tr>
      <td class="stage">Stage 5</td>
      <td class="score">%T10PRACNRA5</td>
     </tr>
     <tr>
      <td class="stage">Stage 6</td>
      <td class="score">%T10PRACNRA6</td>
     </tr>
    </tbody>
   </table>

   <table class="practice">
    <caption>博麗 霊夢（前方集中装備）</caption>
    <thead>
     <tr>
      <td class="stage">Stage</td>
      <td class="score">Score</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="stage">Stage 1</td>
      <td class="score">%T10PRACNRB1</td>
     </tr>
     <tr>
      <td class="stage">Stage 2</td>
      <td class="score">%T10PRACNRB2</td>
     </tr>
     <tr>
      <td class="stage">Stage 3</td>
      <td class="score">%T10PRACNRB3</td>
     </tr>
     <tr>
      <td class="stage">Stage 4</td>
      <td class="score">%T10PRACNRB4</td>
     </tr>
     <tr>
      <td class="stage">Stage 5</td>
      <td class="score">%T10PRACNRB5</td>
     </tr>
     <tr>
      <td class="stage">Stage 6</td>
      <td class="score">%T10PRACNRB6</td>
     </tr>
    </tbody>
   </table>

   <table class="practice">
    <caption>博麗 霊夢（封印装備）</caption>
    <thead>
     <tr>
      <td class="stage">Stage</td>
      <td class="score">Score</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="stage">Stage 1</td>
      <td class="score">%T10PRACNRC1</td>
     </tr>
     <tr>
      <td class="stage">Stage 2</td>
      <td class="score">%T10PRACNRC2</td>
     </tr>
     <tr>
      <td class="stage">Stage 3</td>
      <td class="score">%T10PRACNRC3</td>
     </tr>
     <tr>
      <td class="stage">Stage 4</td>
      <td class="score">%T10PRACNRC4</td>
     </tr>
     <tr>
      <td class="stage">Stage 5</td>
      <td class="score">%T10PRACNRC5</td>
     </tr>
     <tr>
      <td class="stage">Stage 6</td>
      <td class="score">%T10PRACNRC6</td>
     </tr>
    </tbody>
   </table>

   <table class="practice">
    <caption>霧雨 魔理沙（高威力装備）</caption>
    <thead>
     <tr>
      <td class="stage">Stage</td>
      <td class="score">Score</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="stage">Stage 1</td>
      <td class="score">%T10PRACNMA1</td>
     </tr>
     <tr>
      <td class="stage">Stage 2</td>
      <td class="score">%T10PRACNMA2</td>
     </tr>
     <tr>
      <td class="stage">Stage 3</td>
      <td class="score">%T10PRACNMA3</td>
     </tr>
     <tr>
      <td class="stage">Stage 4</td>
      <td class="score">%T10PRACNMA4</td>
     </tr>
     <tr>
      <td class="stage">Stage 5</td>
      <td class="score">%T10PRACNMA5</td>
     </tr>
     <tr>
      <td class="stage">Stage 6</td>
      <td class="score">%T10PRACNMA6</td>
     </tr>
    </tbody>
   </table>

   <table class="practice">
    <caption>霧雨 魔理沙（貫通装備）</caption>
    <thead>
     <tr>
      <td class="stage">Stage</td>
      <td class="score">Score</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="stage">Stage 1</td>
      <td class="score">%T10PRACNMB1</td>
     </tr>
     <tr>
      <td class="stage">Stage 2</td>
      <td class="score">%T10PRACNMB2</td>
     </tr>
     <tr>
      <td class="stage">Stage 3</td>
      <td class="score">%T10PRACNMB3</td>
     </tr>
     <tr>
      <td class="stage">Stage 4</td>
      <td class="score">%T10PRACNMB4</td>
     </tr>
     <tr>
      <td class="stage">Stage 5</td>
      <td class="score">%T10PRACNMB5</td>
     </tr>
     <tr>
      <td class="stage">Stage 6</td>
      <td class="score">%T10PRACNMB6</td>
     </tr>
    </tbody>
   </table>

   <table class="practice">
    <caption>霧雨 魔理沙（魔法使い装備）</caption>
    <thead>
     <tr>
      <td class="stage">Stage</td>
      <td class="score">Score</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="stage">Stage 1</td>
      <td class="score">%T10PRACNMC1</td>
     </tr>
     <tr>
      <td class="stage">Stage 2</td>
      <td class="score">%T10PRACNMC2</td>
     </tr>
     <tr>
      <td class="stage">Stage 3</td>
      <td class="score">%T10PRACNMC3</td>
     </tr>
     <tr>
      <td class="stage">Stage 4</td>
      <td class="score">%T10PRACNMC4</td>
     </tr>
     <tr>
      <td class="stage">Stage 5</td>
      <td class="score">%T10PRACNMC5</td>
     </tr>
     <tr>
      <td class="stage">Stage 6</td>
      <td class="score">%T10PRACNMC6</td>
     </tr>
    </tbody>
   </table>
  </div>

  <hr />

  <div class="section">
   <h2 id="Hard">Hard</h2>

   <table class="practice">
    <caption>博麗 霊夢（誘導装備）</caption>
    <thead>
     <tr>
      <td class="stage">Stage</td>
      <td class="score">Score</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="stage">Stage 1</td>
      <td class="score">%T10PRACHRA1</td>
     </tr>
     <tr>
      <td class="stage">Stage 2</td>
      <td class="score">%T10PRACHRA2</td>
     </tr>
     <tr>
      <td class="stage">Stage 3</td>
      <td class="score">%T10PRACHRA3</td>
     </tr>
     <tr>
      <td class="stage">Stage 4</td>
      <td class="score">%T10PRACHRA4</td>
     </tr>
     <tr>
      <td class="stage">Stage 5</td>
      <td class="score">%T10PRACHRA5</td>
     </tr>
     <tr>
      <td class="stage">Stage 6</td>
      <td class="score">%T10PRACHRA6</td>
     </tr>
    </tbody>
   </table>

   <table class="practice">
    <caption>博麗 霊夢（前方集中装備）</caption>
    <thead>
     <tr>
      <td class="stage">Stage</td>
      <td class="score">Score</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="stage">Stage 1</td>
      <td class="score">%T10PRACHRB1</td>
     </tr>
     <tr>
      <td class="stage">Stage 2</td>
      <td class="score">%T10PRACHRB2</td>
     </tr>
     <tr>
      <td class="stage">Stage 3</td>
      <td class="score">%T10PRACHRB3</td>
     </tr>
     <tr>
      <td class="stage">Stage 4</td>
      <td class="score">%T10PRACHRB4</td>
     </tr>
     <tr>
      <td class="stage">Stage 5</td>
      <td class="score">%T10PRACHRB5</td>
     </tr>
     <tr>
      <td class="stage">Stage 6</td>
      <td class="score">%T10PRACHRB6</td>
     </tr>
    </tbody>
   </table>

   <table class="practice">
    <caption>博麗 霊夢（封印装備）</caption>
    <thead>
     <tr>
      <td class="stage">Stage</td>
      <td class="score">Score</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="stage">Stage 1</td>
      <td class="score">%T10PRACHRC1</td>
     </tr>
     <tr>
      <td class="stage">Stage 2</td>
      <td class="score">%T10PRACHRC2</td>
     </tr>
     <tr>
      <td class="stage">Stage 3</td>
      <td class="score">%T10PRACHRC3</td>
     </tr>
     <tr>
      <td class="stage">Stage 4</td>
      <td class="score">%T10PRACHRC4</td>
     </tr>
     <tr>
      <td class="stage">Stage 5</td>
      <td class="score">%T10PRACHRC5</td>
     </tr>
     <tr>
      <td class="stage">Stage 6</td>
      <td class="score">%T10PRACHRC6</td>
     </tr>
    </tbody>
   </table>

   <table class="practice">
    <caption>霧雨 魔理沙（高威力装備）</caption>
    <thead>
     <tr>
      <td class="stage">Stage</td>
      <td class="score">Score</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="stage">Stage 1</td>
      <td class="score">%T10PRACHMA1</td>
     </tr>
     <tr>
      <td class="stage">Stage 2</td>
      <td class="score">%T10PRACHMA2</td>
     </tr>
     <tr>
      <td class="stage">Stage 3</td>
      <td class="score">%T10PRACHMA3</td>
     </tr>
     <tr>
      <td class="stage">Stage 4</td>
      <td class="score">%T10PRACHMA4</td>
     </tr>
     <tr>
      <td class="stage">Stage 5</td>
      <td class="score">%T10PRACHMA5</td>
     </tr>
     <tr>
      <td class="stage">Stage 6</td>
      <td class="score">%T10PRACHMA6</td>
     </tr>
    </tbody>
   </table>

   <table class="practice">
    <caption>霧雨 魔理沙（貫通装備）</caption>
    <thead>
     <tr>
      <td class="stage">Stage</td>
      <td class="score">Score</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="stage">Stage 1</td>
      <td class="score">%T10PRACHMB1</td>
     </tr>
     <tr>
      <td class="stage">Stage 2</td>
      <td class="score">%T10PRACHMB2</td>
     </tr>
     <tr>
      <td class="stage">Stage 3</td>
      <td class="score">%T10PRACHMB3</td>
     </tr>
     <tr>
      <td class="stage">Stage 4</td>
      <td class="score">%T10PRACHMB4</td>
     </tr>
     <tr>
      <td class="stage">Stage 5</td>
      <td class="score">%T10PRACHMB5</td>
     </tr>
     <tr>
      <td class="stage">Stage 6</td>
      <td class="score">%T10PRACHMB6</td>
     </tr>
    </tbody>
   </table>

   <table class="practice">
    <caption>霧雨 魔理沙（魔法使い装備）</caption>
    <thead>
     <tr>
      <td class="stage">Stage</td>
      <td class="score">Score</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="stage">Stage 1</td>
      <td class="score">%T10PRACHMC1</td>
     </tr>
     <tr>
      <td class="stage">Stage 2</td>
      <td class="score">%T10PRACHMC2</td>
     </tr>
     <tr>
      <td class="stage">Stage 3</td>
      <td class="score">%T10PRACHMC3</td>
     </tr>
     <tr>
      <td class="stage">Stage 4</td>
      <td class="score">%T10PRACHMC4</td>
     </tr>
     <tr>
      <td class="stage">Stage 5</td>
      <td class="score">%T10PRACHMC5</td>
     </tr>
     <tr>
      <td class="stage">Stage 6</td>
      <td class="score">%T10PRACHMC6</td>
     </tr>
    </tbody>
   </table>
  </div>

  <hr />

  <div class="section">
   <h2 id="Lunatic">Lunatic</h2>

   <table class="practice">
    <caption>博麗 霊夢（誘導装備）</caption>
    <thead>
     <tr>
      <td class="stage">Stage</td>
      <td class="score">Score</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="stage">Stage 1</td>
      <td class="score">%T10PRACLRA1</td>
     </tr>
     <tr>
      <td class="stage">Stage 2</td>
      <td class="score">%T10PRACLRA2</td>
     </tr>
     <tr>
      <td class="stage">Stage 3</td>
      <td class="score">%T10PRACLRA3</td>
     </tr>
     <tr>
      <td class="stage">Stage 4</td>
      <td class="score">%T10PRACLRA4</td>
     </tr>
     <tr>
      <td class="stage">Stage 5</td>
      <td class="score">%T10PRACLRA5</td>
     </tr>
     <tr>
      <td class="stage">Stage 6</td>
      <td class="score">%T10PRACLRA6</td>
     </tr>
    </tbody>
   </table>

   <table class="practice">
    <caption>博麗 霊夢（前方集中装備）</caption>
    <thead>
     <tr>
      <td class="stage">Stage</td>
      <td class="score">Score</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="stage">Stage 1</td>
      <td class="score">%T10PRACLRB1</td>
     </tr>
     <tr>
      <td class="stage">Stage 2</td>
      <td class="score">%T10PRACLRB2</td>
     </tr>
     <tr>
      <td class="stage">Stage 3</td>
      <td class="score">%T10PRACLRB3</td>
     </tr>
     <tr>
      <td class="stage">Stage 4</td>
      <td class="score">%T10PRACLRB4</td>
     </tr>
     <tr>
      <td class="stage">Stage 5</td>
      <td class="score">%T10PRACLRB5</td>
     </tr>
     <tr>
      <td class="stage">Stage 6</td>
      <td class="score">%T10PRACLRB6</td>
     </tr>
    </tbody>
   </table>

   <table class="practice">
    <caption>博麗 霊夢（封印装備）</caption>
    <thead>
     <tr>
      <td class="stage">Stage</td>
      <td class="score">Score</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="stage">Stage 1</td>
      <td class="score">%T10PRACLRC1</td>
     </tr>
     <tr>
      <td class="stage">Stage 2</td>
      <td class="score">%T10PRACLRC2</td>
     </tr>
     <tr>
      <td class="stage">Stage 3</td>
      <td class="score">%T10PRACLRC3</td>
     </tr>
     <tr>
      <td class="stage">Stage 4</td>
      <td class="score">%T10PRACLRC4</td>
     </tr>
     <tr>
      <td class="stage">Stage 5</td>
      <td class="score">%T10PRACLRC5</td>
     </tr>
     <tr>
      <td class="stage">Stage 6</td>
      <td class="score">%T10PRACLRC6</td>
     </tr>
    </tbody>
   </table>

   <table class="practice">
    <caption>霧雨 魔理沙（高威力装備）</caption>
    <thead>
     <tr>
      <td class="stage">Stage</td>
      <td class="score">Score</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="stage">Stage 1</td>
      <td class="score">%T10PRACLMA1</td>
     </tr>
     <tr>
      <td class="stage">Stage 2</td>
      <td class="score">%T10PRACLMA2</td>
     </tr>
     <tr>
      <td class="stage">Stage 3</td>
      <td class="score">%T10PRACLMA3</td>
     </tr>
     <tr>
      <td class="stage">Stage 4</td>
      <td class="score">%T10PRACLMA4</td>
     </tr>
     <tr>
      <td class="stage">Stage 5</td>
      <td class="score">%T10PRACLMA5</td>
     </tr>
     <tr>
      <td class="stage">Stage 6</td>
      <td class="score">%T10PRACLMA6</td>
     </tr>
    </tbody>
   </table>

   <table class="practice">
    <caption>霧雨 魔理沙（貫通装備）</caption>
    <thead>
     <tr>
      <td class="stage">Stage</td>
      <td class="score">Score</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="stage">Stage 1</td>
      <td class="score">%T10PRACLMB1</td>
     </tr>
     <tr>
      <td class="stage">Stage 2</td>
      <td class="score">%T10PRACLMB2</td>
     </tr>
     <tr>
      <td class="stage">Stage 3</td>
      <td class="score">%T10PRACLMB3</td>
     </tr>
     <tr>
      <td class="stage">Stage 4</td>
      <td class="score">%T10PRACLMB4</td>
     </tr>
     <tr>
      <td class="stage">Stage 5</td>
      <td class="score">%T10PRACLMB5</td>
     </tr>
     <tr>
      <td class="stage">Stage 6</td>
      <td class="score">%T10PRACLMB6</td>
     </tr>
    </tbody>
   </table>

   <table class="practice">
    <caption>霧雨 魔理沙（魔法使い装備）</caption>
    <thead>
     <tr>
      <td class="stage">Stage</td>
      <td class="score">Score</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="stage">Stage 1</td>
      <td class="score">%T10PRACLMC1</td>
     </tr>
     <tr>
      <td class="stage">Stage 2</td>
      <td class="score">%T10PRACLMC2</td>
     </tr>
     <tr>
      <td class="stage">Stage 3</td>
      <td class="score">%T10PRACLMC3</td>
     </tr>
     <tr>
      <td class="stage">Stage 4</td>
      <td class="score">%T10PRACLMC4</td>
     </tr>
     <tr>
      <td class="stage">Stage 5</td>
      <td class="score">%T10PRACLMC5</td>
     </tr>
     <tr>
      <td class="stage">Stage 6</td>
      <td class="score">%T10PRACLMC6</td>
     </tr>
    </tbody>
   </table>
  </div>

  <hr />

  <div class="section">
   <p>
    Data output by <a href="https://www.colorless-sight.jp/thsfc/">ThScoreFileConverter</a>.
<script type="text/javascript">
<!--
    document.write("Last updated: ", document.lastModified, ".");
//-->
</script>
   </p>
  </div>

 </body>
</html>
