<?xml version="1.0" encoding="Shift_JIS"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja">

 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=Shift_JIS" />
  <meta http-equiv="Content-Stype-Type" content="text/css" />
  <meta http-equiv="Content-Script-Type" content="text/javascript" />
  <title>東方地霊殿スコアデータ</title>
  <link rel="stylesheet" type="text/css" href="style.css" />
  <link rel="stylesheet" type="text/css" href="th11.css" />
<style type="text/css">
<!--
    table.count td.count { min-width: 80px; }
    table.count td.time { min-width: 80px; }
-->
</style>
 </head>

 <body>
  <h1>東方地霊殿スコアデータ</h1>

  <hr />

  <div class="section">
   <p>
    スコアデータ全般 /
    <a href="th11score2.html">個別ランキング</a> /
    <a href="th11score3.html">プラクティス</a> /
    <a href="th11card.html">御札戦歴</a><br />
    <a href="#Easy">Easy</a>
    <a href="#Normal">Normal</a>
    <a href="#Hard">Hard</a>
    <a href="#Lunatic">Lunatic</a>
    <a href="#Extra">Extra</a>
    <a href="#Other">その他の状態一覧</a>
    <a href="#Clear">クリア達成度</a>
   </p>
  </div>

  <hr />

  <div class="section">
   <h2>難易度別スコア</h2>

   <table class="score_per_level">
    <caption id="Easy">Easy</caption>
    <thead>
     <tr>
      <td class="character">Character</td>
      <td class="name">Name</td>
      <td class="score">Score</td>
      <td class="date">Date</td>
      <td class="stage">Stage</td>
      <td class="slow">Slow</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="character">霊夢 &amp; 紫</td>
      <td class="name">%T11SCRERY11</td>
      <td class="score">%T11SCRERY12</td>
      <td class="date">%T11SCRERY14</td>
      <td class="stage">%T11SCRERY13</td>
      <td class="slow">%T11SCRERY15</td>
     </tr>
     <tr>
      <td class="character">霊夢 &amp; 萃香</td>
      <td class="name">%T11SCRERS11</td>
      <td class="score">%T11SCRERS12</td>
      <td class="date">%T11SCRERS14</td>
      <td class="stage">%T11SCRERS13</td>
      <td class="slow">%T11SCRERS15</td>
     </tr>
     <tr>
      <td class="character">霊夢 &amp; 文</td>
      <td class="name">%T11SCRERA11</td>
      <td class="score">%T11SCRERA12</td>
      <td class="date">%T11SCRERA14</td>
      <td class="stage">%T11SCRERA13</td>
      <td class="slow">%T11SCRERA15</td>
     </tr>
     <tr>
      <td class="character">魔理沙 &amp; アリス</td>
      <td class="name">%T11SCREMA11</td>
      <td class="score">%T11SCREMA12</td>
      <td class="date">%T11SCREMA14</td>
      <td class="stage">%T11SCREMA13</td>
      <td class="slow">%T11SCREMA15</td>
     </tr>
     <tr>
      <td class="character">魔理沙 &amp; パチュリー</td>
      <td class="name">%T11SCREMP11</td>
      <td class="score">%T11SCREMP12</td>
      <td class="date">%T11SCREMP14</td>
      <td class="stage">%T11SCREMP13</td>
      <td class="slow">%T11SCREMP15</td>
     </tr>
     <tr>
      <td class="character">魔理沙 &amp; にとり</td>
      <td class="name">%T11SCREMN11</td>
      <td class="score">%T11SCREMN12</td>
      <td class="date">%T11SCREMN14</td>
      <td class="stage">%T11SCREMN13</td>
      <td class="slow">%T11SCREMN15</td>
     </tr>
    </tbody>
   </table>

   <table class="score_per_level">
    <caption id="Normal">Normal</caption>
    <thead>
     <tr>
      <td class="character">Character</td>
      <td class="name">Name</td>
      <td class="score">Score</td>
      <td class="date">Date</td>
      <td class="stage">Stage</td>
      <td class="slow">Slow</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="character">霊夢 &amp; 紫</td>
      <td class="name">%T11SCRNRY11</td>
      <td class="score">%T11SCRNRY12</td>
      <td class="date">%T11SCRNRY14</td>
      <td class="stage">%T11SCRNRY13</td>
      <td class="slow">%T11SCRNRY15</td>
     </tr>
     <tr>
      <td class="character">霊夢 &amp; 萃香</td>
      <td class="name">%T11SCRNRS11</td>
      <td class="score">%T11SCRNRS12</td>
      <td class="date">%T11SCRNRS14</td>
      <td class="stage">%T11SCRNRS13</td>
      <td class="slow">%T11SCRNRS15</td>
     </tr>
     <tr>
      <td class="character">霊夢 &amp; 文</td>
      <td class="name">%T11SCRNRA11</td>
      <td class="score">%T11SCRNRA12</td>
      <td class="date">%T11SCRNRA14</td>
      <td class="stage">%T11SCRNRA13</td>
      <td class="slow">%T11SCRNRA15</td>
     </tr>
     <tr>
      <td class="character">魔理沙 &amp; アリス</td>
      <td class="name">%T11SCRNMA11</td>
      <td class="score">%T11SCRNMA12</td>
      <td class="date">%T11SCRNMA14</td>
      <td class="stage">%T11SCRNMA13</td>
      <td class="slow">%T11SCRNMA15</td>
     </tr>
     <tr>
      <td class="character">魔理沙 &amp; パチュリー</td>
      <td class="name">%T11SCRNMP11</td>
      <td class="score">%T11SCRNMP12</td>
      <td class="date">%T11SCRNMP14</td>
      <td class="stage">%T11SCRNMP13</td>
      <td class="slow">%T11SCRNMP15</td>
     </tr>
     <tr>
      <td class="character">魔理沙 &amp; にとり</td>
      <td class="name">%T11SCRNMN11</td>
      <td class="score">%T11SCRNMN12</td>
      <td class="date">%T11SCRNMN14</td>
      <td class="stage">%T11SCRNMN13</td>
      <td class="slow">%T11SCRNMN15</td>
     </tr>
    </tbody>
   </table>

   <table class="score_per_level">
    <caption id="Hard">Hard</caption>
    <thead>
     <tr>
      <td class="character">Character</td>
      <td class="name">Name</td>
      <td class="score">Score</td>
      <td class="date">Date</td>
      <td class="stage">Stage</td>
      <td class="slow">Slow</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="character">霊夢 &amp; 紫</td>
      <td class="name">%T11SCRHRY11</td>
      <td class="score">%T11SCRHRY12</td>
      <td class="date">%T11SCRHRY14</td>
      <td class="stage">%T11SCRHRY13</td>
      <td class="slow">%T11SCRHRY15</td>
     </tr>
     <tr>
      <td class="character">霊夢 &amp; 萃香</td>
      <td class="name">%T11SCRHRS11</td>
      <td class="score">%T11SCRHRS12</td>
      <td class="date">%T11SCRHRS14</td>
      <td class="stage">%T11SCRHRS13</td>
      <td class="slow">%T11SCRHRS15</td>
     </tr>
     <tr>
      <td class="character">霊夢 &amp; 文</td>
      <td class="name">%T11SCRHRA11</td>
      <td class="score">%T11SCRHRA12</td>
      <td class="date">%T11SCRHRA14</td>
      <td class="stage">%T11SCRHRA13</td>
      <td class="slow">%T11SCRHRA15</td>
     </tr>
     <tr>
      <td class="character">魔理沙 &amp; アリス</td>
      <td class="name">%T11SCRHMA11</td>
      <td class="score">%T11SCRHMA12</td>
      <td class="date">%T11SCRHMA14</td>
      <td class="stage">%T11SCRHMA13</td>
      <td class="slow">%T11SCRHMA15</td>
     </tr>
     <tr>
      <td class="character">魔理沙 &amp; パチュリー</td>
      <td class="name">%T11SCRHMP11</td>
      <td class="score">%T11SCRHMP12</td>
      <td class="date">%T11SCRHMP14</td>
      <td class="stage">%T11SCRHMP13</td>
      <td class="slow">%T11SCRHMP15</td>
     </tr>
     <tr>
      <td class="character">魔理沙 &amp; にとり</td>
      <td class="name">%T11SCRHMN11</td>
      <td class="score">%T11SCRHMN12</td>
      <td class="date">%T11SCRHMN14</td>
      <td class="stage">%T11SCRHMN13</td>
      <td class="slow">%T11SCRHMN15</td>
     </tr>
    </tbody>
   </table>

   <table class="score_per_level">
    <caption id="Lunatic">Lunatic</caption>
    <thead>
     <tr>
      <td class="character">Character</td>
      <td class="name">Name</td>
      <td class="score">Score</td>
      <td class="date">Date</td>
      <td class="stage">Stage</td>
      <td class="slow">Slow</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="character">霊夢 &amp; 紫</td>
      <td class="name">%T11SCRLRY11</td>
      <td class="score">%T11SCRLRY12</td>
      <td class="date">%T11SCRLRY14</td>
      <td class="stage">%T11SCRLRY13</td>
      <td class="slow">%T11SCRLRY15</td>
     </tr>
     <tr>
      <td class="character">霊夢 &amp; 萃香</td>
      <td class="name">%T11SCRLRS11</td>
      <td class="score">%T11SCRLRS12</td>
      <td class="date">%T11SCRLRS14</td>
      <td class="stage">%T11SCRLRS13</td>
      <td class="slow">%T11SCRLRS15</td>
     </tr>
     <tr>
      <td class="character">霊夢 &amp; 文</td>
      <td class="name">%T11SCRLRA11</td>
      <td class="score">%T11SCRLRA12</td>
      <td class="date">%T11SCRLRA14</td>
      <td class="stage">%T11SCRLRA13</td>
      <td class="slow">%T11SCRLRA15</td>
     </tr>
     <tr>
      <td class="character">魔理沙 &amp; アリス</td>
      <td class="name">%T11SCRLMA11</td>
      <td class="score">%T11SCRLMA12</td>
      <td class="date">%T11SCRLMA14</td>
      <td class="stage">%T11SCRLMA13</td>
      <td class="slow">%T11SCRLMA15</td>
     </tr>
     <tr>
      <td class="character">魔理沙 &amp; パチュリー</td>
      <td class="name">%T11SCRLMP11</td>
      <td class="score">%T11SCRLMP12</td>
      <td class="date">%T11SCRLMP14</td>
      <td class="stage">%T11SCRLMP13</td>
      <td class="slow">%T11SCRLMP15</td>
     </tr>
     <tr>
      <td class="character">魔理沙 &amp; にとり</td>
      <td class="name">%T11SCRLMN11</td>
      <td class="score">%T11SCRLMN12</td>
      <td class="date">%T11SCRLMN14</td>
      <td class="stage">%T11SCRLMN13</td>
      <td class="slow">%T11SCRLMN15</td>
     </tr>
    </tbody>
   </table>

   <table class="score_per_level">
    <caption id="Extra">Extra</caption>
    <thead>
     <tr>
      <td class="character">Character</td>
      <td class="name">Name</td>
      <td class="score">Score</td>
      <td class="date">Date</td>
      <td class="stage">Stage</td>
      <td class="slow">Slow</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="character">霊夢 &amp; 紫</td>
      <td class="name">%T11SCRXRY11</td>
      <td class="score">%T11SCRXRY12</td>
      <td class="date">%T11SCRXRY14</td>
      <td class="stage">%T11SCRXRY13</td>
      <td class="slow">%T11SCRXRY15</td>
     </tr>
     <tr>
      <td class="character">霊夢 &amp; 萃香</td>
      <td class="name">%T11SCRXRS11</td>
      <td class="score">%T11SCRXRS12</td>
      <td class="date">%T11SCRXRS14</td>
      <td class="stage">%T11SCRXRS13</td>
      <td class="slow">%T11SCRXRS15</td>
     </tr>
     <tr>
      <td class="character">霊夢 &amp; 文</td>
      <td class="name">%T11SCRXRA11</td>
      <td class="score">%T11SCRXRA12</td>
      <td class="date">%T11SCRXRA14</td>
      <td class="stage">%T11SCRXRA13</td>
      <td class="slow">%T11SCRXRA15</td>
     </tr>
     <tr>
      <td class="character">魔理沙 &amp; アリス</td>
      <td class="name">%T11SCRXMA11</td>
      <td class="score">%T11SCRXMA12</td>
      <td class="date">%T11SCRXMA14</td>
      <td class="stage">%T11SCRXMA13</td>
      <td class="slow">%T11SCRXMA15</td>
     </tr>
     <tr>
      <td class="character">魔理沙 &amp; パチュリー</td>
      <td class="name">%T11SCRXMP11</td>
      <td class="score">%T11SCRXMP12</td>
      <td class="date">%T11SCRXMP14</td>
      <td class="stage">%T11SCRXMP13</td>
      <td class="slow">%T11SCRXMP15</td>
     </tr>
     <tr>
      <td class="character">魔理沙 &amp; にとり</td>
      <td class="name">%T11SCRXMN11</td>
      <td class="score">%T11SCRXMN12</td>
      <td class="date">%T11SCRXMN14</td>
      <td class="stage">%T11SCRXMN13</td>
      <td class="slow">%T11SCRXMN15</td>
     </tr>
    </tbody>
   </table>
  </div>

  <hr />

  <div class="section">
   <h2 id="Other">その他の状態一覧</h2>

   <table class="count">
    <thead>
     <tr>
      <td rowspan="2" class="character">Character</td>
      <td rowspan="2" class="count">総プレイ回数</td>
      <td rowspan="2" class="time">プレイ時間</td>
      <td colspan="6">クリア回数</td>
     </tr>
     <tr>
      <td class="level">Easy</td>
      <td class="level">Normal</td>
      <td class="level">Hard</td>
      <td class="level">Lunatic</td>
      <td class="level">Extra</td>
      <td class="level">Total</td>
     </tr>
    </thead>
    <tfoot>
     <tr>
      <td class="character">全主人公合計</td>
      <td class="count">%T11CHARATL1</td>
      <td class="time">%T11CHARATL2</td>
      <td class="level">%T11CHARAEXETL3</td>
      <td class="level">%T11CHARAEXNTL3</td>
      <td class="level">%T11CHARAEXHTL3</td>
      <td class="level">%T11CHARAEXLTL3</td>
      <td class="level">%T11CHARAEXXTL3</td>
      <td class="level">%T11CHARAEXTTL3</td>
     </tr>
    </tfoot>
    <tbody>
     <tr>
      <td class="character">霊夢 &amp; 紫</td>
      <td class="count">%T11CHARARY1</td>
      <td class="time">%T11CHARARY2</td>
      <td class="level">%T11CHARAEXERY3</td>
      <td class="level">%T11CHARAEXNRY3</td>
      <td class="level">%T11CHARAEXHRY3</td>
      <td class="level">%T11CHARAEXLRY3</td>
      <td class="level">%T11CHARAEXXRY3</td>
      <td class="level">%T11CHARAEXTRY3</td>
     </tr>
     <tr>
      <td class="character">霊夢 &amp; 萃香</td>
      <td class="count">%T11CHARARS1</td>
      <td class="time">%T11CHARARS2</td>
      <td class="level">%T11CHARAEXERS3</td>
      <td class="level">%T11CHARAEXNRS3</td>
      <td class="level">%T11CHARAEXHRS3</td>
      <td class="level">%T11CHARAEXLRS3</td>
      <td class="level">%T11CHARAEXXRS3</td>
      <td class="level">%T11CHARAEXTRS3</td>
     </tr>
     <tr>
      <td class="character">霊夢 &amp; 文</td>
      <td class="count">%T11CHARARA1</td>
      <td class="time">%T11CHARARA2</td>
      <td class="level">%T11CHARAEXERA3</td>
      <td class="level">%T11CHARAEXNRA3</td>
      <td class="level">%T11CHARAEXHRA3</td>
      <td class="level">%T11CHARAEXLRA3</td>
      <td class="level">%T11CHARAEXXRA3</td>
      <td class="level">%T11CHARAEXTRA3</td>
     </tr>
     <tr>
      <td class="character">魔理沙 &amp; アリス</td>
      <td class="count">%T11CHARAMA1</td>
      <td class="time">%T11CHARAMA2</td>
      <td class="level">%T11CHARAEXEMA3</td>
      <td class="level">%T11CHARAEXNMA3</td>
      <td class="level">%T11CHARAEXHMA3</td>
      <td class="level">%T11CHARAEXLMA3</td>
      <td class="level">%T11CHARAEXXMA3</td>
      <td class="level">%T11CHARAEXTMA3</td>
     </tr>
     <tr>
      <td class="character">魔理沙 &amp; パチュリー</td>
      <td class="count">%T11CHARAMP1</td>
      <td class="time">%T11CHARAMP2</td>
      <td class="level">%T11CHARAEXEMP3</td>
      <td class="level">%T11CHARAEXNMP3</td>
      <td class="level">%T11CHARAEXHMP3</td>
      <td class="level">%T11CHARAEXLMP3</td>
      <td class="level">%T11CHARAEXXMP3</td>
      <td class="level">%T11CHARAEXTMP3</td>
     </tr>
     <tr>
      <td class="character">魔理沙 &amp; にとり</td>
      <td class="count">%T11CHARAMN1</td>
      <td class="time">%T11CHARAMN2</td>
      <td class="level">%T11CHARAEXEMN3</td>
      <td class="level">%T11CHARAEXNMN3</td>
      <td class="level">%T11CHARAEXHMN3</td>
      <td class="level">%T11CHARAEXLMN3</td>
      <td class="level">%T11CHARAEXXMN3</td>
      <td class="level">%T11CHARAEXTMN3</td>
     </tr>
    </tbody>
   </table>
  </div>

  <hr />

  <div class="section">
   <h2 id="Clear">クリア達成度</h2>

   <table class="clear">
    <thead>
     <tr>
      <td class="character">Character</td>
      <td class="level">Easy</td>
      <td class="level">Normal</td>
      <td class="level">Hard</td>
      <td class="level">Lunatic</td>
      <td class="level">Extra</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="character">霊夢 &amp; 紫</td>
      <td class="stage">%T11CLEARERY</td>
      <td class="stage">%T11CLEARNRY</td>
      <td class="stage">%T11CLEARHRY</td>
      <td class="stage">%T11CLEARLRY</td>
      <td class="stage">%T11CLEARXRY</td>
     </tr>
     <tr>
      <td class="character">霊夢 &amp; 萃香</td>
      <td class="stage">%T11CLEARERS</td>
      <td class="stage">%T11CLEARNRS</td>
      <td class="stage">%T11CLEARHRS</td>
      <td class="stage">%T11CLEARLRS</td>
      <td class="stage">%T11CLEARXRS</td>
     </tr>
     <tr>
      <td class="character">霊夢 &amp; 文</td>
      <td class="stage">%T11CLEARERA</td>
      <td class="stage">%T11CLEARNRA</td>
      <td class="stage">%T11CLEARHRA</td>
      <td class="stage">%T11CLEARLRA</td>
      <td class="stage">%T11CLEARXRA</td>
     </tr>
     <tr>
      <td class="character">魔理沙 &amp; アリス</td>
      <td class="stage">%T11CLEAREMA</td>
      <td class="stage">%T11CLEARNMA</td>
      <td class="stage">%T11CLEARHMA</td>
      <td class="stage">%T11CLEARLMA</td>
      <td class="stage">%T11CLEARXMA</td>
     </tr>
     <tr>
      <td class="character">魔理沙 &amp; パチュリー</td>
      <td class="stage">%T11CLEAREMP</td>
      <td class="stage">%T11CLEARNMP</td>
      <td class="stage">%T11CLEARHMP</td>
      <td class="stage">%T11CLEARLMP</td>
      <td class="stage">%T11CLEARXMP</td>
     </tr>
     <tr>
      <td class="character">魔理沙 &amp; にとり</td>
      <td class="stage">%T11CLEAREMN</td>
      <td class="stage">%T11CLEARNMN</td>
      <td class="stage">%T11CLEARHMN</td>
      <td class="stage">%T11CLEARLMN</td>
      <td class="stage">%T11CLEARXMN</td>
     </tr>
    </tbody>
   </table>
  </div>

  <hr />

  <div class="section">
   <p>
    Data output by <a href="http://www.colorless-sight.jp/touhou/ThSFC/">ThScoreFileConverter</a>.
<script type="text/javascript">
<!--
    document.write("Last updated: ", document.lastModified, ".");
//-->
</script>
   </p>
  </div>

 </body>
</html>
