/*
 * th128.css
 *	Cascading style sheet for TH128 result files
 */

td.route {
	min-width: 70px;
}
td.name {
	min-width: 70px;
}

td.score {
	min-width: 70px;
}

td.level {
	min-width: 70px;
}

td.stage {
	min-width: 70px;
}

td.date {
	min-width: 120px;
}

td.slow {
	min-width: 50px;
}
