<?xml version="1.0" encoding="Shift_JIS"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja">

 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=Shift_JIS" />
  <meta http-equiv="Content-Style-Type" content="text/css" />
  <meta http-equiv="Content-Script-Type" content="text/javascript" />
  <title>東方非想天則スペルカードデータ</title>
  <link rel="stylesheet" type="text/css" href="style.css" />
  <link rel="stylesheet" type="text/css" href="th123.css" />
<style type="text/css">
<!--
    table.rate_per_chara { float: left; }
    table.rate_per_chara td.number { min-width: 50px; }
    table.rate_per_chara td.card { min-width: 280px; }
    table.rate_per_chara tbody td.card,
    table.rate_per_chara tfoot td.card { text-align: left; }
    table.rate_per_chara td.rate { min-width: 70px; }
    table.rate_per_level td.rate { min-width: 100px; }
-->
</style>
 </head>

 <body>

  <h1>東方非想天則スペルカードデータ</h1>

  <hr />

  <div class="section">
   <p>
    御札戦歴 /
    <a href="th123card2.html">デッキ用カード蒐集歴</a><br />
    <a href="#Sanae">早苗</a> /
    <a href="#Cirno">チルノ</a> /
    <a href="#Meiling">美鈴</a> /
    <a href="#CardGet">スペルカード蒐集率</a>
   </p>
  </div>

  <hr />

  <div class="section">
   <h2 id="Card">御札戦歴</h2>

   <table class="rate_per_chara">
    <caption id="Sanae">東風谷 早苗</caption>
    <thead>
     <tr>
      <td class="number">No.</td>
      <td class="card">スペルカード名 (難易度)</td>
      <td class="rate">取得 / 挑戦</td>
      <td class="date">残り時間</td>
     </tr>
    </thead>
    <tfoot>
     <tr>
      <td colspan="2">合計</td>
      <td class="rate">%T123C00SN1 / %T123C00SN2</td>
      <td class="date">%T123C00SN3</td>
     </tr>
    </tfoot>
    <tbody>
     <tr>
      <td class="number">No.01</td>
      <td class="card">%T123CARD01SNN (%T123CARD01SNR)</td>
      <td class="rate">%T123C01SN1 / %T123C01SN2</td>
      <td class="date">%T123C01SN3</td>
     </tr>
     <tr>
      <td class="number">No.02</td>
      <td class="card">%T123CARD02SNN (%T123CARD02SNR)</td>
      <td class="rate">%T123C02SN1 / %T123C02SN2</td>
      <td class="date">%T123C02SN3</td>
     </tr>
     <tr>
      <td class="number">No.03</td>
      <td class="card">%T123CARD03SNN (%T123CARD03SNR)</td>
      <td class="rate">%T123C03SN1 / %T123C03SN2</td>
      <td class="date">%T123C03SN3</td>
     </tr>
     <tr>
      <td class="number">No.04</td>
      <td class="card">%T123CARD04SNN (%T123CARD04SNR)</td>
      <td class="rate">%T123C04SN1 / %T123C04SN2</td>
      <td class="date">%T123C04SN3</td>
     </tr>
     <tr>
      <td class="number">No.05</td>
      <td class="card">%T123CARD05SNN (%T123CARD05SNR)</td>
      <td class="rate">%T123C05SN1 / %T123C05SN2</td>
      <td class="date">%T123C05SN3</td>
     </tr>
     <tr>
      <td class="number">No.06</td>
      <td class="card">%T123CARD06SNN (%T123CARD06SNR)</td>
      <td class="rate">%T123C06SN1 / %T123C06SN2</td>
      <td class="date">%T123C06SN3</td>
     </tr>
     <tr>
      <td class="number">No.07</td>
      <td class="card">%T123CARD07SNN (%T123CARD07SNR)</td>
      <td class="rate">%T123C07SN1 / %T123C07SN2</td>
      <td class="date">%T123C07SN3</td>
     </tr>
     <tr>
      <td class="number">No.08</td>
      <td class="card">%T123CARD08SNN (%T123CARD08SNR)</td>
      <td class="rate">%T123C08SN1 / %T123C08SN2</td>
      <td class="date">%T123C08SN3</td>
     </tr>
     <tr>
      <td class="number">No.09</td>
      <td class="card">%T123CARD09SNN (%T123CARD09SNR)</td>
      <td class="rate">%T123C09SN1 / %T123C09SN2</td>
      <td class="date">%T123C09SN3</td>
     </tr>
     <tr>
      <td class="number">No.10</td>
      <td class="card">%T123CARD10SNN (%T123CARD10SNR)</td>
      <td class="rate">%T123C10SN1 / %T123C10SN2</td>
      <td class="date">%T123C10SN3</td>
     </tr>

     <tr>
      <td class="number">No.11</td>
      <td class="card">%T123CARD11SNN (%T123CARD11SNR)</td>
      <td class="rate">%T123C11SN1 / %T123C11SN2</td>
      <td class="date">%T123C11SN3</td>
     </tr>
     <tr>
      <td class="number">No.12</td>
      <td class="card">%T123CARD12SNN (%T123CARD12SNR)</td>
      <td class="rate">%T123C12SN1 / %T123C12SN2</td>
      <td class="date">%T123C12SN3</td>
     </tr>
     <tr>
      <td class="number">No.13</td>
      <td class="card">%T123CARD13SNN (%T123CARD13SNR)</td>
      <td class="rate">%T123C13SN1 / %T123C13SN2</td>
      <td class="date">%T123C13SN3</td>
     </tr>
     <tr>
      <td class="number">No.14</td>
      <td class="card">%T123CARD14SNN (%T123CARD14SNR)</td>
      <td class="rate">%T123C14SN1 / %T123C14SN2</td>
      <td class="date">%T123C14SN3</td>
     </tr>
     <tr>
      <td class="number">No.15</td>
      <td class="card">%T123CARD15SNN (%T123CARD15SNR)</td>
      <td class="rate">%T123C15SN1 / %T123C15SN2</td>
      <td class="date">%T123C15SN3</td>
     </tr>
     <tr>
      <td class="number">No.16</td>
      <td class="card">%T123CARD16SNN (%T123CARD16SNR)</td>
      <td class="rate">%T123C16SN1 / %T123C16SN2</td>
      <td class="date">%T123C16SN3</td>
     </tr>
     <tr>
      <td class="number">No.17</td>
      <td class="card">%T123CARD17SNN (%T123CARD17SNR)</td>
      <td class="rate">%T123C17SN1 / %T123C17SN2</td>
      <td class="date">%T123C17SN3</td>
     </tr>
     <tr>
      <td class="number">No.18</td>
      <td class="card">%T123CARD18SNN (%T123CARD18SNR)</td>
      <td class="rate">%T123C18SN1 / %T123C18SN2</td>
      <td class="date">%T123C18SN3</td>
     </tr>
     <tr>
      <td class="number">No.19</td>
      <td class="card">%T123CARD19SNN (%T123CARD19SNR)</td>
      <td class="rate">%T123C19SN1 / %T123C19SN2</td>
      <td class="date">%T123C19SN3</td>
     </tr>
     <tr>
      <td class="number">No.20</td>
      <td class="card">%T123CARD20SNN (%T123CARD20SNR)</td>
      <td class="rate">%T123C20SN1 / %T123C20SN2</td>
      <td class="date">%T123C20SN3</td>
     </tr>

     <tr>
      <td class="number">No.21</td>
      <td class="card">%T123CARD21SNN (%T123CARD21SNR)</td>
      <td class="rate">%T123C21SN1 / %T123C21SN2</td>
      <td class="date">%T123C21SN3</td>
     </tr>
     <tr>
      <td class="number">No.22</td>
      <td class="card">%T123CARD22SNN (%T123CARD22SNR)</td>
      <td class="rate">%T123C22SN1 / %T123C22SN2</td>
      <td class="date">%T123C22SN3</td>
     </tr>
     <tr>
      <td class="number">No.23</td>
      <td class="card">%T123CARD23SNN (%T123CARD23SNR)</td>
      <td class="rate">%T123C23SN1 / %T123C23SN2</td>
      <td class="date">%T123C23SN3</td>
     </tr>
     <tr>
      <td class="number">No.24</td>
      <td class="card">%T123CARD24SNN (%T123CARD24SNR)</td>
      <td class="rate">%T123C24SN1 / %T123C24SN2</td>
      <td class="date">%T123C24SN3</td>
     </tr>
     <tr>
      <td class="number">No.25</td>
      <td class="card">%T123CARD25SNN (%T123CARD25SNR)</td>
      <td class="rate">%T123C25SN1 / %T123C25SN2</td>
      <td class="date">%T123C25SN3</td>
     </tr>
     <tr>
      <td class="number">No.26</td>
      <td class="card">%T123CARD26SNN (%T123CARD26SNR)</td>
      <td class="rate">%T123C26SN1 / %T123C26SN2</td>
      <td class="date">%T123C26SN3</td>
     </tr>
     <tr>
      <td class="number">No.27</td>
      <td class="card">%T123CARD27SNN (%T123CARD27SNR)</td>
      <td class="rate">%T123C27SN1 / %T123C27SN2</td>
      <td class="date">%T123C27SN3</td>
     </tr>
     <tr>
      <td class="number">No.28</td>
      <td class="card">%T123CARD28SNN (%T123CARD28SNR)</td>
      <td class="rate">%T123C28SN1 / %T123C28SN2</td>
      <td class="date">%T123C28SN3</td>
     </tr>
     <tr>
      <td class="number">No.29</td>
      <td class="card">%T123CARD29SNN (%T123CARD29SNR)</td>
      <td class="rate">%T123C29SN1 / %T123C29SN2</td>
      <td class="date">%T123C29SN3</td>
     </tr>
     <tr>
      <td class="number">No.30</td>
      <td class="card">%T123CARD30SNN (%T123CARD30SNR)</td>
      <td class="rate">%T123C30SN1 / %T123C30SN2</td>
      <td class="date">%T123C30SN3</td>
     </tr>

     <tr>
      <td class="number">No.31</td>
      <td class="card">%T123CARD31SNN (%T123CARD31SNR)</td>
      <td class="rate">%T123C31SN1 / %T123C31SN2</td>
      <td class="date">%T123C31SN3</td>
     </tr>
     <tr>
      <td class="number">No.32</td>
      <td class="card">%T123CARD32SNN (%T123CARD32SNR)</td>
      <td class="rate">%T123C32SN1 / %T123C32SN2</td>
      <td class="date">%T123C32SN3</td>
     </tr>
     <tr>
      <td class="number">No.33</td>
      <td class="card">%T123CARD33SNN (%T123CARD33SNR)</td>
      <td class="rate">%T123C33SN1 / %T123C33SN2</td>
      <td class="date">%T123C33SN3</td>
     </tr>
     <tr>
      <td class="number">No.34</td>
      <td class="card">%T123CARD34SNN (%T123CARD34SNR)</td>
      <td class="rate">%T123C34SN1 / %T123C34SN2</td>
      <td class="date">%T123C34SN3</td>
     </tr>
     <tr>
      <td class="number">No.35</td>
      <td class="card">%T123CARD35SNN (%T123CARD35SNR)</td>
      <td class="rate">%T123C35SN1 / %T123C35SN2</td>
      <td class="date">%T123C35SN3</td>
     </tr>
     <tr>
      <td class="number">No.36</td>
      <td class="card">%T123CARD36SNN (%T123CARD36SNR)</td>
      <td class="rate">%T123C36SN1 / %T123C36SN2</td>
      <td class="date">%T123C36SN3</td>
     </tr>
     <tr>
      <td class="number">No.37</td>
      <td class="card">%T123CARD37SNN (%T123CARD37SNR)</td>
      <td class="rate">%T123C37SN1 / %T123C37SN2</td>
      <td class="date">%T123C37SN3</td>
     </tr>
     <tr>
      <td class="number">No.38</td>
      <td class="card">%T123CARD38SNN (%T123CARD38SNR)</td>
      <td class="rate">%T123C38SN1 / %T123C38SN2</td>
      <td class="date">%T123C38SN3</td>
     </tr>
     <tr>
      <td class="number">No.39</td>
      <td class="card">%T123CARD39SNN (%T123CARD39SNR)</td>
      <td class="rate">%T123C39SN1 / %T123C39SN2</td>
      <td class="date">%T123C39SN3</td>
     </tr>
     <tr>
      <td class="number">No.40</td>
      <td class="card">%T123CARD40SNN (%T123CARD40SNR)</td>
      <td class="rate">%T123C40SN1 / %T123C40SN2</td>
      <td class="date">%T123C40SN3</td>
     </tr>

     <tr>
      <td class="number">No.41</td>
      <td class="card">%T123CARD41SNN (%T123CARD41SNR)</td>
      <td class="rate">%T123C41SN1 / %T123C41SN2</td>
      <td class="date">%T123C41SN3</td>
     </tr>
     <tr>
      <td class="number">No.42</td>
      <td class="card">%T123CARD42SNN (%T123CARD42SNR)</td>
      <td class="rate">%T123C42SN1 / %T123C42SN2</td>
      <td class="date">%T123C42SN3</td>
     </tr>
     <tr>
      <td class="number">No.43</td>
      <td class="card">%T123CARD43SNN (%T123CARD43SNR)</td>
      <td class="rate">%T123C43SN1 / %T123C43SN2</td>
      <td class="date">%T123C43SN3</td>
     </tr>
     <tr>
      <td class="number">No.44</td>
      <td class="card">%T123CARD44SNN (%T123CARD44SNR)</td>
      <td class="rate">%T123C44SN1 / %T123C44SN2</td>
      <td class="date">%T123C44SN3</td>
     </tr>
     <tr>
      <td class="number">No.45</td>
      <td class="card">%T123CARD45SNN (%T123CARD45SNR)</td>
      <td class="rate">%T123C45SN1 / %T123C45SN2</td>
      <td class="date">%T123C45SN3</td>
     </tr>
     <tr>
      <td class="number">No.46</td>
      <td class="card">%T123CARD46SNN (%T123CARD46SNR)</td>
      <td class="rate">%T123C46SN1 / %T123C46SN2</td>
      <td class="date">%T123C46SN3</td>
     </tr>
     <tr>
      <td class="number">No.47</td>
      <td class="card">%T123CARD47SNN (%T123CARD47SNR)</td>
      <td class="rate">%T123C47SN1 / %T123C47SN2</td>
      <td class="date">%T123C47SN3</td>
     </tr>
     <tr>
      <td class="number">No.48</td>
      <td class="card">%T123CARD48SNN (%T123CARD48SNR)</td>
      <td class="rate">%T123C48SN1 / %T123C48SN2</td>
      <td class="date">%T123C48SN3</td>
     </tr>
     <tr>
      <td class="number">No.49</td>
      <td class="card">%T123CARD49SNN (%T123CARD49SNR)</td>
      <td class="rate">%T123C49SN1 / %T123C49SN2</td>
      <td class="date">%T123C49SN3</td>
     </tr>
     <tr>
      <td class="number">No.50</td>
      <td class="card">%T123CARD50SNN (%T123CARD50SNR)</td>
      <td class="rate">%T123C50SN1 / %T123C50SN2</td>
      <td class="date">%T123C50SN3</td>
     </tr>

     <tr>
      <td class="number">No.51</td>
      <td class="card">%T123CARD51SNN (%T123CARD51SNR)</td>
      <td class="rate">%T123C51SN1 / %T123C51SN2</td>
      <td class="date">%T123C51SN3</td>
     </tr>
     <tr>
      <td class="number">No.52</td>
      <td class="card">%T123CARD52SNN (%T123CARD52SNR)</td>
      <td class="rate">%T123C52SN1 / %T123C52SN2</td>
      <td class="date">%T123C52SN3</td>
     </tr>
     <tr>
      <td class="number">No.53</td>
      <td class="card">%T123CARD53SNN (%T123CARD53SNR)</td>
      <td class="rate">%T123C53SN1 / %T123C53SN2</td>
      <td class="date">%T123C53SN3</td>
     </tr>
     <tr>
      <td class="number">No.54</td>
      <td class="card">%T123CARD54SNN (%T123CARD54SNR)</td>
      <td class="rate">%T123C54SN1 / %T123C54SN2</td>
      <td class="date">%T123C54SN3</td>
     </tr>
     <tr>
      <td class="number">No.55</td>
      <td class="card">%T123CARD55SNN (%T123CARD55SNR)</td>
      <td class="rate">%T123C55SN1 / %T123C55SN2</td>
      <td class="date">%T123C55SN3</td>
     </tr>
     <tr>
      <td class="number">No.56</td>
      <td class="card">%T123CARD56SNN (%T123CARD56SNR)</td>
      <td class="rate">%T123C56SN1 / %T123C56SN2</td>
      <td class="date">%T123C56SN3</td>
     </tr>
     <tr>
      <td class="number">No.57</td>
      <td class="card">%T123CARD57SNN (%T123CARD57SNR)</td>
      <td class="rate">%T123C57SN1 / %T123C57SN2</td>
      <td class="date">%T123C57SN3</td>
     </tr>
     <tr>
      <td class="number">No.58</td>
      <td class="card">%T123CARD58SNN (%T123CARD58SNR)</td>
      <td class="rate">%T123C58SN1 / %T123C58SN2</td>
      <td class="date">%T123C58SN3</td>
     </tr>
     <tr>
      <td class="number">No.59</td>
      <td class="card">%T123CARD59SNN (%T123CARD59SNR)</td>
      <td class="rate">%T123C59SN1 / %T123C59SN2</td>
      <td class="date">%T123C59SN3</td>
     </tr>
     <tr>
      <td class="number">No.60</td>
      <td class="card">%T123CARD60SNN (%T123CARD60SNR)</td>
      <td class="rate">%T123C60SN1 / %T123C60SN2</td>
      <td class="date">%T123C60SN3</td>
     </tr>

     <tr>
      <td class="number">No.61</td>
      <td class="card">%T123CARD61SNN (%T123CARD61SNR)</td>
      <td class="rate">%T123C61SN1 / %T123C61SN2</td>
      <td class="date">%T123C61SN3</td>
     </tr>
     <tr>
      <td class="number">No.62</td>
      <td class="card">%T123CARD62SNN (%T123CARD62SNR)</td>
      <td class="rate">%T123C62SN1 / %T123C62SN2</td>
      <td class="date">%T123C62SN3</td>
     </tr>
     <tr>
      <td class="number">No.63</td>
      <td class="card">%T123CARD63SNN (%T123CARD63SNR)</td>
      <td class="rate">%T123C63SN1 / %T123C63SN2</td>
      <td class="date">%T123C63SN3</td>
     </tr>
     <tr>
      <td class="number">No.64</td>
      <td class="card">%T123CARD64SNN (%T123CARD64SNR)</td>
      <td class="rate">%T123C64SN1 / %T123C64SN2</td>
      <td class="date">%T123C64SN3</td>
     </tr>
    </tbody>
   </table>

   <table class="rate_per_chara">
    <caption id="Cirno">チルノ</caption>
    <thead>
     <tr>
      <td class="number">No.</td>
      <td class="card">スペルカード名 (難易度)</td>
      <td class="rate">取得 / 挑戦</td>
      <td class="date">残り時間</td>
     </tr>
    </thead>
    <tfoot>
     <tr>
      <td colspan="2">合計</td>
      <td class="rate">%T123C00CI1 / %T123C00CI2</td>
      <td class="date">%T123C00CI3</td>
     </tr>
    </tfoot>
    <tbody>
     <tr>
      <td class="number">No.01</td>
      <td class="card">%T123CARD01CIN (%T123CARD01CIR)</td>
      <td class="rate">%T123C01CI1 / %T123C01CI2</td>
      <td class="date">%T123C01CI3</td>
     </tr>
     <tr>
      <td class="number">No.02</td>
      <td class="card">%T123CARD02CIN (%T123CARD02CIR)</td>
      <td class="rate">%T123C02CI1 / %T123C02CI2</td>
      <td class="date">%T123C02CI3</td>
     </tr>
     <tr>
      <td class="number">No.03</td>
      <td class="card">%T123CARD03CIN (%T123CARD03CIR)</td>
      <td class="rate">%T123C03CI1 / %T123C03CI2</td>
      <td class="date">%T123C03CI3</td>
     </tr>
     <tr>
      <td class="number">No.04</td>
      <td class="card">%T123CARD04CIN (%T123CARD04CIR)</td>
      <td class="rate">%T123C04CI1 / %T123C04CI2</td>
      <td class="date">%T123C04CI3</td>
     </tr>
     <tr>
      <td class="number">No.05</td>
      <td class="card">%T123CARD05CIN (%T123CARD05CIR)</td>
      <td class="rate">%T123C05CI1 / %T123C05CI2</td>
      <td class="date">%T123C05CI3</td>
     </tr>
     <tr>
      <td class="number">No.06</td>
      <td class="card">%T123CARD06CIN (%T123CARD06CIR)</td>
      <td class="rate">%T123C06CI1 / %T123C06CI2</td>
      <td class="date">%T123C06CI3</td>
     </tr>
     <tr>
      <td class="number">No.07</td>
      <td class="card">%T123CARD07CIN (%T123CARD07CIR)</td>
      <td class="rate">%T123C07CI1 / %T123C07CI2</td>
      <td class="date">%T123C07CI3</td>
     </tr>
     <tr>
      <td class="number">No.08</td>
      <td class="card">%T123CARD08CIN (%T123CARD08CIR)</td>
      <td class="rate">%T123C08CI1 / %T123C08CI2</td>
      <td class="date">%T123C08CI3</td>
     </tr>
     <tr>
      <td class="number">No.09</td>
      <td class="card">%T123CARD09CIN (%T123CARD09CIR)</td>
      <td class="rate">%T123C09CI1 / %T123C09CI2</td>
      <td class="date">%T123C09CI3</td>
     </tr>
     <tr>
      <td class="number">No.10</td>
      <td class="card">%T123CARD10CIN (%T123CARD10CIR)</td>
      <td class="rate">%T123C10CI1 / %T123C10CI2</td>
      <td class="date">%T123C10CI3</td>
     </tr>

     <tr>
      <td class="number">No.11</td>
      <td class="card">%T123CARD11CIN (%T123CARD11CIR)</td>
      <td class="rate">%T123C11CI1 / %T123C11CI2</td>
      <td class="date">%T123C11CI3</td>
     </tr>
     <tr>
      <td class="number">No.12</td>
      <td class="card">%T123CARD12CIN (%T123CARD12CIR)</td>
      <td class="rate">%T123C12CI1 / %T123C12CI2</td>
      <td class="date">%T123C12CI3</td>
     </tr>
     <tr>
      <td class="number">No.13</td>
      <td class="card">%T123CARD13CIN (%T123CARD13CIR)</td>
      <td class="rate">%T123C13CI1 / %T123C13CI2</td>
      <td class="date">%T123C13CI3</td>
     </tr>
     <tr>
      <td class="number">No.14</td>
      <td class="card">%T123CARD14CIN (%T123CARD14CIR)</td>
      <td class="rate">%T123C14CI1 / %T123C14CI2</td>
      <td class="date">%T123C14CI3</td>
     </tr>
     <tr>
      <td class="number">No.15</td>
      <td class="card">%T123CARD15CIN (%T123CARD15CIR)</td>
      <td class="rate">%T123C15CI1 / %T123C15CI2</td>
      <td class="date">%T123C15CI3</td>
     </tr>
     <tr>
      <td class="number">No.16</td>
      <td class="card">%T123CARD16CIN (%T123CARD16CIR)</td>
      <td class="rate">%T123C16CI1 / %T123C16CI2</td>
      <td class="date">%T123C16CI3</td>
     </tr>
     <tr>
      <td class="number">No.17</td>
      <td class="card">%T123CARD17CIN (%T123CARD17CIR)</td>
      <td class="rate">%T123C17CI1 / %T123C17CI2</td>
      <td class="date">%T123C17CI3</td>
     </tr>
     <tr>
      <td class="number">No.18</td>
      <td class="card">%T123CARD18CIN (%T123CARD18CIR)</td>
      <td class="rate">%T123C18CI1 / %T123C18CI2</td>
      <td class="date">%T123C18CI3</td>
     </tr>
     <tr>
      <td class="number">No.19</td>
      <td class="card">%T123CARD19CIN (%T123CARD19CIR)</td>
      <td class="rate">%T123C19CI1 / %T123C19CI2</td>
      <td class="date">%T123C19CI3</td>
     </tr>
     <tr>
      <td class="number">No.20</td>
      <td class="card">%T123CARD20CIN (%T123CARD20CIR)</td>
      <td class="rate">%T123C20CI1 / %T123C20CI2</td>
      <td class="date">%T123C20CI3</td>
     </tr>

     <tr>
      <td class="number">No.21</td>
      <td class="card">%T123CARD21CIN (%T123CARD21CIR)</td>
      <td class="rate">%T123C21CI1 / %T123C21CI2</td>
      <td class="date">%T123C21CI3</td>
     </tr>
     <tr>
      <td class="number">No.22</td>
      <td class="card">%T123CARD22CIN (%T123CARD22CIR)</td>
      <td class="rate">%T123C22CI1 / %T123C22CI2</td>
      <td class="date">%T123C22CI3</td>
     </tr>
     <tr>
      <td class="number">No.23</td>
      <td class="card">%T123CARD23CIN (%T123CARD23CIR)</td>
      <td class="rate">%T123C23CI1 / %T123C23CI2</td>
      <td class="date">%T123C23CI3</td>
     </tr>
     <tr>
      <td class="number">No.24</td>
      <td class="card">%T123CARD24CIN (%T123CARD24CIR)</td>
      <td class="rate">%T123C24CI1 / %T123C24CI2</td>
      <td class="date">%T123C24CI3</td>
     </tr>
     <tr>
      <td class="number">No.25</td>
      <td class="card">%T123CARD25CIN (%T123CARD25CIR)</td>
      <td class="rate">%T123C25CI1 / %T123C25CI2</td>
      <td class="date">%T123C25CI3</td>
     </tr>
     <tr>
      <td class="number">No.26</td>
      <td class="card">%T123CARD26CIN (%T123CARD26CIR)</td>
      <td class="rate">%T123C26CI1 / %T123C26CI2</td>
      <td class="date">%T123C26CI3</td>
     </tr>
     <tr>
      <td class="number">No.27</td>
      <td class="card">%T123CARD27CIN (%T123CARD27CIR)</td>
      <td class="rate">%T123C27CI1 / %T123C27CI2</td>
      <td class="date">%T123C27CI3</td>
     </tr>
     <tr>
      <td class="number">No.28</td>
      <td class="card">%T123CARD28CIN (%T123CARD28CIR)</td>
      <td class="rate">%T123C28CI1 / %T123C28CI2</td>
      <td class="date">%T123C28CI3</td>
     </tr>
     <tr>
      <td class="number">No.29</td>
      <td class="card">%T123CARD29CIN (%T123CARD29CIR)</td>
      <td class="rate">%T123C29CI1 / %T123C29CI2</td>
      <td class="date">%T123C29CI3</td>
     </tr>
     <tr>
      <td class="number">No.30</td>
      <td class="card">%T123CARD30CIN (%T123CARD30CIR)</td>
      <td class="rate">%T123C30CI1 / %T123C30CI2</td>
      <td class="date">%T123C30CI3</td>
     </tr>

     <tr>
      <td class="number">No.31</td>
      <td class="card">%T123CARD31CIN (%T123CARD31CIR)</td>
      <td class="rate">%T123C31CI1 / %T123C31CI2</td>
      <td class="date">%T123C31CI3</td>
     </tr>
     <tr>
      <td class="number">No.32</td>
      <td class="card">%T123CARD32CIN (%T123CARD32CIR)</td>
      <td class="rate">%T123C32CI1 / %T123C32CI2</td>
      <td class="date">%T123C32CI3</td>
     </tr>
     <tr>
      <td class="number">No.33</td>
      <td class="card">%T123CARD33CIN (%T123CARD33CIR)</td>
      <td class="rate">%T123C33CI1 / %T123C33CI2</td>
      <td class="date">%T123C33CI3</td>
     </tr>
     <tr>
      <td class="number">No.34</td>
      <td class="card">%T123CARD34CIN (%T123CARD34CIR)</td>
      <td class="rate">%T123C34CI1 / %T123C34CI2</td>
      <td class="date">%T123C34CI3</td>
     </tr>
     <tr>
      <td class="number">No.35</td>
      <td class="card">%T123CARD35CIN (%T123CARD35CIR)</td>
      <td class="rate">%T123C35CI1 / %T123C35CI2</td>
      <td class="date">%T123C35CI3</td>
     </tr>
     <tr>
      <td class="number">No.36</td>
      <td class="card">%T123CARD36CIN (%T123CARD36CIR)</td>
      <td class="rate">%T123C36CI1 / %T123C36CI2</td>
      <td class="date">%T123C36CI3</td>
     </tr>
     <tr>
      <td class="number">No.37</td>
      <td class="card">%T123CARD37CIN (%T123CARD37CIR)</td>
      <td class="rate">%T123C37CI1 / %T123C37CI2</td>
      <td class="date">%T123C37CI3</td>
     </tr>
     <tr>
      <td class="number">No.38</td>
      <td class="card">%T123CARD38CIN (%T123CARD38CIR)</td>
      <td class="rate">%T123C38CI1 / %T123C38CI2</td>
      <td class="date">%T123C38CI3</td>
     </tr>
     <tr>
      <td class="number">No.39</td>
      <td class="card">%T123CARD39CIN (%T123CARD39CIR)</td>
      <td class="rate">%T123C39CI1 / %T123C39CI2</td>
      <td class="date">%T123C39CI3</td>
     </tr>
     <tr>
      <td class="number">No.40</td>
      <td class="card">%T123CARD40CIN (%T123CARD40CIR)</td>
      <td class="rate">%T123C40CI1 / %T123C40CI2</td>
      <td class="date">%T123C40CI3</td>
     </tr>

     <tr>
      <td class="number">No.41</td>
      <td class="card">%T123CARD41CIN (%T123CARD41CIR)</td>
      <td class="rate">%T123C41CI1 / %T123C41CI2</td>
      <td class="date">%T123C41CI3</td>
     </tr>
     <tr>
      <td class="number">No.42</td>
      <td class="card">%T123CARD42CIN (%T123CARD42CIR)</td>
      <td class="rate">%T123C42CI1 / %T123C42CI2</td>
      <td class="date">%T123C42CI3</td>
     </tr>
     <tr>
      <td class="number">No.43</td>
      <td class="card">%T123CARD43CIN (%T123CARD43CIR)</td>
      <td class="rate">%T123C43CI1 / %T123C43CI2</td>
      <td class="date">%T123C43CI3</td>
     </tr>
     <tr>
      <td class="number">No.44</td>
      <td class="card">%T123CARD44CIN (%T123CARD44CIR)</td>
      <td class="rate">%T123C44CI1 / %T123C44CI2</td>
      <td class="date">%T123C44CI3</td>
     </tr>
     <tr>
      <td class="number">No.45</td>
      <td class="card">%T123CARD45CIN (%T123CARD45CIR)</td>
      <td class="rate">%T123C45CI1 / %T123C45CI2</td>
      <td class="date">%T123C45CI3</td>
     </tr>
     <tr>
      <td class="number">No.46</td>
      <td class="card">%T123CARD46CIN (%T123CARD46CIR)</td>
      <td class="rate">%T123C46CI1 / %T123C46CI2</td>
      <td class="date">%T123C46CI3</td>
     </tr>
     <tr>
      <td class="number">No.47</td>
      <td class="card">%T123CARD47CIN (%T123CARD47CIR)</td>
      <td class="rate">%T123C47CI1 / %T123C47CI2</td>
      <td class="date">%T123C47CI3</td>
     </tr>
     <tr>
      <td class="number">No.48</td>
      <td class="card">%T123CARD48CIN (%T123CARD48CIR)</td>
      <td class="rate">%T123C48CI1 / %T123C48CI2</td>
      <td class="date">%T123C48CI3</td>
     </tr>
     <tr>
      <td class="number">No.49</td>
      <td class="card">%T123CARD49CIN (%T123CARD49CIR)</td>
      <td class="rate">%T123C49CI1 / %T123C49CI2</td>
      <td class="date">%T123C49CI3</td>
     </tr>
     <tr>
      <td class="number">No.50</td>
      <td class="card">%T123CARD50CIN (%T123CARD50CIR)</td>
      <td class="rate">%T123C50CI1 / %T123C50CI2</td>
      <td class="date">%T123C50CI3</td>
     </tr>

     <tr>
      <td class="number">No.51</td>
      <td class="card">%T123CARD51CIN (%T123CARD51CIR)</td>
      <td class="rate">%T123C51CI1 / %T123C51CI2</td>
      <td class="date">%T123C51CI3</td>
     </tr>
     <tr>
      <td class="number">No.52</td>
      <td class="card">%T123CARD52CIN (%T123CARD52CIR)</td>
      <td class="rate">%T123C52CI1 / %T123C52CI2</td>
      <td class="date">%T123C52CI3</td>
     </tr>
     <tr>
      <td class="number">No.53</td>
      <td class="card">%T123CARD53CIN (%T123CARD53CIR)</td>
      <td class="rate">%T123C53CI1 / %T123C53CI2</td>
      <td class="date">%T123C53CI3</td>
     </tr>
     <tr>
      <td class="number">No.54</td>
      <td class="card">%T123CARD54CIN (%T123CARD54CIR)</td>
      <td class="rate">%T123C54CI1 / %T123C54CI2</td>
      <td class="date">%T123C54CI3</td>
     </tr>
     <tr>
      <td class="number">No.55</td>
      <td class="card">%T123CARD55CIN (%T123CARD55CIR)</td>
      <td class="rate">%T123C55CI1 / %T123C55CI2</td>
      <td class="date">%T123C55CI3</td>
     </tr>
     <tr>
      <td class="number">No.56</td>
      <td class="card">%T123CARD56CIN (%T123CARD56CIR)</td>
      <td class="rate">%T123C56CI1 / %T123C56CI2</td>
      <td class="date">%T123C56CI3</td>
     </tr>
     <tr>
      <td class="number">No.57</td>
      <td class="card">%T123CARD57CIN (%T123CARD57CIR)</td>
      <td class="rate">%T123C57CI1 / %T123C57CI2</td>
      <td class="date">%T123C57CI3</td>
     </tr>
     <tr>
      <td class="number">No.58</td>
      <td class="card">%T123CARD58CIN (%T123CARD58CIR)</td>
      <td class="rate">%T123C58CI1 / %T123C58CI2</td>
      <td class="date">%T123C58CI3</td>
     </tr>
     <tr>
      <td class="number">No.59</td>
      <td class="card">%T123CARD59CIN (%T123CARD59CIR)</td>
      <td class="rate">%T123C59CI1 / %T123C59CI2</td>
      <td class="date">%T123C59CI3</td>
     </tr>
     <tr>
      <td class="number">No.60</td>
      <td class="card">%T123CARD60CIN (%T123CARD60CIR)</td>
      <td class="rate">%T123C60CI1 / %T123C60CI2</td>
      <td class="date">%T123C60CI3</td>
     </tr>

     <tr>
      <td class="number">No.61</td>
      <td class="card">%T123CARD61CIN (%T123CARD61CIR)</td>
      <td class="rate">%T123C61CI1 / %T123C61CI2</td>
      <td class="date">%T123C61CI3</td>
     </tr>
     <tr>
      <td class="number">No.62</td>
      <td class="card">%T123CARD62CIN (%T123CARD62CIR)</td>
      <td class="rate">%T123C62CI1 / %T123C62CI2</td>
      <td class="date">%T123C62CI3</td>
     </tr>
     <tr>
      <td class="number">No.63</td>
      <td class="card">%T123CARD63CIN (%T123CARD63CIR)</td>
      <td class="rate">%T123C63CI1 / %T123C63CI2</td>
      <td class="date">%T123C63CI3</td>
     </tr>
     <tr>
      <td class="number">No.64</td>
      <td class="card">%T123CARD64CIN (%T123CARD64CIR)</td>
      <td class="rate">%T123C64CI1 / %T123C64CI2</td>
      <td class="date">%T123C64CI3</td>
     </tr>
    </tbody>
   </table>

   <table class="rate_per_chara">
    <caption id="Meiling">紅 美鈴</caption>
    <thead>
     <tr>
      <td class="number">No.</td>
      <td class="card">スペルカード名 (難易度)</td>
      <td class="rate">取得 / 挑戦</td>
      <td class="date">残り時間</td>
     </tr>
    </thead>
    <tfoot>
     <tr>
      <td colspan="2">合計</td>
      <td class="rate">%T123C00ML1 / %T123C00ML2</td>
      <td class="date">%T123C00ML3</td>
     </tr>
    </tfoot>
    <tbody>
     <tr>
      <td class="number">No.01</td>
      <td class="card">%T123CARD01MLN (%T123CARD01MLR)</td>
      <td class="rate">%T123C01ML1 / %T123C01ML2</td>
      <td class="date">%T123C01ML3</td>
     </tr>
     <tr>
      <td class="number">No.02</td>
      <td class="card">%T123CARD02MLN (%T123CARD02MLR)</td>
      <td class="rate">%T123C02ML1 / %T123C02ML2</td>
      <td class="date">%T123C02ML3</td>
     </tr>
     <tr>
      <td class="number">No.03</td>
      <td class="card">%T123CARD03MLN (%T123CARD03MLR)</td>
      <td class="rate">%T123C03ML1 / %T123C03ML2</td>
      <td class="date">%T123C03ML3</td>
     </tr>
     <tr>
      <td class="number">No.04</td>
      <td class="card">%T123CARD04MLN (%T123CARD04MLR)</td>
      <td class="rate">%T123C04ML1 / %T123C04ML2</td>
      <td class="date">%T123C04ML3</td>
     </tr>
     <tr>
      <td class="number">No.05</td>
      <td class="card">%T123CARD05MLN (%T123CARD05MLR)</td>
      <td class="rate">%T123C05ML1 / %T123C05ML2</td>
      <td class="date">%T123C05ML3</td>
     </tr>
     <tr>
      <td class="number">No.06</td>
      <td class="card">%T123CARD06MLN (%T123CARD06MLR)</td>
      <td class="rate">%T123C06ML1 / %T123C06ML2</td>
      <td class="date">%T123C06ML3</td>
     </tr>
     <tr>
      <td class="number">No.07</td>
      <td class="card">%T123CARD07MLN (%T123CARD07MLR)</td>
      <td class="rate">%T123C07ML1 / %T123C07ML2</td>
      <td class="date">%T123C07ML3</td>
     </tr>
     <tr>
      <td class="number">No.08</td>
      <td class="card">%T123CARD08MLN (%T123CARD08MLR)</td>
      <td class="rate">%T123C08ML1 / %T123C08ML2</td>
      <td class="date">%T123C08ML3</td>
     </tr>
     <tr>
      <td class="number">No.09</td>
      <td class="card">%T123CARD09MLN (%T123CARD09MLR)</td>
      <td class="rate">%T123C09ML1 / %T123C09ML2</td>
      <td class="date">%T123C09ML3</td>
     </tr>
     <tr>
      <td class="number">No.10</td>
      <td class="card">%T123CARD10MLN (%T123CARD10MLR)</td>
      <td class="rate">%T123C10ML1 / %T123C10ML2</td>
      <td class="date">%T123C10ML3</td>
     </tr>

     <tr>
      <td class="number">No.11</td>
      <td class="card">%T123CARD11MLN (%T123CARD11MLR)</td>
      <td class="rate">%T123C11ML1 / %T123C11ML2</td>
      <td class="date">%T123C11ML3</td>
     </tr>
     <tr>
      <td class="number">No.12</td>
      <td class="card">%T123CARD12MLN (%T123CARD12MLR)</td>
      <td class="rate">%T123C12ML1 / %T123C12ML2</td>
      <td class="date">%T123C12ML3</td>
     </tr>
     <tr>
      <td class="number">No.13</td>
      <td class="card">%T123CARD13MLN (%T123CARD13MLR)</td>
      <td class="rate">%T123C13ML1 / %T123C13ML2</td>
      <td class="date">%T123C13ML3</td>
     </tr>
     <tr>
      <td class="number">No.14</td>
      <td class="card">%T123CARD14MLN (%T123CARD14MLR)</td>
      <td class="rate">%T123C14ML1 / %T123C14ML2</td>
      <td class="date">%T123C14ML3</td>
     </tr>
     <tr>
      <td class="number">No.15</td>
      <td class="card">%T123CARD15MLN (%T123CARD15MLR)</td>
      <td class="rate">%T123C15ML1 / %T123C15ML2</td>
      <td class="date">%T123C15ML3</td>
     </tr>
     <tr>
      <td class="number">No.16</td>
      <td class="card">%T123CARD16MLN (%T123CARD16MLR)</td>
      <td class="rate">%T123C16ML1 / %T123C16ML2</td>
      <td class="date">%T123C16ML3</td>
     </tr>
     <tr>
      <td class="number">No.17</td>
      <td class="card">%T123CARD17MLN (%T123CARD17MLR)</td>
      <td class="rate">%T123C17ML1 / %T123C17ML2</td>
      <td class="date">%T123C17ML3</td>
     </tr>
     <tr>
      <td class="number">No.18</td>
      <td class="card">%T123CARD18MLN (%T123CARD18MLR)</td>
      <td class="rate">%T123C18ML1 / %T123C18ML2</td>
      <td class="date">%T123C18ML3</td>
     </tr>
     <tr>
      <td class="number">No.19</td>
      <td class="card">%T123CARD19MLN (%T123CARD19MLR)</td>
      <td class="rate">%T123C19ML1 / %T123C19ML2</td>
      <td class="date">%T123C19ML3</td>
     </tr>
     <tr>
      <td class="number">No.20</td>
      <td class="card">%T123CARD20MLN (%T123CARD20MLR)</td>
      <td class="rate">%T123C20ML1 / %T123C20ML2</td>
      <td class="date">%T123C20ML3</td>
     </tr>

     <tr>
      <td class="number">No.21</td>
      <td class="card">%T123CARD21MLN (%T123CARD21MLR)</td>
      <td class="rate">%T123C21ML1 / %T123C21ML2</td>
      <td class="date">%T123C21ML3</td>
     </tr>
     <tr>
      <td class="number">No.22</td>
      <td class="card">%T123CARD22MLN (%T123CARD22MLR)</td>
      <td class="rate">%T123C22ML1 / %T123C22ML2</td>
      <td class="date">%T123C22ML3</td>
     </tr>
     <tr>
      <td class="number">No.23</td>
      <td class="card">%T123CARD23MLN (%T123CARD23MLR)</td>
      <td class="rate">%T123C23ML1 / %T123C23ML2</td>
      <td class="date">%T123C23ML3</td>
     </tr>
     <tr>
      <td class="number">No.24</td>
      <td class="card">%T123CARD24MLN (%T123CARD24MLR)</td>
      <td class="rate">%T123C24ML1 / %T123C24ML2</td>
      <td class="date">%T123C24ML3</td>
     </tr>
     <tr>
      <td class="number">No.25</td>
      <td class="card">%T123CARD25MLN (%T123CARD25MLR)</td>
      <td class="rate">%T123C25ML1 / %T123C25ML2</td>
      <td class="date">%T123C25ML3</td>
     </tr>
     <tr>
      <td class="number">No.26</td>
      <td class="card">%T123CARD26MLN (%T123CARD26MLR)</td>
      <td class="rate">%T123C26ML1 / %T123C26ML2</td>
      <td class="date">%T123C26ML3</td>
     </tr>
     <tr>
      <td class="number">No.27</td>
      <td class="card">%T123CARD27MLN (%T123CARD27MLR)</td>
      <td class="rate">%T123C27ML1 / %T123C27ML2</td>
      <td class="date">%T123C27ML3</td>
     </tr>
     <tr>
      <td class="number">No.28</td>
      <td class="card">%T123CARD28MLN (%T123CARD28MLR)</td>
      <td class="rate">%T123C28ML1 / %T123C28ML2</td>
      <td class="date">%T123C28ML3</td>
     </tr>
     <tr>
      <td class="number">No.29</td>
      <td class="card">%T123CARD29MLN (%T123CARD29MLR)</td>
      <td class="rate">%T123C29ML1 / %T123C29ML2</td>
      <td class="date">%T123C29ML3</td>
     </tr>
     <tr>
      <td class="number">No.30</td>
      <td class="card">%T123CARD30MLN (%T123CARD30MLR)</td>
      <td class="rate">%T123C30ML1 / %T123C30ML2</td>
      <td class="date">%T123C30ML3</td>
     </tr>

     <tr>
      <td class="number">No.31</td>
      <td class="card">%T123CARD31MLN (%T123CARD31MLR)</td>
      <td class="rate">%T123C31ML1 / %T123C31ML2</td>
      <td class="date">%T123C31ML3</td>
     </tr>
     <tr>
      <td class="number">No.32</td>
      <td class="card">%T123CARD32MLN (%T123CARD32MLR)</td>
      <td class="rate">%T123C32ML1 / %T123C32ML2</td>
      <td class="date">%T123C32ML3</td>
     </tr>
     <tr>
      <td class="number">No.33</td>
      <td class="card">%T123CARD33MLN (%T123CARD33MLR)</td>
      <td class="rate">%T123C33ML1 / %T123C33ML2</td>
      <td class="date">%T123C33ML3</td>
     </tr>
     <tr>
      <td class="number">No.34</td>
      <td class="card">%T123CARD34MLN (%T123CARD34MLR)</td>
      <td class="rate">%T123C34ML1 / %T123C34ML2</td>
      <td class="date">%T123C34ML3</td>
     </tr>
     <tr>
      <td class="number">No.35</td>
      <td class="card">%T123CARD35MLN (%T123CARD35MLR)</td>
      <td class="rate">%T123C35ML1 / %T123C35ML2</td>
      <td class="date">%T123C35ML3</td>
     </tr>
     <tr>
      <td class="number">No.36</td>
      <td class="card">%T123CARD36MLN (%T123CARD36MLR)</td>
      <td class="rate">%T123C36ML1 / %T123C36ML2</td>
      <td class="date">%T123C36ML3</td>
     </tr>
     <tr>
      <td class="number">No.37</td>
      <td class="card">%T123CARD37MLN (%T123CARD37MLR)</td>
      <td class="rate">%T123C37ML1 / %T123C37ML2</td>
      <td class="date">%T123C37ML3</td>
     </tr>
     <tr>
      <td class="number">No.38</td>
      <td class="card">%T123CARD38MLN (%T123CARD38MLR)</td>
      <td class="rate">%T123C38ML1 / %T123C38ML2</td>
      <td class="date">%T123C38ML3</td>
     </tr>
     <tr>
      <td class="number">No.39</td>
      <td class="card">%T123CARD39MLN (%T123CARD39MLR)</td>
      <td class="rate">%T123C39ML1 / %T123C39ML2</td>
      <td class="date">%T123C39ML3</td>
     </tr>
     <tr>
      <td class="number">No.40</td>
      <td class="card">%T123CARD40MLN (%T123CARD40MLR)</td>
      <td class="rate">%T123C40ML1 / %T123C40ML2</td>
      <td class="date">%T123C40ML3</td>
     </tr>

     <tr>
      <td class="number">No.41</td>
      <td class="card">%T123CARD41MLN (%T123CARD41MLR)</td>
      <td class="rate">%T123C41ML1 / %T123C41ML2</td>
      <td class="date">%T123C41ML3</td>
     </tr>
     <tr>
      <td class="number">No.42</td>
      <td class="card">%T123CARD42MLN (%T123CARD42MLR)</td>
      <td class="rate">%T123C42ML1 / %T123C42ML2</td>
      <td class="date">%T123C42ML3</td>
     </tr>
     <tr>
      <td class="number">No.43</td>
      <td class="card">%T123CARD43MLN (%T123CARD43MLR)</td>
      <td class="rate">%T123C43ML1 / %T123C43ML2</td>
      <td class="date">%T123C43ML3</td>
     </tr>
     <tr>
      <td class="number">No.44</td>
      <td class="card">%T123CARD44MLN (%T123CARD44MLR)</td>
      <td class="rate">%T123C44ML1 / %T123C44ML2</td>
      <td class="date">%T123C44ML3</td>
     </tr>
     <tr>
      <td class="number">No.45</td>
      <td class="card">%T123CARD45MLN (%T123CARD45MLR)</td>
      <td class="rate">%T123C45ML1 / %T123C45ML2</td>
      <td class="date">%T123C45ML3</td>
     </tr>
     <tr>
      <td class="number">No.46</td>
      <td class="card">%T123CARD46MLN (%T123CARD46MLR)</td>
      <td class="rate">%T123C46ML1 / %T123C46ML2</td>
      <td class="date">%T123C46ML3</td>
     </tr>
     <tr>
      <td class="number">No.47</td>
      <td class="card">%T123CARD47MLN (%T123CARD47MLR)</td>
      <td class="rate">%T123C47ML1 / %T123C47ML2</td>
      <td class="date">%T123C47ML3</td>
     </tr>
     <tr>
      <td class="number">No.48</td>
      <td class="card">%T123CARD48MLN (%T123CARD48MLR)</td>
      <td class="rate">%T123C48ML1 / %T123C48ML2</td>
      <td class="date">%T123C48ML3</td>
     </tr>
     <tr>
      <td class="number">No.49</td>
      <td class="card">%T123CARD49MLN (%T123CARD49MLR)</td>
      <td class="rate">%T123C49ML1 / %T123C49ML2</td>
      <td class="date">%T123C49ML3</td>
     </tr>
     <tr>
      <td class="number">No.50</td>
      <td class="card">%T123CARD50MLN (%T123CARD50MLR)</td>
      <td class="rate">%T123C50ML1 / %T123C50ML2</td>
      <td class="date">%T123C50ML3</td>
     </tr>

     <tr>
      <td class="number">No.51</td>
      <td class="card">%T123CARD51MLN (%T123CARD51MLR)</td>
      <td class="rate">%T123C51ML1 / %T123C51ML2</td>
      <td class="date">%T123C51ML3</td>
     </tr>
     <tr>
      <td class="number">No.52</td>
      <td class="card">%T123CARD52MLN (%T123CARD52MLR)</td>
      <td class="rate">%T123C52ML1 / %T123C52ML2</td>
      <td class="date">%T123C52ML3</td>
     </tr>
     <tr>
      <td class="number">No.53</td>
      <td class="card">%T123CARD53MLN (%T123CARD53MLR)</td>
      <td class="rate">%T123C53ML1 / %T123C53ML2</td>
      <td class="date">%T123C53ML3</td>
     </tr>
     <tr>
      <td class="number">No.54</td>
      <td class="card">%T123CARD54MLN (%T123CARD54MLR)</td>
      <td class="rate">%T123C54ML1 / %T123C54ML2</td>
      <td class="date">%T123C54ML3</td>
     </tr>
     <tr>
      <td class="number">No.55</td>
      <td class="card">%T123CARD55MLN (%T123CARD55MLR)</td>
      <td class="rate">%T123C55ML1 / %T123C55ML2</td>
      <td class="date">%T123C55ML3</td>
     </tr>
     <tr>
      <td class="number">No.56</td>
      <td class="card">%T123CARD56MLN (%T123CARD56MLR)</td>
      <td class="rate">%T123C56ML1 / %T123C56ML2</td>
      <td class="date">%T123C56ML3</td>
     </tr>
     <tr>
      <td class="number">No.57</td>
      <td class="card">%T123CARD57MLN (%T123CARD57MLR)</td>
      <td class="rate">%T123C57ML1 / %T123C57ML2</td>
      <td class="date">%T123C57ML3</td>
     </tr>
     <tr>
      <td class="number">No.58</td>
      <td class="card">%T123CARD58MLN (%T123CARD58MLR)</td>
      <td class="rate">%T123C58ML1 / %T123C58ML2</td>
      <td class="date">%T123C58ML3</td>
     </tr>
     <tr>
      <td class="number">No.59</td>
      <td class="card">%T123CARD59MLN (%T123CARD59MLR)</td>
      <td class="rate">%T123C59ML1 / %T123C59ML2</td>
      <td class="date">%T123C59ML3</td>
     </tr>
     <tr>
      <td class="number">No.60</td>
      <td class="card">%T123CARD60MLN (%T123CARD60MLR)</td>
      <td class="rate">%T123C60ML1 / %T123C60ML2</td>
      <td class="date">%T123C60ML3</td>
     </tr>

     <tr>
      <td class="number">No.61</td>
      <td class="card">%T123CARD61MLN (%T123CARD61MLR)</td>
      <td class="rate">%T123C61ML1 / %T123C61ML2</td>
      <td class="date">%T123C61ML3</td>
     </tr>
     <tr>
      <td class="number">No.62</td>
      <td class="card">%T123CARD62MLN (%T123CARD62MLR)</td>
      <td class="rate">%T123C62ML1 / %T123C62ML2</td>
      <td class="date">%T123C62ML3</td>
     </tr>
     <tr>
      <td class="number">No.63</td>
      <td class="card">%T123CARD63MLN (%T123CARD63MLR)</td>
      <td class="rate">%T123C63ML1 / %T123C63ML2</td>
      <td class="date">%T123C63ML3</td>
     </tr>
     <tr>
      <td class="number">No.64</td>
      <td class="card">%T123CARD64MLN (%T123CARD64MLR)</td>
      <td class="rate">%T123C64ML1 / %T123C64ML2</td>
      <td class="date">%T123C64ML3</td>
     </tr>
    </tbody>
   </table>
  </div>

  <hr />

  <div class="section">
   <h2 id="CardGet">スペルカード蒐集率</h2>

   <table class="rate_per_level">
    <caption>スペルカード蒐集率（取得/挑戦/総数）</caption>
    <thead>
     <tr>
      <td></td>
      <td class="level">Easy</td>
      <td class="level">Normal</td>
      <td class="level">Hard</td>
      <td class="level">Lunatic</td>
      <td class="level">Total</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="character">東風谷 早苗</td>
      <td class="rate">%T123CRGESN1 / %T123CRGESN2 / 16</td>
      <td class="rate">%T123CRGNSN1 / %T123CRGNSN2 / 16</td>
      <td class="rate">%T123CRGHSN1 / %T123CRGHSN2 / 16</td>
      <td class="rate">%T123CRGLSN1 / %T123CRGLSN2 / 16</td>
      <td class="rate">%T123CRGTSN1 / %T123CRGTSN2 / 64</td>
     </tr>
     <tr>
      <td class="character">チルノ</td>
      <td class="rate">%T123CRGECI1 / %T123CRGECI2 / 16</td>
      <td class="rate">%T123CRGNCI1 / %T123CRGNCI2 / 16</td>
      <td class="rate">%T123CRGHCI1 / %T123CRGHCI2 / 16</td>
      <td class="rate">%T123CRGLCI1 / %T123CRGLCI2 / 16</td>
      <td class="rate">%T123CRGTCI1 / %T123CRGTCI2 / 64</td>
     </tr>
     <tr>
      <td class="character">紅 美鈴</td>
      <td class="rate">%T123CRGEML1 / %T123CRGEML2 / 16</td>
      <td class="rate">%T123CRGNML1 / %T123CRGNML2 / 16</td>
      <td class="rate">%T123CRGHML1 / %T123CRGHML2 / 16</td>
      <td class="rate">%T123CRGLML1 / %T123CRGLML2 / 16</td>
      <td class="rate">%T123CRGTML1 / %T123CRGTML2 / 64</td>
     </tr>
    </tbody>
   </table>
  </div>

  <hr />

  <div class="section">
   <p>
    Data output by <a href="http://www.colorless-sight.jp/touhou/ThSFC/">ThScoreFileConverter</a>.
<script type="text/javascript">
<!--
    document.write("Last updated: ", document.lastModified, ".");
//-->
</script>
   </p>
  </div>

 </body>
</html>
