<?xml version="1.0" encoding="Shift_JIS"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja">

 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=Shift_JIS" />
  <meta http-equiv="Content-Style-Type" content="text/css" />
  <meta http-equiv="Content-Script-Type" content="text/javascript" />
  <title>ダブルスポイラーベストショット一覧</title>
  <link rel="stylesheet" type="text/css" href="style.css" />
  <link rel="stylesheet" type="text/css" href="th125.css" />
<style type="text/css">
<!--
    table.bestshot { float: left; }
    table.bestshot td.bestshot { background-color: #eee; padding: 2px; width: 340px; height: 340px; }
    table.bestshot td.info { text-align: left; min-width: 200px; max-width: 200px; }
    table.bestshot td.info pre { display: inline; }
    table.bestshot td.info dt { font-weight: bold; }
    table.bestshot td.info dd { min-height: 1em; }
-->
</style>
 </head>

 <body>

  <h1>ダブルスポイラーベストショット一覧</h1>

  <hr />

  <div class="section">
   <p>
    <a href="th125score1.html">文 スコアデータ全般</a> /
    <a href="th125bestshot1.html">文 ベストショット一覧</a> /
    <a href="th125score2.html">はたて スコアデータ全般</a> /
    はたて ベストショット一覧<br />
    <a href="#Level1">Level 1</a> /
    <a href="#Level2">Level 2</a> /
    <a href="#Level3">Level 3</a> /
    <a href="#Level4">Level 4</a> /
    <a href="#Level5">Level 5</a> /
    <a href="#Level6">Level 6</a> /
    <a href="#Level7">Level 7</a> /
    <a href="#Level8">Level 8</a> /
    <a href="#Level9">Level 9</a> /
    <a href="#Level10">Level 10</a> /
    <a href="#Level11">Level 11</a> /
    <a href="#Level12">Level 12</a> /
    <a href="#LevelEX">Level EX</a> /
    <a href="#SPOILER">SPOILER</a>
   </p>
  </div>

  <hr />

  <div class="section">
   <h2 id="Level1">Level 1</h2>
   <table class="bestshot">
    <caption>1-1</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXH111" width="%T125SHOTEXH112" height="%T125SHOTEXH113" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARD112</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXH116</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXH115</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXH117</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>1-2</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXH121" width="%T125SHOTEXH122" height="%T125SHOTEXH123" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARD122</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXH126</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXH125</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXH127</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>1-3</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXH131" width="%T125SHOTEXH132" height="%T125SHOTEXH133" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARD132</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXH136</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXH135</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXH137</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>1-4</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXH141" width="%T125SHOTEXH142" height="%T125SHOTEXH143" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARD142</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXH146</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXH145</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXH147</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>1-5</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXH151" width="%T125SHOTEXH152" height="%T125SHOTEXH153" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARD152</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXH156</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXH155</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXH157</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>1-6</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXH161" width="%T125SHOTEXH162" height="%T125SHOTEXH163" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARD162</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXH166</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXH165</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXH167</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
  </div>

  <hr />

  <div class="section">
   <h2 id="Level2">Level 2</h2>
   <table class="bestshot">
    <caption>2-1</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXH211" width="%T125SHOTEXH212" height="%T125SHOTEXH213" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARD212</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXH216</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXH215</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXH217</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>2-2</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXH221" width="%T125SHOTEXH222" height="%T125SHOTEXH223" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARD222</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXH226</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXH225</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXH227</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>2-3</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXH231" width="%T125SHOTEXH232" height="%T125SHOTEXH233" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARD232</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXH236</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXH235</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXH237</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>2-4</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXH241" width="%T125SHOTEXH242" height="%T125SHOTEXH243" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARD242</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXH246</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXH245</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXH247</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>2-5</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXH251" width="%T125SHOTEXH252" height="%T125SHOTEXH253" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARD252</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXH256</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXH255</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXH257</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>2-6</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXH261" width="%T125SHOTEXH262" height="%T125SHOTEXH263" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARD262</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXH266</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXH265</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXH267</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
  </div>

  <hr />

  <div class="section">
   <h2 id="Level3">Level 3</h2>
   <table class="bestshot">
    <caption>3-1</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXH311" width="%T125SHOTEXH312" height="%T125SHOTEXH313" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARD312</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXH316</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXH315</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXH317</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>3-2</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXH321" width="%T125SHOTEXH322" height="%T125SHOTEXH323" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARD322</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXH326</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXH325</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXH327</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>3-3</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXH331" width="%T125SHOTEXH332" height="%T125SHOTEXH333" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARD332</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXH336</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXH335</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXH337</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>3-4</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXH341" width="%T125SHOTEXH342" height="%T125SHOTEXH343" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARD342</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXH346</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXH345</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXH347</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>3-5</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXH351" width="%T125SHOTEXH352" height="%T125SHOTEXH353" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARD352</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXH356</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXH355</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXH357</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>3-6</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXH361" width="%T125SHOTEXH362" height="%T125SHOTEXH363" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARD362</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXH366</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXH365</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXH367</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>3-7</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXH371" width="%T125SHOTEXH372" height="%T125SHOTEXH373" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARD372</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXH376</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXH375</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXH377</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>3-8</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXH381" width="%T125SHOTEXH382" height="%T125SHOTEXH383" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARD382</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXH386</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXH385</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXH387</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
  </div>

  <hr />

  <div class="section">
   <h2 id="Level4">Level 4</h2>
   <table class="bestshot">
    <caption>4-1</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXH411" width="%T125SHOTEXH412" height="%T125SHOTEXH413" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARD412</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXH416</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXH415</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXH417</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>4-2</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXH421" width="%T125SHOTEXH422" height="%T125SHOTEXH423" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARD422</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXH426</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXH425</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXH427</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>4-3</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXH431" width="%T125SHOTEXH432" height="%T125SHOTEXH433" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARD432</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXH436</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXH435</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXH437</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>4-4</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXH441" width="%T125SHOTEXH442" height="%T125SHOTEXH443" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARD442</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXH446</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXH445</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXH447</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>4-5</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXH451" width="%T125SHOTEXH452" height="%T125SHOTEXH453" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARD452</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXH456</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXH455</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXH457</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>4-6</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXH461" width="%T125SHOTEXH462" height="%T125SHOTEXH463" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARD462</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXH466</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXH465</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXH467</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>4-7</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXH471" width="%T125SHOTEXH472" height="%T125SHOTEXH473" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARD472</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXH476</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXH475</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXH477</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
  </div>

  <hr />

  <div class="section">
   <h2 id="Level5">Level 5</h2>
   <table class="bestshot">
    <caption>5-1</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXH511" width="%T125SHOTEXH512" height="%T125SHOTEXH513" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARD512</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXH516</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXH515</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXH517</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>5-2</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXH521" width="%T125SHOTEXH522" height="%T125SHOTEXH523" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARD522</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXH526</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXH525</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXH527</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>5-3</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXH531" width="%T125SHOTEXH532" height="%T125SHOTEXH533" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARD532</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXH536</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXH535</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXH537</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>5-4</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXH541" width="%T125SHOTEXH542" height="%T125SHOTEXH543" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARD542</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXH546</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXH545</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXH547</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>5-5</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXH551" width="%T125SHOTEXH552" height="%T125SHOTEXH553" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARD552</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXH556</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXH555</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXH557</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>5-6</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXH561" width="%T125SHOTEXH562" height="%T125SHOTEXH563" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARD562</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXH566</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXH565</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXH567</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>5-7</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXH571" width="%T125SHOTEXH572" height="%T125SHOTEXH573" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARD572</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXH576</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXH575</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXH577</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>5-8</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXH581" width="%T125SHOTEXH582" height="%T125SHOTEXH583" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARD582</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXH586</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXH585</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXH587</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
  </div>

  <hr />

  <div class="section">
   <h2 id="Level6">Level 6</h2>
   <table class="bestshot">
    <caption>6-1</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXH611" width="%T125SHOTEXH612" height="%T125SHOTEXH613" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARD612</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXH616</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXH615</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXH617</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>6-2</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXH621" width="%T125SHOTEXH622" height="%T125SHOTEXH623" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARD622</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXH626</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXH625</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXH627</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>6-3</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXH631" width="%T125SHOTEXH632" height="%T125SHOTEXH633" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARD632</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXH636</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXH635</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXH637</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>6-4</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXH641" width="%T125SHOTEXH642" height="%T125SHOTEXH643" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARD642</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXH646</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXH645</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXH647</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>6-5</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXH651" width="%T125SHOTEXH652" height="%T125SHOTEXH653" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARD652</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXH656</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXH655</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXH657</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>6-6</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXH661" width="%T125SHOTEXH662" height="%T125SHOTEXH663" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARD662</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXH666</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXH665</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXH667</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>6-7</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXH671" width="%T125SHOTEXH672" height="%T125SHOTEXH673" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARD672</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXH676</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXH675</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXH677</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>6-8</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXH681" width="%T125SHOTEXH682" height="%T125SHOTEXH683" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARD682</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXH686</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXH685</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXH687</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
  </div>

  <hr />

  <div class="section">
   <h2 id="Level7">Level 7</h2>
   <table class="bestshot">
    <caption>7-1</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXH711" width="%T125SHOTEXH712" height="%T125SHOTEXH713" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARD712</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXH716</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXH715</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXH717</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>7-2</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXH721" width="%T125SHOTEXH722" height="%T125SHOTEXH723" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARD722</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXH726</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXH725</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXH727</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>7-3</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXH731" width="%T125SHOTEXH732" height="%T125SHOTEXH733" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARD732</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXH736</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXH735</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXH737</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>7-4</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXH741" width="%T125SHOTEXH742" height="%T125SHOTEXH743" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARD742</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXH746</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXH745</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXH747</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>7-5</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXH751" width="%T125SHOTEXH752" height="%T125SHOTEXH753" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARD752</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXH756</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXH755</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXH757</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>7-6</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXH761" width="%T125SHOTEXH762" height="%T125SHOTEXH763" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARD762</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXH766</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXH765</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXH767</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>7-7</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXH771" width="%T125SHOTEXH772" height="%T125SHOTEXH773" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARD772</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXH776</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXH775</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXH777</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
  </div>

  <hr />

  <div class="section">
   <h2 id="Level8">Level 8</h2>
   <table class="bestshot">
    <caption>8-1</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXH811" width="%T125SHOTEXH812" height="%T125SHOTEXH813" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARD812</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXH816</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXH815</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXH817</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>8-2</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXH821" width="%T125SHOTEXH822" height="%T125SHOTEXH823" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARD822</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXH826</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXH825</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXH827</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>8-3</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXH831" width="%T125SHOTEXH832" height="%T125SHOTEXH833" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARD832</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXH836</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXH835</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXH837</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>8-4</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXH841" width="%T125SHOTEXH842" height="%T125SHOTEXH843" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARD842</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXH846</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXH845</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXH847</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>8-5</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXH851" width="%T125SHOTEXH852" height="%T125SHOTEXH853" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARD852</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXH856</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXH855</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXH857</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>8-6</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXH861" width="%T125SHOTEXH862" height="%T125SHOTEXH863" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARD862</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXH866</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXH865</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXH867</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>8-7</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXH871" width="%T125SHOTEXH872" height="%T125SHOTEXH873" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARD872</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXH876</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXH875</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXH877</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>8-8</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXH881" width="%T125SHOTEXH882" height="%T125SHOTEXH883" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARD882</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXH886</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXH885</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXH887</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
  </div>

  <hr />

  <div class="section">
   <h2 id="Level9">Level 9</h2>
   <table class="bestshot">
    <caption>9-1</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXH911" width="%T125SHOTEXH912" height="%T125SHOTEXH913" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARD912</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXH916</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXH915</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXH917</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>9-2</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXH921" width="%T125SHOTEXH922" height="%T125SHOTEXH923" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARD922</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXH926</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXH925</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXH927</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>9-3</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXH931" width="%T125SHOTEXH932" height="%T125SHOTEXH933" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARD932</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXH936</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXH935</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXH937</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>9-4</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXH941" width="%T125SHOTEXH942" height="%T125SHOTEXH943" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARD942</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXH946</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXH945</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXH947</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>9-5</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXH951" width="%T125SHOTEXH952" height="%T125SHOTEXH953" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARD952</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXH956</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXH955</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXH957</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>9-6</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXH961" width="%T125SHOTEXH962" height="%T125SHOTEXH963" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARD962</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXH966</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXH965</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXH967</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>9-7</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXH971" width="%T125SHOTEXH972" height="%T125SHOTEXH973" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARD972</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXH976</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXH975</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXH977</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>9-8</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXH981" width="%T125SHOTEXH982" height="%T125SHOTEXH983" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARD982</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXH986</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXH985</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXH987</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
  </div>

  <hr />

  <div class="section">
   <h2 id="Level10">Level 10</h2>
   <table class="bestshot">
    <caption>10-1</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXHA11" width="%T125SHOTEXHA12" height="%T125SHOTEXHA13" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARDA12</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXHA16</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXHA15</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXHA17</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>10-2</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXHA21" width="%T125SHOTEXHA22" height="%T125SHOTEXHA23" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARDA22</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXHA26</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXHA25</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXHA27</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>10-3</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXHA31" width="%T125SHOTEXHA32" height="%T125SHOTEXHA33" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARDA32</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXHA36</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXHA35</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXHA37</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>10-4</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXHA41" width="%T125SHOTEXHA42" height="%T125SHOTEXHA43" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARDA42</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXHA46</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXHA45</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXHA47</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>10-5</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXHA51" width="%T125SHOTEXHA52" height="%T125SHOTEXHA53" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARDA52</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXHA56</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXHA55</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXHA57</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>10-6</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXHA61" width="%T125SHOTEXHA62" height="%T125SHOTEXHA63" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARDA62</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXHA66</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXHA65</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXHA67</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>10-7</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXHA71" width="%T125SHOTEXHA72" height="%T125SHOTEXHA73" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARDA72</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXHA76</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXHA75</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXHA77</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>10-8</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXHA81" width="%T125SHOTEXHA82" height="%T125SHOTEXHA83" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARDA82</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXHA86</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXHA85</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXHA87</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
  </div>

  <hr />

  <div class="section">
   <h2 id="Level11">Level 11</h2>
   <table class="bestshot">
    <caption>11-1</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXHB11" width="%T125SHOTEXHB12" height="%T125SHOTEXHB13" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARDB12</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXHB16</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXHB15</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXHB17</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>11-2</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXHB21" width="%T125SHOTEXHB22" height="%T125SHOTEXHB23" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARDB22</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXHB26</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXHB25</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXHB27</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>11-3</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXHB31" width="%T125SHOTEXHB32" height="%T125SHOTEXHB33" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARDB32</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXHB36</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXHB35</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXHB37</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>11-4</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXHB41" width="%T125SHOTEXHB42" height="%T125SHOTEXHB43" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARDB42</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXHB46</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXHB45</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXHB47</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>11-5</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXHB51" width="%T125SHOTEXHB52" height="%T125SHOTEXHB53" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARDB52</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXHB56</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXHB55</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXHB57</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>11-6</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXHB61" width="%T125SHOTEXHB62" height="%T125SHOTEXHB63" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARDB62</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXHB66</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXHB65</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXHB67</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>11-7</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXHB71" width="%T125SHOTEXHB72" height="%T125SHOTEXHB73" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARDB72</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXHB76</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXHB75</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXHB77</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>11-8</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXHB81" width="%T125SHOTEXHB82" height="%T125SHOTEXHB83" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARDB82</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXHB86</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXHB85</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXHB87</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
  </div>

  <hr />

  <div class="section">
   <h2 id="Level12">Level 12</h2>
   <table class="bestshot">
    <caption>12-1</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXHC11" width="%T125SHOTEXHC12" height="%T125SHOTEXHC13" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARDC12</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXHC16</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXHC15</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXHC17</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>12-2</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXHC21" width="%T125SHOTEXHC22" height="%T125SHOTEXHC23" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARDC22</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXHC26</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXHC25</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXHC27</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>12-3</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXHC31" width="%T125SHOTEXHC32" height="%T125SHOTEXHC33" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARDC32</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXHC36</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXHC35</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXHC37</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>12-4</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXHC41" width="%T125SHOTEXHC42" height="%T125SHOTEXHC43" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARDC42</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXHC46</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXHC45</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXHC47</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>12-5</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXHC51" width="%T125SHOTEXHC52" height="%T125SHOTEXHC53" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARDC52</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXHC56</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXHC55</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXHC57</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>12-6</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXHC61" width="%T125SHOTEXHC62" height="%T125SHOTEXHC63" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARDC62</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXHC66</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXHC65</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXHC67</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>12-7</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXHC71" width="%T125SHOTEXHC72" height="%T125SHOTEXHC73" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARDC72</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXHC76</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXHC75</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXHC77</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>12-8</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXHC81" width="%T125SHOTEXHC82" height="%T125SHOTEXHC83" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARDC82</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXHC86</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXHC85</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXHC87</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
  </div>

  <hr />

  <div class="section">
   <h2 id="LevelEX">Level EX</h2>
   <table class="bestshot">
    <caption>EX-1</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXHX11" width="%T125SHOTEXHX12" height="%T125SHOTEXHX13" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARDX12</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXHX16</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXHX15</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXHX17</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>EX-2</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXHX21" width="%T125SHOTEXHX22" height="%T125SHOTEXHX23" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARDX22</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXHX26</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXHX25</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXHX27</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>EX-3</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXHX31" width="%T125SHOTEXHX32" height="%T125SHOTEXHX33" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARDX32</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXHX36</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXHX35</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXHX37</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>EX-4</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXHX41" width="%T125SHOTEXHX42" height="%T125SHOTEXHX43" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARDX42</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXHX46</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXHX45</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXHX47</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>EX-5</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXHX51" width="%T125SHOTEXHX52" height="%T125SHOTEXHX53" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARDX52</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXHX56</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXHX55</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXHX57</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>EX-6</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXHX61" width="%T125SHOTEXHX62" height="%T125SHOTEXHX63" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARDX62</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXHX66</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXHX65</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXHX67</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>EX-7</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXHX71" width="%T125SHOTEXHX72" height="%T125SHOTEXHX73" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARDX72</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXHX76</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXHX75</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXHX77</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>EX-8</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXHX81" width="%T125SHOTEXHX82" height="%T125SHOTEXHX83" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARDX82</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXHX86</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXHX85</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXHX87</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>EX-9</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXHX91" width="%T125SHOTEXHX92" height="%T125SHOTEXHX93" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARDX92</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXHX96</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXHX95</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXHX97</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
  </div>

  <hr />

  <div class="section">
   <h2 id="SPOILER">SPOILER</h2>
   <table class="bestshot">
    <caption>??-5</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXHS51" width="%T125SHOTEXHS52" height="%T125SHOTEXHS53" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARDS52</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXHS56</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXHS55</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXHS57</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>??-6</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXHS61" width="%T125SHOTEXHS62" height="%T125SHOTEXHS63" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARDS62</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXHS66</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXHS65</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXHS67</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>??-7</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXHS71" width="%T125SHOTEXHS72" height="%T125SHOTEXHS73" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARDS72</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXHS76</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXHS75</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXHS77</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>??-8</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXHS81" width="%T125SHOTEXHS82" height="%T125SHOTEXHS83" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARDS82</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXHS86</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXHS85</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXHS87</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>??-9</caption>
    <tbody>
     <tr>
      <td class="bestshot">
       <img src="%T125SHOTEXHS91" width="%T125SHOTEXHS92" height="%T125SHOTEXHS93" />
      </td>
      <td class="info">
       <dl>
        <dt>スペルカード名</dt><dd>%T125CARDS92</dd>
        <dt>撮影日時</dt><dd>%T125SHOTEXHS96</dd>
        <dt>処理落ち率</dt><dd>%T125SHOTEXHS95</dd>
        <dt>詳細情報</dt><dd><pre>%T125SHOTEXHS97</pre></dd>
       </dl>
      </td>
     </tr>
    </tbody>
   </table>
  </div>

  <hr />

  <div class="section">
   <p>
    Data output by <a href="http://www.colorless-sight.jp/touhou/ThSFC/">ThScoreFileConverter</a>.
<script type="text/javascript">
<!--
    document.write("Last updated: ", document.lastModified, ".");
//-->
</script>
   </p>
  </div>

 </body>
</html>
