<?xml version="1.0" encoding="Shift_JIS"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja">

 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=Shift_JIS" />
  <meta http-equiv="Content-Style-Type" content="text/css" />
  <meta http-equiv="Content-Script-Type" content="text/javascript" />
  <title>東方心綺楼スコアデータ</title>
  <link rel="stylesheet" type="text/css" href="style.css" />
  <link rel="stylesheet" type="text/css" href="th135.css" />
<style type="text/css">
<!--
    table.clear td.clear { min-width: 70px; }
-->
</style>
 </head>

 <body>

  <h1>東方心綺楼スコアデータ</h1>

  <hr />

  <div class="section">
   <table class="clear">
    <caption>クリア達成度</caption>
    <thead>
     <tr>
      <td class="character">Character</td>
      <td class="level">Easy</td>
      <td class="level">Normal</td>
      <td class="level">Hard</td>
      <td class="level">Lunatic</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="character">博麗 霊夢</td>
      <td class="clear">%T135CLEARERM</td>
      <td class="clear">%T135CLEARNRM</td>
      <td class="clear">%T135CLEARHRM</td>
      <td class="clear">%T135CLEARLRM</td>
     </tr>
     <tr>
      <td class="character">霧雨 魔理沙</td>
      <td class="clear">%T135CLEAREMR</td>
      <td class="clear">%T135CLEARNMR</td>
      <td class="clear">%T135CLEARHMR</td>
      <td class="clear">%T135CLEARLMR</td>
     </tr>
     <tr>
      <td class="character">雲居 一輪 &amp; 雲山</td>
      <td class="clear">%T135CLEAREIU</td>
      <td class="clear">%T135CLEARNIU</td>
      <td class="clear">%T135CLEARHIU</td>
      <td class="clear">%T135CLEARLIU</td>
     </tr>
     <tr>
      <td class="character">聖 白蓮</td>
      <td class="clear">%T135CLEAREBY</td>
      <td class="clear">%T135CLEARNBY</td>
      <td class="clear">%T135CLEARHBY</td>
      <td class="clear">%T135CLEARLBY</td>
     </tr>
     <tr>
      <td class="character">物部 布都</td>
      <td class="clear">%T135CLEAREFT</td>
      <td class="clear">%T135CLEARNFT</td>
      <td class="clear">%T135CLEARHFT</td>
      <td class="clear">%T135CLEARLFT</td>
     </tr>
     <tr>
      <td class="character">豊聡耳 神子</td>
      <td class="clear">%T135CLEAREMK</td>
      <td class="clear">%T135CLEARNMK</td>
      <td class="clear">%T135CLEARHMK</td>
      <td class="clear">%T135CLEARLMK</td>
     </tr>
     <tr>
      <td class="character">河城 にとり</td>
      <td class="clear">%T135CLEARENT</td>
      <td class="clear">%T135CLEARNNT</td>
      <td class="clear">%T135CLEARHNT</td>
      <td class="clear">%T135CLEARLNT</td>
     </tr>
     <tr>
      <td class="character">古明地 こいし</td>
      <td class="clear">%T135CLEAREKO</td>
      <td class="clear">%T135CLEARNKO</td>
      <td class="clear">%T135CLEARHKO</td>
      <td class="clear">%T135CLEARLKO</td>
     </tr>
     <tr>
      <td class="character">二ッ岩 マミゾウ</td>
      <td class="clear">%T135CLEAREMM</td>
      <td class="clear">%T135CLEARNMM</td>
      <td class="clear">%T135CLEARHMM</td>
      <td class="clear">%T135CLEARLMM</td>
     </tr>
     <tr>
      <td class="character">秦 こころ</td>
      <td class="clear">%T135CLEAREKK</td>
      <td class="clear">%T135CLEARNKK</td>
      <td class="clear">%T135CLEARHKK</td>
      <td class="clear">%T135CLEARLKK</td>
     </tr>
    </tbody>
   </table>
  </div>

  <hr />

  <div class="section">
   <p>
    Data output by <a href="http://www.colorless-sight.jp/touhou/ThSFC/">ThScoreFileConverter</a>.
<script type="text/javascript">
<!--
    document.write("Last updated: ", document.lastModified, ".");
//-->
</script>
   </p>
  </div>

 </body>
</html>
