<?xml version="1.0" encoding="Shift_JIS"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja">

 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=Shift_JIS" />
  <meta http-equiv="Content-Stype-Type" content="text/css" />
  <meta http-equiv="Content-Script-Type" content="text/javascript" />
  <title>東方神霊廟スペルカードデータ</title>
  <link rel="stylesheet" type="text/css" href="style.css" />
  <link rel="stylesheet" type="text/css" href="th13.css" />
<style type="text/css">
<!--
    table.rate_per_card td.number { min-width: 40px; }
    table.rate_per_card td.card { min-width: 180px; }
    table.rate_per_card td.rate { min-width: 80px; }
    table.rate_per_level td.rate { min-width: 100px; }
    table.rate_per_stage td.rate { min-width: 100px; }
-->
</style>
 </head>

 <body>
  <h1>東方神霊廟スペルカードデータ</h1>

  <hr />

  <div class="section">
   <p>
    <a href="th13score1.html">スコアデータ全般</a> /
    <a href="th13score2.html">個別ランキング</a> /
    <a href="th13score3.html">プラクティス</a> /
    御札戦歴（ゲーム本編） /
    <a href="th13card2.html">御札戦歴（スペルプラクティス）</a><br />
    <a href="#rate_per_card">スペルカード別</a> /
    <a href="#rate_per_level">難易度別</a> /
    <a href="#rate_per_stage">ステージ別</a>
   </p>
  </div>

  <hr />

  <div class="section">
   <h2 id="Card">御札戦歴（ゲーム本編）</h2>

   <table class="rate_per_card">
    <caption id="rate_per_card">スペルカード別取得率（取得回数 / 遭遇回数）</caption>
    <thead>
     <tr>
      <td class="number">No.</td>
      <td class="card">スペルカード名<br />（難易度）</td>
      <td class="character">全主人公合計</td>
      <td class="character">博麗 霊夢</td>
      <td class="character">霧雨 魔理沙</td>
      <td class="character">東風谷 早苗</td>
      <td class="character">魂魄 妖夢</td>
     </tr>
    </thead>
    <tfoot>
     <tr>
      <td colspan="2">Total</td>
      <td class="rate">%T13CS000TL1 / %T13CS000TL2</td>
      <td class="rate">%T13CS000RM1 / %T13CS000RM2</td>
      <td class="rate">%T13CS000MR1 / %T13CS000MR2</td>
      <td class="rate">%T13CS000SN1 / %T13CS000SN2</td>
      <td class="rate">%T13CS000YM1 / %T13CS000YM2</td>
     </tr>
    </tfoot>

    <tbody>
     <tr>
      <td class="number">No.01</td>
      <td class="card">%T13CARD001N<br />(%T13CARD001R)</td>
      <td class="rate">%T13CS001TL1 / %T13CS001TL2</td>
      <td class="rate">%T13CS001RM1 / %T13CS001RM2</td>
      <td class="rate">%T13CS001MR1 / %T13CS001MR2</td>
      <td class="rate">%T13CS001SN1 / %T13CS001SN2</td>
      <td class="rate">%T13CS001YM1 / %T13CS001YM2</td>
     </tr>
     <tr>
      <td class="number">No.02</td>
      <td class="card">%T13CARD002N<br />(%T13CARD002R)</td>
      <td class="rate">%T13CS002TL1 / %T13CS002TL2</td>
      <td class="rate">%T13CS002RM1 / %T13CS002RM2</td>
      <td class="rate">%T13CS002MR1 / %T13CS002MR2</td>
      <td class="rate">%T13CS002SN1 / %T13CS002SN2</td>
      <td class="rate">%T13CS002YM1 / %T13CS002YM2</td>
     </tr>
     <tr>
      <td class="number">No.03</td>
      <td class="card">%T13CARD003N<br />(%T13CARD003R)</td>
      <td class="rate">%T13CS003TL1 / %T13CS003TL2</td>
      <td class="rate">%T13CS003RM1 / %T13CS003RM2</td>
      <td class="rate">%T13CS003MR1 / %T13CS003MR2</td>
      <td class="rate">%T13CS003SN1 / %T13CS003SN2</td>
      <td class="rate">%T13CS003YM1 / %T13CS003YM2</td>
     </tr>
     <tr>
      <td class="number">No.04</td>
      <td class="card">%T13CARD004N<br />(%T13CARD004R)</td>
      <td class="rate">%T13CS004TL1 / %T13CS004TL2</td>
      <td class="rate">%T13CS004RM1 / %T13CS004RM2</td>
      <td class="rate">%T13CS004MR1 / %T13CS004MR2</td>
      <td class="rate">%T13CS004SN1 / %T13CS004SN2</td>
      <td class="rate">%T13CS004YM1 / %T13CS004YM2</td>
     </tr>
     <tr>
      <td class="number">No.05</td>
      <td class="card">%T13CARD005N<br />(%T13CARD005R)</td>
      <td class="rate">%T13CS005TL1 / %T13CS005TL2</td>
      <td class="rate">%T13CS005RM1 / %T13CS005RM2</td>
      <td class="rate">%T13CS005MR1 / %T13CS005MR2</td>
      <td class="rate">%T13CS005SN1 / %T13CS005SN2</td>
      <td class="rate">%T13CS005YM1 / %T13CS005YM2</td>
     </tr>
     <tr>
      <td class="number">No.06</td>
      <td class="card">%T13CARD006N<br />(%T13CARD006R)</td>
      <td class="rate">%T13CS006TL1 / %T13CS006TL2</td>
      <td class="rate">%T13CS006RM1 / %T13CS006RM2</td>
      <td class="rate">%T13CS006MR1 / %T13CS006MR2</td>
      <td class="rate">%T13CS006SN1 / %T13CS006SN2</td>
      <td class="rate">%T13CS006YM1 / %T13CS006YM2</td>
     </tr>
     <tr>
      <td class="number">No.07</td>
      <td class="card">%T13CARD007N<br />(%T13CARD007R)</td>
      <td class="rate">%T13CS007TL1 / %T13CS007TL2</td>
      <td class="rate">%T13CS007RM1 / %T13CS007RM2</td>
      <td class="rate">%T13CS007MR1 / %T13CS007MR2</td>
      <td class="rate">%T13CS007SN1 / %T13CS007SN2</td>
      <td class="rate">%T13CS007YM1 / %T13CS007YM2</td>
     </tr>
     <tr>
      <td class="number">No.08</td>
      <td class="card">%T13CARD008N<br />(%T13CARD008R)</td>
      <td class="rate">%T13CS008TL1 / %T13CS008TL2</td>
      <td class="rate">%T13CS008RM1 / %T13CS008RM2</td>
      <td class="rate">%T13CS008MR1 / %T13CS008MR2</td>
      <td class="rate">%T13CS008SN1 / %T13CS008SN2</td>
      <td class="rate">%T13CS008YM1 / %T13CS008YM2</td>
     </tr>
     <tr>
      <td class="number">No.09</td>
      <td class="card">%T13CARD009N<br />(%T13CARD009R)</td>
      <td class="rate">%T13CS009TL1 / %T13CS009TL2</td>
      <td class="rate">%T13CS009RM1 / %T13CS009RM2</td>
      <td class="rate">%T13CS009MR1 / %T13CS009MR2</td>
      <td class="rate">%T13CS009SN1 / %T13CS009SN2</td>
      <td class="rate">%T13CS009YM1 / %T13CS009YM2</td>
     </tr>
     <tr>
      <td class="number">No.10</td>
      <td class="card">%T13CARD010N<br />(%T13CARD010R)</td>
      <td class="rate">%T13CS010TL1 / %T13CS010TL2</td>
      <td class="rate">%T13CS010RM1 / %T13CS010RM2</td>
      <td class="rate">%T13CS010MR1 / %T13CS010MR2</td>
      <td class="rate">%T13CS010SN1 / %T13CS010SN2</td>
      <td class="rate">%T13CS010YM1 / %T13CS010YM2</td>
     </tr>

     <tr>
      <td class="number">No.11</td>
      <td class="card">%T13CARD011N<br />(%T13CARD011R)</td>
      <td class="rate">%T13CS011TL1 / %T13CS011TL2</td>
      <td class="rate">%T13CS011RM1 / %T13CS011RM2</td>
      <td class="rate">%T13CS011MR1 / %T13CS011MR2</td>
      <td class="rate">%T13CS011SN1 / %T13CS011SN2</td>
      <td class="rate">%T13CS011YM1 / %T13CS011YM2</td>
     </tr>
     <tr>
      <td class="number">No.12</td>
      <td class="card">%T13CARD012N<br />(%T13CARD012R)</td>
      <td class="rate">%T13CS012TL1 / %T13CS012TL2</td>
      <td class="rate">%T13CS012RM1 / %T13CS012RM2</td>
      <td class="rate">%T13CS012MR1 / %T13CS012MR2</td>
      <td class="rate">%T13CS012SN1 / %T13CS012SN2</td>
      <td class="rate">%T13CS012YM1 / %T13CS012YM2</td>
     </tr>
     <tr>
      <td class="number">No.13</td>
      <td class="card">%T13CARD013N<br />(%T13CARD013R)</td>
      <td class="rate">%T13CS013TL1 / %T13CS013TL2</td>
      <td class="rate">%T13CS013RM1 / %T13CS013RM2</td>
      <td class="rate">%T13CS013MR1 / %T13CS013MR2</td>
      <td class="rate">%T13CS013SN1 / %T13CS013SN2</td>
      <td class="rate">%T13CS013YM1 / %T13CS013YM2</td>
     </tr>
     <tr>
      <td class="number">No.14</td>
      <td class="card">%T13CARD014N<br />(%T13CARD014R)</td>
      <td class="rate">%T13CS014TL1 / %T13CS014TL2</td>
      <td class="rate">%T13CS014RM1 / %T13CS014RM2</td>
      <td class="rate">%T13CS014MR1 / %T13CS014MR2</td>
      <td class="rate">%T13CS014SN1 / %T13CS014SN2</td>
      <td class="rate">%T13CS014YM1 / %T13CS014YM2</td>
     </tr>
     <tr>
      <td class="number">No.15</td>
      <td class="card">%T13CARD015N<br />(%T13CARD015R)</td>
      <td class="rate">%T13CS015TL1 / %T13CS015TL2</td>
      <td class="rate">%T13CS015RM1 / %T13CS015RM2</td>
      <td class="rate">%T13CS015MR1 / %T13CS015MR2</td>
      <td class="rate">%T13CS015SN1 / %T13CS015SN2</td>
      <td class="rate">%T13CS015YM1 / %T13CS015YM2</td>
     </tr>
     <tr>
      <td class="number">No.16</td>
      <td class="card">%T13CARD016N<br />(%T13CARD016R)</td>
      <td class="rate">%T13CS016TL1 / %T13CS016TL2</td>
      <td class="rate">%T13CS016RM1 / %T13CS016RM2</td>
      <td class="rate">%T13CS016MR1 / %T13CS016MR2</td>
      <td class="rate">%T13CS016SN1 / %T13CS016SN2</td>
      <td class="rate">%T13CS016YM1 / %T13CS016YM2</td>
     </tr>
     <tr>
      <td class="number">No.17</td>
      <td class="card">%T13CARD017N<br />(%T13CARD017R)</td>
      <td class="rate">%T13CS017TL1 / %T13CS017TL2</td>
      <td class="rate">%T13CS017RM1 / %T13CS017RM2</td>
      <td class="rate">%T13CS017MR1 / %T13CS017MR2</td>
      <td class="rate">%T13CS017SN1 / %T13CS017SN2</td>
      <td class="rate">%T13CS017YM1 / %T13CS017YM2</td>
     </tr>
     <tr>
      <td class="number">No.18</td>
      <td class="card">%T13CARD018N<br />(%T13CARD018R)</td>
      <td class="rate">%T13CS018TL1 / %T13CS018TL2</td>
      <td class="rate">%T13CS018RM1 / %T13CS018RM2</td>
      <td class="rate">%T13CS018MR1 / %T13CS018MR2</td>
      <td class="rate">%T13CS018SN1 / %T13CS018SN2</td>
      <td class="rate">%T13CS018YM1 / %T13CS018YM2</td>
     </tr>
     <tr>
      <td class="number">No.19</td>
      <td class="card">%T13CARD019N<br />(%T13CARD019R)</td>
      <td class="rate">%T13CS019TL1 / %T13CS019TL2</td>
      <td class="rate">%T13CS019RM1 / %T13CS019RM2</td>
      <td class="rate">%T13CS019MR1 / %T13CS019MR2</td>
      <td class="rate">%T13CS019SN1 / %T13CS019SN2</td>
      <td class="rate">%T13CS019YM1 / %T13CS019YM2</td>
     </tr>
     <tr>
      <td class="number">No.20</td>
      <td class="card">%T13CARD020N<br />(%T13CARD020R)</td>
      <td class="rate">%T13CS020TL1 / %T13CS020TL2</td>
      <td class="rate">%T13CS020RM1 / %T13CS020RM2</td>
      <td class="rate">%T13CS020MR1 / %T13CS020MR2</td>
      <td class="rate">%T13CS020SN1 / %T13CS020SN2</td>
      <td class="rate">%T13CS020YM1 / %T13CS020YM2</td>
     </tr>

     <tr>
      <td class="number">No.21</td>
      <td class="card">%T13CARD021N<br />(%T13CARD021R)</td>
      <td class="rate">%T13CS021TL1 / %T13CS021TL2</td>
      <td class="rate">%T13CS021RM1 / %T13CS021RM2</td>
      <td class="rate">%T13CS021MR1 / %T13CS021MR2</td>
      <td class="rate">%T13CS021SN1 / %T13CS021SN2</td>
      <td class="rate">%T13CS021YM1 / %T13CS021YM2</td>
     </tr>
     <tr>
      <td class="number">No.22</td>
      <td class="card">%T13CARD022N<br />(%T13CARD022R)</td>
      <td class="rate">%T13CS022TL1 / %T13CS022TL2</td>
      <td class="rate">%T13CS022RM1 / %T13CS022RM2</td>
      <td class="rate">%T13CS022MR1 / %T13CS022MR2</td>
      <td class="rate">%T13CS022SN1 / %T13CS022SN2</td>
      <td class="rate">%T13CS022YM1 / %T13CS022YM2</td>
     </tr>
     <tr>
      <td class="number">No.23</td>
      <td class="card">%T13CARD023N<br />(%T13CARD023R)</td>
      <td class="rate">%T13CS023TL1 / %T13CS023TL2</td>
      <td class="rate">%T13CS023RM1 / %T13CS023RM2</td>
      <td class="rate">%T13CS023MR1 / %T13CS023MR2</td>
      <td class="rate">%T13CS023SN1 / %T13CS023SN2</td>
      <td class="rate">%T13CS023YM1 / %T13CS023YM2</td>
     </tr>
     <tr>
      <td class="number">No.24</td>
      <td class="card">%T13CARD024N<br />(%T13CARD024R)</td>
      <td class="rate">%T13CS024TL1 / %T13CS024TL2</td>
      <td class="rate">%T13CS024RM1 / %T13CS024RM2</td>
      <td class="rate">%T13CS024MR1 / %T13CS024MR2</td>
      <td class="rate">%T13CS024SN1 / %T13CS024SN2</td>
      <td class="rate">%T13CS024YM1 / %T13CS024YM2</td>
     </tr>
     <tr>
      <td class="number">No.25</td>
      <td class="card">%T13CARD025N<br />(%T13CARD025R)</td>
      <td class="rate">%T13CS025TL1 / %T13CS025TL2</td>
      <td class="rate">%T13CS025RM1 / %T13CS025RM2</td>
      <td class="rate">%T13CS025MR1 / %T13CS025MR2</td>
      <td class="rate">%T13CS025SN1 / %T13CS025SN2</td>
      <td class="rate">%T13CS025YM1 / %T13CS025YM2</td>
     </tr>
     <tr>
      <td class="number">No.26</td>
      <td class="card">%T13CARD026N<br />(%T13CARD026R)</td>
      <td class="rate">%T13CS026TL1 / %T13CS026TL2</td>
      <td class="rate">%T13CS026RM1 / %T13CS026RM2</td>
      <td class="rate">%T13CS026MR1 / %T13CS026MR2</td>
      <td class="rate">%T13CS026SN1 / %T13CS026SN2</td>
      <td class="rate">%T13CS026YM1 / %T13CS026YM2</td>
     </tr>
     <tr>
      <td class="number">No.27</td>
      <td class="card">%T13CARD027N<br />(%T13CARD027R)</td>
      <td class="rate">%T13CS027TL1 / %T13CS027TL2</td>
      <td class="rate">%T13CS027RM1 / %T13CS027RM2</td>
      <td class="rate">%T13CS027MR1 / %T13CS027MR2</td>
      <td class="rate">%T13CS027SN1 / %T13CS027SN2</td>
      <td class="rate">%T13CS027YM1 / %T13CS027YM2</td>
     </tr>
     <tr>
      <td class="number">No.28</td>
      <td class="card">%T13CARD028N<br />(%T13CARD028R)</td>
      <td class="rate">%T13CS028TL1 / %T13CS028TL2</td>
      <td class="rate">%T13CS028RM1 / %T13CS028RM2</td>
      <td class="rate">%T13CS028MR1 / %T13CS028MR2</td>
      <td class="rate">%T13CS028SN1 / %T13CS028SN2</td>
      <td class="rate">%T13CS028YM1 / %T13CS028YM2</td>
     </tr>
     <tr>
      <td class="number">No.29</td>
      <td class="card">%T13CARD029N<br />(%T13CARD029R)</td>
      <td class="rate">%T13CS029TL1 / %T13CS029TL2</td>
      <td class="rate">%T13CS029RM1 / %T13CS029RM2</td>
      <td class="rate">%T13CS029MR1 / %T13CS029MR2</td>
      <td class="rate">%T13CS029SN1 / %T13CS029SN2</td>
      <td class="rate">%T13CS029YM1 / %T13CS029YM2</td>
     </tr>
     <tr>
      <td class="number">No.30</td>
      <td class="card">%T13CARD030N<br />(%T13CARD030R)</td>
      <td class="rate">%T13CS030TL1 / %T13CS030TL2</td>
      <td class="rate">%T13CS030RM1 / %T13CS030RM2</td>
      <td class="rate">%T13CS030MR1 / %T13CS030MR2</td>
      <td class="rate">%T13CS030SN1 / %T13CS030SN2</td>
      <td class="rate">%T13CS030YM1 / %T13CS030YM2</td>
     </tr>

     <tr>
      <td class="number">No.31</td>
      <td class="card">%T13CARD031N<br />(%T13CARD031R)</td>
      <td class="rate">%T13CS031TL1 / %T13CS031TL2</td>
      <td class="rate">%T13CS031RM1 / %T13CS031RM2</td>
      <td class="rate">%T13CS031MR1 / %T13CS031MR2</td>
      <td class="rate">%T13CS031SN1 / %T13CS031SN2</td>
      <td class="rate">%T13CS031YM1 / %T13CS031YM2</td>
     </tr>
     <tr>
      <td class="number">No.32</td>
      <td class="card">%T13CARD032N<br />(%T13CARD032R)</td>
      <td class="rate">%T13CS032TL1 / %T13CS032TL2</td>
      <td class="rate">%T13CS032RM1 / %T13CS032RM2</td>
      <td class="rate">%T13CS032MR1 / %T13CS032MR2</td>
      <td class="rate">%T13CS032SN1 / %T13CS032SN2</td>
      <td class="rate">%T13CS032YM1 / %T13CS032YM2</td>
     </tr>
     <tr>
      <td class="number">No.33</td>
      <td class="card">%T13CARD033N<br />(%T13CARD033R)</td>
      <td class="rate">%T13CS033TL1 / %T13CS033TL2</td>
      <td class="rate">%T13CS033RM1 / %T13CS033RM2</td>
      <td class="rate">%T13CS033MR1 / %T13CS033MR2</td>
      <td class="rate">%T13CS033SN1 / %T13CS033SN2</td>
      <td class="rate">%T13CS033YM1 / %T13CS033YM2</td>
     </tr>
     <tr>
      <td class="number">No.34</td>
      <td class="card">%T13CARD034N<br />(%T13CARD034R)</td>
      <td class="rate">%T13CS034TL1 / %T13CS034TL2</td>
      <td class="rate">%T13CS034RM1 / %T13CS034RM2</td>
      <td class="rate">%T13CS034MR1 / %T13CS034MR2</td>
      <td class="rate">%T13CS034SN1 / %T13CS034SN2</td>
      <td class="rate">%T13CS034YM1 / %T13CS034YM2</td>
     </tr>
     <tr>
      <td class="number">No.35</td>
      <td class="card">%T13CARD035N<br />(%T13CARD035R)</td>
      <td class="rate">%T13CS035TL1 / %T13CS035TL2</td>
      <td class="rate">%T13CS035RM1 / %T13CS035RM2</td>
      <td class="rate">%T13CS035MR1 / %T13CS035MR2</td>
      <td class="rate">%T13CS035SN1 / %T13CS035SN2</td>
      <td class="rate">%T13CS035YM1 / %T13CS035YM2</td>
     </tr>
     <tr>
      <td class="number">No.36</td>
      <td class="card">%T13CARD036N<br />(%T13CARD036R)</td>
      <td class="rate">%T13CS036TL1 / %T13CS036TL2</td>
      <td class="rate">%T13CS036RM1 / %T13CS036RM2</td>
      <td class="rate">%T13CS036MR1 / %T13CS036MR2</td>
      <td class="rate">%T13CS036SN1 / %T13CS036SN2</td>
      <td class="rate">%T13CS036YM1 / %T13CS036YM2</td>
     </tr>
     <tr>
      <td class="number">No.37</td>
      <td class="card">%T13CARD037N<br />(%T13CARD037R)</td>
      <td class="rate">%T13CS037TL1 / %T13CS037TL2</td>
      <td class="rate">%T13CS037RM1 / %T13CS037RM2</td>
      <td class="rate">%T13CS037MR1 / %T13CS037MR2</td>
      <td class="rate">%T13CS037SN1 / %T13CS037SN2</td>
      <td class="rate">%T13CS037YM1 / %T13CS037YM2</td>
     </tr>
     <tr>
      <td class="number">No.38</td>
      <td class="card">%T13CARD038N<br />(%T13CARD038R)</td>
      <td class="rate">%T13CS038TL1 / %T13CS038TL2</td>
      <td class="rate">%T13CS038RM1 / %T13CS038RM2</td>
      <td class="rate">%T13CS038MR1 / %T13CS038MR2</td>
      <td class="rate">%T13CS038SN1 / %T13CS038SN2</td>
      <td class="rate">%T13CS038YM1 / %T13CS038YM2</td>
     </tr>
     <tr>
      <td class="number">No.39</td>
      <td class="card">%T13CARD039N<br />(%T13CARD039R)</td>
      <td class="rate">%T13CS039TL1 / %T13CS039TL2</td>
      <td class="rate">%T13CS039RM1 / %T13CS039RM2</td>
      <td class="rate">%T13CS039MR1 / %T13CS039MR2</td>
      <td class="rate">%T13CS039SN1 / %T13CS039SN2</td>
      <td class="rate">%T13CS039YM1 / %T13CS039YM2</td>
     </tr>
     <tr>
      <td class="number">No.40</td>
      <td class="card">%T13CARD040N<br />(%T13CARD040R)</td>
      <td class="rate">%T13CS040TL1 / %T13CS040TL2</td>
      <td class="rate">%T13CS040RM1 / %T13CS040RM2</td>
      <td class="rate">%T13CS040MR1 / %T13CS040MR2</td>
      <td class="rate">%T13CS040SN1 / %T13CS040SN2</td>
      <td class="rate">%T13CS040YM1 / %T13CS040YM2</td>
     </tr>

     <tr>
      <td class="number">No.41</td>
      <td class="card">%T13CARD041N<br />(%T13CARD041R)</td>
      <td class="rate">%T13CS041TL1 / %T13CS041TL2</td>
      <td class="rate">%T13CS041RM1 / %T13CS041RM2</td>
      <td class="rate">%T13CS041MR1 / %T13CS041MR2</td>
      <td class="rate">%T13CS041SN1 / %T13CS041SN2</td>
      <td class="rate">%T13CS041YM1 / %T13CS041YM2</td>
     </tr>
     <tr>
      <td class="number">No.42</td>
      <td class="card">%T13CARD042N<br />(%T13CARD042R)</td>
      <td class="rate">%T13CS042TL1 / %T13CS042TL2</td>
      <td class="rate">%T13CS042RM1 / %T13CS042RM2</td>
      <td class="rate">%T13CS042MR1 / %T13CS042MR2</td>
      <td class="rate">%T13CS042SN1 / %T13CS042SN2</td>
      <td class="rate">%T13CS042YM1 / %T13CS042YM2</td>
     </tr>
     <tr>
      <td class="number">No.43</td>
      <td class="card">%T13CARD043N<br />(%T13CARD043R)</td>
      <td class="rate">%T13CS043TL1 / %T13CS043TL2</td>
      <td class="rate">%T13CS043RM1 / %T13CS043RM2</td>
      <td class="rate">%T13CS043MR1 / %T13CS043MR2</td>
      <td class="rate">%T13CS043SN1 / %T13CS043SN2</td>
      <td class="rate">%T13CS043YM1 / %T13CS043YM2</td>
     </tr>
     <tr>
      <td class="number">No.44</td>
      <td class="card">%T13CARD044N<br />(%T13CARD044R)</td>
      <td class="rate">%T13CS044TL1 / %T13CS044TL2</td>
      <td class="rate">%T13CS044RM1 / %T13CS044RM2</td>
      <td class="rate">%T13CS044MR1 / %T13CS044MR2</td>
      <td class="rate">%T13CS044SN1 / %T13CS044SN2</td>
      <td class="rate">%T13CS044YM1 / %T13CS044YM2</td>
     </tr>
     <tr>
      <td class="number">No.45</td>
      <td class="card">%T13CARD045N<br />(%T13CARD045R)</td>
      <td class="rate">%T13CS045TL1 / %T13CS045TL2</td>
      <td class="rate">%T13CS045RM1 / %T13CS045RM2</td>
      <td class="rate">%T13CS045MR1 / %T13CS045MR2</td>
      <td class="rate">%T13CS045SN1 / %T13CS045SN2</td>
      <td class="rate">%T13CS045YM1 / %T13CS045YM2</td>
     </tr>
     <tr>
      <td class="number">No.46</td>
      <td class="card">%T13CARD046N<br />(%T13CARD046R)</td>
      <td class="rate">%T13CS046TL1 / %T13CS046TL2</td>
      <td class="rate">%T13CS046RM1 / %T13CS046RM2</td>
      <td class="rate">%T13CS046MR1 / %T13CS046MR2</td>
      <td class="rate">%T13CS046SN1 / %T13CS046SN2</td>
      <td class="rate">%T13CS046YM1 / %T13CS046YM2</td>
     </tr>
     <tr>
      <td class="number">No.47</td>
      <td class="card">%T13CARD047N<br />(%T13CARD047R)</td>
      <td class="rate">%T13CS047TL1 / %T13CS047TL2</td>
      <td class="rate">%T13CS047RM1 / %T13CS047RM2</td>
      <td class="rate">%T13CS047MR1 / %T13CS047MR2</td>
      <td class="rate">%T13CS047SN1 / %T13CS047SN2</td>
      <td class="rate">%T13CS047YM1 / %T13CS047YM2</td>
     </tr>
     <tr>
      <td class="number">No.48</td>
      <td class="card">%T13CARD048N<br />(%T13CARD048R)</td>
      <td class="rate">%T13CS048TL1 / %T13CS048TL2</td>
      <td class="rate">%T13CS048RM1 / %T13CS048RM2</td>
      <td class="rate">%T13CS048MR1 / %T13CS048MR2</td>
      <td class="rate">%T13CS048SN1 / %T13CS048SN2</td>
      <td class="rate">%T13CS048YM1 / %T13CS048YM2</td>
     </tr>
     <tr>
      <td class="number">No.49</td>
      <td class="card">%T13CARD049N<br />(%T13CARD049R)</td>
      <td class="rate">%T13CS049TL1 / %T13CS049TL2</td>
      <td class="rate">%T13CS049RM1 / %T13CS049RM2</td>
      <td class="rate">%T13CS049MR1 / %T13CS049MR2</td>
      <td class="rate">%T13CS049SN1 / %T13CS049SN2</td>
      <td class="rate">%T13CS049YM1 / %T13CS049YM2</td>
     </tr>
     <tr>
      <td class="number">No.50</td>
      <td class="card">%T13CARD050N<br />(%T13CARD050R)</td>
      <td class="rate">%T13CS050TL1 / %T13CS050TL2</td>
      <td class="rate">%T13CS050RM1 / %T13CS050RM2</td>
      <td class="rate">%T13CS050MR1 / %T13CS050MR2</td>
      <td class="rate">%T13CS050SN1 / %T13CS050SN2</td>
      <td class="rate">%T13CS050YM1 / %T13CS050YM2</td>
     </tr>

     <tr>
      <td class="number">No.51</td>
      <td class="card">%T13CARD051N<br />(%T13CARD051R)</td>
      <td class="rate">%T13CS051TL1 / %T13CS051TL2</td>
      <td class="rate">%T13CS051RM1 / %T13CS051RM2</td>
      <td class="rate">%T13CS051MR1 / %T13CS051MR2</td>
      <td class="rate">%T13CS051SN1 / %T13CS051SN2</td>
      <td class="rate">%T13CS051YM1 / %T13CS051YM2</td>
     </tr>
     <tr>
      <td class="number">No.52</td>
      <td class="card">%T13CARD052N<br />(%T13CARD052R)</td>
      <td class="rate">%T13CS052TL1 / %T13CS052TL2</td>
      <td class="rate">%T13CS052RM1 / %T13CS052RM2</td>
      <td class="rate">%T13CS052MR1 / %T13CS052MR2</td>
      <td class="rate">%T13CS052SN1 / %T13CS052SN2</td>
      <td class="rate">%T13CS052YM1 / %T13CS052YM2</td>
     </tr>
     <tr>
      <td class="number">No.53</td>
      <td class="card">%T13CARD053N<br />(%T13CARD053R)</td>
      <td class="rate">%T13CS053TL1 / %T13CS053TL2</td>
      <td class="rate">%T13CS053RM1 / %T13CS053RM2</td>
      <td class="rate">%T13CS053MR1 / %T13CS053MR2</td>
      <td class="rate">%T13CS053SN1 / %T13CS053SN2</td>
      <td class="rate">%T13CS053YM1 / %T13CS053YM2</td>
     </tr>
     <tr>
      <td class="number">No.54</td>
      <td class="card">%T13CARD054N<br />(%T13CARD054R)</td>
      <td class="rate">%T13CS054TL1 / %T13CS054TL2</td>
      <td class="rate">%T13CS054RM1 / %T13CS054RM2</td>
      <td class="rate">%T13CS054MR1 / %T13CS054MR2</td>
      <td class="rate">%T13CS054SN1 / %T13CS054SN2</td>
      <td class="rate">%T13CS054YM1 / %T13CS054YM2</td>
     </tr>
     <tr>
      <td class="number">No.55</td>
      <td class="card">%T13CARD055N<br />(%T13CARD055R)</td>
      <td class="rate">%T13CS055TL1 / %T13CS055TL2</td>
      <td class="rate">%T13CS055RM1 / %T13CS055RM2</td>
      <td class="rate">%T13CS055MR1 / %T13CS055MR2</td>
      <td class="rate">%T13CS055SN1 / %T13CS055SN2</td>
      <td class="rate">%T13CS055YM1 / %T13CS055YM2</td>
     </tr>
     <tr>
      <td class="number">No.56</td>
      <td class="card">%T13CARD056N<br />(%T13CARD056R)</td>
      <td class="rate">%T13CS056TL1 / %T13CS056TL2</td>
      <td class="rate">%T13CS056RM1 / %T13CS056RM2</td>
      <td class="rate">%T13CS056MR1 / %T13CS056MR2</td>
      <td class="rate">%T13CS056SN1 / %T13CS056SN2</td>
      <td class="rate">%T13CS056YM1 / %T13CS056YM2</td>
     </tr>
     <tr>
      <td class="number">No.57</td>
      <td class="card">%T13CARD057N<br />(%T13CARD057R)</td>
      <td class="rate">%T13CS057TL1 / %T13CS057TL2</td>
      <td class="rate">%T13CS057RM1 / %T13CS057RM2</td>
      <td class="rate">%T13CS057MR1 / %T13CS057MR2</td>
      <td class="rate">%T13CS057SN1 / %T13CS057SN2</td>
      <td class="rate">%T13CS057YM1 / %T13CS057YM2</td>
     </tr>
     <tr>
      <td class="number">No.58</td>
      <td class="card">%T13CARD058N<br />(%T13CARD058R)</td>
      <td class="rate">%T13CS058TL1 / %T13CS058TL2</td>
      <td class="rate">%T13CS058RM1 / %T13CS058RM2</td>
      <td class="rate">%T13CS058MR1 / %T13CS058MR2</td>
      <td class="rate">%T13CS058SN1 / %T13CS058SN2</td>
      <td class="rate">%T13CS058YM1 / %T13CS058YM2</td>
     </tr>
     <tr>
      <td class="number">No.59</td>
      <td class="card">%T13CARD059N<br />(%T13CARD059R)</td>
      <td class="rate">%T13CS059TL1 / %T13CS059TL2</td>
      <td class="rate">%T13CS059RM1 / %T13CS059RM2</td>
      <td class="rate">%T13CS059MR1 / %T13CS059MR2</td>
      <td class="rate">%T13CS059SN1 / %T13CS059SN2</td>
      <td class="rate">%T13CS059YM1 / %T13CS059YM2</td>
     </tr>
     <tr>
      <td class="number">No.60</td>
      <td class="card">%T13CARD060N<br />(%T13CARD060R)</td>
      <td class="rate">%T13CS060TL1 / %T13CS060TL2</td>
      <td class="rate">%T13CS060RM1 / %T13CS060RM2</td>
      <td class="rate">%T13CS060MR1 / %T13CS060MR2</td>
      <td class="rate">%T13CS060SN1 / %T13CS060SN2</td>
      <td class="rate">%T13CS060YM1 / %T13CS060YM2</td>
     </tr>

     <tr>
      <td class="number">No.61</td>
      <td class="card">%T13CARD061N<br />(%T13CARD061R)</td>
      <td class="rate">%T13CS061TL1 / %T13CS061TL2</td>
      <td class="rate">%T13CS061RM1 / %T13CS061RM2</td>
      <td class="rate">%T13CS061MR1 / %T13CS061MR2</td>
      <td class="rate">%T13CS061SN1 / %T13CS061SN2</td>
      <td class="rate">%T13CS061YM1 / %T13CS061YM2</td>
     </tr>
     <tr>
      <td class="number">No.62</td>
      <td class="card">%T13CARD062N<br />(%T13CARD062R)</td>
      <td class="rate">%T13CS062TL1 / %T13CS062TL2</td>
      <td class="rate">%T13CS062RM1 / %T13CS062RM2</td>
      <td class="rate">%T13CS062MR1 / %T13CS062MR2</td>
      <td class="rate">%T13CS062SN1 / %T13CS062SN2</td>
      <td class="rate">%T13CS062YM1 / %T13CS062YM2</td>
     </tr>
     <tr>
      <td class="number">No.63</td>
      <td class="card">%T13CARD063N<br />(%T13CARD063R)</td>
      <td class="rate">%T13CS063TL1 / %T13CS063TL2</td>
      <td class="rate">%T13CS063RM1 / %T13CS063RM2</td>
      <td class="rate">%T13CS063MR1 / %T13CS063MR2</td>
      <td class="rate">%T13CS063SN1 / %T13CS063SN2</td>
      <td class="rate">%T13CS063YM1 / %T13CS063YM2</td>
     </tr>
     <tr>
      <td class="number">No.64</td>
      <td class="card">%T13CARD064N<br />(%T13CARD064R)</td>
      <td class="rate">%T13CS064TL1 / %T13CS064TL2</td>
      <td class="rate">%T13CS064RM1 / %T13CS064RM2</td>
      <td class="rate">%T13CS064MR1 / %T13CS064MR2</td>
      <td class="rate">%T13CS064SN1 / %T13CS064SN2</td>
      <td class="rate">%T13CS064YM1 / %T13CS064YM2</td>
     </tr>
     <tr>
      <td class="number">No.65</td>
      <td class="card">%T13CARD065N<br />(%T13CARD065R)</td>
      <td class="rate">%T13CS065TL1 / %T13CS065TL2</td>
      <td class="rate">%T13CS065RM1 / %T13CS065RM2</td>
      <td class="rate">%T13CS065MR1 / %T13CS065MR2</td>
      <td class="rate">%T13CS065SN1 / %T13CS065SN2</td>
      <td class="rate">%T13CS065YM1 / %T13CS065YM2</td>
     </tr>
     <tr>
      <td class="number">No.66</td>
      <td class="card">%T13CARD066N<br />(%T13CARD066R)</td>
      <td class="rate">%T13CS066TL1 / %T13CS066TL2</td>
      <td class="rate">%T13CS066RM1 / %T13CS066RM2</td>
      <td class="rate">%T13CS066MR1 / %T13CS066MR2</td>
      <td class="rate">%T13CS066SN1 / %T13CS066SN2</td>
      <td class="rate">%T13CS066YM1 / %T13CS066YM2</td>
     </tr>
     <tr>
      <td class="number">No.67</td>
      <td class="card">%T13CARD067N<br />(%T13CARD067R)</td>
      <td class="rate">%T13CS067TL1 / %T13CS067TL2</td>
      <td class="rate">%T13CS067RM1 / %T13CS067RM2</td>
      <td class="rate">%T13CS067MR1 / %T13CS067MR2</td>
      <td class="rate">%T13CS067SN1 / %T13CS067SN2</td>
      <td class="rate">%T13CS067YM1 / %T13CS067YM2</td>
     </tr>
     <tr>
      <td class="number">No.68</td>
      <td class="card">%T13CARD068N<br />(%T13CARD068R)</td>
      <td class="rate">%T13CS068TL1 / %T13CS068TL2</td>
      <td class="rate">%T13CS068RM1 / %T13CS068RM2</td>
      <td class="rate">%T13CS068MR1 / %T13CS068MR2</td>
      <td class="rate">%T13CS068SN1 / %T13CS068SN2</td>
      <td class="rate">%T13CS068YM1 / %T13CS068YM2</td>
     </tr>
     <tr>
      <td class="number">No.69</td>
      <td class="card">%T13CARD069N<br />(%T13CARD069R)</td>
      <td class="rate">%T13CS069TL1 / %T13CS069TL2</td>
      <td class="rate">%T13CS069RM1 / %T13CS069RM2</td>
      <td class="rate">%T13CS069MR1 / %T13CS069MR2</td>
      <td class="rate">%T13CS069SN1 / %T13CS069SN2</td>
      <td class="rate">%T13CS069YM1 / %T13CS069YM2</td>
     </tr>
     <tr>
      <td class="number">No.70</td>
      <td class="card">%T13CARD070N<br />(%T13CARD070R)</td>
      <td class="rate">%T13CS070TL1 / %T13CS070TL2</td>
      <td class="rate">%T13CS070RM1 / %T13CS070RM2</td>
      <td class="rate">%T13CS070MR1 / %T13CS070MR2</td>
      <td class="rate">%T13CS070SN1 / %T13CS070SN2</td>
      <td class="rate">%T13CS070YM1 / %T13CS070YM2</td>
     </tr>

     <tr>
      <td class="number">No.71</td>
      <td class="card">%T13CARD071N<br />(%T13CARD071R)</td>
      <td class="rate">%T13CS071TL1 / %T13CS071TL2</td>
      <td class="rate">%T13CS071RM1 / %T13CS071RM2</td>
      <td class="rate">%T13CS071MR1 / %T13CS071MR2</td>
      <td class="rate">%T13CS071SN1 / %T13CS071SN2</td>
      <td class="rate">%T13CS071YM1 / %T13CS071YM2</td>
     </tr>
     <tr>
      <td class="number">No.72</td>
      <td class="card">%T13CARD072N<br />(%T13CARD072R)</td>
      <td class="rate">%T13CS072TL1 / %T13CS072TL2</td>
      <td class="rate">%T13CS072RM1 / %T13CS072RM2</td>
      <td class="rate">%T13CS072MR1 / %T13CS072MR2</td>
      <td class="rate">%T13CS072SN1 / %T13CS072SN2</td>
      <td class="rate">%T13CS072YM1 / %T13CS072YM2</td>
     </tr>
     <tr>
      <td class="number">No.73</td>
      <td class="card">%T13CARD073N<br />(%T13CARD073R)</td>
      <td class="rate">%T13CS073TL1 / %T13CS073TL2</td>
      <td class="rate">%T13CS073RM1 / %T13CS073RM2</td>
      <td class="rate">%T13CS073MR1 / %T13CS073MR2</td>
      <td class="rate">%T13CS073SN1 / %T13CS073SN2</td>
      <td class="rate">%T13CS073YM1 / %T13CS073YM2</td>
     </tr>
     <tr>
      <td class="number">No.74</td>
      <td class="card">%T13CARD074N<br />(%T13CARD074R)</td>
      <td class="rate">%T13CS074TL1 / %T13CS074TL2</td>
      <td class="rate">%T13CS074RM1 / %T13CS074RM2</td>
      <td class="rate">%T13CS074MR1 / %T13CS074MR2</td>
      <td class="rate">%T13CS074SN1 / %T13CS074SN2</td>
      <td class="rate">%T13CS074YM1 / %T13CS074YM2</td>
     </tr>
     <tr>
      <td class="number">No.75</td>
      <td class="card">%T13CARD075N<br />(%T13CARD075R)</td>
      <td class="rate">%T13CS075TL1 / %T13CS075TL2</td>
      <td class="rate">%T13CS075RM1 / %T13CS075RM2</td>
      <td class="rate">%T13CS075MR1 / %T13CS075MR2</td>
      <td class="rate">%T13CS075SN1 / %T13CS075SN2</td>
      <td class="rate">%T13CS075YM1 / %T13CS075YM2</td>
     </tr>
     <tr>
      <td class="number">No.76</td>
      <td class="card">%T13CARD076N<br />(%T13CARD076R)</td>
      <td class="rate">%T13CS076TL1 / %T13CS076TL2</td>
      <td class="rate">%T13CS076RM1 / %T13CS076RM2</td>
      <td class="rate">%T13CS076MR1 / %T13CS076MR2</td>
      <td class="rate">%T13CS076SN1 / %T13CS076SN2</td>
      <td class="rate">%T13CS076YM1 / %T13CS076YM2</td>
     </tr>
     <tr>
      <td class="number">No.77</td>
      <td class="card">%T13CARD077N<br />(%T13CARD077R)</td>
      <td class="rate">%T13CS077TL1 / %T13CS077TL2</td>
      <td class="rate">%T13CS077RM1 / %T13CS077RM2</td>
      <td class="rate">%T13CS077MR1 / %T13CS077MR2</td>
      <td class="rate">%T13CS077SN1 / %T13CS077SN2</td>
      <td class="rate">%T13CS077YM1 / %T13CS077YM2</td>
     </tr>
     <tr>
      <td class="number">No.78</td>
      <td class="card">%T13CARD078N<br />(%T13CARD078R)</td>
      <td class="rate">%T13CS078TL1 / %T13CS078TL2</td>
      <td class="rate">%T13CS078RM1 / %T13CS078RM2</td>
      <td class="rate">%T13CS078MR1 / %T13CS078MR2</td>
      <td class="rate">%T13CS078SN1 / %T13CS078SN2</td>
      <td class="rate">%T13CS078YM1 / %T13CS078YM2</td>
     </tr>
     <tr>
      <td class="number">No.79</td>
      <td class="card">%T13CARD079N<br />(%T13CARD079R)</td>
      <td class="rate">%T13CS079TL1 / %T13CS079TL2</td>
      <td class="rate">%T13CS079RM1 / %T13CS079RM2</td>
      <td class="rate">%T13CS079MR1 / %T13CS079MR2</td>
      <td class="rate">%T13CS079SN1 / %T13CS079SN2</td>
      <td class="rate">%T13CS079YM1 / %T13CS079YM2</td>
     </tr>
     <tr>
      <td class="number">No.80</td>
      <td class="card">%T13CARD080N<br />(%T13CARD080R)</td>
      <td class="rate">%T13CS080TL1 / %T13CS080TL2</td>
      <td class="rate">%T13CS080RM1 / %T13CS080RM2</td>
      <td class="rate">%T13CS080MR1 / %T13CS080MR2</td>
      <td class="rate">%T13CS080SN1 / %T13CS080SN2</td>
      <td class="rate">%T13CS080YM1 / %T13CS080YM2</td>
     </tr>

     <tr>
      <td class="number">No.81</td>
      <td class="card">%T13CARD081N<br />(%T13CARD081R)</td>
      <td class="rate">%T13CS081TL1 / %T13CS081TL2</td>
      <td class="rate">%T13CS081RM1 / %T13CS081RM2</td>
      <td class="rate">%T13CS081MR1 / %T13CS081MR2</td>
      <td class="rate">%T13CS081SN1 / %T13CS081SN2</td>
      <td class="rate">%T13CS081YM1 / %T13CS081YM2</td>
     </tr>
     <tr>
      <td class="number">No.82</td>
      <td class="card">%T13CARD082N<br />(%T13CARD082R)</td>
      <td class="rate">%T13CS082TL1 / %T13CS082TL2</td>
      <td class="rate">%T13CS082RM1 / %T13CS082RM2</td>
      <td class="rate">%T13CS082MR1 / %T13CS082MR2</td>
      <td class="rate">%T13CS082SN1 / %T13CS082SN2</td>
      <td class="rate">%T13CS082YM1 / %T13CS082YM2</td>
     </tr>
     <tr>
      <td class="number">No.83</td>
      <td class="card">%T13CARD083N<br />(%T13CARD083R)</td>
      <td class="rate">%T13CS083TL1 / %T13CS083TL2</td>
      <td class="rate">%T13CS083RM1 / %T13CS083RM2</td>
      <td class="rate">%T13CS083MR1 / %T13CS083MR2</td>
      <td class="rate">%T13CS083SN1 / %T13CS083SN2</td>
      <td class="rate">%T13CS083YM1 / %T13CS083YM2</td>
     </tr>
     <tr>
      <td class="number">No.84</td>
      <td class="card">%T13CARD084N<br />(%T13CARD084R)</td>
      <td class="rate">%T13CS084TL1 / %T13CS084TL2</td>
      <td class="rate">%T13CS084RM1 / %T13CS084RM2</td>
      <td class="rate">%T13CS084MR1 / %T13CS084MR2</td>
      <td class="rate">%T13CS084SN1 / %T13CS084SN2</td>
      <td class="rate">%T13CS084YM1 / %T13CS084YM2</td>
     </tr>
     <tr>
      <td class="number">No.85</td>
      <td class="card">%T13CARD085N<br />(%T13CARD085R)</td>
      <td class="rate">%T13CS085TL1 / %T13CS085TL2</td>
      <td class="rate">%T13CS085RM1 / %T13CS085RM2</td>
      <td class="rate">%T13CS085MR1 / %T13CS085MR2</td>
      <td class="rate">%T13CS085SN1 / %T13CS085SN2</td>
      <td class="rate">%T13CS085YM1 / %T13CS085YM2</td>
     </tr>
     <tr>
      <td class="number">No.86</td>
      <td class="card">%T13CARD086N<br />(%T13CARD086R)</td>
      <td class="rate">%T13CS086TL1 / %T13CS086TL2</td>
      <td class="rate">%T13CS086RM1 / %T13CS086RM2</td>
      <td class="rate">%T13CS086MR1 / %T13CS086MR2</td>
      <td class="rate">%T13CS086SN1 / %T13CS086SN2</td>
      <td class="rate">%T13CS086YM1 / %T13CS086YM2</td>
     </tr>
     <tr>
      <td class="number">No.87</td>
      <td class="card">%T13CARD087N<br />(%T13CARD087R)</td>
      <td class="rate">%T13CS087TL1 / %T13CS087TL2</td>
      <td class="rate">%T13CS087RM1 / %T13CS087RM2</td>
      <td class="rate">%T13CS087MR1 / %T13CS087MR2</td>
      <td class="rate">%T13CS087SN1 / %T13CS087SN2</td>
      <td class="rate">%T13CS087YM1 / %T13CS087YM2</td>
     </tr>
     <tr>
      <td class="number">No.88</td>
      <td class="card">%T13CARD088N<br />(%T13CARD088R)</td>
      <td class="rate">%T13CS088TL1 / %T13CS088TL2</td>
      <td class="rate">%T13CS088RM1 / %T13CS088RM2</td>
      <td class="rate">%T13CS088MR1 / %T13CS088MR2</td>
      <td class="rate">%T13CS088SN1 / %T13CS088SN2</td>
      <td class="rate">%T13CS088YM1 / %T13CS088YM2</td>
     </tr>
     <tr>
      <td class="number">No.89</td>
      <td class="card">%T13CARD089N<br />(%T13CARD089R)</td>
      <td class="rate">%T13CS089TL1 / %T13CS089TL2</td>
      <td class="rate">%T13CS089RM1 / %T13CS089RM2</td>
      <td class="rate">%T13CS089MR1 / %T13CS089MR2</td>
      <td class="rate">%T13CS089SN1 / %T13CS089SN2</td>
      <td class="rate">%T13CS089YM1 / %T13CS089YM2</td>
     </tr>
     <tr>
      <td class="number">No.90</td>
      <td class="card">%T13CARD090N<br />(%T13CARD090R)</td>
      <td class="rate">%T13CS090TL1 / %T13CS090TL2</td>
      <td class="rate">%T13CS090RM1 / %T13CS090RM2</td>
      <td class="rate">%T13CS090MR1 / %T13CS090MR2</td>
      <td class="rate">%T13CS090SN1 / %T13CS090SN2</td>
      <td class="rate">%T13CS090YM1 / %T13CS090YM2</td>
     </tr>

     <tr>
      <td class="number">No.91</td>
      <td class="card">%T13CARD091N<br />(%T13CARD091R)</td>
      <td class="rate">%T13CS091TL1 / %T13CS091TL2</td>
      <td class="rate">%T13CS091RM1 / %T13CS091RM2</td>
      <td class="rate">%T13CS091MR1 / %T13CS091MR2</td>
      <td class="rate">%T13CS091SN1 / %T13CS091SN2</td>
      <td class="rate">%T13CS091YM1 / %T13CS091YM2</td>
     </tr>
     <tr>
      <td class="number">No.92</td>
      <td class="card">%T13CARD092N<br />(%T13CARD092R)</td>
      <td class="rate">%T13CS092TL1 / %T13CS092TL2</td>
      <td class="rate">%T13CS092RM1 / %T13CS092RM2</td>
      <td class="rate">%T13CS092MR1 / %T13CS092MR2</td>
      <td class="rate">%T13CS092SN1 / %T13CS092SN2</td>
      <td class="rate">%T13CS092YM1 / %T13CS092YM2</td>
     </tr>
     <tr>
      <td class="number">No.93</td>
      <td class="card">%T13CARD093N<br />(%T13CARD093R)</td>
      <td class="rate">%T13CS093TL1 / %T13CS093TL2</td>
      <td class="rate">%T13CS093RM1 / %T13CS093RM2</td>
      <td class="rate">%T13CS093MR1 / %T13CS093MR2</td>
      <td class="rate">%T13CS093SN1 / %T13CS093SN2</td>
      <td class="rate">%T13CS093YM1 / %T13CS093YM2</td>
     </tr>
     <tr>
      <td class="number">No.94</td>
      <td class="card">%T13CARD094N<br />(%T13CARD094R)</td>
      <td class="rate">%T13CS094TL1 / %T13CS094TL2</td>
      <td class="rate">%T13CS094RM1 / %T13CS094RM2</td>
      <td class="rate">%T13CS094MR1 / %T13CS094MR2</td>
      <td class="rate">%T13CS094SN1 / %T13CS094SN2</td>
      <td class="rate">%T13CS094YM1 / %T13CS094YM2</td>
     </tr>
     <tr>
      <td class="number">No.95</td>
      <td class="card">%T13CARD095N<br />(%T13CARD095R)</td>
      <td class="rate">%T13CS095TL1 / %T13CS095TL2</td>
      <td class="rate">%T13CS095RM1 / %T13CS095RM2</td>
      <td class="rate">%T13CS095MR1 / %T13CS095MR2</td>
      <td class="rate">%T13CS095SN1 / %T13CS095SN2</td>
      <td class="rate">%T13CS095YM1 / %T13CS095YM2</td>
     </tr>
     <tr>
      <td class="number">No.96</td>
      <td class="card">%T13CARD096N<br />(%T13CARD096R)</td>
      <td class="rate">%T13CS096TL1 / %T13CS096TL2</td>
      <td class="rate">%T13CS096RM1 / %T13CS096RM2</td>
      <td class="rate">%T13CS096MR1 / %T13CS096MR2</td>
      <td class="rate">%T13CS096SN1 / %T13CS096SN2</td>
      <td class="rate">%T13CS096YM1 / %T13CS096YM2</td>
     </tr>
     <tr>
      <td class="number">No.97</td>
      <td class="card">%T13CARD097N<br />(%T13CARD097R)</td>
      <td class="rate">%T13CS097TL1 / %T13CS097TL2</td>
      <td class="rate">%T13CS097RM1 / %T13CS097RM2</td>
      <td class="rate">%T13CS097MR1 / %T13CS097MR2</td>
      <td class="rate">%T13CS097SN1 / %T13CS097SN2</td>
      <td class="rate">%T13CS097YM1 / %T13CS097YM2</td>
     </tr>
     <tr>
      <td class="number">No.98</td>
      <td class="card">%T13CARD098N<br />(%T13CARD098R)</td>
      <td class="rate">%T13CS098TL1 / %T13CS098TL2</td>
      <td class="rate">%T13CS098RM1 / %T13CS098RM2</td>
      <td class="rate">%T13CS098MR1 / %T13CS098MR2</td>
      <td class="rate">%T13CS098SN1 / %T13CS098SN2</td>
      <td class="rate">%T13CS098YM1 / %T13CS098YM2</td>
     </tr>
     <tr>
      <td class="number">No.99</td>
      <td class="card">%T13CARD099N<br />(%T13CARD099R)</td>
      <td class="rate">%T13CS099TL1 / %T13CS099TL2</td>
      <td class="rate">%T13CS099RM1 / %T13CS099RM2</td>
      <td class="rate">%T13CS099MR1 / %T13CS099MR2</td>
      <td class="rate">%T13CS099SN1 / %T13CS099SN2</td>
      <td class="rate">%T13CS099YM1 / %T13CS099YM2</td>
     </tr>
     <tr>
      <td class="number">No.100</td>
      <td class="card">%T13CARD100N<br />(%T13CARD100R)</td>
      <td class="rate">%T13CS100TL1 / %T13CS100TL2</td>
      <td class="rate">%T13CS100RM1 / %T13CS100RM2</td>
      <td class="rate">%T13CS100MR1 / %T13CS100MR2</td>
      <td class="rate">%T13CS100SN1 / %T13CS100SN2</td>
      <td class="rate">%T13CS100YM1 / %T13CS100YM2</td>
     </tr>

     <tr>
      <td class="number">No.101</td>
      <td class="card">%T13CARD101N<br />(%T13CARD101R)</td>
      <td class="rate">%T13CS101TL1 / %T13CS101TL2</td>
      <td class="rate">%T13CS101RM1 / %T13CS101RM2</td>
      <td class="rate">%T13CS101MR1 / %T13CS101MR2</td>
      <td class="rate">%T13CS101SN1 / %T13CS101SN2</td>
      <td class="rate">%T13CS101YM1 / %T13CS101YM2</td>
     </tr>
     <tr>
      <td class="number">No.102</td>
      <td class="card">%T13CARD102N<br />(%T13CARD102R)</td>
      <td class="rate">%T13CS102TL1 / %T13CS102TL2</td>
      <td class="rate">%T13CS102RM1 / %T13CS102RM2</td>
      <td class="rate">%T13CS102MR1 / %T13CS102MR2</td>
      <td class="rate">%T13CS102SN1 / %T13CS102SN2</td>
      <td class="rate">%T13CS102YM1 / %T13CS102YM2</td>
     </tr>
     <tr>
      <td class="number">No.103</td>
      <td class="card">%T13CARD103N<br />(%T13CARD103R)</td>
      <td class="rate">%T13CS103TL1 / %T13CS103TL2</td>
      <td class="rate">%T13CS103RM1 / %T13CS103RM2</td>
      <td class="rate">%T13CS103MR1 / %T13CS103MR2</td>
      <td class="rate">%T13CS103SN1 / %T13CS103SN2</td>
      <td class="rate">%T13CS103YM1 / %T13CS103YM2</td>
     </tr>
     <tr>
      <td class="number">No.104</td>
      <td class="card">%T13CARD104N<br />(%T13CARD104R)</td>
      <td class="rate">%T13CS104TL1 / %T13CS104TL2</td>
      <td class="rate">%T13CS104RM1 / %T13CS104RM2</td>
      <td class="rate">%T13CS104MR1 / %T13CS104MR2</td>
      <td class="rate">%T13CS104SN1 / %T13CS104SN2</td>
      <td class="rate">%T13CS104YM1 / %T13CS104YM2</td>
     </tr>
     <tr>
      <td class="number">No.105</td>
      <td class="card">%T13CARD105N<br />(%T13CARD105R)</td>
      <td class="rate">%T13CS105TL1 / %T13CS105TL2</td>
      <td class="rate">%T13CS105RM1 / %T13CS105RM2</td>
      <td class="rate">%T13CS105MR1 / %T13CS105MR2</td>
      <td class="rate">%T13CS105SN1 / %T13CS105SN2</td>
      <td class="rate">%T13CS105YM1 / %T13CS105YM2</td>
     </tr>
     <tr>
      <td class="number">No.106</td>
      <td class="card">%T13CARD106N<br />(%T13CARD106R)</td>
      <td class="rate">%T13CS106TL1 / %T13CS106TL2</td>
      <td class="rate">%T13CS106RM1 / %T13CS106RM2</td>
      <td class="rate">%T13CS106MR1 / %T13CS106MR2</td>
      <td class="rate">%T13CS106SN1 / %T13CS106SN2</td>
      <td class="rate">%T13CS106YM1 / %T13CS106YM2</td>
     </tr>
     <tr>
      <td class="number">No.107</td>
      <td class="card">%T13CARD107N<br />(%T13CARD107R)</td>
      <td class="rate">%T13CS107TL1 / %T13CS107TL2</td>
      <td class="rate">%T13CS107RM1 / %T13CS107RM2</td>
      <td class="rate">%T13CS107MR1 / %T13CS107MR2</td>
      <td class="rate">%T13CS107SN1 / %T13CS107SN2</td>
      <td class="rate">%T13CS107YM1 / %T13CS107YM2</td>
     </tr>
     <tr>
      <td class="number">No.108</td>
      <td class="card">%T13CARD108N<br />(%T13CARD108R)</td>
      <td class="rate">%T13CS108TL1 / %T13CS108TL2</td>
      <td class="rate">%T13CS108RM1 / %T13CS108RM2</td>
      <td class="rate">%T13CS108MR1 / %T13CS108MR2</td>
      <td class="rate">%T13CS108SN1 / %T13CS108SN2</td>
      <td class="rate">%T13CS108YM1 / %T13CS108YM2</td>
     </tr>
     <tr>
      <td class="number">No.109</td>
      <td class="card">%T13CARD109N<br />(%T13CARD109R)</td>
      <td class="rate">%T13CS109TL1 / %T13CS109TL2</td>
      <td class="rate">%T13CS109RM1 / %T13CS109RM2</td>
      <td class="rate">%T13CS109MR1 / %T13CS109MR2</td>
      <td class="rate">%T13CS109SN1 / %T13CS109SN2</td>
      <td class="rate">%T13CS109YM1 / %T13CS109YM2</td>
     </tr>
     <tr>
      <td class="number">No.110</td>
      <td class="card">%T13CARD110N<br />(%T13CARD110R)</td>
      <td class="rate">%T13CS110TL1 / %T13CS110TL2</td>
      <td class="rate">%T13CS110RM1 / %T13CS110RM2</td>
      <td class="rate">%T13CS110MR1 / %T13CS110MR2</td>
      <td class="rate">%T13CS110SN1 / %T13CS110SN2</td>
      <td class="rate">%T13CS110YM1 / %T13CS110YM2</td>
     </tr>

     <tr>
      <td class="number">No.111</td>
      <td class="card">%T13CARD111N<br />(%T13CARD111R)</td>
      <td class="rate">%T13CS111TL1 / %T13CS111TL2</td>
      <td class="rate">%T13CS111RM1 / %T13CS111RM2</td>
      <td class="rate">%T13CS111MR1 / %T13CS111MR2</td>
      <td class="rate">%T13CS111SN1 / %T13CS111SN2</td>
      <td class="rate">%T13CS111YM1 / %T13CS111YM2</td>
     </tr>
     <tr>
      <td class="number">No.112</td>
      <td class="card">%T13CARD112N<br />(%T13CARD112R)</td>
      <td class="rate">%T13CS112TL1 / %T13CS112TL2</td>
      <td class="rate">%T13CS112RM1 / %T13CS112RM2</td>
      <td class="rate">%T13CS112MR1 / %T13CS112MR2</td>
      <td class="rate">%T13CS112SN1 / %T13CS112SN2</td>
      <td class="rate">%T13CS112YM1 / %T13CS112YM2</td>
     </tr>
     <tr>
      <td class="number">No.113</td>
      <td class="card">%T13CARD113N<br />(%T13CARD113R)</td>
      <td class="rate">%T13CS113TL1 / %T13CS113TL2</td>
      <td class="rate">%T13CS113RM1 / %T13CS113RM2</td>
      <td class="rate">%T13CS113MR1 / %T13CS113MR2</td>
      <td class="rate">%T13CS113SN1 / %T13CS113SN2</td>
      <td class="rate">%T13CS113YM1 / %T13CS113YM2</td>
     </tr>
     <tr>
      <td class="number">No.114</td>
      <td class="card">%T13CARD114N<br />(%T13CARD114R)</td>
      <td class="rate">%T13CS114TL1 / %T13CS114TL2</td>
      <td class="rate">%T13CS114RM1 / %T13CS114RM2</td>
      <td class="rate">%T13CS114MR1 / %T13CS114MR2</td>
      <td class="rate">%T13CS114SN1 / %T13CS114SN2</td>
      <td class="rate">%T13CS114YM1 / %T13CS114YM2</td>
     </tr>
     <tr>
      <td class="number">No.115</td>
      <td class="card">%T13CARD115N<br />(%T13CARD115R)</td>
      <td class="rate">%T13CS115TL1 / %T13CS115TL2</td>
      <td class="rate">%T13CS115RM1 / %T13CS115RM2</td>
      <td class="rate">%T13CS115MR1 / %T13CS115MR2</td>
      <td class="rate">%T13CS115SN1 / %T13CS115SN2</td>
      <td class="rate">%T13CS115YM1 / %T13CS115YM2</td>
     </tr>
     <tr>
      <td class="number">No.116</td>
      <td class="card">%T13CARD116N<br />(%T13CARD116R)</td>
      <td class="rate">%T13CS116TL1 / %T13CS116TL2</td>
      <td class="rate">%T13CS116RM1 / %T13CS116RM2</td>
      <td class="rate">%T13CS116MR1 / %T13CS116MR2</td>
      <td class="rate">%T13CS116SN1 / %T13CS116SN2</td>
      <td class="rate">%T13CS116YM1 / %T13CS116YM2</td>
     </tr>
     <tr>
      <td class="number">No.117</td>
      <td class="card">%T13CARD117N<br />(%T13CARD117R)</td>
      <td class="rate">%T13CS117TL1 / %T13CS117TL2</td>
      <td class="rate">%T13CS117RM1 / %T13CS117RM2</td>
      <td class="rate">%T13CS117MR1 / %T13CS117MR2</td>
      <td class="rate">%T13CS117SN1 / %T13CS117SN2</td>
      <td class="rate">%T13CS117YM1 / %T13CS117YM2</td>
     </tr>
     <tr>
      <td class="number">No.118</td>
      <td class="card">%T13CARD118N<br />(%T13CARD118R)</td>
      <td class="rate">%T13CS118TL1 / %T13CS118TL2</td>
      <td class="rate">%T13CS118RM1 / %T13CS118RM2</td>
      <td class="rate">%T13CS118MR1 / %T13CS118MR2</td>
      <td class="rate">%T13CS118SN1 / %T13CS118SN2</td>
      <td class="rate">%T13CS118YM1 / %T13CS118YM2</td>
     </tr>
     <tr>
      <td class="number">No.119</td>
      <td class="card">%T13CARD119N<br />(%T13CARD119R)</td>
      <td class="rate">%T13CS119TL1 / %T13CS119TL2</td>
      <td class="rate">%T13CS119RM1 / %T13CS119RM2</td>
      <td class="rate">%T13CS119MR1 / %T13CS119MR2</td>
      <td class="rate">%T13CS119SN1 / %T13CS119SN2</td>
      <td class="rate">%T13CS119YM1 / %T13CS119YM2</td>
     </tr>
    </tbody>
   </table>

   <table class="rate_per_level">
    <caption id="rate_per_level">難易度別スペルカード蒐集率（取得回数 / 挑戦回数 / 総数）</caption>
    <thead>
     <tr>
      <td class="level">難易度</td>
      <td class="character">全主人公合計</td>
      <td class="character">博麗 霊夢</td>
      <td class="character">霧雨 魔理沙</td>
      <td class="character">東風谷 早苗</td>
      <td class="character">魂魄 妖夢</td>
     </tr>
    </thead>
    <tfoot>
     <tr>
      <td>Total</td>
      <td class="rate">%T13CRGSTTL01 / %T13CRGSTTL02 / 127</td>
      <td class="rate">%T13CRGSTRM01 / %T13CRGSTRM02 / 127</td>
      <td class="rate">%T13CRGSTMR01 / %T13CRGSTMR02 / 127</td>
      <td class="rate">%T13CRGSTSN01 / %T13CRGSTSN02 / 127</td>
      <td class="rate">%T13CRGSTYM01 / %T13CRGSTYM02 / 127</td>
     </tr>
    </tfoot>
    <tbody>
     <tr>
      <td class="level">Easy</td>
      <td class="rate">%T13CRGSETL01 / %T13CRGSETL02 / 24</td>
      <td class="rate">%T13CRGSERM01 / %T13CRGSERM02 / 24</td>
      <td class="rate">%T13CRGSEMR01 / %T13CRGSEMR02 / 24</td>
      <td class="rate">%T13CRGSESN01 / %T13CRGSESN02 / 24</td>
      <td class="rate">%T13CRGSEYM01 / %T13CRGSEYM02 / 24</td>
     </tr>
     <tr>
      <td class="level">Normal</td>
      <td class="rate">%T13CRGSNTL01 / %T13CRGSNTL02 / 26</td>
      <td class="rate">%T13CRGSNRM01 / %T13CRGSNRM02 / 26</td>
      <td class="rate">%T13CRGSNMR01 / %T13CRGSNMR02 / 26</td>
      <td class="rate">%T13CRGSNSN01 / %T13CRGSNSN02 / 26</td>
      <td class="rate">%T13CRGSNYM01 / %T13CRGSNYM02 / 26</td>
     </tr>
     <tr>
      <td class="level">Hard</td>
      <td class="rate">%T13CRGSHTL01 / %T13CRGSHTL02 / 28</td>
      <td class="rate">%T13CRGSHRM01 / %T13CRGSHRM02 / 28</td>
      <td class="rate">%T13CRGSHMR01 / %T13CRGSHMR02 / 28</td>
      <td class="rate">%T13CRGSHSN01 / %T13CRGSHSN02 / 28</td>
      <td class="rate">%T13CRGSHYM01 / %T13CRGSHYM02 / 28</td>
     </tr>
     <tr>
      <td class="level">Lunatic</td>
      <td class="rate">%T13CRGSLTL01 / %T13CRGSLTL02 / 28</td>
      <td class="rate">%T13CRGSLRM01 / %T13CRGSLRM02 / 28</td>
      <td class="rate">%T13CRGSLMR01 / %T13CRGSLMR02 / 28</td>
      <td class="rate">%T13CRGSLSN01 / %T13CRGSLSN02 / 28</td>
      <td class="rate">%T13CRGSLYM01 / %T13CRGSLYM02 / 28</td>
     </tr>
     <tr>
      <td class="level">Extra</td>
      <td class="rate">%T13CRGSXTL01 / %T13CRGSXTL02 / 13</td>
      <td class="rate">%T13CRGSXRM01 / %T13CRGSXRM02 / 13</td>
      <td class="rate">%T13CRGSXMR01 / %T13CRGSXMR02 / 13</td>
      <td class="rate">%T13CRGSXSN01 / %T13CRGSXSN02 / 13</td>
      <td class="rate">%T13CRGSXYM01 / %T13CRGSXYM02 / 13</td>
     </tr>
    </tbody>
   </table>

   <table class="rate_per_stage">
    <caption id="rate_per_stage">ステージ別スペルカード蒐集率（取得回数 / 挑戦回数 / 総数）</caption>
    <thead>
     <tr>
      <td class="stage">ステージ</td>
      <td class="character">全主人公合計</td>
      <td class="character">博麗 霊夢</td>
      <td class="character">霧雨 魔理沙</td>
      <td class="character">東風谷 早苗</td>
      <td class="character">魂魄 妖夢</td>
     </tr>
    </thead>
    <tfoot>
     <tr>
      <td>Total</td>
      <td class="rate">%T13CRGSTTL01 / %T13CRGSTTL02 / 127</td>
      <td class="rate">%T13CRGSTRM01 / %T13CRGSTRM02 / 127</td>
      <td class="rate">%T13CRGSTMR01 / %T13CRGSTMR02 / 127</td>
      <td class="rate">%T13CRGSTSN01 / %T13CRGSTSN02 / 127</td>
      <td class="rate">%T13CRGSTYM01 / %T13CRGSTYM02 / 127</td>
     </tr>
    </tfoot>
    <tbody>
     <tr>
      <td class="stage">Stage1</td>
      <td class="rate">%T13CRGSTTL11 / %T13CRGSTTL12 / 14</td>
      <td class="rate">%T13CRGSTRM11 / %T13CRGSTRM12 / 14</td>
      <td class="rate">%T13CRGSTMR11 / %T13CRGSTMR12 / 14</td>
      <td class="rate">%T13CRGSTSN11 / %T13CRGSTSN12 / 14</td>
      <td class="rate">%T13CRGSTYM11 / %T13CRGSTYM12 / 14</td>
     </tr>
     <tr>
      <td class="stage">Stage2</td>
      <td class="rate">%T13CRGSTTL21 / %T13CRGSTTL22 / 16</td>
      <td class="rate">%T13CRGSTRM21 / %T13CRGSTRM22 / 16</td>
      <td class="rate">%T13CRGSTMR21 / %T13CRGSTMR22 / 16</td>
      <td class="rate">%T13CRGSTSN21 / %T13CRGSTSN22 / 16</td>
      <td class="rate">%T13CRGSTYM21 / %T13CRGSTYM22 / 16</td>
     </tr>
     <tr>
      <td class="stage">Stage3</td>
      <td class="rate">%T13CRGSTTL31 / %T13CRGSTTL32 / 14</td>
      <td class="rate">%T13CRGSTRM31 / %T13CRGSTRM32 / 14</td>
      <td class="rate">%T13CRGSTMR31 / %T13CRGSTMR32 / 14</td>
      <td class="rate">%T13CRGSTSN31 / %T13CRGSTSN32 / 14</td>
      <td class="rate">%T13CRGSTYM31 / %T13CRGSTYM32 / 14</td>
     </tr>
     <tr>
      <td class="stage">Stage4</td>
      <td class="rate">%T13CRGSTTL41 / %T13CRGSTTL42 / 15</td>
      <td class="rate">%T13CRGSTRM41 / %T13CRGSTRM42 / 15</td>
      <td class="rate">%T13CRGSTMR41 / %T13CRGSTMR42 / 15</td>
      <td class="rate">%T13CRGSTSN41 / %T13CRGSTSN42 / 15</td>
      <td class="rate">%T13CRGSTYM41 / %T13CRGSTYM42 / 15</td>
     </tr>
     <tr>
      <td class="stage">Stage5</td>
      <td class="rate">%T13CRGSTTL51 / %T13CRGSTTL52 / 19</td>
      <td class="rate">%T13CRGSTRM51 / %T13CRGSTRM52 / 19</td>
      <td class="rate">%T13CRGSTMR51 / %T13CRGSTMR52 / 19</td>
      <td class="rate">%T13CRGSTSN51 / %T13CRGSTSN52 / 19</td>
      <td class="rate">%T13CRGSTYM51 / %T13CRGSTYM52 / 19</td>
     </tr>
     <tr>
      <td class="stage">Stage6</td>
      <td class="rate">%T13CRGSTTL61 / %T13CRGSTTL62 / 28</td>
      <td class="rate">%T13CRGSTRM61 / %T13CRGSTRM62 / 28</td>
      <td class="rate">%T13CRGSTMR61 / %T13CRGSTMR62 / 28</td>
      <td class="rate">%T13CRGSTSN61 / %T13CRGSTSN62 / 28</td>
      <td class="rate">%T13CRGSTYM61 / %T13CRGSTYM62 / 28</td>
     </tr>
     <tr>
      <td class="stage">Extra</td>
      <td class="rate">%T13CRGSXTL01 / %T13CRGSXTL02 / 13</td>
      <td class="rate">%T13CRGSXRM01 / %T13CRGSXRM02 / 13</td>
      <td class="rate">%T13CRGSXMR01 / %T13CRGSXMR02 / 13</td>
      <td class="rate">%T13CRGSXSN01 / %T13CRGSXSN02 / 13</td>
      <td class="rate">%T13CRGSXYM01 / %T13CRGSXYM02 / 13</td>
     </tr>
    </tbody>
   </table>

  </div>

  <hr />

  <div class="section">
   <p>
    Data outputted by <a href="http://www.colorless-sight.jp/">ThScoreFileConverter</a>.
<script type="text/javascript">
<!--
    document.write("Last updated: ", document.lastModified, ".");
//-->
</script>
   </p>
  </div>

 </body>
</html>
