/*
 * th16.css
 *	Cascading style sheet for TH16 result files
 */

td.character {
	min-width: 100px;
}

td.name {
	min-width: 70px;
}

td.score {
	min-width: 70px;
}

td.level {
	min-width: 70px;
}

td.stage {
	min-width: 70px;
}

td.season {
	min-width: 50px;
}

td.date {
	min-width: 120px;
}

td.slow {
	min-width: 50px;
}
