<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">

 <head>
  <meta charset="UTF-8" />
  <title>東方紅魔郷 スコアデータ</title>
  <link rel="stylesheet" href="style.css" />
<style>
/* <![CDATA[ */
    td.score { min-width: 70px; }
    td.stage { min-width: 70px; }
    table.practice { float: left; }
/* ]]> */
</style>
 </head>

 <body>

  <header>
   <h1>東方紅魔郷 スコアデータ</h1>
   <hr />
   <nav>
    <ul>
     <li><a href="th06score1.html">スコアデータ全般</a></li>
     <li><a href="th06score2.html">個別ランキング</a></li>
     <li>プラクティス</li>
    </ul>
    <ul>
     <li><a href="#Easy">Easy</a></li>
     <li><a href="#Normal">Normal</a></li>
     <li><a href="#Hard">Hard</a></li>
     <li><a href="#Lunatic">Lunatic</a></li>
    </ul>
   </nav>
  </header>

  <main>

   <section>
    <h2 id="Easy">Easy</h2>

    <table class="practice">
     <caption>博麗 霊夢（霊）</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T06PRACERA1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T06PRACERA2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T06PRACERA3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T06PRACERA4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T06PRACERA5</td>
      </tr>
     </tbody>
    </table>

    <table class="practice">
     <caption>博麗 霊夢（夢）</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T06PRACERB1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T06PRACERB2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T06PRACERB3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T06PRACERB4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T06PRACERB5</td>
      </tr>
     </tbody>
    </table>

    <table class="practice">
     <caption>霧雨 魔理沙（魔）</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T06PRACEMA1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T06PRACEMA2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T06PRACEMA3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T06PRACEMA4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T06PRACEMA5</td>
      </tr>
     </tbody>
    </table>

    <table class="practice">
     <caption>霧雨 魔理沙（恋）</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T06PRACEMB1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T06PRACEMB2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T06PRACEMB3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T06PRACEMB4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T06PRACEMB5</td>
      </tr>
     </tbody>
    </table>

   </section>

   <hr />

   <section>
    <h2 id="Normal">Normal</h2>

    <table class="practice">
     <caption>博麗 霊夢（霊）</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T06PRACNRA1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T06PRACNRA2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T06PRACNRA3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T06PRACNRA4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T06PRACNRA5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T06PRACNRA6</td>
      </tr>
     </tbody>
    </table>

    <table class="practice">
     <caption>博麗 霊夢（夢）</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T06PRACNRB1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T06PRACNRB2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T06PRACNRB3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T06PRACNRB4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T06PRACNRB5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T06PRACNRB6</td>
      </tr>
     </tbody>
    </table>

    <table class="practice">
     <caption>霧雨 魔理沙（魔）</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T06PRACNMA1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T06PRACNMA2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T06PRACNMA3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T06PRACNMA4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T06PRACNMA5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T06PRACNMA6</td>
      </tr>
     </tbody>
    </table>

    <table class="practice">
     <caption>霧雨 魔理沙（恋）</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T06PRACNMB1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T06PRACNMB2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T06PRACNMB3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T06PRACNMB4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T06PRACNMB5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T06PRACNMB6</td>
      </tr>
     </tbody>
    </table>

   </section>

   <hr />

   <section>
    <h2 id="Hard">Hard</h2>

    <table class="practice">
     <caption>博麗 霊夢（霊）</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T06PRACHRA1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T06PRACHRA2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T06PRACHRA3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T06PRACHRA4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T06PRACHRA5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T06PRACHRA6</td>
      </tr>
     </tbody>
    </table>

    <table class="practice">
     <caption>博麗 霊夢（夢）</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T06PRACHRB1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T06PRACHRB2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T06PRACHRB3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T06PRACHRB4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T06PRACHRB5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T06PRACHRB6</td>
      </tr>
     </tbody>
    </table>

    <table class="practice">
     <caption>霧雨 魔理沙（魔）</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T06PRACHMA1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T06PRACHMA2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T06PRACHMA3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T06PRACHMA4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T06PRACHMA5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T06PRACHMA6</td>
      </tr>
     </tbody>
    </table>

    <table class="practice">
     <caption>霧雨 魔理沙（恋）</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T06PRACHMB1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T06PRACHMB2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T06PRACHMB3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T06PRACHMB4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T06PRACHMB5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T06PRACHMB6</td>
      </tr>
     </tbody>
    </table>

   </section>

   <hr />

   <section>
    <h2 id="Lunatic">Lunatic</h2>

    <table class="practice">
     <caption>博麗 霊夢（霊）</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T06PRACLRA1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T06PRACLRA2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T06PRACLRA3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T06PRACLRA4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T06PRACLRA5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T06PRACLRA6</td>
      </tr>
     </tbody>
    </table>

    <table class="practice">
     <caption>博麗 霊夢（夢）</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T06PRACLRB1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T06PRACLRB2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T06PRACLRB3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T06PRACLRB4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T06PRACLRB5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T06PRACLRB6</td>
      </tr>
     </tbody>
    </table>

    <table class="practice">
     <caption>霧雨 魔理沙（魔）</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T06PRACLMA1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T06PRACLMA2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T06PRACLMA3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T06PRACLMA4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T06PRACLMA5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T06PRACLMA6</td>
      </tr>
     </tbody>
    </table>

    <table class="practice">
     <caption>霧雨 魔理沙（恋）</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T06PRACLMB1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T06PRACLMB2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T06PRACLMB3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T06PRACLMB4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T06PRACLMB5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T06PRACLMB6</td>
      </tr>
     </tbody>
    </table>

   </section>

  </main>

  <footer>
   <p>
    Data output by <a href="https://www.colorless-sight.jp/thsfc/">ThScoreFileConverter</a>.
<script>
// <![CDATA[
    document.write("Last updated: ", document.lastModified, ".");
// ]]>
</script>
   </p>
  </footer>

 </body>
</html>
