<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">

 <head>
  <meta charset="UTF-8" />
  <title>東方文花帖 スコアデータ</title>
  <link rel="stylesheet" href="style.css" />
<style>
/* <![CDATA[ */
    td.scene { min-width: 70px; }
    td.target { min-width: 240px; }
    td.number { min-width: 70px; }
    td.slow { min-width: 70px; }
    table.score_per_level td.bestshot { min-width: 110px; }
    table.score_per_level tbody td.bestshot { text-align: right; }
    table.score_total tbody td.bestshot { text-align: right; }
/* ]]> */
</style>
 </head>

 <body>

  <header>
   <h1>東方文花帖 スコアデータ全般</h1>
   <hr />
   <nav>
    <ul>
     <li>スコアデータ全般</li>
     <li><a href="th095bestshot.html">ベストショット一覧</a></li>
    </ul>
    <ul>
     <li><a href="#Level1">Level 1</a></li>
     <li><a href="#Level2">Level 2</a></li>
     <li><a href="#Level3">Level 3</a></li>
     <li><a href="#Level4">Level 4</a></li>
     <li><a href="#Level5">Level 5</a></li>
     <li><a href="#Level6">Level 6</a></li>
     <li><a href="#Level7">Level 7</a></li>
     <li><a href="#Level8">Level 8</a></li>
     <li><a href="#Level9">Level 9</a></li>
     <li><a href="#Level10">Level 10</a></li>
     <li><a href="#Extra">Level Extra</a></li>
     <li><a href="#Total">Total</a></li>
    </ul>
   </nav>
  </header>

  <main>

   <section>
    <h2>レベル別スコア</h2>

    <table class="score_per_level">
     <caption id="Level1">Level 1</caption>
     <thead>
      <tr>
       <th class="scene">Scene</th>
       <th class="target">撮影対象</th>
       <th class="score">ハイスコア</th>
       <th class="bestshot">ベストショットスコア</th>
       <th class="number">撮影枚数</th>
       <th class="slow">処理落ち率</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="scene">Scene 1</td>
       <td class="target">%T95CARD112<br />（%T95CARD111）</td>
       <td class="score">%T95SCR111</td>
       <td class="bestshot">%T95SCR112</td>
       <td class="number">%T95SCR113</td>
       <td class="slow">%T95SCR114</td>
      </tr>
      <tr>
       <td class="scene">Scene 2</td>
       <td class="target">%T95CARD122<br />（%T95CARD121）</td>
       <td class="score">%T95SCR121</td>
       <td class="bestshot">%T95SCR122</td>
       <td class="number">%T95SCR123</td>
       <td class="slow">%T95SCR124</td>
      </tr>
      <tr>
       <td class="scene">Scene 3</td>
       <td class="target">%T95CARD132<br />（%T95CARD131）</td>
       <td class="score">%T95SCR131</td>
       <td class="bestshot">%T95SCR132</td>
       <td class="number">%T95SCR133</td>
       <td class="slow">%T95SCR134</td>
      </tr>
      <tr>
       <td class="scene">Scene 4</td>
       <td class="target">%T95CARD142<br />（%T95CARD141）</td>
       <td class="score">%T95SCR141</td>
       <td class="bestshot">%T95SCR142</td>
       <td class="number">%T95SCR143</td>
       <td class="slow">%T95SCR144</td>
      </tr>
      <tr>
       <td class="scene">Scene 5</td>
       <td class="target">%T95CARD152<br />（%T95CARD151）</td>
       <td class="score">%T95SCR151</td>
       <td class="bestshot">%T95SCR152</td>
       <td class="number">%T95SCR153</td>
       <td class="slow">%T95SCR154</td>
      </tr>
      <tr>
       <td class="scene">Scene 6</td>
       <td class="target">%T95CARD162<br />（%T95CARD161）</td>
       <td class="score">%T95SCR161</td>
       <td class="bestshot">%T95SCR162</td>
       <td class="number">%T95SCR163</td>
       <td class="slow">%T95SCR164</td>
      </tr>
     </tbody>
    </table>

    <table class="score_per_level">
     <caption id="Level2">Level 2</caption>
     <thead>
      <tr>
       <th class="scene">Scene</th>
       <th class="target">撮影対象</th>
       <th class="score">ハイスコア</th>
       <th class="bestshot">ベストショットスコア</th>
       <th class="number">撮影枚数</th>
       <th class="rate">処理落ち率</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="scene">Scene 1</td>
       <td class="target">%T95CARD212<br />（%T95CARD211）</td>
       <td class="score">%T95SCR211</td>
       <td class="bestshot">%T95SCR212</td>
       <td class="number">%T95SCR213</td>
       <td class="slow">%T95SCR214</td>
      </tr>
      <tr>
       <td class="scene">Scene 2</td>
       <td class="target">%T95CARD222<br />（%T95CARD221）</td>
       <td class="score">%T95SCR221</td>
       <td class="bestshot">%T95SCR222</td>
       <td class="number">%T95SCR223</td>
       <td class="slow">%T95SCR224</td>
      </tr>
      <tr>
       <td class="scene">Scene 3</td>
       <td class="target">%T95CARD232<br />（%T95CARD231）</td>
       <td class="score">%T95SCR231</td>
       <td class="bestshot">%T95SCR232</td>
       <td class="number">%T95SCR233</td>
       <td class="slow">%T95SCR234</td>
      </tr>
      <tr>
       <td class="scene">Scene 4</td>
       <td class="target">%T95CARD242<br />（%T95CARD241）</td>
       <td class="score">%T95SCR241</td>
       <td class="bestshot">%T95SCR242</td>
       <td class="number">%T95SCR243</td>
       <td class="slow">%T95SCR244</td>
      </tr>
      <tr>
       <td class="scene">Scene 5</td>
       <td class="target">%T95CARD252<br />（%T95CARD251）</td>
       <td class="score">%T95SCR251</td>
       <td class="bestshot">%T95SCR252</td>
       <td class="number">%T95SCR253</td>
       <td class="slow">%T95SCR254</td>
      </tr>
      <tr>
       <td class="scene">Scene 6</td>
       <td class="target">%T95CARD262<br />（%T95CARD261）</td>
       <td class="score">%T95SCR261</td>
       <td class="bestshot">%T95SCR262</td>
       <td class="number">%T95SCR263</td>
       <td class="slow">%T95SCR264</td>
      </tr>
     </tbody>
    </table>

    <table class="score_per_level">
     <caption id="Level3">Level 3</caption>
     <thead>
      <tr>
       <th class="scene">Scene</th>
       <th class="target">撮影対象</th>
       <th class="score">ハイスコア</th>
       <th class="bestshot">ベストショットスコア</th>
       <th class="number">撮影枚数</th>
       <th class="rate">処理落ち率</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="scene">Scene 1</td>
       <td class="target">%T95CARD312<br />（%T95CARD311）</td>
       <td class="score">%T95SCR311</td>
       <td class="bestshot">%T95SCR312</td>
       <td class="number">%T95SCR313</td>
       <td class="slow">%T95SCR314</td>
      </tr>
      <tr>
       <td class="scene">Scene 2</td>
       <td class="target">%T95CARD322<br />（%T95CARD321）</td>
       <td class="score">%T95SCR321</td>
       <td class="bestshot">%T95SCR322</td>
       <td class="number">%T95SCR323</td>
       <td class="slow">%T95SCR324</td>
      </tr>
      <tr>
       <td class="scene">Scene 3</td>
       <td class="target">%T95CARD332<br />（%T95CARD331）</td>
       <td class="score">%T95SCR331</td>
       <td class="bestshot">%T95SCR332</td>
       <td class="number">%T95SCR333</td>
       <td class="slow">%T95SCR334</td>
      </tr>
      <tr>
       <td class="scene">Scene 4</td>
       <td class="target">%T95CARD342<br />（%T95CARD341）</td>
       <td class="score">%T95SCR341</td>
       <td class="bestshot">%T95SCR342</td>
       <td class="number">%T95SCR343</td>
       <td class="slow">%T95SCR344</td>
      </tr>
      <tr>
       <td class="scene">Scene 5</td>
       <td class="target">%T95CARD352<br />（%T95CARD351）</td>
       <td class="score">%T95SCR351</td>
       <td class="bestshot">%T95SCR352</td>
       <td class="number">%T95SCR353</td>
       <td class="slow">%T95SCR354</td>
      </tr>
      <tr>
       <td class="scene">Scene 6</td>
       <td class="target">%T95CARD362<br />（%T95CARD361）</td>
       <td class="score">%T95SCR361</td>
       <td class="bestshot">%T95SCR362</td>
       <td class="number">%T95SCR363</td>
       <td class="slow">%T95SCR364</td>
      </tr>
      <tr>
       <td class="scene">Scene 7</td>
       <td class="target">%T95CARD372<br />（%T95CARD371）</td>
       <td class="score">%T95SCR371</td>
       <td class="bestshot">%T95SCR372</td>
       <td class="number">%T95SCR373</td>
       <td class="slow">%T95SCR374</td>
      </tr>
      <tr>
       <td class="scene">Scene 8</td>
       <td class="target">%T95CARD382<br />（%T95CARD381）</td>
       <td class="score">%T95SCR381</td>
       <td class="bestshot">%T95SCR382</td>
       <td class="number">%T95SCR383</td>
       <td class="slow">%T95SCR384</td>
      </tr>
     </tbody>
    </table>

    <table class="score_per_level">
     <caption id="Level4">Level 4</caption>
     <thead>
      <tr>
       <th class="scene">Scene</th>
       <th class="target">撮影対象</th>
       <th class="score">ハイスコア</th>
       <th class="bestshot">ベストショットスコア</th>
       <th class="number">撮影枚数</th>
       <th class="rate">処理落ち率</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="scene">Scene 1</td>
       <td class="target">%T95CARD412<br />（%T95CARD411）</td>
       <td class="score">%T95SCR411</td>
       <td class="bestshot">%T95SCR412</td>
       <td class="number">%T95SCR413</td>
       <td class="slow">%T95SCR414</td>
      </tr>
      <tr>
       <td class="scene">Scene 2</td>
       <td class="target">%T95CARD422<br />（%T95CARD421）</td>
       <td class="score">%T95SCR421</td>
       <td class="bestshot">%T95SCR422</td>
       <td class="number">%T95SCR423</td>
       <td class="slow">%T95SCR424</td>
      </tr>
      <tr>
       <td class="scene">Scene 3</td>
       <td class="target">%T95CARD432<br />（%T95CARD431）</td>
       <td class="score">%T95SCR431</td>
       <td class="bestshot">%T95SCR432</td>
       <td class="number">%T95SCR433</td>
       <td class="slow">%T95SCR434</td>
      </tr>
      <tr>
       <td class="scene">Scene 4</td>
       <td class="target">%T95CARD442<br />（%T95CARD441）</td>
       <td class="score">%T95SCR441</td>
       <td class="bestshot">%T95SCR442</td>
       <td class="number">%T95SCR443</td>
       <td class="slow">%T95SCR444</td>
      </tr>
      <tr>
       <td class="scene">Scene 5</td>
       <td class="target">%T95CARD452<br />（%T95CARD451）</td>
       <td class="score">%T95SCR451</td>
       <td class="bestshot">%T95SCR452</td>
       <td class="number">%T95SCR453</td>
       <td class="slow">%T95SCR454</td>
      </tr>
      <tr>
       <td class="scene">Scene 6</td>
       <td class="target">%T95CARD462<br />（%T95CARD461）</td>
       <td class="score">%T95SCR461</td>
       <td class="bestshot">%T95SCR462</td>
       <td class="number">%T95SCR463</td>
       <td class="slow">%T95SCR464</td>
      </tr>
      <tr>
       <td class="scene">Scene 7</td>
       <td class="target">%T95CARD472<br />（%T95CARD471）</td>
       <td class="score">%T95SCR471</td>
       <td class="bestshot">%T95SCR472</td>
       <td class="number">%T95SCR473</td>
       <td class="slow">%T95SCR474</td>
      </tr>
      <tr>
       <td class="scene">Scene 8</td>
       <td class="target">%T95CARD482<br />（%T95CARD481）</td>
       <td class="score">%T95SCR481</td>
       <td class="bestshot">%T95SCR482</td>
       <td class="number">%T95SCR483</td>
       <td class="slow">%T95SCR484</td>
      </tr>
      <tr>
       <td class="scene">Scene 9</td>
       <td class="target">%T95CARD492<br />（%T95CARD491）</td>
       <td class="score">%T95SCR491</td>
       <td class="bestshot">%T95SCR492</td>
       <td class="number">%T95SCR493</td>
       <td class="slow">%T95SCR494</td>
      </tr>
     </tbody>
    </table>

    <table class="score_per_level">
     <caption id="Level5">Level 5</caption>
     <thead>
      <tr>
       <th class="scene">Scene</th>
       <th class="target">撮影対象</th>
       <th class="score">ハイスコア</th>
       <th class="bestshot">ベストショットスコア</th>
       <th class="number">撮影枚数</th>
       <th class="rate">処理落ち率</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="scene">Scene 1</td>
       <td class="target">%T95CARD512<br />（%T95CARD511）</td>
       <td class="score">%T95SCR511</td>
       <td class="bestshot">%T95SCR512</td>
       <td class="number">%T95SCR513</td>
       <td class="slow">%T95SCR514</td>
      </tr>
      <tr>
       <td class="scene">Scene 2</td>
       <td class="target">%T95CARD522<br />（%T95CARD521）</td>
       <td class="score">%T95SCR521</td>
       <td class="bestshot">%T95SCR522</td>
       <td class="number">%T95SCR523</td>
       <td class="slow">%T95SCR524</td>
      </tr>
      <tr>
       <td class="scene">Scene 3</td>
       <td class="target">%T95CARD532<br />（%T95CARD531）</td>
       <td class="score">%T95SCR531</td>
       <td class="bestshot">%T95SCR532</td>
       <td class="number">%T95SCR533</td>
       <td class="slow">%T95SCR534</td>
      </tr>
      <tr>
       <td class="scene">Scene 4</td>
       <td class="target">%T95CARD542<br />（%T95CARD541）</td>
       <td class="score">%T95SCR541</td>
       <td class="bestshot">%T95SCR542</td>
       <td class="number">%T95SCR543</td>
       <td class="slow">%T95SCR544</td>
      </tr>
      <tr>
       <td class="scene">Scene 5</td>
       <td class="target">%T95CARD552<br />（%T95CARD551）</td>
       <td class="score">%T95SCR551</td>
       <td class="bestshot">%T95SCR552</td>
       <td class="number">%T95SCR553</td>
       <td class="slow">%T95SCR554</td>
      </tr>
      <tr>
       <td class="scene">Scene 6</td>
       <td class="target">%T95CARD562<br />（%T95CARD561）</td>
       <td class="score">%T95SCR561</td>
       <td class="bestshot">%T95SCR562</td>
       <td class="number">%T95SCR563</td>
       <td class="slow">%T95SCR564</td>
      </tr>
      <tr>
       <td class="scene">Scene 7</td>
       <td class="target">%T95CARD572<br />（%T95CARD571）</td>
       <td class="score">%T95SCR571</td>
       <td class="bestshot">%T95SCR572</td>
       <td class="number">%T95SCR573</td>
       <td class="slow">%T95SCR574</td>
      </tr>
      <tr>
       <td class="scene">Scene 8</td>
       <td class="target">%T95CARD582<br />（%T95CARD581）</td>
       <td class="score">%T95SCR581</td>
       <td class="bestshot">%T95SCR582</td>
       <td class="number">%T95SCR583</td>
       <td class="slow">%T95SCR584</td>
      </tr>
     </tbody>
    </table>

    <table class="score_per_level">
     <caption id="Level6">Level 6</caption>
     <thead>
      <tr>
       <th class="scene">Scene</th>
       <th class="target">撮影対象</th>
       <th class="score">ハイスコア</th>
       <th class="bestshot">ベストショットスコア</th>
       <th class="number">撮影枚数</th>
       <th class="rate">処理落ち率</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="scene">Scene 1</td>
       <td class="target">%T95CARD612<br />（%T95CARD611）</td>
       <td class="score">%T95SCR611</td>
       <td class="bestshot">%T95SCR612</td>
       <td class="number">%T95SCR613</td>
       <td class="slow">%T95SCR614</td>
      </tr>
      <tr>
       <td class="scene">Scene 2</td>
       <td class="target">%T95CARD622<br />（%T95CARD621）</td>
       <td class="score">%T95SCR621</td>
       <td class="bestshot">%T95SCR622</td>
       <td class="number">%T95SCR623</td>
       <td class="slow">%T95SCR624</td>
      </tr>
      <tr>
       <td class="scene">Scene 3</td>
       <td class="target">%T95CARD632<br />（%T95CARD631）</td>
       <td class="score">%T95SCR631</td>
       <td class="bestshot">%T95SCR632</td>
       <td class="number">%T95SCR633</td>
       <td class="slow">%T95SCR634</td>
      </tr>
      <tr>
       <td class="scene">Scene 4</td>
       <td class="target">%T95CARD642<br />（%T95CARD641）</td>
       <td class="score">%T95SCR641</td>
       <td class="bestshot">%T95SCR642</td>
       <td class="number">%T95SCR643</td>
       <td class="slow">%T95SCR644</td>
      </tr>
      <tr>
       <td class="scene">Scene 5</td>
       <td class="target">%T95CARD652<br />（%T95CARD651）</td>
       <td class="score">%T95SCR651</td>
       <td class="bestshot">%T95SCR652</td>
       <td class="number">%T95SCR653</td>
       <td class="slow">%T95SCR654</td>
      </tr>
      <tr>
       <td class="scene">Scene 6</td>
       <td class="target">%T95CARD662<br />（%T95CARD661）</td>
       <td class="score">%T95SCR661</td>
       <td class="bestshot">%T95SCR662</td>
       <td class="number">%T95SCR663</td>
       <td class="slow">%T95SCR664</td>
      </tr>
      <tr>
       <td class="scene">Scene 7</td>
       <td class="target">%T95CARD672<br />（%T95CARD671）</td>
       <td class="score">%T95SCR671</td>
       <td class="bestshot">%T95SCR672</td>
       <td class="number">%T95SCR673</td>
       <td class="slow">%T95SCR674</td>
      </tr>
      <tr>
       <td class="scene">Scene 8</td>
       <td class="target">%T95CARD682<br />（%T95CARD681）</td>
       <td class="score">%T95SCR681</td>
       <td class="bestshot">%T95SCR682</td>
       <td class="number">%T95SCR683</td>
       <td class="slow">%T95SCR684</td>
      </tr>
     </tbody>
    </table>

    <table class="score_per_level">
     <caption id="Level7">Level 7</caption>
     <thead>
      <tr>
       <th class="scene">Scene</th>
       <th class="target">撮影対象</th>
       <th class="score">ハイスコア</th>
       <th class="bestshot">ベストショットスコア</th>
       <th class="number">撮影枚数</th>
       <th class="rate">処理落ち率</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="scene">Scene 1</td>
       <td class="target">%T95CARD712<br />（%T95CARD711）</td>
       <td class="score">%T95SCR711</td>
       <td class="bestshot">%T95SCR712</td>
       <td class="number">%T95SCR713</td>
       <td class="slow">%T95SCR714</td>
      </tr>
      <tr>
       <td class="scene">Scene 2</td>
       <td class="target">%T95CARD722<br />（%T95CARD721）</td>
       <td class="score">%T95SCR721</td>
       <td class="bestshot">%T95SCR722</td>
       <td class="number">%T95SCR723</td>
       <td class="slow">%T95SCR724</td>
      </tr>
      <tr>
       <td class="scene">Scene 3</td>
       <td class="target">%T95CARD732<br />（%T95CARD731）</td>
       <td class="score">%T95SCR731</td>
       <td class="bestshot">%T95SCR732</td>
       <td class="number">%T95SCR733</td>
       <td class="slow">%T95SCR734</td>
      </tr>
      <tr>
       <td class="scene">Scene 4</td>
       <td class="target">%T95CARD742<br />（%T95CARD741）</td>
       <td class="score">%T95SCR741</td>
       <td class="bestshot">%T95SCR742</td>
       <td class="number">%T95SCR743</td>
       <td class="slow">%T95SCR744</td>
      </tr>
      <tr>
       <td class="scene">Scene 5</td>
       <td class="target">%T95CARD752<br />（%T95CARD751）</td>
       <td class="score">%T95SCR751</td>
       <td class="bestshot">%T95SCR752</td>
       <td class="number">%T95SCR753</td>
       <td class="slow">%T95SCR754</td>
      </tr>
      <tr>
       <td class="scene">Scene 6</td>
       <td class="target">%T95CARD762<br />（%T95CARD761）</td>
       <td class="score">%T95SCR761</td>
       <td class="bestshot">%T95SCR762</td>
       <td class="number">%T95SCR763</td>
       <td class="slow">%T95SCR764</td>
      </tr>
      <tr>
       <td class="scene">Scene 7</td>
       <td class="target">%T95CARD772<br />（%T95CARD771）</td>
       <td class="score">%T95SCR771</td>
       <td class="bestshot">%T95SCR772</td>
       <td class="number">%T95SCR773</td>
       <td class="slow">%T95SCR774</td>
      </tr>
      <tr>
       <td class="scene">Scene 8</td>
       <td class="target">%T95CARD782<br />（%T95CARD781）</td>
       <td class="score">%T95SCR781</td>
       <td class="bestshot">%T95SCR782</td>
       <td class="number">%T95SCR783</td>
       <td class="slow">%T95SCR784</td>
      </tr>
     </tbody>
    </table>

    <table class="score_per_level">
     <caption id="Level8">Level 8</caption>
     <thead>
      <tr>
       <th class="scene">Scene</th>
       <th class="target">撮影対象</th>
       <th class="score">ハイスコア</th>
       <th class="bestshot">ベストショットスコア</th>
       <th class="number">撮影枚数</th>
       <th class="rate">処理落ち率</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="scene">Scene 1</td>
       <td class="target">%T95CARD812<br />（%T95CARD811）</td>
       <td class="score">%T95SCR811</td>
       <td class="bestshot">%T95SCR812</td>
       <td class="number">%T95SCR813</td>
       <td class="slow">%T95SCR814</td>
      </tr>
      <tr>
       <td class="scene">Scene 2</td>
       <td class="target">%T95CARD822<br />（%T95CARD821）</td>
       <td class="score">%T95SCR821</td>
       <td class="bestshot">%T95SCR822</td>
       <td class="number">%T95SCR823</td>
       <td class="slow">%T95SCR824</td>
      </tr>
      <tr>
       <td class="scene">Scene 3</td>
       <td class="target">%T95CARD832<br />（%T95CARD831）</td>
       <td class="score">%T95SCR831</td>
       <td class="bestshot">%T95SCR832</td>
       <td class="number">%T95SCR833</td>
       <td class="slow">%T95SCR834</td>
      </tr>
      <tr>
       <td class="scene">Scene 4</td>
       <td class="target">%T95CARD842<br />（%T95CARD841）</td>
       <td class="score">%T95SCR841</td>
       <td class="bestshot">%T95SCR842</td>
       <td class="number">%T95SCR843</td>
       <td class="slow">%T95SCR844</td>
      </tr>
      <tr>
       <td class="scene">Scene 5</td>
       <td class="target">%T95CARD852<br />（%T95CARD851）</td>
       <td class="score">%T95SCR851</td>
       <td class="bestshot">%T95SCR852</td>
       <td class="number">%T95SCR853</td>
       <td class="slow">%T95SCR854</td>
      </tr>
      <tr>
       <td class="scene">Scene 6</td>
       <td class="target">%T95CARD862<br />（%T95CARD861）</td>
       <td class="score">%T95SCR861</td>
       <td class="bestshot">%T95SCR862</td>
       <td class="number">%T95SCR863</td>
       <td class="slow">%T95SCR864</td>
      </tr>
      <tr>
       <td class="scene">Scene 7</td>
       <td class="target">%T95CARD872<br />（%T95CARD871）</td>
       <td class="score">%T95SCR871</td>
       <td class="bestshot">%T95SCR872</td>
       <td class="number">%T95SCR873</td>
       <td class="slow">%T95SCR874</td>
      </tr>
      <tr>
       <td class="scene">Scene 8</td>
       <td class="target">%T95CARD882<br />（%T95CARD881）</td>
       <td class="score">%T95SCR881</td>
       <td class="bestshot">%T95SCR882</td>
       <td class="number">%T95SCR883</td>
       <td class="slow">%T95SCR884</td>
      </tr>
     </tbody>
    </table>

    <table class="score_per_level">
     <caption id="Level9">Level 9</caption>
     <thead>
      <tr>
       <th class="scene">Scene</th>
       <th class="target">撮影対象</th>
       <th class="score">ハイスコア</th>
       <th class="bestshot">ベストショットスコア</th>
       <th class="number">撮影枚数</th>
       <th class="rate">処理落ち率</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="scene">Scene 1</td>
       <td class="target">%T95CARD912<br />（%T95CARD911）</td>
       <td class="score">%T95SCR911</td>
       <td class="bestshot">%T95SCR912</td>
       <td class="number">%T95SCR913</td>
       <td class="slow">%T95SCR914</td>
      </tr>
      <tr>
       <td class="scene">Scene 2</td>
       <td class="target">%T95CARD922<br />（%T95CARD921）</td>
       <td class="score">%T95SCR921</td>
       <td class="bestshot">%T95SCR922</td>
       <td class="number">%T95SCR923</td>
       <td class="slow">%T95SCR924</td>
      </tr>
      <tr>
       <td class="scene">Scene 3</td>
       <td class="target">%T95CARD932<br />（%T95CARD931）</td>
       <td class="score">%T95SCR931</td>
       <td class="bestshot">%T95SCR932</td>
       <td class="number">%T95SCR933</td>
       <td class="slow">%T95SCR934</td>
      </tr>
      <tr>
       <td class="scene">Scene 4</td>
       <td class="target">%T95CARD942<br />（%T95CARD941）</td>
       <td class="score">%T95SCR941</td>
       <td class="bestshot">%T95SCR942</td>
       <td class="number">%T95SCR943</td>
       <td class="slow">%T95SCR944</td>
      </tr>
      <tr>
       <td class="scene">Scene 5</td>
       <td class="target">%T95CARD952<br />（%T95CARD951）</td>
       <td class="score">%T95SCR951</td>
       <td class="bestshot">%T95SCR952</td>
       <td class="number">%T95SCR953</td>
       <td class="slow">%T95SCR954</td>
      </tr>
      <tr>
       <td class="scene">Scene 6</td>
       <td class="target">%T95CARD962<br />（%T95CARD961）</td>
       <td class="score">%T95SCR961</td>
       <td class="bestshot">%T95SCR962</td>
       <td class="number">%T95SCR963</td>
       <td class="slow">%T95SCR964</td>
      </tr>
      <tr>
       <td class="scene">Scene 7</td>
       <td class="target">%T95CARD972<br />（%T95CARD971）</td>
       <td class="score">%T95SCR971</td>
       <td class="bestshot">%T95SCR972</td>
       <td class="number">%T95SCR973</td>
       <td class="slow">%T95SCR974</td>
      </tr>
      <tr>
       <td class="scene">Scene 8</td>
       <td class="target">%T95CARD982<br />（%T95CARD981）</td>
       <td class="score">%T95SCR981</td>
       <td class="bestshot">%T95SCR982</td>
       <td class="number">%T95SCR983</td>
       <td class="slow">%T95SCR984</td>
      </tr>
     </tbody>
    </table>

    <table class="score_per_level">
     <caption id="Level10">Level 10</caption>
     <thead>
      <tr>
       <th class="scene">Scene</th>
       <th class="target">撮影対象</th>
       <th class="score">ハイスコア</th>
       <th class="bestshot">ベストショットスコア</th>
       <th class="number">撮影枚数</th>
       <th class="rate">処理落ち率</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="scene">Scene 1</td>
       <td class="target">%T95CARD012<br />（%T95CARD011）</td>
       <td class="score">%T95SCR011</td>
       <td class="bestshot">%T95SCR012</td>
       <td class="number">%T95SCR013</td>
       <td class="slow">%T95SCR014</td>
      </tr>
      <tr>
       <td class="scene">Scene 2</td>
       <td class="target">%T95CARD022<br />（%T95CARD021）</td>
       <td class="score">%T95SCR021</td>
       <td class="bestshot">%T95SCR022</td>
       <td class="number">%T95SCR023</td>
       <td class="slow">%T95SCR024</td>
      </tr>
      <tr>
       <td class="scene">Scene 3</td>
       <td class="target">%T95CARD032<br />（%T95CARD031）</td>
       <td class="score">%T95SCR031</td>
       <td class="bestshot">%T95SCR032</td>
       <td class="number">%T95SCR033</td>
       <td class="slow">%T95SCR034</td>
      </tr>
      <tr>
       <td class="scene">Scene 4</td>
       <td class="target">%T95CARD042<br />（%T95CARD041）</td>
       <td class="score">%T95SCR041</td>
       <td class="bestshot">%T95SCR042</td>
       <td class="number">%T95SCR043</td>
       <td class="slow">%T95SCR044</td>
      </tr>
      <tr>
       <td class="scene">Scene 5</td>
       <td class="target">%T95CARD052<br />（%T95CARD051）</td>
       <td class="score">%T95SCR051</td>
       <td class="bestshot">%T95SCR052</td>
       <td class="number">%T95SCR053</td>
       <td class="slow">%T95SCR054</td>
      </tr>
      <tr>
       <td class="scene">Scene 6</td>
       <td class="target">%T95CARD062<br />（%T95CARD061）</td>
       <td class="score">%T95SCR061</td>
       <td class="bestshot">%T95SCR062</td>
       <td class="number">%T95SCR063</td>
       <td class="slow">%T95SCR064</td>
      </tr>
      <tr>
       <td class="scene">Scene 7</td>
       <td class="target">%T95CARD072<br />（%T95CARD071）</td>
       <td class="score">%T95SCR071</td>
       <td class="bestshot">%T95SCR072</td>
       <td class="number">%T95SCR073</td>
       <td class="slow">%T95SCR074</td>
      </tr>
      <tr>
       <td class="scene">Scene 8</td>
       <td class="target">%T95CARD082<br />（%T95CARD081）</td>
       <td class="score">%T95SCR081</td>
       <td class="bestshot">%T95SCR082</td>
       <td class="number">%T95SCR083</td>
       <td class="slow">%T95SCR084</td>
      </tr>
     </tbody>
    </table>

    <table class="score_per_level">
     <caption id="Extra">Level Extra</caption>
     <thead>
      <tr>
       <th class="scene">Scene</th>
       <th class="target">撮影対象</th>
       <th class="score">ハイスコア</th>
       <th class="bestshot">ベストショットスコア</th>
       <th class="number">撮影枚数</th>
       <th class="rate">処理落ち率</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="scene">Scene 1</td>
       <td class="target">%T95CARDX12<br />（%T95CARDX11）</td>
       <td class="score">%T95SCRX11</td>
       <td class="bestshot">%T95SCRX12</td>
       <td class="number">%T95SCRX13</td>
       <td class="slow">%T95SCRX14</td>
      </tr>
      <tr>
       <td class="scene">Scene 2</td>
       <td class="target">%T95CARDX22<br />（%T95CARDX21）</td>
       <td class="score">%T95SCRX21</td>
       <td class="bestshot">%T95SCRX22</td>
       <td class="number">%T95SCRX23</td>
       <td class="slow">%T95SCRX24</td>
      </tr>
      <tr>
       <td class="scene">Scene 3</td>
       <td class="target">%T95CARDX32<br />（%T95CARDX31）</td>
       <td class="score">%T95SCRX31</td>
       <td class="bestshot">%T95SCRX32</td>
       <td class="number">%T95SCRX33</td>
       <td class="slow">%T95SCRX34</td>
      </tr>
      <tr>
       <td class="scene">Scene 4</td>
       <td class="target">%T95CARDX42<br />（%T95CARDX41）</td>
       <td class="score">%T95SCRX41</td>
       <td class="bestshot">%T95SCRX42</td>
       <td class="number">%T95SCRX43</td>
       <td class="slow">%T95SCRX44</td>
      </tr>
      <tr>
       <td class="scene">Scene 5</td>
       <td class="target">%T95CARDX52<br />（%T95CARDX51）</td>
       <td class="score">%T95SCRX51</td>
       <td class="bestshot">%T95SCRX52</td>
       <td class="number">%T95SCRX53</td>
       <td class="slow">%T95SCRX54</td>
      </tr>
      <tr>
       <td class="scene">Scene 6</td>
       <td class="target">%T95CARDX62<br />（%T95CARDX61）</td>
       <td class="score">%T95SCRX61</td>
       <td class="bestshot">%T95SCRX62</td>
       <td class="number">%T95SCRX63</td>
       <td class="slow">%T95SCRX64</td>
      </tr>
      <tr>
       <td class="scene">Scene 7</td>
       <td class="target">%T95CARDX72<br />（%T95CARDX71）</td>
       <td class="score">%T95SCRX71</td>
       <td class="bestshot">%T95SCRX72</td>
       <td class="number">%T95SCRX73</td>
       <td class="slow">%T95SCRX74</td>
      </tr>
      <tr>
       <td class="scene">Scene 8</td>
       <td class="target">%T95CARDX82<br />（%T95CARDX81）</td>
       <td class="score">%T95SCRX81</td>
       <td class="bestshot">%T95SCRX82</td>
       <td class="number">%T95SCRX83</td>
       <td class="slow">%T95SCRX84</td>
      </tr>
     </tbody>
    </table>

    <table class="score_total">
     <caption id="Total">Total</caption>
     <tbody>
      <tr>
       <th scope="row">撮影総合評価点</th>
       <td class="score">%T95SCRTL1</td>
      </tr>
      <tr>
       <th scope="row">登録済みベストショットの総スコア</th>
       <td class="bestshot">%T95SCRTL2</td>
      </tr>
      <tr>
       <th scope="row">総撮影枚数</th>
       <td class="number">%T95SCRTL3</td>
      </tr>
      <tr>
       <th scope="row">撮影に成功した総シーン数</th>
       <td class="rate">%T95SCRTL4 / 85</td>
      </tr>
     </tbody>
    </table>
   </section>

  </main>

  <footer>
   <p>
    Data output by <a href="https://www.colorless-sight.jp/thsfc/">ThScoreFileConverter</a>.
<script>
// <![CDATA[
    document.write("Last updated: ", document.lastModified, ".");
// ]]>
</script>
   </p>
  </footer>

 </body>
</html>
