<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">

 <head>
  <meta charset="UTF-8" />
  <title>ダブルスポイラー スコアデータ</title>
  <link rel="stylesheet" href="style.css" />
<style>
/* <![CDATA[ */
    td.scene { min-width: 50px; }
    td.target { min-width: 240px; }
    td.score { min-width: 50px; }
    td.number { min-width: 70px; }
    td.date { min-width: 120px; }
    table.score_per_level td.bestshot { min-width: 110px; }
    table.score_per_level tbody td.bestshot { text-align: right; }
    table.score_total tbody td.bestshot { text-align: right; }
    table.score_total td.playtime { min-width: 100px; }
/* ]]> */
</style>
 </head>

 <body>

  <header>
   <h1>ダブルスポイラー スコアデータ全般</h1>
   <hr />
   <nav>
    <ul>
     <li>文 スコアデータ全般</li>
     <li><a href="th125bestshot1.html">文 ベストショット一覧</a></li>
     <li><a href="th125score2.html">はたて スコアデータ全般</a></li>
     <li><a href="th125bestshot2.html">はたて ベストショット一覧</a></li>
    </ul>
    <ul>
     <li><a href="#Level1">Level 1</a></li>
     <li><a href="#Level2">Level 2</a></li>
     <li><a href="#Level3">Level 3</a></li>
     <li><a href="#Level4">Level 4</a></li>
     <li><a href="#Level5">Level 5</a></li>
     <li><a href="#Level6">Level 6</a></li>
     <li><a href="#Level7">Level 7</a></li>
     <li><a href="#Level8">Level 8</a></li>
     <li><a href="#Level9">Level 9</a></li>
     <li><a href="#Level10">Level 10</a></li>
     <li><a href="#Level11">Level 11</a></li>
     <li><a href="#Level12">Level 12</a></li>
     <li><a href="#LevelEX">Level EX</a></li>
     <li><a href="#SPOILER">SPOILER</a></li>
     <li><a href="#Total">Total</a></li>
    </ul>
   </nav>
  </header>

  <main>

   <section>
    <h2>レベル別スコア</h2>

    <table class="score_per_level">
     <caption id="Level1">Level 1</caption>
     <thead>
      <tr>
       <th class="scene">シーン</th>
       <th class="target">撮影対象</th>
       <th class="score">得点</th>
       <th class="bestshot">ベストショット得点</th>
       <th class="number">撮影枚数</th>
       <th class="number">初成功時枚数</th>
       <th class="date">日時</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="scene">1-1</td>
       <td class="target">%T125CARD112<br />（%T125CARD111）</td>
       <td class="score">%T125SCRA111</td>
       <td class="bestshot">%T125SCRA112</td>
       <td class="number">%T125SCRA113</td>
       <td class="number">%T125SCRA114</td>
       <td class="date">%T125SCRA115</td>
      </tr>
      <tr>
       <td class="scene">1-2</td>
       <td class="target">%T125CARD122<br />（%T125CARD121）</td>
       <td class="score">%T125SCRA121</td>
       <td class="bestshot">%T125SCRA122</td>
       <td class="number">%T125SCRA123</td>
       <td class="number">%T125SCRA124</td>
       <td class="date">%T125SCRA125</td>
      </tr>
      <tr>
       <td class="scene">1-3</td>
       <td class="target">%T125CARD132<br />（%T125CARD131）</td>
       <td class="score">%T125SCRA131</td>
       <td class="bestshot">%T125SCRA132</td>
       <td class="number">%T125SCRA133</td>
       <td class="number">%T125SCRA134</td>
       <td class="date">%T125SCRA135</td>
      </tr>
      <tr>
       <td class="scene">1-4</td>
       <td class="target">%T125CARD142<br />（%T125CARD141）</td>
       <td class="score">%T125SCRA141</td>
       <td class="bestshot">%T125SCRA142</td>
       <td class="number">%T125SCRA143</td>
       <td class="number">%T125SCRA144</td>
       <td class="date">%T125SCRA145</td>
      </tr>
      <tr>
       <td class="scene">1-5</td>
       <td class="target">%T125CARD152<br />（%T125CARD151）</td>
       <td class="score">%T125SCRA151</td>
       <td class="bestshot">%T125SCRA152</td>
       <td class="number">%T125SCRA153</td>
       <td class="number">%T125SCRA154</td>
       <td class="date">%T125SCRA155</td>
      </tr>
      <tr>
       <td class="scene">1-6</td>
       <td class="target">%T125CARD162<br />（%T125CARD161）</td>
       <td class="score">%T125SCRA161</td>
       <td class="bestshot">%T125SCRA162</td>
       <td class="number">%T125SCRA163</td>
       <td class="number">%T125SCRA164</td>
       <td class="date">%T125SCRA165</td>
      </tr>
     </tbody>
    </table>

    <table class="score_per_level">
     <caption id="Level2">Level 2</caption>
     <thead>
      <tr>
       <th class="scene">シーン</th>
       <th class="target">撮影対象</th>
       <th class="score">得点</th>
       <th class="bestshot">ベストショット得点</th>
       <th class="number">撮影枚数</th>
       <th class="number">初成功時枚数</th>
       <th class="date">日時</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="scene">2-1</td>
       <td class="target">%T125CARD212<br />（%T125CARD211）</td>
       <td class="score">%T125SCRA211</td>
       <td class="bestshot">%T125SCRA212</td>
       <td class="number">%T125SCRA213</td>
       <td class="number">%T125SCRA214</td>
       <td class="date">%T125SCRA215</td>
      </tr>
      <tr>
       <td class="scene">2-2</td>
       <td class="target">%T125CARD222<br />（%T125CARD221）</td>
       <td class="score">%T125SCRA221</td>
       <td class="bestshot">%T125SCRA222</td>
       <td class="number">%T125SCRA223</td>
       <td class="number">%T125SCRA224</td>
       <td class="date">%T125SCRA225</td>
      </tr>
      <tr>
       <td class="scene">2-3</td>
       <td class="target">%T125CARD232<br />（%T125CARD231）</td>
       <td class="score">%T125SCRA231</td>
       <td class="bestshot">%T125SCRA232</td>
       <td class="number">%T125SCRA233</td>
       <td class="number">%T125SCRA234</td>
       <td class="date">%T125SCRA235</td>
      </tr>
      <tr>
       <td class="scene">2-4</td>
       <td class="target">%T125CARD242<br />（%T125CARD241）</td>
       <td class="score">%T125SCRA241</td>
       <td class="bestshot">%T125SCRA242</td>
       <td class="number">%T125SCRA243</td>
       <td class="number">%T125SCRA244</td>
       <td class="date">%T125SCRA245</td>
      </tr>
      <tr>
       <td class="scene">2-5</td>
       <td class="target">%T125CARD252<br />（%T125CARD251）</td>
       <td class="score">%T125SCRA251</td>
       <td class="bestshot">%T125SCRA252</td>
       <td class="number">%T125SCRA253</td>
       <td class="number">%T125SCRA254</td>
       <td class="date">%T125SCRA255</td>
      </tr>
      <tr>
       <td class="scene">2-6</td>
       <td class="target">%T125CARD262<br />（%T125CARD261）</td>
       <td class="score">%T125SCRA261</td>
       <td class="bestshot">%T125SCRA262</td>
       <td class="number">%T125SCRA263</td>
       <td class="number">%T125SCRA264</td>
       <td class="date">%T125SCRA265</td>
      </tr>
     </tbody>
    </table>

    <table class="score_per_level">
     <caption id="Level3">Level 3</caption>
     <thead>
      <tr>
       <th class="scene">シーン</th>
       <th class="target">撮影対象</th>
       <th class="score">得点</th>
       <th class="bestshot">ベストショット得点</th>
       <th class="number">撮影枚数</th>
       <th class="number">初成功時枚数</th>
       <th class="date">日時</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="scene">3-1</td>
       <td class="target">%T125CARD312<br />（%T125CARD311）</td>
       <td class="score">%T125SCRA311</td>
       <td class="bestshot">%T125SCRA312</td>
       <td class="number">%T125SCRA313</td>
       <td class="number">%T125SCRA314</td>
       <td class="date">%T125SCRA315</td>
      </tr>
      <tr>
       <td class="scene">3-2</td>
       <td class="target">%T125CARD322<br />（%T125CARD321）</td>
       <td class="score">%T125SCRA321</td>
       <td class="bestshot">%T125SCRA322</td>
       <td class="number">%T125SCRA323</td>
       <td class="number">%T125SCRA324</td>
       <td class="date">%T125SCRA325</td>
      </tr>
      <tr>
       <td class="scene">3-3</td>
       <td class="target">%T125CARD332<br />（%T125CARD331）</td>
       <td class="score">%T125SCRA331</td>
       <td class="bestshot">%T125SCRA332</td>
       <td class="number">%T125SCRA333</td>
       <td class="number">%T125SCRA334</td>
       <td class="date">%T125SCRA335</td>
      </tr>
      <tr>
       <td class="scene">3-4</td>
       <td class="target">%T125CARD342<br />（%T125CARD341）</td>
       <td class="score">%T125SCRA341</td>
       <td class="bestshot">%T125SCRA342</td>
       <td class="number">%T125SCRA343</td>
       <td class="number">%T125SCRA344</td>
       <td class="date">%T125SCRA345</td>
      </tr>
      <tr>
       <td class="scene">3-5</td>
       <td class="target">%T125CARD352<br />（%T125CARD351）</td>
       <td class="score">%T125SCRA351</td>
       <td class="bestshot">%T125SCRA352</td>
       <td class="number">%T125SCRA353</td>
       <td class="number">%T125SCRA354</td>
       <td class="date">%T125SCRA355</td>
      </tr>
      <tr>
       <td class="scene">3-6</td>
       <td class="target">%T125CARD362<br />（%T125CARD361）</td>
       <td class="score">%T125SCRA361</td>
       <td class="bestshot">%T125SCRA362</td>
       <td class="number">%T125SCRA363</td>
       <td class="number">%T125SCRA364</td>
       <td class="date">%T125SCRA365</td>
      </tr>
      <tr>
       <td class="scene">3-7</td>
       <td class="target">%T125CARD372<br />（%T125CARD371）</td>
       <td class="score">%T125SCRA371</td>
       <td class="bestshot">%T125SCRA372</td>
       <td class="number">%T125SCRA373</td>
       <td class="number">%T125SCRA374</td>
       <td class="date">%T125SCRA375</td>
      </tr>
      <tr>
       <td class="scene">3-8</td>
       <td class="target">%T125CARD382<br />（%T125CARD381）</td>
       <td class="score">%T125SCRA381</td>
       <td class="bestshot">%T125SCRA382</td>
       <td class="number">%T125SCRA383</td>
       <td class="number">%T125SCRA384</td>
       <td class="date">%T125SCRA385</td>
      </tr>
     </tbody>
    </table>

    <table class="score_per_level">
     <caption id="Level4">Level 4</caption>
     <thead>
      <tr>
       <th class="scene">シーン</th>
       <th class="target">撮影対象</th>
       <th class="score">得点</th>
       <th class="bestshot">ベストショット得点</th>
       <th class="number">撮影枚数</th>
       <th class="number">初成功時枚数</th>
       <th class="date">日時</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="scene">4-1</td>
       <td class="target">%T125CARD412<br />（%T125CARD411）</td>
       <td class="score">%T125SCRA411</td>
       <td class="bestshot">%T125SCRA412</td>
       <td class="number">%T125SCRA413</td>
       <td class="number">%T125SCRA414</td>
       <td class="date">%T125SCRA415</td>
      </tr>
      <tr>
       <td class="scene">4-2</td>
       <td class="target">%T125CARD422<br />（%T125CARD421）</td>
       <td class="score">%T125SCRA421</td>
       <td class="bestshot">%T125SCRA422</td>
       <td class="number">%T125SCRA423</td>
       <td class="number">%T125SCRA424</td>
       <td class="date">%T125SCRA425</td>
      </tr>
      <tr>
       <td class="scene">4-3</td>
       <td class="target">%T125CARD432<br />（%T125CARD431）</td>
       <td class="score">%T125SCRA431</td>
       <td class="bestshot">%T125SCRA432</td>
       <td class="number">%T125SCRA433</td>
       <td class="number">%T125SCRA434</td>
       <td class="date">%T125SCRA435</td>
      </tr>
      <tr>
       <td class="scene">4-4</td>
       <td class="target">%T125CARD442<br />（%T125CARD441）</td>
       <td class="score">%T125SCRA441</td>
       <td class="bestshot">%T125SCRA442</td>
       <td class="number">%T125SCRA443</td>
       <td class="number">%T125SCRA444</td>
       <td class="date">%T125SCRA445</td>
      </tr>
      <tr>
       <td class="scene">4-5</td>
       <td class="target">%T125CARD452<br />（%T125CARD451）</td>
       <td class="score">%T125SCRA451</td>
       <td class="bestshot">%T125SCRA452</td>
       <td class="number">%T125SCRA453</td>
       <td class="number">%T125SCRA454</td>
       <td class="date">%T125SCRA455</td>
      </tr>
      <tr>
       <td class="scene">4-6</td>
       <td class="target">%T125CARD462<br />（%T125CARD461）</td>
       <td class="score">%T125SCRA461</td>
       <td class="bestshot">%T125SCRA462</td>
       <td class="number">%T125SCRA463</td>
       <td class="number">%T125SCRA464</td>
       <td class="date">%T125SCRA465</td>
      </tr>
      <tr>
       <td class="scene">4-7</td>
       <td class="target">%T125CARD472<br />（%T125CARD471）</td>
       <td class="score">%T125SCRA471</td>
       <td class="bestshot">%T125SCRA472</td>
       <td class="number">%T125SCRA473</td>
       <td class="number">%T125SCRA474</td>
       <td class="date">%T125SCRA475</td>
      </tr>
     </tbody>
    </table>

    <table class="score_per_level">
     <caption id="Level5">Level 5</caption>
     <thead>
      <tr>
       <th class="scene">シーン</th>
       <th class="target">撮影対象</th>
       <th class="score">得点</th>
       <th class="bestshot">ベストショット得点</th>
       <th class="number">撮影枚数</th>
       <th class="number">初成功時枚数</th>
       <th class="date">日時</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="scene">5-1</td>
       <td class="target">%T125CARD512<br />（%T125CARD511）</td>
       <td class="score">%T125SCRA511</td>
       <td class="bestshot">%T125SCRA512</td>
       <td class="number">%T125SCRA513</td>
       <td class="number">%T125SCRA514</td>
       <td class="date">%T125SCRA515</td>
      </tr>
      <tr>
       <td class="scene">5-2</td>
       <td class="target">%T125CARD522<br />（%T125CARD521）</td>
       <td class="score">%T125SCRA521</td>
       <td class="bestshot">%T125SCRA522</td>
       <td class="number">%T125SCRA523</td>
       <td class="number">%T125SCRA524</td>
       <td class="date">%T125SCRA525</td>
      </tr>
      <tr>
       <td class="scene">5-3</td>
       <td class="target">%T125CARD532<br />（%T125CARD531）</td>
       <td class="score">%T125SCRA531</td>
       <td class="bestshot">%T125SCRA532</td>
       <td class="number">%T125SCRA533</td>
       <td class="number">%T125SCRA534</td>
       <td class="date">%T125SCRA535</td>
      </tr>
      <tr>
       <td class="scene">5-4</td>
       <td class="target">%T125CARD542<br />（%T125CARD541）</td>
       <td class="score">%T125SCRA541</td>
       <td class="bestshot">%T125SCRA542</td>
       <td class="number">%T125SCRA543</td>
       <td class="number">%T125SCRA544</td>
       <td class="date">%T125SCRA545</td>
      </tr>
      <tr>
       <td class="scene">5-5</td>
       <td class="target">%T125CARD552<br />（%T125CARD551）</td>
       <td class="score">%T125SCRA551</td>
       <td class="bestshot">%T125SCRA552</td>
       <td class="number">%T125SCRA553</td>
       <td class="number">%T125SCRA554</td>
       <td class="date">%T125SCRA555</td>
      </tr>
      <tr>
       <td class="scene">5-6</td>
       <td class="target">%T125CARD562<br />（%T125CARD561）</td>
       <td class="score">%T125SCRA561</td>
       <td class="bestshot">%T125SCRA562</td>
       <td class="number">%T125SCRA563</td>
       <td class="number">%T125SCRA564</td>
       <td class="date">%T125SCRA565</td>
      </tr>
      <tr>
       <td class="scene">5-7</td>
       <td class="target">%T125CARD572<br />（%T125CARD571）</td>
       <td class="score">%T125SCRA571</td>
       <td class="bestshot">%T125SCRA572</td>
       <td class="number">%T125SCRA573</td>
       <td class="number">%T125SCRA574</td>
       <td class="date">%T125SCRA575</td>
      </tr>
      <tr>
       <td class="scene">5-8</td>
       <td class="target">%T125CARD582<br />（%T125CARD581）</td>
       <td class="score">%T125SCRA581</td>
       <td class="bestshot">%T125SCRA582</td>
       <td class="number">%T125SCRA583</td>
       <td class="number">%T125SCRA584</td>
       <td class="date">%T125SCRA585</td>
      </tr>
     </tbody>
    </table>

    <table class="score_per_level">
     <caption id="Level6">Level 6</caption>
     <thead>
      <tr>
       <th class="scene">シーン</th>
       <th class="target">撮影対象</th>
       <th class="score">得点</th>
       <th class="bestshot">ベストショット得点</th>
       <th class="number">撮影枚数</th>
       <th class="number">初成功時枚数</th>
       <th class="date">日時</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="scene">6-1</td>
       <td class="target">%T125CARD612<br />（%T125CARD611）</td>
       <td class="score">%T125SCRA611</td>
       <td class="bestshot">%T125SCRA612</td>
       <td class="number">%T125SCRA613</td>
       <td class="number">%T125SCRA614</td>
       <td class="date">%T125SCRA615</td>
      </tr>
      <tr>
       <td class="scene">6-2</td>
       <td class="target">%T125CARD622<br />（%T125CARD621）</td>
       <td class="score">%T125SCRA621</td>
       <td class="bestshot">%T125SCRA622</td>
       <td class="number">%T125SCRA623</td>
       <td class="number">%T125SCRA624</td>
       <td class="date">%T125SCRA625</td>
      </tr>
      <tr>
       <td class="scene">6-3</td>
       <td class="target">%T125CARD632<br />（%T125CARD631）</td>
       <td class="score">%T125SCRA631</td>
       <td class="bestshot">%T125SCRA632</td>
       <td class="number">%T125SCRA633</td>
       <td class="number">%T125SCRA634</td>
       <td class="date">%T125SCRA635</td>
      </tr>
      <tr>
       <td class="scene">6-4</td>
       <td class="target">%T125CARD642<br />（%T125CARD641）</td>
       <td class="score">%T125SCRA641</td>
       <td class="bestshot">%T125SCRA642</td>
       <td class="number">%T125SCRA643</td>
       <td class="number">%T125SCRA644</td>
       <td class="date">%T125SCRA645</td>
      </tr>
      <tr>
       <td class="scene">6-5</td>
       <td class="target">%T125CARD652<br />（%T125CARD651）</td>
       <td class="score">%T125SCRA651</td>
       <td class="bestshot">%T125SCRA652</td>
       <td class="number">%T125SCRA653</td>
       <td class="number">%T125SCRA654</td>
       <td class="date">%T125SCRA655</td>
      </tr>
      <tr>
       <td class="scene">6-6</td>
       <td class="target">%T125CARD662<br />（%T125CARD661）</td>
       <td class="score">%T125SCRA661</td>
       <td class="bestshot">%T125SCRA662</td>
       <td class="number">%T125SCRA663</td>
       <td class="number">%T125SCRA664</td>
       <td class="date">%T125SCRA665</td>
      </tr>
      <tr>
       <td class="scene">6-7</td>
       <td class="target">%T125CARD672<br />（%T125CARD671）</td>
       <td class="score">%T125SCRA671</td>
       <td class="bestshot">%T125SCRA672</td>
       <td class="number">%T125SCRA673</td>
       <td class="number">%T125SCRA674</td>
       <td class="date">%T125SCRA675</td>
      </tr>
      <tr>
       <td class="scene">6-8</td>
       <td class="target">%T125CARD682<br />（%T125CARD681）</td>
       <td class="score">%T125SCRA681</td>
       <td class="bestshot">%T125SCRA682</td>
       <td class="number">%T125SCRA683</td>
       <td class="number">%T125SCRA684</td>
       <td class="date">%T125SCRA685</td>
      </tr>
     </tbody>
    </table>

    <table class="score_per_level">
     <caption id="Level7">Level 7</caption>
     <thead>
      <tr>
       <th class="scene">シーン</th>
       <th class="target">撮影対象</th>
       <th class="score">得点</th>
       <th class="bestshot">ベストショット得点</th>
       <th class="number">撮影枚数</th>
       <th class="number">初成功時枚数</th>
       <th class="date">日時</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="scene">7-1</td>
       <td class="target">%T125CARD712<br />（%T125CARD711）</td>
       <td class="score">%T125SCRA711</td>
       <td class="bestshot">%T125SCRA712</td>
       <td class="number">%T125SCRA713</td>
       <td class="number">%T125SCRA714</td>
       <td class="date">%T125SCRA715</td>
      </tr>
      <tr>
       <td class="scene">7-2</td>
       <td class="target">%T125CARD722<br />（%T125CARD721）</td>
       <td class="score">%T125SCRA721</td>
       <td class="bestshot">%T125SCRA722</td>
       <td class="number">%T125SCRA723</td>
       <td class="number">%T125SCRA724</td>
       <td class="date">%T125SCRA725</td>
      </tr>
      <tr>
       <td class="scene">7-3</td>
       <td class="target">%T125CARD732<br />（%T125CARD731）</td>
       <td class="score">%T125SCRA731</td>
       <td class="bestshot">%T125SCRA732</td>
       <td class="number">%T125SCRA733</td>
       <td class="number">%T125SCRA734</td>
       <td class="date">%T125SCRA735</td>
      </tr>
      <tr>
       <td class="scene">7-4</td>
       <td class="target">%T125CARD742<br />（%T125CARD741）</td>
       <td class="score">%T125SCRA741</td>
       <td class="bestshot">%T125SCRA742</td>
       <td class="number">%T125SCRA743</td>
       <td class="number">%T125SCRA744</td>
       <td class="date">%T125SCRA745</td>
      </tr>
      <tr>
       <td class="scene">7-5</td>
       <td class="target">%T125CARD752<br />（%T125CARD751）</td>
       <td class="score">%T125SCRA751</td>
       <td class="bestshot">%T125SCRA752</td>
       <td class="number">%T125SCRA753</td>
       <td class="number">%T125SCRA754</td>
       <td class="date">%T125SCRA755</td>
      </tr>
      <tr>
       <td class="scene">7-6</td>
       <td class="target">%T125CARD762<br />（%T125CARD761）</td>
       <td class="score">%T125SCRA761</td>
       <td class="bestshot">%T125SCRA762</td>
       <td class="number">%T125SCRA763</td>
       <td class="number">%T125SCRA764</td>
       <td class="date">%T125SCRA765</td>
      </tr>
      <tr>
       <td class="scene">7-7</td>
       <td class="target">%T125CARD772<br />（%T125CARD771）</td>
       <td class="score">%T125SCRA771</td>
       <td class="bestshot">%T125SCRA772</td>
       <td class="number">%T125SCRA773</td>
       <td class="number">%T125SCRA774</td>
       <td class="date">%T125SCRA775</td>
      </tr>
     </tbody>
    </table>

    <table class="score_per_level">
     <caption id="Level8">Level 8</caption>
     <thead>
      <tr>
       <th class="scene">シーン</th>
       <th class="target">撮影対象</th>
       <th class="score">得点</th>
       <th class="bestshot">ベストショット得点</th>
       <th class="number">撮影枚数</th>
       <th class="number">初成功時枚数</th>
       <th class="date">日時</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="scene">8-1</td>
       <td class="target">%T125CARD812<br />（%T125CARD811）</td>
       <td class="score">%T125SCRA811</td>
       <td class="bestshot">%T125SCRA812</td>
       <td class="number">%T125SCRA813</td>
       <td class="number">%T125SCRA814</td>
       <td class="date">%T125SCRA815</td>
      </tr>
      <tr>
       <td class="scene">8-2</td>
       <td class="target">%T125CARD822<br />（%T125CARD821）</td>
       <td class="score">%T125SCRA821</td>
       <td class="bestshot">%T125SCRA822</td>
       <td class="number">%T125SCRA823</td>
       <td class="number">%T125SCRA824</td>
       <td class="date">%T125SCRA825</td>
      </tr>
      <tr>
       <td class="scene">8-3</td>
       <td class="target">%T125CARD832<br />（%T125CARD831）</td>
       <td class="score">%T125SCRA831</td>
       <td class="bestshot">%T125SCRA832</td>
       <td class="number">%T125SCRA833</td>
       <td class="number">%T125SCRA834</td>
       <td class="date">%T125SCRA835</td>
      </tr>
      <tr>
       <td class="scene">8-4</td>
       <td class="target">%T125CARD842<br />（%T125CARD841）</td>
       <td class="score">%T125SCRA841</td>
       <td class="bestshot">%T125SCRA842</td>
       <td class="number">%T125SCRA843</td>
       <td class="number">%T125SCRA844</td>
       <td class="date">%T125SCRA845</td>
      </tr>
      <tr>
       <td class="scene">8-5</td>
       <td class="target">%T125CARD852<br />（%T125CARD851）</td>
       <td class="score">%T125SCRA851</td>
       <td class="bestshot">%T125SCRA852</td>
       <td class="number">%T125SCRA853</td>
       <td class="number">%T125SCRA854</td>
       <td class="date">%T125SCRA855</td>
      </tr>
      <tr>
       <td class="scene">8-6</td>
       <td class="target">%T125CARD862<br />（%T125CARD861）</td>
       <td class="score">%T125SCRA861</td>
       <td class="bestshot">%T125SCRA862</td>
       <td class="number">%T125SCRA863</td>
       <td class="number">%T125SCRA864</td>
       <td class="date">%T125SCRA865</td>
      </tr>
      <tr>
       <td class="scene">8-7</td>
       <td class="target">%T125CARD872<br />（%T125CARD871）</td>
       <td class="score">%T125SCRA871</td>
       <td class="bestshot">%T125SCRA872</td>
       <td class="number">%T125SCRA873</td>
       <td class="number">%T125SCRA874</td>
       <td class="date">%T125SCRA875</td>
      </tr>
      <tr>
       <td class="scene">8-8</td>
       <td class="target">%T125CARD882<br />（%T125CARD881）</td>
       <td class="score">%T125SCRA881</td>
       <td class="bestshot">%T125SCRA882</td>
       <td class="number">%T125SCRA883</td>
       <td class="number">%T125SCRA884</td>
       <td class="date">%T125SCRA885</td>
      </tr>
     </tbody>
    </table>

    <table class="score_per_level">
     <caption id="Level9">Level 9</caption>
     <thead>
      <tr>
       <th class="scene">シーン</th>
       <th class="target">撮影対象</th>
       <th class="score">得点</th>
       <th class="bestshot">ベストショット得点</th>
       <th class="number">撮影枚数</th>
       <th class="number">初成功時枚数</th>
       <th class="date">日時</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="scene">9-1</td>
       <td class="target">%T125CARD912<br />（%T125CARD911）</td>
       <td class="score">%T125SCRA911</td>
       <td class="bestshot">%T125SCRA912</td>
       <td class="number">%T125SCRA913</td>
       <td class="number">%T125SCRA914</td>
       <td class="date">%T125SCRA915</td>
      </tr>
      <tr>
       <td class="scene">9-2</td>
       <td class="target">%T125CARD922<br />（%T125CARD921）</td>
       <td class="score">%T125SCRA921</td>
       <td class="bestshot">%T125SCRA922</td>
       <td class="number">%T125SCRA923</td>
       <td class="number">%T125SCRA924</td>
       <td class="date">%T125SCRA925</td>
      </tr>
      <tr>
       <td class="scene">9-3</td>
       <td class="target">%T125CARD932<br />（%T125CARD931）</td>
       <td class="score">%T125SCRA931</td>
       <td class="bestshot">%T125SCRA932</td>
       <td class="number">%T125SCRA933</td>
       <td class="number">%T125SCRA934</td>
       <td class="date">%T125SCRA935</td>
      </tr>
      <tr>
       <td class="scene">9-4</td>
       <td class="target">%T125CARD942<br />（%T125CARD941）</td>
       <td class="score">%T125SCRA941</td>
       <td class="bestshot">%T125SCRA942</td>
       <td class="number">%T125SCRA943</td>
       <td class="number">%T125SCRA944</td>
       <td class="date">%T125SCRA945</td>
      </tr>
      <tr>
       <td class="scene">9-5</td>
       <td class="target">%T125CARD952<br />（%T125CARD951）</td>
       <td class="score">%T125SCRA951</td>
       <td class="bestshot">%T125SCRA952</td>
       <td class="number">%T125SCRA953</td>
       <td class="number">%T125SCRA954</td>
       <td class="date">%T125SCRA955</td>
      </tr>
      <tr>
       <td class="scene">9-6</td>
       <td class="target">%T125CARD962<br />（%T125CARD961）</td>
       <td class="score">%T125SCRA961</td>
       <td class="bestshot">%T125SCRA962</td>
       <td class="number">%T125SCRA963</td>
       <td class="number">%T125SCRA964</td>
       <td class="date">%T125SCRA965</td>
      </tr>
      <tr>
       <td class="scene">9-7</td>
       <td class="target">%T125CARD972<br />（%T125CARD971）</td>
       <td class="score">%T125SCRA971</td>
       <td class="bestshot">%T125SCRA972</td>
       <td class="number">%T125SCRA973</td>
       <td class="number">%T125SCRA974</td>
       <td class="date">%T125SCRA975</td>
      </tr>
      <tr>
       <td class="scene">9-8</td>
       <td class="target">%T125CARD982<br />（%T125CARD981）</td>
       <td class="score">%T125SCRA981</td>
       <td class="bestshot">%T125SCRA982</td>
       <td class="number">%T125SCRA983</td>
       <td class="number">%T125SCRA984</td>
       <td class="date">%T125SCRA985</td>
      </tr>
     </tbody>
    </table>

    <table class="score_per_level">
     <caption id="Level10">Level 10</caption>
     <thead>
      <tr>
       <th class="scene">シーン</th>
       <th class="target">撮影対象</th>
       <th class="score">得点</th>
       <th class="bestshot">ベストショット得点</th>
       <th class="number">撮影枚数</th>
       <th class="number">初成功時枚数</th>
       <th class="date">日時</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="scene">10-1</td>
       <td class="target">%T125CARDA12<br />（%T125CARDA11）</td>
       <td class="score">%T125SCRAA11</td>
       <td class="bestshot">%T125SCRAA12</td>
       <td class="number">%T125SCRAA13</td>
       <td class="number">%T125SCRAA14</td>
       <td class="date">%T125SCRAA15</td>
      </tr>
      <tr>
       <td class="scene">10-2</td>
       <td class="target">%T125CARDA22<br />（%T125CARDA21）</td>
       <td class="score">%T125SCRAA21</td>
       <td class="bestshot">%T125SCRAA22</td>
       <td class="number">%T125SCRAA23</td>
       <td class="number">%T125SCRAA24</td>
       <td class="date">%T125SCRAA25</td>
      </tr>
      <tr>
       <td class="scene">10-3</td>
       <td class="target">%T125CARDA32<br />（%T125CARDA31）</td>
       <td class="score">%T125SCRAA31</td>
       <td class="bestshot">%T125SCRAA32</td>
       <td class="number">%T125SCRAA33</td>
       <td class="number">%T125SCRAA34</td>
       <td class="date">%T125SCRAA35</td>
      </tr>
      <tr>
       <td class="scene">10-4</td>
       <td class="target">%T125CARDA42<br />（%T125CARDA41）</td>
       <td class="score">%T125SCRAA41</td>
       <td class="bestshot">%T125SCRAA42</td>
       <td class="number">%T125SCRAA43</td>
       <td class="number">%T125SCRAA44</td>
       <td class="date">%T125SCRAA45</td>
      </tr>
      <tr>
       <td class="scene">10-5</td>
       <td class="target">%T125CARDA52<br />（%T125CARDA51）</td>
       <td class="score">%T125SCRAA51</td>
       <td class="bestshot">%T125SCRAA52</td>
       <td class="number">%T125SCRAA53</td>
       <td class="number">%T125SCRAA54</td>
       <td class="date">%T125SCRAA55</td>
      </tr>
      <tr>
       <td class="scene">10-6</td>
       <td class="target">%T125CARDA62<br />（%T125CARDA61）</td>
       <td class="score">%T125SCRAA61</td>
       <td class="bestshot">%T125SCRAA62</td>
       <td class="number">%T125SCRAA63</td>
       <td class="number">%T125SCRAA64</td>
       <td class="date">%T125SCRAA65</td>
      </tr>
      <tr>
       <td class="scene">10-7</td>
       <td class="target">%T125CARDA72<br />（%T125CARDA71）</td>
       <td class="score">%T125SCRAA71</td>
       <td class="bestshot">%T125SCRAA72</td>
       <td class="number">%T125SCRAA73</td>
       <td class="number">%T125SCRAA74</td>
       <td class="date">%T125SCRAA75</td>
      </tr>
      <tr>
       <td class="scene">10-8</td>
       <td class="target">%T125CARDA82<br />（%T125CARDA81）</td>
       <td class="score">%T125SCRAA81</td>
       <td class="bestshot">%T125SCRAA82</td>
       <td class="number">%T125SCRAA83</td>
       <td class="number">%T125SCRAA84</td>
       <td class="date">%T125SCRAA85</td>
      </tr>
     </tbody>
    </table>

    <table class="score_per_level">
     <caption id="Level11">Level 11</caption>
     <thead>
      <tr>
       <th class="scene">シーン</th>
       <th class="target">撮影対象</th>
       <th class="score">得点</th>
       <th class="bestshot">ベストショット得点</th>
       <th class="number">撮影枚数</th>
       <th class="number">初成功時枚数</th>
       <th class="date">日時</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="scene">11-1</td>
       <td class="target">%T125CARDB12<br />（%T125CARDB11）</td>
       <td class="score">%T125SCRAB11</td>
       <td class="bestshot">%T125SCRAB12</td>
       <td class="number">%T125SCRAB13</td>
       <td class="number">%T125SCRAB14</td>
       <td class="date">%T125SCRAB15</td>
      </tr>
      <tr>
       <td class="scene">11-2</td>
       <td class="target">%T125CARDB22<br />（%T125CARDB21）</td>
       <td class="score">%T125SCRAB21</td>
       <td class="bestshot">%T125SCRAB22</td>
       <td class="number">%T125SCRAB23</td>
       <td class="number">%T125SCRAB24</td>
       <td class="date">%T125SCRAB25</td>
      </tr>
      <tr>
       <td class="scene">11-3</td>
       <td class="target">%T125CARDB32<br />（%T125CARDB31）</td>
       <td class="score">%T125SCRAB31</td>
       <td class="bestshot">%T125SCRAB32</td>
       <td class="number">%T125SCRAB33</td>
       <td class="number">%T125SCRAB34</td>
       <td class="date">%T125SCRAB35</td>
      </tr>
      <tr>
       <td class="scene">11-4</td>
       <td class="target">%T125CARDB42<br />（%T125CARDB41）</td>
       <td class="score">%T125SCRAB41</td>
       <td class="bestshot">%T125SCRAB42</td>
       <td class="number">%T125SCRAB43</td>
       <td class="number">%T125SCRAB44</td>
       <td class="date">%T125SCRAB45</td>
      </tr>
      <tr>
       <td class="scene">11-5</td>
       <td class="target">%T125CARDB52<br />（%T125CARDB51）</td>
       <td class="score">%T125SCRAB51</td>
       <td class="bestshot">%T125SCRAB52</td>
       <td class="number">%T125SCRAB53</td>
       <td class="number">%T125SCRAB54</td>
       <td class="date">%T125SCRAB55</td>
      </tr>
      <tr>
       <td class="scene">11-6</td>
       <td class="target">%T125CARDB62<br />（%T125CARDB61）</td>
       <td class="score">%T125SCRAB61</td>
       <td class="bestshot">%T125SCRAB62</td>
       <td class="number">%T125SCRAB63</td>
       <td class="number">%T125SCRAB64</td>
       <td class="date">%T125SCRAB65</td>
      </tr>
      <tr>
       <td class="scene">11-7</td>
       <td class="target">%T125CARDB72<br />（%T125CARDB71）</td>
       <td class="score">%T125SCRAB71</td>
       <td class="bestshot">%T125SCRAB72</td>
       <td class="number">%T125SCRAB73</td>
       <td class="number">%T125SCRAB74</td>
       <td class="date">%T125SCRAB75</td>
      </tr>
      <tr>
       <td class="scene">11-8</td>
       <td class="target">%T125CARDB82<br />（%T125CARDB81）</td>
       <td class="score">%T125SCRAB81</td>
       <td class="bestshot">%T125SCRAB82</td>
       <td class="number">%T125SCRAB83</td>
       <td class="number">%T125SCRAB84</td>
       <td class="date">%T125SCRAB85</td>
      </tr>
     </tbody>
    </table>

    <table class="score_per_level">
     <caption id="Level12">Level 12</caption>
     <thead>
      <tr>
       <th class="scene">シーン</th>
       <th class="target">撮影対象</th>
       <th class="score">得点</th>
       <th class="bestshot">ベストショット得点</th>
       <th class="number">撮影枚数</th>
       <th class="number">初成功時枚数</th>
       <th class="date">日時</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="scene">12-1</td>
       <td class="target">%T125CARDC12<br />（%T125CARDC11）</td>
       <td class="score">%T125SCRAC11</td>
       <td class="bestshot">%T125SCRAC12</td>
       <td class="number">%T125SCRAC13</td>
       <td class="number">%T125SCRAC14</td>
       <td class="date">%T125SCRAC15</td>
      </tr>
      <tr>
       <td class="scene">12-2</td>
       <td class="target">%T125CARDC22<br />（%T125CARDC21）</td>
       <td class="score">%T125SCRAC21</td>
       <td class="bestshot">%T125SCRAC22</td>
       <td class="number">%T125SCRAC23</td>
       <td class="number">%T125SCRAC24</td>
       <td class="date">%T125SCRAC25</td>
      </tr>
      <tr>
       <td class="scene">12-3</td>
       <td class="target">%T125CARDC32<br />（%T125CARDC31）</td>
       <td class="score">%T125SCRAC31</td>
       <td class="bestshot">%T125SCRAC32</td>
       <td class="number">%T125SCRAC33</td>
       <td class="number">%T125SCRAC34</td>
       <td class="date">%T125SCRAC35</td>
      </tr>
      <tr>
       <td class="scene">12-4</td>
       <td class="target">%T125CARDC42<br />（%T125CARDC41）</td>
       <td class="score">%T125SCRAC41</td>
       <td class="bestshot">%T125SCRAC42</td>
       <td class="number">%T125SCRAC43</td>
       <td class="number">%T125SCRAC44</td>
       <td class="date">%T125SCRAC45</td>
      </tr>
      <tr>
       <td class="scene">12-5</td>
       <td class="target">%T125CARDC52<br />（%T125CARDC51）</td>
       <td class="score">%T125SCRAC51</td>
       <td class="bestshot">%T125SCRAC52</td>
       <td class="number">%T125SCRAC53</td>
       <td class="number">%T125SCRAC54</td>
       <td class="date">%T125SCRAC55</td>
      </tr>
      <tr>
       <td class="scene">12-6</td>
       <td class="target">%T125CARDC62<br />（%T125CARDC61）</td>
       <td class="score">%T125SCRAC61</td>
       <td class="bestshot">%T125SCRAC62</td>
       <td class="number">%T125SCRAC63</td>
       <td class="number">%T125SCRAC64</td>
       <td class="date">%T125SCRAC65</td>
      </tr>
      <tr>
       <td class="scene">12-7</td>
       <td class="target">%T125CARDC72<br />（%T125CARDC71）</td>
       <td class="score">%T125SCRAC71</td>
       <td class="bestshot">%T125SCRAC72</td>
       <td class="number">%T125SCRAC73</td>
       <td class="number">%T125SCRAC74</td>
       <td class="date">%T125SCRAC75</td>
      </tr>
      <tr>
       <td class="scene">12-8</td>
       <td class="target">%T125CARDC82<br />（%T125CARDC81）</td>
       <td class="score">%T125SCRAC81</td>
       <td class="bestshot">%T125SCRAC82</td>
       <td class="number">%T125SCRAC83</td>
       <td class="number">%T125SCRAC84</td>
       <td class="date">%T125SCRAC85</td>
      </tr>
     </tbody>
    </table>

    <table class="score_per_level">
     <caption id="LevelEX">Level EX</caption>
     <thead>
      <tr>
       <th class="scene">シーン</th>
       <th class="target">撮影対象</th>
       <th class="score">得点</th>
       <th class="bestshot">ベストショット得点</th>
       <th class="number">撮影枚数</th>
       <th class="number">初成功時枚数</th>
       <th class="date">日時</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="scene">EX-1</td>
       <td class="target">%T125CARDX12<br />（%T125CARDX11）</td>
       <td class="score">%T125SCRAX11</td>
       <td class="bestshot">%T125SCRAX12</td>
       <td class="number">%T125SCRAX13</td>
       <td class="number">%T125SCRAX14</td>
       <td class="date">%T125SCRAX15</td>
      </tr>
      <tr>
       <td class="scene">EX-2</td>
       <td class="target">%T125CARDX22<br />（%T125CARDX21）</td>
       <td class="score">%T125SCRAX21</td>
       <td class="bestshot">%T125SCRAX22</td>
       <td class="number">%T125SCRAX23</td>
       <td class="number">%T125SCRAX24</td>
       <td class="date">%T125SCRAX25</td>
      </tr>
      <tr>
       <td class="scene">EX-3</td>
       <td class="target">%T125CARDX32<br />（%T125CARDX31）</td>
       <td class="score">%T125SCRAX31</td>
       <td class="bestshot">%T125SCRAX32</td>
       <td class="number">%T125SCRAX33</td>
       <td class="number">%T125SCRAX34</td>
       <td class="date">%T125SCRAX35</td>
      </tr>
      <tr>
       <td class="scene">EX-4</td>
       <td class="target">%T125CARDX42<br />（%T125CARDX41）</td>
       <td class="score">%T125SCRAX41</td>
       <td class="bestshot">%T125SCRAX42</td>
       <td class="number">%T125SCRAX43</td>
       <td class="number">%T125SCRAX44</td>
       <td class="date">%T125SCRAX45</td>
      </tr>
      <tr>
       <td class="scene">EX-5</td>
       <td class="target">%T125CARDX52<br />（%T125CARDX51）</td>
       <td class="score">%T125SCRAX51</td>
       <td class="bestshot">%T125SCRAX52</td>
       <td class="number">%T125SCRAX53</td>
       <td class="number">%T125SCRAX54</td>
       <td class="date">%T125SCRAX55</td>
      </tr>
      <tr>
       <td class="scene">EX-6</td>
       <td class="target">%T125CARDX62<br />（%T125CARDX61）</td>
       <td class="score">%T125SCRAX61</td>
       <td class="bestshot">%T125SCRAX62</td>
       <td class="number">%T125SCRAX63</td>
       <td class="number">%T125SCRAX64</td>
       <td class="date">%T125SCRAX65</td>
      </tr>
      <tr>
       <td class="scene">EX-7</td>
       <td class="target">%T125CARDX72<br />（%T125CARDX71）</td>
       <td class="score">%T125SCRAX71</td>
       <td class="bestshot">%T125SCRAX72</td>
       <td class="number">%T125SCRAX73</td>
       <td class="number">%T125SCRAX74</td>
       <td class="date">%T125SCRAX75</td>
      </tr>
      <tr>
       <td class="scene">EX-8</td>
       <td class="target">%T125CARDX82<br />（%T125CARDX81）</td>
       <td class="score">%T125SCRAX81</td>
       <td class="bestshot">%T125SCRAX82</td>
       <td class="number">%T125SCRAX83</td>
       <td class="number">%T125SCRAX84</td>
       <td class="date">%T125SCRAX85</td>
      </tr>
      <tr>
       <td class="scene">EX-9</td>
       <td class="target">%T125CARDX92<br />（%T125CARDX91）</td>
       <td class="score">%T125SCRAX91</td>
       <td class="bestshot">%T125SCRAX92</td>
       <td class="number">%T125SCRAX93</td>
       <td class="number">%T125SCRAX94</td>
       <td class="date">%T125SCRAX95</td>
      </tr>
     </tbody>
    </table>

    <table class="score_per_level">
     <caption id="SPOILER">SPOILER</caption>
     <thead>
      <tr>
       <th class="scene">シーン</th>
       <th class="target">撮影対象</th>
       <th class="score">得点</th>
       <th class="bestshot">ベストショット得点</th>
       <th class="number">撮影枚数</th>
       <th class="number">初成功時枚数</th>
       <th class="date">日時</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="scene">??-1</td>
       <td class="target">%T125CARDS12<br />（%T125CARDS11）</td>
       <td class="score">%T125SCRAS11</td>
       <td class="bestshot">%T125SCRAS12</td>
       <td class="number">%T125SCRAS13</td>
       <td class="number">%T125SCRAS14</td>
       <td class="date">%T125SCRAS15</td>
      </tr>
      <tr>
       <td class="scene">??-2</td>
       <td class="target">%T125CARDS22<br />（%T125CARDS21）</td>
       <td class="score">%T125SCRAS21</td>
       <td class="bestshot">%T125SCRAS22</td>
       <td class="number">%T125SCRAS23</td>
       <td class="number">%T125SCRAS24</td>
       <td class="date">%T125SCRAS25</td>
      </tr>
      <tr>
       <td class="scene">??-3</td>
       <td class="target">%T125CARDS32<br />（%T125CARDS31）</td>
       <td class="score">%T125SCRAS31</td>
       <td class="bestshot">%T125SCRAS32</td>
       <td class="number">%T125SCRAS33</td>
       <td class="number">%T125SCRAS34</td>
       <td class="date">%T125SCRAS35</td>
      </tr>
      <tr>
       <td class="scene">??-4</td>
       <td class="target">%T125CARDS42<br />（%T125CARDS41）</td>
       <td class="score">%T125SCRAS41</td>
       <td class="bestshot">%T125SCRAS42</td>
       <td class="number">%T125SCRAS43</td>
       <td class="number">%T125SCRAS44</td>
       <td class="date">%T125SCRAS45</td>
      </tr>
     </tbody>
    </table>

    <table class="score_total">
     <caption id="Total">Total</caption>
     <thead>
      <tr>
       <th scope="row">集計方法</th>
       <th>ゲーム内表示準拠</th>
       <th>自機準拠</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <th scope="row">総撮影得点</th>
       <td class="score">%T125SCRTLA11</td>
       <td class="score">%T125SCRTLA21</td>
      </tr>
      <tr>
       <th scope="row">ベストショット得点の合計</th>
       <td class="bestshot">%T125SCRTLA12</td>
       <td class="bestshot">%T125SCRTLA22</td>
      </tr>
      <tr>
       <th scope="row">総撮影枚数</th>
       <td class="number">%T125SCRTLA13</td>
       <td class="number">%T125SCRTLA23</td>
      </tr>
      <tr>
       <th scope="row">初成功時枚数の合計</th>
       <td class="number">%T125SCRTLA14</td>
       <td class="number">%T125SCRTLA24</td>
      </tr>
      <tr>
       <th scope="row">クリアシーン数</th>
       <td class="rate">%T125SCRTLA15 / 108</td>
       <td class="rate">%T125SCRTLA25 / 103</td>
      </tr>
      <tr>
       <th scope="row">総プレイ時間</th>
       <td class="playtime">%T125TIMEPLY</td>
       <td class="playtime">-</td>
      </tr>
     </tbody>
    </table>
   </section>

  </main>

  <footer>
   <p>
    Data output by <a href="https://www.colorless-sight.jp/thsfc/">ThScoreFileConverter</a>.
<script>
// <![CDATA[
    document.write("Last updated: ", document.lastModified, ".");
// ]]>
</script>
   </p>
  </footer>

 </body>
</html>
