<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">

 <head>
  <meta charset="UTF-8" />
  <title>ダブルスポイラー ベストショット一覧</title>
  <link rel="stylesheet" href="style.css" />
<style>
/* <![CDATA[ */
    table.bestshot { float: left; }
    table.bestshot td.bestshot { background-color: #eee; padding: 2px; width: 340px; height: 340px; }
    table.bestshot td.info { text-align: left; min-width: 200px; max-width: 200px; }
    table.bestshot td.info pre { display: inline; }
    table.bestshot td.info dt { font-weight: bold; }
    table.bestshot td.info dd { min-height: 1em; }
/* ]]> */
</style>
 </head>

 <body>

  <header>
   <h1>ダブルスポイラー ベストショット一覧</h1>
   <hr />
   <nav>
    <ul>
     <li><a href="th125score1.html">文 スコアデータ全般</a></li>
     <li>文 ベストショット一覧</li>
     <li><a href="th125score2.html">はたて スコアデータ全般</a></li>
     <li><a href="th125bestshot2.html">はたて ベストショット一覧</a></li>
    </ul>
    <ul>
     <li><a href="#Level1">Level 1</a></li>
     <li><a href="#Level2">Level 2</a></li>
     <li><a href="#Level3">Level 3</a></li>
     <li><a href="#Level4">Level 4</a></li>
     <li><a href="#Level5">Level 5</a></li>
     <li><a href="#Level6">Level 6</a></li>
     <li><a href="#Level7">Level 7</a></li>
     <li><a href="#Level8">Level 8</a></li>
     <li><a href="#Level9">Level 9</a></li>
     <li><a href="#Level10">Level 10</a></li>
     <li><a href="#Level11">Level 11</a></li>
     <li><a href="#Level12">Level 12</a></li>
     <li><a href="#LevelEX">Level EX</a></li>
     <li><a href="#SPOILER">SPOILER</a></li>
    </ul>
   </nav>
  </header>

  <main>

   <section>
    <h2 id="Level1">Level 1</h2>
    <table class="bestshot">
     <caption>1-1</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXA111" width="%T125SHOTEXA112" height="%T125SHOTEXA113"
             alt="1-1 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARD112</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXA116</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXA115</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXA117</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
    <table class="bestshot">
     <caption>1-2</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXA121" width="%T125SHOTEXA122" height="%T125SHOTEXA123"
             alt="1-2 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARD122</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXA126</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXA125</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXA127</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
    <table class="bestshot">
     <caption>1-3</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXA131" width="%T125SHOTEXA132" height="%T125SHOTEXA133"
             alt="1-3 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARD132</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXA136</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXA135</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXA137</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
    <table class="bestshot">
     <caption>1-4</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXA141" width="%T125SHOTEXA142" height="%T125SHOTEXA143"
             alt="1-4 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARD142</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXA146</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXA145</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXA147</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
    <table class="bestshot">
     <caption>1-5</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXA151" width="%T125SHOTEXA152" height="%T125SHOTEXA153"
             alt="1-5 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARD152</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXA156</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXA155</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXA157</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
    <table class="bestshot">
     <caption>1-6</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXA161" width="%T125SHOTEXA162" height="%T125SHOTEXA163"
             alt="1-6 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARD162</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXA166</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXA165</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXA167</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
   </section>

   <hr />

   <section>
    <h2 id="Level2">Level 2</h2>
    <table class="bestshot">
     <caption>2-1</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXA211" width="%T125SHOTEXA212" height="%T125SHOTEXA213"
             alt="2-1 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARD212</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXA216</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXA215</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXA217</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
    <table class="bestshot">
     <caption>2-2</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXA221" width="%T125SHOTEXA222" height="%T125SHOTEXA223"
             alt="2-2 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARD222</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXA226</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXA225</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXA227</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
    <table class="bestshot">
     <caption>2-3</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXA231" width="%T125SHOTEXA232" height="%T125SHOTEXA233"
             alt="2-3 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARD232</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXA236</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXA235</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXA237</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
    <table class="bestshot">
     <caption>2-4</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXA241" width="%T125SHOTEXA242" height="%T125SHOTEXA243"
             alt="2-4 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARD242</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXA246</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXA245</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXA247</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
    <table class="bestshot">
     <caption>2-5</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXA251" width="%T125SHOTEXA252" height="%T125SHOTEXA253"
             alt="2-5 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARD252</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXA256</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXA255</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXA257</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
    <table class="bestshot">
     <caption>2-6</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXA261" width="%T125SHOTEXA262" height="%T125SHOTEXA263"
             alt="2-6 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARD262</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXA266</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXA265</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXA267</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
   </section>

   <hr />

   <section>
    <h2 id="Level3">Level 3</h2>
    <table class="bestshot">
     <caption>3-1</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXA311" width="%T125SHOTEXA312" height="%T125SHOTEXA313"
             alt="3-1 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARD312</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXA316</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXA315</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXA317</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
    <table class="bestshot">
     <caption>3-2</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXA321" width="%T125SHOTEXA322" height="%T125SHOTEXA323"
             alt="3-2 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARD322</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXA326</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXA325</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXA327</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
    <table class="bestshot">
     <caption>3-3</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXA331" width="%T125SHOTEXA332" height="%T125SHOTEXA333"
             alt="3-3 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARD332</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXA336</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXA335</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXA337</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
    <table class="bestshot">
     <caption>3-4</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXA341" width="%T125SHOTEXA342" height="%T125SHOTEXA343"
             alt="3-4 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARD342</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXA346</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXA345</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXA347</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
    <table class="bestshot">
     <caption>3-5</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXA351" width="%T125SHOTEXA352" height="%T125SHOTEXA353"
             alt="3-5 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARD352</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXA356</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXA355</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXA357</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
    <table class="bestshot">
     <caption>3-6</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXA361" width="%T125SHOTEXA362" height="%T125SHOTEXA363"
             alt="3-6 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARD362</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXA366</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXA365</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXA367</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
    <table class="bestshot">
     <caption>3-7</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXA371" width="%T125SHOTEXA372" height="%T125SHOTEXA373"
             alt="3-7 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARD372</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXA376</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXA375</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXA377</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
    <table class="bestshot">
     <caption>3-8</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXA381" width="%T125SHOTEXA382" height="%T125SHOTEXA383"
             alt="3-8 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARD382</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXA386</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXA385</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXA387</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
   </section>

   <hr />

   <section>
    <h2 id="Level4">Level 4</h2>
    <table class="bestshot">
     <caption>4-1</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXA411" width="%T125SHOTEXA412" height="%T125SHOTEXA413"
             alt="4-1 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARD412</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXA416</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXA415</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXA417</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
    <table class="bestshot">
     <caption>4-2</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXA421" width="%T125SHOTEXA422" height="%T125SHOTEXA423"
             alt="4-2 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARD422</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXA426</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXA425</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXA427</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
    <table class="bestshot">
     <caption>4-3</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXA431" width="%T125SHOTEXA432" height="%T125SHOTEXA433"
             alt="4-3 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARD432</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXA436</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXA435</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXA437</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
    <table class="bestshot">
     <caption>4-4</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXA441" width="%T125SHOTEXA442" height="%T125SHOTEXA443"
             alt="4-4 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARD442</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXA446</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXA445</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXA447</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
    <table class="bestshot">
     <caption>4-5</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXA451" width="%T125SHOTEXA452" height="%T125SHOTEXA453"
             alt="4-5 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARD452</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXA456</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXA455</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXA457</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
    <table class="bestshot">
     <caption>4-6</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXA461" width="%T125SHOTEXA462" height="%T125SHOTEXA463"
             alt="4-6 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARD462</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXA466</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXA465</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXA467</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
    <table class="bestshot">
     <caption>4-7</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXA471" width="%T125SHOTEXA472" height="%T125SHOTEXA473"
             alt="4-7 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARD472</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXA476</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXA475</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXA477</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
   </section>

   <hr />

   <section>
    <h2 id="Level5">Level 5</h2>
    <table class="bestshot">
     <caption>5-1</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXA511" width="%T125SHOTEXA512" height="%T125SHOTEXA513"
             alt="5-1 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARD512</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXA516</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXA515</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXA517</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
    <table class="bestshot">
     <caption>5-2</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXA521" width="%T125SHOTEXA522" height="%T125SHOTEXA523"
             alt="5-2 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARD522</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXA526</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXA525</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXA527</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
    <table class="bestshot">
     <caption>5-3</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXA531" width="%T125SHOTEXA532" height="%T125SHOTEXA533"
             alt="5-3 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARD532</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXA536</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXA535</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXA537</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
    <table class="bestshot">
     <caption>5-4</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXA541" width="%T125SHOTEXA542" height="%T125SHOTEXA543"
             alt="5-4 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARD542</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXA546</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXA545</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXA547</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
    <table class="bestshot">
     <caption>5-5</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXA551" width="%T125SHOTEXA552" height="%T125SHOTEXA553"
             alt="5-5 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARD552</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXA556</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXA555</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXA557</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
    <table class="bestshot">
     <caption>5-6</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXA561" width="%T125SHOTEXA562" height="%T125SHOTEXA563"
             alt="5-6 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARD562</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXA566</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXA565</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXA567</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
    <table class="bestshot">
     <caption>5-7</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXA571" width="%T125SHOTEXA572" height="%T125SHOTEXA573"
             alt="5-7 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARD572</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXA576</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXA575</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXA577</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
    <table class="bestshot">
     <caption>5-8</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXA581" width="%T125SHOTEXA582" height="%T125SHOTEXA583"
             alt="5-8 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARD582</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXA586</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXA585</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXA587</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
   </section>

   <hr />

   <section>
    <h2 id="Level6">Level 6</h2>
    <table class="bestshot">
     <caption>6-1</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXA611" width="%T125SHOTEXA612" height="%T125SHOTEXA613"
             alt="6-1 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARD612</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXA616</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXA615</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXA617</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
    <table class="bestshot">
     <caption>6-2</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXA621" width="%T125SHOTEXA622" height="%T125SHOTEXA623"
             alt="6-2 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARD622</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXA626</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXA625</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXA627</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
    <table class="bestshot">
     <caption>6-3</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXA631" width="%T125SHOTEXA632" height="%T125SHOTEXA633"
             alt="6-3 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARD632</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXA636</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXA635</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXA637</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
    <table class="bestshot">
     <caption>6-4</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXA641" width="%T125SHOTEXA642" height="%T125SHOTEXA643"
             alt="6-4 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARD642</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXA646</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXA645</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXA647</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
    <table class="bestshot">
     <caption>6-5</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXA651" width="%T125SHOTEXA652" height="%T125SHOTEXA653"
             alt="6-5 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARD652</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXA656</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXA655</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXA657</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
    <table class="bestshot">
     <caption>6-6</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXA661" width="%T125SHOTEXA662" height="%T125SHOTEXA663"
             alt="6-6 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARD662</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXA666</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXA665</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXA667</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
    <table class="bestshot">
     <caption>6-7</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXA671" width="%T125SHOTEXA672" height="%T125SHOTEXA673"
             alt="6-7 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARD672</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXA676</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXA675</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXA677</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
    <table class="bestshot">
     <caption>6-8</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXA681" width="%T125SHOTEXA682" height="%T125SHOTEXA683"
             alt="6-8 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARD682</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXA686</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXA685</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXA687</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
   </section>

   <hr />

   <section>
    <h2 id="Level7">Level 7</h2>
    <table class="bestshot">
     <caption>7-1</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXA711" width="%T125SHOTEXA712" height="%T125SHOTEXA713"
             alt="7-1 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARD712</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXA716</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXA715</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXA717</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
    <table class="bestshot">
     <caption>7-2</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXA721" width="%T125SHOTEXA722" height="%T125SHOTEXA723"
             alt="7-2 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARD722</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXA726</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXA725</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXA727</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
    <table class="bestshot">
     <caption>7-3</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXA731" width="%T125SHOTEXA732" height="%T125SHOTEXA733"
             alt="7-3 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARD732</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXA736</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXA735</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXA737</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
    <table class="bestshot">
     <caption>7-4</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXA741" width="%T125SHOTEXA742" height="%T125SHOTEXA743"
             alt="7-4 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARD742</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXA746</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXA745</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXA747</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
    <table class="bestshot">
     <caption>7-5</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXA751" width="%T125SHOTEXA752" height="%T125SHOTEXA753"
             alt="7-5 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARD752</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXA756</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXA755</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXA757</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
    <table class="bestshot">
     <caption>7-6</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXA761" width="%T125SHOTEXA762" height="%T125SHOTEXA763"
             alt="7-6 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARD762</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXA766</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXA765</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXA767</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
    <table class="bestshot">
     <caption>7-7</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXA771" width="%T125SHOTEXA772" height="%T125SHOTEXA773"
             alt="7-7 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARD772</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXA776</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXA775</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXA777</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
   </section>

   <hr />

   <section>
    <h2 id="Level8">Level 8</h2>
    <table class="bestshot">
     <caption>8-1</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXA811" width="%T125SHOTEXA812" height="%T125SHOTEXA813"
             alt="8-1 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARD812</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXA816</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXA815</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXA817</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
    <table class="bestshot">
     <caption>8-2</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXA821" width="%T125SHOTEXA822" height="%T125SHOTEXA823"
             alt="8-2 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARD822</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXA826</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXA825</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXA827</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
    <table class="bestshot">
     <caption>8-3</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXA831" width="%T125SHOTEXA832" height="%T125SHOTEXA833"
             alt="8-3 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARD832</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXA836</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXA835</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXA837</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
    <table class="bestshot">
     <caption>8-4</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXA841" width="%T125SHOTEXA842" height="%T125SHOTEXA843"
             alt="8-4 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARD842</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXA846</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXA845</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXA847</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
    <table class="bestshot">
     <caption>8-5</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXA851" width="%T125SHOTEXA852" height="%T125SHOTEXA853"
             alt="8-5 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARD852</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXA856</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXA855</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXA857</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
    <table class="bestshot">
     <caption>8-6</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXA861" width="%T125SHOTEXA862" height="%T125SHOTEXA863"
             alt="8-6 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARD862</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXA866</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXA865</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXA867</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
    <table class="bestshot">
     <caption>8-7</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXA871" width="%T125SHOTEXA872" height="%T125SHOTEXA873"
             alt="8-7 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARD872</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXA876</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXA875</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXA877</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
    <table class="bestshot">
     <caption>8-8</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXA881" width="%T125SHOTEXA882" height="%T125SHOTEXA883"
             alt="8-8 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARD882</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXA886</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXA885</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXA887</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
   </section>

   <hr />

   <section>
    <h2 id="Level9">Level 9</h2>
    <table class="bestshot">
     <caption>9-1</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXA911" width="%T125SHOTEXA912" height="%T125SHOTEXA913"
             alt="9-1 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARD912</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXA916</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXA915</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXA917</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
    <table class="bestshot">
     <caption>9-2</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXA921" width="%T125SHOTEXA922" height="%T125SHOTEXA923"
             alt="9-2 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARD922</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXA926</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXA925</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXA927</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
    <table class="bestshot">
     <caption>9-3</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXA931" width="%T125SHOTEXA932" height="%T125SHOTEXA933"
             alt="9-3 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARD932</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXA936</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXA935</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXA937</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
    <table class="bestshot">
     <caption>9-4</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXA941" width="%T125SHOTEXA942" height="%T125SHOTEXA943"
             alt="9-4 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARD942</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXA946</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXA945</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXA947</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
    <table class="bestshot">
     <caption>9-5</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXA951" width="%T125SHOTEXA952" height="%T125SHOTEXA953"
             alt="9-5 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARD952</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXA956</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXA955</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXA957</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
    <table class="bestshot">
     <caption>9-6</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXA961" width="%T125SHOTEXA962" height="%T125SHOTEXA963"
             alt="9-6 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARD962</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXA966</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXA965</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXA967</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
    <table class="bestshot">
     <caption>9-7</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXA971" width="%T125SHOTEXA972" height="%T125SHOTEXA973"
             alt="9-7 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARD972</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXA976</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXA975</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXA977</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
    <table class="bestshot">
     <caption>9-8</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXA981" width="%T125SHOTEXA982" height="%T125SHOTEXA983"
             alt="9-8 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARD982</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXA986</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXA985</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXA987</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
   </section>

   <hr />

   <section>
    <h2 id="Level10">Level 10</h2>
    <table class="bestshot">
     <caption>10-1</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXAA11" width="%T125SHOTEXAA12" height="%T125SHOTEXAA13"
             alt="10-1 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARDA12</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXAA16</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXAA15</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXAA17</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
    <table class="bestshot">
     <caption>10-2</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXAA21" width="%T125SHOTEXAA22" height="%T125SHOTEXAA23"
             alt="10-2 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARDA22</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXAA26</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXAA25</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXAA27</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
    <table class="bestshot">
     <caption>10-3</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXAA31" width="%T125SHOTEXAA32" height="%T125SHOTEXAA33"
             alt="10-3 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARDA32</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXAA36</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXAA35</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXAA37</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
    <table class="bestshot">
     <caption>10-4</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXAA41" width="%T125SHOTEXAA42" height="%T125SHOTEXAA43"
             alt="10-4 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARDA42</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXAA46</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXAA45</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXAA47</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
    <table class="bestshot">
     <caption>10-5</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXAA51" width="%T125SHOTEXAA52" height="%T125SHOTEXAA53"
             alt="10-5 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARDA52</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXAA56</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXAA55</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXAA57</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
    <table class="bestshot">
     <caption>10-6</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXAA61" width="%T125SHOTEXAA62" height="%T125SHOTEXAA63"
             alt="10-6 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARDA62</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXAA66</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXAA65</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXAA67</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
    <table class="bestshot">
     <caption>10-7</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXAA71" width="%T125SHOTEXAA72" height="%T125SHOTEXAA73"
             alt="10-7 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARDA72</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXAA76</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXAA75</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXAA77</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
    <table class="bestshot">
     <caption>10-8</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXAA81" width="%T125SHOTEXAA82" height="%T125SHOTEXAA83"
             alt="10-8 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARDA82</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXAA86</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXAA85</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXAA87</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
   </section>

   <hr />

   <section>
    <h2 id="Level11">Level 11</h2>
    <table class="bestshot">
     <caption>11-1</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXAB11" width="%T125SHOTEXAB12" height="%T125SHOTEXAB13"
             alt="11-1 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARDB12</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXAB16</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXAB15</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXAB17</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
    <table class="bestshot">
     <caption>11-2</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXAB21" width="%T125SHOTEXAB22" height="%T125SHOTEXAB23"
             alt="11-2 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARDB22</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXAB26</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXAB25</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXAB27</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
    <table class="bestshot">
     <caption>11-3</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXAB31" width="%T125SHOTEXAB32" height="%T125SHOTEXAB33"
             alt="11-3 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARDB32</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXAB36</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXAB35</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXAB37</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
    <table class="bestshot">
     <caption>11-4</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXAB41" width="%T125SHOTEXAB42" height="%T125SHOTEXAB43"
             alt="11-4 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARDB42</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXAB46</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXAB45</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXAB47</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
    <table class="bestshot">
     <caption>11-5</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXAB51" width="%T125SHOTEXAB52" height="%T125SHOTEXAB53"
             alt="11-5 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARDB52</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXAB56</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXAB55</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXAB57</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
    <table class="bestshot">
     <caption>11-6</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXAB61" width="%T125SHOTEXAB62" height="%T125SHOTEXAB63"
             alt="11-6 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARDB62</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXAB66</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXAB65</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXAB67</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
    <table class="bestshot">
     <caption>11-7</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXAB71" width="%T125SHOTEXAB72" height="%T125SHOTEXAB73"
             alt="11-7 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARDB72</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXAB76</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXAB75</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXAB77</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
    <table class="bestshot">
     <caption>11-8</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXAB81" width="%T125SHOTEXAB82" height="%T125SHOTEXAB83"
             alt="11-8 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARDB82</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXAB86</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXAB85</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXAB87</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
   </section>

   <hr />

   <section>
    <h2 id="Level12">Level 12</h2>
    <table class="bestshot">
     <caption>12-1</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXAC11" width="%T125SHOTEXAC12" height="%T125SHOTEXAC13"
             alt="12-1 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARDC12</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXAC16</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXAC15</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXAC17</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
    <table class="bestshot">
     <caption>12-2</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXAC21" width="%T125SHOTEXAC22" height="%T125SHOTEXAC23"
             alt="12-2 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARDC22</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXAC26</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXAC25</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXAC27</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
    <table class="bestshot">
     <caption>12-3</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXAC31" width="%T125SHOTEXAC32" height="%T125SHOTEXAC33"
             alt="12-3 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARDC32</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXAC36</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXAC35</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXAC37</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
    <table class="bestshot">
     <caption>12-4</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXAC41" width="%T125SHOTEXAC42" height="%T125SHOTEXAC43"
             alt="12-4 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARDC42</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXAC46</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXAC45</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXAC47</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
    <table class="bestshot">
     <caption>12-5</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXAC51" width="%T125SHOTEXAC52" height="%T125SHOTEXAC53"
             alt="12-5 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARDC52</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXAC56</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXAC55</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXAC57</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
    <table class="bestshot">
     <caption>12-6</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXAC61" width="%T125SHOTEXAC62" height="%T125SHOTEXAC63"
             alt="12-6 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARDC62</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXAC66</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXAC65</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXAC67</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
    <table class="bestshot">
     <caption>12-7</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXAC71" width="%T125SHOTEXAC72" height="%T125SHOTEXAC73"
             alt="12-7 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARDC72</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXAC76</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXAC75</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXAC77</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
    <table class="bestshot">
     <caption>12-8</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXAC81" width="%T125SHOTEXAC82" height="%T125SHOTEXAC83"
             alt="12-8 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARDC82</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXAC86</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXAC85</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXAC87</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
   </section>

   <hr />

   <section>
    <h2 id="LevelEX">Level EX</h2>
    <table class="bestshot">
     <caption>EX-1</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXAX11" width="%T125SHOTEXAX12" height="%T125SHOTEXAX13"
             alt="EX-1 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARDX12</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXAX16</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXAX15</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXAX17</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
    <table class="bestshot">
     <caption>EX-2</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXAX21" width="%T125SHOTEXAX22" height="%T125SHOTEXAX23"
             alt="EX-2 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARDX22</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXAX26</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXAX25</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXAX27</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
    <table class="bestshot">
     <caption>EX-3</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXAX31" width="%T125SHOTEXAX32" height="%T125SHOTEXAX33"
             alt="EX-3 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARDX32</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXAX36</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXAX35</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXAX37</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
    <table class="bestshot">
     <caption>EX-4</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXAX41" width="%T125SHOTEXAX42" height="%T125SHOTEXAX43"
             alt="EX-4 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARDX42</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXAX46</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXAX45</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXAX47</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
    <table class="bestshot">
     <caption>EX-5</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXAX51" width="%T125SHOTEXAX52" height="%T125SHOTEXAX53"
             alt="EX-5 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARDX52</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXAX56</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXAX55</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXAX57</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
    <table class="bestshot">
     <caption>EX-6</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXAX61" width="%T125SHOTEXAX62" height="%T125SHOTEXAX63"
             alt="EX-6 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARDX62</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXAX66</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXAX65</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXAX67</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
    <table class="bestshot">
     <caption>EX-7</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXAX71" width="%T125SHOTEXAX72" height="%T125SHOTEXAX73"
             alt="EX-7 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARDX72</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXAX76</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXAX75</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXAX77</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
    <table class="bestshot">
     <caption>EX-8</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXAX81" width="%T125SHOTEXAX82" height="%T125SHOTEXAX83"
             alt="EX-8 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARDX82</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXAX86</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXAX85</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXAX87</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
    <table class="bestshot">
     <caption>EX-9</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXAX91" width="%T125SHOTEXAX92" height="%T125SHOTEXAX93"
             alt="EX-9 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARDX92</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXAX96</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXAX95</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXAX97</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
   </section>

   <hr />

   <section>
    <h2 id="SPOILER">SPOILER</h2>
    <table class="bestshot">
     <caption>??-1</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXAS11" width="%T125SHOTEXAS12" height="%T125SHOTEXAS13"
             alt="??-1 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARDS12</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXAS16</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXAS15</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXAS17</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
    <table class="bestshot">
     <caption>??-2</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXAS21" width="%T125SHOTEXAS22" height="%T125SHOTEXAS23"
             alt="??-2 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARDS22</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXAS26</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXAS25</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXAS27</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
    <table class="bestshot">
     <caption>??-3</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXAS31" width="%T125SHOTEXAS32" height="%T125SHOTEXAS33"
             alt="??-3 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARDS32</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXAS36</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXAS35</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXAS37</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
    <table class="bestshot">
     <caption>??-4</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T125SHOTEXAS41" width="%T125SHOTEXAS42" height="%T125SHOTEXAS43"
             alt="??-4 のベストショット" />
       </td>
       <td class="info">
        <dl>
         <dt>スペルカード名</dt><dd>%T125CARDS42</dd>
         <dt>撮影日時</dt><dd>%T125SHOTEXAS46</dd>
         <dt>処理落ち率</dt><dd>%T125SHOTEXAS45</dd>
         <dt>詳細情報</dt><dd><pre>%T125SHOTEXAS47</pre></dd>
        </dl>
       </td>
      </tr>
     </tbody>
    </table>
   </section>

  </main>

  <footer>
   <p>
    Data output by <a href="https://www.colorless-sight.jp/thsfc/">ThScoreFileConverter</a>.
<script>
// <![CDATA[
    document.write("Last updated: ", document.lastModified, ".");
// ]]>
</script>
   </p>
  </footer>

 </body>
</html>
