<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">

 <head>
  <meta charset="UTF-8" />
  <title>東方神霊廟 スコアデータ</title>
  <link rel="stylesheet" href="style.css" />
<style>
/* <![CDATA[ */
    td.score { min-width: 70px; }
    td.stage { min-width: 70px; }
    table.practice { float: left; }
/* ]]> */
</style>
 </head>

 <body>

  <header>
   <h1>東方神霊廟 スコアデータ</h1>
   <hr />
   <nav>
    <ul>
     <li><a href="th13score1.html">スコアデータ全般</a></li>
     <li><a href="th13score2.html">個別ランキング</a></li>
     <li>プラクティス</li>
     <li><a href="th13card1.html">御札戦歴（ゲーム本編）</a></li>
     <li><a href="th13card2.html">御札戦歴（スペルプラクティス）</a></li>
    </ul>
    <ul>
     <li><a href="#Easy">Easy</a></li>
     <li><a href="#Normal">Normal</a></li>
     <li><a href="#Hard">Hard</a></li>
     <li><a href="#Lunatic">Lunatic</a></li>
    </ul>
   </nav>
  </header>

  <main>

   <section>
    <h2 id="Easy">Easy</h2>

    <table class="practice">
     <caption>博麗 霊夢</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T13PRACERM1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T13PRACERM2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T13PRACERM3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T13PRACERM4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T13PRACERM5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T13PRACERM6</td>
      </tr>
     </tbody>
    </table>

    <table class="practice">
     <caption>霧雨 魔理沙</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T13PRACEMR1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T13PRACEMR2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T13PRACEMR3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T13PRACEMR4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T13PRACEMR5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T13PRACEMR6</td>
      </tr>
     </tbody>
    </table>

    <table class="practice">
     <caption>東風谷 早苗</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T13PRACESN1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T13PRACESN2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T13PRACESN3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T13PRACESN4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T13PRACESN5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T13PRACESN6</td>
      </tr>
     </tbody>
    </table>

    <table class="practice">
     <caption>魂魄 妖夢</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T13PRACEYM1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T13PRACEYM2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T13PRACEYM3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T13PRACEYM4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T13PRACEYM5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T13PRACEYM6</td>
      </tr>
     </tbody>
    </table>

   </section>

   <hr />

   <section>
    <h2 id="Normal">Normal</h2>

    <table class="practice">
     <caption>博麗 霊夢</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T13PRACNRM1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T13PRACNRM2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T13PRACNRM3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T13PRACNRM4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T13PRACNRM5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T13PRACNRM6</td>
      </tr>
     </tbody>
    </table>

    <table class="practice">
     <caption>霧雨 魔理沙</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T13PRACNMR1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T13PRACNMR2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T13PRACNMR3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T13PRACNMR4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T13PRACNMR5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T13PRACNMR6</td>
      </tr>
     </tbody>
    </table>

    <table class="practice">
     <caption>東風谷 早苗</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T13PRACNSN1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T13PRACNSN2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T13PRACNSN3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T13PRACNSN4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T13PRACNSN5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T13PRACNSN6</td>
      </tr>
     </tbody>
    </table>

    <table class="practice">
     <caption>魂魄 妖夢</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T13PRACNYM1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T13PRACNYM2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T13PRACNYM3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T13PRACNYM4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T13PRACNYM5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T13PRACNYM6</td>
      </tr>
     </tbody>
    </table>

   </section>

   <hr />

   <section>
    <h2 id="Hard">Hard</h2>

    <table class="practice">
     <caption>博麗 霊夢</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T13PRACHRM1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T13PRACHRM2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T13PRACHRM3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T13PRACHRM4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T13PRACHRM5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T13PRACHRM6</td>
      </tr>
     </tbody>
    </table>

    <table class="practice">
     <caption>霧雨 魔理沙</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T13PRACHMR1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T13PRACHMR2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T13PRACHMR3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T13PRACHMR4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T13PRACHMR5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T13PRACHMR6</td>
      </tr>
     </tbody>
    </table>

    <table class="practice">
     <caption>東風谷 早苗</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T13PRACHSN1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T13PRACHSN2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T13PRACHSN3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T13PRACHSN4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T13PRACHSN5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T13PRACHSN6</td>
      </tr>
     </tbody>
    </table>

    <table class="practice">
     <caption>魂魄 妖夢</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T13PRACHYM1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T13PRACHYM2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T13PRACHYM3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T13PRACHYM4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T13PRACHYM5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T13PRACHYM6</td>
      </tr>
     </tbody>
    </table>

   </section>

   <hr />

   <section>
    <h2 id="Lunatic">Lunatic</h2>

    <table class="practice">
     <caption>博麗 霊夢</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T13PRACLRM1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T13PRACLRM2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T13PRACLRM3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T13PRACLRM4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T13PRACLRM5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T13PRACLRM6</td>
      </tr>
     </tbody>
    </table>

    <table class="practice">
     <caption>霧雨 魔理沙</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T13PRACLMR1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T13PRACLMR2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T13PRACLMR3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T13PRACLMR4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T13PRACLMR5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T13PRACLMR6</td>
      </tr>
     </tbody>
    </table>

    <table class="practice">
     <caption>東風谷 早苗</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T13PRACLSN1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T13PRACLSN2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T13PRACLSN3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T13PRACLSN4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T13PRACLSN5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T13PRACLSN6</td>
      </tr>
     </tbody>
    </table>

    <table class="practice">
     <caption>魂魄 妖夢</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T13PRACLYM1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T13PRACLYM2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T13PRACLYM3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T13PRACLYM4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T13PRACLYM5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T13PRACLYM6</td>
      </tr>
     </tbody>
    </table>

   </section>

  </main>

  <footer>
   <p>
    Data output by <a href="https://www.colorless-sight.jp/thsfc/">ThScoreFileConverter</a>.
<script>
// <![CDATA[
    document.write("Last updated: ", document.lastModified, ".");
// ]]>
</script>
   </p>
  </footer>

 </body>
</html>
