<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">

 <head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>東方神霊廟 スコアデータ</title>
  <link rel="stylesheet" href="style.css" />
<style>
/* <![CDATA[ */
    td.character { min-width: 100px; }
    td.name { min-width: 70px; }
    td.score { min-width: 70px; }
    td.level { min-width: 70px; }
    td.stage { min-width: 70px; }
    td.date { min-width: 120px; }
    td.slow { min-width: 50px; }
    table.count td.count { min-width: 80px; }
    table.count td.time { min-width: 80px; }
/* ]]> */
</style>
 </head>

 <body>

  <header>
   <h1>東方神霊廟 スコアデータ</h1>
   <hr />
   <nav>
    <ul>
     <li>スコアデータ全般</li>
     <li><a href="th13score2.html">個別ランキング</a></li>
     <li><a href="th13score3.html">プラクティス</a></li>
     <li><a href="th13card1.html">御札戦歴（ゲーム本編）</a></li>
     <li><a href="th13card2.html">御札戦歴（スペルプラクティス）</a></li>
    </ul>
    <ul>
     <li><a href="#Easy">Easy</a></li>
     <li><a href="#Normal">Normal</a></li>
     <li><a href="#Hard">Hard</a></li>
     <li><a href="#Lunatic">Lunatic</a></li>
     <li><a href="#Extra">Extra</a></li>
     <li><a href="#Other">その他の状態一覧</a></li>
     <li><a href="#Clear">クリア達成度</a></li>
    </ul>
   </nav>
  </header>

  <main>

   <section>
    <h2>難易度別スコア</h2>

    <table class="score_per_level">
     <caption id="Easy">Easy</caption>
     <thead>
      <tr>
       <th class="character">Character</th>
       <th class="name">Name</th>
       <th class="score">Score</th>
       <th class="date">Date</th>
       <th class="stage">Stage</th>
       <th class="slow">Slow</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="character">博麗 霊夢</td>
       <td class="name">%T13SCRERM11</td>
       <td class="score">%T13SCRERM12</td>
       <td class="date">%T13SCRERM14</td>
       <td class="stage">%T13SCRERM13</td>
       <td class="slow">%T13SCRERM15</td>
      </tr>
      <tr>
       <td class="character">霧雨 魔理沙</td>
       <td class="name">%T13SCREMR11</td>
       <td class="score">%T13SCREMR12</td>
       <td class="date">%T13SCREMR14</td>
       <td class="stage">%T13SCREMR13</td>
       <td class="slow">%T13SCREMR15</td>
      </tr>
      <tr>
       <td class="character">東風谷 早苗</td>
       <td class="name">%T13SCRESN11</td>
       <td class="score">%T13SCRESN12</td>
       <td class="date">%T13SCRESN14</td>
       <td class="stage">%T13SCRESN13</td>
       <td class="slow">%T13SCRESN15</td>
      </tr>
      <tr>
       <td class="character">魂魄 妖夢</td>
       <td class="name">%T13SCREYM11</td>
       <td class="score">%T13SCREYM12</td>
       <td class="date">%T13SCREYM14</td>
       <td class="stage">%T13SCREYM13</td>
       <td class="slow">%T13SCREYM15</td>
      </tr>
     </tbody>
    </table>

    <table class="score_per_level">
     <caption id="Normal">Normal</caption>
     <thead>
      <tr>
       <th class="character">Character</th>
       <th class="name">Name</th>
       <th class="score">Score</th>
       <th class="date">Date</th>
       <th class="stage">Stage</th>
       <th class="slow">Slow</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="character">博麗 霊夢</td>
       <td class="name">%T13SCRNRM11</td>
       <td class="score">%T13SCRNRM12</td>
       <td class="date">%T13SCRNRM14</td>
       <td class="stage">%T13SCRNRM13</td>
       <td class="slow">%T13SCRNRM15</td>
      </tr>
      <tr>
       <td class="character">霧雨 魔理沙</td>
       <td class="name">%T13SCRNMR11</td>
       <td class="score">%T13SCRNMR12</td>
       <td class="date">%T13SCRNMR14</td>
       <td class="stage">%T13SCRNMR13</td>
       <td class="slow">%T13SCRNMR15</td>
      </tr>
      <tr>
       <td class="character">東風谷 早苗</td>
       <td class="name">%T13SCRNSN11</td>
       <td class="score">%T13SCRNSN12</td>
       <td class="date">%T13SCRNSN14</td>
       <td class="stage">%T13SCRNSN13</td>
       <td class="slow">%T13SCRNSN15</td>
      </tr>
      <tr>
       <td class="character">魂魄 妖夢</td>
       <td class="name">%T13SCRNYM11</td>
       <td class="score">%T13SCRNYM12</td>
       <td class="date">%T13SCRNYM14</td>
       <td class="stage">%T13SCRNYM13</td>
       <td class="slow">%T13SCRNYM15</td>
      </tr>
     </tbody>
    </table>

    <table class="score_per_level">
     <caption id="Hard">Hard</caption>
     <thead>
      <tr>
       <th class="character">Character</th>
       <th class="name">Name</th>
       <th class="score">Score</th>
       <th class="date">Date</th>
       <th class="stage">Stage</th>
       <th class="slow">Slow</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="character">博麗 霊夢</td>
       <td class="name">%T13SCRHRM11</td>
       <td class="score">%T13SCRHRM12</td>
       <td class="date">%T13SCRHRM14</td>
       <td class="stage">%T13SCRHRM13</td>
       <td class="slow">%T13SCRHRM15</td>
      </tr>
      <tr>
       <td class="character">霧雨 魔理沙</td>
       <td class="name">%T13SCRHMR11</td>
       <td class="score">%T13SCRHMR12</td>
       <td class="date">%T13SCRHMR14</td>
       <td class="stage">%T13SCRHMR13</td>
       <td class="slow">%T13SCRHMR15</td>
      </tr>
      <tr>
       <td class="character">東風谷 早苗</td>
       <td class="name">%T13SCRHSN11</td>
       <td class="score">%T13SCRHSN12</td>
       <td class="date">%T13SCRHSN14</td>
       <td class="stage">%T13SCRHSN13</td>
       <td class="slow">%T13SCRHSN15</td>
      </tr>
      <tr>
       <td class="character">魂魄 妖夢</td>
       <td class="name">%T13SCRHYM11</td>
       <td class="score">%T13SCRHYM12</td>
       <td class="date">%T13SCRHYM14</td>
       <td class="stage">%T13SCRHYM13</td>
       <td class="slow">%T13SCRHYM15</td>
      </tr>
     </tbody>
    </table>

    <table class="score_per_level">
     <caption id="Lunatic">Lunatic</caption>
     <thead>
      <tr>
       <th class="character">Character</th>
       <th class="name">Name</th>
       <th class="score">Score</th>
       <th class="date">Date</th>
       <th class="stage">Stage</th>
       <th class="slow">Slow</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="character">博麗 霊夢</td>
       <td class="name">%T13SCRLRM11</td>
       <td class="score">%T13SCRLRM12</td>
       <td class="date">%T13SCRLRM14</td>
       <td class="stage">%T13SCRLRM13</td>
       <td class="slow">%T13SCRLRM15</td>
      </tr>
      <tr>
       <td class="character">霧雨 魔理沙</td>
       <td class="name">%T13SCRLMR11</td>
       <td class="score">%T13SCRLMR12</td>
       <td class="date">%T13SCRLMR14</td>
       <td class="stage">%T13SCRLMR13</td>
       <td class="slow">%T13SCRLMR15</td>
      </tr>
      <tr>
       <td class="character">東風谷 早苗</td>
       <td class="name">%T13SCRLSN11</td>
       <td class="score">%T13SCRLSN12</td>
       <td class="date">%T13SCRLSN14</td>
       <td class="stage">%T13SCRLSN13</td>
       <td class="slow">%T13SCRLSN15</td>
      </tr>
      <tr>
       <td class="character">魂魄 妖夢</td>
       <td class="name">%T13SCRLYM11</td>
       <td class="score">%T13SCRLYM12</td>
       <td class="date">%T13SCRLYM14</td>
       <td class="stage">%T13SCRLYM13</td>
       <td class="slow">%T13SCRLYM15</td>
      </tr>
     </tbody>
    </table>

    <table class="score_per_level">
     <caption id="Extra">Extra</caption>
     <thead>
      <tr>
       <th class="character">Character</th>
       <th class="name">Name</th>
       <th class="score">Score</th>
       <th class="date">Date</th>
       <th class="stage">Stage</th>
       <th class="slow">Slow</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="character">博麗 霊夢</td>
       <td class="name">%T13SCRXRM11</td>
       <td class="score">%T13SCRXRM12</td>
       <td class="date">%T13SCRXRM14</td>
       <td class="stage">%T13SCRXRM13</td>
       <td class="slow">%T13SCRXRM15</td>
      </tr>
      <tr>
       <td class="character">霧雨 魔理沙</td>
       <td class="name">%T13SCRXMR11</td>
       <td class="score">%T13SCRXMR12</td>
       <td class="date">%T13SCRXMR14</td>
       <td class="stage">%T13SCRXMR13</td>
       <td class="slow">%T13SCRXMR15</td>
      </tr>
      <tr>
       <td class="character">東風谷 早苗</td>
       <td class="name">%T13SCRXSN11</td>
       <td class="score">%T13SCRXSN12</td>
       <td class="date">%T13SCRXSN14</td>
       <td class="stage">%T13SCRXSN13</td>
       <td class="slow">%T13SCRXSN15</td>
      </tr>
      <tr>
       <td class="character">魂魄 妖夢</td>
       <td class="name">%T13SCRXYM11</td>
       <td class="score">%T13SCRXYM12</td>
       <td class="date">%T13SCRXYM14</td>
       <td class="stage">%T13SCRXYM13</td>
       <td class="slow">%T13SCRXYM15</td>
      </tr>
     </tbody>
    </table>

   </section>

   <hr />

   <section>
    <h2 id="Other">その他の状態一覧</h2>

    <table class="count">
     <thead>
      <tr>
       <th rowspan="2" class="character">Character</th>
       <th rowspan="2" class="count">総プレイ回数</th>
       <th rowspan="2" class="time">プレイ時間</th>
       <th colspan="6">クリア回数</th>
      </tr>
      <tr>
       <th class="level">Easy</th>
       <th class="level">Normal</th>
       <th class="level">Hard</th>
       <th class="level">Lunatic</th>
       <th class="level">Extra</th>
       <th class="level">Total</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="character">博麗 霊夢</td>
       <td class="count">%T13CHARARM1</td>
       <td class="time">%T13CHARARM2</td>
       <td class="level">%T13CHARAEXERM3</td>
       <td class="level">%T13CHARAEXNRM3</td>
       <td class="level">%T13CHARAEXHRM3</td>
       <td class="level">%T13CHARAEXLRM3</td>
       <td class="level">%T13CHARAEXXRM3</td>
       <td class="level">%T13CHARAEXTRM3</td>
      </tr>
      <tr>
       <td class="character">霧雨 魔理沙</td>
       <td class="count">%T13CHARAMR1</td>
       <td class="time">%T13CHARAMR2</td>
       <td class="level">%T13CHARAEXEMR3</td>
       <td class="level">%T13CHARAEXNMR3</td>
       <td class="level">%T13CHARAEXHMR3</td>
       <td class="level">%T13CHARAEXLMR3</td>
       <td class="level">%T13CHARAEXXMR3</td>
       <td class="level">%T13CHARAEXTMR3</td>
      </tr>
      <tr>
       <td class="character">東風谷 早苗</td>
       <td class="count">%T13CHARASN1</td>
       <td class="time">%T13CHARASN2</td>
       <td class="level">%T13CHARAEXESN3</td>
       <td class="level">%T13CHARAEXNSN3</td>
       <td class="level">%T13CHARAEXHSN3</td>
       <td class="level">%T13CHARAEXLSN3</td>
       <td class="level">%T13CHARAEXXSN3</td>
       <td class="level">%T13CHARAEXTSN3</td>
      </tr>
      <tr>
       <td class="character">魂魄 妖夢</td>
       <td class="count">%T13CHARAYM1</td>
       <td class="time">%T13CHARAYM2</td>
       <td class="level">%T13CHARAEXEYM3</td>
       <td class="level">%T13CHARAEXNYM3</td>
       <td class="level">%T13CHARAEXHYM3</td>
       <td class="level">%T13CHARAEXLYM3</td>
       <td class="level">%T13CHARAEXXYM3</td>
       <td class="level">%T13CHARAEXTYM3</td>
      </tr>
     </tbody>
     <tfoot>
      <tr>
       <td class="character">全主人公合計</td>
       <td class="count">%T13CHARATL1</td>
       <td class="time">%T13CHARATL2</td>
       <td class="level">%T13CHARAEXETL3</td>
       <td class="level">%T13CHARAEXNTL3</td>
       <td class="level">%T13CHARAEXHTL3</td>
       <td class="level">%T13CHARAEXLTL3</td>
       <td class="level">%T13CHARAEXXTL3</td>
       <td class="level">%T13CHARAEXTTL3</td>
      </tr>
     </tfoot>
    </table>
   </section>

   <hr />

   <section>
    <h2 id="Clear">クリア達成度</h2>

    <table class="clear">
     <thead>
      <tr>
       <th class="character">Character</th>
       <th class="level">Easy</th>
       <th class="level">Normal</th>
       <th class="level">Hard</th>
       <th class="level">Lunatic</th>
       <th class="level">Extra</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="character">博麗 霊夢</td>
       <td class="stage">%T13CLEARERM</td>
       <td class="stage">%T13CLEARNRM</td>
       <td class="stage">%T13CLEARHRM</td>
       <td class="stage">%T13CLEARLRM</td>
       <td class="stage">%T13CLEARXRM</td>
      </tr>
      <tr>
       <td class="character">霧雨 魔理沙</td>
       <td class="stage">%T13CLEAREMR</td>
       <td class="stage">%T13CLEARNMR</td>
       <td class="stage">%T13CLEARHMR</td>
       <td class="stage">%T13CLEARLMR</td>
       <td class="stage">%T13CLEARXMR</td>
      </tr>
      <tr>
       <td class="character">東風谷 早苗</td>
       <td class="stage">%T13CLEARESN</td>
       <td class="stage">%T13CLEARNSN</td>
       <td class="stage">%T13CLEARHSN</td>
       <td class="stage">%T13CLEARLSN</td>
       <td class="stage">%T13CLEARXSN</td>
      </tr>
      <tr>
       <td class="character">魂魄 妖夢</td>
       <td class="stage">%T13CLEAREYM</td>
       <td class="stage">%T13CLEARNYM</td>
       <td class="stage">%T13CLEARHYM</td>
       <td class="stage">%T13CLEARLYM</td>
       <td class="stage">%T13CLEARXYM</td>
      </tr>
     </tbody>
    </table>
   </section>

  </main>

  <footer>
   <p>
    Data output by <a href="https://www.colorless-sight.jp/thsfc/">ThScoreFileConverter</a>.
<script>
// <![CDATA[
    document.write("Last updated: ", document.lastModified, ".");
// ]]>
</script>
   </p>
  </footer>

 </body>
</html>
