<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">

 <head>
  <meta charset="UTF-8" />
  <title>弾幕アマノジャク スクリーンショット一覧</title>
  <link rel="stylesheet" href="style.css" />
<style>
/* <![CDATA[ */
    table.screenshot { float: left; }
    table.screenshot td.screenshot { padding: 2px; width: 292px; height: 340px; }
    table.screenshot td.spell { height: 1em; }
/* ]]> */
</style>
 </head>

 <body>

  <header>
   <h1>弾幕アマノジャク スクリーンショット一覧</h1>
   <hr />
   <nav>
    <ul>
     <li><a href="th143score1.html">スコアデータ全般</a></li>
     <li><a href="th143score2.html">クリア状況一覧</a></li>
     <li>スクリーンショット一覧</li>
    </ul>
    <ul>
     <li><a href="#Day1">一日目</a></li>
     <li><a href="#Day2">二日目</a></li>
     <li><a href="#Day3">三日目</a></li>
     <li><a href="#Day4">四日目</a></li>
     <li><a href="#Day5">五日目</a></li>
     <li><a href="#Day6">六日目</a></li>
     <li><a href="#Day7">七日目</a></li>
     <li><a href="#Day8">八日目</a></li>
     <li><a href="#Day9">九日目</a></li>
     <li><a href="#LastDay">最終日</a></li>
    </ul>
   </nav>
  </header>

  <main>

   <section>
    <h2 id="Day1">一日目</h2>
    <table class="screenshot">
     <caption>シーン 1</caption>
     <tbody>
      <tr>
       <td class="screenshot">
        <img src="%T143SHOTEX111" width="%T143SHOTEX112" height="%T143SHOTEX113"
             alt="DateTime: %T143SHOTEX114" title="DateTime: %T143SHOTEX114" />
       </td>
      </tr>
      <tr><td class="spell">%T143CARD112</td></tr>
     </tbody>
    </table>
    <table class="screenshot">
     <caption>シーン 2</caption>
     <tbody>
      <tr>
       <td class="screenshot">
        <img src="%T143SHOTEX121" width="%T143SHOTEX122" height="%T143SHOTEX123"
             alt="DateTime: %T143SHOTEX124" title="DateTime: %T143SHOTEX124" />
       </td>
      </tr>
      <tr><td class="spell">%T143CARD122</td></tr>
     </tbody>
    </table>
    <table class="screenshot">
     <caption>シーン 3</caption>
     <tbody>
      <tr>
       <td class="screenshot">
        <img src="%T143SHOTEX131" width="%T143SHOTEX132" height="%T143SHOTEX133"
             alt="DateTime: %T143SHOTEX134" title="DateTime: %T143SHOTEX134" />
       </td>
      </tr>
      <tr><td class="spell">%T143CARD132</td></tr>
     </tbody>
    </table>
    <table class="screenshot">
     <caption>シーン 4</caption>
     <tbody>
      <tr>
       <td class="screenshot">
        <img src="%T143SHOTEX141" width="%T143SHOTEX142" height="%T143SHOTEX143"
             alt="DateTime: %T143SHOTEX144" title="DateTime: %T143SHOTEX144" />
       </td>
      </tr>
      <tr><td class="spell">%T143CARD142</td></tr>
     </tbody>
    </table>
    <table class="screenshot">
     <caption>シーン 5</caption>
     <tbody>
      <tr>
       <td class="screenshot">
        <img src="%T143SHOTEX151" width="%T143SHOTEX152" height="%T143SHOTEX153"
             alt="DateTime: %T143SHOTEX154" title="DateTime: %T143SHOTEX154" />
       </td>
      </tr>
      <tr><td class="spell">%T143CARD152</td></tr>
     </tbody>
    </table>
    <table class="screenshot">
     <caption>シーン 6</caption>
     <tbody>
      <tr>
       <td class="screenshot">
        <img src="%T143SHOTEX161" width="%T143SHOTEX162" height="%T143SHOTEX163"
             alt="DateTime: %T143SHOTEX164" title="DateTime: %T143SHOTEX164" />
       </td>
      </tr>
      <tr><td class="spell">%T143CARD162</td></tr>
     </tbody>
    </table>
   </section>

   <hr />

   <section>
    <h2 id="Day2">二日目</h2>
    <table class="screenshot">
     <caption>シーン 1</caption>
     <tbody>
      <tr>
       <td class="screenshot">
        <img src="%T143SHOTEX211" width="%T143SHOTEX212" height="%T143SHOTEX213"
             alt="DateTime: %T143SHOTEX214" title="DateTime: %T143SHOTEX214" />
       </td>
      </tr>
      <tr><td class="spell">%T143CARD212</td></tr>
     </tbody>
    </table>
    <table class="screenshot">
     <caption>シーン 2</caption>
     <tbody>
      <tr>
       <td class="screenshot">
        <img src="%T143SHOTEX221" width="%T143SHOTEX222" height="%T143SHOTEX223"
             alt="DateTime: %T143SHOTEX224" title="DateTime: %T143SHOTEX224" />
       </td>
      </tr>
      <tr><td class="spell">%T143CARD222</td></tr>
     </tbody>
    </table>
    <table class="screenshot">
     <caption>シーン 3</caption>
     <tbody>
      <tr>
       <td class="screenshot">
        <img src="%T143SHOTEX231" width="%T143SHOTEX232" height="%T143SHOTEX233"
             alt="DateTime: %T143SHOTEX234" title="DateTime: %T143SHOTEX234" />
       </td>
      </tr>
      <tr><td class="spell">%T143CARD232</td></tr>
     </tbody>
    </table>
    <table class="screenshot">
     <caption>シーン 4</caption>
     <tbody>
      <tr>
       <td class="screenshot">
        <img src="%T143SHOTEX241" width="%T143SHOTEX242" height="%T143SHOTEX243"
             alt="DateTime: %T143SHOTEX244" title="DateTime: %T143SHOTEX244" />
       </td>
      </tr>
      <tr><td class="spell">%T143CARD242</td></tr>
     </tbody>
    </table>
    <table class="screenshot">
     <caption>シーン 5</caption>
     <tbody>
      <tr>
       <td class="screenshot">
        <img src="%T143SHOTEX251" width="%T143SHOTEX252" height="%T143SHOTEX253"
             alt="DateTime: %T143SHOTEX254" title="DateTime: %T143SHOTEX254" />
       </td>
      </tr>
      <tr><td class="spell">%T143CARD252</td></tr>
     </tbody>
    </table>
    <table class="screenshot">
     <caption>シーン 6</caption>
     <tbody>
      <tr>
       <td class="screenshot">
        <img src="%T143SHOTEX261" width="%T143SHOTEX262" height="%T143SHOTEX263"
             alt="DateTime: %T143SHOTEX264" title="DateTime: %T143SHOTEX264" />
       </td>
      </tr>
      <tr><td class="spell">%T143CARD262</td></tr>
     </tbody>
    </table>
   </section>

   <hr />

   <section>
    <h2 id="Day3">三日目</h2>
    <table class="screenshot">
     <caption>シーン 1</caption>
     <tbody>
      <tr>
       <td class="screenshot">
        <img src="%T143SHOTEX311" width="%T143SHOTEX312" height="%T143SHOTEX313"
             alt="DateTime: %T143SHOTEX314" title="DateTime: %T143SHOTEX314" />
       </td>
      </tr>
      <tr><td class="spell">%T143CARD312</td></tr>
     </tbody>
    </table>
    <table class="screenshot">
     <caption>シーン 2</caption>
     <tbody>
      <tr>
       <td class="screenshot">
        <img src="%T143SHOTEX321" width="%T143SHOTEX322" height="%T143SHOTEX323"
             alt="DateTime: %T143SHOTEX324" title="DateTime: %T143SHOTEX324" />
       </td>
      </tr>
      <tr><td class="spell">%T143CARD322</td></tr>
     </tbody>
    </table>
    <table class="screenshot">
     <caption>シーン 3</caption>
     <tbody>
      <tr>
       <td class="screenshot">
        <img src="%T143SHOTEX331" width="%T143SHOTEX332" height="%T143SHOTEX333"
             alt="DateTime: %T143SHOTEX334" title="DateTime: %T143SHOTEX334" />
       </td>
      </tr>
      <tr><td class="spell">%T143CARD332</td></tr>
     </tbody>
    </table>
    <table class="screenshot">
     <caption>シーン 4</caption>
     <tbody>
      <tr>
       <td class="screenshot">
        <img src="%T143SHOTEX341" width="%T143SHOTEX342" height="%T143SHOTEX343"
             alt="DateTime: %T143SHOTEX344" title="DateTime: %T143SHOTEX344" />
       </td>
      </tr>
      <tr><td class="spell">%T143CARD342</td></tr>
     </tbody>
    </table>
    <table class="screenshot">
     <caption>シーン 5</caption>
     <tbody>
      <tr>
       <td class="screenshot">
        <img src="%T143SHOTEX351" width="%T143SHOTEX352" height="%T143SHOTEX353"
             alt="DateTime: %T143SHOTEX354" title="DateTime: %T143SHOTEX354" />
       </td>
      </tr>
      <tr><td class="spell">%T143CARD352</td></tr>
     </tbody>
    </table>
    <table class="screenshot">
     <caption>シーン 6</caption>
     <tbody>
      <tr>
       <td class="screenshot">
        <img src="%T143SHOTEX361" width="%T143SHOTEX362" height="%T143SHOTEX363"
             alt="DateTime: %T143SHOTEX364" title="DateTime: %T143SHOTEX364" />
       </td>
      </tr>
      <tr><td class="spell">%T143CARD362</td></tr>
     </tbody>
    </table>
    <table class="screenshot">
     <caption>シーン 7</caption>
     <tbody>
      <tr>
       <td class="screenshot">
        <img src="%T143SHOTEX371" width="%T143SHOTEX372" height="%T143SHOTEX373"
             alt="DateTime: %T143SHOTEX374" title="DateTime: %T143SHOTEX374" />
       </td>
      </tr>
      <tr><td class="spell">%T143CARD372</td></tr>
     </tbody>
    </table>
   </section>

   <hr />

   <section>
    <h2 id="Day4">四日目</h2>
    <table class="screenshot">
     <caption>シーン 1</caption>
     <tbody>
      <tr>
       <td class="screenshot">
        <img src="%T143SHOTEX411" width="%T143SHOTEX412" height="%T143SHOTEX413"
             alt="DateTime: %T143SHOTEX414" title="DateTime: %T143SHOTEX414" />
       </td>
      </tr>
      <tr><td class="spell">%T143CARD412</td></tr>
     </tbody>
    </table>
    <table class="screenshot">
     <caption>シーン 2</caption>
     <tbody>
      <tr>
       <td class="screenshot">
        <img src="%T143SHOTEX421" width="%T143SHOTEX422" height="%T143SHOTEX423"
             alt="DateTime: %T143SHOTEX424" title="DateTime: %T143SHOTEX424" />
       </td>
      </tr>
      <tr><td class="spell">%T143CARD422</td></tr>
     </tbody>
    </table>
    <table class="screenshot">
     <caption>シーン 3</caption>
     <tbody>
      <tr>
       <td class="screenshot">
        <img src="%T143SHOTEX431" width="%T143SHOTEX432" height="%T143SHOTEX433"
             alt="DateTime: %T143SHOTEX434" title="DateTime: %T143SHOTEX434" />
       </td>
      </tr>
      <tr><td class="spell">%T143CARD432</td></tr>
     </tbody>
    </table>
    <table class="screenshot">
     <caption>シーン 4</caption>
     <tbody>
      <tr>
       <td class="screenshot">
        <img src="%T143SHOTEX441" width="%T143SHOTEX442" height="%T143SHOTEX443"
             alt="DateTime: %T143SHOTEX444" title="DateTime: %T143SHOTEX444" />
       </td>
      </tr>
      <tr><td class="spell">%T143CARD442</td></tr>
     </tbody>
    </table>
    <table class="screenshot">
     <caption>シーン 5</caption>
     <tbody>
      <tr>
       <td class="screenshot">
        <img src="%T143SHOTEX451" width="%T143SHOTEX452" height="%T143SHOTEX453"
             alt="DateTime: %T143SHOTEX454" title="DateTime: %T143SHOTEX454" />
       </td>
      </tr>
      <tr><td class="spell">%T143CARD452</td></tr>
     </tbody>
    </table>
    <table class="screenshot">
     <caption>シーン 6</caption>
     <tbody>
      <tr>
       <td class="screenshot">
        <img src="%T143SHOTEX461" width="%T143SHOTEX462" height="%T143SHOTEX463"
             alt="DateTime: %T143SHOTEX464" title="DateTime: %T143SHOTEX464" />
       </td>
      </tr>
      <tr><td class="spell">%T143CARD462</td></tr>
     </tbody>
    </table>
    <table class="screenshot">
     <caption>シーン 7</caption>
     <tbody>
      <tr>
       <td class="screenshot">
        <img src="%T143SHOTEX471" width="%T143SHOTEX472" height="%T143SHOTEX473"
             alt="DateTime: %T143SHOTEX474" title="DateTime: %T143SHOTEX474" />
       </td>
      </tr>
      <tr><td class="spell">%T143CARD472</td></tr>
     </tbody>
    </table>
   </section>

   <hr />

   <section>
    <h2 id="Day5">五日目</h2>
    <table class="screenshot">
     <caption>シーン 1</caption>
     <tbody>
      <tr>
       <td class="screenshot">
        <img src="%T143SHOTEX511" width="%T143SHOTEX512" height="%T143SHOTEX513"
             alt="DateTime: %T143SHOTEX514" title="DateTime: %T143SHOTEX514" />
       </td>
      </tr>
      <tr><td class="spell">%T143CARD512</td></tr>
     </tbody>
    </table>
    <table class="screenshot">
     <caption>シーン 2</caption>
     <tbody>
      <tr>
       <td class="screenshot">
        <img src="%T143SHOTEX521" width="%T143SHOTEX522" height="%T143SHOTEX523"
             alt="DateTime: %T143SHOTEX524" title="DateTime: %T143SHOTEX524" />
       </td>
      </tr>
      <tr><td class="spell">%T143CARD522</td></tr>
     </tbody>
    </table>
    <table class="screenshot">
     <caption>シーン 3</caption>
     <tbody>
      <tr>
       <td class="screenshot">
        <img src="%T143SHOTEX531" width="%T143SHOTEX532" height="%T143SHOTEX533"
             alt="DateTime: %T143SHOTEX534" title="DateTime: %T143SHOTEX534" />
       </td>
      </tr>
      <tr><td class="spell">%T143CARD532</td></tr>
     </tbody>
    </table>
    <table class="screenshot">
     <caption>シーン 4</caption>
     <tbody>
      <tr>
       <td class="screenshot">
        <img src="%T143SHOTEX541" width="%T143SHOTEX542" height="%T143SHOTEX543"
             alt="DateTime: %T143SHOTEX544" title="DateTime: %T143SHOTEX544" />
       </td>
      </tr>
      <tr><td class="spell">%T143CARD542</td></tr>
     </tbody>
    </table>
    <table class="screenshot">
     <caption>シーン 5</caption>
     <tbody>
      <tr>
       <td class="screenshot">
        <img src="%T143SHOTEX551" width="%T143SHOTEX552" height="%T143SHOTEX553"
             alt="DateTime: %T143SHOTEX554" title="DateTime: %T143SHOTEX554" />
       </td>
      </tr>
      <tr><td class="spell">%T143CARD552</td></tr>
     </tbody>
    </table>
    <table class="screenshot">
     <caption>シーン 6</caption>
     <tbody>
      <tr>
       <td class="screenshot">
        <img src="%T143SHOTEX561" width="%T143SHOTEX562" height="%T143SHOTEX563"
             alt="DateTime: %T143SHOTEX564" title="DateTime: %T143SHOTEX564" />
       </td>
      </tr>
      <tr><td class="spell">%T143CARD562</td></tr>
     </tbody>
    </table>
    <table class="screenshot">
     <caption>シーン 7</caption>
     <tbody>
      <tr>
       <td class="screenshot">
        <img src="%T143SHOTEX571" width="%T143SHOTEX572" height="%T143SHOTEX573"
             alt="DateTime: %T143SHOTEX574" title="DateTime: %T143SHOTEX574" />
       </td>
      </tr>
      <tr><td class="spell">%T143CARD572</td></tr>
     </tbody>
    </table>
    <table class="screenshot">
     <caption>シーン 8</caption>
     <tbody>
      <tr>
       <td class="screenshot">
        <img src="%T143SHOTEX581" width="%T143SHOTEX582" height="%T143SHOTEX583"
             alt="DateTime: %T143SHOTEX584" title="DateTime: %T143SHOTEX584" />
       </td>
      </tr>
      <tr><td class="spell">%T143CARD582</td></tr>
     </tbody>
    </table>
   </section>

   <hr />

   <section>
    <h2 id="Day6">六日目</h2>
    <table class="screenshot">
     <caption>シーン 1</caption>
     <tbody>
      <tr>
       <td class="screenshot">
        <img src="%T143SHOTEX611" width="%T143SHOTEX612" height="%T143SHOTEX613"
             alt="DateTime: %T143SHOTEX614" title="DateTime: %T143SHOTEX614" />
       </td>
      </tr>
      <tr><td class="spell">%T143CARD612</td></tr>
     </tbody>
    </table>
    <table class="screenshot">
     <caption>シーン 2</caption>
     <tbody>
      <tr>
       <td class="screenshot">
        <img src="%T143SHOTEX621" width="%T143SHOTEX622" height="%T143SHOTEX623"
             alt="DateTime: %T143SHOTEX624" title="DateTime: %T143SHOTEX624" />
       </td>
      </tr>
      <tr><td class="spell">%T143CARD622</td></tr>
     </tbody>
    </table>
    <table class="screenshot">
     <caption>シーン 3</caption>
     <tbody>
      <tr>
       <td class="screenshot">
        <img src="%T143SHOTEX631" width="%T143SHOTEX632" height="%T143SHOTEX633"
             alt="DateTime: %T143SHOTEX634" title="DateTime: %T143SHOTEX634" />
       </td>
      </tr>
      <tr><td class="spell">%T143CARD632</td></tr>
     </tbody>
    </table>
    <table class="screenshot">
     <caption>シーン 4</caption>
     <tbody>
      <tr>
       <td class="screenshot">
        <img src="%T143SHOTEX641" width="%T143SHOTEX642" height="%T143SHOTEX643"
             alt="DateTime: %T143SHOTEX644" title="DateTime: %T143SHOTEX644" />
       </td>
      </tr>
      <tr><td class="spell">%T143CARD642</td></tr>
     </tbody>
    </table>
    <table class="screenshot">
     <caption>シーン 5</caption>
     <tbody>
      <tr>
       <td class="screenshot">
        <img src="%T143SHOTEX651" width="%T143SHOTEX652" height="%T143SHOTEX653"
             alt="DateTime: %T143SHOTEX654" title="DateTime: %T143SHOTEX654" />
       </td>
      </tr>
      <tr><td class="spell">%T143CARD652</td></tr>
     </tbody>
    </table>
    <table class="screenshot">
     <caption>シーン 6</caption>
     <tbody>
      <tr>
       <td class="screenshot">
        <img src="%T143SHOTEX661" width="%T143SHOTEX662" height="%T143SHOTEX663"
             alt="DateTime: %T143SHOTEX664" title="DateTime: %T143SHOTEX664" />
       </td>
      </tr>
      <tr><td class="spell">%T143CARD662</td></tr>
     </tbody>
    </table>
    <table class="screenshot">
     <caption>シーン 7</caption>
     <tbody>
      <tr>
       <td class="screenshot">
        <img src="%T143SHOTEX671" width="%T143SHOTEX672" height="%T143SHOTEX673"
             alt="DateTime: %T143SHOTEX674" title="DateTime: %T143SHOTEX674" />
       </td>
      </tr>
      <tr><td class="spell">%T143CARD672</td></tr>
     </tbody>
    </table>
    <table class="screenshot">
     <caption>シーン 8</caption>
     <tbody>
      <tr>
       <td class="screenshot">
        <img src="%T143SHOTEX681" width="%T143SHOTEX682" height="%T143SHOTEX683"
             alt="DateTime: %T143SHOTEX684" title="DateTime: %T143SHOTEX684" />
       </td>
      </tr>
      <tr><td class="spell">%T143CARD682</td></tr>
     </tbody>
    </table>
   </section>

   <hr />

   <section>
    <h2 id="Day7">七日目</h2>
    <table class="screenshot">
     <caption>シーン 1</caption>
     <tbody>
      <tr>
       <td class="screenshot">
        <img src="%T143SHOTEX711" width="%T143SHOTEX712" height="%T143SHOTEX713"
             alt="DateTime: %T143SHOTEX714" title="DateTime: %T143SHOTEX714" />
       </td>
      </tr>
      <tr><td class="spell">%T143CARD712</td></tr>
     </tbody>
    </table>
    <table class="screenshot">
     <caption>シーン 2</caption>
     <tbody>
      <tr>
       <td class="screenshot">
        <img src="%T143SHOTEX721" width="%T143SHOTEX722" height="%T143SHOTEX723"
             alt="DateTime: %T143SHOTEX724" title="DateTime: %T143SHOTEX724" />
       </td>
      </tr>
      <tr><td class="spell">%T143CARD722</td></tr>
     </tbody>
    </table>
    <table class="screenshot">
     <caption>シーン 3</caption>
     <tbody>
      <tr>
       <td class="screenshot">
        <img src="%T143SHOTEX731" width="%T143SHOTEX732" height="%T143SHOTEX733"
             alt="DateTime: %T143SHOTEX734" title="DateTime: %T143SHOTEX734" />
       </td>
      </tr>
      <tr><td class="spell">%T143CARD732</td></tr>
     </tbody>
    </table>
    <table class="screenshot">
     <caption>シーン 4</caption>
     <tbody>
      <tr>
       <td class="screenshot">
        <img src="%T143SHOTEX741" width="%T143SHOTEX742" height="%T143SHOTEX743"
             alt="DateTime: %T143SHOTEX744" title="DateTime: %T143SHOTEX744" />
       </td>
      </tr>
      <tr><td class="spell">%T143CARD742</td></tr>
     </tbody>
    </table>
    <table class="screenshot">
     <caption>シーン 5</caption>
     <tbody>
      <tr>
       <td class="screenshot">
        <img src="%T143SHOTEX751" width="%T143SHOTEX752" height="%T143SHOTEX753"
             alt="DateTime: %T143SHOTEX754" title="DateTime: %T143SHOTEX754" />
       </td>
      </tr>
      <tr><td class="spell">%T143CARD752</td></tr>
     </tbody>
    </table>
    <table class="screenshot">
     <caption>シーン 6</caption>
     <tbody>
      <tr>
       <td class="screenshot">
        <img src="%T143SHOTEX761" width="%T143SHOTEX762" height="%T143SHOTEX763"
             alt="DateTime: %T143SHOTEX764" title="DateTime: %T143SHOTEX764" />
       </td>
      </tr>
      <tr><td class="spell">%T143CARD762</td></tr>
     </tbody>
    </table>
    <table class="screenshot">
     <caption>シーン 7</caption>
     <tbody>
      <tr>
       <td class="screenshot">
        <img src="%T143SHOTEX771" width="%T143SHOTEX772" height="%T143SHOTEX773"
             alt="DateTime: %T143SHOTEX774" title="DateTime: %T143SHOTEX774" />
       </td>
      </tr>
      <tr><td class="spell">%T143CARD772</td></tr>
     </tbody>
    </table>
    <table class="screenshot">
     <caption>シーン 8</caption>
     <tbody>
      <tr>
       <td class="screenshot">
        <img src="%T143SHOTEX781" width="%T143SHOTEX782" height="%T143SHOTEX783"
             alt="DateTime: %T143SHOTEX784" title="DateTime: %T143SHOTEX784" />
       </td>
      </tr>
      <tr><td class="spell">%T143CARD782</td></tr>
     </tbody>
    </table>
   </section>

   <hr />

   <section>
    <h2 id="Day8">八日目</h2>
    <table class="screenshot">
     <caption>シーン 1</caption>
     <tbody>
      <tr>
       <td class="screenshot">
        <img src="%T143SHOTEX811" width="%T143SHOTEX812" height="%T143SHOTEX813"
             alt="DateTime: %T143SHOTEX814" title="DateTime: %T143SHOTEX814" />
       </td>
      </tr>
      <tr><td class="spell">%T143CARD812</td></tr>
     </tbody>
    </table>
    <table class="screenshot">
     <caption>シーン 2</caption>
     <tbody>
      <tr>
       <td class="screenshot">
        <img src="%T143SHOTEX821" width="%T143SHOTEX822" height="%T143SHOTEX823"
             alt="DateTime: %T143SHOTEX824" title="DateTime: %T143SHOTEX824" />
       </td>
      </tr>
      <tr><td class="spell">%T143CARD822</td></tr>
     </tbody>
    </table>
    <table class="screenshot">
     <caption>シーン 3</caption>
     <tbody>
      <tr>
       <td class="screenshot">
        <img src="%T143SHOTEX831" width="%T143SHOTEX832" height="%T143SHOTEX833"
             alt="DateTime: %T143SHOTEX834" title="DateTime: %T143SHOTEX834" />
       </td>
      </tr>
      <tr><td class="spell">%T143CARD832</td></tr>
     </tbody>
    </table>
    <table class="screenshot">
     <caption>シーン 4</caption>
     <tbody>
      <tr>
       <td class="screenshot">
        <img src="%T143SHOTEX841" width="%T143SHOTEX842" height="%T143SHOTEX843"
             alt="DateTime: %T143SHOTEX844" title="DateTime: %T143SHOTEX844" />
       </td>
      </tr>
      <tr><td class="spell">%T143CARD842</td></tr>
     </tbody>
    </table>
    <table class="screenshot">
     <caption>シーン 5</caption>
     <tbody>
      <tr>
       <td class="screenshot">
        <img src="%T143SHOTEX851" width="%T143SHOTEX852" height="%T143SHOTEX853"
             alt="DateTime: %T143SHOTEX854" title="DateTime: %T143SHOTEX854" />
       </td>
      </tr>
      <tr><td class="spell">%T143CARD852</td></tr>
     </tbody>
    </table>
    <table class="screenshot">
     <caption>シーン 6</caption>
     <tbody>
      <tr>
       <td class="screenshot">
        <img src="%T143SHOTEX861" width="%T143SHOTEX862" height="%T143SHOTEX863"
             alt="DateTime: %T143SHOTEX864" title="DateTime: %T143SHOTEX864" />
       </td>
      </tr>
      <tr><td class="spell">%T143CARD862</td></tr>
     </tbody>
    </table>
    <table class="screenshot">
     <caption>シーン 7</caption>
     <tbody>
      <tr>
       <td class="screenshot">
        <img src="%T143SHOTEX871" width="%T143SHOTEX872" height="%T143SHOTEX873"
             alt="DateTime: %T143SHOTEX874" title="DateTime: %T143SHOTEX874" />
       </td>
      </tr>
      <tr><td class="spell">%T143CARD872</td></tr>
     </tbody>
    </table>
   </section>

   <hr />

   <section>
    <h2 id="Day9">九日目</h2>
    <table class="screenshot">
     <caption>シーン 1</caption>
     <tbody>
      <tr>
       <td class="screenshot">
        <img src="%T143SHOTEX911" width="%T143SHOTEX912" height="%T143SHOTEX913"
             alt="DateTime: %T143SHOTEX914" title="DateTime: %T143SHOTEX914" />
       </td>
      </tr>
      <tr><td class="spell">%T143CARD912</td></tr>
     </tbody>
    </table>
    <table class="screenshot">
     <caption>シーン 2</caption>
     <tbody>
      <tr>
       <td class="screenshot">
        <img src="%T143SHOTEX921" width="%T143SHOTEX922" height="%T143SHOTEX923"
             alt="DateTime: %T143SHOTEX924" title="DateTime: %T143SHOTEX924" />
       </td>
      </tr>
      <tr><td class="spell">%T143CARD922</td></tr>
     </tbody>
    </table>
    <table class="screenshot">
     <caption>シーン 3</caption>
     <tbody>
      <tr>
       <td class="screenshot">
        <img src="%T143SHOTEX931" width="%T143SHOTEX932" height="%T143SHOTEX933"
             alt="DateTime: %T143SHOTEX934" title="DateTime: %T143SHOTEX934" />
       </td>
      </tr>
      <tr><td class="spell">%T143CARD932</td></tr>
     </tbody>
    </table>
    <table class="screenshot">
     <caption>シーン 4</caption>
     <tbody>
      <tr>
       <td class="screenshot">
        <img src="%T143SHOTEX941" width="%T143SHOTEX942" height="%T143SHOTEX943"
             alt="DateTime: %T143SHOTEX944" title="DateTime: %T143SHOTEX944" />
       </td>
      </tr>
      <tr><td class="spell">%T143CARD942</td></tr>
     </tbody>
    </table>
    <table class="screenshot">
     <caption>シーン 5</caption>
     <tbody>
      <tr>
       <td class="screenshot">
        <img src="%T143SHOTEX951" width="%T143SHOTEX952" height="%T143SHOTEX953"
             alt="DateTime: %T143SHOTEX954" title="DateTime: %T143SHOTEX954" />
       </td>
      </tr>
      <tr><td class="spell">%T143CARD952</td></tr>
     </tbody>
    </table>
    <table class="screenshot">
     <caption>シーン 6</caption>
     <tbody>
      <tr>
       <td class="screenshot">
        <img src="%T143SHOTEX961" width="%T143SHOTEX962" height="%T143SHOTEX963"
             alt="DateTime: %T143SHOTEX964" title="DateTime: %T143SHOTEX964" />
       </td>
      </tr>
      <tr><td class="spell">%T143CARD962</td></tr>
     </tbody>
    </table>
    <table class="screenshot">
     <caption>シーン 7</caption>
     <tbody>
      <tr>
       <td class="screenshot">
        <img src="%T143SHOTEX971" width="%T143SHOTEX972" height="%T143SHOTEX973"
             alt="DateTime: %T143SHOTEX974" title="DateTime: %T143SHOTEX974" />
       </td>
      </tr>
      <tr><td class="spell">%T143CARD972</td></tr>
     </tbody>
    </table>
    <table class="screenshot">
     <caption>シーン 8</caption>
     <tbody>
      <tr>
       <td class="screenshot">
        <img src="%T143SHOTEX981" width="%T143SHOTEX982" height="%T143SHOTEX983"
             alt="DateTime: %T143SHOTEX984" title="DateTime: %T143SHOTEX984" />
       </td>
      </tr>
      <tr><td class="spell">%T143CARD982</td></tr>
     </tbody>
    </table>
   </section>

   <hr />

   <section>
    <h2 id="LastDay">最終日</h2>
    <table class="screenshot">
     <caption>シーン 1</caption>
     <tbody>
      <tr>
       <td class="screenshot">
        <img src="%T143SHOTEXL11" width="%T143SHOTEXL12" height="%T143SHOTEXL13"
             alt="DateTime: %T143SHOTEXL14" title="DateTime: %T143SHOTEXL14" />
       </td>
      </tr>
      <tr><td class="spell">%T143CARDL12</td></tr>
     </tbody>
    </table>
    <table class="screenshot">
     <caption>シーン 2</caption>
     <tbody>
      <tr>
       <td class="screenshot">
        <img src="%T143SHOTEXL21" width="%T143SHOTEXL22" height="%T143SHOTEXL23"
             alt="DateTime: %T143SHOTEXL24" title="DateTime: %T143SHOTEXL24" />
       </td>
      </tr>
      <tr><td class="spell">%T143CARDL22</td></tr>
     </tbody>
    </table>
    <table class="screenshot">
     <caption>シーン 3</caption>
     <tbody>
      <tr>
       <td class="screenshot">
        <img src="%T143SHOTEXL31" width="%T143SHOTEXL32" height="%T143SHOTEXL33"
             alt="DateTime: %T143SHOTEXL34" title="DateTime: %T143SHOTEXL34" />
       </td>
      </tr>
      <tr><td class="spell">%T143CARDL32</td></tr>
     </tbody>
    </table>
    <table class="screenshot">
     <caption>シーン 4</caption>
     <tbody>
      <tr>
       <td class="screenshot">
        <img src="%T143SHOTEXL41" width="%T143SHOTEXL42" height="%T143SHOTEXL43"
             alt="DateTime: %T143SHOTEXL44" title="DateTime: %T143SHOTEXL44" />
       </td>
      </tr>
      <tr><td class="spell">%T143CARDL42</td></tr>
     </tbody>
    </table>
    <table class="screenshot">
     <caption>シーン 5</caption>
     <tbody>
      <tr>
       <td class="screenshot">
        <img src="%T143SHOTEXL51" width="%T143SHOTEXL52" height="%T143SHOTEXL53"
             alt="DateTime: %T143SHOTEXL54" title="DateTime: %T143SHOTEXL54" />
       </td>
      </tr>
      <tr><td class="spell">%T143CARDL52</td></tr>
     </tbody>
    </table>
    <table class="screenshot">
     <caption>シーン 6</caption>
     <tbody>
      <tr>
       <td class="screenshot">
        <img src="%T143SHOTEXL61" width="%T143SHOTEXL62" height="%T143SHOTEXL63"
             alt="DateTime: %T143SHOTEXL64" title="DateTime: %T143SHOTEXL64" />
       </td>
      </tr>
      <tr><td class="spell">%T143CARDL62</td></tr>
     </tbody>
    </table>
    <table class="screenshot">
     <caption>シーン 7</caption>
     <tbody>
      <tr>
       <td class="screenshot">
        <img src="%T143SHOTEXL71" width="%T143SHOTEXL72" height="%T143SHOTEXL73"
             alt="DateTime: %T143SHOTEXL74" title="DateTime: %T143SHOTEXL74" />
       </td>
      </tr>
      <tr><td class="spell">%T143CARDL72</td></tr>
     </tbody>
    </table>
    <table class="screenshot">
     <caption>シーン 8</caption>
     <tbody>
      <tr>
       <td class="screenshot">
        <img src="%T143SHOTEXL81" width="%T143SHOTEXL82" height="%T143SHOTEXL83"
             alt="DateTime: %T143SHOTEXL84" title="DateTime: %T143SHOTEXL84" />
       </td>
      </tr>
      <tr><td class="spell">%T143CARDL82</td></tr>
     </tbody>
    </table>
    <table class="screenshot">
     <caption>シーン 9</caption>
     <tbody>
      <tr>
       <td class="screenshot">
        <img src="%T143SHOTEXL91" width="%T143SHOTEXL92" height="%T143SHOTEXL93"
             alt="DateTime: %T143SHOTEXL94" title="DateTime: %T143SHOTEXL94" />
       </td>
      </tr>
      <tr><td class="spell">%T143CARDL92</td></tr>
     </tbody>
    </table>
    <table class="screenshot">
     <caption>シーン 10</caption>
     <tbody>
      <tr>
       <td class="screenshot">
        <img src="%T143SHOTEXL01" width="%T143SHOTEXL02" height="%T143SHOTEXL03"
             alt="DateTime: %T143SHOTEXL04" title="DateTime: %T143SHOTEXL04" />
       </td>
      </tr>
      <tr><td class="spell">%T143CARDL02</td></tr>
     </tbody>
    </table>
   </section>

  </main>

  <footer>
   <p>
    Data output by <a href="https://www.colorless-sight.jp/thsfc/">ThScoreFileConverter</a>.
<script>
// <![CDATA[
    document.write("Last updated: ", document.lastModified, ".");
// ]]>
</script>
   </p>
  </footer>

 </body>
</html>
