<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">

 <head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>東方輝針城 スコアデータ</title>
  <link rel="stylesheet" href="style.css" />
<style>
/* <![CDATA[ */
    td.score { min-width: 70px; }
    td.stage { min-width: 70px; }
    table.practice { float: left; }
/* ]]> */
</style>
 </head>

 <body>

  <header>
   <h1>東方輝針城 スコアデータ</h1>
   <hr />
   <nav>
    <ul>
     <li><a href="th14score1.html">スコアデータ全般</a></li>
     <li><a href="th14score2.html">個別ランキング</a></li>
     <li>プラクティス</li>
     <li><a href="th14card1.html">御札戦歴（ゲーム本編）</a></li>
     <li><a href="th14card2.html">御札戦歴（スペルプラクティス）</a></li>
    </ul>
    <ul>
     <li><a href="#Easy">Easy</a></li>
     <li><a href="#Normal">Normal</a></li>
     <li><a href="#Hard">Hard</a></li>
     <li><a href="#Lunatic">Lunatic</a></li>
    </ul>
   </nav>
  </header>

  <main>

   <section>
    <h2 id="Easy">Easy</h2>

    <table class="practice">
     <caption>博麗 霊夢 (A)</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T14PRACERA1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T14PRACERA2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T14PRACERA3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T14PRACERA4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T14PRACERA5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T14PRACERA6</td>
      </tr>
     </tbody>
    </table>

    <table class="practice">
     <caption>博麗 霊夢 (B)</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T14PRACERB1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T14PRACERB2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T14PRACERB3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T14PRACERB4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T14PRACERB5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T14PRACERB6</td>
      </tr>
     </tbody>
    </table>

    <table class="practice">
     <caption>霧雨 魔理沙 (A)</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T14PRACEMA1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T14PRACEMA2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T14PRACEMA3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T14PRACEMA4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T14PRACEMA5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T14PRACEMA6</td>
      </tr>
     </tbody>
    </table>

    <table class="practice">
     <caption>霧雨 魔理沙 (B)</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T14PRACEMB1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T14PRACEMB2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T14PRACEMB3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T14PRACEMB4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T14PRACEMB5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T14PRACEMB6</td>
      </tr>
     </tbody>
    </table>

    <table class="practice">
     <caption>十六夜 咲夜 (A)</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T14PRACESA1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T14PRACESA2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T14PRACESA3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T14PRACESA4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T14PRACESA5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T14PRACESA6</td>
      </tr>
     </tbody>
    </table>

    <table class="practice">
     <caption>十六夜 咲夜 (B)</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T14PRACESB1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T14PRACESB2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T14PRACESB3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T14PRACESB4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T14PRACESB5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T14PRACESB6</td>
      </tr>
     </tbody>
    </table>

   </section>

   <hr />

   <section>
    <h2 id="Normal">Normal</h2>

    <table class="practice">
     <caption>博麗 霊夢 (A)</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T14PRACNRA1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T14PRACNRA2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T14PRACNRA3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T14PRACNRA4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T14PRACNRA5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T14PRACNRA6</td>
      </tr>
     </tbody>
    </table>

    <table class="practice">
     <caption>博麗 霊夢 (B)</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T14PRACNRB1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T14PRACNRB2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T14PRACNRB3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T14PRACNRB4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T14PRACNRB5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T14PRACNRB6</td>
      </tr>
     </tbody>
    </table>

    <table class="practice">
     <caption>霧雨 魔理沙 (A)</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T14PRACNMA1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T14PRACNMA2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T14PRACNMA3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T14PRACNMA4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T14PRACNMA5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T14PRACNMA6</td>
      </tr>
     </tbody>
    </table>

    <table class="practice">
     <caption>霧雨 魔理沙 (B)</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T14PRACNMB1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T14PRACNMB2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T14PRACNMB3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T14PRACNMB4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T14PRACNMB5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T14PRACNMB6</td>
      </tr>
     </tbody>
    </table>

    <table class="practice">
     <caption>十六夜 咲夜 (A)</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T14PRACNSA1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T14PRACNSA2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T14PRACNSA3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T14PRACNSA4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T14PRACNSA5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T14PRACNSA6</td>
      </tr>
     </tbody>
    </table>

    <table class="practice">
     <caption>十六夜 咲夜 (B)</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T14PRACNSB1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T14PRACNSB2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T14PRACNSB3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T14PRACNSB4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T14PRACNSB5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T14PRACNSB6</td>
      </tr>
     </tbody>
    </table>

   </section>

   <hr />

   <section>
    <h2 id="Hard">Hard</h2>

    <table class="practice">
     <caption>博麗 霊夢 (A)</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T14PRACHRA1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T14PRACHRA2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T14PRACHRA3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T14PRACHRA4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T14PRACHRA5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T14PRACHRA6</td>
      </tr>
     </tbody>
    </table>

    <table class="practice">
     <caption>博麗 霊夢 (B)</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T14PRACHRB1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T14PRACHRB2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T14PRACHRB3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T14PRACHRB4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T14PRACHRB5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T14PRACHRB6</td>
      </tr>
     </tbody>
    </table>

    <table class="practice">
     <caption>霧雨 魔理沙 (A)</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T14PRACHMA1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T14PRACHMA2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T14PRACHMA3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T14PRACHMA4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T14PRACHMA5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T14PRACHMA6</td>
      </tr>
     </tbody>
    </table>

    <table class="practice">
     <caption>霧雨 魔理沙 (B)</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T14PRACHMB1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T14PRACHMB2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T14PRACHMB3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T14PRACHMB4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T14PRACHMB5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T14PRACHMB6</td>
      </tr>
     </tbody>
    </table>

    <table class="practice">
     <caption>十六夜 咲夜 (A)</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T14PRACHSA1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T14PRACHSA2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T14PRACHSA3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T14PRACHSA4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T14PRACHSA5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T14PRACHSA6</td>
      </tr>
     </tbody>
    </table>

    <table class="practice">
     <caption>十六夜 咲夜 (B)</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T14PRACHSB1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T14PRACHSB2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T14PRACHSB3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T14PRACHSB4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T14PRACHSB5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T14PRACHSB6</td>
      </tr>
     </tbody>
    </table>

   </section>

   <hr />

   <section>
    <h2 id="Lunatic">Lunatic</h2>

    <table class="practice">
     <caption>博麗 霊夢 (A)</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T14PRACLRA1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T14PRACLRA2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T14PRACLRA3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T14PRACLRA4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T14PRACLRA5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T14PRACLRA6</td>
      </tr>
     </tbody>
    </table>

    <table class="practice">
     <caption>博麗 霊夢 (B)</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T14PRACLRB1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T14PRACLRB2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T14PRACLRB3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T14PRACLRB4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T14PRACLRB5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T14PRACLRB6</td>
      </tr>
     </tbody>
    </table>

    <table class="practice">
     <caption>霧雨 魔理沙 (A)</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T14PRACLMA1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T14PRACLMA2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T14PRACLMA3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T14PRACLMA4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T14PRACLMA5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T14PRACLMA6</td>
      </tr>
     </tbody>
    </table>

    <table class="practice">
     <caption>霧雨 魔理沙 (B)</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T14PRACLMB1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T14PRACLMB2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T14PRACLMB3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T14PRACLMB4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T14PRACLMB5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T14PRACLMB6</td>
      </tr>
     </tbody>
    </table>

    <table class="practice">
     <caption>十六夜 咲夜 (A)</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T14PRACLSA1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T14PRACLSA2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T14PRACLSA3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T14PRACLSA4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T14PRACLSA5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T14PRACLSA6</td>
      </tr>
     </tbody>
    </table>

    <table class="practice">
     <caption>十六夜 咲夜 (B)</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T14PRACLSB1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T14PRACLSB2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T14PRACLSB3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T14PRACLSB4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T14PRACLSB5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T14PRACLSB6</td>
      </tr>
     </tbody>
    </table>

   </section>

  </main>

  <footer>
   <p>
    Data output by <a href="https://www.colorless-sight.jp/thsfc/">ThScoreFileConverter</a>.
<script>
// <![CDATA[
    document.write("Last updated: ", document.lastModified, ".");
// ]]>
</script>
   </p>
  </footer>

 </body>
</html>
