<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">

 <head>
  <meta charset="UTF-8" />
  <title>東方天空璋 スペルカードデータ</title>
  <link rel="stylesheet" href="style.css" />
<style>
/* <![CDATA[ */
    td.character { min-width: 100px; }
    td.level { min-width: 70px; }
    td.stage { min-width: 70px; }
    table.rate_per_card td.number { min-width: 40px; }
    table.rate_per_card td.card { min-width: 180px; }
    table.rate_per_card td.rate { min-width: 80px; }
    table.rate_per_level td.rate { min-width: 100px; }
    table.rate_per_stage td.rate { min-width: 100px; }
/* ]]> */
</style>
 </head>

 <body>

  <header>
   <h1>東方天空璋 スペルカードデータ</h1>
   <hr />
   <nav>
    <ul>
     <li><a href="th16score1.html">スコアデータ全般</a></li>
     <li><a href="th16score2.html">個別ランキング</a></li>
     <li><a href="th16score3.html">プラクティス</a></li>
     <li><a href="th16card1.html">御札戦歴（ゲーム本編）</a></li>
     <li>御札戦歴（スペルプラクティス）</li>
    </ul>
    <ul>
     <li><a href="#rate_per_card">スペルカード別</a></li>
     <li><a href="#rate_per_level">難易度別</a></li>
     <li><a href="#rate_per_stage">ステージ別</a></li>
    </ul>
   </nav>
  </header>

  <main>

   <section>
    <h2 id="Card">御札戦歴（スペルプラクティス）</h2>

    <table class="rate_per_card">
     <caption id="rate_per_card">スペルカード別取得率（取得回数 / 遭遇回数）</caption>
     <thead>
      <tr>
       <th class="number">No.</th>
       <th class="card">スペルカード名<br />（難易度）</th>
       <th class="character">全主人公合計</th>
       <th class="character">博麗 霊夢</th>
       <th class="character">日焼けしたチルノ</th>
       <th class="character">射命丸 文</th>
       <th class="character">霧雨 魔理沙</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="number">No.01</td>
       <td class="card">%T16CARD001N<br />(%T16CARD001R)</td>
       <td class="rate">%T16CP001TL1 / %T16CP001TL2</td>
       <td class="rate">%T16CP001RM1 / %T16CP001RM2</td>
       <td class="rate">%T16CP001CI1 / %T16CP001CI2</td>
       <td class="rate">%T16CP001AY1 / %T16CP001AY2</td>
       <td class="rate">%T16CP001MR1 / %T16CP001MR2</td>
      </tr>
      <tr>
       <td class="number">No.02</td>
       <td class="card">%T16CARD002N<br />(%T16CARD002R)</td>
       <td class="rate">%T16CP002TL1 / %T16CP002TL2</td>
       <td class="rate">%T16CP002RM1 / %T16CP002RM2</td>
       <td class="rate">%T16CP002CI1 / %T16CP002CI2</td>
       <td class="rate">%T16CP002AY1 / %T16CP002AY2</td>
       <td class="rate">%T16CP002MR1 / %T16CP002MR2</td>
      </tr>
      <tr>
       <td class="number">No.03</td>
       <td class="card">%T16CARD003N<br />(%T16CARD003R)</td>
       <td class="rate">%T16CP003TL1 / %T16CP003TL2</td>
       <td class="rate">%T16CP003RM1 / %T16CP003RM2</td>
       <td class="rate">%T16CP003CI1 / %T16CP003CI2</td>
       <td class="rate">%T16CP003AY1 / %T16CP003AY2</td>
       <td class="rate">%T16CP003MR1 / %T16CP003MR2</td>
      </tr>
      <tr>
       <td class="number">No.04</td>
       <td class="card">%T16CARD004N<br />(%T16CARD004R)</td>
       <td class="rate">%T16CP004TL1 / %T16CP004TL2</td>
       <td class="rate">%T16CP004RM1 / %T16CP004RM2</td>
       <td class="rate">%T16CP004CI1 / %T16CP004CI2</td>
       <td class="rate">%T16CP004AY1 / %T16CP004AY2</td>
       <td class="rate">%T16CP004MR1 / %T16CP004MR2</td>
      </tr>
      <tr>
       <td class="number">No.05</td>
       <td class="card">%T16CARD005N<br />(%T16CARD005R)</td>
       <td class="rate">%T16CP005TL1 / %T16CP005TL2</td>
       <td class="rate">%T16CP005RM1 / %T16CP005RM2</td>
       <td class="rate">%T16CP005CI1 / %T16CP005CI2</td>
       <td class="rate">%T16CP005AY1 / %T16CP005AY2</td>
       <td class="rate">%T16CP005MR1 / %T16CP005MR2</td>
      </tr>
      <tr>
       <td class="number">No.06</td>
       <td class="card">%T16CARD006N<br />(%T16CARD006R)</td>
       <td class="rate">%T16CP006TL1 / %T16CP006TL2</td>
       <td class="rate">%T16CP006RM1 / %T16CP006RM2</td>
       <td class="rate">%T16CP006CI1 / %T16CP006CI2</td>
       <td class="rate">%T16CP006AY1 / %T16CP006AY2</td>
       <td class="rate">%T16CP006MR1 / %T16CP006MR2</td>
      </tr>
      <tr>
       <td class="number">No.07</td>
       <td class="card">%T16CARD007N<br />(%T16CARD007R)</td>
       <td class="rate">%T16CP007TL1 / %T16CP007TL2</td>
       <td class="rate">%T16CP007RM1 / %T16CP007RM2</td>
       <td class="rate">%T16CP007CI1 / %T16CP007CI2</td>
       <td class="rate">%T16CP007AY1 / %T16CP007AY2</td>
       <td class="rate">%T16CP007MR1 / %T16CP007MR2</td>
      </tr>
      <tr>
       <td class="number">No.08</td>
       <td class="card">%T16CARD008N<br />(%T16CARD008R)</td>
       <td class="rate">%T16CP008TL1 / %T16CP008TL2</td>
       <td class="rate">%T16CP008RM1 / %T16CP008RM2</td>
       <td class="rate">%T16CP008CI1 / %T16CP008CI2</td>
       <td class="rate">%T16CP008AY1 / %T16CP008AY2</td>
       <td class="rate">%T16CP008MR1 / %T16CP008MR2</td>
      </tr>
      <tr>
       <td class="number">No.09</td>
       <td class="card">%T16CARD009N<br />(%T16CARD009R)</td>
       <td class="rate">%T16CP009TL1 / %T16CP009TL2</td>
       <td class="rate">%T16CP009RM1 / %T16CP009RM2</td>
       <td class="rate">%T16CP009CI1 / %T16CP009CI2</td>
       <td class="rate">%T16CP009AY1 / %T16CP009AY2</td>
       <td class="rate">%T16CP009MR1 / %T16CP009MR2</td>
      </tr>
      <tr>
       <td class="number">No.10</td>
       <td class="card">%T16CARD010N<br />(%T16CARD010R)</td>
       <td class="rate">%T16CP010TL1 / %T16CP010TL2</td>
       <td class="rate">%T16CP010RM1 / %T16CP010RM2</td>
       <td class="rate">%T16CP010CI1 / %T16CP010CI2</td>
       <td class="rate">%T16CP010AY1 / %T16CP010AY2</td>
       <td class="rate">%T16CP010MR1 / %T16CP010MR2</td>
      </tr>

      <tr>
       <td class="number">No.11</td>
       <td class="card">%T16CARD011N<br />(%T16CARD011R)</td>
       <td class="rate">%T16CP011TL1 / %T16CP011TL2</td>
       <td class="rate">%T16CP011RM1 / %T16CP011RM2</td>
       <td class="rate">%T16CP011CI1 / %T16CP011CI2</td>
       <td class="rate">%T16CP011AY1 / %T16CP011AY2</td>
       <td class="rate">%T16CP011MR1 / %T16CP011MR2</td>
      </tr>
      <tr>
       <td class="number">No.12</td>
       <td class="card">%T16CARD012N<br />(%T16CARD012R)</td>
       <td class="rate">%T16CP012TL1 / %T16CP012TL2</td>
       <td class="rate">%T16CP012RM1 / %T16CP012RM2</td>
       <td class="rate">%T16CP012CI1 / %T16CP012CI2</td>
       <td class="rate">%T16CP012AY1 / %T16CP012AY2</td>
       <td class="rate">%T16CP012MR1 / %T16CP012MR2</td>
      </tr>
      <tr>
       <td class="number">No.13</td>
       <td class="card">%T16CARD013N<br />(%T16CARD013R)</td>
       <td class="rate">%T16CP013TL1 / %T16CP013TL2</td>
       <td class="rate">%T16CP013RM1 / %T16CP013RM2</td>
       <td class="rate">%T16CP013CI1 / %T16CP013CI2</td>
       <td class="rate">%T16CP013AY1 / %T16CP013AY2</td>
       <td class="rate">%T16CP013MR1 / %T16CP013MR2</td>
      </tr>
      <tr>
       <td class="number">No.14</td>
       <td class="card">%T16CARD014N<br />(%T16CARD014R)</td>
       <td class="rate">%T16CP014TL1 / %T16CP014TL2</td>
       <td class="rate">%T16CP014RM1 / %T16CP014RM2</td>
       <td class="rate">%T16CP014CI1 / %T16CP014CI2</td>
       <td class="rate">%T16CP014AY1 / %T16CP014AY2</td>
       <td class="rate">%T16CP014MR1 / %T16CP014MR2</td>
      </tr>
      <tr>
       <td class="number">No.15</td>
       <td class="card">%T16CARD015N<br />(%T16CARD015R)</td>
       <td class="rate">%T16CP015TL1 / %T16CP015TL2</td>
       <td class="rate">%T16CP015RM1 / %T16CP015RM2</td>
       <td class="rate">%T16CP015CI1 / %T16CP015CI2</td>
       <td class="rate">%T16CP015AY1 / %T16CP015AY2</td>
       <td class="rate">%T16CP015MR1 / %T16CP015MR2</td>
      </tr>
      <tr>
       <td class="number">No.16</td>
       <td class="card">%T16CARD016N<br />(%T16CARD016R)</td>
       <td class="rate">%T16CP016TL1 / %T16CP016TL2</td>
       <td class="rate">%T16CP016RM1 / %T16CP016RM2</td>
       <td class="rate">%T16CP016CI1 / %T16CP016CI2</td>
       <td class="rate">%T16CP016AY1 / %T16CP016AY2</td>
       <td class="rate">%T16CP016MR1 / %T16CP016MR2</td>
      </tr>
      <tr>
       <td class="number">No.17</td>
       <td class="card">%T16CARD017N<br />(%T16CARD017R)</td>
       <td class="rate">%T16CP017TL1 / %T16CP017TL2</td>
       <td class="rate">%T16CP017RM1 / %T16CP017RM2</td>
       <td class="rate">%T16CP017CI1 / %T16CP017CI2</td>
       <td class="rate">%T16CP017AY1 / %T16CP017AY2</td>
       <td class="rate">%T16CP017MR1 / %T16CP017MR2</td>
      </tr>
      <tr>
       <td class="number">No.18</td>
       <td class="card">%T16CARD018N<br />(%T16CARD018R)</td>
       <td class="rate">%T16CP018TL1 / %T16CP018TL2</td>
       <td class="rate">%T16CP018RM1 / %T16CP018RM2</td>
       <td class="rate">%T16CP018CI1 / %T16CP018CI2</td>
       <td class="rate">%T16CP018AY1 / %T16CP018AY2</td>
       <td class="rate">%T16CP018MR1 / %T16CP018MR2</td>
      </tr>
      <tr>
       <td class="number">No.19</td>
       <td class="card">%T16CARD019N<br />(%T16CARD019R)</td>
       <td class="rate">%T16CP019TL1 / %T16CP019TL2</td>
       <td class="rate">%T16CP019RM1 / %T16CP019RM2</td>
       <td class="rate">%T16CP019CI1 / %T16CP019CI2</td>
       <td class="rate">%T16CP019AY1 / %T16CP019AY2</td>
       <td class="rate">%T16CP019MR1 / %T16CP019MR2</td>
      </tr>
      <tr>
       <td class="number">No.20</td>
       <td class="card">%T16CARD020N<br />(%T16CARD020R)</td>
       <td class="rate">%T16CP020TL1 / %T16CP020TL2</td>
       <td class="rate">%T16CP020RM1 / %T16CP020RM2</td>
       <td class="rate">%T16CP020CI1 / %T16CP020CI2</td>
       <td class="rate">%T16CP020AY1 / %T16CP020AY2</td>
       <td class="rate">%T16CP020MR1 / %T16CP020MR2</td>
      </tr>

      <tr>
       <td class="number">No.21</td>
       <td class="card">%T16CARD021N<br />(%T16CARD021R)</td>
       <td class="rate">%T16CP021TL1 / %T16CP021TL2</td>
       <td class="rate">%T16CP021RM1 / %T16CP021RM2</td>
       <td class="rate">%T16CP021CI1 / %T16CP021CI2</td>
       <td class="rate">%T16CP021AY1 / %T16CP021AY2</td>
       <td class="rate">%T16CP021MR1 / %T16CP021MR2</td>
      </tr>
      <tr>
       <td class="number">No.22</td>
       <td class="card">%T16CARD022N<br />(%T16CARD022R)</td>
       <td class="rate">%T16CP022TL1 / %T16CP022TL2</td>
       <td class="rate">%T16CP022RM1 / %T16CP022RM2</td>
       <td class="rate">%T16CP022CI1 / %T16CP022CI2</td>
       <td class="rate">%T16CP022AY1 / %T16CP022AY2</td>
       <td class="rate">%T16CP022MR1 / %T16CP022MR2</td>
      </tr>
      <tr>
       <td class="number">No.23</td>
       <td class="card">%T16CARD023N<br />(%T16CARD023R)</td>
       <td class="rate">%T16CP023TL1 / %T16CP023TL2</td>
       <td class="rate">%T16CP023RM1 / %T16CP023RM2</td>
       <td class="rate">%T16CP023CI1 / %T16CP023CI2</td>
       <td class="rate">%T16CP023AY1 / %T16CP023AY2</td>
       <td class="rate">%T16CP023MR1 / %T16CP023MR2</td>
      </tr>
      <tr>
       <td class="number">No.24</td>
       <td class="card">%T16CARD024N<br />(%T16CARD024R)</td>
       <td class="rate">%T16CP024TL1 / %T16CP024TL2</td>
       <td class="rate">%T16CP024RM1 / %T16CP024RM2</td>
       <td class="rate">%T16CP024CI1 / %T16CP024CI2</td>
       <td class="rate">%T16CP024AY1 / %T16CP024AY2</td>
       <td class="rate">%T16CP024MR1 / %T16CP024MR2</td>
      </tr>
      <tr>
       <td class="number">No.25</td>
       <td class="card">%T16CARD025N<br />(%T16CARD025R)</td>
       <td class="rate">%T16CP025TL1 / %T16CP025TL2</td>
       <td class="rate">%T16CP025RM1 / %T16CP025RM2</td>
       <td class="rate">%T16CP025CI1 / %T16CP025CI2</td>
       <td class="rate">%T16CP025AY1 / %T16CP025AY2</td>
       <td class="rate">%T16CP025MR1 / %T16CP025MR2</td>
      </tr>
      <tr>
       <td class="number">No.26</td>
       <td class="card">%T16CARD026N<br />(%T16CARD026R)</td>
       <td class="rate">%T16CP026TL1 / %T16CP026TL2</td>
       <td class="rate">%T16CP026RM1 / %T16CP026RM2</td>
       <td class="rate">%T16CP026CI1 / %T16CP026CI2</td>
       <td class="rate">%T16CP026AY1 / %T16CP026AY2</td>
       <td class="rate">%T16CP026MR1 / %T16CP026MR2</td>
      </tr>
      <tr>
       <td class="number">No.27</td>
       <td class="card">%T16CARD027N<br />(%T16CARD027R)</td>
       <td class="rate">%T16CP027TL1 / %T16CP027TL2</td>
       <td class="rate">%T16CP027RM1 / %T16CP027RM2</td>
       <td class="rate">%T16CP027CI1 / %T16CP027CI2</td>
       <td class="rate">%T16CP027AY1 / %T16CP027AY2</td>
       <td class="rate">%T16CP027MR1 / %T16CP027MR2</td>
      </tr>
      <tr>
       <td class="number">No.28</td>
       <td class="card">%T16CARD028N<br />(%T16CARD028R)</td>
       <td class="rate">%T16CP028TL1 / %T16CP028TL2</td>
       <td class="rate">%T16CP028RM1 / %T16CP028RM2</td>
       <td class="rate">%T16CP028CI1 / %T16CP028CI2</td>
       <td class="rate">%T16CP028AY1 / %T16CP028AY2</td>
       <td class="rate">%T16CP028MR1 / %T16CP028MR2</td>
      </tr>
      <tr>
       <td class="number">No.29</td>
       <td class="card">%T16CARD029N<br />(%T16CARD029R)</td>
       <td class="rate">%T16CP029TL1 / %T16CP029TL2</td>
       <td class="rate">%T16CP029RM1 / %T16CP029RM2</td>
       <td class="rate">%T16CP029CI1 / %T16CP029CI2</td>
       <td class="rate">%T16CP029AY1 / %T16CP029AY2</td>
       <td class="rate">%T16CP029MR1 / %T16CP029MR2</td>
      </tr>
      <tr>
       <td class="number">No.30</td>
       <td class="card">%T16CARD030N<br />(%T16CARD030R)</td>
       <td class="rate">%T16CP030TL1 / %T16CP030TL2</td>
       <td class="rate">%T16CP030RM1 / %T16CP030RM2</td>
       <td class="rate">%T16CP030CI1 / %T16CP030CI2</td>
       <td class="rate">%T16CP030AY1 / %T16CP030AY2</td>
       <td class="rate">%T16CP030MR1 / %T16CP030MR2</td>
      </tr>

      <tr>
       <td class="number">No.31</td>
       <td class="card">%T16CARD031N<br />(%T16CARD031R)</td>
       <td class="rate">%T16CP031TL1 / %T16CP031TL2</td>
       <td class="rate">%T16CP031RM1 / %T16CP031RM2</td>
       <td class="rate">%T16CP031CI1 / %T16CP031CI2</td>
       <td class="rate">%T16CP031AY1 / %T16CP031AY2</td>
       <td class="rate">%T16CP031MR1 / %T16CP031MR2</td>
      </tr>
      <tr>
       <td class="number">No.32</td>
       <td class="card">%T16CARD032N<br />(%T16CARD032R)</td>
       <td class="rate">%T16CP032TL1 / %T16CP032TL2</td>
       <td class="rate">%T16CP032RM1 / %T16CP032RM2</td>
       <td class="rate">%T16CP032CI1 / %T16CP032CI2</td>
       <td class="rate">%T16CP032AY1 / %T16CP032AY2</td>
       <td class="rate">%T16CP032MR1 / %T16CP032MR2</td>
      </tr>
      <tr>
       <td class="number">No.33</td>
       <td class="card">%T16CARD033N<br />(%T16CARD033R)</td>
       <td class="rate">%T16CP033TL1 / %T16CP033TL2</td>
       <td class="rate">%T16CP033RM1 / %T16CP033RM2</td>
       <td class="rate">%T16CP033CI1 / %T16CP033CI2</td>
       <td class="rate">%T16CP033AY1 / %T16CP033AY2</td>
       <td class="rate">%T16CP033MR1 / %T16CP033MR2</td>
      </tr>
      <tr>
       <td class="number">No.34</td>
       <td class="card">%T16CARD034N<br />(%T16CARD034R)</td>
       <td class="rate">%T16CP034TL1 / %T16CP034TL2</td>
       <td class="rate">%T16CP034RM1 / %T16CP034RM2</td>
       <td class="rate">%T16CP034CI1 / %T16CP034CI2</td>
       <td class="rate">%T16CP034AY1 / %T16CP034AY2</td>
       <td class="rate">%T16CP034MR1 / %T16CP034MR2</td>
      </tr>
      <tr>
       <td class="number">No.35</td>
       <td class="card">%T16CARD035N<br />(%T16CARD035R)</td>
       <td class="rate">%T16CP035TL1 / %T16CP035TL2</td>
       <td class="rate">%T16CP035RM1 / %T16CP035RM2</td>
       <td class="rate">%T16CP035CI1 / %T16CP035CI2</td>
       <td class="rate">%T16CP035AY1 / %T16CP035AY2</td>
       <td class="rate">%T16CP035MR1 / %T16CP035MR2</td>
      </tr>
      <tr>
       <td class="number">No.36</td>
       <td class="card">%T16CARD036N<br />(%T16CARD036R)</td>
       <td class="rate">%T16CP036TL1 / %T16CP036TL2</td>
       <td class="rate">%T16CP036RM1 / %T16CP036RM2</td>
       <td class="rate">%T16CP036CI1 / %T16CP036CI2</td>
       <td class="rate">%T16CP036AY1 / %T16CP036AY2</td>
       <td class="rate">%T16CP036MR1 / %T16CP036MR2</td>
      </tr>
      <tr>
       <td class="number">No.37</td>
       <td class="card">%T16CARD037N<br />(%T16CARD037R)</td>
       <td class="rate">%T16CP037TL1 / %T16CP037TL2</td>
       <td class="rate">%T16CP037RM1 / %T16CP037RM2</td>
       <td class="rate">%T16CP037CI1 / %T16CP037CI2</td>
       <td class="rate">%T16CP037AY1 / %T16CP037AY2</td>
       <td class="rate">%T16CP037MR1 / %T16CP037MR2</td>
      </tr>
      <tr>
       <td class="number">No.38</td>
       <td class="card">%T16CARD038N<br />(%T16CARD038R)</td>
       <td class="rate">%T16CP038TL1 / %T16CP038TL2</td>
       <td class="rate">%T16CP038RM1 / %T16CP038RM2</td>
       <td class="rate">%T16CP038CI1 / %T16CP038CI2</td>
       <td class="rate">%T16CP038AY1 / %T16CP038AY2</td>
       <td class="rate">%T16CP038MR1 / %T16CP038MR2</td>
      </tr>
      <tr>
       <td class="number">No.39</td>
       <td class="card">%T16CARD039N<br />(%T16CARD039R)</td>
       <td class="rate">%T16CP039TL1 / %T16CP039TL2</td>
       <td class="rate">%T16CP039RM1 / %T16CP039RM2</td>
       <td class="rate">%T16CP039CI1 / %T16CP039CI2</td>
       <td class="rate">%T16CP039AY1 / %T16CP039AY2</td>
       <td class="rate">%T16CP039MR1 / %T16CP039MR2</td>
      </tr>
      <tr>
       <td class="number">No.40</td>
       <td class="card">%T16CARD040N<br />(%T16CARD040R)</td>
       <td class="rate">%T16CP040TL1 / %T16CP040TL2</td>
       <td class="rate">%T16CP040RM1 / %T16CP040RM2</td>
       <td class="rate">%T16CP040CI1 / %T16CP040CI2</td>
       <td class="rate">%T16CP040AY1 / %T16CP040AY2</td>
       <td class="rate">%T16CP040MR1 / %T16CP040MR2</td>
      </tr>

      <tr>
       <td class="number">No.41</td>
       <td class="card">%T16CARD041N<br />(%T16CARD041R)</td>
       <td class="rate">%T16CP041TL1 / %T16CP041TL2</td>
       <td class="rate">%T16CP041RM1 / %T16CP041RM2</td>
       <td class="rate">%T16CP041CI1 / %T16CP041CI2</td>
       <td class="rate">%T16CP041AY1 / %T16CP041AY2</td>
       <td class="rate">%T16CP041MR1 / %T16CP041MR2</td>
      </tr>
      <tr>
       <td class="number">No.42</td>
       <td class="card">%T16CARD042N<br />(%T16CARD042R)</td>
       <td class="rate">%T16CP042TL1 / %T16CP042TL2</td>
       <td class="rate">%T16CP042RM1 / %T16CP042RM2</td>
       <td class="rate">%T16CP042CI1 / %T16CP042CI2</td>
       <td class="rate">%T16CP042AY1 / %T16CP042AY2</td>
       <td class="rate">%T16CP042MR1 / %T16CP042MR2</td>
      </tr>
      <tr>
       <td class="number">No.43</td>
       <td class="card">%T16CARD043N<br />(%T16CARD043R)</td>
       <td class="rate">%T16CP043TL1 / %T16CP043TL2</td>
       <td class="rate">%T16CP043RM1 / %T16CP043RM2</td>
       <td class="rate">%T16CP043CI1 / %T16CP043CI2</td>
       <td class="rate">%T16CP043AY1 / %T16CP043AY2</td>
       <td class="rate">%T16CP043MR1 / %T16CP043MR2</td>
      </tr>
      <tr>
       <td class="number">No.44</td>
       <td class="card">%T16CARD044N<br />(%T16CARD044R)</td>
       <td class="rate">%T16CP044TL1 / %T16CP044TL2</td>
       <td class="rate">%T16CP044RM1 / %T16CP044RM2</td>
       <td class="rate">%T16CP044CI1 / %T16CP044CI2</td>
       <td class="rate">%T16CP044AY1 / %T16CP044AY2</td>
       <td class="rate">%T16CP044MR1 / %T16CP044MR2</td>
      </tr>
      <tr>
       <td class="number">No.45</td>
       <td class="card">%T16CARD045N<br />(%T16CARD045R)</td>
       <td class="rate">%T16CP045TL1 / %T16CP045TL2</td>
       <td class="rate">%T16CP045RM1 / %T16CP045RM2</td>
       <td class="rate">%T16CP045CI1 / %T16CP045CI2</td>
       <td class="rate">%T16CP045AY1 / %T16CP045AY2</td>
       <td class="rate">%T16CP045MR1 / %T16CP045MR2</td>
      </tr>
      <tr>
       <td class="number">No.46</td>
       <td class="card">%T16CARD046N<br />(%T16CARD046R)</td>
       <td class="rate">%T16CP046TL1 / %T16CP046TL2</td>
       <td class="rate">%T16CP046RM1 / %T16CP046RM2</td>
       <td class="rate">%T16CP046CI1 / %T16CP046CI2</td>
       <td class="rate">%T16CP046AY1 / %T16CP046AY2</td>
       <td class="rate">%T16CP046MR1 / %T16CP046MR2</td>
      </tr>
      <tr>
       <td class="number">No.47</td>
       <td class="card">%T16CARD047N<br />(%T16CARD047R)</td>
       <td class="rate">%T16CP047TL1 / %T16CP047TL2</td>
       <td class="rate">%T16CP047RM1 / %T16CP047RM2</td>
       <td class="rate">%T16CP047CI1 / %T16CP047CI2</td>
       <td class="rate">%T16CP047AY1 / %T16CP047AY2</td>
       <td class="rate">%T16CP047MR1 / %T16CP047MR2</td>
      </tr>
      <tr>
       <td class="number">No.48</td>
       <td class="card">%T16CARD048N<br />(%T16CARD048R)</td>
       <td class="rate">%T16CP048TL1 / %T16CP048TL2</td>
       <td class="rate">%T16CP048RM1 / %T16CP048RM2</td>
       <td class="rate">%T16CP048CI1 / %T16CP048CI2</td>
       <td class="rate">%T16CP048AY1 / %T16CP048AY2</td>
       <td class="rate">%T16CP048MR1 / %T16CP048MR2</td>
      </tr>
      <tr>
       <td class="number">No.49</td>
       <td class="card">%T16CARD049N<br />(%T16CARD049R)</td>
       <td class="rate">%T16CP049TL1 / %T16CP049TL2</td>
       <td class="rate">%T16CP049RM1 / %T16CP049RM2</td>
       <td class="rate">%T16CP049CI1 / %T16CP049CI2</td>
       <td class="rate">%T16CP049AY1 / %T16CP049AY2</td>
       <td class="rate">%T16CP049MR1 / %T16CP049MR2</td>
      </tr>
      <tr>
       <td class="number">No.50</td>
       <td class="card">%T16CARD050N<br />(%T16CARD050R)</td>
       <td class="rate">%T16CP050TL1 / %T16CP050TL2</td>
       <td class="rate">%T16CP050RM1 / %T16CP050RM2</td>
       <td class="rate">%T16CP050CI1 / %T16CP050CI2</td>
       <td class="rate">%T16CP050AY1 / %T16CP050AY2</td>
       <td class="rate">%T16CP050MR1 / %T16CP050MR2</td>
      </tr>

      <tr>
       <td class="number">No.51</td>
       <td class="card">%T16CARD051N<br />(%T16CARD051R)</td>
       <td class="rate">%T16CP051TL1 / %T16CP051TL2</td>
       <td class="rate">%T16CP051RM1 / %T16CP051RM2</td>
       <td class="rate">%T16CP051CI1 / %T16CP051CI2</td>
       <td class="rate">%T16CP051AY1 / %T16CP051AY2</td>
       <td class="rate">%T16CP051MR1 / %T16CP051MR2</td>
      </tr>
      <tr>
       <td class="number">No.52</td>
       <td class="card">%T16CARD052N<br />(%T16CARD052R)</td>
       <td class="rate">%T16CP052TL1 / %T16CP052TL2</td>
       <td class="rate">%T16CP052RM1 / %T16CP052RM2</td>
       <td class="rate">%T16CP052CI1 / %T16CP052CI2</td>
       <td class="rate">%T16CP052AY1 / %T16CP052AY2</td>
       <td class="rate">%T16CP052MR1 / %T16CP052MR2</td>
      </tr>
      <tr>
       <td class="number">No.53</td>
       <td class="card">%T16CARD053N<br />(%T16CARD053R)</td>
       <td class="rate">%T16CP053TL1 / %T16CP053TL2</td>
       <td class="rate">%T16CP053RM1 / %T16CP053RM2</td>
       <td class="rate">%T16CP053CI1 / %T16CP053CI2</td>
       <td class="rate">%T16CP053AY1 / %T16CP053AY2</td>
       <td class="rate">%T16CP053MR1 / %T16CP053MR2</td>
      </tr>
      <tr>
       <td class="number">No.54</td>
       <td class="card">%T16CARD054N<br />(%T16CARD054R)</td>
       <td class="rate">%T16CP054TL1 / %T16CP054TL2</td>
       <td class="rate">%T16CP054RM1 / %T16CP054RM2</td>
       <td class="rate">%T16CP054CI1 / %T16CP054CI2</td>
       <td class="rate">%T16CP054AY1 / %T16CP054AY2</td>
       <td class="rate">%T16CP054MR1 / %T16CP054MR2</td>
      </tr>
      <tr>
       <td class="number">No.55</td>
       <td class="card">%T16CARD055N<br />(%T16CARD055R)</td>
       <td class="rate">%T16CP055TL1 / %T16CP055TL2</td>
       <td class="rate">%T16CP055RM1 / %T16CP055RM2</td>
       <td class="rate">%T16CP055CI1 / %T16CP055CI2</td>
       <td class="rate">%T16CP055AY1 / %T16CP055AY2</td>
       <td class="rate">%T16CP055MR1 / %T16CP055MR2</td>
      </tr>
      <tr>
       <td class="number">No.56</td>
       <td class="card">%T16CARD056N<br />(%T16CARD056R)</td>
       <td class="rate">%T16CP056TL1 / %T16CP056TL2</td>
       <td class="rate">%T16CP056RM1 / %T16CP056RM2</td>
       <td class="rate">%T16CP056CI1 / %T16CP056CI2</td>
       <td class="rate">%T16CP056AY1 / %T16CP056AY2</td>
       <td class="rate">%T16CP056MR1 / %T16CP056MR2</td>
      </tr>
      <tr>
       <td class="number">No.57</td>
       <td class="card">%T16CARD057N<br />(%T16CARD057R)</td>
       <td class="rate">%T16CP057TL1 / %T16CP057TL2</td>
       <td class="rate">%T16CP057RM1 / %T16CP057RM2</td>
       <td class="rate">%T16CP057CI1 / %T16CP057CI2</td>
       <td class="rate">%T16CP057AY1 / %T16CP057AY2</td>
       <td class="rate">%T16CP057MR1 / %T16CP057MR2</td>
      </tr>
      <tr>
       <td class="number">No.58</td>
       <td class="card">%T16CARD058N<br />(%T16CARD058R)</td>
       <td class="rate">%T16CP058TL1 / %T16CP058TL2</td>
       <td class="rate">%T16CP058RM1 / %T16CP058RM2</td>
       <td class="rate">%T16CP058CI1 / %T16CP058CI2</td>
       <td class="rate">%T16CP058AY1 / %T16CP058AY2</td>
       <td class="rate">%T16CP058MR1 / %T16CP058MR2</td>
      </tr>
      <tr>
       <td class="number">No.59</td>
       <td class="card">%T16CARD059N<br />(%T16CARD059R)</td>
       <td class="rate">%T16CP059TL1 / %T16CP059TL2</td>
       <td class="rate">%T16CP059RM1 / %T16CP059RM2</td>
       <td class="rate">%T16CP059CI1 / %T16CP059CI2</td>
       <td class="rate">%T16CP059AY1 / %T16CP059AY2</td>
       <td class="rate">%T16CP059MR1 / %T16CP059MR2</td>
      </tr>
      <tr>
       <td class="number">No.60</td>
       <td class="card">%T16CARD060N<br />(%T16CARD060R)</td>
       <td class="rate">%T16CP060TL1 / %T16CP060TL2</td>
       <td class="rate">%T16CP060RM1 / %T16CP060RM2</td>
       <td class="rate">%T16CP060CI1 / %T16CP060CI2</td>
       <td class="rate">%T16CP060AY1 / %T16CP060AY2</td>
       <td class="rate">%T16CP060MR1 / %T16CP060MR2</td>
      </tr>

      <tr>
       <td class="number">No.61</td>
       <td class="card">%T16CARD061N<br />(%T16CARD061R)</td>
       <td class="rate">%T16CP061TL1 / %T16CP061TL2</td>
       <td class="rate">%T16CP061RM1 / %T16CP061RM2</td>
       <td class="rate">%T16CP061CI1 / %T16CP061CI2</td>
       <td class="rate">%T16CP061AY1 / %T16CP061AY2</td>
       <td class="rate">%T16CP061MR1 / %T16CP061MR2</td>
      </tr>
      <tr>
       <td class="number">No.62</td>
       <td class="card">%T16CARD062N<br />(%T16CARD062R)</td>
       <td class="rate">%T16CP062TL1 / %T16CP062TL2</td>
       <td class="rate">%T16CP062RM1 / %T16CP062RM2</td>
       <td class="rate">%T16CP062CI1 / %T16CP062CI2</td>
       <td class="rate">%T16CP062AY1 / %T16CP062AY2</td>
       <td class="rate">%T16CP062MR1 / %T16CP062MR2</td>
      </tr>
      <tr>
       <td class="number">No.63</td>
       <td class="card">%T16CARD063N<br />(%T16CARD063R)</td>
       <td class="rate">%T16CP063TL1 / %T16CP063TL2</td>
       <td class="rate">%T16CP063RM1 / %T16CP063RM2</td>
       <td class="rate">%T16CP063CI1 / %T16CP063CI2</td>
       <td class="rate">%T16CP063AY1 / %T16CP063AY2</td>
       <td class="rate">%T16CP063MR1 / %T16CP063MR2</td>
      </tr>
      <tr>
       <td class="number">No.64</td>
       <td class="card">%T16CARD064N<br />(%T16CARD064R)</td>
       <td class="rate">%T16CP064TL1 / %T16CP064TL2</td>
       <td class="rate">%T16CP064RM1 / %T16CP064RM2</td>
       <td class="rate">%T16CP064CI1 / %T16CP064CI2</td>
       <td class="rate">%T16CP064AY1 / %T16CP064AY2</td>
       <td class="rate">%T16CP064MR1 / %T16CP064MR2</td>
      </tr>
      <tr>
       <td class="number">No.65</td>
       <td class="card">%T16CARD065N<br />(%T16CARD065R)</td>
       <td class="rate">%T16CP065TL1 / %T16CP065TL2</td>
       <td class="rate">%T16CP065RM1 / %T16CP065RM2</td>
       <td class="rate">%T16CP065CI1 / %T16CP065CI2</td>
       <td class="rate">%T16CP065AY1 / %T16CP065AY2</td>
       <td class="rate">%T16CP065MR1 / %T16CP065MR2</td>
      </tr>
      <tr>
       <td class="number">No.66</td>
       <td class="card">%T16CARD066N<br />(%T16CARD066R)</td>
       <td class="rate">%T16CP066TL1 / %T16CP066TL2</td>
       <td class="rate">%T16CP066RM1 / %T16CP066RM2</td>
       <td class="rate">%T16CP066CI1 / %T16CP066CI2</td>
       <td class="rate">%T16CP066AY1 / %T16CP066AY2</td>
       <td class="rate">%T16CP066MR1 / %T16CP066MR2</td>
      </tr>
      <tr>
       <td class="number">No.67</td>
       <td class="card">%T16CARD067N<br />(%T16CARD067R)</td>
       <td class="rate">%T16CP067TL1 / %T16CP067TL2</td>
       <td class="rate">%T16CP067RM1 / %T16CP067RM2</td>
       <td class="rate">%T16CP067CI1 / %T16CP067CI2</td>
       <td class="rate">%T16CP067AY1 / %T16CP067AY2</td>
       <td class="rate">%T16CP067MR1 / %T16CP067MR2</td>
      </tr>
      <tr>
       <td class="number">No.68</td>
       <td class="card">%T16CARD068N<br />(%T16CARD068R)</td>
       <td class="rate">%T16CP068TL1 / %T16CP068TL2</td>
       <td class="rate">%T16CP068RM1 / %T16CP068RM2</td>
       <td class="rate">%T16CP068CI1 / %T16CP068CI2</td>
       <td class="rate">%T16CP068AY1 / %T16CP068AY2</td>
       <td class="rate">%T16CP068MR1 / %T16CP068MR2</td>
      </tr>
      <tr>
       <td class="number">No.69</td>
       <td class="card">%T16CARD069N<br />(%T16CARD069R)</td>
       <td class="rate">%T16CP069TL1 / %T16CP069TL2</td>
       <td class="rate">%T16CP069RM1 / %T16CP069RM2</td>
       <td class="rate">%T16CP069CI1 / %T16CP069CI2</td>
       <td class="rate">%T16CP069AY1 / %T16CP069AY2</td>
       <td class="rate">%T16CP069MR1 / %T16CP069MR2</td>
      </tr>
      <tr>
       <td class="number">No.70</td>
       <td class="card">%T16CARD070N<br />(%T16CARD070R)</td>
       <td class="rate">%T16CP070TL1 / %T16CP070TL2</td>
       <td class="rate">%T16CP070RM1 / %T16CP070RM2</td>
       <td class="rate">%T16CP070CI1 / %T16CP070CI2</td>
       <td class="rate">%T16CP070AY1 / %T16CP070AY2</td>
       <td class="rate">%T16CP070MR1 / %T16CP070MR2</td>
      </tr>

      <tr>
       <td class="number">No.71</td>
       <td class="card">%T16CARD071N<br />(%T16CARD071R)</td>
       <td class="rate">%T16CP071TL1 / %T16CP071TL2</td>
       <td class="rate">%T16CP071RM1 / %T16CP071RM2</td>
       <td class="rate">%T16CP071CI1 / %T16CP071CI2</td>
       <td class="rate">%T16CP071AY1 / %T16CP071AY2</td>
       <td class="rate">%T16CP071MR1 / %T16CP071MR2</td>
      </tr>
      <tr>
       <td class="number">No.72</td>
       <td class="card">%T16CARD072N<br />(%T16CARD072R)</td>
       <td class="rate">%T16CP072TL1 / %T16CP072TL2</td>
       <td class="rate">%T16CP072RM1 / %T16CP072RM2</td>
       <td class="rate">%T16CP072CI1 / %T16CP072CI2</td>
       <td class="rate">%T16CP072AY1 / %T16CP072AY2</td>
       <td class="rate">%T16CP072MR1 / %T16CP072MR2</td>
      </tr>
      <tr>
       <td class="number">No.73</td>
       <td class="card">%T16CARD073N<br />(%T16CARD073R)</td>
       <td class="rate">%T16CP073TL1 / %T16CP073TL2</td>
       <td class="rate">%T16CP073RM1 / %T16CP073RM2</td>
       <td class="rate">%T16CP073CI1 / %T16CP073CI2</td>
       <td class="rate">%T16CP073AY1 / %T16CP073AY2</td>
       <td class="rate">%T16CP073MR1 / %T16CP073MR2</td>
      </tr>
      <tr>
       <td class="number">No.74</td>
       <td class="card">%T16CARD074N<br />(%T16CARD074R)</td>
       <td class="rate">%T16CP074TL1 / %T16CP074TL2</td>
       <td class="rate">%T16CP074RM1 / %T16CP074RM2</td>
       <td class="rate">%T16CP074CI1 / %T16CP074CI2</td>
       <td class="rate">%T16CP074AY1 / %T16CP074AY2</td>
       <td class="rate">%T16CP074MR1 / %T16CP074MR2</td>
      </tr>
      <tr>
       <td class="number">No.75</td>
       <td class="card">%T16CARD075N<br />(%T16CARD075R)</td>
       <td class="rate">%T16CP075TL1 / %T16CP075TL2</td>
       <td class="rate">%T16CP075RM1 / %T16CP075RM2</td>
       <td class="rate">%T16CP075CI1 / %T16CP075CI2</td>
       <td class="rate">%T16CP075AY1 / %T16CP075AY2</td>
       <td class="rate">%T16CP075MR1 / %T16CP075MR2</td>
      </tr>
      <tr>
       <td class="number">No.76</td>
       <td class="card">%T16CARD076N<br />(%T16CARD076R)</td>
       <td class="rate">%T16CP076TL1 / %T16CP076TL2</td>
       <td class="rate">%T16CP076RM1 / %T16CP076RM2</td>
       <td class="rate">%T16CP076CI1 / %T16CP076CI2</td>
       <td class="rate">%T16CP076AY1 / %T16CP076AY2</td>
       <td class="rate">%T16CP076MR1 / %T16CP076MR2</td>
      </tr>
      <tr>
       <td class="number">No.77</td>
       <td class="card">%T16CARD077N<br />(%T16CARD077R)</td>
       <td class="rate">%T16CP077TL1 / %T16CP077TL2</td>
       <td class="rate">%T16CP077RM1 / %T16CP077RM2</td>
       <td class="rate">%T16CP077CI1 / %T16CP077CI2</td>
       <td class="rate">%T16CP077AY1 / %T16CP077AY2</td>
       <td class="rate">%T16CP077MR1 / %T16CP077MR2</td>
      </tr>
      <tr>
       <td class="number">No.78</td>
       <td class="card">%T16CARD078N<br />(%T16CARD078R)</td>
       <td class="rate">%T16CP078TL1 / %T16CP078TL2</td>
       <td class="rate">%T16CP078RM1 / %T16CP078RM2</td>
       <td class="rate">%T16CP078CI1 / %T16CP078CI2</td>
       <td class="rate">%T16CP078AY1 / %T16CP078AY2</td>
       <td class="rate">%T16CP078MR1 / %T16CP078MR2</td>
      </tr>
      <tr>
       <td class="number">No.79</td>
       <td class="card">%T16CARD079N<br />(%T16CARD079R)</td>
       <td class="rate">%T16CP079TL1 / %T16CP079TL2</td>
       <td class="rate">%T16CP079RM1 / %T16CP079RM2</td>
       <td class="rate">%T16CP079CI1 / %T16CP079CI2</td>
       <td class="rate">%T16CP079AY1 / %T16CP079AY2</td>
       <td class="rate">%T16CP079MR1 / %T16CP079MR2</td>
      </tr>
      <tr>
       <td class="number">No.80</td>
       <td class="card">%T16CARD080N<br />(%T16CARD080R)</td>
       <td class="rate">%T16CP080TL1 / %T16CP080TL2</td>
       <td class="rate">%T16CP080RM1 / %T16CP080RM2</td>
       <td class="rate">%T16CP080CI1 / %T16CP080CI2</td>
       <td class="rate">%T16CP080AY1 / %T16CP080AY2</td>
       <td class="rate">%T16CP080MR1 / %T16CP080MR2</td>
      </tr>

      <tr>
       <td class="number">No.81</td>
       <td class="card">%T16CARD081N<br />(%T16CARD081R)</td>
       <td class="rate">%T16CP081TL1 / %T16CP081TL2</td>
       <td class="rate">%T16CP081RM1 / %T16CP081RM2</td>
       <td class="rate">%T16CP081CI1 / %T16CP081CI2</td>
       <td class="rate">%T16CP081AY1 / %T16CP081AY2</td>
       <td class="rate">%T16CP081MR1 / %T16CP081MR2</td>
      </tr>
      <tr>
       <td class="number">No.82</td>
       <td class="card">%T16CARD082N<br />(%T16CARD082R)</td>
       <td class="rate">%T16CP082TL1 / %T16CP082TL2</td>
       <td class="rate">%T16CP082RM1 / %T16CP082RM2</td>
       <td class="rate">%T16CP082CI1 / %T16CP082CI2</td>
       <td class="rate">%T16CP082AY1 / %T16CP082AY2</td>
       <td class="rate">%T16CP082MR1 / %T16CP082MR2</td>
      </tr>
      <tr>
       <td class="number">No.83</td>
       <td class="card">%T16CARD083N<br />(%T16CARD083R)</td>
       <td class="rate">%T16CP083TL1 / %T16CP083TL2</td>
       <td class="rate">%T16CP083RM1 / %T16CP083RM2</td>
       <td class="rate">%T16CP083CI1 / %T16CP083CI2</td>
       <td class="rate">%T16CP083AY1 / %T16CP083AY2</td>
       <td class="rate">%T16CP083MR1 / %T16CP083MR2</td>
      </tr>
      <tr>
       <td class="number">No.84</td>
       <td class="card">%T16CARD084N<br />(%T16CARD084R)</td>
       <td class="rate">%T16CP084TL1 / %T16CP084TL2</td>
       <td class="rate">%T16CP084RM1 / %T16CP084RM2</td>
       <td class="rate">%T16CP084CI1 / %T16CP084CI2</td>
       <td class="rate">%T16CP084AY1 / %T16CP084AY2</td>
       <td class="rate">%T16CP084MR1 / %T16CP084MR2</td>
      </tr>
      <tr>
       <td class="number">No.85</td>
       <td class="card">%T16CARD085N<br />(%T16CARD085R)</td>
       <td class="rate">%T16CP085TL1 / %T16CP085TL2</td>
       <td class="rate">%T16CP085RM1 / %T16CP085RM2</td>
       <td class="rate">%T16CP085CI1 / %T16CP085CI2</td>
       <td class="rate">%T16CP085AY1 / %T16CP085AY2</td>
       <td class="rate">%T16CP085MR1 / %T16CP085MR2</td>
      </tr>
      <tr>
       <td class="number">No.86</td>
       <td class="card">%T16CARD086N<br />(%T16CARD086R)</td>
       <td class="rate">%T16CP086TL1 / %T16CP086TL2</td>
       <td class="rate">%T16CP086RM1 / %T16CP086RM2</td>
       <td class="rate">%T16CP086CI1 / %T16CP086CI2</td>
       <td class="rate">%T16CP086AY1 / %T16CP086AY2</td>
       <td class="rate">%T16CP086MR1 / %T16CP086MR2</td>
      </tr>
      <tr>
       <td class="number">No.87</td>
       <td class="card">%T16CARD087N<br />(%T16CARD087R)</td>
       <td class="rate">%T16CP087TL1 / %T16CP087TL2</td>
       <td class="rate">%T16CP087RM1 / %T16CP087RM2</td>
       <td class="rate">%T16CP087CI1 / %T16CP087CI2</td>
       <td class="rate">%T16CP087AY1 / %T16CP087AY2</td>
       <td class="rate">%T16CP087MR1 / %T16CP087MR2</td>
      </tr>
      <tr>
       <td class="number">No.88</td>
       <td class="card">%T16CARD088N<br />(%T16CARD088R)</td>
       <td class="rate">%T16CP088TL1 / %T16CP088TL2</td>
       <td class="rate">%T16CP088RM1 / %T16CP088RM2</td>
       <td class="rate">%T16CP088CI1 / %T16CP088CI2</td>
       <td class="rate">%T16CP088AY1 / %T16CP088AY2</td>
       <td class="rate">%T16CP088MR1 / %T16CP088MR2</td>
      </tr>
      <tr>
       <td class="number">No.89</td>
       <td class="card">%T16CARD089N<br />(%T16CARD089R)</td>
       <td class="rate">%T16CP089TL1 / %T16CP089TL2</td>
       <td class="rate">%T16CP089RM1 / %T16CP089RM2</td>
       <td class="rate">%T16CP089CI1 / %T16CP089CI2</td>
       <td class="rate">%T16CP089AY1 / %T16CP089AY2</td>
       <td class="rate">%T16CP089MR1 / %T16CP089MR2</td>
      </tr>
      <tr>
       <td class="number">No.90</td>
       <td class="card">%T16CARD090N<br />(%T16CARD090R)</td>
       <td class="rate">%T16CP090TL1 / %T16CP090TL2</td>
       <td class="rate">%T16CP090RM1 / %T16CP090RM2</td>
       <td class="rate">%T16CP090CI1 / %T16CP090CI2</td>
       <td class="rate">%T16CP090AY1 / %T16CP090AY2</td>
       <td class="rate">%T16CP090MR1 / %T16CP090MR2</td>
      </tr>

      <tr>
       <td class="number">No.91</td>
       <td class="card">%T16CARD091N<br />(%T16CARD091R)</td>
       <td class="rate">%T16CP091TL1 / %T16CP091TL2</td>
       <td class="rate">%T16CP091RM1 / %T16CP091RM2</td>
       <td class="rate">%T16CP091CI1 / %T16CP091CI2</td>
       <td class="rate">%T16CP091AY1 / %T16CP091AY2</td>
       <td class="rate">%T16CP091MR1 / %T16CP091MR2</td>
      </tr>
      <tr>
       <td class="number">No.92</td>
       <td class="card">%T16CARD092N<br />(%T16CARD092R)</td>
       <td class="rate">%T16CP092TL1 / %T16CP092TL2</td>
       <td class="rate">%T16CP092RM1 / %T16CP092RM2</td>
       <td class="rate">%T16CP092CI1 / %T16CP092CI2</td>
       <td class="rate">%T16CP092AY1 / %T16CP092AY2</td>
       <td class="rate">%T16CP092MR1 / %T16CP092MR2</td>
      </tr>
      <tr>
       <td class="number">No.93</td>
       <td class="card">%T16CARD093N<br />(%T16CARD093R)</td>
       <td class="rate">%T16CP093TL1 / %T16CP093TL2</td>
       <td class="rate">%T16CP093RM1 / %T16CP093RM2</td>
       <td class="rate">%T16CP093CI1 / %T16CP093CI2</td>
       <td class="rate">%T16CP093AY1 / %T16CP093AY2</td>
       <td class="rate">%T16CP093MR1 / %T16CP093MR2</td>
      </tr>
      <tr>
       <td class="number">No.94</td>
       <td class="card">%T16CARD094N<br />(%T16CARD094R)</td>
       <td class="rate">%T16CP094TL1 / %T16CP094TL2</td>
       <td class="rate">%T16CP094RM1 / %T16CP094RM2</td>
       <td class="rate">%T16CP094CI1 / %T16CP094CI2</td>
       <td class="rate">%T16CP094AY1 / %T16CP094AY2</td>
       <td class="rate">%T16CP094MR1 / %T16CP094MR2</td>
      </tr>
      <tr>
       <td class="number">No.95</td>
       <td class="card">%T16CARD095N<br />(%T16CARD095R)</td>
       <td class="rate">%T16CP095TL1 / %T16CP095TL2</td>
       <td class="rate">%T16CP095RM1 / %T16CP095RM2</td>
       <td class="rate">%T16CP095CI1 / %T16CP095CI2</td>
       <td class="rate">%T16CP095AY1 / %T16CP095AY2</td>
       <td class="rate">%T16CP095MR1 / %T16CP095MR2</td>
      </tr>
      <tr>
       <td class="number">No.96</td>
       <td class="card">%T16CARD096N<br />(%T16CARD096R)</td>
       <td class="rate">%T16CP096TL1 / %T16CP096TL2</td>
       <td class="rate">%T16CP096RM1 / %T16CP096RM2</td>
       <td class="rate">%T16CP096CI1 / %T16CP096CI2</td>
       <td class="rate">%T16CP096AY1 / %T16CP096AY2</td>
       <td class="rate">%T16CP096MR1 / %T16CP096MR2</td>
      </tr>
      <tr>
       <td class="number">No.97</td>
       <td class="card">%T16CARD097N<br />(%T16CARD097R)</td>
       <td class="rate">%T16CP097TL1 / %T16CP097TL2</td>
       <td class="rate">%T16CP097RM1 / %T16CP097RM2</td>
       <td class="rate">%T16CP097CI1 / %T16CP097CI2</td>
       <td class="rate">%T16CP097AY1 / %T16CP097AY2</td>
       <td class="rate">%T16CP097MR1 / %T16CP097MR2</td>
      </tr>
      <tr>
       <td class="number">No.98</td>
       <td class="card">%T16CARD098N<br />(%T16CARD098R)</td>
       <td class="rate">%T16CP098TL1 / %T16CP098TL2</td>
       <td class="rate">%T16CP098RM1 / %T16CP098RM2</td>
       <td class="rate">%T16CP098CI1 / %T16CP098CI2</td>
       <td class="rate">%T16CP098AY1 / %T16CP098AY2</td>
       <td class="rate">%T16CP098MR1 / %T16CP098MR2</td>
      </tr>
      <tr>
       <td class="number">No.99</td>
       <td class="card">%T16CARD099N<br />(%T16CARD099R)</td>
       <td class="rate">%T16CP099TL1 / %T16CP099TL2</td>
       <td class="rate">%T16CP099RM1 / %T16CP099RM2</td>
       <td class="rate">%T16CP099CI1 / %T16CP099CI2</td>
       <td class="rate">%T16CP099AY1 / %T16CP099AY2</td>
       <td class="rate">%T16CP099MR1 / %T16CP099MR2</td>
      </tr>
      <tr>
       <td class="number">No.100</td>
       <td class="card">%T16CARD100N<br />(%T16CARD100R)</td>
       <td class="rate">%T16CP100TL1 / %T16CP100TL2</td>
       <td class="rate">%T16CP100RM1 / %T16CP100RM2</td>
       <td class="rate">%T16CP100CI1 / %T16CP100CI2</td>
       <td class="rate">%T16CP100AY1 / %T16CP100AY2</td>
       <td class="rate">%T16CP100MR1 / %T16CP100MR2</td>
      </tr>

      <tr>
       <td class="number">No.101</td>
       <td class="card">%T16CARD101N<br />(%T16CARD101R)</td>
       <td class="rate">%T16CP101TL1 / %T16CP101TL2</td>
       <td class="rate">%T16CP101RM1 / %T16CP101RM2</td>
       <td class="rate">%T16CP101CI1 / %T16CP101CI2</td>
       <td class="rate">%T16CP101AY1 / %T16CP101AY2</td>
       <td class="rate">%T16CP101MR1 / %T16CP101MR2</td>
      </tr>
      <tr>
       <td class="number">No.102</td>
       <td class="card">%T16CARD102N<br />(%T16CARD102R)</td>
       <td class="rate">%T16CP102TL1 / %T16CP102TL2</td>
       <td class="rate">%T16CP102RM1 / %T16CP102RM2</td>
       <td class="rate">%T16CP102CI1 / %T16CP102CI2</td>
       <td class="rate">%T16CP102AY1 / %T16CP102AY2</td>
       <td class="rate">%T16CP102MR1 / %T16CP102MR2</td>
      </tr>
      <tr>
       <td class="number">No.103</td>
       <td class="card">%T16CARD103N<br />(%T16CARD103R)</td>
       <td class="rate">%T16CP103TL1 / %T16CP103TL2</td>
       <td class="rate">%T16CP103RM1 / %T16CP103RM2</td>
       <td class="rate">%T16CP103CI1 / %T16CP103CI2</td>
       <td class="rate">%T16CP103AY1 / %T16CP103AY2</td>
       <td class="rate">%T16CP103MR1 / %T16CP103MR2</td>
      </tr>
      <tr>
       <td class="number">No.104</td>
       <td class="card">%T16CARD104N<br />(%T16CARD104R)</td>
       <td class="rate">%T16CP104TL1 / %T16CP104TL2</td>
       <td class="rate">%T16CP104RM1 / %T16CP104RM2</td>
       <td class="rate">%T16CP104CI1 / %T16CP104CI2</td>
       <td class="rate">%T16CP104AY1 / %T16CP104AY2</td>
       <td class="rate">%T16CP104MR1 / %T16CP104MR2</td>
      </tr>
      <tr>
       <td class="number">No.105</td>
       <td class="card">%T16CARD105N<br />(%T16CARD105R)</td>
       <td class="rate">%T16CP105TL1 / %T16CP105TL2</td>
       <td class="rate">%T16CP105RM1 / %T16CP105RM2</td>
       <td class="rate">%T16CP105CI1 / %T16CP105CI2</td>
       <td class="rate">%T16CP105AY1 / %T16CP105AY2</td>
       <td class="rate">%T16CP105MR1 / %T16CP105MR2</td>
      </tr>
      <tr>
       <td class="number">No.106</td>
       <td class="card">%T16CARD106N<br />(%T16CARD106R)</td>
       <td class="rate">%T16CP106TL1 / %T16CP106TL2</td>
       <td class="rate">%T16CP106RM1 / %T16CP106RM2</td>
       <td class="rate">%T16CP106CI1 / %T16CP106CI2</td>
       <td class="rate">%T16CP106AY1 / %T16CP106AY2</td>
       <td class="rate">%T16CP106MR1 / %T16CP106MR2</td>
      </tr>
      <tr>
       <td class="number">No.107</td>
       <td class="card">%T16CARD107N<br />(%T16CARD107R)</td>
       <td class="rate">%T16CP107TL1 / %T16CP107TL2</td>
       <td class="rate">%T16CP107RM1 / %T16CP107RM2</td>
       <td class="rate">%T16CP107CI1 / %T16CP107CI2</td>
       <td class="rate">%T16CP107AY1 / %T16CP107AY2</td>
       <td class="rate">%T16CP107MR1 / %T16CP107MR2</td>
      </tr>
      <tr>
       <td class="number">No.108</td>
       <td class="card">%T16CARD108N<br />(%T16CARD108R)</td>
       <td class="rate">%T16CP108TL1 / %T16CP108TL2</td>
       <td class="rate">%T16CP108RM1 / %T16CP108RM2</td>
       <td class="rate">%T16CP108CI1 / %T16CP108CI2</td>
       <td class="rate">%T16CP108AY1 / %T16CP108AY2</td>
       <td class="rate">%T16CP108MR1 / %T16CP108MR2</td>
      </tr>
      <tr>
       <td class="number">No.109</td>
       <td class="card">%T16CARD109N<br />(%T16CARD109R)</td>
       <td class="rate">%T16CP109TL1 / %T16CP109TL2</td>
       <td class="rate">%T16CP109RM1 / %T16CP109RM2</td>
       <td class="rate">%T16CP109CI1 / %T16CP109CI2</td>
       <td class="rate">%T16CP109AY1 / %T16CP109AY2</td>
       <td class="rate">%T16CP109MR1 / %T16CP109MR2</td>
      </tr>
      <tr>
       <td class="number">No.110</td>
       <td class="card">%T16CARD110N<br />(%T16CARD110R)</td>
       <td class="rate">%T16CP110TL1 / %T16CP110TL2</td>
       <td class="rate">%T16CP110RM1 / %T16CP110RM2</td>
       <td class="rate">%T16CP110CI1 / %T16CP110CI2</td>
       <td class="rate">%T16CP110AY1 / %T16CP110AY2</td>
       <td class="rate">%T16CP110MR1 / %T16CP110MR2</td>
      </tr>

      <tr>
       <td class="number">No.111</td>
       <td class="card">%T16CARD111N<br />(%T16CARD111R)</td>
       <td class="rate">%T16CP111TL1 / %T16CP111TL2</td>
       <td class="rate">%T16CP111RM1 / %T16CP111RM2</td>
       <td class="rate">%T16CP111CI1 / %T16CP111CI2</td>
       <td class="rate">%T16CP111AY1 / %T16CP111AY2</td>
       <td class="rate">%T16CP111MR1 / %T16CP111MR2</td>
      </tr>
      <tr>
       <td class="number">No.112</td>
       <td class="card">%T16CARD112N<br />(%T16CARD112R)</td>
       <td class="rate">%T16CP112TL1 / %T16CP112TL2</td>
       <td class="rate">%T16CP112RM1 / %T16CP112RM2</td>
       <td class="rate">%T16CP112CI1 / %T16CP112CI2</td>
       <td class="rate">%T16CP112AY1 / %T16CP112AY2</td>
       <td class="rate">%T16CP112MR1 / %T16CP112MR2</td>
      </tr>
      <tr>
       <td class="number">No.113</td>
       <td class="card">%T16CARD113N<br />(%T16CARD113R)</td>
       <td class="rate">%T16CP113TL1 / %T16CP113TL2</td>
       <td class="rate">%T16CP113RM1 / %T16CP113RM2</td>
       <td class="rate">%T16CP113CI1 / %T16CP113CI2</td>
       <td class="rate">%T16CP113AY1 / %T16CP113AY2</td>
       <td class="rate">%T16CP113MR1 / %T16CP113MR2</td>
      </tr>
      <tr>
       <td class="number">No.114</td>
       <td class="card">%T16CARD114N<br />(%T16CARD114R)</td>
       <td class="rate">%T16CP114TL1 / %T16CP114TL2</td>
       <td class="rate">%T16CP114RM1 / %T16CP114RM2</td>
       <td class="rate">%T16CP114CI1 / %T16CP114CI2</td>
       <td class="rate">%T16CP114AY1 / %T16CP114AY2</td>
       <td class="rate">%T16CP114MR1 / %T16CP114MR2</td>
      </tr>
      <tr>
       <td class="number">No.115</td>
       <td class="card">%T16CARD115N<br />(%T16CARD115R)</td>
       <td class="rate">%T16CP115TL1 / %T16CP115TL2</td>
       <td class="rate">%T16CP115RM1 / %T16CP115RM2</td>
       <td class="rate">%T16CP115CI1 / %T16CP115CI2</td>
       <td class="rate">%T16CP115AY1 / %T16CP115AY2</td>
       <td class="rate">%T16CP115MR1 / %T16CP115MR2</td>
      </tr>
      <tr>
       <td class="number">No.116</td>
       <td class="card">%T16CARD116N<br />(%T16CARD116R)</td>
       <td class="rate">%T16CP116TL1 / %T16CP116TL2</td>
       <td class="rate">%T16CP116RM1 / %T16CP116RM2</td>
       <td class="rate">%T16CP116CI1 / %T16CP116CI2</td>
       <td class="rate">%T16CP116AY1 / %T16CP116AY2</td>
       <td class="rate">%T16CP116MR1 / %T16CP116MR2</td>
      </tr>
      <tr>
       <td class="number">No.117</td>
       <td class="card">%T16CARD117N<br />(%T16CARD117R)</td>
       <td class="rate">%T16CP117TL1 / %T16CP117TL2</td>
       <td class="rate">%T16CP117RM1 / %T16CP117RM2</td>
       <td class="rate">%T16CP117CI1 / %T16CP117CI2</td>
       <td class="rate">%T16CP117AY1 / %T16CP117AY2</td>
       <td class="rate">%T16CP117MR1 / %T16CP117MR2</td>
      </tr>
      <tr>
       <td class="number">No.118</td>
       <td class="card">%T16CARD118N<br />(%T16CARD118R)</td>
       <td class="rate">%T16CP118TL1 / %T16CP118TL2</td>
       <td class="rate">%T16CP118RM1 / %T16CP118RM2</td>
       <td class="rate">%T16CP118CI1 / %T16CP118CI2</td>
       <td class="rate">%T16CP118AY1 / %T16CP118AY2</td>
       <td class="rate">%T16CP118MR1 / %T16CP118MR2</td>
      </tr>
      <tr>
       <td class="number">No.119</td>
       <td class="card">%T16CARD119N<br />(%T16CARD119R)</td>
       <td class="rate">%T16CP119TL1 / %T16CP119TL2</td>
       <td class="rate">%T16CP119RM1 / %T16CP119RM2</td>
       <td class="rate">%T16CP119CI1 / %T16CP119CI2</td>
       <td class="rate">%T16CP119AY1 / %T16CP119AY2</td>
       <td class="rate">%T16CP119MR1 / %T16CP119MR2</td>
      </tr>
     </tbody>
     <tfoot>
      <tr>
       <td colspan="2">Total</td>
       <td class="rate">%T16CP000TL1 / %T16CP000TL2</td>
       <td class="rate">%T16CP000RM1 / %T16CP000RM2</td>
       <td class="rate">%T16CP000CI1 / %T16CP000CI2</td>
       <td class="rate">%T16CP000AY1 / %T16CP000AY2</td>
       <td class="rate">%T16CP000MR1 / %T16CP000MR2</td>
      </tr>
     </tfoot>
    </table>

    <table class="rate_per_level">
     <caption id="rate_per_level">難易度別スペルカード蒐集率（取得回数 / 挑戦回数 / 総数）</caption>
     <thead>
      <tr>
       <th class="level">難易度</th>
       <th class="character">全主人公合計</th>
       <th class="character">博麗 霊夢</th>
       <th class="character">日焼けしたチルノ</th>
       <th class="character">射命丸 文</th>
       <th class="character">霧雨 魔理沙</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="level">Easy</td>
       <td class="rate">%T16CRGPETL01 / %T16CRGPETL02 / 26</td>
       <td class="rate">%T16CRGPERM01 / %T16CRGPERM02 / 26</td>
       <td class="rate">%T16CRGPECI01 / %T16CRGPECI02 / 26</td>
       <td class="rate">%T16CRGPEAY01 / %T16CRGPEAY02 / 26</td>
       <td class="rate">%T16CRGPEMR01 / %T16CRGPEMR02 / 26</td>
      </tr>
      <tr>
       <td class="level">Normal</td>
       <td class="rate">%T16CRGPNTL01 / %T16CRGPNTL02 / 26</td>
       <td class="rate">%T16CRGPNRM01 / %T16CRGPNRM02 / 26</td>
       <td class="rate">%T16CRGPNCI01 / %T16CRGPNCI02 / 26</td>
       <td class="rate">%T16CRGPNAY01 / %T16CRGPNAY02 / 26</td>
       <td class="rate">%T16CRGPNMR01 / %T16CRGPNMR02 / 26</td>
      </tr>
      <tr>
       <td class="level">Hard</td>
       <td class="rate">%T16CRGPHTL01 / %T16CRGPHTL02 / 27</td>
       <td class="rate">%T16CRGPHRM01 / %T16CRGPHRM02 / 27</td>
       <td class="rate">%T16CRGPHCI01 / %T16CRGPHCI02 / 27</td>
       <td class="rate">%T16CRGPHAY01 / %T16CRGPHAY02 / 27</td>
       <td class="rate">%T16CRGPHMR01 / %T16CRGPHMR02 / 27</td>
      </tr>
      <tr>
       <td class="level">Lunatic</td>
       <td class="rate">%T16CRGPLTL01 / %T16CRGPLTL02 / 27</td>
       <td class="rate">%T16CRGPLRM01 / %T16CRGPLRM02 / 27</td>
       <td class="rate">%T16CRGPLCI01 / %T16CRGPLCI02 / 27</td>
       <td class="rate">%T16CRGPLAY01 / %T16CRGPLAY02 / 27</td>
       <td class="rate">%T16CRGPLMR01 / %T16CRGPLMR02 / 27</td>
      </tr>
      <tr>
       <td class="level">Extra</td>
       <td class="rate">%T16CRGPXTL01 / %T16CRGPXTL02 / 13</td>
       <td class="rate">%T16CRGPXRM01 / %T16CRGPXRM02 / 13</td>
       <td class="rate">%T16CRGPXCI01 / %T16CRGPXCI02 / 13</td>
       <td class="rate">%T16CRGPXAY01 / %T16CRGPXAY02 / 13</td>
       <td class="rate">%T16CRGPXMR01 / %T16CRGPXMR02 / 13</td>
      </tr>
     </tbody>
     <tfoot>
      <tr>
       <td>Total</td>
       <td class="rate">%T16CRGPTTL01 / %T16CRGPTTL02 / 119</td>
       <td class="rate">%T16CRGPTRM01 / %T16CRGPTRM02 / 119</td>
       <td class="rate">%T16CRGPTCI01 / %T16CRGPTCI02 / 119</td>
       <td class="rate">%T16CRGPTAY01 / %T16CRGPTAY02 / 119</td>
       <td class="rate">%T16CRGPTMR01 / %T16CRGPTMR02 / 119</td>
      </tr>
     </tfoot>
    </table>

    <table class="rate_per_stage">
     <caption id="rate_per_stage">ステージ別スペルカード蒐集率（取得回数 / 挑戦回数 / 総数）</caption>
     <thead>
      <tr>
       <th class="stage">ステージ</th>
       <th class="character">全主人公合計</th>
       <th class="character">博麗 霊夢</th>
       <th class="character">日焼けしたチルノ</th>
       <th class="character">射命丸 文</th>
       <th class="character">霧雨 魔理沙</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="rate">%T16CRGPTTL11 / %T16CRGPTTL12 / 8</td>
       <td class="rate">%T16CRGPTRM11 / %T16CRGPTRM12 / 8</td>
       <td class="rate">%T16CRGPTCI11 / %T16CRGPTCI12 / 8</td>
       <td class="rate">%T16CRGPTAY11 / %T16CRGPTAY12 / 8</td>
       <td class="rate">%T16CRGPTMR11 / %T16CRGPTMR12 / 8</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="rate">%T16CRGPTTL21 / %T16CRGPTTL22 / 12</td>
       <td class="rate">%T16CRGPTRM21 / %T16CRGPTRM22 / 12</td>
       <td class="rate">%T16CRGPTCI21 / %T16CRGPTCI22 / 12</td>
       <td class="rate">%T16CRGPTAY21 / %T16CRGPTAY22 / 12</td>
       <td class="rate">%T16CRGPTMR21 / %T16CRGPTMR22 / 12</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="rate">%T16CRGPTTL31 / %T16CRGPTTL32 / 14</td>
       <td class="rate">%T16CRGPTRM31 / %T16CRGPTRM32 / 14</td>
       <td class="rate">%T16CRGPTCI31 / %T16CRGPTCI32 / 14</td>
       <td class="rate">%T16CRGPTAY31 / %T16CRGPTAY32 / 14</td>
       <td class="rate">%T16CRGPTMR31 / %T16CRGPTMR32 / 14</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="rate">%T16CRGPTTL41 / %T16CRGPTTL42 / 12</td>
       <td class="rate">%T16CRGPTRM41 / %T16CRGPTRM42 / 12</td>
       <td class="rate">%T16CRGPTCI41 / %T16CRGPTCI42 / 12</td>
       <td class="rate">%T16CRGPTAY41 / %T16CRGPTAY42 / 12</td>
       <td class="rate">%T16CRGPTMR41 / %T16CRGPTMR42 / 12</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="rate">%T16CRGPTTL51 / %T16CRGPTTL52 / 24</td>
       <td class="rate">%T16CRGPTRM51 / %T16CRGPTRM52 / 24</td>
       <td class="rate">%T16CRGPTCI51 / %T16CRGPTCI52 / 24</td>
       <td class="rate">%T16CRGPTAY51 / %T16CRGPTAY52 / 24</td>
       <td class="rate">%T16CRGPTMR51 / %T16CRGPTMR52 / 24</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="rate">%T16CRGPTTL61 / %T16CRGPTTL62 / 36</td>
       <td class="rate">%T16CRGPTRM61 / %T16CRGPTRM62 / 36</td>
       <td class="rate">%T16CRGPTCI61 / %T16CRGPTCI62 / 36</td>
       <td class="rate">%T16CRGPTAY61 / %T16CRGPTAY62 / 36</td>
       <td class="rate">%T16CRGPTMR61 / %T16CRGPTMR62 / 36</td>
      </tr>
      <tr>
       <td class="stage">Extra</td>
       <td class="rate">%T16CRGPXTL01 / %T16CRGPXTL02 / 13</td>
       <td class="rate">%T16CRGPXRM01 / %T16CRGPXRM02 / 13</td>
       <td class="rate">%T16CRGPXCI01 / %T16CRGPXCI02 / 13</td>
       <td class="rate">%T16CRGPXAY01 / %T16CRGPXAY02 / 13</td>
       <td class="rate">%T16CRGPXMR01 / %T16CRGPXMR02 / 13</td>
      </tr>
     </tbody>
     <tfoot>
      <tr>
       <td>Total</td>
       <td class="rate">%T16CRGPTTL01 / %T16CRGPTTL02 / 119</td>
       <td class="rate">%T16CRGPTRM01 / %T16CRGPTRM02 / 119</td>
       <td class="rate">%T16CRGPTCI01 / %T16CRGPTCI02 / 119</td>
       <td class="rate">%T16CRGPTAY01 / %T16CRGPTAY02 / 119</td>
       <td class="rate">%T16CRGPTMR01 / %T16CRGPTMR02 / 119</td>
      </tr>
     </tfoot>
    </table>

   </section>

  </main>

  <footer>
   <p>
    Data output by <a href="https://www.colorless-sight.jp/thsfc/">ThScoreFileConverter</a>.
<script>
// <![CDATA[
    document.write("Last updated: ", document.lastModified, ".");
// ]]>
</script>
   </p>
  </footer>

 </body>
</html>
