<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">

 <head>
  <meta charset="UTF-8" />
  <title>秘封ナイトメアダイアリー スコアデータ</title>
  <link rel="stylesheet" href="style.css" />
<style>
/* <![CDATA[ */
    td.scene { min-width: 5em; }
    td.target { min-width: 22em; }
    td.score { min-width: 5em; }
    td.count { min-width: 5em; text-align: right; }
    table.total-score th { min-width: 11em; }
    table.total-score td { min-width: 11em; }
    table.total-score td.score { text-align: center; }
    table.total-score td.count { text-align: center; }
    table.nickname { float: left; }
    table.nickname th.number { text-align: center; }
    table.nickname td.number { min-width: 2em; }
    table.nickname td.nickname { min-width: 12em; }
/* ]]> */
</style>
 </head>

 <body>

  <header>
   <h1>秘封ナイトメアダイアリー スコアデータ全般</h1>
   <hr />
   <nav>
    <ul>
     <li>スコアデータ全般</li>
     <li><a href="th165bestshot.html">ベストショット一覧</a></li>
    </ul>
    <ul>
     <li><a href="#Sunday">日曜日</a></li>
     <li><a href="#Monday">月曜日</a></li>
     <li><a href="#Tuesday">火曜日</a></li>
     <li><a href="#Wednesday">水曜日</a></li>
     <li><a href="#Thursday">木曜日</a></li>
     <li><a href="#Friday">金曜日</a></li>
     <li><a href="#Saturday">土曜日</a></li>
     <li><a href="#WrongSunday">裏・日曜日</a></li>
     <li><a href="#WrongMonday">裏・月曜日</a></li>
     <li><a href="#WrongTuesday">裏・火曜日</a></li>
     <li><a href="#WrongWednesday">裏・水曜日</a></li>
     <li><a href="#WrongThursday">裏・木曜日</a></li>
     <li><a href="#WrongFriday">裏・金曜日</a></li>
     <li><a href="#WrongSaturday">裏・土曜日</a></li>
     <li><a href="#NightmareSunday">悪夢日曜</a></li>
     <li><a href="#NightmareMonday">悪夢月曜</a></li>
     <li><a href="#NightmareTuesday">悪夢火曜</a></li>
     <li><a href="#NightmareWednesday">悪夢水曜</a></li>
     <li><a href="#NightmareThursday">悪夢木曜</a></li>
     <li><a href="#NightmareFriday">悪夢金曜</a></li>
     <li><a href="#NightmareSaturday">悪夢土曜</a></li>
     <li><a href="#NightmareDiary">ナイトメアダイアリー</a></li>
     <li><a href="#TotalScore">合計</a></li>
     <li><a href="#Nickname">異名取得状況</a></li>
    </ul>
   </nav>
  </header>

  <main>

   <section>
    <h2 id="ScorePerDayOfWeek">曜日別スコア</h2>

    <table class="score-per-dayofweek">
     <caption id="Sunday">日曜日</caption>
     <thead>
      <tr>
       <th scope="col" class="scene">弾幕夢</th>
       <th scope="col" class="target">スペルカード名<br />（使用者）</th>
       <th scope="col" class="count">撃破回数</th>
       <th scope="col" class="count">挑戦回数</th>
       <th scope="col" class="score">写真評価点</th>
       <th scope="col" class="count">撮影枚数</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="scene">弾幕夢 1</td>
       <td class="target">%T165CARD0112<br />（%T165CARD0111）</td>
       <td class="count">%T165SCR0113</td>
       <td class="count">%T165SCR0112</td>
       <td class="score">%T165SCR0111</td>
       <td class="count">%T165SCR0114</td>
      </tr>
      <tr>
       <td class="scene">弾幕夢 2</td>
       <td class="target">%T165CARD0122<br />（%T165CARD0121）</td>
       <td class="count">%T165SCR0123</td>
       <td class="count">%T165SCR0122</td>
       <td class="score">%T165SCR0121</td>
       <td class="count">%T165SCR0124</td>
      </tr>
     </tbody>
    </table>

    <table class="score-per-dayofweek">
     <caption id="Monday">月曜日</caption>
     <thead>
      <tr>
       <th scope="col" class="scene">弾幕夢</th>
       <th scope="col" class="target">スペルカード名<br />（使用者）</th>
       <th scope="col" class="count">撃破回数</th>
       <th scope="col" class="count">挑戦回数</th>
       <th scope="col" class="score">写真評価点</th>
       <th scope="col" class="count">撮影枚数</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="scene">弾幕夢 1</td>
       <td class="target">%T165CARD0212<br />（%T165CARD0211）</td>
       <td class="count">%T165SCR0213</td>
       <td class="count">%T165SCR0212</td>
       <td class="score">%T165SCR0211</td>
       <td class="count">%T165SCR0214</td>
      </tr>
      <tr>
       <td class="scene">弾幕夢 2</td>
       <td class="target">%T165CARD0222<br />（%T165CARD0221）</td>
       <td class="count">%T165SCR0223</td>
       <td class="count">%T165SCR0222</td>
       <td class="score">%T165SCR0221</td>
       <td class="count">%T165SCR0224</td>
      </tr>
      <tr>
       <td class="scene">弾幕夢 3</td>
       <td class="target">%T165CARD0232<br />（%T165CARD0231）</td>
       <td class="count">%T165SCR0233</td>
       <td class="count">%T165SCR0232</td>
       <td class="score">%T165SCR0231</td>
       <td class="count">%T165SCR0234</td>
      </tr>
      <tr>
       <td class="scene">弾幕夢 4</td>
       <td class="target">%T165CARD0242<br />（%T165CARD0241）</td>
       <td class="count">%T165SCR0243</td>
       <td class="count">%T165SCR0242</td>
       <td class="score">%T165SCR0241</td>
       <td class="count">%T165SCR0244</td>
      </tr>
     </tbody>
    </table>

    <table class="score-per-dayofweek">
     <caption id="Tuesday">火曜日</caption>
     <thead>
      <tr>
       <th scope="col" class="scene">弾幕夢</th>
       <th scope="col" class="target">スペルカード名<br />（使用者）</th>
       <th scope="col" class="count">撃破回数</th>
       <th scope="col" class="count">挑戦回数</th>
       <th scope="col" class="score">写真評価点</th>
       <th scope="col" class="count">撮影枚数</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="scene">弾幕夢 1</td>
       <td class="target">%T165CARD0312<br />（%T165CARD0311）</td>
       <td class="count">%T165SCR0313</td>
       <td class="count">%T165SCR0312</td>
       <td class="score">%T165SCR0311</td>
       <td class="count">%T165SCR0314</td>
      </tr>
      <tr>
       <td class="scene">弾幕夢 2</td>
       <td class="target">%T165CARD0322<br />（%T165CARD0321）</td>
       <td class="count">%T165SCR0323</td>
       <td class="count">%T165SCR0322</td>
       <td class="score">%T165SCR0321</td>
       <td class="count">%T165SCR0324</td>
      </tr>
      <tr>
       <td class="scene">弾幕夢 3</td>
       <td class="target">%T165CARD0332<br />（%T165CARD0331）</td>
       <td class="count">%T165SCR0333</td>
       <td class="count">%T165SCR0332</td>
       <td class="score">%T165SCR0331</td>
       <td class="count">%T165SCR0334</td>
      </tr>
     </tbody>
    </table>

    <table class="score-per-dayofweek">
     <caption id="Wednesday">水曜日</caption>
     <thead>
      <tr>
       <th scope="col" class="scene">弾幕夢</th>
       <th scope="col" class="target">スペルカード名<br />（使用者）</th>
       <th scope="col" class="count">撃破回数</th>
       <th scope="col" class="count">挑戦回数</th>
       <th scope="col" class="score">写真評価点</th>
       <th scope="col" class="count">撮影枚数</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="scene">弾幕夢 1</td>
       <td class="target">%T165CARD0412<br />（%T165CARD0411）</td>
       <td class="count">%T165SCR0413</td>
       <td class="count">%T165SCR0412</td>
       <td class="score">%T165SCR0411</td>
       <td class="count">%T165SCR0414</td>
      </tr>
      <tr>
       <td class="scene">弾幕夢 2</td>
       <td class="target">%T165CARD0422<br />（%T165CARD0421）</td>
       <td class="count">%T165SCR0423</td>
       <td class="count">%T165SCR0422</td>
       <td class="score">%T165SCR0421</td>
       <td class="count">%T165SCR0424</td>
      </tr>
      <tr>
       <td class="scene">弾幕夢 3</td>
       <td class="target">%T165CARD0432<br />（%T165CARD0431）</td>
       <td class="count">%T165SCR0433</td>
       <td class="count">%T165SCR0432</td>
       <td class="score">%T165SCR0431</td>
       <td class="count">%T165SCR0434</td>
      </tr>
      <tr>
       <td class="scene">弾幕夢 4</td>
       <td class="target">%T165CARD0442<br />（%T165CARD0441）</td>
       <td class="count">%T165SCR0443</td>
       <td class="count">%T165SCR0442</td>
       <td class="score">%T165SCR0441</td>
       <td class="count">%T165SCR0444</td>
      </tr>
     </tbody>
    </table>

    <table class="score-per-dayofweek">
     <caption id="Thursday">木曜日</caption>
     <thead>
      <tr>
       <th scope="col" class="scene">弾幕夢</th>
       <th scope="col" class="target">スペルカード名<br />（使用者）</th>
       <th scope="col" class="count">撃破回数</th>
       <th scope="col" class="count">挑戦回数</th>
       <th scope="col" class="score">写真評価点</th>
       <th scope="col" class="count">撮影枚数</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="scene">弾幕夢 1</td>
       <td class="target">%T165CARD0512<br />（%T165CARD0511）</td>
       <td class="count">%T165SCR0513</td>
       <td class="count">%T165SCR0512</td>
       <td class="score">%T165SCR0511</td>
       <td class="count">%T165SCR0514</td>
      </tr>
      <tr>
       <td class="scene">弾幕夢 2</td>
       <td class="target">%T165CARD0522<br />（%T165CARD0521）</td>
       <td class="count">%T165SCR0523</td>
       <td class="count">%T165SCR0522</td>
       <td class="score">%T165SCR0521</td>
       <td class="count">%T165SCR0524</td>
      </tr>
      <tr>
       <td class="scene">弾幕夢 3</td>
       <td class="target">%T165CARD0532<br />（%T165CARD0531）</td>
       <td class="count">%T165SCR0533</td>
       <td class="count">%T165SCR0532</td>
       <td class="score">%T165SCR0531</td>
       <td class="count">%T165SCR0534</td>
      </tr>
     </tbody>
    </table>

    <table class="score-per-dayofweek">
     <caption id="Friday">金曜日</caption>
     <thead>
      <tr>
       <th scope="col" class="scene">弾幕夢</th>
       <th scope="col" class="target">スペルカード名<br />（使用者）</th>
       <th scope="col" class="count">撃破回数</th>
       <th scope="col" class="count">挑戦回数</th>
       <th scope="col" class="score">写真評価点</th>
       <th scope="col" class="count">撮影枚数</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="scene">弾幕夢 1</td>
       <td class="target">%T165CARD0612<br />（%T165CARD0611）</td>
       <td class="count">%T165SCR0613</td>
       <td class="count">%T165SCR0612</td>
       <td class="score">%T165SCR0611</td>
       <td class="count">%T165SCR0614</td>
      </tr>
      <tr>
       <td class="scene">弾幕夢 2</td>
       <td class="target">%T165CARD0622<br />（%T165CARD0621）</td>
       <td class="count">%T165SCR0623</td>
       <td class="count">%T165SCR0622</td>
       <td class="score">%T165SCR0621</td>
       <td class="count">%T165SCR0624</td>
      </tr>
      <tr>
       <td class="scene">弾幕夢 3</td>
       <td class="target">%T165CARD0632<br />（%T165CARD0631）</td>
       <td class="count">%T165SCR0633</td>
       <td class="count">%T165SCR0632</td>
       <td class="score">%T165SCR0631</td>
       <td class="count">%T165SCR0634</td>
      </tr>
     </tbody>
    </table>

    <table class="score-per-dayofweek">
     <caption id="Saturday">土曜日</caption>
     <thead>
      <tr>
       <th scope="col" class="scene">弾幕夢</th>
       <th scope="col" class="target">スペルカード名<br />（使用者）</th>
       <th scope="col" class="count">撃破回数</th>
       <th scope="col" class="count">挑戦回数</th>
       <th scope="col" class="score">写真評価点</th>
       <th scope="col" class="count">撮影枚数</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="scene">弾幕夢 1</td>
       <td class="target">%T165CARD0712<br />（%T165CARD0711）</td>
       <td class="count">%T165SCR0713</td>
       <td class="count">%T165SCR0712</td>
       <td class="score">%T165SCR0711</td>
       <td class="count">%T165SCR0714</td>
      </tr>
     </tbody>
    </table>

    <table class="score-per-dayofweek">
     <caption id="WrongSunday">裏・日曜日</caption>
     <thead>
      <tr>
       <th scope="col" class="scene">弾幕夢</th>
       <th scope="col" class="target">スペルカード名<br />（使用者）</th>
       <th scope="col" class="count">撃破回数</th>
       <th scope="col" class="count">挑戦回数</th>
       <th scope="col" class="score">写真評価点</th>
       <th scope="col" class="count">撮影枚数</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="scene">弾幕夢 1</td>
       <td class="target">%T165CARDW112<br />（%T165CARDW111）</td>
       <td class="count">%T165SCRW113</td>
       <td class="count">%T165SCRW112</td>
       <td class="score">%T165SCRW111</td>
       <td class="count">%T165SCRW114</td>
      </tr>
      <tr>
       <td class="scene">弾幕夢 2</td>
       <td class="target">%T165CARDW122<br />（%T165CARDW121）</td>
       <td class="count">%T165SCRW123</td>
       <td class="count">%T165SCRW122</td>
       <td class="score">%T165SCRW121</td>
       <td class="count">%T165SCRW124</td>
      </tr>
      <tr>
       <td class="scene">弾幕夢 3</td>
       <td class="target">%T165CARDW132<br />（%T165CARDW131）</td>
       <td class="count">%T165SCRW133</td>
       <td class="count">%T165SCRW132</td>
       <td class="score">%T165SCRW131</td>
       <td class="count">%T165SCRW134</td>
      </tr>
      <tr>
       <td class="scene">弾幕夢 4</td>
       <td class="target">%T165CARDW142<br />（%T165CARDW141）</td>
       <td class="count">%T165SCRW143</td>
       <td class="count">%T165SCRW142</td>
       <td class="score">%T165SCRW141</td>
       <td class="count">%T165SCRW144</td>
      </tr>
      <tr>
       <td class="scene">弾幕夢 5</td>
       <td class="target">%T165CARDW152<br />（%T165CARDW151）</td>
       <td class="count">%T165SCRW153</td>
       <td class="count">%T165SCRW152</td>
       <td class="score">%T165SCRW151</td>
       <td class="count">%T165SCRW154</td>
      </tr>
      <tr>
       <td class="scene">弾幕夢 6</td>
       <td class="target">%T165CARDW162<br />（%T165CARDW161）</td>
       <td class="count">%T165SCRW163</td>
       <td class="count">%T165SCRW162</td>
       <td class="score">%T165SCRW161</td>
       <td class="count">%T165SCRW164</td>
      </tr>
      <tr>
       <td class="scene">弾幕夢 7</td>
       <td class="target">%T165CARDW172<br />（%T165CARDW171）</td>
       <td class="count">%T165SCRW173</td>
       <td class="count">%T165SCRW172</td>
       <td class="score">%T165SCRW171</td>
       <td class="count">%T165SCRW174</td>
      </tr>
     </tbody>
    </table>

    <table class="score-per-dayofweek">
     <caption id="WrongMonday">裏・月曜日</caption>
     <thead>
      <tr>
       <th scope="col" class="scene">弾幕夢</th>
       <th scope="col" class="target">スペルカード名<br />（使用者）</th>
       <th scope="col" class="count">撃破回数</th>
       <th scope="col" class="count">挑戦回数</th>
       <th scope="col" class="score">写真評価点</th>
       <th scope="col" class="count">撮影枚数</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="scene">弾幕夢 1</td>
       <td class="target">%T165CARDW212<br />（%T165CARDW211）</td>
       <td class="count">%T165SCRW213</td>
       <td class="count">%T165SCRW212</td>
       <td class="score">%T165SCRW211</td>
       <td class="count">%T165SCRW214</td>
      </tr>
      <tr>
       <td class="scene">弾幕夢 2</td>
       <td class="target">%T165CARDW222<br />（%T165CARDW221）</td>
       <td class="count">%T165SCRW223</td>
       <td class="count">%T165SCRW222</td>
       <td class="score">%T165SCRW221</td>
       <td class="count">%T165SCRW224</td>
      </tr>
      <tr>
       <td class="scene">弾幕夢 3</td>
       <td class="target">%T165CARDW232<br />（%T165CARDW231）</td>
       <td class="count">%T165SCRW233</td>
       <td class="count">%T165SCRW232</td>
       <td class="score">%T165SCRW231</td>
       <td class="count">%T165SCRW234</td>
      </tr>
      <tr>
       <td class="scene">弾幕夢 4</td>
       <td class="target">%T165CARDW242<br />（%T165CARDW241）</td>
       <td class="count">%T165SCRW243</td>
       <td class="count">%T165SCRW242</td>
       <td class="score">%T165SCRW241</td>
       <td class="count">%T165SCRW244</td>
      </tr>
     </tbody>
    </table>

    <table class="score-per-dayofweek">
     <caption id="WrongTuesday">裏・火曜日</caption>
     <thead>
      <tr>
       <th scope="col" class="scene">弾幕夢</th>
       <th scope="col" class="target">スペルカード名<br />（使用者）</th>
       <th scope="col" class="count">撃破回数</th>
       <th scope="col" class="count">挑戦回数</th>
       <th scope="col" class="score">写真評価点</th>
       <th scope="col" class="count">撮影枚数</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="scene">弾幕夢 1</td>
       <td class="target">%T165CARDW312<br />（%T165CARDW311）</td>
       <td class="count">%T165SCRW313</td>
       <td class="count">%T165SCRW312</td>
       <td class="score">%T165SCRW311</td>
       <td class="count">%T165SCRW314</td>
      </tr>
      <tr>
       <td class="scene">弾幕夢 2</td>
       <td class="target">%T165CARDW322<br />（%T165CARDW321）</td>
       <td class="count">%T165SCRW323</td>
       <td class="count">%T165SCRW322</td>
       <td class="score">%T165SCRW321</td>
       <td class="count">%T165SCRW324</td>
      </tr>
      <tr>
       <td class="scene">弾幕夢 3</td>
       <td class="target">%T165CARDW332<br />（%T165CARDW331）</td>
       <td class="count">%T165SCRW333</td>
       <td class="count">%T165SCRW332</td>
       <td class="score">%T165SCRW331</td>
       <td class="count">%T165SCRW334</td>
      </tr>
      <tr>
       <td class="scene">弾幕夢 4</td>
       <td class="target">%T165CARDW342<br />（%T165CARDW341）</td>
       <td class="count">%T165SCRW343</td>
       <td class="count">%T165SCRW342</td>
       <td class="score">%T165SCRW341</td>
       <td class="count">%T165SCRW344</td>
      </tr>
     </tbody>
    </table>

    <table class="score-per-dayofweek">
     <caption id="WrongWednesday">裏・水曜日</caption>
     <thead>
      <tr>
       <th scope="col" class="scene">弾幕夢</th>
       <th scope="col" class="target">スペルカード名<br />（使用者）</th>
       <th scope="col" class="count">撃破回数</th>
       <th scope="col" class="count">挑戦回数</th>
       <th scope="col" class="score">写真評価点</th>
       <th scope="col" class="count">撮影枚数</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="scene">弾幕夢 1</td>
       <td class="target">%T165CARDW412<br />（%T165CARDW411）</td>
       <td class="count">%T165SCRW413</td>
       <td class="count">%T165SCRW412</td>
       <td class="score">%T165SCRW411</td>
       <td class="count">%T165SCRW414</td>
      </tr>
      <tr>
       <td class="scene">弾幕夢 2</td>
       <td class="target">%T165CARDW422<br />（%T165CARDW421）</td>
       <td class="count">%T165SCRW423</td>
       <td class="count">%T165SCRW422</td>
       <td class="score">%T165SCRW421</td>
       <td class="count">%T165SCRW424</td>
      </tr>
      <tr>
       <td class="scene">弾幕夢 3</td>
       <td class="target">%T165CARDW432<br />（%T165CARDW431）</td>
       <td class="count">%T165SCRW433</td>
       <td class="count">%T165SCRW432</td>
       <td class="score">%T165SCRW431</td>
       <td class="count">%T165SCRW434</td>
      </tr>
      <tr>
       <td class="scene">弾幕夢 4</td>
       <td class="target">%T165CARDW442<br />（%T165CARDW441）</td>
       <td class="count">%T165SCRW443</td>
       <td class="count">%T165SCRW442</td>
       <td class="score">%T165SCRW441</td>
       <td class="count">%T165SCRW444</td>
      </tr>
      <tr>
       <td class="scene">弾幕夢 5</td>
       <td class="target">%T165CARDW452<br />（%T165CARDW451）</td>
       <td class="count">%T165SCRW453</td>
       <td class="count">%T165SCRW452</td>
       <td class="score">%T165SCRW451</td>
       <td class="count">%T165SCRW454</td>
      </tr>
      <tr>
       <td class="scene">弾幕夢 6</td>
       <td class="target">%T165CARDW462<br />（%T165CARDW461）</td>
       <td class="count">%T165SCRW463</td>
       <td class="count">%T165SCRW462</td>
       <td class="score">%T165SCRW461</td>
       <td class="count">%T165SCRW464</td>
      </tr>
     </tbody>
    </table>

    <table class="score-per-dayofweek">
     <caption id="WrongThursday">裏・木曜日</caption>
     <thead>
      <tr>
       <th scope="col" class="scene">弾幕夢</th>
       <th scope="col" class="target">スペルカード名<br />（使用者）</th>
       <th scope="col" class="count">撃破回数</th>
       <th scope="col" class="count">挑戦回数</th>
       <th scope="col" class="score">写真評価点</th>
       <th scope="col" class="count">撮影枚数</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="scene">弾幕夢 1</td>
       <td class="target">%T165CARDW512<br />（%T165CARDW511）</td>
       <td class="count">%T165SCRW513</td>
       <td class="count">%T165SCRW512</td>
       <td class="score">%T165SCRW511</td>
       <td class="count">%T165SCRW514</td>
      </tr>
      <tr>
       <td class="scene">弾幕夢 2</td>
       <td class="target">%T165CARDW522<br />（%T165CARDW521）</td>
       <td class="count">%T165SCRW523</td>
       <td class="count">%T165SCRW522</td>
       <td class="score">%T165SCRW521</td>
       <td class="count">%T165SCRW524</td>
      </tr>
      <tr>
       <td class="scene">弾幕夢 3</td>
       <td class="target">%T165CARDW532<br />（%T165CARDW531）</td>
       <td class="count">%T165SCRW533</td>
       <td class="count">%T165SCRW532</td>
       <td class="score">%T165SCRW531</td>
       <td class="count">%T165SCRW534</td>
      </tr>
      <tr>
       <td class="scene">弾幕夢 4</td>
       <td class="target">%T165CARDW542<br />（%T165CARDW541）</td>
       <td class="count">%T165SCRW543</td>
       <td class="count">%T165SCRW542</td>
       <td class="score">%T165SCRW541</td>
       <td class="count">%T165SCRW544</td>
      </tr>
      <tr>
       <td class="scene">弾幕夢 5</td>
       <td class="target">%T165CARDW552<br />（%T165CARDW551）</td>
       <td class="count">%T165SCRW553</td>
       <td class="count">%T165SCRW552</td>
       <td class="score">%T165SCRW551</td>
       <td class="count">%T165SCRW554</td>
      </tr>
     </tbody>
    </table>

    <table class="score-per-dayofweek">
     <caption id="WrongFriday">裏・金曜日</caption>
     <thead>
      <tr>
       <th scope="col" class="scene">弾幕夢</th>
       <th scope="col" class="target">スペルカード名<br />（使用者）</th>
       <th scope="col" class="count">撃破回数</th>
       <th scope="col" class="count">挑戦回数</th>
       <th scope="col" class="score">写真評価点</th>
       <th scope="col" class="count">撮影枚数</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="scene">弾幕夢 1</td>
       <td class="target">%T165CARDW612<br />（%T165CARDW611）</td>
       <td class="count">%T165SCRW613</td>
       <td class="count">%T165SCRW612</td>
       <td class="score">%T165SCRW611</td>
       <td class="count">%T165SCRW614</td>
      </tr>
      <tr>
       <td class="scene">弾幕夢 2</td>
       <td class="target">%T165CARDW622<br />（%T165CARDW621）</td>
       <td class="count">%T165SCRW623</td>
       <td class="count">%T165SCRW622</td>
       <td class="score">%T165SCRW621</td>
       <td class="count">%T165SCRW624</td>
      </tr>
      <tr>
       <td class="scene">弾幕夢 3</td>
       <td class="target">%T165CARDW632<br />（%T165CARDW631）</td>
       <td class="count">%T165SCRW633</td>
       <td class="count">%T165SCRW632</td>
       <td class="score">%T165SCRW631</td>
       <td class="count">%T165SCRW634</td>
      </tr>
      <tr>
       <td class="scene">弾幕夢 4</td>
       <td class="target">%T165CARDW642<br />（%T165CARDW641）</td>
       <td class="count">%T165SCRW643</td>
       <td class="count">%T165SCRW642</td>
       <td class="score">%T165SCRW641</td>
       <td class="count">%T165SCRW644</td>
      </tr>
      <tr>
       <td class="scene">弾幕夢 5</td>
       <td class="target">%T165CARDW652<br />（%T165CARDW651）</td>
       <td class="count">%T165SCRW653</td>
       <td class="count">%T165SCRW652</td>
       <td class="score">%T165SCRW651</td>
       <td class="count">%T165SCRW654</td>
      </tr>
     </tbody>
    </table>

    <table class="score-per-dayofweek">
     <caption id="WrongSaturday">裏・土曜日</caption>
     <thead>
      <tr>
       <th scope="col" class="scene">弾幕夢</th>
       <th scope="col" class="target">スペルカード名<br />（使用者）</th>
       <th scope="col" class="count">撃破回数</th>
       <th scope="col" class="count">挑戦回数</th>
       <th scope="col" class="score">写真評価点</th>
       <th scope="col" class="count">撮影枚数</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="scene">弾幕夢 1</td>
       <td class="target">%T165CARDW712<br />（%T165CARDW711）</td>
       <td class="count">%T165SCRW713</td>
       <td class="count">%T165SCRW712</td>
       <td class="score">%T165SCRW711</td>
       <td class="count">%T165SCRW714</td>
      </tr>
      <tr>
       <td class="scene">弾幕夢 2</td>
       <td class="target">%T165CARDW722<br />（%T165CARDW721）</td>
       <td class="count">%T165SCRW723</td>
       <td class="count">%T165SCRW722</td>
       <td class="score">%T165SCRW721</td>
       <td class="count">%T165SCRW724</td>
      </tr>
      <tr>
       <td class="scene">弾幕夢 3</td>
       <td class="target">%T165CARDW732<br />（%T165CARDW731）</td>
       <td class="count">%T165SCRW733</td>
       <td class="count">%T165SCRW732</td>
       <td class="score">%T165SCRW731</td>
       <td class="count">%T165SCRW734</td>
      </tr>
      <tr>
       <td class="scene">弾幕夢 4</td>
       <td class="target">%T165CARDW742<br />（%T165CARDW741）</td>
       <td class="count">%T165SCRW743</td>
       <td class="count">%T165SCRW742</td>
       <td class="score">%T165SCRW741</td>
       <td class="count">%T165SCRW744</td>
      </tr>
      <tr>
       <td class="scene">弾幕夢 5</td>
       <td class="target">%T165CARDW752<br />（%T165CARDW751）</td>
       <td class="count">%T165SCRW753</td>
       <td class="count">%T165SCRW752</td>
       <td class="score">%T165SCRW751</td>
       <td class="count">%T165SCRW754</td>
      </tr>
      <tr>
       <td class="scene">弾幕夢 6</td>
       <td class="target">%T165CARDW762<br />（%T165CARDW761）</td>
       <td class="count">%T165SCRW763</td>
       <td class="count">%T165SCRW762</td>
       <td class="score">%T165SCRW761</td>
       <td class="count">%T165SCRW764</td>
      </tr>
     </tbody>
    </table>

    <table class="score-per-dayofweek">
     <caption id="NightmareSunday">悪夢日曜</caption>
     <thead>
      <tr>
       <th scope="col" class="scene">弾幕夢</th>
       <th scope="col" class="target">スペルカード名<br />（使用者）</th>
       <th scope="col" class="count">撃破回数</th>
       <th scope="col" class="count">挑戦回数</th>
       <th scope="col" class="score">写真評価点</th>
       <th scope="col" class="count">撮影枚数</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="scene">弾幕夢 1</td>
       <td class="target">%T165CARDN112<br />（%T165CARDN111）</td>
       <td class="count">%T165SCRN113</td>
       <td class="count">%T165SCRN112</td>
       <td class="score">%T165SCRN111</td>
       <td class="count">%T165SCRN114</td>
      </tr>
      <tr>
       <td class="scene">弾幕夢 2</td>
       <td class="target">%T165CARDN122<br />（%T165CARDN121）</td>
       <td class="count">%T165SCRN123</td>
       <td class="count">%T165SCRN122</td>
       <td class="score">%T165SCRN121</td>
       <td class="count">%T165SCRN124</td>
      </tr>
      <tr>
       <td class="scene">弾幕夢 3</td>
       <td class="target">%T165CARDN132<br />（%T165CARDN131）</td>
       <td class="count">%T165SCRN133</td>
       <td class="count">%T165SCRN132</td>
       <td class="score">%T165SCRN131</td>
       <td class="count">%T165SCRN134</td>
      </tr>
      <tr>
       <td class="scene">弾幕夢 4</td>
       <td class="target">%T165CARDN142<br />（%T165CARDN141）</td>
       <td class="count">%T165SCRN143</td>
       <td class="count">%T165SCRN142</td>
       <td class="score">%T165SCRN141</td>
       <td class="count">%T165SCRN144</td>
      </tr>
      <tr>
       <td class="scene">弾幕夢 5</td>
       <td class="target">%T165CARDN152<br />（%T165CARDN151）</td>
       <td class="count">%T165SCRN153</td>
       <td class="count">%T165SCRN152</td>
       <td class="score">%T165SCRN151</td>
       <td class="count">%T165SCRN154</td>
      </tr>
      <tr>
       <td class="scene">弾幕夢 6</td>
       <td class="target">%T165CARDN162<br />（%T165CARDN161）</td>
       <td class="count">%T165SCRN163</td>
       <td class="count">%T165SCRN162</td>
       <td class="score">%T165SCRN161</td>
       <td class="count">%T165SCRN164</td>
      </tr>
     </tbody>
    </table>

    <table class="score-per-dayofweek">
     <caption id="NightmareMonday">悪夢月曜</caption>
     <thead>
      <tr>
       <th scope="col" class="scene">弾幕夢</th>
       <th scope="col" class="target">スペルカード名<br />（使用者）</th>
       <th scope="col" class="count">撃破回数</th>
       <th scope="col" class="count">挑戦回数</th>
       <th scope="col" class="score">写真評価点</th>
       <th scope="col" class="count">撮影枚数</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="scene">弾幕夢 1</td>
       <td class="target">%T165CARDN212<br />（%T165CARDN211）</td>
       <td class="count">%T165SCRN213</td>
       <td class="count">%T165SCRN212</td>
       <td class="score">%T165SCRN211</td>
       <td class="count">%T165SCRN214</td>
      </tr>
      <tr>
       <td class="scene">弾幕夢 2</td>
       <td class="target">%T165CARDN222<br />（%T165CARDN221）</td>
       <td class="count">%T165SCRN223</td>
       <td class="count">%T165SCRN222</td>
       <td class="score">%T165SCRN221</td>
       <td class="count">%T165SCRN224</td>
      </tr>
      <tr>
       <td class="scene">弾幕夢 3</td>
       <td class="target">%T165CARDN232<br />（%T165CARDN231）</td>
       <td class="count">%T165SCRN233</td>
       <td class="count">%T165SCRN232</td>
       <td class="score">%T165SCRN231</td>
       <td class="count">%T165SCRN234</td>
      </tr>
      <tr>
       <td class="scene">弾幕夢 4</td>
       <td class="target">%T165CARDN242<br />（%T165CARDN241）</td>
       <td class="count">%T165SCRN243</td>
       <td class="count">%T165SCRN242</td>
       <td class="score">%T165SCRN241</td>
       <td class="count">%T165SCRN244</td>
      </tr>
      <tr>
       <td class="scene">弾幕夢 5</td>
       <td class="target">%T165CARDN252<br />（%T165CARDN251）</td>
       <td class="count">%T165SCRN253</td>
       <td class="count">%T165SCRN252</td>
       <td class="score">%T165SCRN251</td>
       <td class="count">%T165SCRN254</td>
      </tr>
      <tr>
       <td class="scene">弾幕夢 6</td>
       <td class="target">%T165CARDN262<br />（%T165CARDN261）</td>
       <td class="count">%T165SCRN263</td>
       <td class="count">%T165SCRN262</td>
       <td class="score">%T165SCRN261</td>
       <td class="count">%T165SCRN264</td>
      </tr>
     </tbody>
    </table>

    <table class="score-per-dayofweek">
     <caption id="NightmareTuesday">悪夢火曜</caption>
     <thead>
      <tr>
       <th scope="col" class="scene">弾幕夢</th>
       <th scope="col" class="target">スペルカード名<br />（使用者）</th>
       <th scope="col" class="count">撃破回数</th>
       <th scope="col" class="count">挑戦回数</th>
       <th scope="col" class="score">写真評価点</th>
       <th scope="col" class="count">撮影枚数</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="scene">弾幕夢 1</td>
       <td class="target">%T165CARDN312<br />（%T165CARDN311）</td>
       <td class="count">%T165SCRN313</td>
       <td class="count">%T165SCRN312</td>
       <td class="score">%T165SCRN311</td>
       <td class="count">%T165SCRN314</td>
      </tr>
      <tr>
       <td class="scene">弾幕夢 2</td>
       <td class="target">%T165CARDN322<br />（%T165CARDN321）</td>
       <td class="count">%T165SCRN323</td>
       <td class="count">%T165SCRN322</td>
       <td class="score">%T165SCRN321</td>
       <td class="count">%T165SCRN324</td>
      </tr>
      <tr>
       <td class="scene">弾幕夢 3</td>
       <td class="target">%T165CARDN332<br />（%T165CARDN331）</td>
       <td class="count">%T165SCRN333</td>
       <td class="count">%T165SCRN332</td>
       <td class="score">%T165SCRN331</td>
       <td class="count">%T165SCRN334</td>
      </tr>
      <tr>
       <td class="scene">弾幕夢 4</td>
       <td class="target">%T165CARDN342<br />（%T165CARDN341）</td>
       <td class="count">%T165SCRN343</td>
       <td class="count">%T165SCRN342</td>
       <td class="score">%T165SCRN341</td>
       <td class="count">%T165SCRN344</td>
      </tr>
      <tr>
       <td class="scene">弾幕夢 5</td>
       <td class="target">%T165CARDN352<br />（%T165CARDN351）</td>
       <td class="count">%T165SCRN353</td>
       <td class="count">%T165SCRN352</td>
       <td class="score">%T165SCRN351</td>
       <td class="count">%T165SCRN354</td>
      </tr>
      <tr>
       <td class="scene">弾幕夢 6</td>
       <td class="target">%T165CARDN362<br />（%T165CARDN361）</td>
       <td class="count">%T165SCRN363</td>
       <td class="count">%T165SCRN362</td>
       <td class="score">%T165SCRN361</td>
       <td class="count">%T165SCRN364</td>
      </tr>
     </tbody>
    </table>

    <table class="score-per-dayofweek">
     <caption id="NightmareWednesday">悪夢水曜</caption>
     <thead>
      <tr>
       <th scope="col" class="scene">弾幕夢</th>
       <th scope="col" class="target">スペルカード名<br />（使用者）</th>
       <th scope="col" class="count">撃破回数</th>
       <th scope="col" class="count">挑戦回数</th>
       <th scope="col" class="score">写真評価点</th>
       <th scope="col" class="count">撮影枚数</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="scene">弾幕夢 1</td>
       <td class="target">%T165CARDN412<br />（%T165CARDN411）</td>
       <td class="count">%T165SCRN413</td>
       <td class="count">%T165SCRN412</td>
       <td class="score">%T165SCRN411</td>
       <td class="count">%T165SCRN414</td>
      </tr>
      <tr>
       <td class="scene">弾幕夢 2</td>
       <td class="target">%T165CARDN422<br />（%T165CARDN421）</td>
       <td class="count">%T165SCRN423</td>
       <td class="count">%T165SCRN422</td>
       <td class="score">%T165SCRN421</td>
       <td class="count">%T165SCRN424</td>
      </tr>
      <tr>
       <td class="scene">弾幕夢 3</td>
       <td class="target">%T165CARDN432<br />（%T165CARDN431）</td>
       <td class="count">%T165SCRN433</td>
       <td class="count">%T165SCRN432</td>
       <td class="score">%T165SCRN431</td>
       <td class="count">%T165SCRN434</td>
      </tr>
      <tr>
       <td class="scene">弾幕夢 4</td>
       <td class="target">%T165CARDN442<br />（%T165CARDN441）</td>
       <td class="count">%T165SCRN443</td>
       <td class="count">%T165SCRN442</td>
       <td class="score">%T165SCRN441</td>
       <td class="count">%T165SCRN444</td>
      </tr>
      <tr>
       <td class="scene">弾幕夢 5</td>
       <td class="target">%T165CARDN452<br />（%T165CARDN451）</td>
       <td class="count">%T165SCRN453</td>
       <td class="count">%T165SCRN452</td>
       <td class="score">%T165SCRN451</td>
       <td class="count">%T165SCRN454</td>
      </tr>
      <tr>
       <td class="scene">弾幕夢 6</td>
       <td class="target">%T165CARDN462<br />（%T165CARDN461）</td>
       <td class="count">%T165SCRN463</td>
       <td class="count">%T165SCRN462</td>
       <td class="score">%T165SCRN461</td>
       <td class="count">%T165SCRN464</td>
      </tr>
     </tbody>
    </table>

    <table class="score-per-dayofweek">
     <caption id="NightmareThursday">悪夢木曜</caption>
     <thead>
      <tr>
       <th scope="col" class="scene">弾幕夢</th>
       <th scope="col" class="target">スペルカード名<br />（使用者）</th>
       <th scope="col" class="count">撃破回数</th>
       <th scope="col" class="count">挑戦回数</th>
       <th scope="col" class="score">写真評価点</th>
       <th scope="col" class="count">撮影枚数</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="scene">弾幕夢 1</td>
       <td class="target">%T165CARDN512<br />（%T165CARDN511）</td>
       <td class="count">%T165SCRN513</td>
       <td class="count">%T165SCRN512</td>
       <td class="score">%T165SCRN511</td>
       <td class="count">%T165SCRN514</td>
      </tr>
      <tr>
       <td class="scene">弾幕夢 2</td>
       <td class="target">%T165CARDN522<br />（%T165CARDN521）</td>
       <td class="count">%T165SCRN523</td>
       <td class="count">%T165SCRN522</td>
       <td class="score">%T165SCRN521</td>
       <td class="count">%T165SCRN524</td>
      </tr>
      <tr>
       <td class="scene">弾幕夢 3</td>
       <td class="target">%T165CARDN532<br />（%T165CARDN531）</td>
       <td class="count">%T165SCRN533</td>
       <td class="count">%T165SCRN532</td>
       <td class="score">%T165SCRN531</td>
       <td class="count">%T165SCRN534</td>
      </tr>
      <tr>
       <td class="scene">弾幕夢 4</td>
       <td class="target">%T165CARDN542<br />（%T165CARDN541）</td>
       <td class="count">%T165SCRN543</td>
       <td class="count">%T165SCRN542</td>
       <td class="score">%T165SCRN541</td>
       <td class="count">%T165SCRN544</td>
      </tr>
      <tr>
       <td class="scene">弾幕夢 5</td>
       <td class="target">%T165CARDN552<br />（%T165CARDN551）</td>
       <td class="count">%T165SCRN553</td>
       <td class="count">%T165SCRN552</td>
       <td class="score">%T165SCRN551</td>
       <td class="count">%T165SCRN554</td>
      </tr>
      <tr>
       <td class="scene">弾幕夢 6</td>
       <td class="target">%T165CARDN562<br />（%T165CARDN561）</td>
       <td class="count">%T165SCRN563</td>
       <td class="count">%T165SCRN562</td>
       <td class="score">%T165SCRN561</td>
       <td class="count">%T165SCRN564</td>
      </tr>
     </tbody>
    </table>

    <table class="score-per-dayofweek">
     <caption id="NightmareFriday">悪夢金曜</caption>
     <thead>
      <tr>
       <th scope="col" class="scene">弾幕夢</th>
       <th scope="col" class="target">スペルカード名<br />（使用者）</th>
       <th scope="col" class="count">撃破回数</th>
       <th scope="col" class="count">挑戦回数</th>
       <th scope="col" class="score">写真評価点</th>
       <th scope="col" class="count">撮影枚数</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="scene">弾幕夢 1</td>
       <td class="target">%T165CARDN612<br />（%T165CARDN611）</td>
       <td class="count">%T165SCRN613</td>
       <td class="count">%T165SCRN612</td>
       <td class="score">%T165SCRN611</td>
       <td class="count">%T165SCRN614</td>
      </tr>
      <tr>
       <td class="scene">弾幕夢 2</td>
       <td class="target">%T165CARDN622<br />（%T165CARDN621）</td>
       <td class="count">%T165SCRN623</td>
       <td class="count">%T165SCRN622</td>
       <td class="score">%T165SCRN621</td>
       <td class="count">%T165SCRN624</td>
      </tr>
      <tr>
       <td class="scene">弾幕夢 3</td>
       <td class="target">%T165CARDN632<br />（%T165CARDN631）</td>
       <td class="count">%T165SCRN633</td>
       <td class="count">%T165SCRN632</td>
       <td class="score">%T165SCRN631</td>
       <td class="count">%T165SCRN634</td>
      </tr>
      <tr>
       <td class="scene">弾幕夢 4</td>
       <td class="target">%T165CARDN642<br />（%T165CARDN641）</td>
       <td class="count">%T165SCRN643</td>
       <td class="count">%T165SCRN642</td>
       <td class="score">%T165SCRN641</td>
       <td class="count">%T165SCRN644</td>
      </tr>
      <tr>
       <td class="scene">弾幕夢 5</td>
       <td class="target">%T165CARDN652<br />（%T165CARDN651）</td>
       <td class="count">%T165SCRN653</td>
       <td class="count">%T165SCRN652</td>
       <td class="score">%T165SCRN651</td>
       <td class="count">%T165SCRN654</td>
      </tr>
      <tr>
       <td class="scene">弾幕夢 6</td>
       <td class="target">%T165CARDN662<br />（%T165CARDN661）</td>
       <td class="count">%T165SCRN663</td>
       <td class="count">%T165SCRN662</td>
       <td class="score">%T165SCRN661</td>
       <td class="count">%T165SCRN664</td>
      </tr>
     </tbody>
    </table>

    <table class="score-per-dayofweek">
     <caption id="NightmareSaturday">悪夢土曜</caption>
     <thead>
      <tr>
       <th scope="col" class="scene">弾幕夢</th>
       <th scope="col" class="target">スペルカード名<br />（使用者）</th>
       <th scope="col" class="count">撃破回数</th>
       <th scope="col" class="count">挑戦回数</th>
       <th scope="col" class="score">写真評価点</th>
       <th scope="col" class="count">撮影枚数</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="scene">弾幕夢 1</td>
       <td class="target">%T165CARDN712<br />（%T165CARDN711）</td>
       <td class="count">%T165SCRN713</td>
       <td class="count">%T165SCRN712</td>
       <td class="score">%T165SCRN711</td>
       <td class="count">%T165SCRN714</td>
      </tr>
      <tr>
       <td class="scene">弾幕夢 2</td>
       <td class="target">%T165CARDN722<br />（%T165CARDN721）</td>
       <td class="count">%T165SCRN723</td>
       <td class="count">%T165SCRN722</td>
       <td class="score">%T165SCRN721</td>
       <td class="count">%T165SCRN724</td>
      </tr>
      <tr>
       <td class="scene">弾幕夢 3</td>
       <td class="target">%T165CARDN732<br />（%T165CARDN731）</td>
       <td class="count">%T165SCRN733</td>
       <td class="count">%T165SCRN732</td>
       <td class="score">%T165SCRN731</td>
       <td class="count">%T165SCRN734</td>
      </tr>
      <tr>
       <td class="scene">弾幕夢 4</td>
       <td class="target">%T165CARDN742<br />（%T165CARDN741）</td>
       <td class="count">%T165SCRN743</td>
       <td class="count">%T165SCRN742</td>
       <td class="score">%T165SCRN741</td>
       <td class="count">%T165SCRN744</td>
      </tr>
      <tr>
       <td class="scene">弾幕夢 5</td>
       <td class="target">%T165CARDN752<br />（%T165CARDN751）</td>
       <td class="count">%T165SCRN753</td>
       <td class="count">%T165SCRN752</td>
       <td class="score">%T165SCRN751</td>
       <td class="count">%T165SCRN754</td>
      </tr>
      <tr>
       <td class="scene">弾幕夢 6</td>
       <td class="target">%T165CARDN762<br />（%T165CARDN761）</td>
       <td class="count">%T165SCRN763</td>
       <td class="count">%T165SCRN762</td>
       <td class="score">%T165SCRN761</td>
       <td class="count">%T165SCRN764</td>
      </tr>
     </tbody>
    </table>

    <table class="score-per-dayofweek">
     <caption id="NightmareDiary">ナイトメアダイアリー</caption>
     <thead>
      <tr>
       <th scope="col" class="scene">弾幕夢</th>
       <th scope="col" class="target">スペルカード名<br />（使用者）</th>
       <th scope="col" class="count">撃破回数</th>
       <th scope="col" class="count">挑戦回数</th>
       <th scope="col" class="score">写真評価点</th>
       <th scope="col" class="count">撮影枚数</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="scene">弾幕夢 1</td>
       <td class="target">%T165CARDND12<br />（%T165CARDND11）</td>
       <td class="count">%T165SCRND13</td>
       <td class="count">%T165SCRND12</td>
       <td class="score">%T165SCRND11</td>
       <td class="count">%T165SCRND14</td>
      </tr>
      <tr>
       <td class="scene">弾幕夢 2</td>
       <td class="target">%T165CARDND22<br />（%T165CARDND21）</td>
       <td class="count">%T165SCRND23</td>
       <td class="count">%T165SCRND22</td>
       <td class="score">%T165SCRND21</td>
       <td class="count">%T165SCRND24</td>
      </tr>
      <tr>
       <td class="scene">弾幕夢 3</td>
       <td class="target">%T165CARDND32<br />（%T165CARDND31）</td>
       <td class="count">%T165SCRND33</td>
       <td class="count">%T165SCRND32</td>
       <td class="score">%T165SCRND31</td>
       <td class="count">%T165SCRND34</td>
      </tr>
      <tr>
       <td class="scene">弾幕夢 4</td>
       <td class="target">%T165CARDND42<br />（%T165CARDND41）</td>
       <td class="count">%T165SCRND43</td>
       <td class="count">%T165SCRND42</td>
       <td class="score">%T165SCRND41</td>
       <td class="count">%T165SCRND44</td>
      </tr>
     </tbody>
    </table>
   </section>

   <hr />

   <section>
    <h2 id="TotalScore">スコアの合計</h2>
    <table class="total-score">
     <tbody>
      <tr>
       <th scope="row">総プレイ時間</th>
       <td class="playtime">%T165TIMEPLY</td>
      </tr>
      <tr>
       <th scope="row">夢日記取得数</th>
       <td class="count">%T165SCRTL4 / 103</td>
      </tr>
      <tr>
       <th scope="row">総撮影枚数</th>
       <td class="count">%T165SCRTL5</td>
      </tr>
      <tr>
       <th scope="row">総合評価点</th>
       <td class="score">%T165SCRTL1</td>
      </tr>
      <tr>
       <th scope="row">異名取得数</th>
       <td class="count">%T165SCRTL6</td>
      </tr>
      <tr>
       <th scope="row">撃破回数 / 挑戦回数</th>
       <td class="count">%T165SCRTL3 / %T165SCRTL2</td>
      </tr>
     </tbody>
    </table>
   </section>

   <hr />

   <section>
    <h2 id="Nickname">異名取得状況</h2>

    <table class="nickname">
     <thead>
      <tr>
       <th scope="col" class="number">No.</th>
       <th scope="col" class="nickname">異名</th>
      </tr>
     </thead>
     <tbody>
      <tr><td class="number">1</td><td class="nickname">%T165NICK01</td></tr>
      <tr><td class="number">2</td><td class="nickname">%T165NICK02</td></tr>
      <tr><td class="number">3</td><td class="nickname">%T165NICK03</td></tr>
      <tr><td class="number">4</td><td class="nickname">%T165NICK04</td></tr>
      <tr><td class="number">5</td><td class="nickname">%T165NICK05</td></tr>
      <tr><td class="number">6</td><td class="nickname">%T165NICK06</td></tr>
      <tr><td class="number">7</td><td class="nickname">%T165NICK07</td></tr>
      <tr><td class="number">8</td><td class="nickname">%T165NICK08</td></tr>
      <tr><td class="number">9</td><td class="nickname">%T165NICK09</td></tr>
      <tr><td class="number">10</td><td class="nickname">%T165NICK10</td></tr>
     </tbody>
    </table>
    <table class="nickname">
     <thead>
      <tr>
       <th scope="col" class="number">No.</th>
       <th scope="col" class="nickname">異名</th>
      </tr>
     </thead>
     <tbody>
      <tr><td class="number">11</td><td class="nickname">%T165NICK11</td></tr>
      <tr><td class="number">12</td><td class="nickname">%T165NICK12</td></tr>
      <tr><td class="number">13</td><td class="nickname">%T165NICK13</td></tr>
      <tr><td class="number">14</td><td class="nickname">%T165NICK14</td></tr>
      <tr><td class="number">15</td><td class="nickname">%T165NICK15</td></tr>
      <tr><td class="number">16</td><td class="nickname">%T165NICK16</td></tr>
      <tr><td class="number">17</td><td class="nickname">%T165NICK17</td></tr>
      <tr><td class="number">18</td><td class="nickname">%T165NICK18</td></tr>
      <tr><td class="number">19</td><td class="nickname">%T165NICK19</td></tr>
      <tr><td class="number">20</td><td class="nickname">%T165NICK20</td></tr>
     </tbody>
    </table>
    <table class="nickname">
     <thead>
      <tr>
       <th scope="col" class="number">No.</th>
       <th scope="col" class="nickname">異名</th>
      </tr>
     </thead>
     <tbody>
      <tr><td class="number">21</td><td class="nickname">%T165NICK21</td></tr>
      <tr><td class="number">22</td><td class="nickname">%T165NICK22</td></tr>
      <tr><td class="number">23</td><td class="nickname">%T165NICK23</td></tr>
      <tr><td class="number">24</td><td class="nickname">%T165NICK24</td></tr>
      <tr><td class="number">25</td><td class="nickname">%T165NICK25</td></tr>
      <tr><td class="number">26</td><td class="nickname">%T165NICK26</td></tr>
      <tr><td class="number">27</td><td class="nickname">%T165NICK27</td></tr>
      <tr><td class="number">28</td><td class="nickname">%T165NICK28</td></tr>
      <tr><td class="number">29</td><td class="nickname">%T165NICK29</td></tr>
      <tr><td class="number">30</td><td class="nickname">%T165NICK30</td></tr>
     </tbody>
    </table>
    <table class="nickname">
     <thead>
      <tr>
       <th scope="col" class="number">No.</th>
       <th scope="col" class="nickname">異名</th>
      </tr>
     </thead>
     <tbody>
      <tr><td class="number">31</td><td class="nickname">%T165NICK31</td></tr>
      <tr><td class="number">32</td><td class="nickname">%T165NICK32</td></tr>
      <tr><td class="number">33</td><td class="nickname">%T165NICK33</td></tr>
      <tr><td class="number">34</td><td class="nickname">%T165NICK34</td></tr>
      <tr><td class="number">35</td><td class="nickname">%T165NICK35</td></tr>
      <tr><td class="number">36</td><td class="nickname">%T165NICK36</td></tr>
      <tr><td class="number">37</td><td class="nickname">%T165NICK37</td></tr>
      <tr><td class="number">38</td><td class="nickname">%T165NICK38</td></tr>
      <tr><td class="number">39</td><td class="nickname">%T165NICK39</td></tr>
      <tr><td class="number">40</td><td class="nickname">%T165NICK40</td></tr>
     </tbody>
    </table>
    <table class="nickname">
     <thead>
      <tr>
       <th scope="col" class="number">No.</th>
       <th scope="col" class="nickname">異名</th>
      </tr>
     </thead>
     <tbody>
      <tr><td class="number">41</td><td class="nickname">%T165NICK41</td></tr>
      <tr><td class="number">42</td><td class="nickname">%T165NICK42</td></tr>
      <tr><td class="number">43</td><td class="nickname">%T165NICK43</td></tr>
      <tr><td class="number">44</td><td class="nickname">%T165NICK44</td></tr>
      <tr><td class="number">45</td><td class="nickname">%T165NICK45</td></tr>
      <tr><td class="number">46</td><td class="nickname">%T165NICK46</td></tr>
      <tr><td class="number">47</td><td class="nickname">%T165NICK47</td></tr>
      <tr><td class="number">48</td><td class="nickname">%T165NICK48</td></tr>
      <tr><td class="number">49</td><td class="nickname">%T165NICK49</td></tr>
      <tr><td class="number">50</td><td class="nickname">%T165NICK50</td></tr>
     </tbody>
    </table>
   </section>

  </main>

  <footer>
   <p>
    Data output by <a href="https://www.colorless-sight.jp/thsfc/">ThScoreFileConverter</a>.
<script>
// <![CDATA[
    document.write("Last updated: ", document.lastModified, ".");
// ]]>
</script>
   </p>
  </footer>

 </body>
</html>
