<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">

 <head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>東方鬼形獣 スコアデータ</title>
  <link rel="stylesheet" href="style.css" />
<style>
/* <![CDATA[ */
    td.score { min-width: 70px; }
    td.stage { min-width: 70px; }
    table.practice { float: left; }
/* ]]> */
</style>
 </head>

 <body>

  <header>
   <h1>東方鬼形獣 スコアデータ</h1>
   <hr />
   <nav>
    <ul>
     <li><a href="th17score1.html">スコアデータ全般</a></li>
     <li><a href="th17score2.html">個別ランキング</a></li>
     <li>プラクティス</li>
     <li><a href="th17card1.html">御札戦歴（ゲーム本編）</a></li>
     <li><a href="th17card2.html">御札戦歴（スペルプラクティス）</a></li>
    </ul>
    <ul>
     <li><a href="#Easy">Easy</a></li>
     <li><a href="#Normal">Normal</a></li>
     <li><a href="#Hard">Hard</a></li>
     <li><a href="#Lunatic">Lunatic</a></li>
    </ul>
   </nav>
  </header>

  <main>

   <section>
    <h2 id="Easy">Easy</h2>

    <table class="practice">
     <caption>博麗 霊夢 (狼)</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T17PRACERA1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T17PRACERA2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T17PRACERA3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T17PRACERA4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T17PRACERA5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T17PRACERA6</td>
      </tr>
     </tbody>
    </table>

    <table class="practice">
     <caption>博麗 霊夢 (獺)</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T17PRACERB1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T17PRACERB2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T17PRACERB3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T17PRACERB4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T17PRACERB5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T17PRACERB6</td>
      </tr>
     </tbody>
    </table>

    <table class="practice">
     <caption>博麗 霊夢 (鷲)</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T17PRACERC1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T17PRACERC2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T17PRACERC3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T17PRACERC4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T17PRACERC5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T17PRACERC6</td>
      </tr>
     </tbody>
    </table>

    <table class="practice">
     <caption>霧雨 魔理沙 (狼)</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T17PRACEMA1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T17PRACEMA2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T17PRACEMA3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T17PRACEMA4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T17PRACEMA5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T17PRACEMA6</td>
      </tr>
     </tbody>
    </table>

    <table class="practice">
     <caption>霧雨 魔理沙 (獺)</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T17PRACEMB1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T17PRACEMB2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T17PRACEMB3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T17PRACEMB4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T17PRACEMB5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T17PRACEMB6</td>
      </tr>
     </tbody>
    </table>

    <table class="practice">
     <caption>霧雨 魔理沙 (鷲)</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T17PRACEMC1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T17PRACEMC2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T17PRACEMC3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T17PRACEMC4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T17PRACEMC5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T17PRACEMC6</td>
      </tr>
     </tbody>
    </table>

    <table class="practice">
     <caption>魂魄 妖夢 (狼)</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T17PRACEYA1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T17PRACEYA2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T17PRACEYA3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T17PRACEYA4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T17PRACEYA5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T17PRACEYA6</td>
      </tr>
     </tbody>
    </table>

    <table class="practice">
     <caption>魂魄 妖夢 (獺)</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T17PRACEYB1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T17PRACEYB2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T17PRACEYB3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T17PRACEYB4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T17PRACEYB5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T17PRACEYB6</td>
      </tr>
     </tbody>
    </table>

    <table class="practice">
     <caption>魂魄 妖夢 (鷲)</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T17PRACEYC1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T17PRACEYC2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T17PRACEYC3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T17PRACEYC4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T17PRACEYC5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T17PRACEYC6</td>
      </tr>
     </tbody>
    </table>

   </section>

   <hr />

   <section>
    <h2 id="Normal">Normal</h2>

    <table class="practice">
     <caption>博麗 霊夢 (狼)</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T17PRACNRA1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T17PRACNRA2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T17PRACNRA3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T17PRACNRA4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T17PRACNRA5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T17PRACNRA6</td>
      </tr>
     </tbody>
    </table>

    <table class="practice">
     <caption>博麗 霊夢 (獺)</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T17PRACNRB1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T17PRACNRB2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T17PRACNRB3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T17PRACNRB4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T17PRACNRB5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T17PRACNRB6</td>
      </tr>
     </tbody>
    </table>

    <table class="practice">
     <caption>博麗 霊夢 (鷲)</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T17PRACNRC1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T17PRACNRC2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T17PRACNRC3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T17PRACNRC4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T17PRACNRC5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T17PRACNRC6</td>
      </tr>
     </tbody>
    </table>

    <table class="practice">
     <caption>霧雨 魔理沙 (狼)</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T17PRACNMA1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T17PRACNMA2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T17PRACNMA3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T17PRACNMA4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T17PRACNMA5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T17PRACNMA6</td>
      </tr>
     </tbody>
    </table>

    <table class="practice">
     <caption>霧雨 魔理沙 (獺)</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T17PRACNMB1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T17PRACNMB2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T17PRACNMB3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T17PRACNMB4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T17PRACNMB5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T17PRACNMB6</td>
      </tr>
     </tbody>
    </table>

    <table class="practice">
     <caption>霧雨 魔理沙 (鷲)</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T17PRACNMC1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T17PRACNMC2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T17PRACNMC3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T17PRACNMC4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T17PRACNMC5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T17PRACNMC6</td>
      </tr>
     </tbody>
    </table>

    <table class="practice">
     <caption>魂魄 妖夢 (狼)</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T17PRACNYA1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T17PRACNYA2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T17PRACNYA3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T17PRACNYA4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T17PRACNYA5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T17PRACNYA6</td>
      </tr>
     </tbody>
    </table>

    <table class="practice">
     <caption>魂魄 妖夢 (獺)</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T17PRACNYB1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T17PRACNYB2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T17PRACNYB3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T17PRACNYB4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T17PRACNYB5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T17PRACNYB6</td>
      </tr>
     </tbody>
    </table>

    <table class="practice">
     <caption>魂魄 妖夢 (鷲)</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T17PRACNYC1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T17PRACNYC2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T17PRACNYC3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T17PRACNYC4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T17PRACNYC5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T17PRACNYC6</td>
      </tr>
     </tbody>
    </table>

   </section>

   <hr />

   <section>
    <h2 id="Hard">Hard</h2>

    <table class="practice">
     <caption>博麗 霊夢 (狼)</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T17PRACHRA1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T17PRACHRA2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T17PRACHRA3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T17PRACHRA4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T17PRACHRA5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T17PRACHRA6</td>
      </tr>
     </tbody>
    </table>

    <table class="practice">
     <caption>博麗 霊夢 (獺)</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T17PRACHRB1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T17PRACHRB2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T17PRACHRB3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T17PRACHRB4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T17PRACHRB5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T17PRACHRB6</td>
      </tr>
     </tbody>
    </table>

    <table class="practice">
     <caption>博麗 霊夢 (鷲)</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T17PRACHRC1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T17PRACHRC2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T17PRACHRC3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T17PRACHRC4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T17PRACHRC5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T17PRACHRC6</td>
      </tr>
     </tbody>
    </table>

    <table class="practice">
     <caption>霧雨 魔理沙 (狼)</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T17PRACHMA1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T17PRACHMA2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T17PRACHMA3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T17PRACHMA4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T17PRACHMA5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T17PRACHMA6</td>
      </tr>
     </tbody>
    </table>

    <table class="practice">
     <caption>霧雨 魔理沙 (獺)</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T17PRACHMB1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T17PRACHMB2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T17PRACHMB3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T17PRACHMB4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T17PRACHMB5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T17PRACHMB6</td>
      </tr>
     </tbody>
    </table>

    <table class="practice">
     <caption>霧雨 魔理沙 (鷲)</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T17PRACHMC1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T17PRACHMC2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T17PRACHMC3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T17PRACHMC4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T17PRACHMC5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T17PRACHMC6</td>
      </tr>
     </tbody>
    </table>

    <table class="practice">
     <caption>魂魄 妖夢 (狼)</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T17PRACHYA1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T17PRACHYA2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T17PRACHYA3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T17PRACHYA4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T17PRACHYA5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T17PRACHYA6</td>
      </tr>
     </tbody>
    </table>

    <table class="practice">
     <caption>魂魄 妖夢 (獺)</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T17PRACHYB1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T17PRACHYB2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T17PRACHYB3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T17PRACHYB4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T17PRACHYB5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T17PRACHYB6</td>
      </tr>
     </tbody>
    </table>

    <table class="practice">
     <caption>魂魄 妖夢 (鷲)</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T17PRACHYC1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T17PRACHYC2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T17PRACHYC3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T17PRACHYC4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T17PRACHYC5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T17PRACHYC6</td>
      </tr>
     </tbody>
    </table>

   </section>

   <hr />

   <section>
    <h2 id="Lunatic">Lunatic</h2>

    <table class="practice">
     <caption>博麗 霊夢 (狼)</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T17PRACLRA1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T17PRACLRA2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T17PRACLRA3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T17PRACLRA4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T17PRACLRA5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T17PRACLRA6</td>
      </tr>
     </tbody>
    </table>

    <table class="practice">
     <caption>博麗 霊夢 (獺)</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T17PRACLRB1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T17PRACLRB2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T17PRACLRB3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T17PRACLRB4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T17PRACLRB5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T17PRACLRB6</td>
      </tr>
     </tbody>
    </table>

    <table class="practice">
     <caption>博麗 霊夢 (鷲)</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T17PRACLRC1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T17PRACLRC2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T17PRACLRC3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T17PRACLRC4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T17PRACLRC5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T17PRACLRC6</td>
      </tr>
     </tbody>
    </table>

    <table class="practice">
     <caption>霧雨 魔理沙 (狼)</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T17PRACLMA1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T17PRACLMA2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T17PRACLMA3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T17PRACLMA4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T17PRACLMA5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T17PRACLMA6</td>
      </tr>
     </tbody>
    </table>

    <table class="practice">
     <caption>霧雨 魔理沙 (獺)</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T17PRACLMB1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T17PRACLMB2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T17PRACLMB3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T17PRACLMB4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T17PRACLMB5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T17PRACLMB6</td>
      </tr>
     </tbody>
    </table>

    <table class="practice">
     <caption>霧雨 魔理沙 (鷲)</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T17PRACLMC1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T17PRACLMC2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T17PRACLMC3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T17PRACLMC4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T17PRACLMC5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T17PRACLMC6</td>
      </tr>
     </tbody>
    </table>

    <table class="practice">
     <caption>魂魄 妖夢 (狼)</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T17PRACLYA1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T17PRACLYA2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T17PRACLYA3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T17PRACLYA4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T17PRACLYA5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T17PRACLYA6</td>
      </tr>
     </tbody>
    </table>

    <table class="practice">
     <caption>魂魄 妖夢 (獺)</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T17PRACLYB1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T17PRACLYB2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T17PRACLYB3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T17PRACLYB4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T17PRACLYB5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T17PRACLYB6</td>
      </tr>
     </tbody>
    </table>

    <table class="practice">
     <caption>魂魄 妖夢 (鷲)</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T17PRACLYC1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T17PRACLYC2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T17PRACLYC3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T17PRACLYC4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T17PRACLYC5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T17PRACLYC6</td>
      </tr>
     </tbody>
    </table>

   </section>

  </main>

  <footer>
   <p>
    Data output by <a href="https://www.colorless-sight.jp/thsfc/">ThScoreFileConverter</a>.
<script>
// <![CDATA[
    document.write("Last updated: ", document.lastModified, ".");
// ]]>
</script>
   </p>
  </footer>

 </body>
</html>
