@using ThScoreFileConverter.Core.Resources
<p>
  Data output by <a href="@StringResources.ProjectUrl">@StringResources.ProductName</a>.
<script>
// <![CDATA[
    document.write("Last updated: ", document.lastModified, ".");
// ]]>
</script>
</p>