<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">

 <head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>東方剛欲異聞 スコアデータ</title>
  <link rel="stylesheet" href="style.css" />
<style>
/* <![CDATA[ */
    td.score { min-width: 70px; }
    td.time { min-width: 70px; }
    table.score_per_level { float: left; }
    table.score_per_level td.number { min-width: 20px; }
/* ]]> */
</style>
 </head>

 <body>

  <header>
   <h1>東方剛欲異聞 スコアデータ</h1>
   <hr />
   <nav>
    <ul>
     <li><a href="th175score1.html">スコアデータ全般</a></li>
     <li>個別ランキング</li>
    </ul>
    <ul>
     <li><a href="#Normal">Normal</a></li>
     <li><a href="#Hard">Hard</a></li>
    </ul>
   </nav>
  </header>

  <main>

   <section>
    <h2 id="Normal">Normal</h2>

    <table class="score_per_level">
     <caption>博麗 霊夢</caption>
     <thead>
      <tr>
       <th class="number">No.</th>
       <th class="score">Score</th>
       <th class="time">Time</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="number">1</td>
       <td class="score">%T175SCRNRM11</td>
       <td class="time">%T175SCRNRM12</td>
      </tr>
      <tr>
       <td class="number">2</td>
       <td class="score">%T175SCRNRM21</td>
       <td class="time">%T175SCRNRM22</td>
      </tr>
      <tr>
       <td class="number">3</td>
       <td class="score">%T175SCRNRM31</td>
       <td class="time">%T175SCRNRM32</td>
      </tr>
      <tr>
       <td class="number">4</td>
       <td class="score">%T175SCRNRM41</td>
       <td class="time">%T175SCRNRM42</td>
      </tr>
      <tr>
       <td class="number">5</td>
       <td class="score">%T175SCRNRM51</td>
       <td class="time">%T175SCRNRM52</td>
      </tr>
      <tr>
       <td class="number">6</td>
       <td class="score">%T175SCRNRM61</td>
       <td class="time">%T175SCRNRM62</td>
      </tr>
      <tr>
       <td class="number">7</td>
       <td class="score">%T175SCRNRM71</td>
       <td class="time">%T175SCRNRM72</td>
      </tr>
      <tr>
       <td class="number">8</td>
       <td class="score">%T175SCRNRM81</td>
       <td class="time">%T175SCRNRM82</td>
      </tr>
      <tr>
       <td class="number">9</td>
       <td class="score">%T175SCRNRM91</td>
       <td class="time">%T175SCRNRM92</td>
      </tr>
      <tr>
       <td class="number">10</td>
       <td class="score">%T175SCRNRM01</td>
       <td class="time">%T175SCRNRM02</td>
      </tr>
     </tbody>
    </table>

    <table class="score_per_level">
     <caption>霧雨 魔理沙</caption>
     <thead>
      <tr>
       <th class="number">No.</th>
       <th class="score">Score</th>
       <th class="time">Time</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="number">1</td>
       <td class="score">%T175SCRNMR11</td>
       <td class="time">%T175SCRNMR12</td>
      </tr>
      <tr>
       <td class="number">2</td>
       <td class="score">%T175SCRNMR21</td>
       <td class="time">%T175SCRNMR22</td>
      </tr>
      <tr>
       <td class="number">3</td>
       <td class="score">%T175SCRNMR31</td>
       <td class="time">%T175SCRNMR32</td>
      </tr>
      <tr>
       <td class="number">4</td>
       <td class="score">%T175SCRNMR41</td>
       <td class="time">%T175SCRNMR42</td>
      </tr>
      <tr>
       <td class="number">5</td>
       <td class="score">%T175SCRNMR51</td>
       <td class="time">%T175SCRNMR52</td>
      </tr>
      <tr>
       <td class="number">6</td>
       <td class="score">%T175SCRNMR61</td>
       <td class="time">%T175SCRNMR62</td>
      </tr>
      <tr>
       <td class="number">7</td>
       <td class="score">%T175SCRNMR71</td>
       <td class="time">%T175SCRNMR72</td>
      </tr>
      <tr>
       <td class="number">8</td>
       <td class="score">%T175SCRNMR81</td>
       <td class="time">%T175SCRNMR82</td>
      </tr>
      <tr>
       <td class="number">9</td>
       <td class="score">%T175SCRNMR91</td>
       <td class="time">%T175SCRNMR92</td>
      </tr>
      <tr>
       <td class="number">10</td>
       <td class="score">%T175SCRNMR01</td>
       <td class="time">%T175SCRNMR02</td>
      </tr>
     </tbody>
    </table>

    <table class="score_per_level">
     <caption>八坂 神奈子</caption>
     <thead>
      <tr>
       <th class="number">No.</th>
       <th class="score">Score</th>
       <th class="time">Time</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="number">1</td>
       <td class="score">%T175SCRNKN11</td>
       <td class="time">%T175SCRNKN12</td>
      </tr>
      <tr>
       <td class="number">2</td>
       <td class="score">%T175SCRNKN21</td>
       <td class="time">%T175SCRNKN22</td>
      </tr>
      <tr>
       <td class="number">3</td>
       <td class="score">%T175SCRNKN31</td>
       <td class="time">%T175SCRNKN32</td>
      </tr>
      <tr>
       <td class="number">4</td>
       <td class="score">%T175SCRNKN41</td>
       <td class="time">%T175SCRNKN42</td>
      </tr>
      <tr>
       <td class="number">5</td>
       <td class="score">%T175SCRNKN51</td>
       <td class="time">%T175SCRNKN52</td>
      </tr>
      <tr>
       <td class="number">6</td>
       <td class="score">%T175SCRNKN61</td>
       <td class="time">%T175SCRNKN62</td>
      </tr>
      <tr>
       <td class="number">7</td>
       <td class="score">%T175SCRNKN71</td>
       <td class="time">%T175SCRNKN72</td>
      </tr>
      <tr>
       <td class="number">8</td>
       <td class="score">%T175SCRNKN81</td>
       <td class="time">%T175SCRNKN82</td>
      </tr>
      <tr>
       <td class="number">9</td>
       <td class="score">%T175SCRNKN91</td>
       <td class="time">%T175SCRNKN92</td>
      </tr>
      <tr>
       <td class="number">10</td>
       <td class="score">%T175SCRNKN01</td>
       <td class="time">%T175SCRNKN02</td>
      </tr>
     </tbody>
    </table>

    <table class="score_per_level">
     <caption>村紗 水蜜</caption>
     <thead>
      <tr>
       <th class="number">No.</th>
       <th class="score">Score</th>
       <th class="time">Time</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="number">1</td>
       <td class="score">%T175SCRNMI11</td>
       <td class="time">%T175SCRNMI12</td>
      </tr>
      <tr>
       <td class="number">2</td>
       <td class="score">%T175SCRNMI21</td>
       <td class="time">%T175SCRNMI22</td>
      </tr>
      <tr>
       <td class="number">3</td>
       <td class="score">%T175SCRNMI31</td>
       <td class="time">%T175SCRNMI32</td>
      </tr>
      <tr>
       <td class="number">4</td>
       <td class="score">%T175SCRNMI41</td>
       <td class="time">%T175SCRNMI42</td>
      </tr>
      <tr>
       <td class="number">5</td>
       <td class="score">%T175SCRNMI51</td>
       <td class="time">%T175SCRNMI52</td>
      </tr>
      <tr>
       <td class="number">6</td>
       <td class="score">%T175SCRNMI61</td>
       <td class="time">%T175SCRNMI62</td>
      </tr>
      <tr>
       <td class="number">7</td>
       <td class="score">%T175SCRNMI71</td>
       <td class="time">%T175SCRNMI72</td>
      </tr>
      <tr>
       <td class="number">8</td>
       <td class="score">%T175SCRNMI81</td>
       <td class="time">%T175SCRNMI82</td>
      </tr>
      <tr>
       <td class="number">9</td>
       <td class="score">%T175SCRNMI91</td>
       <td class="time">%T175SCRNMI92</td>
      </tr>
      <tr>
       <td class="number">10</td>
       <td class="score">%T175SCRNMI01</td>
       <td class="time">%T175SCRNMI02</td>
      </tr>
     </tbody>
    </table>

    <table class="score_per_level">
     <caption>依神 女苑 &amp; 紫苑</caption>
     <thead>
      <tr>
       <th class="number">No.</th>
       <th class="score">Score</th>
       <th class="time">Time</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="number">1</td>
       <td class="score">%T175SCRNJS11</td>
       <td class="time">%T175SCRNJS12</td>
      </tr>
      <tr>
       <td class="number">2</td>
       <td class="score">%T175SCRNJS21</td>
       <td class="time">%T175SCRNJS22</td>
      </tr>
      <tr>
       <td class="number">3</td>
       <td class="score">%T175SCRNJS31</td>
       <td class="time">%T175SCRNJS32</td>
      </tr>
      <tr>
       <td class="number">4</td>
       <td class="score">%T175SCRNJS41</td>
       <td class="time">%T175SCRNJS42</td>
      </tr>
      <tr>
       <td class="number">5</td>
       <td class="score">%T175SCRNJS51</td>
       <td class="time">%T175SCRNJS52</td>
      </tr>
      <tr>
       <td class="number">6</td>
       <td class="score">%T175SCRNJS61</td>
       <td class="time">%T175SCRNJS62</td>
      </tr>
      <tr>
       <td class="number">7</td>
       <td class="score">%T175SCRNJS71</td>
       <td class="time">%T175SCRNJS72</td>
      </tr>
      <tr>
       <td class="number">8</td>
       <td class="score">%T175SCRNJS81</td>
       <td class="time">%T175SCRNJS82</td>
      </tr>
      <tr>
       <td class="number">9</td>
       <td class="score">%T175SCRNJS91</td>
       <td class="time">%T175SCRNJS92</td>
      </tr>
      <tr>
       <td class="number">10</td>
       <td class="score">%T175SCRNJS01</td>
       <td class="time">%T175SCRNJS02</td>
      </tr>
     </tbody>
    </table>

    <table class="score_per_level">
     <caption>フランドール・スカーレット</caption>
     <thead>
      <tr>
       <th class="number">No.</th>
       <th class="score">Score</th>
       <th class="time">Time</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="number">1</td>
       <td class="score">%T175SCRNFL11</td>
       <td class="time">%T175SCRNFL12</td>
      </tr>
      <tr>
       <td class="number">2</td>
       <td class="score">%T175SCRNFL21</td>
       <td class="time">%T175SCRNFL22</td>
      </tr>
      <tr>
       <td class="number">3</td>
       <td class="score">%T175SCRNFL31</td>
       <td class="time">%T175SCRNFL32</td>
      </tr>
      <tr>
       <td class="number">4</td>
       <td class="score">%T175SCRNFL41</td>
       <td class="time">%T175SCRNFL42</td>
      </tr>
      <tr>
       <td class="number">5</td>
       <td class="score">%T175SCRNFL51</td>
       <td class="time">%T175SCRNFL52</td>
      </tr>
      <tr>
       <td class="number">6</td>
       <td class="score">%T175SCRNFL61</td>
       <td class="time">%T175SCRNFL62</td>
      </tr>
      <tr>
       <td class="number">7</td>
       <td class="score">%T175SCRNFL71</td>
       <td class="time">%T175SCRNFL72</td>
      </tr>
      <tr>
       <td class="number">8</td>
       <td class="score">%T175SCRNFL81</td>
       <td class="time">%T175SCRNFL82</td>
      </tr>
      <tr>
       <td class="number">9</td>
       <td class="score">%T175SCRNFL91</td>
       <td class="time">%T175SCRNFL92</td>
      </tr>
      <tr>
       <td class="number">10</td>
       <td class="score">%T175SCRNFL01</td>
       <td class="time">%T175SCRNFL02</td>
      </tr>
     </tbody>
    </table>

   </section>

   <hr />

   <section>
    <h2 id="Hard">Hard</h2>

    <table class="score_per_level">
     <caption>博麗 霊夢</caption>
     <thead>
      <tr>
       <th class="number">No.</th>
       <th class="score">Score</th>
       <th class="time">Time</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="number">1</td>
       <td class="score">%T175SCRHRM11</td>
       <td class="time">%T175SCRHRM12</td>
      </tr>
      <tr>
       <td class="number">2</td>
       <td class="score">%T175SCRHRM21</td>
       <td class="time">%T175SCRHRM22</td>
      </tr>
      <tr>
       <td class="number">3</td>
       <td class="score">%T175SCRHRM31</td>
       <td class="time">%T175SCRHRM32</td>
      </tr>
      <tr>
       <td class="number">4</td>
       <td class="score">%T175SCRHRM41</td>
       <td class="time">%T175SCRHRM42</td>
      </tr>
      <tr>
       <td class="number">5</td>
       <td class="score">%T175SCRHRM51</td>
       <td class="time">%T175SCRHRM52</td>
      </tr>
      <tr>
       <td class="number">6</td>
       <td class="score">%T175SCRHRM61</td>
       <td class="time">%T175SCRHRM62</td>
      </tr>
      <tr>
       <td class="number">7</td>
       <td class="score">%T175SCRHRM71</td>
       <td class="time">%T175SCRHRM72</td>
      </tr>
      <tr>
       <td class="number">8</td>
       <td class="score">%T175SCRHRM81</td>
       <td class="time">%T175SCRHRM82</td>
      </tr>
      <tr>
       <td class="number">9</td>
       <td class="score">%T175SCRHRM91</td>
       <td class="time">%T175SCRHRM92</td>
      </tr>
      <tr>
       <td class="number">10</td>
       <td class="score">%T175SCRHRM01</td>
       <td class="time">%T175SCRHRM02</td>
      </tr>
     </tbody>
    </table>

    <table class="score_per_level">
     <caption>霧雨 魔理沙</caption>
     <thead>
      <tr>
       <th class="number">No.</th>
       <th class="score">Score</th>
       <th class="time">Time</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="number">1</td>
       <td class="score">%T175SCRHMR11</td>
       <td class="time">%T175SCRHMR12</td>
      </tr>
      <tr>
       <td class="number">2</td>
       <td class="score">%T175SCRHMR21</td>
       <td class="time">%T175SCRHMR22</td>
      </tr>
      <tr>
       <td class="number">3</td>
       <td class="score">%T175SCRHMR31</td>
       <td class="time">%T175SCRHMR32</td>
      </tr>
      <tr>
       <td class="number">4</td>
       <td class="score">%T175SCRHMR41</td>
       <td class="time">%T175SCRHMR42</td>
      </tr>
      <tr>
       <td class="number">5</td>
       <td class="score">%T175SCRHMR51</td>
       <td class="time">%T175SCRHMR52</td>
      </tr>
      <tr>
       <td class="number">6</td>
       <td class="score">%T175SCRHMR61</td>
       <td class="time">%T175SCRHMR62</td>
      </tr>
      <tr>
       <td class="number">7</td>
       <td class="score">%T175SCRHMR71</td>
       <td class="time">%T175SCRHMR72</td>
      </tr>
      <tr>
       <td class="number">8</td>
       <td class="score">%T175SCRHMR81</td>
       <td class="time">%T175SCRHMR82</td>
      </tr>
      <tr>
       <td class="number">9</td>
       <td class="score">%T175SCRHMR91</td>
       <td class="time">%T175SCRHMR92</td>
      </tr>
      <tr>
       <td class="number">10</td>
       <td class="score">%T175SCRHMR01</td>
       <td class="time">%T175SCRHMR02</td>
      </tr>
     </tbody>
    </table>

    <table class="score_per_level">
     <caption>八坂 神奈子</caption>
     <thead>
      <tr>
       <th class="number">No.</th>
       <th class="score">Score</th>
       <th class="time">Time</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="number">1</td>
       <td class="score">%T175SCRHKN11</td>
       <td class="time">%T175SCRHKN12</td>
      </tr>
      <tr>
       <td class="number">2</td>
       <td class="score">%T175SCRHKN21</td>
       <td class="time">%T175SCRHKN22</td>
      </tr>
      <tr>
       <td class="number">3</td>
       <td class="score">%T175SCRHKN31</td>
       <td class="time">%T175SCRHKN32</td>
      </tr>
      <tr>
       <td class="number">4</td>
       <td class="score">%T175SCRHKN41</td>
       <td class="time">%T175SCRHKN42</td>
      </tr>
      <tr>
       <td class="number">5</td>
       <td class="score">%T175SCRHKN51</td>
       <td class="time">%T175SCRHKN52</td>
      </tr>
      <tr>
       <td class="number">6</td>
       <td class="score">%T175SCRHKN61</td>
       <td class="time">%T175SCRHKN62</td>
      </tr>
      <tr>
       <td class="number">7</td>
       <td class="score">%T175SCRHKN71</td>
       <td class="time">%T175SCRHKN72</td>
      </tr>
      <tr>
       <td class="number">8</td>
       <td class="score">%T175SCRHKN81</td>
       <td class="time">%T175SCRHKN82</td>
      </tr>
      <tr>
       <td class="number">9</td>
       <td class="score">%T175SCRHKN91</td>
       <td class="time">%T175SCRHKN92</td>
      </tr>
      <tr>
       <td class="number">10</td>
       <td class="score">%T175SCRHKN01</td>
       <td class="time">%T175SCRHKN02</td>
      </tr>
     </tbody>
    </table>

    <table class="score_per_level">
     <caption>村紗 水蜜</caption>
     <thead>
      <tr>
       <th class="number">No.</th>
       <th class="score">Score</th>
       <th class="time">Time</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="number">1</td>
       <td class="score">%T175SCRHMI11</td>
       <td class="time">%T175SCRHMI12</td>
      </tr>
      <tr>
       <td class="number">2</td>
       <td class="score">%T175SCRHMI21</td>
       <td class="time">%T175SCRHMI22</td>
      </tr>
      <tr>
       <td class="number">3</td>
       <td class="score">%T175SCRHMI31</td>
       <td class="time">%T175SCRHMI32</td>
      </tr>
      <tr>
       <td class="number">4</td>
       <td class="score">%T175SCRHMI41</td>
       <td class="time">%T175SCRHMI42</td>
      </tr>
      <tr>
       <td class="number">5</td>
       <td class="score">%T175SCRHMI51</td>
       <td class="time">%T175SCRHMI52</td>
      </tr>
      <tr>
       <td class="number">6</td>
       <td class="score">%T175SCRHMI61</td>
       <td class="time">%T175SCRHMI62</td>
      </tr>
      <tr>
       <td class="number">7</td>
       <td class="score">%T175SCRHMI71</td>
       <td class="time">%T175SCRHMI72</td>
      </tr>
      <tr>
       <td class="number">8</td>
       <td class="score">%T175SCRHMI81</td>
       <td class="time">%T175SCRHMI82</td>
      </tr>
      <tr>
       <td class="number">9</td>
       <td class="score">%T175SCRHMI91</td>
       <td class="time">%T175SCRHMI92</td>
      </tr>
      <tr>
       <td class="number">10</td>
       <td class="score">%T175SCRHMI01</td>
       <td class="time">%T175SCRHMI02</td>
      </tr>
     </tbody>
    </table>

    <table class="score_per_level">
     <caption>依神 女苑 &amp; 紫苑</caption>
     <thead>
      <tr>
       <th class="number">No.</th>
       <th class="score">Score</th>
       <th class="time">Time</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="number">1</td>
       <td class="score">%T175SCRHJS11</td>
       <td class="time">%T175SCRHJS12</td>
      </tr>
      <tr>
       <td class="number">2</td>
       <td class="score">%T175SCRHJS21</td>
       <td class="time">%T175SCRHJS22</td>
      </tr>
      <tr>
       <td class="number">3</td>
       <td class="score">%T175SCRHJS31</td>
       <td class="time">%T175SCRHJS32</td>
      </tr>
      <tr>
       <td class="number">4</td>
       <td class="score">%T175SCRHJS41</td>
       <td class="time">%T175SCRHJS42</td>
      </tr>
      <tr>
       <td class="number">5</td>
       <td class="score">%T175SCRHJS51</td>
       <td class="time">%T175SCRHJS52</td>
      </tr>
      <tr>
       <td class="number">6</td>
       <td class="score">%T175SCRHJS61</td>
       <td class="time">%T175SCRHJS62</td>
      </tr>
      <tr>
       <td class="number">7</td>
       <td class="score">%T175SCRHJS71</td>
       <td class="time">%T175SCRHJS72</td>
      </tr>
      <tr>
       <td class="number">8</td>
       <td class="score">%T175SCRHJS81</td>
       <td class="time">%T175SCRHJS82</td>
      </tr>
      <tr>
       <td class="number">9</td>
       <td class="score">%T175SCRHJS91</td>
       <td class="time">%T175SCRHJS92</td>
      </tr>
      <tr>
       <td class="number">10</td>
       <td class="score">%T175SCRHJS01</td>
       <td class="time">%T175SCRHJS02</td>
      </tr>
     </tbody>
    </table>

    <table class="score_per_level">
     <caption>フランドール・スカーレット</caption>
     <thead>
      <tr>
       <th class="number">No.</th>
       <th class="score">Score</th>
       <th class="time">Time</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="number">1</td>
       <td class="score">%T175SCRHFL11</td>
       <td class="time">%T175SCRHFL12</td>
      </tr>
      <tr>
       <td class="number">2</td>
       <td class="score">%T175SCRHFL21</td>
       <td class="time">%T175SCRHFL22</td>
      </tr>
      <tr>
       <td class="number">3</td>
       <td class="score">%T175SCRHFL31</td>
       <td class="time">%T175SCRHFL32</td>
      </tr>
      <tr>
       <td class="number">4</td>
       <td class="score">%T175SCRHFL41</td>
       <td class="time">%T175SCRHFL42</td>
      </tr>
      <tr>
       <td class="number">5</td>
       <td class="score">%T175SCRHFL51</td>
       <td class="time">%T175SCRHFL52</td>
      </tr>
      <tr>
       <td class="number">6</td>
       <td class="score">%T175SCRHFL61</td>
       <td class="time">%T175SCRHFL62</td>
      </tr>
      <tr>
       <td class="number">7</td>
       <td class="score">%T175SCRHFL71</td>
       <td class="time">%T175SCRHFL72</td>
      </tr>
      <tr>
       <td class="number">8</td>
       <td class="score">%T175SCRHFL81</td>
       <td class="time">%T175SCRHFL82</td>
      </tr>
      <tr>
       <td class="number">9</td>
       <td class="score">%T175SCRHFL91</td>
       <td class="time">%T175SCRHFL92</td>
      </tr>
      <tr>
       <td class="number">10</td>
       <td class="score">%T175SCRHFL01</td>
       <td class="time">%T175SCRHFL02</td>
      </tr>
     </tbody>
    </table>

   </section>

  </main>

  <footer>
   <p>
    Data output by <a href="https://www.colorless-sight.jp/thsfc/">ThScoreFileConverter</a>.
<script>
// <![CDATA[
    document.write("Last updated: ", document.lastModified, ".");
// ]]>
</script>
   </p>
  </footer>

 </body>
</html>
