<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">

 <head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>東方剛欲異聞 スコアデータ</title>
  <link rel="stylesheet" href="style.css" />
<style>
/* <![CDATA[ */
    td.character { min-width: 120px; }
    td.level { min-width: 70px; }
    td.score { min-width: 70px; }
    td.time { min-width: 70px; }
    td.count { min-width: 100px; }
/* ]]> */
</style>
 </head>

 <body>

  <header>
   <h1>東方剛欲異聞 スコアデータ</h1>
   <hr />
   <nav>
    <ul>
     <li>スコアデータ全般</li>
     <li><a href="th175score2.html">個別ランキング</a></li>
    </ul>
    <ul>
     <li><a href="#Normal">Normal</a></li>
     <li><a href="#Hard">Hard</a></li>
     <li><a href="#Other">その他の状態一覧</a></li>
    </ul>
   </nav>
  </header>

  <main>

   <section>
    <h2>難易度別スコア</h2>

    <table class="score_per_level">
     <caption id="Normal">Normal</caption>
     <thead>
      <tr>
       <th class="character">Character</th>
       <th class="score">Score</th>
       <th class="time">Time</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="character">博麗 霊夢</td>
       <td class="score">%T175SCRNRM11</td>
       <td class="time">%T175SCRNRM12</td>
      </tr>
      <tr>
       <td class="character">霧雨 魔理沙</td>
       <td class="score">%T175SCRNMR11</td>
       <td class="time">%T175SCRNMR12</td>
      </tr>
      <tr>
       <td class="character">八坂 神奈子</td>
       <td class="score">%T175SCRNKN11</td>
       <td class="time">%T175SCRNKN12</td>
      </tr>
      <tr>
       <td class="character">村紗 水蜜</td>
       <td class="score">%T175SCRNMI11</td>
       <td class="time">%T175SCRNMI12</td>
      </tr>
      <tr>
       <td class="character">依神 女苑 &amp; 紫苑</td>
       <td class="score">%T175SCRNJS11</td>
       <td class="time">%T175SCRNJS12</td>
      </tr>
      <tr>
       <td class="character">フランドール・スカーレット</td>
       <td class="score">%T175SCRNFL11</td>
       <td class="time">%T175SCRNFL12</td>
      </tr>
     </tbody>
    </table>

    <table class="score_per_level">
     <caption id="Hard">Hard</caption>
     <thead>
      <tr>
       <th class="character">Character</th>
       <th class="score">Score</th>
       <th class="time">Time</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="character">博麗 霊夢</td>
       <td class="score">%T175SCRHRM11</td>
       <td class="time">%T175SCRHRM12</td>
      </tr>
      <tr>
       <td class="character">霧雨 魔理沙</td>
       <td class="score">%T175SCRHMR11</td>
       <td class="time">%T175SCRHMR12</td>
      </tr>
      <tr>
       <td class="character">八坂 神奈子</td>
       <td class="score">%T175SCRHKN11</td>
       <td class="time">%T175SCRHKN12</td>
      </tr>
      <tr>
       <td class="character">村紗 水蜜</td>
       <td class="score">%T175SCRHMI11</td>
       <td class="time">%T175SCRHMI12</td>
      </tr>
      <tr>
       <td class="character">依神 女苑 &amp; 紫苑</td>
       <td class="score">%T175SCRHJS11</td>
       <td class="time">%T175SCRHJS12</td>
      </tr>
      <tr>
       <td class="character">フランドール・スカーレット</td>
       <td class="score">%T175SCRHFL11</td>
       <td class="time">%T175SCRHFL12</td>
      </tr>
     </tbody>
    </table>

   </section>

   <hr />

   <section>
    <h2 id="Other">その他の状態一覧</h2>

    <table class="count">
     <thead>
      <tr>
       <th class="character">Character</th>
       <th class="count">使用回数</th>
       <th class="count">あきらめた回数</th>
       <th class="count">クリア回数</th>
       <th class="count">完璧クリア回数</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="character">博麗 霊夢</td>
       <td class="count">%T175CHRRM1</td>
       <td class="count">%T175CHRRM2</td>
       <td class="count">%T175CHRRM3</td>
       <td class="count">%T175CHRRM4</td>
      </tr>
      <tr>
       <td class="character">霧雨 魔理沙</td>
       <td class="count">%T175CHRMR1</td>
       <td class="count">%T175CHRMR2</td>
       <td class="count">%T175CHRMR3</td>
       <td class="count">%T175CHRMR4</td>
      </tr>
      <tr>
       <td class="character">八坂 神奈子</td>
       <td class="count">%T175CHRKN1</td>
       <td class="count">%T175CHRKN2</td>
       <td class="count">%T175CHRKN3</td>
       <td class="count">%T175CHRKN4</td>
      </tr>
      <tr>
       <td class="character">村紗 水蜜</td>
       <td class="count">%T175CHRMI1</td>
       <td class="count">%T175CHRMI2</td>
       <td class="count">%T175CHRMI3</td>
       <td class="count">%T175CHRMI4</td>
      </tr>
      <tr>
       <td class="character">依神 女苑 &amp; 紫苑</td>
       <td class="count">%T175CHRJS1</td>
       <td class="count">%T175CHRJS2</td>
       <td class="count">%T175CHRJS3</td>
       <td class="count">%T175CHRJS4</td>
      </tr>
      <tr>
       <td class="character">フランドール・スカーレット</td>
       <td class="count">%T175CHRFL1</td>
       <td class="count">%T175CHRFL2</td>
       <td class="count">%T175CHRFL3</td>
       <td class="count">%T175CHRFL4</td>
      </tr>
     </tbody>
     <tfoot>
      <tr>
       <td class="character">全主人公合計</td>
       <td class="count">%T175CHRTL1</td>
       <td class="count">%T175CHRTL2</td>
       <td class="count">%T175CHRTL3</td>
       <td class="count">%T175CHRTL4</td>
      </tr>
     </tfoot>
    </table>
   </section>

  </main>

  <footer>
   <p>
    Data output by <a href="https://www.colorless-sight.jp/thsfc/">ThScoreFileConverter</a>.
<script>
// <![CDATA[
    document.write("Last updated: ", document.lastModified, ".");
// ]]>
</script>
   </p>
  </footer>

 </body>
</html>
