<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">

 <head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>東方虹龍洞 スペルカードデータ</title>
  <link rel="stylesheet" href="style.css" />
<style>
/* <![CDATA[ */
    td.character { min-width: 100px; }
    td.level { min-width: 70px; }
    td.stage { min-width: 70px; }
    table.rate_per_card td.number { min-width: 40px; }
    table.rate_per_card td.card { min-width: 180px; }
    table.rate_per_card td.rate { min-width: 80px; }
    table.rate_per_level td.rate { min-width: 100px; }
    table.rate_per_stage td.rate { min-width: 100px; }
/* ]]> */
</style>
 </head>

 <body>

  <header>
   <h1>東方虹龍洞 スペルカードデータ</h1>
   <hr />
   <nav>
    <ul>
     <li><a href="th18score1.html">スコアデータ全般</a></li>
     <li><a href="th18score2.html">個別ランキング</a></li>
     <li><a href="th18score3.html">プラクティス</a></li>
     <li><a href="th18card1.html">御札戦歴（ゲーム本編）</a></li>
     <li>御札戦歴（スペルプラクティス）</li>
    </ul>
    <ul>
     <li><a href="#rate_per_card">スペルカード別</a></li>
     <li><a href="#rate_per_level">難易度別</a></li>
     <li><a href="#rate_per_stage">ステージ別</a></li>
    </ul>
   </nav>
  </header>

  <main>

   <section>
    <h2 id="Card">御札戦歴（スペルプラクティス）</h2>

    <table class="rate_per_card">
     <caption id="rate_per_card">スペルカード別取得率（取得回数 / 遭遇回数）</caption>
     <thead>
      <tr>
       <th class="number">No.</th>
       <th class="card">スペルカード名<br />（難易度）</th>
       <th class="character">全主人公合計</th>
       <th class="character">博麗 霊夢</th>
       <th class="character">霧雨 魔理沙</th>
       <th class="character">十六夜 咲夜</th>
       <th class="character">東風谷 早苗</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="number">No.01</td>
       <td class="card">%T18CARD01N<br />(%T18CARD01R)</td>
       <td class="rate">%T18CP01TL1 / %T18CP01TL2</td>
       <td class="rate">%T18CP01RM1 / %T18CP01RM2</td>
       <td class="rate">%T18CP01MR1 / %T18CP01MR2</td>
       <td class="rate">%T18CP01SK1 / %T18CP01SK2</td>
       <td class="rate">%T18CP01SN1 / %T18CP01SN2</td>
      </tr>
      <tr>
       <td class="number">No.02</td>
       <td class="card">%T18CARD02N<br />(%T18CARD02R)</td>
       <td class="rate">%T18CP02TL1 / %T18CP02TL2</td>
       <td class="rate">%T18CP02RM1 / %T18CP02RM2</td>
       <td class="rate">%T18CP02MR1 / %T18CP02MR2</td>
       <td class="rate">%T18CP02SK1 / %T18CP02SK2</td>
       <td class="rate">%T18CP02SN1 / %T18CP02SN2</td>
      </tr>
      <tr>
       <td class="number">No.03</td>
       <td class="card">%T18CARD03N<br />(%T18CARD03R)</td>
       <td class="rate">%T18CP03TL1 / %T18CP03TL2</td>
       <td class="rate">%T18CP03RM1 / %T18CP03RM2</td>
       <td class="rate">%T18CP03MR1 / %T18CP03MR2</td>
       <td class="rate">%T18CP03SK1 / %T18CP03SK2</td>
       <td class="rate">%T18CP03SN1 / %T18CP03SN2</td>
      </tr>
      <tr>
       <td class="number">No.04</td>
       <td class="card">%T18CARD04N<br />(%T18CARD04R)</td>
       <td class="rate">%T18CP04TL1 / %T18CP04TL2</td>
       <td class="rate">%T18CP04RM1 / %T18CP04RM2</td>
       <td class="rate">%T18CP04MR1 / %T18CP04MR2</td>
       <td class="rate">%T18CP04SK1 / %T18CP04SK2</td>
       <td class="rate">%T18CP04SN1 / %T18CP04SN2</td>
      </tr>
      <tr>
       <td class="number">No.05</td>
       <td class="card">%T18CARD05N<br />(%T18CARD05R)</td>
       <td class="rate">%T18CP05TL1 / %T18CP05TL2</td>
       <td class="rate">%T18CP05RM1 / %T18CP05RM2</td>
       <td class="rate">%T18CP05MR1 / %T18CP05MR2</td>
       <td class="rate">%T18CP05SK1 / %T18CP05SK2</td>
       <td class="rate">%T18CP05SN1 / %T18CP05SN2</td>
      </tr>
      <tr>
       <td class="number">No.06</td>
       <td class="card">%T18CARD06N<br />(%T18CARD06R)</td>
       <td class="rate">%T18CP06TL1 / %T18CP06TL2</td>
       <td class="rate">%T18CP06RM1 / %T18CP06RM2</td>
       <td class="rate">%T18CP06MR1 / %T18CP06MR2</td>
       <td class="rate">%T18CP06SK1 / %T18CP06SK2</td>
       <td class="rate">%T18CP06SN1 / %T18CP06SN2</td>
      </tr>
      <tr>
       <td class="number">No.07</td>
       <td class="card">%T18CARD07N<br />(%T18CARD07R)</td>
       <td class="rate">%T18CP07TL1 / %T18CP07TL2</td>
       <td class="rate">%T18CP07RM1 / %T18CP07RM2</td>
       <td class="rate">%T18CP07MR1 / %T18CP07MR2</td>
       <td class="rate">%T18CP07SK1 / %T18CP07SK2</td>
       <td class="rate">%T18CP07SN1 / %T18CP07SN2</td>
      </tr>
      <tr>
       <td class="number">No.08</td>
       <td class="card">%T18CARD08N<br />(%T18CARD08R)</td>
       <td class="rate">%T18CP08TL1 / %T18CP08TL2</td>
       <td class="rate">%T18CP08RM1 / %T18CP08RM2</td>
       <td class="rate">%T18CP08MR1 / %T18CP08MR2</td>
       <td class="rate">%T18CP08SK1 / %T18CP08SK2</td>
       <td class="rate">%T18CP08SN1 / %T18CP08SN2</td>
      </tr>
      <tr>
       <td class="number">No.09</td>
       <td class="card">%T18CARD09N<br />(%T18CARD09R)</td>
       <td class="rate">%T18CP09TL1 / %T18CP09TL2</td>
       <td class="rate">%T18CP09RM1 / %T18CP09RM2</td>
       <td class="rate">%T18CP09MR1 / %T18CP09MR2</td>
       <td class="rate">%T18CP09SK1 / %T18CP09SK2</td>
       <td class="rate">%T18CP09SN1 / %T18CP09SN2</td>
      </tr>
      <tr>
       <td class="number">No.10</td>
       <td class="card">%T18CARD10N<br />(%T18CARD10R)</td>
       <td class="rate">%T18CP10TL1 / %T18CP10TL2</td>
       <td class="rate">%T18CP10RM1 / %T18CP10RM2</td>
       <td class="rate">%T18CP10MR1 / %T18CP10MR2</td>
       <td class="rate">%T18CP10SK1 / %T18CP10SK2</td>
       <td class="rate">%T18CP10SN1 / %T18CP10SN2</td>
      </tr>

      <tr>
       <td class="number">No.11</td>
       <td class="card">%T18CARD11N<br />(%T18CARD11R)</td>
       <td class="rate">%T18CP11TL1 / %T18CP11TL2</td>
       <td class="rate">%T18CP11RM1 / %T18CP11RM2</td>
       <td class="rate">%T18CP11MR1 / %T18CP11MR2</td>
       <td class="rate">%T18CP11SK1 / %T18CP11SK2</td>
       <td class="rate">%T18CP11SN1 / %T18CP11SN2</td>
      </tr>
      <tr>
       <td class="number">No.12</td>
       <td class="card">%T18CARD12N<br />(%T18CARD12R)</td>
       <td class="rate">%T18CP12TL1 / %T18CP12TL2</td>
       <td class="rate">%T18CP12RM1 / %T18CP12RM2</td>
       <td class="rate">%T18CP12MR1 / %T18CP12MR2</td>
       <td class="rate">%T18CP12SK1 / %T18CP12SK2</td>
       <td class="rate">%T18CP12SN1 / %T18CP12SN2</td>
      </tr>
      <tr>
       <td class="number">No.13</td>
       <td class="card">%T18CARD13N<br />(%T18CARD13R)</td>
       <td class="rate">%T18CP13TL1 / %T18CP13TL2</td>
       <td class="rate">%T18CP13RM1 / %T18CP13RM2</td>
       <td class="rate">%T18CP13MR1 / %T18CP13MR2</td>
       <td class="rate">%T18CP13SK1 / %T18CP13SK2</td>
       <td class="rate">%T18CP13SN1 / %T18CP13SN2</td>
      </tr>
      <tr>
       <td class="number">No.14</td>
       <td class="card">%T18CARD14N<br />(%T18CARD14R)</td>
       <td class="rate">%T18CP14TL1 / %T18CP14TL2</td>
       <td class="rate">%T18CP14RM1 / %T18CP14RM2</td>
       <td class="rate">%T18CP14MR1 / %T18CP14MR2</td>
       <td class="rate">%T18CP14SK1 / %T18CP14SK2</td>
       <td class="rate">%T18CP14SN1 / %T18CP14SN2</td>
      </tr>
      <tr>
       <td class="number">No.15</td>
       <td class="card">%T18CARD15N<br />(%T18CARD15R)</td>
       <td class="rate">%T18CP15TL1 / %T18CP15TL2</td>
       <td class="rate">%T18CP15RM1 / %T18CP15RM2</td>
       <td class="rate">%T18CP15MR1 / %T18CP15MR2</td>
       <td class="rate">%T18CP15SK1 / %T18CP15SK2</td>
       <td class="rate">%T18CP15SN1 / %T18CP15SN2</td>
      </tr>
      <tr>
       <td class="number">No.16</td>
       <td class="card">%T18CARD16N<br />(%T18CARD16R)</td>
       <td class="rate">%T18CP16TL1 / %T18CP16TL2</td>
       <td class="rate">%T18CP16RM1 / %T18CP16RM2</td>
       <td class="rate">%T18CP16MR1 / %T18CP16MR2</td>
       <td class="rate">%T18CP16SK1 / %T18CP16SK2</td>
       <td class="rate">%T18CP16SN1 / %T18CP16SN2</td>
      </tr>
      <tr>
       <td class="number">No.17</td>
       <td class="card">%T18CARD17N<br />(%T18CARD17R)</td>
       <td class="rate">%T18CP17TL1 / %T18CP17TL2</td>
       <td class="rate">%T18CP17RM1 / %T18CP17RM2</td>
       <td class="rate">%T18CP17MR1 / %T18CP17MR2</td>
       <td class="rate">%T18CP17SK1 / %T18CP17SK2</td>
       <td class="rate">%T18CP17SN1 / %T18CP17SN2</td>
      </tr>
      <tr>
       <td class="number">No.18</td>
       <td class="card">%T18CARD18N<br />(%T18CARD18R)</td>
       <td class="rate">%T18CP18TL1 / %T18CP18TL2</td>
       <td class="rate">%T18CP18RM1 / %T18CP18RM2</td>
       <td class="rate">%T18CP18MR1 / %T18CP18MR2</td>
       <td class="rate">%T18CP18SK1 / %T18CP18SK2</td>
       <td class="rate">%T18CP18SN1 / %T18CP18SN2</td>
      </tr>
      <tr>
       <td class="number">No.19</td>
       <td class="card">%T18CARD19N<br />(%T18CARD19R)</td>
       <td class="rate">%T18CP19TL1 / %T18CP19TL2</td>
       <td class="rate">%T18CP19RM1 / %T18CP19RM2</td>
       <td class="rate">%T18CP19MR1 / %T18CP19MR2</td>
       <td class="rate">%T18CP19SK1 / %T18CP19SK2</td>
       <td class="rate">%T18CP19SN1 / %T18CP19SN2</td>
      </tr>
      <tr>
       <td class="number">No.20</td>
       <td class="card">%T18CARD20N<br />(%T18CARD20R)</td>
       <td class="rate">%T18CP20TL1 / %T18CP20TL2</td>
       <td class="rate">%T18CP20RM1 / %T18CP20RM2</td>
       <td class="rate">%T18CP20MR1 / %T18CP20MR2</td>
       <td class="rate">%T18CP20SK1 / %T18CP20SK2</td>
       <td class="rate">%T18CP20SN1 / %T18CP20SN2</td>
      </tr>

      <tr>
       <td class="number">No.21</td>
       <td class="card">%T18CARD21N<br />(%T18CARD21R)</td>
       <td class="rate">%T18CP21TL1 / %T18CP21TL2</td>
       <td class="rate">%T18CP21RM1 / %T18CP21RM2</td>
       <td class="rate">%T18CP21MR1 / %T18CP21MR2</td>
       <td class="rate">%T18CP21SK1 / %T18CP21SK2</td>
       <td class="rate">%T18CP21SN1 / %T18CP21SN2</td>
      </tr>
      <tr>
       <td class="number">No.22</td>
       <td class="card">%T18CARD22N<br />(%T18CARD22R)</td>
       <td class="rate">%T18CP22TL1 / %T18CP22TL2</td>
       <td class="rate">%T18CP22RM1 / %T18CP22RM2</td>
       <td class="rate">%T18CP22MR1 / %T18CP22MR2</td>
       <td class="rate">%T18CP22SK1 / %T18CP22SK2</td>
       <td class="rate">%T18CP22SN1 / %T18CP22SN2</td>
      </tr>
      <tr>
       <td class="number">No.23</td>
       <td class="card">%T18CARD23N<br />(%T18CARD23R)</td>
       <td class="rate">%T18CP23TL1 / %T18CP23TL2</td>
       <td class="rate">%T18CP23RM1 / %T18CP23RM2</td>
       <td class="rate">%T18CP23MR1 / %T18CP23MR2</td>
       <td class="rate">%T18CP23SK1 / %T18CP23SK2</td>
       <td class="rate">%T18CP23SN1 / %T18CP23SN2</td>
      </tr>
      <tr>
       <td class="number">No.24</td>
       <td class="card">%T18CARD24N<br />(%T18CARD24R)</td>
       <td class="rate">%T18CP24TL1 / %T18CP24TL2</td>
       <td class="rate">%T18CP24RM1 / %T18CP24RM2</td>
       <td class="rate">%T18CP24MR1 / %T18CP24MR2</td>
       <td class="rate">%T18CP24SK1 / %T18CP24SK2</td>
       <td class="rate">%T18CP24SN1 / %T18CP24SN2</td>
      </tr>
      <tr>
       <td class="number">No.25</td>
       <td class="card">%T18CARD25N<br />(%T18CARD25R)</td>
       <td class="rate">%T18CP25TL1 / %T18CP25TL2</td>
       <td class="rate">%T18CP25RM1 / %T18CP25RM2</td>
       <td class="rate">%T18CP25MR1 / %T18CP25MR2</td>
       <td class="rate">%T18CP25SK1 / %T18CP25SK2</td>
       <td class="rate">%T18CP25SN1 / %T18CP25SN2</td>
      </tr>
      <tr>
       <td class="number">No.26</td>
       <td class="card">%T18CARD26N<br />(%T18CARD26R)</td>
       <td class="rate">%T18CP26TL1 / %T18CP26TL2</td>
       <td class="rate">%T18CP26RM1 / %T18CP26RM2</td>
       <td class="rate">%T18CP26MR1 / %T18CP26MR2</td>
       <td class="rate">%T18CP26SK1 / %T18CP26SK2</td>
       <td class="rate">%T18CP26SN1 / %T18CP26SN2</td>
      </tr>
      <tr>
       <td class="number">No.27</td>
       <td class="card">%T18CARD27N<br />(%T18CARD27R)</td>
       <td class="rate">%T18CP27TL1 / %T18CP27TL2</td>
       <td class="rate">%T18CP27RM1 / %T18CP27RM2</td>
       <td class="rate">%T18CP27MR1 / %T18CP27MR2</td>
       <td class="rate">%T18CP27SK1 / %T18CP27SK2</td>
       <td class="rate">%T18CP27SN1 / %T18CP27SN2</td>
      </tr>
      <tr>
       <td class="number">No.28</td>
       <td class="card">%T18CARD28N<br />(%T18CARD28R)</td>
       <td class="rate">%T18CP28TL1 / %T18CP28TL2</td>
       <td class="rate">%T18CP28RM1 / %T18CP28RM2</td>
       <td class="rate">%T18CP28MR1 / %T18CP28MR2</td>
       <td class="rate">%T18CP28SK1 / %T18CP28SK2</td>
       <td class="rate">%T18CP28SN1 / %T18CP28SN2</td>
      </tr>
      <tr>
       <td class="number">No.29</td>
       <td class="card">%T18CARD29N<br />(%T18CARD29R)</td>
       <td class="rate">%T18CP29TL1 / %T18CP29TL2</td>
       <td class="rate">%T18CP29RM1 / %T18CP29RM2</td>
       <td class="rate">%T18CP29MR1 / %T18CP29MR2</td>
       <td class="rate">%T18CP29SK1 / %T18CP29SK2</td>
       <td class="rate">%T18CP29SN1 / %T18CP29SN2</td>
      </tr>
      <tr>
       <td class="number">No.30</td>
       <td class="card">%T18CARD30N<br />(%T18CARD30R)</td>
       <td class="rate">%T18CP30TL1 / %T18CP30TL2</td>
       <td class="rate">%T18CP30RM1 / %T18CP30RM2</td>
       <td class="rate">%T18CP30MR1 / %T18CP30MR2</td>
       <td class="rate">%T18CP30SK1 / %T18CP30SK2</td>
       <td class="rate">%T18CP30SN1 / %T18CP30SN2</td>
      </tr>

      <tr>
       <td class="number">No.31</td>
       <td class="card">%T18CARD31N<br />(%T18CARD31R)</td>
       <td class="rate">%T18CP31TL1 / %T18CP31TL2</td>
       <td class="rate">%T18CP31RM1 / %T18CP31RM2</td>
       <td class="rate">%T18CP31MR1 / %T18CP31MR2</td>
       <td class="rate">%T18CP31SK1 / %T18CP31SK2</td>
       <td class="rate">%T18CP31SN1 / %T18CP31SN2</td>
      </tr>
      <tr>
       <td class="number">No.32</td>
       <td class="card">%T18CARD32N<br />(%T18CARD32R)</td>
       <td class="rate">%T18CP32TL1 / %T18CP32TL2</td>
       <td class="rate">%T18CP32RM1 / %T18CP32RM2</td>
       <td class="rate">%T18CP32MR1 / %T18CP32MR2</td>
       <td class="rate">%T18CP32SK1 / %T18CP32SK2</td>
       <td class="rate">%T18CP32SN1 / %T18CP32SN2</td>
      </tr>
      <tr>
       <td class="number">No.33</td>
       <td class="card">%T18CARD33N<br />(%T18CARD33R)</td>
       <td class="rate">%T18CP33TL1 / %T18CP33TL2</td>
       <td class="rate">%T18CP33RM1 / %T18CP33RM2</td>
       <td class="rate">%T18CP33MR1 / %T18CP33MR2</td>
       <td class="rate">%T18CP33SK1 / %T18CP33SK2</td>
       <td class="rate">%T18CP33SN1 / %T18CP33SN2</td>
      </tr>
      <tr>
       <td class="number">No.34</td>
       <td class="card">%T18CARD34N<br />(%T18CARD34R)</td>
       <td class="rate">%T18CP34TL1 / %T18CP34TL2</td>
       <td class="rate">%T18CP34RM1 / %T18CP34RM2</td>
       <td class="rate">%T18CP34MR1 / %T18CP34MR2</td>
       <td class="rate">%T18CP34SK1 / %T18CP34SK2</td>
       <td class="rate">%T18CP34SN1 / %T18CP34SN2</td>
      </tr>
      <tr>
       <td class="number">No.35</td>
       <td class="card">%T18CARD35N<br />(%T18CARD35R)</td>
       <td class="rate">%T18CP35TL1 / %T18CP35TL2</td>
       <td class="rate">%T18CP35RM1 / %T18CP35RM2</td>
       <td class="rate">%T18CP35MR1 / %T18CP35MR2</td>
       <td class="rate">%T18CP35SK1 / %T18CP35SK2</td>
       <td class="rate">%T18CP35SN1 / %T18CP35SN2</td>
      </tr>
      <tr>
       <td class="number">No.36</td>
       <td class="card">%T18CARD36N<br />(%T18CARD36R)</td>
       <td class="rate">%T18CP36TL1 / %T18CP36TL2</td>
       <td class="rate">%T18CP36RM1 / %T18CP36RM2</td>
       <td class="rate">%T18CP36MR1 / %T18CP36MR2</td>
       <td class="rate">%T18CP36SK1 / %T18CP36SK2</td>
       <td class="rate">%T18CP36SN1 / %T18CP36SN2</td>
      </tr>
      <tr>
       <td class="number">No.37</td>
       <td class="card">%T18CARD37N<br />(%T18CARD37R)</td>
       <td class="rate">%T18CP37TL1 / %T18CP37TL2</td>
       <td class="rate">%T18CP37RM1 / %T18CP37RM2</td>
       <td class="rate">%T18CP37MR1 / %T18CP37MR2</td>
       <td class="rate">%T18CP37SK1 / %T18CP37SK2</td>
       <td class="rate">%T18CP37SN1 / %T18CP37SN2</td>
      </tr>
      <tr>
       <td class="number">No.38</td>
       <td class="card">%T18CARD38N<br />(%T18CARD38R)</td>
       <td class="rate">%T18CP38TL1 / %T18CP38TL2</td>
       <td class="rate">%T18CP38RM1 / %T18CP38RM2</td>
       <td class="rate">%T18CP38MR1 / %T18CP38MR2</td>
       <td class="rate">%T18CP38SK1 / %T18CP38SK2</td>
       <td class="rate">%T18CP38SN1 / %T18CP38SN2</td>
      </tr>
      <tr>
       <td class="number">No.39</td>
       <td class="card">%T18CARD39N<br />(%T18CARD39R)</td>
       <td class="rate">%T18CP39TL1 / %T18CP39TL2</td>
       <td class="rate">%T18CP39RM1 / %T18CP39RM2</td>
       <td class="rate">%T18CP39MR1 / %T18CP39MR2</td>
       <td class="rate">%T18CP39SK1 / %T18CP39SK2</td>
       <td class="rate">%T18CP39SN1 / %T18CP39SN2</td>
      </tr>
      <tr>
       <td class="number">No.40</td>
       <td class="card">%T18CARD40N<br />(%T18CARD40R)</td>
       <td class="rate">%T18CP40TL1 / %T18CP40TL2</td>
       <td class="rate">%T18CP40RM1 / %T18CP40RM2</td>
       <td class="rate">%T18CP40MR1 / %T18CP40MR2</td>
       <td class="rate">%T18CP40SK1 / %T18CP40SK2</td>
       <td class="rate">%T18CP40SN1 / %T18CP40SN2</td>
      </tr>

      <tr>
       <td class="number">No.41</td>
       <td class="card">%T18CARD41N<br />(%T18CARD41R)</td>
       <td class="rate">%T18CP41TL1 / %T18CP41TL2</td>
       <td class="rate">%T18CP41RM1 / %T18CP41RM2</td>
       <td class="rate">%T18CP41MR1 / %T18CP41MR2</td>
       <td class="rate">%T18CP41SK1 / %T18CP41SK2</td>
       <td class="rate">%T18CP41SN1 / %T18CP41SN2</td>
      </tr>
      <tr>
       <td class="number">No.42</td>
       <td class="card">%T18CARD42N<br />(%T18CARD42R)</td>
       <td class="rate">%T18CP42TL1 / %T18CP42TL2</td>
       <td class="rate">%T18CP42RM1 / %T18CP42RM2</td>
       <td class="rate">%T18CP42MR1 / %T18CP42MR2</td>
       <td class="rate">%T18CP42SK1 / %T18CP42SK2</td>
       <td class="rate">%T18CP42SN1 / %T18CP42SN2</td>
      </tr>
      <tr>
       <td class="number">No.43</td>
       <td class="card">%T18CARD43N<br />(%T18CARD43R)</td>
       <td class="rate">%T18CP43TL1 / %T18CP43TL2</td>
       <td class="rate">%T18CP43RM1 / %T18CP43RM2</td>
       <td class="rate">%T18CP43MR1 / %T18CP43MR2</td>
       <td class="rate">%T18CP43SK1 / %T18CP43SK2</td>
       <td class="rate">%T18CP43SN1 / %T18CP43SN2</td>
      </tr>
      <tr>
       <td class="number">No.44</td>
       <td class="card">%T18CARD44N<br />(%T18CARD44R)</td>
       <td class="rate">%T18CP44TL1 / %T18CP44TL2</td>
       <td class="rate">%T18CP44RM1 / %T18CP44RM2</td>
       <td class="rate">%T18CP44MR1 / %T18CP44MR2</td>
       <td class="rate">%T18CP44SK1 / %T18CP44SK2</td>
       <td class="rate">%T18CP44SN1 / %T18CP44SN2</td>
      </tr>
      <tr>
       <td class="number">No.45</td>
       <td class="card">%T18CARD45N<br />(%T18CARD45R)</td>
       <td class="rate">%T18CP45TL1 / %T18CP45TL2</td>
       <td class="rate">%T18CP45RM1 / %T18CP45RM2</td>
       <td class="rate">%T18CP45MR1 / %T18CP45MR2</td>
       <td class="rate">%T18CP45SK1 / %T18CP45SK2</td>
       <td class="rate">%T18CP45SN1 / %T18CP45SN2</td>
      </tr>
      <tr>
       <td class="number">No.46</td>
       <td class="card">%T18CARD46N<br />(%T18CARD46R)</td>
       <td class="rate">%T18CP46TL1 / %T18CP46TL2</td>
       <td class="rate">%T18CP46RM1 / %T18CP46RM2</td>
       <td class="rate">%T18CP46MR1 / %T18CP46MR2</td>
       <td class="rate">%T18CP46SK1 / %T18CP46SK2</td>
       <td class="rate">%T18CP46SN1 / %T18CP46SN2</td>
      </tr>
      <tr>
       <td class="number">No.47</td>
       <td class="card">%T18CARD47N<br />(%T18CARD47R)</td>
       <td class="rate">%T18CP47TL1 / %T18CP47TL2</td>
       <td class="rate">%T18CP47RM1 / %T18CP47RM2</td>
       <td class="rate">%T18CP47MR1 / %T18CP47MR2</td>
       <td class="rate">%T18CP47SK1 / %T18CP47SK2</td>
       <td class="rate">%T18CP47SN1 / %T18CP47SN2</td>
      </tr>
      <tr>
       <td class="number">No.48</td>
       <td class="card">%T18CARD48N<br />(%T18CARD48R)</td>
       <td class="rate">%T18CP48TL1 / %T18CP48TL2</td>
       <td class="rate">%T18CP48RM1 / %T18CP48RM2</td>
       <td class="rate">%T18CP48MR1 / %T18CP48MR2</td>
       <td class="rate">%T18CP48SK1 / %T18CP48SK2</td>
       <td class="rate">%T18CP48SN1 / %T18CP48SN2</td>
      </tr>
      <tr>
       <td class="number">No.49</td>
       <td class="card">%T18CARD49N<br />(%T18CARD49R)</td>
       <td class="rate">%T18CP49TL1 / %T18CP49TL2</td>
       <td class="rate">%T18CP49RM1 / %T18CP49RM2</td>
       <td class="rate">%T18CP49MR1 / %T18CP49MR2</td>
       <td class="rate">%T18CP49SK1 / %T18CP49SK2</td>
       <td class="rate">%T18CP49SN1 / %T18CP49SN2</td>
      </tr>
      <tr>
       <td class="number">No.50</td>
       <td class="card">%T18CARD50N<br />(%T18CARD50R)</td>
       <td class="rate">%T18CP50TL1 / %T18CP50TL2</td>
       <td class="rate">%T18CP50RM1 / %T18CP50RM2</td>
       <td class="rate">%T18CP50MR1 / %T18CP50MR2</td>
       <td class="rate">%T18CP50SK1 / %T18CP50SK2</td>
       <td class="rate">%T18CP50SN1 / %T18CP50SN2</td>
      </tr>

      <tr>
       <td class="number">No.51</td>
       <td class="card">%T18CARD51N<br />(%T18CARD51R)</td>
       <td class="rate">%T18CP51TL1 / %T18CP51TL2</td>
       <td class="rate">%T18CP51RM1 / %T18CP51RM2</td>
       <td class="rate">%T18CP51MR1 / %T18CP51MR2</td>
       <td class="rate">%T18CP51SK1 / %T18CP51SK2</td>
       <td class="rate">%T18CP51SN1 / %T18CP51SN2</td>
      </tr>
      <tr>
       <td class="number">No.52</td>
       <td class="card">%T18CARD52N<br />(%T18CARD52R)</td>
       <td class="rate">%T18CP52TL1 / %T18CP52TL2</td>
       <td class="rate">%T18CP52RM1 / %T18CP52RM2</td>
       <td class="rate">%T18CP52MR1 / %T18CP52MR2</td>
       <td class="rate">%T18CP52SK1 / %T18CP52SK2</td>
       <td class="rate">%T18CP52SN1 / %T18CP52SN2</td>
      </tr>
      <tr>
       <td class="number">No.53</td>
       <td class="card">%T18CARD53N<br />(%T18CARD53R)</td>
       <td class="rate">%T18CP53TL1 / %T18CP53TL2</td>
       <td class="rate">%T18CP53RM1 / %T18CP53RM2</td>
       <td class="rate">%T18CP53MR1 / %T18CP53MR2</td>
       <td class="rate">%T18CP53SK1 / %T18CP53SK2</td>
       <td class="rate">%T18CP53SN1 / %T18CP53SN2</td>
      </tr>
      <tr>
       <td class="number">No.54</td>
       <td class="card">%T18CARD54N<br />(%T18CARD54R)</td>
       <td class="rate">%T18CP54TL1 / %T18CP54TL2</td>
       <td class="rate">%T18CP54RM1 / %T18CP54RM2</td>
       <td class="rate">%T18CP54MR1 / %T18CP54MR2</td>
       <td class="rate">%T18CP54SK1 / %T18CP54SK2</td>
       <td class="rate">%T18CP54SN1 / %T18CP54SN2</td>
      </tr>
      <tr>
       <td class="number">No.55</td>
       <td class="card">%T18CARD55N<br />(%T18CARD55R)</td>
       <td class="rate">%T18CP55TL1 / %T18CP55TL2</td>
       <td class="rate">%T18CP55RM1 / %T18CP55RM2</td>
       <td class="rate">%T18CP55MR1 / %T18CP55MR2</td>
       <td class="rate">%T18CP55SK1 / %T18CP55SK2</td>
       <td class="rate">%T18CP55SN1 / %T18CP55SN2</td>
      </tr>
      <tr>
       <td class="number">No.56</td>
       <td class="card">%T18CARD56N<br />(%T18CARD56R)</td>
       <td class="rate">%T18CP56TL1 / %T18CP56TL2</td>
       <td class="rate">%T18CP56RM1 / %T18CP56RM2</td>
       <td class="rate">%T18CP56MR1 / %T18CP56MR2</td>
       <td class="rate">%T18CP56SK1 / %T18CP56SK2</td>
       <td class="rate">%T18CP56SN1 / %T18CP56SN2</td>
      </tr>
      <tr>
       <td class="number">No.57</td>
       <td class="card">%T18CARD57N<br />(%T18CARD57R)</td>
       <td class="rate">%T18CP57TL1 / %T18CP57TL2</td>
       <td class="rate">%T18CP57RM1 / %T18CP57RM2</td>
       <td class="rate">%T18CP57MR1 / %T18CP57MR2</td>
       <td class="rate">%T18CP57SK1 / %T18CP57SK2</td>
       <td class="rate">%T18CP57SN1 / %T18CP57SN2</td>
      </tr>
      <tr>
       <td class="number">No.58</td>
       <td class="card">%T18CARD58N<br />(%T18CARD58R)</td>
       <td class="rate">%T18CP58TL1 / %T18CP58TL2</td>
       <td class="rate">%T18CP58RM1 / %T18CP58RM2</td>
       <td class="rate">%T18CP58MR1 / %T18CP58MR2</td>
       <td class="rate">%T18CP58SK1 / %T18CP58SK2</td>
       <td class="rate">%T18CP58SN1 / %T18CP58SN2</td>
      </tr>
      <tr>
       <td class="number">No.59</td>
       <td class="card">%T18CARD59N<br />(%T18CARD59R)</td>
       <td class="rate">%T18CP59TL1 / %T18CP59TL2</td>
       <td class="rate">%T18CP59RM1 / %T18CP59RM2</td>
       <td class="rate">%T18CP59MR1 / %T18CP59MR2</td>
       <td class="rate">%T18CP59SK1 / %T18CP59SK2</td>
       <td class="rate">%T18CP59SN1 / %T18CP59SN2</td>
      </tr>
      <tr>
       <td class="number">No.60</td>
       <td class="card">%T18CARD60N<br />(%T18CARD60R)</td>
       <td class="rate">%T18CP60TL1 / %T18CP60TL2</td>
       <td class="rate">%T18CP60RM1 / %T18CP60RM2</td>
       <td class="rate">%T18CP60MR1 / %T18CP60MR2</td>
       <td class="rate">%T18CP60SK1 / %T18CP60SK2</td>
       <td class="rate">%T18CP60SN1 / %T18CP60SN2</td>
      </tr>

      <tr>
       <td class="number">No.61</td>
       <td class="card">%T18CARD61N<br />(%T18CARD61R)</td>
       <td class="rate">%T18CP61TL1 / %T18CP61TL2</td>
       <td class="rate">%T18CP61RM1 / %T18CP61RM2</td>
       <td class="rate">%T18CP61MR1 / %T18CP61MR2</td>
       <td class="rate">%T18CP61SK1 / %T18CP61SK2</td>
       <td class="rate">%T18CP61SN1 / %T18CP61SN2</td>
      </tr>
      <tr>
       <td class="number">No.62</td>
       <td class="card">%T18CARD62N<br />(%T18CARD62R)</td>
       <td class="rate">%T18CP62TL1 / %T18CP62TL2</td>
       <td class="rate">%T18CP62RM1 / %T18CP62RM2</td>
       <td class="rate">%T18CP62MR1 / %T18CP62MR2</td>
       <td class="rate">%T18CP62SK1 / %T18CP62SK2</td>
       <td class="rate">%T18CP62SN1 / %T18CP62SN2</td>
      </tr>
      <tr>
       <td class="number">No.63</td>
       <td class="card">%T18CARD63N<br />(%T18CARD63R)</td>
       <td class="rate">%T18CP63TL1 / %T18CP63TL2</td>
       <td class="rate">%T18CP63RM1 / %T18CP63RM2</td>
       <td class="rate">%T18CP63MR1 / %T18CP63MR2</td>
       <td class="rate">%T18CP63SK1 / %T18CP63SK2</td>
       <td class="rate">%T18CP63SN1 / %T18CP63SN2</td>
      </tr>
      <tr>
       <td class="number">No.64</td>
       <td class="card">%T18CARD64N<br />(%T18CARD64R)</td>
       <td class="rate">%T18CP64TL1 / %T18CP64TL2</td>
       <td class="rate">%T18CP64RM1 / %T18CP64RM2</td>
       <td class="rate">%T18CP64MR1 / %T18CP64MR2</td>
       <td class="rate">%T18CP64SK1 / %T18CP64SK2</td>
       <td class="rate">%T18CP64SN1 / %T18CP64SN2</td>
      </tr>
      <tr>
       <td class="number">No.65</td>
       <td class="card">%T18CARD65N<br />(%T18CARD65R)</td>
       <td class="rate">%T18CP65TL1 / %T18CP65TL2</td>
       <td class="rate">%T18CP65RM1 / %T18CP65RM2</td>
       <td class="rate">%T18CP65MR1 / %T18CP65MR2</td>
       <td class="rate">%T18CP65SK1 / %T18CP65SK2</td>
       <td class="rate">%T18CP65SN1 / %T18CP65SN2</td>
      </tr>
      <tr>
       <td class="number">No.66</td>
       <td class="card">%T18CARD66N<br />(%T18CARD66R)</td>
       <td class="rate">%T18CP66TL1 / %T18CP66TL2</td>
       <td class="rate">%T18CP66RM1 / %T18CP66RM2</td>
       <td class="rate">%T18CP66MR1 / %T18CP66MR2</td>
       <td class="rate">%T18CP66SK1 / %T18CP66SK2</td>
       <td class="rate">%T18CP66SN1 / %T18CP66SN2</td>
      </tr>
      <tr>
       <td class="number">No.67</td>
       <td class="card">%T18CARD67N<br />(%T18CARD67R)</td>
       <td class="rate">%T18CP67TL1 / %T18CP67TL2</td>
       <td class="rate">%T18CP67RM1 / %T18CP67RM2</td>
       <td class="rate">%T18CP67MR1 / %T18CP67MR2</td>
       <td class="rate">%T18CP67SK1 / %T18CP67SK2</td>
       <td class="rate">%T18CP67SN1 / %T18CP67SN2</td>
      </tr>
      <tr>
       <td class="number">No.68</td>
       <td class="card">%T18CARD68N<br />(%T18CARD68R)</td>
       <td class="rate">%T18CP68TL1 / %T18CP68TL2</td>
       <td class="rate">%T18CP68RM1 / %T18CP68RM2</td>
       <td class="rate">%T18CP68MR1 / %T18CP68MR2</td>
       <td class="rate">%T18CP68SK1 / %T18CP68SK2</td>
       <td class="rate">%T18CP68SN1 / %T18CP68SN2</td>
      </tr>
      <tr>
       <td class="number">No.69</td>
       <td class="card">%T18CARD69N<br />(%T18CARD69R)</td>
       <td class="rate">%T18CP69TL1 / %T18CP69TL2</td>
       <td class="rate">%T18CP69RM1 / %T18CP69RM2</td>
       <td class="rate">%T18CP69MR1 / %T18CP69MR2</td>
       <td class="rate">%T18CP69SK1 / %T18CP69SK2</td>
       <td class="rate">%T18CP69SN1 / %T18CP69SN2</td>
      </tr>
      <tr>
       <td class="number">No.70</td>
       <td class="card">%T18CARD70N<br />(%T18CARD70R)</td>
       <td class="rate">%T18CP70TL1 / %T18CP70TL2</td>
       <td class="rate">%T18CP70RM1 / %T18CP70RM2</td>
       <td class="rate">%T18CP70MR1 / %T18CP70MR2</td>
       <td class="rate">%T18CP70SK1 / %T18CP70SK2</td>
       <td class="rate">%T18CP70SN1 / %T18CP70SN2</td>
      </tr>

      <tr>
       <td class="number">No.71</td>
       <td class="card">%T18CARD71N<br />(%T18CARD71R)</td>
       <td class="rate">%T18CP71TL1 / %T18CP71TL2</td>
       <td class="rate">%T18CP71RM1 / %T18CP71RM2</td>
       <td class="rate">%T18CP71MR1 / %T18CP71MR2</td>
       <td class="rate">%T18CP71SK1 / %T18CP71SK2</td>
       <td class="rate">%T18CP71SN1 / %T18CP71SN2</td>
      </tr>
      <tr>
       <td class="number">No.72</td>
       <td class="card">%T18CARD72N<br />(%T18CARD72R)</td>
       <td class="rate">%T18CP72TL1 / %T18CP72TL2</td>
       <td class="rate">%T18CP72RM1 / %T18CP72RM2</td>
       <td class="rate">%T18CP72MR1 / %T18CP72MR2</td>
       <td class="rate">%T18CP72SK1 / %T18CP72SK2</td>
       <td class="rate">%T18CP72SN1 / %T18CP72SN2</td>
      </tr>
      <tr>
       <td class="number">No.73</td>
       <td class="card">%T18CARD73N<br />(%T18CARD73R)</td>
       <td class="rate">%T18CP73TL1 / %T18CP73TL2</td>
       <td class="rate">%T18CP73RM1 / %T18CP73RM2</td>
       <td class="rate">%T18CP73MR1 / %T18CP73MR2</td>
       <td class="rate">%T18CP73SK1 / %T18CP73SK2</td>
       <td class="rate">%T18CP73SN1 / %T18CP73SN2</td>
      </tr>
      <tr>
       <td class="number">No.74</td>
       <td class="card">%T18CARD74N<br />(%T18CARD74R)</td>
       <td class="rate">%T18CP74TL1 / %T18CP74TL2</td>
       <td class="rate">%T18CP74RM1 / %T18CP74RM2</td>
       <td class="rate">%T18CP74MR1 / %T18CP74MR2</td>
       <td class="rate">%T18CP74SK1 / %T18CP74SK2</td>
       <td class="rate">%T18CP74SN1 / %T18CP74SN2</td>
      </tr>
      <tr>
       <td class="number">No.75</td>
       <td class="card">%T18CARD75N<br />(%T18CARD75R)</td>
       <td class="rate">%T18CP75TL1 / %T18CP75TL2</td>
       <td class="rate">%T18CP75RM1 / %T18CP75RM2</td>
       <td class="rate">%T18CP75MR1 / %T18CP75MR2</td>
       <td class="rate">%T18CP75SK1 / %T18CP75SK2</td>
       <td class="rate">%T18CP75SN1 / %T18CP75SN2</td>
      </tr>
      <tr>
       <td class="number">No.76</td>
       <td class="card">%T18CARD76N<br />(%T18CARD76R)</td>
       <td class="rate">%T18CP76TL1 / %T18CP76TL2</td>
       <td class="rate">%T18CP76RM1 / %T18CP76RM2</td>
       <td class="rate">%T18CP76MR1 / %T18CP76MR2</td>
       <td class="rate">%T18CP76SK1 / %T18CP76SK2</td>
       <td class="rate">%T18CP76SN1 / %T18CP76SN2</td>
      </tr>
      <tr>
       <td class="number">No.77</td>
       <td class="card">%T18CARD77N<br />(%T18CARD77R)</td>
       <td class="rate">%T18CP77TL1 / %T18CP77TL2</td>
       <td class="rate">%T18CP77RM1 / %T18CP77RM2</td>
       <td class="rate">%T18CP77MR1 / %T18CP77MR2</td>
       <td class="rate">%T18CP77SK1 / %T18CP77SK2</td>
       <td class="rate">%T18CP77SN1 / %T18CP77SN2</td>
      </tr>
      <tr>
       <td class="number">No.78</td>
       <td class="card">%T18CARD78N<br />(%T18CARD78R)</td>
       <td class="rate">%T18CP78TL1 / %T18CP78TL2</td>
       <td class="rate">%T18CP78RM1 / %T18CP78RM2</td>
       <td class="rate">%T18CP78MR1 / %T18CP78MR2</td>
       <td class="rate">%T18CP78SK1 / %T18CP78SK2</td>
       <td class="rate">%T18CP78SN1 / %T18CP78SN2</td>
      </tr>
      <tr>
       <td class="number">No.79</td>
       <td class="card">%T18CARD79N<br />(%T18CARD79R)</td>
       <td class="rate">%T18CP79TL1 / %T18CP79TL2</td>
       <td class="rate">%T18CP79RM1 / %T18CP79RM2</td>
       <td class="rate">%T18CP79MR1 / %T18CP79MR2</td>
       <td class="rate">%T18CP79SK1 / %T18CP79SK2</td>
       <td class="rate">%T18CP79SN1 / %T18CP79SN2</td>
      </tr>
      <tr>
       <td class="number">No.80</td>
       <td class="card">%T18CARD80N<br />(%T18CARD80R)</td>
       <td class="rate">%T18CP80TL1 / %T18CP80TL2</td>
       <td class="rate">%T18CP80RM1 / %T18CP80RM2</td>
       <td class="rate">%T18CP80MR1 / %T18CP80MR2</td>
       <td class="rate">%T18CP80SK1 / %T18CP80SK2</td>
       <td class="rate">%T18CP80SN1 / %T18CP80SN2</td>
      </tr>

      <tr>
       <td class="number">No.81</td>
       <td class="card">%T18CARD81N<br />(%T18CARD81R)</td>
       <td class="rate">%T18CP81TL1 / %T18CP81TL2</td>
       <td class="rate">%T18CP81RM1 / %T18CP81RM2</td>
       <td class="rate">%T18CP81MR1 / %T18CP81MR2</td>
       <td class="rate">%T18CP81SK1 / %T18CP81SK2</td>
       <td class="rate">%T18CP81SN1 / %T18CP81SN2</td>
      </tr>
      <tr>
       <td class="number">No.82</td>
       <td class="card">%T18CARD82N<br />(%T18CARD82R)</td>
       <td class="rate">%T18CP82TL1 / %T18CP82TL2</td>
       <td class="rate">%T18CP82RM1 / %T18CP82RM2</td>
       <td class="rate">%T18CP82MR1 / %T18CP82MR2</td>
       <td class="rate">%T18CP82SK1 / %T18CP82SK2</td>
       <td class="rate">%T18CP82SN1 / %T18CP82SN2</td>
      </tr>
      <tr>
       <td class="number">No.83</td>
       <td class="card">%T18CARD83N<br />(%T18CARD83R)</td>
       <td class="rate">%T18CP83TL1 / %T18CP83TL2</td>
       <td class="rate">%T18CP83RM1 / %T18CP83RM2</td>
       <td class="rate">%T18CP83MR1 / %T18CP83MR2</td>
       <td class="rate">%T18CP83SK1 / %T18CP83SK2</td>
       <td class="rate">%T18CP83SN1 / %T18CP83SN2</td>
      </tr>
      <tr>
       <td class="number">No.84</td>
       <td class="card">%T18CARD84N<br />(%T18CARD84R)</td>
       <td class="rate">%T18CP84TL1 / %T18CP84TL2</td>
       <td class="rate">%T18CP84RM1 / %T18CP84RM2</td>
       <td class="rate">%T18CP84MR1 / %T18CP84MR2</td>
       <td class="rate">%T18CP84SK1 / %T18CP84SK2</td>
       <td class="rate">%T18CP84SN1 / %T18CP84SN2</td>
      </tr>
      <tr>
       <td class="number">No.85</td>
       <td class="card">%T18CARD85N<br />(%T18CARD85R)</td>
       <td class="rate">%T18CP85TL1 / %T18CP85TL2</td>
       <td class="rate">%T18CP85RM1 / %T18CP85RM2</td>
       <td class="rate">%T18CP85MR1 / %T18CP85MR2</td>
       <td class="rate">%T18CP85SK1 / %T18CP85SK2</td>
       <td class="rate">%T18CP85SN1 / %T18CP85SN2</td>
      </tr>
      <tr>
       <td class="number">No.86</td>
       <td class="card">%T18CARD86N<br />(%T18CARD86R)</td>
       <td class="rate">%T18CP86TL1 / %T18CP86TL2</td>
       <td class="rate">%T18CP86RM1 / %T18CP86RM2</td>
       <td class="rate">%T18CP86MR1 / %T18CP86MR2</td>
       <td class="rate">%T18CP86SK1 / %T18CP86SK2</td>
       <td class="rate">%T18CP86SN1 / %T18CP86SN2</td>
      </tr>
      <tr>
       <td class="number">No.87</td>
       <td class="card">%T18CARD87N<br />(%T18CARD87R)</td>
       <td class="rate">%T18CP87TL1 / %T18CP87TL2</td>
       <td class="rate">%T18CP87RM1 / %T18CP87RM2</td>
       <td class="rate">%T18CP87MR1 / %T18CP87MR2</td>
       <td class="rate">%T18CP87SK1 / %T18CP87SK2</td>
       <td class="rate">%T18CP87SN1 / %T18CP87SN2</td>
      </tr>
      <tr>
       <td class="number">No.88</td>
       <td class="card">%T18CARD88N<br />(%T18CARD88R)</td>
       <td class="rate">%T18CP88TL1 / %T18CP88TL2</td>
       <td class="rate">%T18CP88RM1 / %T18CP88RM2</td>
       <td class="rate">%T18CP88MR1 / %T18CP88MR2</td>
       <td class="rate">%T18CP88SK1 / %T18CP88SK2</td>
       <td class="rate">%T18CP88SN1 / %T18CP88SN2</td>
      </tr>
      <tr>
       <td class="number">No.89</td>
       <td class="card">%T18CARD89N<br />(%T18CARD89R)</td>
       <td class="rate">%T18CP89TL1 / %T18CP89TL2</td>
       <td class="rate">%T18CP89RM1 / %T18CP89RM2</td>
       <td class="rate">%T18CP89MR1 / %T18CP89MR2</td>
       <td class="rate">%T18CP89SK1 / %T18CP89SK2</td>
       <td class="rate">%T18CP89SN1 / %T18CP89SN2</td>
      </tr>
      <tr>
       <td class="number">No.90</td>
       <td class="card">%T18CARD90N<br />(%T18CARD90R)</td>
       <td class="rate">%T18CP90TL1 / %T18CP90TL2</td>
       <td class="rate">%T18CP90RM1 / %T18CP90RM2</td>
       <td class="rate">%T18CP90MR1 / %T18CP90MR2</td>
       <td class="rate">%T18CP90SK1 / %T18CP90SK2</td>
       <td class="rate">%T18CP90SN1 / %T18CP90SN2</td>
      </tr>

      <tr>
       <td class="number">No.91</td>
       <td class="card">%T18CARD91N<br />(%T18CARD91R)</td>
       <td class="rate">%T18CP91TL1 / %T18CP91TL2</td>
       <td class="rate">%T18CP91RM1 / %T18CP91RM2</td>
       <td class="rate">%T18CP91MR1 / %T18CP91MR2</td>
       <td class="rate">%T18CP91SK1 / %T18CP91SK2</td>
       <td class="rate">%T18CP91SN1 / %T18CP91SN2</td>
      </tr>
      <tr>
       <td class="number">No.92</td>
       <td class="card">%T18CARD92N<br />(%T18CARD92R)</td>
       <td class="rate">%T18CP92TL1 / %T18CP92TL2</td>
       <td class="rate">%T18CP92RM1 / %T18CP92RM2</td>
       <td class="rate">%T18CP92MR1 / %T18CP92MR2</td>
       <td class="rate">%T18CP92SK1 / %T18CP92SK2</td>
       <td class="rate">%T18CP92SN1 / %T18CP92SN2</td>
      </tr>
      <tr>
       <td class="number">No.93</td>
       <td class="card">%T18CARD93N<br />(%T18CARD93R)</td>
       <td class="rate">%T18CP93TL1 / %T18CP93TL2</td>
       <td class="rate">%T18CP93RM1 / %T18CP93RM2</td>
       <td class="rate">%T18CP93MR1 / %T18CP93MR2</td>
       <td class="rate">%T18CP93SK1 / %T18CP93SK2</td>
       <td class="rate">%T18CP93SN1 / %T18CP93SN2</td>
      </tr>
      <tr>
       <td class="number">No.94</td>
       <td class="card">%T18CARD94N<br />(%T18CARD94R)</td>
       <td class="rate">%T18CP94TL1 / %T18CP94TL2</td>
       <td class="rate">%T18CP94RM1 / %T18CP94RM2</td>
       <td class="rate">%T18CP94MR1 / %T18CP94MR2</td>
       <td class="rate">%T18CP94SK1 / %T18CP94SK2</td>
       <td class="rate">%T18CP94SN1 / %T18CP94SN2</td>
      </tr>
      <tr>
       <td class="number">No.95</td>
       <td class="card">%T18CARD95N<br />(%T18CARD95R)</td>
       <td class="rate">%T18CP95TL1 / %T18CP95TL2</td>
       <td class="rate">%T18CP95RM1 / %T18CP95RM2</td>
       <td class="rate">%T18CP95MR1 / %T18CP95MR2</td>
       <td class="rate">%T18CP95SK1 / %T18CP95SK2</td>
       <td class="rate">%T18CP95SN1 / %T18CP95SN2</td>
      </tr>
      <tr>
       <td class="number">No.96</td>
       <td class="card">%T18CARD96N<br />(%T18CARD96R)</td>
       <td class="rate">%T18CP96TL1 / %T18CP96TL2</td>
       <td class="rate">%T18CP96RM1 / %T18CP96RM2</td>
       <td class="rate">%T18CP96MR1 / %T18CP96MR2</td>
       <td class="rate">%T18CP96SK1 / %T18CP96SK2</td>
       <td class="rate">%T18CP96SN1 / %T18CP96SN2</td>
      </tr>
      <tr>
       <td class="number">No.97</td>
       <td class="card">%T18CARD97N<br />(%T18CARD97R)</td>
       <td class="rate">%T18CP97TL1 / %T18CP97TL2</td>
       <td class="rate">%T18CP97RM1 / %T18CP97RM2</td>
       <td class="rate">%T18CP97MR1 / %T18CP97MR2</td>
       <td class="rate">%T18CP97SK1 / %T18CP97SK2</td>
       <td class="rate">%T18CP97SN1 / %T18CP97SN2</td>
      </tr>
     </tbody>
     <tfoot>
      <tr>
       <td colspan="2">Total</td>
       <td class="rate">%T18CP00TL1 / %T18CP00TL2</td>
       <td class="rate">%T18CP00RM1 / %T18CP00RM2</td>
       <td class="rate">%T18CP00MR1 / %T18CP00MR2</td>
       <td class="rate">%T18CP00SK1 / %T18CP00SK2</td>
       <td class="rate">%T18CP00SN1 / %T18CP00SN2</td>
      </tr>
     </tfoot>
    </table>

    <table class="rate_per_level">
     <caption id="rate_per_level">難易度別スペルカード蒐集率（取得回数 / 挑戦回数 / 総数）</caption>
     <thead>
      <tr>
       <th class="level">難易度</th>
       <th class="character">全主人公合計</th>
       <th class="character">博麗 霊夢</th>
       <th class="character">霧雨 魔理沙</th>
       <th class="character">十六夜 咲夜</th>
       <th class="character">東風谷 早苗</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="level">Easy</td>
       <td class="rate">%T18CRGPETL01 / %T18CRGPETL02 / 21</td>
       <td class="rate">%T18CRGPERM01 / %T18CRGPERM02 / 21</td>
       <td class="rate">%T18CRGPEMR01 / %T18CRGPEMR02 / 21</td>
       <td class="rate">%T18CRGPESK01 / %T18CRGPESK02 / 21</td>
       <td class="rate">%T18CRGPESN01 / %T18CRGPESN02 / 21</td>
      </tr>
      <tr>
       <td class="level">Normal</td>
       <td class="rate">%T18CRGPNTL01 / %T18CRGPNTL02 / 21</td>
       <td class="rate">%T18CRGPNRM01 / %T18CRGPNRM02 / 21</td>
       <td class="rate">%T18CRGPNMR01 / %T18CRGPNMR02 / 21</td>
       <td class="rate">%T18CRGPNSK01 / %T18CRGPNSK02 / 21</td>
       <td class="rate">%T18CRGPNSN01 / %T18CRGPNSN02 / 21</td>
      </tr>
      <tr>
       <td class="level">Hard</td>
       <td class="rate">%T18CRGPHTL01 / %T18CRGPHTL02 / 21</td>
       <td class="rate">%T18CRGPHRM01 / %T18CRGPHRM02 / 21</td>
       <td class="rate">%T18CRGPHMR01 / %T18CRGPHMR02 / 21</td>
       <td class="rate">%T18CRGPHSK01 / %T18CRGPHSK02 / 21</td>
       <td class="rate">%T18CRGPHSN01 / %T18CRGPHSN02 / 21</td>
      </tr>
      <tr>
       <td class="level">Lunatic</td>
       <td class="rate">%T18CRGPLTL01 / %T18CRGPLTL02 / 21</td>
       <td class="rate">%T18CRGPLRM01 / %T18CRGPLRM02 / 21</td>
       <td class="rate">%T18CRGPLMR01 / %T18CRGPLMR02 / 21</td>
       <td class="rate">%T18CRGPLSK01 / %T18CRGPLSK02 / 21</td>
       <td class="rate">%T18CRGPLSN01 / %T18CRGPLSN02 / 21</td>
      </tr>
      <tr>
       <td class="level">Extra</td>
       <td class="rate">%T18CRGPXTL01 / %T18CRGPXTL02 / 13</td>
       <td class="rate">%T18CRGPXRM01 / %T18CRGPXRM02 / 13</td>
       <td class="rate">%T18CRGPXMR01 / %T18CRGPXMR02 / 13</td>
       <td class="rate">%T18CRGPXSK01 / %T18CRGPXSK02 / 13</td>
       <td class="rate">%T18CRGPXSN01 / %T18CRGPXSN02 / 13</td>
      </tr>
     </tbody>
     <tfoot>
      <tr>
       <td>Total</td>
       <td class="rate">%T18CRGPTTL01 / %T18CRGPTTL02 / 97</td>
       <td class="rate">%T18CRGPTRM01 / %T18CRGPTRM02 / 97</td>
       <td class="rate">%T18CRGPTMR01 / %T18CRGPTMR02 / 97</td>
       <td class="rate">%T18CRGPTSK01 / %T18CRGPTSK02 / 97</td>
       <td class="rate">%T18CRGPTSN01 / %T18CRGPTSN02 / 97</td>
      </tr>
     </tfoot>
    </table>

    <table class="rate_per_stage">
     <caption id="rate_per_stage">ステージ別スペルカード蒐集率（取得回数 / 挑戦回数 / 総数）</caption>
     <thead>
      <tr>
       <th class="stage">ステージ</th>
       <th class="character">全主人公合計</th>
       <th class="character">博麗 霊夢</th>
       <th class="character">霧雨 魔理沙</th>
       <th class="character">十六夜 咲夜</th>
       <th class="character">東風谷 早苗</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="rate">%T18CRGPTTL11 / %T18CRGPTTL12 / 8</td>
       <td class="rate">%T18CRGPTRM11 / %T18CRGPTRM12 / 8</td>
       <td class="rate">%T18CRGPTMR11 / %T18CRGPTMR12 / 8</td>
       <td class="rate">%T18CRGPTSK11 / %T18CRGPTSK12 / 8</td>
       <td class="rate">%T18CRGPTSN11 / %T18CRGPTSN12 / 8</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="rate">%T18CRGPTTL21 / %T18CRGPTTL22 / 12</td>
       <td class="rate">%T18CRGPTRM21 / %T18CRGPTRM22 / 12</td>
       <td class="rate">%T18CRGPTMR21 / %T18CRGPTMR22 / 12</td>
       <td class="rate">%T18CRGPTSK21 / %T18CRGPTSK22 / 12</td>
       <td class="rate">%T18CRGPTSN21 / %T18CRGPTSN22 / 12</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="rate">%T18CRGPTTL31 / %T18CRGPTTL32 / 12</td>
       <td class="rate">%T18CRGPTRM31 / %T18CRGPTRM32 / 12</td>
       <td class="rate">%T18CRGPTMR31 / %T18CRGPTMR32 / 12</td>
       <td class="rate">%T18CRGPTSK31 / %T18CRGPTSK32 / 12</td>
       <td class="rate">%T18CRGPTSN31 / %T18CRGPTSN32 / 12</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="rate">%T18CRGPTTL41 / %T18CRGPTTL42 / 12</td>
       <td class="rate">%T18CRGPTRM41 / %T18CRGPTRM42 / 12</td>
       <td class="rate">%T18CRGPTMR41 / %T18CRGPTMR42 / 12</td>
       <td class="rate">%T18CRGPTSK41 / %T18CRGPTSK42 / 12</td>
       <td class="rate">%T18CRGPTSN41 / %T18CRGPTSN42 / 12</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="rate">%T18CRGPTTL51 / %T18CRGPTTL52 / 16</td>
       <td class="rate">%T18CRGPTRM51 / %T18CRGPTRM52 / 16</td>
       <td class="rate">%T18CRGPTMR51 / %T18CRGPTMR52 / 16</td>
       <td class="rate">%T18CRGPTSK51 / %T18CRGPTSK52 / 16</td>
       <td class="rate">%T18CRGPTSN51 / %T18CRGPTSN52 / 16</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="rate">%T18CRGPTTL61 / %T18CRGPTTL62 / 24</td>
       <td class="rate">%T18CRGPTRM61 / %T18CRGPTRM62 / 24</td>
       <td class="rate">%T18CRGPTMR61 / %T18CRGPTMR62 / 24</td>
       <td class="rate">%T18CRGPTSK61 / %T18CRGPTSK62 / 24</td>
       <td class="rate">%T18CRGPTSN61 / %T18CRGPTSN62 / 24</td>
      </tr>
      <tr>
       <td class="stage">Extra</td>
       <td class="rate">%T18CRGPXTL01 / %T18CRGPXTL02 / 13</td>
       <td class="rate">%T18CRGPXRM01 / %T18CRGPXRM02 / 13</td>
       <td class="rate">%T18CRGPXMR01 / %T18CRGPXMR02 / 13</td>
       <td class="rate">%T18CRGPXSK01 / %T18CRGPXSK02 / 13</td>
       <td class="rate">%T18CRGPXSN01 / %T18CRGPXSN02 / 13</td>
      </tr>
     </tbody>
     <tfoot>
      <tr>
       <td>Total</td>
       <td class="rate">%T18CRGPTTL01 / %T18CRGPTTL02 / 97</td>
       <td class="rate">%T18CRGPTRM01 / %T18CRGPTRM02 / 97</td>
       <td class="rate">%T18CRGPTMR01 / %T18CRGPTMR02 / 97</td>
       <td class="rate">%T18CRGPTSK01 / %T18CRGPTSK02 / 97</td>
       <td class="rate">%T18CRGPTSN01 / %T18CRGPTSN02 / 97</td>
      </tr>
     </tfoot>
    </table>

   </section>

  </main>

  <footer>
   <p>
    Data output by <a href="https://www.colorless-sight.jp/thsfc/">ThScoreFileConverter</a>.
<script>
// <![CDATA[
    document.write("Last updated: ", document.lastModified, ".");
// ]]>
</script>
   </p>
  </footer>

 </body>
</html>
