<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">

 <head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>東方虹龍洞 スコアデータ</title>
  <link rel="stylesheet" href="style.css" />
<style>
/* <![CDATA[ */
    td.score { min-width: 70px; }
    td.stage { min-width: 70px; }
    table.practice { float: left; }
/* ]]> */
</style>
 </head>

 <body>

  <header>
   <h1>東方虹龍洞 スコアデータ</h1>
   <hr />
   <nav>
    <ul>
     <li><a href="th18score1.html">スコアデータ全般</a></li>
     <li><a href="th18score2.html">個別ランキング</a></li>
     <li>プラクティス</li>
     <li><a href="th18card1.html">御札戦歴（ゲーム本編）</a></li>
     <li><a href="th18card2.html">御札戦歴（スペルプラクティス）</a></li>
    </ul>
    <ul>
     <li><a href="#Easy">Easy</a></li>
     <li><a href="#Normal">Normal</a></li>
     <li><a href="#Hard">Hard</a></li>
     <li><a href="#Lunatic">Lunatic</a></li>
    </ul>
   </nav>
  </header>

  <main>

   <section>
    <h2 id="Easy">Easy</h2>

    <table class="practice">
     <caption>博麗 霊夢</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T18PRACERM1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T18PRACERM2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T18PRACERM3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T18PRACERM4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T18PRACERM5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T18PRACERM6</td>
      </tr>
     </tbody>
    </table>

    <table class="practice">
     <caption>霧雨 魔理沙</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T18PRACEMR1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T18PRACEMR2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T18PRACEMR3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T18PRACEMR4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T18PRACEMR5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T18PRACEMR6</td>
      </tr>
     </tbody>
    </table>

    <table class="practice">
     <caption>十六夜 咲夜</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T18PRACESK1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T18PRACESK2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T18PRACESK3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T18PRACESK4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T18PRACESK5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T18PRACESK6</td>
      </tr>
     </tbody>
    </table>

    <table class="practice">
     <caption>東風谷 早苗</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T18PRACESN1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T18PRACESN2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T18PRACESN3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T18PRACESN4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T18PRACESN5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T18PRACESN6</td>
      </tr>
     </tbody>
    </table>

   </section>

   <hr />

   <section>
    <h2 id="Normal">Normal</h2>

    <table class="practice">
     <caption>博麗 霊夢</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T18PRACNRM1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T18PRACNRM2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T18PRACNRM3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T18PRACNRM4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T18PRACNRM5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T18PRACNRM6</td>
      </tr>
     </tbody>
    </table>

    <table class="practice">
     <caption>霧雨 魔理沙</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T18PRACNMR1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T18PRACNMR2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T18PRACNMR3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T18PRACNMR4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T18PRACNMR5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T18PRACNMR6</td>
      </tr>
     </tbody>
    </table>

    <table class="practice">
     <caption>十六夜 咲夜</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T18PRACNSK1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T18PRACNSK2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T18PRACNSK3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T18PRACNSK4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T18PRACNSK5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T18PRACNSK6</td>
      </tr>
     </tbody>
    </table>

    <table class="practice">
     <caption>東風谷 早苗</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T18PRACNSN1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T18PRACNSN2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T18PRACNSN3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T18PRACNSN4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T18PRACNSN5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T18PRACNSN6</td>
      </tr>
     </tbody>
    </table>

   </section>

   <hr />

   <section>
    <h2 id="Hard">Hard</h2>

    <table class="practice">
     <caption>博麗 霊夢</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T18PRACHRM1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T18PRACHRM2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T18PRACHRM3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T18PRACHRM4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T18PRACHRM5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T18PRACHRM6</td>
      </tr>
     </tbody>
    </table>

    <table class="practice">
     <caption>霧雨 魔理沙</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T18PRACHMR1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T18PRACHMR2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T18PRACHMR3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T18PRACHMR4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T18PRACHMR5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T18PRACHMR6</td>
      </tr>
     </tbody>
    </table>

    <table class="practice">
     <caption>十六夜 咲夜</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T18PRACHSK1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T18PRACHSK2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T18PRACHSK3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T18PRACHSK4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T18PRACHSK5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T18PRACHSK6</td>
      </tr>
     </tbody>
    </table>

    <table class="practice">
     <caption>東風谷 早苗</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T18PRACHSN1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T18PRACHSN2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T18PRACHSN3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T18PRACHSN4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T18PRACHSN5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T18PRACHSN6</td>
      </tr>
     </tbody>
    </table>

   </section>

   <hr />

   <section>
    <h2 id="Lunatic">Lunatic</h2>

    <table class="practice">
     <caption>博麗 霊夢</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T18PRACLRM1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T18PRACLRM2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T18PRACLRM3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T18PRACLRM4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T18PRACLRM5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T18PRACLRM6</td>
      </tr>
     </tbody>
    </table>

    <table class="practice">
     <caption>霧雨 魔理沙</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T18PRACLMR1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T18PRACLMR2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T18PRACLMR3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T18PRACLMR4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T18PRACLMR5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T18PRACLMR6</td>
      </tr>
     </tbody>
    </table>

    <table class="practice">
     <caption>十六夜 咲夜</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T18PRACLSK1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T18PRACLSK2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T18PRACLSK3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T18PRACLSK4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T18PRACLSK5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T18PRACLSK6</td>
      </tr>
     </tbody>
    </table>

    <table class="practice">
     <caption>東風谷 早苗</caption>
     <thead>
      <tr>
       <th class="stage">Stage</th>
       <th class="score">Score</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="score">%T18PRACLSN1</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="score">%T18PRACLSN2</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="score">%T18PRACLSN3</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="score">%T18PRACLSN4</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="score">%T18PRACLSN5</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="score">%T18PRACLSN6</td>
      </tr>
     </tbody>
    </table>

   </section>

  </main>

  <footer>
   <p>
    Data output by <a href="https://www.colorless-sight.jp/thsfc/">ThScoreFileConverter</a>.
<script>
// <![CDATA[
    document.write("Last updated: ", document.lastModified, ".");
// ]]>
</script>
   </p>
  </footer>

 </body>
</html>
