<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">

 <head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>東方虹龍洞 スペルカードデータ</title>
  <link rel="stylesheet" href="style.css" />
<style>
/* <![CDATA[ */
    td.character { min-width: 100px; }
    td.level { min-width: 70px; }
    td.stage { min-width: 70px; }
    table.rate_per_card td.number { min-width: 40px; }
    table.rate_per_card td.card { min-width: 180px; }
    table.rate_per_card td.rate { min-width: 80px; }
    table.rate_per_level td.rate { min-width: 100px; }
    table.rate_per_stage td.rate { min-width: 100px; }
/* ]]> */
</style>
 </head>

 <body>

  <header>
   <h1>東方虹龍洞 スペルカードデータ</h1>
   <hr />
   <nav>
    <ul>
     <li><a href="th18score1.html">スコアデータ全般</a></li>
     <li><a href="th18score2.html">個別ランキング</a></li>
     <li><a href="th18score3.html">プラクティス</a></li>
     <li>御札戦歴（ゲーム本編）</li>
     <li><a href="th18card2.html">御札戦歴（スペルプラクティス）</a></li>
    </ul>
    <ul>
     <li><a href="#rate_per_card">スペルカード別</a></li>
     <li><a href="#rate_per_level">難易度別</a></li>
     <li><a href="#rate_per_stage">ステージ別</a></li>
    </ul>
   </nav>
  </header>

  <main>

   <section>
    <h2 id="Card">御札戦歴（ゲーム本編）</h2>

    <table class="rate_per_card">
     <caption id="rate_per_card">スペルカード別取得率（取得回数 / 遭遇回数）</caption>
     <thead>
      <tr>
       <th class="number">No.</th>
       <th class="card">スペルカード名<br />（難易度）</th>
       <th class="character">全主人公合計</th>
       <th class="character">博麗 霊夢</th>
       <th class="character">霧雨 魔理沙</th>
       <th class="character">十六夜 咲夜</th>
       <th class="character">東風谷 早苗</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="number">No.01</td>
       <td class="card">%T18CARD01N<br />(%T18CARD01R)</td>
       <td class="rate">%T18CS01TL1 / %T18CS01TL2</td>
       <td class="rate">%T18CS01RM1 / %T18CS01RM2</td>
       <td class="rate">%T18CS01MR1 / %T18CS01MR2</td>
       <td class="rate">%T18CS01SK1 / %T18CS01SK2</td>
       <td class="rate">%T18CS01SN1 / %T18CS01SN2</td>
      </tr>
      <tr>
       <td class="number">No.02</td>
       <td class="card">%T18CARD02N<br />(%T18CARD02R)</td>
       <td class="rate">%T18CS02TL1 / %T18CS02TL2</td>
       <td class="rate">%T18CS02RM1 / %T18CS02RM2</td>
       <td class="rate">%T18CS02MR1 / %T18CS02MR2</td>
       <td class="rate">%T18CS02SK1 / %T18CS02SK2</td>
       <td class="rate">%T18CS02SN1 / %T18CS02SN2</td>
      </tr>
      <tr>
       <td class="number">No.03</td>
       <td class="card">%T18CARD03N<br />(%T18CARD03R)</td>
       <td class="rate">%T18CS03TL1 / %T18CS03TL2</td>
       <td class="rate">%T18CS03RM1 / %T18CS03RM2</td>
       <td class="rate">%T18CS03MR1 / %T18CS03MR2</td>
       <td class="rate">%T18CS03SK1 / %T18CS03SK2</td>
       <td class="rate">%T18CS03SN1 / %T18CS03SN2</td>
      </tr>
      <tr>
       <td class="number">No.04</td>
       <td class="card">%T18CARD04N<br />(%T18CARD04R)</td>
       <td class="rate">%T18CS04TL1 / %T18CS04TL2</td>
       <td class="rate">%T18CS04RM1 / %T18CS04RM2</td>
       <td class="rate">%T18CS04MR1 / %T18CS04MR2</td>
       <td class="rate">%T18CS04SK1 / %T18CS04SK2</td>
       <td class="rate">%T18CS04SN1 / %T18CS04SN2</td>
      </tr>
      <tr>
       <td class="number">No.05</td>
       <td class="card">%T18CARD05N<br />(%T18CARD05R)</td>
       <td class="rate">%T18CS05TL1 / %T18CS05TL2</td>
       <td class="rate">%T18CS05RM1 / %T18CS05RM2</td>
       <td class="rate">%T18CS05MR1 / %T18CS05MR2</td>
       <td class="rate">%T18CS05SK1 / %T18CS05SK2</td>
       <td class="rate">%T18CS05SN1 / %T18CS05SN2</td>
      </tr>
      <tr>
       <td class="number">No.06</td>
       <td class="card">%T18CARD06N<br />(%T18CARD06R)</td>
       <td class="rate">%T18CS06TL1 / %T18CS06TL2</td>
       <td class="rate">%T18CS06RM1 / %T18CS06RM2</td>
       <td class="rate">%T18CS06MR1 / %T18CS06MR2</td>
       <td class="rate">%T18CS06SK1 / %T18CS06SK2</td>
       <td class="rate">%T18CS06SN1 / %T18CS06SN2</td>
      </tr>
      <tr>
       <td class="number">No.07</td>
       <td class="card">%T18CARD07N<br />(%T18CARD07R)</td>
       <td class="rate">%T18CS07TL1 / %T18CS07TL2</td>
       <td class="rate">%T18CS07RM1 / %T18CS07RM2</td>
       <td class="rate">%T18CS07MR1 / %T18CS07MR2</td>
       <td class="rate">%T18CS07SK1 / %T18CS07SK2</td>
       <td class="rate">%T18CS07SN1 / %T18CS07SN2</td>
      </tr>
      <tr>
       <td class="number">No.08</td>
       <td class="card">%T18CARD08N<br />(%T18CARD08R)</td>
       <td class="rate">%T18CS08TL1 / %T18CS08TL2</td>
       <td class="rate">%T18CS08RM1 / %T18CS08RM2</td>
       <td class="rate">%T18CS08MR1 / %T18CS08MR2</td>
       <td class="rate">%T18CS08SK1 / %T18CS08SK2</td>
       <td class="rate">%T18CS08SN1 / %T18CS08SN2</td>
      </tr>
      <tr>
       <td class="number">No.09</td>
       <td class="card">%T18CARD09N<br />(%T18CARD09R)</td>
       <td class="rate">%T18CS09TL1 / %T18CS09TL2</td>
       <td class="rate">%T18CS09RM1 / %T18CS09RM2</td>
       <td class="rate">%T18CS09MR1 / %T18CS09MR2</td>
       <td class="rate">%T18CS09SK1 / %T18CS09SK2</td>
       <td class="rate">%T18CS09SN1 / %T18CS09SN2</td>
      </tr>
      <tr>
       <td class="number">No.10</td>
       <td class="card">%T18CARD10N<br />(%T18CARD10R)</td>
       <td class="rate">%T18CS10TL1 / %T18CS10TL2</td>
       <td class="rate">%T18CS10RM1 / %T18CS10RM2</td>
       <td class="rate">%T18CS10MR1 / %T18CS10MR2</td>
       <td class="rate">%T18CS10SK1 / %T18CS10SK2</td>
       <td class="rate">%T18CS10SN1 / %T18CS10SN2</td>
      </tr>

      <tr>
       <td class="number">No.11</td>
       <td class="card">%T18CARD11N<br />(%T18CARD11R)</td>
       <td class="rate">%T18CS11TL1 / %T18CS11TL2</td>
       <td class="rate">%T18CS11RM1 / %T18CS11RM2</td>
       <td class="rate">%T18CS11MR1 / %T18CS11MR2</td>
       <td class="rate">%T18CS11SK1 / %T18CS11SK2</td>
       <td class="rate">%T18CS11SN1 / %T18CS11SN2</td>
      </tr>
      <tr>
       <td class="number">No.12</td>
       <td class="card">%T18CARD12N<br />(%T18CARD12R)</td>
       <td class="rate">%T18CS12TL1 / %T18CS12TL2</td>
       <td class="rate">%T18CS12RM1 / %T18CS12RM2</td>
       <td class="rate">%T18CS12MR1 / %T18CS12MR2</td>
       <td class="rate">%T18CS12SK1 / %T18CS12SK2</td>
       <td class="rate">%T18CS12SN1 / %T18CS12SN2</td>
      </tr>
      <tr>
       <td class="number">No.13</td>
       <td class="card">%T18CARD13N<br />(%T18CARD13R)</td>
       <td class="rate">%T18CS13TL1 / %T18CS13TL2</td>
       <td class="rate">%T18CS13RM1 / %T18CS13RM2</td>
       <td class="rate">%T18CS13MR1 / %T18CS13MR2</td>
       <td class="rate">%T18CS13SK1 / %T18CS13SK2</td>
       <td class="rate">%T18CS13SN1 / %T18CS13SN2</td>
      </tr>
      <tr>
       <td class="number">No.14</td>
       <td class="card">%T18CARD14N<br />(%T18CARD14R)</td>
       <td class="rate">%T18CS14TL1 / %T18CS14TL2</td>
       <td class="rate">%T18CS14RM1 / %T18CS14RM2</td>
       <td class="rate">%T18CS14MR1 / %T18CS14MR2</td>
       <td class="rate">%T18CS14SK1 / %T18CS14SK2</td>
       <td class="rate">%T18CS14SN1 / %T18CS14SN2</td>
      </tr>
      <tr>
       <td class="number">No.15</td>
       <td class="card">%T18CARD15N<br />(%T18CARD15R)</td>
       <td class="rate">%T18CS15TL1 / %T18CS15TL2</td>
       <td class="rate">%T18CS15RM1 / %T18CS15RM2</td>
       <td class="rate">%T18CS15MR1 / %T18CS15MR2</td>
       <td class="rate">%T18CS15SK1 / %T18CS15SK2</td>
       <td class="rate">%T18CS15SN1 / %T18CS15SN2</td>
      </tr>
      <tr>
       <td class="number">No.16</td>
       <td class="card">%T18CARD16N<br />(%T18CARD16R)</td>
       <td class="rate">%T18CS16TL1 / %T18CS16TL2</td>
       <td class="rate">%T18CS16RM1 / %T18CS16RM2</td>
       <td class="rate">%T18CS16MR1 / %T18CS16MR2</td>
       <td class="rate">%T18CS16SK1 / %T18CS16SK2</td>
       <td class="rate">%T18CS16SN1 / %T18CS16SN2</td>
      </tr>
      <tr>
       <td class="number">No.17</td>
       <td class="card">%T18CARD17N<br />(%T18CARD17R)</td>
       <td class="rate">%T18CS17TL1 / %T18CS17TL2</td>
       <td class="rate">%T18CS17RM1 / %T18CS17RM2</td>
       <td class="rate">%T18CS17MR1 / %T18CS17MR2</td>
       <td class="rate">%T18CS17SK1 / %T18CS17SK2</td>
       <td class="rate">%T18CS17SN1 / %T18CS17SN2</td>
      </tr>
      <tr>
       <td class="number">No.18</td>
       <td class="card">%T18CARD18N<br />(%T18CARD18R)</td>
       <td class="rate">%T18CS18TL1 / %T18CS18TL2</td>
       <td class="rate">%T18CS18RM1 / %T18CS18RM2</td>
       <td class="rate">%T18CS18MR1 / %T18CS18MR2</td>
       <td class="rate">%T18CS18SK1 / %T18CS18SK2</td>
       <td class="rate">%T18CS18SN1 / %T18CS18SN2</td>
      </tr>
      <tr>
       <td class="number">No.19</td>
       <td class="card">%T18CARD19N<br />(%T18CARD19R)</td>
       <td class="rate">%T18CS19TL1 / %T18CS19TL2</td>
       <td class="rate">%T18CS19RM1 / %T18CS19RM2</td>
       <td class="rate">%T18CS19MR1 / %T18CS19MR2</td>
       <td class="rate">%T18CS19SK1 / %T18CS19SK2</td>
       <td class="rate">%T18CS19SN1 / %T18CS19SN2</td>
      </tr>
      <tr>
       <td class="number">No.20</td>
       <td class="card">%T18CARD20N<br />(%T18CARD20R)</td>
       <td class="rate">%T18CS20TL1 / %T18CS20TL2</td>
       <td class="rate">%T18CS20RM1 / %T18CS20RM2</td>
       <td class="rate">%T18CS20MR1 / %T18CS20MR2</td>
       <td class="rate">%T18CS20SK1 / %T18CS20SK2</td>
       <td class="rate">%T18CS20SN1 / %T18CS20SN2</td>
      </tr>

      <tr>
       <td class="number">No.21</td>
       <td class="card">%T18CARD21N<br />(%T18CARD21R)</td>
       <td class="rate">%T18CS21TL1 / %T18CS21TL2</td>
       <td class="rate">%T18CS21RM1 / %T18CS21RM2</td>
       <td class="rate">%T18CS21MR1 / %T18CS21MR2</td>
       <td class="rate">%T18CS21SK1 / %T18CS21SK2</td>
       <td class="rate">%T18CS21SN1 / %T18CS21SN2</td>
      </tr>
      <tr>
       <td class="number">No.22</td>
       <td class="card">%T18CARD22N<br />(%T18CARD22R)</td>
       <td class="rate">%T18CS22TL1 / %T18CS22TL2</td>
       <td class="rate">%T18CS22RM1 / %T18CS22RM2</td>
       <td class="rate">%T18CS22MR1 / %T18CS22MR2</td>
       <td class="rate">%T18CS22SK1 / %T18CS22SK2</td>
       <td class="rate">%T18CS22SN1 / %T18CS22SN2</td>
      </tr>
      <tr>
       <td class="number">No.23</td>
       <td class="card">%T18CARD23N<br />(%T18CARD23R)</td>
       <td class="rate">%T18CS23TL1 / %T18CS23TL2</td>
       <td class="rate">%T18CS23RM1 / %T18CS23RM2</td>
       <td class="rate">%T18CS23MR1 / %T18CS23MR2</td>
       <td class="rate">%T18CS23SK1 / %T18CS23SK2</td>
       <td class="rate">%T18CS23SN1 / %T18CS23SN2</td>
      </tr>
      <tr>
       <td class="number">No.24</td>
       <td class="card">%T18CARD24N<br />(%T18CARD24R)</td>
       <td class="rate">%T18CS24TL1 / %T18CS24TL2</td>
       <td class="rate">%T18CS24RM1 / %T18CS24RM2</td>
       <td class="rate">%T18CS24MR1 / %T18CS24MR2</td>
       <td class="rate">%T18CS24SK1 / %T18CS24SK2</td>
       <td class="rate">%T18CS24SN1 / %T18CS24SN2</td>
      </tr>
      <tr>
       <td class="number">No.25</td>
       <td class="card">%T18CARD25N<br />(%T18CARD25R)</td>
       <td class="rate">%T18CS25TL1 / %T18CS25TL2</td>
       <td class="rate">%T18CS25RM1 / %T18CS25RM2</td>
       <td class="rate">%T18CS25MR1 / %T18CS25MR2</td>
       <td class="rate">%T18CS25SK1 / %T18CS25SK2</td>
       <td class="rate">%T18CS25SN1 / %T18CS25SN2</td>
      </tr>
      <tr>
       <td class="number">No.26</td>
       <td class="card">%T18CARD26N<br />(%T18CARD26R)</td>
       <td class="rate">%T18CS26TL1 / %T18CS26TL2</td>
       <td class="rate">%T18CS26RM1 / %T18CS26RM2</td>
       <td class="rate">%T18CS26MR1 / %T18CS26MR2</td>
       <td class="rate">%T18CS26SK1 / %T18CS26SK2</td>
       <td class="rate">%T18CS26SN1 / %T18CS26SN2</td>
      </tr>
      <tr>
       <td class="number">No.27</td>
       <td class="card">%T18CARD27N<br />(%T18CARD27R)</td>
       <td class="rate">%T18CS27TL1 / %T18CS27TL2</td>
       <td class="rate">%T18CS27RM1 / %T18CS27RM2</td>
       <td class="rate">%T18CS27MR1 / %T18CS27MR2</td>
       <td class="rate">%T18CS27SK1 / %T18CS27SK2</td>
       <td class="rate">%T18CS27SN1 / %T18CS27SN2</td>
      </tr>
      <tr>
       <td class="number">No.28</td>
       <td class="card">%T18CARD28N<br />(%T18CARD28R)</td>
       <td class="rate">%T18CS28TL1 / %T18CS28TL2</td>
       <td class="rate">%T18CS28RM1 / %T18CS28RM2</td>
       <td class="rate">%T18CS28MR1 / %T18CS28MR2</td>
       <td class="rate">%T18CS28SK1 / %T18CS28SK2</td>
       <td class="rate">%T18CS28SN1 / %T18CS28SN2</td>
      </tr>
      <tr>
       <td class="number">No.29</td>
       <td class="card">%T18CARD29N<br />(%T18CARD29R)</td>
       <td class="rate">%T18CS29TL1 / %T18CS29TL2</td>
       <td class="rate">%T18CS29RM1 / %T18CS29RM2</td>
       <td class="rate">%T18CS29MR1 / %T18CS29MR2</td>
       <td class="rate">%T18CS29SK1 / %T18CS29SK2</td>
       <td class="rate">%T18CS29SN1 / %T18CS29SN2</td>
      </tr>
      <tr>
       <td class="number">No.30</td>
       <td class="card">%T18CARD30N<br />(%T18CARD30R)</td>
       <td class="rate">%T18CS30TL1 / %T18CS30TL2</td>
       <td class="rate">%T18CS30RM1 / %T18CS30RM2</td>
       <td class="rate">%T18CS30MR1 / %T18CS30MR2</td>
       <td class="rate">%T18CS30SK1 / %T18CS30SK2</td>
       <td class="rate">%T18CS30SN1 / %T18CS30SN2</td>
      </tr>

      <tr>
       <td class="number">No.31</td>
       <td class="card">%T18CARD31N<br />(%T18CARD31R)</td>
       <td class="rate">%T18CS31TL1 / %T18CS31TL2</td>
       <td class="rate">%T18CS31RM1 / %T18CS31RM2</td>
       <td class="rate">%T18CS31MR1 / %T18CS31MR2</td>
       <td class="rate">%T18CS31SK1 / %T18CS31SK2</td>
       <td class="rate">%T18CS31SN1 / %T18CS31SN2</td>
      </tr>
      <tr>
       <td class="number">No.32</td>
       <td class="card">%T18CARD32N<br />(%T18CARD32R)</td>
       <td class="rate">%T18CS32TL1 / %T18CS32TL2</td>
       <td class="rate">%T18CS32RM1 / %T18CS32RM2</td>
       <td class="rate">%T18CS32MR1 / %T18CS32MR2</td>
       <td class="rate">%T18CS32SK1 / %T18CS32SK2</td>
       <td class="rate">%T18CS32SN1 / %T18CS32SN2</td>
      </tr>
      <tr>
       <td class="number">No.33</td>
       <td class="card">%T18CARD33N<br />(%T18CARD33R)</td>
       <td class="rate">%T18CS33TL1 / %T18CS33TL2</td>
       <td class="rate">%T18CS33RM1 / %T18CS33RM2</td>
       <td class="rate">%T18CS33MR1 / %T18CS33MR2</td>
       <td class="rate">%T18CS33SK1 / %T18CS33SK2</td>
       <td class="rate">%T18CS33SN1 / %T18CS33SN2</td>
      </tr>
      <tr>
       <td class="number">No.34</td>
       <td class="card">%T18CARD34N<br />(%T18CARD34R)</td>
       <td class="rate">%T18CS34TL1 / %T18CS34TL2</td>
       <td class="rate">%T18CS34RM1 / %T18CS34RM2</td>
       <td class="rate">%T18CS34MR1 / %T18CS34MR2</td>
       <td class="rate">%T18CS34SK1 / %T18CS34SK2</td>
       <td class="rate">%T18CS34SN1 / %T18CS34SN2</td>
      </tr>
      <tr>
       <td class="number">No.35</td>
       <td class="card">%T18CARD35N<br />(%T18CARD35R)</td>
       <td class="rate">%T18CS35TL1 / %T18CS35TL2</td>
       <td class="rate">%T18CS35RM1 / %T18CS35RM2</td>
       <td class="rate">%T18CS35MR1 / %T18CS35MR2</td>
       <td class="rate">%T18CS35SK1 / %T18CS35SK2</td>
       <td class="rate">%T18CS35SN1 / %T18CS35SN2</td>
      </tr>
      <tr>
       <td class="number">No.36</td>
       <td class="card">%T18CARD36N<br />(%T18CARD36R)</td>
       <td class="rate">%T18CS36TL1 / %T18CS36TL2</td>
       <td class="rate">%T18CS36RM1 / %T18CS36RM2</td>
       <td class="rate">%T18CS36MR1 / %T18CS36MR2</td>
       <td class="rate">%T18CS36SK1 / %T18CS36SK2</td>
       <td class="rate">%T18CS36SN1 / %T18CS36SN2</td>
      </tr>
      <tr>
       <td class="number">No.37</td>
       <td class="card">%T18CARD37N<br />(%T18CARD37R)</td>
       <td class="rate">%T18CS37TL1 / %T18CS37TL2</td>
       <td class="rate">%T18CS37RM1 / %T18CS37RM2</td>
       <td class="rate">%T18CS37MR1 / %T18CS37MR2</td>
       <td class="rate">%T18CS37SK1 / %T18CS37SK2</td>
       <td class="rate">%T18CS37SN1 / %T18CS37SN2</td>
      </tr>
      <tr>
       <td class="number">No.38</td>
       <td class="card">%T18CARD38N<br />(%T18CARD38R)</td>
       <td class="rate">%T18CS38TL1 / %T18CS38TL2</td>
       <td class="rate">%T18CS38RM1 / %T18CS38RM2</td>
       <td class="rate">%T18CS38MR1 / %T18CS38MR2</td>
       <td class="rate">%T18CS38SK1 / %T18CS38SK2</td>
       <td class="rate">%T18CS38SN1 / %T18CS38SN2</td>
      </tr>
      <tr>
       <td class="number">No.39</td>
       <td class="card">%T18CARD39N<br />(%T18CARD39R)</td>
       <td class="rate">%T18CS39TL1 / %T18CS39TL2</td>
       <td class="rate">%T18CS39RM1 / %T18CS39RM2</td>
       <td class="rate">%T18CS39MR1 / %T18CS39MR2</td>
       <td class="rate">%T18CS39SK1 / %T18CS39SK2</td>
       <td class="rate">%T18CS39SN1 / %T18CS39SN2</td>
      </tr>
      <tr>
       <td class="number">No.40</td>
       <td class="card">%T18CARD40N<br />(%T18CARD40R)</td>
       <td class="rate">%T18CS40TL1 / %T18CS40TL2</td>
       <td class="rate">%T18CS40RM1 / %T18CS40RM2</td>
       <td class="rate">%T18CS40MR1 / %T18CS40MR2</td>
       <td class="rate">%T18CS40SK1 / %T18CS40SK2</td>
       <td class="rate">%T18CS40SN1 / %T18CS40SN2</td>
      </tr>

      <tr>
       <td class="number">No.41</td>
       <td class="card">%T18CARD41N<br />(%T18CARD41R)</td>
       <td class="rate">%T18CS41TL1 / %T18CS41TL2</td>
       <td class="rate">%T18CS41RM1 / %T18CS41RM2</td>
       <td class="rate">%T18CS41MR1 / %T18CS41MR2</td>
       <td class="rate">%T18CS41SK1 / %T18CS41SK2</td>
       <td class="rate">%T18CS41SN1 / %T18CS41SN2</td>
      </tr>
      <tr>
       <td class="number">No.42</td>
       <td class="card">%T18CARD42N<br />(%T18CARD42R)</td>
       <td class="rate">%T18CS42TL1 / %T18CS42TL2</td>
       <td class="rate">%T18CS42RM1 / %T18CS42RM2</td>
       <td class="rate">%T18CS42MR1 / %T18CS42MR2</td>
       <td class="rate">%T18CS42SK1 / %T18CS42SK2</td>
       <td class="rate">%T18CS42SN1 / %T18CS42SN2</td>
      </tr>
      <tr>
       <td class="number">No.43</td>
       <td class="card">%T18CARD43N<br />(%T18CARD43R)</td>
       <td class="rate">%T18CS43TL1 / %T18CS43TL2</td>
       <td class="rate">%T18CS43RM1 / %T18CS43RM2</td>
       <td class="rate">%T18CS43MR1 / %T18CS43MR2</td>
       <td class="rate">%T18CS43SK1 / %T18CS43SK2</td>
       <td class="rate">%T18CS43SN1 / %T18CS43SN2</td>
      </tr>
      <tr>
       <td class="number">No.44</td>
       <td class="card">%T18CARD44N<br />(%T18CARD44R)</td>
       <td class="rate">%T18CS44TL1 / %T18CS44TL2</td>
       <td class="rate">%T18CS44RM1 / %T18CS44RM2</td>
       <td class="rate">%T18CS44MR1 / %T18CS44MR2</td>
       <td class="rate">%T18CS44SK1 / %T18CS44SK2</td>
       <td class="rate">%T18CS44SN1 / %T18CS44SN2</td>
      </tr>
      <tr>
       <td class="number">No.45</td>
       <td class="card">%T18CARD45N<br />(%T18CARD45R)</td>
       <td class="rate">%T18CS45TL1 / %T18CS45TL2</td>
       <td class="rate">%T18CS45RM1 / %T18CS45RM2</td>
       <td class="rate">%T18CS45MR1 / %T18CS45MR2</td>
       <td class="rate">%T18CS45SK1 / %T18CS45SK2</td>
       <td class="rate">%T18CS45SN1 / %T18CS45SN2</td>
      </tr>
      <tr>
       <td class="number">No.46</td>
       <td class="card">%T18CARD46N<br />(%T18CARD46R)</td>
       <td class="rate">%T18CS46TL1 / %T18CS46TL2</td>
       <td class="rate">%T18CS46RM1 / %T18CS46RM2</td>
       <td class="rate">%T18CS46MR1 / %T18CS46MR2</td>
       <td class="rate">%T18CS46SK1 / %T18CS46SK2</td>
       <td class="rate">%T18CS46SN1 / %T18CS46SN2</td>
      </tr>
      <tr>
       <td class="number">No.47</td>
       <td class="card">%T18CARD47N<br />(%T18CARD47R)</td>
       <td class="rate">%T18CS47TL1 / %T18CS47TL2</td>
       <td class="rate">%T18CS47RM1 / %T18CS47RM2</td>
       <td class="rate">%T18CS47MR1 / %T18CS47MR2</td>
       <td class="rate">%T18CS47SK1 / %T18CS47SK2</td>
       <td class="rate">%T18CS47SN1 / %T18CS47SN2</td>
      </tr>
      <tr>
       <td class="number">No.48</td>
       <td class="card">%T18CARD48N<br />(%T18CARD48R)</td>
       <td class="rate">%T18CS48TL1 / %T18CS48TL2</td>
       <td class="rate">%T18CS48RM1 / %T18CS48RM2</td>
       <td class="rate">%T18CS48MR1 / %T18CS48MR2</td>
       <td class="rate">%T18CS48SK1 / %T18CS48SK2</td>
       <td class="rate">%T18CS48SN1 / %T18CS48SN2</td>
      </tr>
      <tr>
       <td class="number">No.49</td>
       <td class="card">%T18CARD49N<br />(%T18CARD49R)</td>
       <td class="rate">%T18CS49TL1 / %T18CS49TL2</td>
       <td class="rate">%T18CS49RM1 / %T18CS49RM2</td>
       <td class="rate">%T18CS49MR1 / %T18CS49MR2</td>
       <td class="rate">%T18CS49SK1 / %T18CS49SK2</td>
       <td class="rate">%T18CS49SN1 / %T18CS49SN2</td>
      </tr>
      <tr>
       <td class="number">No.50</td>
       <td class="card">%T18CARD50N<br />(%T18CARD50R)</td>
       <td class="rate">%T18CS50TL1 / %T18CS50TL2</td>
       <td class="rate">%T18CS50RM1 / %T18CS50RM2</td>
       <td class="rate">%T18CS50MR1 / %T18CS50MR2</td>
       <td class="rate">%T18CS50SK1 / %T18CS50SK2</td>
       <td class="rate">%T18CS50SN1 / %T18CS50SN2</td>
      </tr>

      <tr>
       <td class="number">No.51</td>
       <td class="card">%T18CARD51N<br />(%T18CARD51R)</td>
       <td class="rate">%T18CS51TL1 / %T18CS51TL2</td>
       <td class="rate">%T18CS51RM1 / %T18CS51RM2</td>
       <td class="rate">%T18CS51MR1 / %T18CS51MR2</td>
       <td class="rate">%T18CS51SK1 / %T18CS51SK2</td>
       <td class="rate">%T18CS51SN1 / %T18CS51SN2</td>
      </tr>
      <tr>
       <td class="number">No.52</td>
       <td class="card">%T18CARD52N<br />(%T18CARD52R)</td>
       <td class="rate">%T18CS52TL1 / %T18CS52TL2</td>
       <td class="rate">%T18CS52RM1 / %T18CS52RM2</td>
       <td class="rate">%T18CS52MR1 / %T18CS52MR2</td>
       <td class="rate">%T18CS52SK1 / %T18CS52SK2</td>
       <td class="rate">%T18CS52SN1 / %T18CS52SN2</td>
      </tr>
      <tr>
       <td class="number">No.53</td>
       <td class="card">%T18CARD53N<br />(%T18CARD53R)</td>
       <td class="rate">%T18CS53TL1 / %T18CS53TL2</td>
       <td class="rate">%T18CS53RM1 / %T18CS53RM2</td>
       <td class="rate">%T18CS53MR1 / %T18CS53MR2</td>
       <td class="rate">%T18CS53SK1 / %T18CS53SK2</td>
       <td class="rate">%T18CS53SN1 / %T18CS53SN2</td>
      </tr>
      <tr>
       <td class="number">No.54</td>
       <td class="card">%T18CARD54N<br />(%T18CARD54R)</td>
       <td class="rate">%T18CS54TL1 / %T18CS54TL2</td>
       <td class="rate">%T18CS54RM1 / %T18CS54RM2</td>
       <td class="rate">%T18CS54MR1 / %T18CS54MR2</td>
       <td class="rate">%T18CS54SK1 / %T18CS54SK2</td>
       <td class="rate">%T18CS54SN1 / %T18CS54SN2</td>
      </tr>
      <tr>
       <td class="number">No.55</td>
       <td class="card">%T18CARD55N<br />(%T18CARD55R)</td>
       <td class="rate">%T18CS55TL1 / %T18CS55TL2</td>
       <td class="rate">%T18CS55RM1 / %T18CS55RM2</td>
       <td class="rate">%T18CS55MR1 / %T18CS55MR2</td>
       <td class="rate">%T18CS55SK1 / %T18CS55SK2</td>
       <td class="rate">%T18CS55SN1 / %T18CS55SN2</td>
      </tr>
      <tr>
       <td class="number">No.56</td>
       <td class="card">%T18CARD56N<br />(%T18CARD56R)</td>
       <td class="rate">%T18CS56TL1 / %T18CS56TL2</td>
       <td class="rate">%T18CS56RM1 / %T18CS56RM2</td>
       <td class="rate">%T18CS56MR1 / %T18CS56MR2</td>
       <td class="rate">%T18CS56SK1 / %T18CS56SK2</td>
       <td class="rate">%T18CS56SN1 / %T18CS56SN2</td>
      </tr>
      <tr>
       <td class="number">No.57</td>
       <td class="card">%T18CARD57N<br />(%T18CARD57R)</td>
       <td class="rate">%T18CS57TL1 / %T18CS57TL2</td>
       <td class="rate">%T18CS57RM1 / %T18CS57RM2</td>
       <td class="rate">%T18CS57MR1 / %T18CS57MR2</td>
       <td class="rate">%T18CS57SK1 / %T18CS57SK2</td>
       <td class="rate">%T18CS57SN1 / %T18CS57SN2</td>
      </tr>
      <tr>
       <td class="number">No.58</td>
       <td class="card">%T18CARD58N<br />(%T18CARD58R)</td>
       <td class="rate">%T18CS58TL1 / %T18CS58TL2</td>
       <td class="rate">%T18CS58RM1 / %T18CS58RM2</td>
       <td class="rate">%T18CS58MR1 / %T18CS58MR2</td>
       <td class="rate">%T18CS58SK1 / %T18CS58SK2</td>
       <td class="rate">%T18CS58SN1 / %T18CS58SN2</td>
      </tr>
      <tr>
       <td class="number">No.59</td>
       <td class="card">%T18CARD59N<br />(%T18CARD59R)</td>
       <td class="rate">%T18CS59TL1 / %T18CS59TL2</td>
       <td class="rate">%T18CS59RM1 / %T18CS59RM2</td>
       <td class="rate">%T18CS59MR1 / %T18CS59MR2</td>
       <td class="rate">%T18CS59SK1 / %T18CS59SK2</td>
       <td class="rate">%T18CS59SN1 / %T18CS59SN2</td>
      </tr>
      <tr>
       <td class="number">No.60</td>
       <td class="card">%T18CARD60N<br />(%T18CARD60R)</td>
       <td class="rate">%T18CS60TL1 / %T18CS60TL2</td>
       <td class="rate">%T18CS60RM1 / %T18CS60RM2</td>
       <td class="rate">%T18CS60MR1 / %T18CS60MR2</td>
       <td class="rate">%T18CS60SK1 / %T18CS60SK2</td>
       <td class="rate">%T18CS60SN1 / %T18CS60SN2</td>
      </tr>

      <tr>
       <td class="number">No.61</td>
       <td class="card">%T18CARD61N<br />(%T18CARD61R)</td>
       <td class="rate">%T18CS61TL1 / %T18CS61TL2</td>
       <td class="rate">%T18CS61RM1 / %T18CS61RM2</td>
       <td class="rate">%T18CS61MR1 / %T18CS61MR2</td>
       <td class="rate">%T18CS61SK1 / %T18CS61SK2</td>
       <td class="rate">%T18CS61SN1 / %T18CS61SN2</td>
      </tr>
      <tr>
       <td class="number">No.62</td>
       <td class="card">%T18CARD62N<br />(%T18CARD62R)</td>
       <td class="rate">%T18CS62TL1 / %T18CS62TL2</td>
       <td class="rate">%T18CS62RM1 / %T18CS62RM2</td>
       <td class="rate">%T18CS62MR1 / %T18CS62MR2</td>
       <td class="rate">%T18CS62SK1 / %T18CS62SK2</td>
       <td class="rate">%T18CS62SN1 / %T18CS62SN2</td>
      </tr>
      <tr>
       <td class="number">No.63</td>
       <td class="card">%T18CARD63N<br />(%T18CARD63R)</td>
       <td class="rate">%T18CS63TL1 / %T18CS63TL2</td>
       <td class="rate">%T18CS63RM1 / %T18CS63RM2</td>
       <td class="rate">%T18CS63MR1 / %T18CS63MR2</td>
       <td class="rate">%T18CS63SK1 / %T18CS63SK2</td>
       <td class="rate">%T18CS63SN1 / %T18CS63SN2</td>
      </tr>
      <tr>
       <td class="number">No.64</td>
       <td class="card">%T18CARD64N<br />(%T18CARD64R)</td>
       <td class="rate">%T18CS64TL1 / %T18CS64TL2</td>
       <td class="rate">%T18CS64RM1 / %T18CS64RM2</td>
       <td class="rate">%T18CS64MR1 / %T18CS64MR2</td>
       <td class="rate">%T18CS64SK1 / %T18CS64SK2</td>
       <td class="rate">%T18CS64SN1 / %T18CS64SN2</td>
      </tr>
      <tr>
       <td class="number">No.65</td>
       <td class="card">%T18CARD65N<br />(%T18CARD65R)</td>
       <td class="rate">%T18CS65TL1 / %T18CS65TL2</td>
       <td class="rate">%T18CS65RM1 / %T18CS65RM2</td>
       <td class="rate">%T18CS65MR1 / %T18CS65MR2</td>
       <td class="rate">%T18CS65SK1 / %T18CS65SK2</td>
       <td class="rate">%T18CS65SN1 / %T18CS65SN2</td>
      </tr>
      <tr>
       <td class="number">No.66</td>
       <td class="card">%T18CARD66N<br />(%T18CARD66R)</td>
       <td class="rate">%T18CS66TL1 / %T18CS66TL2</td>
       <td class="rate">%T18CS66RM1 / %T18CS66RM2</td>
       <td class="rate">%T18CS66MR1 / %T18CS66MR2</td>
       <td class="rate">%T18CS66SK1 / %T18CS66SK2</td>
       <td class="rate">%T18CS66SN1 / %T18CS66SN2</td>
      </tr>
      <tr>
       <td class="number">No.67</td>
       <td class="card">%T18CARD67N<br />(%T18CARD67R)</td>
       <td class="rate">%T18CS67TL1 / %T18CS67TL2</td>
       <td class="rate">%T18CS67RM1 / %T18CS67RM2</td>
       <td class="rate">%T18CS67MR1 / %T18CS67MR2</td>
       <td class="rate">%T18CS67SK1 / %T18CS67SK2</td>
       <td class="rate">%T18CS67SN1 / %T18CS67SN2</td>
      </tr>
      <tr>
       <td class="number">No.68</td>
       <td class="card">%T18CARD68N<br />(%T18CARD68R)</td>
       <td class="rate">%T18CS68TL1 / %T18CS68TL2</td>
       <td class="rate">%T18CS68RM1 / %T18CS68RM2</td>
       <td class="rate">%T18CS68MR1 / %T18CS68MR2</td>
       <td class="rate">%T18CS68SK1 / %T18CS68SK2</td>
       <td class="rate">%T18CS68SN1 / %T18CS68SN2</td>
      </tr>
      <tr>
       <td class="number">No.69</td>
       <td class="card">%T18CARD69N<br />(%T18CARD69R)</td>
       <td class="rate">%T18CS69TL1 / %T18CS69TL2</td>
       <td class="rate">%T18CS69RM1 / %T18CS69RM2</td>
       <td class="rate">%T18CS69MR1 / %T18CS69MR2</td>
       <td class="rate">%T18CS69SK1 / %T18CS69SK2</td>
       <td class="rate">%T18CS69SN1 / %T18CS69SN2</td>
      </tr>
      <tr>
       <td class="number">No.70</td>
       <td class="card">%T18CARD70N<br />(%T18CARD70R)</td>
       <td class="rate">%T18CS70TL1 / %T18CS70TL2</td>
       <td class="rate">%T18CS70RM1 / %T18CS70RM2</td>
       <td class="rate">%T18CS70MR1 / %T18CS70MR2</td>
       <td class="rate">%T18CS70SK1 / %T18CS70SK2</td>
       <td class="rate">%T18CS70SN1 / %T18CS70SN2</td>
      </tr>

      <tr>
       <td class="number">No.71</td>
       <td class="card">%T18CARD71N<br />(%T18CARD71R)</td>
       <td class="rate">%T18CS71TL1 / %T18CS71TL2</td>
       <td class="rate">%T18CS71RM1 / %T18CS71RM2</td>
       <td class="rate">%T18CS71MR1 / %T18CS71MR2</td>
       <td class="rate">%T18CS71SK1 / %T18CS71SK2</td>
       <td class="rate">%T18CS71SN1 / %T18CS71SN2</td>
      </tr>
      <tr>
       <td class="number">No.72</td>
       <td class="card">%T18CARD72N<br />(%T18CARD72R)</td>
       <td class="rate">%T18CS72TL1 / %T18CS72TL2</td>
       <td class="rate">%T18CS72RM1 / %T18CS72RM2</td>
       <td class="rate">%T18CS72MR1 / %T18CS72MR2</td>
       <td class="rate">%T18CS72SK1 / %T18CS72SK2</td>
       <td class="rate">%T18CS72SN1 / %T18CS72SN2</td>
      </tr>
      <tr>
       <td class="number">No.73</td>
       <td class="card">%T18CARD73N<br />(%T18CARD73R)</td>
       <td class="rate">%T18CS73TL1 / %T18CS73TL2</td>
       <td class="rate">%T18CS73RM1 / %T18CS73RM2</td>
       <td class="rate">%T18CS73MR1 / %T18CS73MR2</td>
       <td class="rate">%T18CS73SK1 / %T18CS73SK2</td>
       <td class="rate">%T18CS73SN1 / %T18CS73SN2</td>
      </tr>
      <tr>
       <td class="number">No.74</td>
       <td class="card">%T18CARD74N<br />(%T18CARD74R)</td>
       <td class="rate">%T18CS74TL1 / %T18CS74TL2</td>
       <td class="rate">%T18CS74RM1 / %T18CS74RM2</td>
       <td class="rate">%T18CS74MR1 / %T18CS74MR2</td>
       <td class="rate">%T18CS74SK1 / %T18CS74SK2</td>
       <td class="rate">%T18CS74SN1 / %T18CS74SN2</td>
      </tr>
      <tr>
       <td class="number">No.75</td>
       <td class="card">%T18CARD75N<br />(%T18CARD75R)</td>
       <td class="rate">%T18CS75TL1 / %T18CS75TL2</td>
       <td class="rate">%T18CS75RM1 / %T18CS75RM2</td>
       <td class="rate">%T18CS75MR1 / %T18CS75MR2</td>
       <td class="rate">%T18CS75SK1 / %T18CS75SK2</td>
       <td class="rate">%T18CS75SN1 / %T18CS75SN2</td>
      </tr>
      <tr>
       <td class="number">No.76</td>
       <td class="card">%T18CARD76N<br />(%T18CARD76R)</td>
       <td class="rate">%T18CS76TL1 / %T18CS76TL2</td>
       <td class="rate">%T18CS76RM1 / %T18CS76RM2</td>
       <td class="rate">%T18CS76MR1 / %T18CS76MR2</td>
       <td class="rate">%T18CS76SK1 / %T18CS76SK2</td>
       <td class="rate">%T18CS76SN1 / %T18CS76SN2</td>
      </tr>
      <tr>
       <td class="number">No.77</td>
       <td class="card">%T18CARD77N<br />(%T18CARD77R)</td>
       <td class="rate">%T18CS77TL1 / %T18CS77TL2</td>
       <td class="rate">%T18CS77RM1 / %T18CS77RM2</td>
       <td class="rate">%T18CS77MR1 / %T18CS77MR2</td>
       <td class="rate">%T18CS77SK1 / %T18CS77SK2</td>
       <td class="rate">%T18CS77SN1 / %T18CS77SN2</td>
      </tr>
      <tr>
       <td class="number">No.78</td>
       <td class="card">%T18CARD78N<br />(%T18CARD78R)</td>
       <td class="rate">%T18CS78TL1 / %T18CS78TL2</td>
       <td class="rate">%T18CS78RM1 / %T18CS78RM2</td>
       <td class="rate">%T18CS78MR1 / %T18CS78MR2</td>
       <td class="rate">%T18CS78SK1 / %T18CS78SK2</td>
       <td class="rate">%T18CS78SN1 / %T18CS78SN2</td>
      </tr>
      <tr>
       <td class="number">No.79</td>
       <td class="card">%T18CARD79N<br />(%T18CARD79R)</td>
       <td class="rate">%T18CS79TL1 / %T18CS79TL2</td>
       <td class="rate">%T18CS79RM1 / %T18CS79RM2</td>
       <td class="rate">%T18CS79MR1 / %T18CS79MR2</td>
       <td class="rate">%T18CS79SK1 / %T18CS79SK2</td>
       <td class="rate">%T18CS79SN1 / %T18CS79SN2</td>
      </tr>
      <tr>
       <td class="number">No.80</td>
       <td class="card">%T18CARD80N<br />(%T18CARD80R)</td>
       <td class="rate">%T18CS80TL1 / %T18CS80TL2</td>
       <td class="rate">%T18CS80RM1 / %T18CS80RM2</td>
       <td class="rate">%T18CS80MR1 / %T18CS80MR2</td>
       <td class="rate">%T18CS80SK1 / %T18CS80SK2</td>
       <td class="rate">%T18CS80SN1 / %T18CS80SN2</td>
      </tr>

      <tr>
       <td class="number">No.81</td>
       <td class="card">%T18CARD81N<br />(%T18CARD81R)</td>
       <td class="rate">%T18CS81TL1 / %T18CS81TL2</td>
       <td class="rate">%T18CS81RM1 / %T18CS81RM2</td>
       <td class="rate">%T18CS81MR1 / %T18CS81MR2</td>
       <td class="rate">%T18CS81SK1 / %T18CS81SK2</td>
       <td class="rate">%T18CS81SN1 / %T18CS81SN2</td>
      </tr>
      <tr>
       <td class="number">No.82</td>
       <td class="card">%T18CARD82N<br />(%T18CARD82R)</td>
       <td class="rate">%T18CS82TL1 / %T18CS82TL2</td>
       <td class="rate">%T18CS82RM1 / %T18CS82RM2</td>
       <td class="rate">%T18CS82MR1 / %T18CS82MR2</td>
       <td class="rate">%T18CS82SK1 / %T18CS82SK2</td>
       <td class="rate">%T18CS82SN1 / %T18CS82SN2</td>
      </tr>
      <tr>
       <td class="number">No.83</td>
       <td class="card">%T18CARD83N<br />(%T18CARD83R)</td>
       <td class="rate">%T18CS83TL1 / %T18CS83TL2</td>
       <td class="rate">%T18CS83RM1 / %T18CS83RM2</td>
       <td class="rate">%T18CS83MR1 / %T18CS83MR2</td>
       <td class="rate">%T18CS83SK1 / %T18CS83SK2</td>
       <td class="rate">%T18CS83SN1 / %T18CS83SN2</td>
      </tr>
      <tr>
       <td class="number">No.84</td>
       <td class="card">%T18CARD84N<br />(%T18CARD84R)</td>
       <td class="rate">%T18CS84TL1 / %T18CS84TL2</td>
       <td class="rate">%T18CS84RM1 / %T18CS84RM2</td>
       <td class="rate">%T18CS84MR1 / %T18CS84MR2</td>
       <td class="rate">%T18CS84SK1 / %T18CS84SK2</td>
       <td class="rate">%T18CS84SN1 / %T18CS84SN2</td>
      </tr>
      <tr>
       <td class="number">No.85</td>
       <td class="card">%T18CARD85N<br />(%T18CARD85R)</td>
       <td class="rate">%T18CS85TL1 / %T18CS85TL2</td>
       <td class="rate">%T18CS85RM1 / %T18CS85RM2</td>
       <td class="rate">%T18CS85MR1 / %T18CS85MR2</td>
       <td class="rate">%T18CS85SK1 / %T18CS85SK2</td>
       <td class="rate">%T18CS85SN1 / %T18CS85SN2</td>
      </tr>
      <tr>
       <td class="number">No.86</td>
       <td class="card">%T18CARD86N<br />(%T18CARD86R)</td>
       <td class="rate">%T18CS86TL1 / %T18CS86TL2</td>
       <td class="rate">%T18CS86RM1 / %T18CS86RM2</td>
       <td class="rate">%T18CS86MR1 / %T18CS86MR2</td>
       <td class="rate">%T18CS86SK1 / %T18CS86SK2</td>
       <td class="rate">%T18CS86SN1 / %T18CS86SN2</td>
      </tr>
      <tr>
       <td class="number">No.87</td>
       <td class="card">%T18CARD87N<br />(%T18CARD87R)</td>
       <td class="rate">%T18CS87TL1 / %T18CS87TL2</td>
       <td class="rate">%T18CS87RM1 / %T18CS87RM2</td>
       <td class="rate">%T18CS87MR1 / %T18CS87MR2</td>
       <td class="rate">%T18CS87SK1 / %T18CS87SK2</td>
       <td class="rate">%T18CS87SN1 / %T18CS87SN2</td>
      </tr>
      <tr>
       <td class="number">No.88</td>
       <td class="card">%T18CARD88N<br />(%T18CARD88R)</td>
       <td class="rate">%T18CS88TL1 / %T18CS88TL2</td>
       <td class="rate">%T18CS88RM1 / %T18CS88RM2</td>
       <td class="rate">%T18CS88MR1 / %T18CS88MR2</td>
       <td class="rate">%T18CS88SK1 / %T18CS88SK2</td>
       <td class="rate">%T18CS88SN1 / %T18CS88SN2</td>
      </tr>
      <tr>
       <td class="number">No.89</td>
       <td class="card">%T18CARD89N<br />(%T18CARD89R)</td>
       <td class="rate">%T18CS89TL1 / %T18CS89TL2</td>
       <td class="rate">%T18CS89RM1 / %T18CS89RM2</td>
       <td class="rate">%T18CS89MR1 / %T18CS89MR2</td>
       <td class="rate">%T18CS89SK1 / %T18CS89SK2</td>
       <td class="rate">%T18CS89SN1 / %T18CS89SN2</td>
      </tr>
      <tr>
       <td class="number">No.90</td>
       <td class="card">%T18CARD90N<br />(%T18CARD90R)</td>
       <td class="rate">%T18CS90TL1 / %T18CS90TL2</td>
       <td class="rate">%T18CS90RM1 / %T18CS90RM2</td>
       <td class="rate">%T18CS90MR1 / %T18CS90MR2</td>
       <td class="rate">%T18CS90SK1 / %T18CS90SK2</td>
       <td class="rate">%T18CS90SN1 / %T18CS90SN2</td>
      </tr>

      <tr>
       <td class="number">No.91</td>
       <td class="card">%T18CARD91N<br />(%T18CARD91R)</td>
       <td class="rate">%T18CS91TL1 / %T18CS91TL2</td>
       <td class="rate">%T18CS91RM1 / %T18CS91RM2</td>
       <td class="rate">%T18CS91MR1 / %T18CS91MR2</td>
       <td class="rate">%T18CS91SK1 / %T18CS91SK2</td>
       <td class="rate">%T18CS91SN1 / %T18CS91SN2</td>
      </tr>
      <tr>
       <td class="number">No.92</td>
       <td class="card">%T18CARD92N<br />(%T18CARD92R)</td>
       <td class="rate">%T18CS92TL1 / %T18CS92TL2</td>
       <td class="rate">%T18CS92RM1 / %T18CS92RM2</td>
       <td class="rate">%T18CS92MR1 / %T18CS92MR2</td>
       <td class="rate">%T18CS92SK1 / %T18CS92SK2</td>
       <td class="rate">%T18CS92SN1 / %T18CS92SN2</td>
      </tr>
      <tr>
       <td class="number">No.93</td>
       <td class="card">%T18CARD93N<br />(%T18CARD93R)</td>
       <td class="rate">%T18CS93TL1 / %T18CS93TL2</td>
       <td class="rate">%T18CS93RM1 / %T18CS93RM2</td>
       <td class="rate">%T18CS93MR1 / %T18CS93MR2</td>
       <td class="rate">%T18CS93SK1 / %T18CS93SK2</td>
       <td class="rate">%T18CS93SN1 / %T18CS93SN2</td>
      </tr>
      <tr>
       <td class="number">No.94</td>
       <td class="card">%T18CARD94N<br />(%T18CARD94R)</td>
       <td class="rate">%T18CS94TL1 / %T18CS94TL2</td>
       <td class="rate">%T18CS94RM1 / %T18CS94RM2</td>
       <td class="rate">%T18CS94MR1 / %T18CS94MR2</td>
       <td class="rate">%T18CS94SK1 / %T18CS94SK2</td>
       <td class="rate">%T18CS94SN1 / %T18CS94SN2</td>
      </tr>
      <tr>
       <td class="number">No.95</td>
       <td class="card">%T18CARD95N<br />(%T18CARD95R)</td>
       <td class="rate">%T18CS95TL1 / %T18CS95TL2</td>
       <td class="rate">%T18CS95RM1 / %T18CS95RM2</td>
       <td class="rate">%T18CS95MR1 / %T18CS95MR2</td>
       <td class="rate">%T18CS95SK1 / %T18CS95SK2</td>
       <td class="rate">%T18CS95SN1 / %T18CS95SN2</td>
      </tr>
      <tr>
       <td class="number">No.96</td>
       <td class="card">%T18CARD96N<br />(%T18CARD96R)</td>
       <td class="rate">%T18CS96TL1 / %T18CS96TL2</td>
       <td class="rate">%T18CS96RM1 / %T18CS96RM2</td>
       <td class="rate">%T18CS96MR1 / %T18CS96MR2</td>
       <td class="rate">%T18CS96SK1 / %T18CS96SK2</td>
       <td class="rate">%T18CS96SN1 / %T18CS96SN2</td>
      </tr>
      <tr>
       <td class="number">No.97</td>
       <td class="card">%T18CARD97N<br />(%T18CARD97R)</td>
       <td class="rate">%T18CS97TL1 / %T18CS97TL2</td>
       <td class="rate">%T18CS97RM1 / %T18CS97RM2</td>
       <td class="rate">%T18CS97MR1 / %T18CS97MR2</td>
       <td class="rate">%T18CS97SK1 / %T18CS97SK2</td>
       <td class="rate">%T18CS97SN1 / %T18CS97SN2</td>
      </tr>
     </tbody>
     <tfoot>
      <tr>
       <td colspan="2">Total</td>
       <td class="rate">%T18CS00TL1 / %T18CS00TL2</td>
       <td class="rate">%T18CS00RM1 / %T18CS00RM2</td>
       <td class="rate">%T18CS00MR1 / %T18CS00MR2</td>
       <td class="rate">%T18CS00SK1 / %T18CS00SK2</td>
       <td class="rate">%T18CS00SN1 / %T18CS00SN2</td>
      </tr>
     </tfoot>
    </table>

    <table class="rate_per_level">
     <caption id="rate_per_level">難易度別スペルカード蒐集率（取得回数 / 挑戦回数 / 総数）</caption>
     <thead>
      <tr>
       <th class="level">難易度</th>
       <th class="character">全主人公合計</th>
       <th class="character">博麗 霊夢</th>
       <th class="character">霧雨 魔理沙</th>
       <th class="character">十六夜 咲夜</th>
       <th class="character">東風谷 早苗</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="level">Easy</td>
       <td class="rate">%T18CRGSETL01 / %T18CRGSETL02 / 21</td>
       <td class="rate">%T18CRGSERM01 / %T18CRGSERM02 / 21</td>
       <td class="rate">%T18CRGSEMR01 / %T18CRGSEMR02 / 21</td>
       <td class="rate">%T18CRGSESK01 / %T18CRGSESK02 / 21</td>
       <td class="rate">%T18CRGSESN01 / %T18CRGSESN02 / 21</td>
      </tr>
      <tr>
       <td class="level">Normal</td>
       <td class="rate">%T18CRGSNTL01 / %T18CRGSNTL02 / 21</td>
       <td class="rate">%T18CRGSNRM01 / %T18CRGSNRM02 / 21</td>
       <td class="rate">%T18CRGSNMR01 / %T18CRGSNMR02 / 21</td>
       <td class="rate">%T18CRGSNSK01 / %T18CRGSNSK02 / 21</td>
       <td class="rate">%T18CRGSNSN01 / %T18CRGSNSN02 / 21</td>
      </tr>
      <tr>
       <td class="level">Hard</td>
       <td class="rate">%T18CRGSHTL01 / %T18CRGSHTL02 / 21</td>
       <td class="rate">%T18CRGSHRM01 / %T18CRGSHRM02 / 21</td>
       <td class="rate">%T18CRGSHMR01 / %T18CRGSHMR02 / 21</td>
       <td class="rate">%T18CRGSHSK01 / %T18CRGSHSK02 / 21</td>
       <td class="rate">%T18CRGSHSN01 / %T18CRGSHSN02 / 21</td>
      </tr>
      <tr>
       <td class="level">Lunatic</td>
       <td class="rate">%T18CRGSLTL01 / %T18CRGSLTL02 / 21</td>
       <td class="rate">%T18CRGSLRM01 / %T18CRGSLRM02 / 21</td>
       <td class="rate">%T18CRGSLMR01 / %T18CRGSLMR02 / 21</td>
       <td class="rate">%T18CRGSLSK01 / %T18CRGSLSK02 / 21</td>
       <td class="rate">%T18CRGSLSN01 / %T18CRGSLSN02 / 21</td>
      </tr>
      <tr>
       <td class="level">Extra</td>
       <td class="rate">%T18CRGSXTL01 / %T18CRGSXTL02 / 13</td>
       <td class="rate">%T18CRGSXRM01 / %T18CRGSXRM02 / 13</td>
       <td class="rate">%T18CRGSXMR01 / %T18CRGSXMR02 / 13</td>
       <td class="rate">%T18CRGSXSK01 / %T18CRGSXSK02 / 13</td>
       <td class="rate">%T18CRGSXSN01 / %T18CRGSXSN02 / 13</td>
      </tr>
     </tbody>
     <tfoot>
      <tr>
       <td>Total</td>
       <td class="rate">%T18CRGSTTL01 / %T18CRGSTTL02 / 97</td>
       <td class="rate">%T18CRGSTRM01 / %T18CRGSTRM02 / 97</td>
       <td class="rate">%T18CRGSTMR01 / %T18CRGSTMR02 / 97</td>
       <td class="rate">%T18CRGSTSK01 / %T18CRGSTSK02 / 97</td>
       <td class="rate">%T18CRGSTSN01 / %T18CRGSTSN02 / 97</td>
      </tr>
     </tfoot>
    </table>

    <table class="rate_per_stage">
     <caption id="rate_per_stage">ステージ別スペルカード蒐集率（取得回数 / 挑戦回数 / 総数）</caption>
     <thead>
      <tr>
       <th class="stage">ステージ</th>
       <th class="character">全主人公合計</th>
       <th class="character">博麗 霊夢</th>
       <th class="character">霧雨 魔理沙</th>
       <th class="character">十六夜 咲夜</th>
       <th class="character">東風谷 早苗</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="stage">Stage 1</td>
       <td class="rate">%T18CRGSTTL11 / %T18CRGSTTL12 / 8</td>
       <td class="rate">%T18CRGSTRM11 / %T18CRGSTRM12 / 8</td>
       <td class="rate">%T18CRGSTMR11 / %T18CRGSTMR12 / 8</td>
       <td class="rate">%T18CRGSTSK11 / %T18CRGSTSK12 / 8</td>
       <td class="rate">%T18CRGSTSN11 / %T18CRGSTSN12 / 8</td>
      </tr>
      <tr>
       <td class="stage">Stage 2</td>
       <td class="rate">%T18CRGSTTL21 / %T18CRGSTTL22 / 12</td>
       <td class="rate">%T18CRGSTRM21 / %T18CRGSTRM22 / 12</td>
       <td class="rate">%T18CRGSTMR21 / %T18CRGSTMR22 / 12</td>
       <td class="rate">%T18CRGSTSK21 / %T18CRGSTSK22 / 12</td>
       <td class="rate">%T18CRGSTSN21 / %T18CRGSTSN22 / 12</td>
      </tr>
      <tr>
       <td class="stage">Stage 3</td>
       <td class="rate">%T18CRGSTTL31 / %T18CRGSTTL32 / 12</td>
       <td class="rate">%T18CRGSTRM31 / %T18CRGSTRM32 / 12</td>
       <td class="rate">%T18CRGSTMR31 / %T18CRGSTMR32 / 12</td>
       <td class="rate">%T18CRGSTSK31 / %T18CRGSTSK32 / 12</td>
       <td class="rate">%T18CRGSTSN31 / %T18CRGSTSN32 / 12</td>
      </tr>
      <tr>
       <td class="stage">Stage 4</td>
       <td class="rate">%T18CRGSTTL41 / %T18CRGSTTL42 / 12</td>
       <td class="rate">%T18CRGSTRM41 / %T18CRGSTRM42 / 12</td>
       <td class="rate">%T18CRGSTMR41 / %T18CRGSTMR42 / 12</td>
       <td class="rate">%T18CRGSTSK41 / %T18CRGSTSK42 / 12</td>
       <td class="rate">%T18CRGSTSN41 / %T18CRGSTSN42 / 12</td>
      </tr>
      <tr>
       <td class="stage">Stage 5</td>
       <td class="rate">%T18CRGSTTL51 / %T18CRGSTTL52 / 16</td>
       <td class="rate">%T18CRGSTRM51 / %T18CRGSTRM52 / 16</td>
       <td class="rate">%T18CRGSTMR51 / %T18CRGSTMR52 / 16</td>
       <td class="rate">%T18CRGSTSK51 / %T18CRGSTSK52 / 16</td>
       <td class="rate">%T18CRGSTSN51 / %T18CRGSTSN52 / 16</td>
      </tr>
      <tr>
       <td class="stage">Stage 6</td>
       <td class="rate">%T18CRGSTTL61 / %T18CRGSTTL62 / 24</td>
       <td class="rate">%T18CRGSTRM61 / %T18CRGSTRM62 / 24</td>
       <td class="rate">%T18CRGSTMR61 / %T18CRGSTMR62 / 24</td>
       <td class="rate">%T18CRGSTSK61 / %T18CRGSTSK62 / 24</td>
       <td class="rate">%T18CRGSTSN61 / %T18CRGSTSN62 / 24</td>
      </tr>
      <tr>
       <td class="stage">Extra</td>
       <td class="rate">%T18CRGSXTL01 / %T18CRGSXTL02 / 13</td>
       <td class="rate">%T18CRGSXRM01 / %T18CRGSXRM02 / 13</td>
       <td class="rate">%T18CRGSXMR01 / %T18CRGSXMR02 / 13</td>
       <td class="rate">%T18CRGSXSK01 / %T18CRGSXSK02 / 13</td>
       <td class="rate">%T18CRGSXSN01 / %T18CRGSXSN02 / 13</td>
      </tr>
     </tbody>
     <tfoot>
      <tr>
       <td>Total</td>
       <td class="rate">%T18CRGSTTL01 / %T18CRGSTTL02 / 97</td>
       <td class="rate">%T18CRGSTRM01 / %T18CRGSTRM02 / 97</td>
       <td class="rate">%T18CRGSTMR01 / %T18CRGSTMR02 / 97</td>
       <td class="rate">%T18CRGSTSK01 / %T18CRGSTSK02 / 97</td>
       <td class="rate">%T18CRGSTSN01 / %T18CRGSTSN02 / 97</td>
      </tr>
     </tfoot>
    </table>

   </section>

  </main>

  <footer>
   <p>
    Data output by <a href="https://www.colorless-sight.jp/thsfc/">ThScoreFileConverter</a>.
<script>
// <![CDATA[
    document.write("Last updated: ", document.lastModified, ".");
// ]]>
</script>
   </p>
  </footer>

 </body>
</html>
