/*
 * style.css
 *  Cascading style sheet for Touhou Project result files
 */

body {
	background-color: #fff;
	color: #000;
	font-size: 10pt;
	line-height: 120%;
	margin-bottom: 300px;
}

a:link {
	background-color: inherit;
	color: #8fa8ef;
}

a:visited {
	background-color: inherit;
	color: #8fa8ef;
}

hr {
	clear: both;
}

table {
	border: 1px solid #000;
	margin: 5px;
}

caption {
	font-weight: bold;
	padding: 5px;
}

thead {
	background-color: #8fa8ef;
	color: inherit;
}

th {
	background-color: #8fa8ef;
	color: inherit;
	font-weight: normal;
	padding: 0.1em 0.5em;
}

th.vertical {
	width: 1em;
}

td {
	text-align: center;
	border: 1px solid #8fa8ef;
	padding: 0.1em 0.5em;
}

tbody td.score {
	text-align: right;
}

header {
	border-bottom: 2px solid #000;
}

footer {
	border-top: 2px solid #000;
	clear: both;
}

nav ul, nav ol {
	list-style-type: none;
	padding-left: 0;
}

nav li {
	display: inline-block;
}

nav li::after {
	content: " /";
}

nav li:last-child::after {
	content: none;
}
