@using TemplateGenerator.Models.Th095
@{
    ViewData["Title"] = $"{Definitions.Title} ベストショット一覧";
}
@section Styles {
<style>
/* <![CDATA[ */
    table.bestshot { float: left; }
    table.bestshot td.bestshot { padding: 2px; width: 260px; height: 196px; }
    table.bestshot td.spell { height: 1em; }
/* ]]> */
</style>
}
@section Navigation {
    <ul>
     <li><a href="th095score.html">スコアデータ全般</a></li>
     <li>ベストショット一覧</li>
    </ul>
    <ul>
    @foreach (var level in Definitions.LevelNames)
    {
     <li><a href="#@(level.Value.Id)">@Html.Raw(level.Value.Name)</a></li>
    }
    </ul>
}

    @foreach (var level in Definitions.LevelNames)
    {
   <section>
    <h2 id="@(level.Value.Id)">@Html.Raw(level.Value.Name)</h2>
        @foreach (var scene in Enumerable.Range(1, Definitions.NumScenesPerLevel[level.Key]))
        {
    <table class="bestshot">
     <caption>Scene @(scene)</caption>
     <tbody>
      <tr>
       <td class="bestshot">
        <img src="%T95SHOTEX@(level.Key)@(scene)1" width="%T95SHOTEX@(level.Key)@(scene)2" height="%T95SHOTEX@(level.Key)@(scene)3"
             alt="Score: %T95SHOTEX@(level.Key)@(scene)4, Slow: %T95SHOTEX@(level.Key)@(scene)5, DateTime: %T95SHOTEX@(level.Key)@(scene)6"
             title="Score: %T95SHOTEX@(level.Key)@(scene)4, Slow: %T95SHOTEX@(level.Key)@(scene)5, DateTime: %T95SHOTEX@(level.Key)@(scene)6" />
       </td>
      </tr>
      <tr><td class="spell">%T95CARD@(level.Key)@(scene)2</td></tr>
     </tbody>
    </table>
        }
   </section>
        @if (level.Key != Definitions.LevelNames.Last().Key)
        {
@:
   <hr />
@:
        }
    }
