@using TemplateGenerator.Models.Th143
@{
    ViewData["Title"] = $"{Definitions.Title} スクリーンショット一覧";
}
@section Styles {
<style>
/* <![CDATA[ */
    table.screenshot { float: left; }
    table.screenshot td.screenshot { padding: 2px; width: 292px; height: 340px; }
    table.screenshot td.spell { height: 1em; }
/* ]]> */
</style>
}
@section Navigation {
    <ul>
     <li><a href="th143score1.html">スコアデータ全般</a></li>
     <li><a href="th143score2.html">クリア状況一覧</a></li>
     <li>スクリーンショット一覧</li>
    </ul>
    <ul>
    @foreach (var day in Definitions.DayNames)
    {
     <li><a href="#@(day.Value.Id)">@Html.Raw(day.Value.Name)</a></li>
    }
    </ul>
}

    @foreach (var day in Definitions.DayNames)
    {
   <section>
    <h2 id="@(day.Value.Id)">@Html.Raw(day.Value.Name)</h2>
        @foreach (var scene in Enumerable.Range(1, Definitions.NumScenesPerDay[day.Key]))
        {
            var sceneKey = scene % 10;
    <table class="screenshot">
     <caption>シーン @(scene)</caption>
     <tbody>
      <tr>
       <td class="screenshot">
        <img src="%T143SHOTEX@(day.Key)@(sceneKey)1" width="%T143SHOTEX@(day.Key)@(sceneKey)2" height="%T143SHOTEX@(day.Key)@(sceneKey)3"
             alt="DateTime: %T143SHOTEX@(day.Key)@(sceneKey)4" title="DateTime: %T143SHOTEX@(day.Key)@(sceneKey)4" />
       </td>
      </tr>
      <tr><td class="spell">%T143CARD@(day.Key)@(sceneKey)2</td></tr>
     </tbody>
    </table>
        }
   </section>
        @if (day.Key != Definitions.DayNames.Last().Key)
        {
@:
   <hr />
@:
        }
    }
