@using TemplateGenerator.Models.Th145
@{
    ViewData["Title"] = $"{Definitions.Title} スコアデータ";
}
@section Styles {
<style>
/* <![CDATA[ */
    td.character { min-width: 120px; }
    td.level { min-width: 70px; }
    table.clear td.clear { min-width: 70px; }
    table.time td.time { min-width: 70px; }
/* ]]> */
</style>
}
@section Navigation {
    <ul>
     <li><a href="#Clear">クリア達成度</a></li>
     <li><a href="#Time">クリア時間</a></li>
    </ul>
}

   <section>
    <h2 id="Clear">クリア達成度</h2>

    <table class="clear">
     <thead>
      <tr>
       <th class="character">Character</th>
    @foreach (var level in Definitions.LevelNames)
    {
       <th class="level">@Html.Raw(level.Value)</th>
    }
      </tr>
     </thead>
     <tbody>
    @foreach (var chara in Definitions.CharacterNames)
    {
      <tr>
       <td class="character">@Html.Raw(chara.Value)</td>
        @foreach (var level in Definitions.LevelNames)
        {
       <td class="clear">%T145CLEAR@(level.Key)@(chara.Key)</td>
        }
      </tr>
    }
     </tbody>
    </table>
   </section>

   <hr />

   <section>
    <h2 id="Time">クリア時間</h2>

    <table class="time">
     <thead>
      <tr>
       <th class="character">Character</th>
    @foreach (var levelKey in Definitions.LevelKeysTotalLast)
    {
       <th class="level">@Html.Raw(Definitions.LevelWithTotalNames[levelKey])</th>
    }
      </tr>
     </thead>
     <tbody>
    @foreach (var charaKey in Definitions.CharacterKeysTotalLast)
    {
      <tr>
       <td class="character">@Html.Raw(Definitions.CharacterWithTotalNames[charaKey])</td>
        @foreach (var levelKey in Definitions.LevelKeysTotalLast)
        {
       <td class="time">%T145TIMECLR@(levelKey)@(charaKey)</td>
        }
      </tr>
    }
     </tbody>
    </table>
   </section>
