<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja">

 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="Content-Style-Type" content="text/css" />
  <meta http-equiv="Content-Script-Type" content="text/javascript" />
  <title>東方紅魔郷スコアデータ</title>
  <link rel="stylesheet" type="text/css" href="style.css" />
  <link rel="stylesheet" type="text/css" href="th06.css" />
<style type="text/css">
<!--
    table.score_per_level { float: left; }
    table.score_per_level td.number { min-width: 20px; }
-->
</style>
 </head>

 <body>
  <h1>東方紅魔郷スコアデータ</h1>

  <hr />

  <div class="section">
   <p>
    <a href="th06score1.html">スコアデータ全般</a> /
    個別ランキング /
    <a href="th06score3.html">プラクティス</a><br />
    <a href="#Easy">Easy</a> /
    <a href="#Normal">Normal</a> /
    <a href="#Hard">Hard</a> /
    <a href="#Lunatic">Lunatic</a> /
    <a href="#Extra">Extra</a>
   </p>
  </div>

  <hr />

  <div class="section">
   <h2 id="Easy">Easy</h2>

   <table class="score_per_level">
    <caption>博麗 霊夢（霊）</caption>
    <thead>
     <tr>
      <td class="number">No.</td>
      <td class="name">Name</td>
      <td class="score">Score</td>
      <td class="stage">Stage</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="number">1</td>
      <td class="name">%T06SCRERA11</td>
      <td class="score">%T06SCRERA12</td>
      <td class="stage">%T06SCRERA13</td>
     </tr>
     <tr>
      <td class="number">2</td>
      <td class="name">%T06SCRERA21</td>
      <td class="score">%T06SCRERA22</td>
      <td class="stage">%T06SCRERA23</td>
     </tr>
     <tr>
      <td class="number">3</td>
      <td class="name">%T06SCRERA31</td>
      <td class="score">%T06SCRERA32</td>
      <td class="stage">%T06SCRERA33</td>
     </tr>
     <tr>
      <td class="number">4</td>
      <td class="name">%T06SCRERA41</td>
      <td class="score">%T06SCRERA42</td>
      <td class="stage">%T06SCRERA43</td>
     </tr>
     <tr>
      <td class="number">5</td>
      <td class="name">%T06SCRERA51</td>
      <td class="score">%T06SCRERA52</td>
      <td class="stage">%T06SCRERA53</td>
     </tr>
     <tr>
      <td class="number">6</td>
      <td class="name">%T06SCRERA61</td>
      <td class="score">%T06SCRERA62</td>
      <td class="stage">%T06SCRERA63</td>
     </tr>
     <tr>
      <td class="number">7</td>
      <td class="name">%T06SCRERA71</td>
      <td class="score">%T06SCRERA72</td>
      <td class="stage">%T06SCRERA73</td>
     </tr>
     <tr>
      <td class="number">8</td>
      <td class="name">%T06SCRERA81</td>
      <td class="score">%T06SCRERA82</td>
      <td class="stage">%T06SCRERA83</td>
     </tr>
     <tr>
      <td class="number">9</td>
      <td class="name">%T06SCRERA91</td>
      <td class="score">%T06SCRERA92</td>
      <td class="stage">%T06SCRERA93</td>
     </tr>
     <tr>
      <td class="number">10</td>
      <td class="name">%T06SCRERA01</td>
      <td class="score">%T06SCRERA02</td>
      <td class="stage">%T06SCRERA03</td>
     </tr>
    </tbody>
   </table>

   <table class="score_per_level">
    <caption>博麗 霊夢（夢）</caption>
    <thead>
     <tr>
      <td class="number">No.</td>
      <td class="name">Name</td>
      <td class="score">Score</td>
      <td class="stage">Stage</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="number">1</td>
      <td class="name">%T06SCRERB11</td>
      <td class="score">%T06SCRERB12</td>
      <td class="stage">%T06SCRERB13</td>
     </tr>
     <tr>
      <td class="number">2</td>
      <td class="name">%T06SCRERB21</td>
      <td class="score">%T06SCRERB22</td>
      <td class="stage">%T06SCRERB23</td>
     </tr>
     <tr>
      <td class="number">3</td>
      <td class="name">%T06SCRERB31</td>
      <td class="score">%T06SCRERB32</td>
      <td class="stage">%T06SCRERB33</td>
     </tr>
     <tr>
      <td class="number">4</td>
      <td class="name">%T06SCRERB41</td>
      <td class="score">%T06SCRERB42</td>
      <td class="stage">%T06SCRERB43</td>
     </tr>
     <tr>
      <td class="number">5</td>
      <td class="name">%T06SCRERB51</td>
      <td class="score">%T06SCRERB52</td>
      <td class="stage">%T06SCRERB53</td>
     </tr>
     <tr>
      <td class="number">6</td>
      <td class="name">%T06SCRERB61</td>
      <td class="score">%T06SCRERB62</td>
      <td class="stage">%T06SCRERB63</td>
     </tr>
     <tr>
      <td class="number">7</td>
      <td class="name">%T06SCRERB71</td>
      <td class="score">%T06SCRERB72</td>
      <td class="stage">%T06SCRERB73</td>
     </tr>
     <tr>
      <td class="number">8</td>
      <td class="name">%T06SCRERB81</td>
      <td class="score">%T06SCRERB82</td>
      <td class="stage">%T06SCRERB83</td>
     </tr>
     <tr>
      <td class="number">9</td>
      <td class="name">%T06SCRERB91</td>
      <td class="score">%T06SCRERB92</td>
      <td class="stage">%T06SCRERB93</td>
     </tr>
     <tr>
      <td class="number">10</td>
      <td class="name">%T06SCRERB01</td>
      <td class="score">%T06SCRERB02</td>
      <td class="stage">%T06SCRERB03</td>
     </tr>
    </tbody>
   </table>

   <table class="score_per_level">
    <caption>霧雨 魔理沙（魔）</caption>
    <thead>
     <tr>
      <td class="number">No.</td>
      <td class="name">Name</td>
      <td class="score">Score</td>
      <td class="stage">Stage</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="number">1</td>
      <td class="name">%T06SCREMA11</td>
      <td class="score">%T06SCREMA12</td>
      <td class="stage">%T06SCREMA13</td>
     </tr>
     <tr>
      <td class="number">2</td>
      <td class="name">%T06SCREMA21</td>
      <td class="score">%T06SCREMA22</td>
      <td class="stage">%T06SCREMA23</td>
     </tr>
     <tr>
      <td class="number">3</td>
      <td class="name">%T06SCREMA31</td>
      <td class="score">%T06SCREMA32</td>
      <td class="stage">%T06SCREMA33</td>
     </tr>
     <tr>
      <td class="number">4</td>
      <td class="name">%T06SCREMA41</td>
      <td class="score">%T06SCREMA42</td>
      <td class="stage">%T06SCREMA43</td>
     </tr>
     <tr>
      <td class="number">5</td>
      <td class="name">%T06SCREMA51</td>
      <td class="score">%T06SCREMA52</td>
      <td class="stage">%T06SCREMA53</td>
     </tr>
     <tr>
      <td class="number">6</td>
      <td class="name">%T06SCREMA61</td>
      <td class="score">%T06SCREMA62</td>
      <td class="stage">%T06SCREMA63</td>
     </tr>
     <tr>
      <td class="number">7</td>
      <td class="name">%T06SCREMA71</td>
      <td class="score">%T06SCREMA72</td>
      <td class="stage">%T06SCREMA73</td>
     </tr>
     <tr>
      <td class="number">8</td>
      <td class="name">%T06SCREMA81</td>
      <td class="score">%T06SCREMA82</td>
      <td class="stage">%T06SCREMA83</td>
     </tr>
     <tr>
      <td class="number">9</td>
      <td class="name">%T06SCREMA91</td>
      <td class="score">%T06SCREMA92</td>
      <td class="stage">%T06SCREMA93</td>
     </tr>
     <tr>
      <td class="number">10</td>
      <td class="name">%T06SCREMA01</td>
      <td class="score">%T06SCREMA02</td>
      <td class="stage">%T06SCREMA03</td>
     </tr>
    </tbody>
   </table>

   <table class="score_per_level">
    <caption>霧雨 魔理沙（恋）</caption>
    <thead>
     <tr>
      <td class="number">No.</td>
      <td class="name">Name</td>
      <td class="score">Score</td>
      <td class="stage">Stage</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="number">1</td>
      <td class="name">%T06SCREMB11</td>
      <td class="score">%T06SCREMB12</td>
      <td class="stage">%T06SCREMB13</td>
     </tr>
     <tr>
      <td class="number">2</td>
      <td class="name">%T06SCREMB21</td>
      <td class="score">%T06SCREMB22</td>
      <td class="stage">%T06SCREMB23</td>
     </tr>
     <tr>
      <td class="number">3</td>
      <td class="name">%T06SCREMB31</td>
      <td class="score">%T06SCREMB32</td>
      <td class="stage">%T06SCREMB33</td>
     </tr>
     <tr>
      <td class="number">4</td>
      <td class="name">%T06SCREMB41</td>
      <td class="score">%T06SCREMB42</td>
      <td class="stage">%T06SCREMB43</td>
     </tr>
     <tr>
      <td class="number">5</td>
      <td class="name">%T06SCREMB51</td>
      <td class="score">%T06SCREMB52</td>
      <td class="stage">%T06SCREMB53</td>
     </tr>
     <tr>
      <td class="number">6</td>
      <td class="name">%T06SCREMB61</td>
      <td class="score">%T06SCREMB62</td>
      <td class="stage">%T06SCREMB63</td>
     </tr>
     <tr>
      <td class="number">7</td>
      <td class="name">%T06SCREMB71</td>
      <td class="score">%T06SCREMB72</td>
      <td class="stage">%T06SCREMB73</td>
     </tr>
     <tr>
      <td class="number">8</td>
      <td class="name">%T06SCREMB81</td>
      <td class="score">%T06SCREMB82</td>
      <td class="stage">%T06SCREMB83</td>
     </tr>
     <tr>
      <td class="number">9</td>
      <td class="name">%T06SCREMB91</td>
      <td class="score">%T06SCREMB92</td>
      <td class="stage">%T06SCREMB93</td>
     </tr>
     <tr>
      <td class="number">10</td>
      <td class="name">%T06SCREMB01</td>
      <td class="score">%T06SCREMB02</td>
      <td class="stage">%T06SCREMB03</td>
     </tr>
    </tbody>
   </table>
  </div>

  <hr />

  <div class="section">
   <h2 id="Normal">Normal</h2>

   <table class="score_per_level">
    <caption>博麗 霊夢（霊）</caption>
    <thead>
     <tr>
      <td class="number">No.</td>
      <td class="name">Name</td>
      <td class="score">Score</td>
      <td class="stage">Stage</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="number">1</td>
      <td class="name">%T06SCRNRA11</td>
      <td class="score">%T06SCRNRA12</td>
      <td class="stage">%T06SCRNRA13</td>
     </tr>
     <tr>
      <td class="number">2</td>
      <td class="name">%T06SCRNRA21</td>
      <td class="score">%T06SCRNRA22</td>
      <td class="stage">%T06SCRNRA23</td>
     </tr>
     <tr>
      <td class="number">3</td>
      <td class="name">%T06SCRNRA31</td>
      <td class="score">%T06SCRNRA32</td>
      <td class="stage">%T06SCRNRA33</td>
     </tr>
     <tr>
      <td class="number">4</td>
      <td class="name">%T06SCRNRA41</td>
      <td class="score">%T06SCRNRA42</td>
      <td class="stage">%T06SCRNRA43</td>
     </tr>
     <tr>
      <td class="number">5</td>
      <td class="name">%T06SCRNRA51</td>
      <td class="score">%T06SCRNRA52</td>
      <td class="stage">%T06SCRNRA53</td>
     </tr>
     <tr>
      <td class="number">6</td>
      <td class="name">%T06SCRNRA61</td>
      <td class="score">%T06SCRNRA62</td>
      <td class="stage">%T06SCRNRA63</td>
     </tr>
     <tr>
      <td class="number">7</td>
      <td class="name">%T06SCRNRA71</td>
      <td class="score">%T06SCRNRA72</td>
      <td class="stage">%T06SCRNRA73</td>
     </tr>
     <tr>
      <td class="number">8</td>
      <td class="name">%T06SCRNRA81</td>
      <td class="score">%T06SCRNRA82</td>
      <td class="stage">%T06SCRNRA83</td>
     </tr>
     <tr>
      <td class="number">9</td>
      <td class="name">%T06SCRNRA91</td>
      <td class="score">%T06SCRNRA92</td>
      <td class="stage">%T06SCRNRA93</td>
     </tr>
     <tr>
      <td class="number">10</td>
      <td class="name">%T06SCRNRA01</td>
      <td class="score">%T06SCRNRA02</td>
      <td class="stage">%T06SCRNRA03</td>
     </tr>
    </tbody>
   </table>

   <table class="score_per_level">
    <caption>博麗 霊夢（夢）</caption>
    <thead>
     <tr>
      <td class="number">No.</td>
      <td class="name">Name</td>
      <td class="score">Score</td>
      <td class="stage">Stage</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="number">1</td>
      <td class="name">%T06SCRNRB11</td>
      <td class="score">%T06SCRNRB12</td>
      <td class="stage">%T06SCRNRB13</td>
     </tr>
     <tr>
      <td class="number">2</td>
      <td class="name">%T06SCRNRB21</td>
      <td class="score">%T06SCRNRB22</td>
      <td class="stage">%T06SCRNRB23</td>
     </tr>
     <tr>
      <td class="number">3</td>
      <td class="name">%T06SCRNRB31</td>
      <td class="score">%T06SCRNRB32</td>
      <td class="stage">%T06SCRNRB33</td>
     </tr>
     <tr>
      <td class="number">4</td>
      <td class="name">%T06SCRNRB41</td>
      <td class="score">%T06SCRNRB42</td>
      <td class="stage">%T06SCRNRB43</td>
     </tr>
     <tr>
      <td class="number">5</td>
      <td class="name">%T06SCRNRB51</td>
      <td class="score">%T06SCRNRB52</td>
      <td class="stage">%T06SCRNRB53</td>
     </tr>
     <tr>
      <td class="number">6</td>
      <td class="name">%T06SCRNRB61</td>
      <td class="score">%T06SCRNRB62</td>
      <td class="stage">%T06SCRNRB63</td>
     </tr>
     <tr>
      <td class="number">7</td>
      <td class="name">%T06SCRNRB71</td>
      <td class="score">%T06SCRNRB72</td>
      <td class="stage">%T06SCRNRB73</td>
     </tr>
     <tr>
      <td class="number">8</td>
      <td class="name">%T06SCRNRB81</td>
      <td class="score">%T06SCRNRB82</td>
      <td class="stage">%T06SCRNRB83</td>
     </tr>
     <tr>
      <td class="number">9</td>
      <td class="name">%T06SCRNRB91</td>
      <td class="score">%T06SCRNRB92</td>
      <td class="stage">%T06SCRNRB93</td>
     </tr>
     <tr>
      <td class="number">10</td>
      <td class="name">%T06SCRNRB01</td>
      <td class="score">%T06SCRNRB02</td>
      <td class="stage">%T06SCRNRB03</td>
     </tr>
    </tbody>
   </table>

   <table class="score_per_level">
    <caption>霧雨 魔理沙（魔）</caption>
    <thead>
     <tr>
      <td class="number">No.</td>
      <td class="name">Name</td>
      <td class="score">Score</td>
      <td class="stage">Stage</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="number">1</td>
      <td class="name">%T06SCRNMA11</td>
      <td class="score">%T06SCRNMA12</td>
      <td class="stage">%T06SCRNMA13</td>
     </tr>
     <tr>
      <td class="number">2</td>
      <td class="name">%T06SCRNMA21</td>
      <td class="score">%T06SCRNMA22</td>
      <td class="stage">%T06SCRNMA23</td>
     </tr>
     <tr>
      <td class="number">3</td>
      <td class="name">%T06SCRNMA31</td>
      <td class="score">%T06SCRNMA32</td>
      <td class="stage">%T06SCRNMA33</td>
     </tr>
     <tr>
      <td class="number">4</td>
      <td class="name">%T06SCRNMA41</td>
      <td class="score">%T06SCRNMA42</td>
      <td class="stage">%T06SCRNMA43</td>
     </tr>
     <tr>
      <td class="number">5</td>
      <td class="name">%T06SCRNMA51</td>
      <td class="score">%T06SCRNMA52</td>
      <td class="stage">%T06SCRNMA53</td>
     </tr>
     <tr>
      <td class="number">6</td>
      <td class="name">%T06SCRNMA61</td>
      <td class="score">%T06SCRNMA62</td>
      <td class="stage">%T06SCRNMA63</td>
     </tr>
     <tr>
      <td class="number">7</td>
      <td class="name">%T06SCRNMA71</td>
      <td class="score">%T06SCRNMA72</td>
      <td class="stage">%T06SCRNMA73</td>
     </tr>
     <tr>
      <td class="number">8</td>
      <td class="name">%T06SCRNMA81</td>
      <td class="score">%T06SCRNMA82</td>
      <td class="stage">%T06SCRNMA83</td>
     </tr>
     <tr>
      <td class="number">9</td>
      <td class="name">%T06SCRNMA91</td>
      <td class="score">%T06SCRNMA92</td>
      <td class="stage">%T06SCRNMA93</td>
     </tr>
     <tr>
      <td class="number">10</td>
      <td class="name">%T06SCRNMA01</td>
      <td class="score">%T06SCRNMA02</td>
      <td class="stage">%T06SCRNMA03</td>
     </tr>
    </tbody>
   </table>

   <table class="score_per_level">
    <caption>霧雨 魔理沙（恋）</caption>
    <thead>
     <tr>
      <td class="number">No.</td>
      <td class="name">Name</td>
      <td class="score">Score</td>
      <td class="stage">Stage</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="number">1</td>
      <td class="name">%T06SCRNMB11</td>
      <td class="score">%T06SCRNMB12</td>
      <td class="stage">%T06SCRNMB13</td>
     </tr>
     <tr>
      <td class="number">2</td>
      <td class="name">%T06SCRNMB21</td>
      <td class="score">%T06SCRNMB22</td>
      <td class="stage">%T06SCRNMB23</td>
     </tr>
     <tr>
      <td class="number">3</td>
      <td class="name">%T06SCRNMB31</td>
      <td class="score">%T06SCRNMB32</td>
      <td class="stage">%T06SCRNMB33</td>
     </tr>
     <tr>
      <td class="number">4</td>
      <td class="name">%T06SCRNMB41</td>
      <td class="score">%T06SCRNMB42</td>
      <td class="stage">%T06SCRNMB43</td>
     </tr>
     <tr>
      <td class="number">5</td>
      <td class="name">%T06SCRNMB51</td>
      <td class="score">%T06SCRNMB52</td>
      <td class="stage">%T06SCRNMB53</td>
     </tr>
     <tr>
      <td class="number">6</td>
      <td class="name">%T06SCRNMB61</td>
      <td class="score">%T06SCRNMB62</td>
      <td class="stage">%T06SCRNMB63</td>
     </tr>
     <tr>
      <td class="number">7</td>
      <td class="name">%T06SCRNMB71</td>
      <td class="score">%T06SCRNMB72</td>
      <td class="stage">%T06SCRNMB73</td>
     </tr>
     <tr>
      <td class="number">8</td>
      <td class="name">%T06SCRNMB81</td>
      <td class="score">%T06SCRNMB82</td>
      <td class="stage">%T06SCRNMB83</td>
     </tr>
     <tr>
      <td class="number">9</td>
      <td class="name">%T06SCRNMB91</td>
      <td class="score">%T06SCRNMB92</td>
      <td class="stage">%T06SCRNMB93</td>
     </tr>
     <tr>
      <td class="number">10</td>
      <td class="name">%T06SCRNMB01</td>
      <td class="score">%T06SCRNMB02</td>
      <td class="stage">%T06SCRNMB03</td>
     </tr>
    </tbody>
   </table>
  </div>

  <hr />

  <div class="section">
   <h2 id="Hard">Hard</h2>

   <table class="score_per_level">
    <caption>博麗 霊夢（霊）</caption>
    <thead>
     <tr>
      <td class="number">No.</td>
      <td class="name">Name</td>
      <td class="score">Score</td>
      <td class="stage">Stage</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="number">1</td>
      <td class="name">%T06SCRHRA11</td>
      <td class="score">%T06SCRHRA12</td>
      <td class="stage">%T06SCRHRA13</td>
     </tr>
     <tr>
      <td class="number">2</td>
      <td class="name">%T06SCRHRA21</td>
      <td class="score">%T06SCRHRA22</td>
      <td class="stage">%T06SCRHRA23</td>
     </tr>
     <tr>
      <td class="number">3</td>
      <td class="name">%T06SCRHRA31</td>
      <td class="score">%T06SCRHRA32</td>
      <td class="stage">%T06SCRHRA33</td>
     </tr>
     <tr>
      <td class="number">4</td>
      <td class="name">%T06SCRHRA41</td>
      <td class="score">%T06SCRHRA42</td>
      <td class="stage">%T06SCRHRA43</td>
     </tr>
     <tr>
      <td class="number">5</td>
      <td class="name">%T06SCRHRA51</td>
      <td class="score">%T06SCRHRA52</td>
      <td class="stage">%T06SCRHRA53</td>
     </tr>
     <tr>
      <td class="number">6</td>
      <td class="name">%T06SCRHRA61</td>
      <td class="score">%T06SCRHRA62</td>
      <td class="stage">%T06SCRHRA63</td>
     </tr>
     <tr>
      <td class="number">7</td>
      <td class="name">%T06SCRHRA71</td>
      <td class="score">%T06SCRHRA72</td>
      <td class="stage">%T06SCRHRA73</td>
     </tr>
     <tr>
      <td class="number">8</td>
      <td class="name">%T06SCRHRA81</td>
      <td class="score">%T06SCRHRA82</td>
      <td class="stage">%T06SCRHRA83</td>
     </tr>
     <tr>
      <td class="number">9</td>
      <td class="name">%T06SCRHRA91</td>
      <td class="score">%T06SCRHRA92</td>
      <td class="stage">%T06SCRHRA93</td>
     </tr>
     <tr>
      <td class="number">10</td>
      <td class="name">%T06SCRHRA01</td>
      <td class="score">%T06SCRHRA02</td>
      <td class="stage">%T06SCRHRA03</td>
     </tr>
    </tbody>
   </table>

   <table class="score_per_level">
    <caption>博麗 霊夢（夢）</caption>
    <thead>
     <tr>
      <td class="number">No.</td>
      <td class="name">Name</td>
      <td class="score">Score</td>
      <td class="stage">Stage</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="number">1</td>
      <td class="name">%T06SCRHRB11</td>
      <td class="score">%T06SCRHRB12</td>
      <td class="stage">%T06SCRHRB13</td>
     </tr>
     <tr>
      <td class="number">2</td>
      <td class="name">%T06SCRHRB21</td>
      <td class="score">%T06SCRHRB22</td>
      <td class="stage">%T06SCRHRB23</td>
     </tr>
     <tr>
      <td class="number">3</td>
      <td class="name">%T06SCRHRB31</td>
      <td class="score">%T06SCRHRB32</td>
      <td class="stage">%T06SCRHRB33</td>
     </tr>
     <tr>
      <td class="number">4</td>
      <td class="name">%T06SCRHRB41</td>
      <td class="score">%T06SCRHRB42</td>
      <td class="stage">%T06SCRHRB43</td>
     </tr>
     <tr>
      <td class="number">5</td>
      <td class="name">%T06SCRHRB51</td>
      <td class="score">%T06SCRHRB52</td>
      <td class="stage">%T06SCRHRB53</td>
     </tr>
     <tr>
      <td class="number">6</td>
      <td class="name">%T06SCRHRB61</td>
      <td class="score">%T06SCRHRB62</td>
      <td class="stage">%T06SCRHRB63</td>
     </tr>
     <tr>
      <td class="number">7</td>
      <td class="name">%T06SCRHRB71</td>
      <td class="score">%T06SCRHRB72</td>
      <td class="stage">%T06SCRHRB73</td>
     </tr>
     <tr>
      <td class="number">8</td>
      <td class="name">%T06SCRHRB81</td>
      <td class="score">%T06SCRHRB82</td>
      <td class="stage">%T06SCRHRB83</td>
     </tr>
     <tr>
      <td class="number">9</td>
      <td class="name">%T06SCRHRB91</td>
      <td class="score">%T06SCRHRB92</td>
      <td class="stage">%T06SCRHRB93</td>
     </tr>
     <tr>
      <td class="number">10</td>
      <td class="name">%T06SCRHRB01</td>
      <td class="score">%T06SCRHRB02</td>
      <td class="stage">%T06SCRHRB03</td>
     </tr>
    </tbody>
   </table>

   <table class="score_per_level">
    <caption>霧雨 魔理沙（魔）</caption>
    <thead>
     <tr>
      <td class="number">No.</td>
      <td class="name">Name</td>
      <td class="score">Score</td>
      <td class="stage">Stage</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="number">1</td>
      <td class="name">%T06SCRHMA11</td>
      <td class="score">%T06SCRHMA12</td>
      <td class="stage">%T06SCRHMA13</td>
     </tr>
     <tr>
      <td class="number">2</td>
      <td class="name">%T06SCRHMA21</td>
      <td class="score">%T06SCRHMA22</td>
      <td class="stage">%T06SCRHMA23</td>
     </tr>
     <tr>
      <td class="number">3</td>
      <td class="name">%T06SCRHMA31</td>
      <td class="score">%T06SCRHMA32</td>
      <td class="stage">%T06SCRHMA33</td>
     </tr>
     <tr>
      <td class="number">4</td>
      <td class="name">%T06SCRHMA41</td>
      <td class="score">%T06SCRHMA42</td>
      <td class="stage">%T06SCRHMA43</td>
     </tr>
     <tr>
      <td class="number">5</td>
      <td class="name">%T06SCRHMA51</td>
      <td class="score">%T06SCRHMA52</td>
      <td class="stage">%T06SCRHMA53</td>
     </tr>
     <tr>
      <td class="number">6</td>
      <td class="name">%T06SCRHMA61</td>
      <td class="score">%T06SCRHMA62</td>
      <td class="stage">%T06SCRHMA63</td>
     </tr>
     <tr>
      <td class="number">7</td>
      <td class="name">%T06SCRHMA71</td>
      <td class="score">%T06SCRHMA72</td>
      <td class="stage">%T06SCRHMA73</td>
     </tr>
     <tr>
      <td class="number">8</td>
      <td class="name">%T06SCRHMA81</td>
      <td class="score">%T06SCRHMA82</td>
      <td class="stage">%T06SCRHMA83</td>
     </tr>
     <tr>
      <td class="number">9</td>
      <td class="name">%T06SCRHMA91</td>
      <td class="score">%T06SCRHMA92</td>
      <td class="stage">%T06SCRHMA93</td>
     </tr>
     <tr>
      <td class="number">10</td>
      <td class="name">%T06SCRHMA01</td>
      <td class="score">%T06SCRHMA02</td>
      <td class="stage">%T06SCRHMA03</td>
     </tr>
    </tbody>
   </table>

   <table class="score_per_level">
    <caption>霧雨 魔理沙（恋）</caption>
    <thead>
     <tr>
      <td class="number">No.</td>
      <td class="name">Name</td>
      <td class="score">Score</td>
      <td class="stage">Stage</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="number">1</td>
      <td class="name">%T06SCRHMB11</td>
      <td class="score">%T06SCRHMB12</td>
      <td class="stage">%T06SCRHMB13</td>
     </tr>
     <tr>
      <td class="number">2</td>
      <td class="name">%T06SCRHMB21</td>
      <td class="score">%T06SCRHMB22</td>
      <td class="stage">%T06SCRHMB23</td>
     </tr>
     <tr>
      <td class="number">3</td>
      <td class="name">%T06SCRHMB31</td>
      <td class="score">%T06SCRHMB32</td>
      <td class="stage">%T06SCRHMB33</td>
     </tr>
     <tr>
      <td class="number">4</td>
      <td class="name">%T06SCRHMB41</td>
      <td class="score">%T06SCRHMB42</td>
      <td class="stage">%T06SCRHMB43</td>
     </tr>
     <tr>
      <td class="number">5</td>
      <td class="name">%T06SCRHMB51</td>
      <td class="score">%T06SCRHMB52</td>
      <td class="stage">%T06SCRHMB53</td>
     </tr>
     <tr>
      <td class="number">6</td>
      <td class="name">%T06SCRHMB61</td>
      <td class="score">%T06SCRHMB62</td>
      <td class="stage">%T06SCRHMB63</td>
     </tr>
     <tr>
      <td class="number">7</td>
      <td class="name">%T06SCRHMB71</td>
      <td class="score">%T06SCRHMB72</td>
      <td class="stage">%T06SCRHMB73</td>
     </tr>
     <tr>
      <td class="number">8</td>
      <td class="name">%T06SCRHMB81</td>
      <td class="score">%T06SCRHMB82</td>
      <td class="stage">%T06SCRHMB83</td>
     </tr>
     <tr>
      <td class="number">9</td>
      <td class="name">%T06SCRHMB91</td>
      <td class="score">%T06SCRHMB92</td>
      <td class="stage">%T06SCRHMB93</td>
     </tr>
     <tr>
      <td class="number">10</td>
      <td class="name">%T06SCRHMB01</td>
      <td class="score">%T06SCRHMB02</td>
      <td class="stage">%T06SCRHMB03</td>
     </tr>
    </tbody>
   </table>
  </div>

  <hr />

  <div class="section">
   <h2 id="Lunatic">Lunatic</h2>

   <table class="score_per_level">
    <caption>博麗 霊夢（霊）</caption>
    <thead>
     <tr>
      <td class="number">No.</td>
      <td class="name">Name</td>
      <td class="score">Score</td>
      <td class="stage">Stage</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="number">1</td>
      <td class="name">%T06SCRLRA11</td>
      <td class="score">%T06SCRLRA12</td>
      <td class="stage">%T06SCRLRA13</td>
     </tr>
     <tr>
      <td class="number">2</td>
      <td class="name">%T06SCRLRA21</td>
      <td class="score">%T06SCRLRA22</td>
      <td class="stage">%T06SCRLRA23</td>
     </tr>
     <tr>
      <td class="number">3</td>
      <td class="name">%T06SCRLRA31</td>
      <td class="score">%T06SCRLRA32</td>
      <td class="stage">%T06SCRLRA33</td>
     </tr>
     <tr>
      <td class="number">4</td>
      <td class="name">%T06SCRLRA41</td>
      <td class="score">%T06SCRLRA42</td>
      <td class="stage">%T06SCRLRA43</td>
     </tr>
     <tr>
      <td class="number">5</td>
      <td class="name">%T06SCRLRA51</td>
      <td class="score">%T06SCRLRA52</td>
      <td class="stage">%T06SCRLRA53</td>
     </tr>
     <tr>
      <td class="number">6</td>
      <td class="name">%T06SCRLRA61</td>
      <td class="score">%T06SCRLRA62</td>
      <td class="stage">%T06SCRLRA63</td>
     </tr>
     <tr>
      <td class="number">7</td>
      <td class="name">%T06SCRLRA71</td>
      <td class="score">%T06SCRLRA72</td>
      <td class="stage">%T06SCRLRA73</td>
     </tr>
     <tr>
      <td class="number">8</td>
      <td class="name">%T06SCRLRA81</td>
      <td class="score">%T06SCRLRA82</td>
      <td class="stage">%T06SCRLRA83</td>
     </tr>
     <tr>
      <td class="number">9</td>
      <td class="name">%T06SCRLRA91</td>
      <td class="score">%T06SCRLRA92</td>
      <td class="stage">%T06SCRLRA93</td>
     </tr>
     <tr>
      <td class="number">10</td>
      <td class="name">%T06SCRLRA01</td>
      <td class="score">%T06SCRLRA02</td>
      <td class="stage">%T06SCRLRA03</td>
     </tr>
    </tbody>
   </table>

   <table class="score_per_level">
    <caption>博麗 霊夢（夢）</caption>
    <thead>
     <tr>
      <td class="number">No.</td>
      <td class="name">Name</td>
      <td class="score">Score</td>
      <td class="stage">Stage</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="number">1</td>
      <td class="name">%T06SCRLRB11</td>
      <td class="score">%T06SCRLRB12</td>
      <td class="stage">%T06SCRLRB13</td>
     </tr>
     <tr>
      <td class="number">2</td>
      <td class="name">%T06SCRLRB21</td>
      <td class="score">%T06SCRLRB22</td>
      <td class="stage">%T06SCRLRB23</td>
     </tr>
     <tr>
      <td class="number">3</td>
      <td class="name">%T06SCRLRB31</td>
      <td class="score">%T06SCRLRB32</td>
      <td class="stage">%T06SCRLRB33</td>
     </tr>
     <tr>
      <td class="number">4</td>
      <td class="name">%T06SCRLRB41</td>
      <td class="score">%T06SCRLRB42</td>
      <td class="stage">%T06SCRLRB43</td>
     </tr>
     <tr>
      <td class="number">5</td>
      <td class="name">%T06SCRLRB51</td>
      <td class="score">%T06SCRLRB52</td>
      <td class="stage">%T06SCRLRB53</td>
     </tr>
     <tr>
      <td class="number">6</td>
      <td class="name">%T06SCRLRB61</td>
      <td class="score">%T06SCRLRB62</td>
      <td class="stage">%T06SCRLRB63</td>
     </tr>
     <tr>
      <td class="number">7</td>
      <td class="name">%T06SCRLRB71</td>
      <td class="score">%T06SCRLRB72</td>
      <td class="stage">%T06SCRLRB73</td>
     </tr>
     <tr>
      <td class="number">8</td>
      <td class="name">%T06SCRLRB81</td>
      <td class="score">%T06SCRLRB82</td>
      <td class="stage">%T06SCRLRB83</td>
     </tr>
     <tr>
      <td class="number">9</td>
      <td class="name">%T06SCRLRB91</td>
      <td class="score">%T06SCRLRB92</td>
      <td class="stage">%T06SCRLRB93</td>
     </tr>
     <tr>
      <td class="number">10</td>
      <td class="name">%T06SCRLRB01</td>
      <td class="score">%T06SCRLRB02</td>
      <td class="stage">%T06SCRLRB03</td>
     </tr>
    </tbody>
   </table>

   <table class="score_per_level">
    <caption>霧雨 魔理沙（魔）</caption>
    <thead>
     <tr>
      <td class="number">No.</td>
      <td class="name">Name</td>
      <td class="score">Score</td>
      <td class="stage">Stage</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="number">1</td>
      <td class="name">%T06SCRLMA11</td>
      <td class="score">%T06SCRLMA12</td>
      <td class="stage">%T06SCRLMA13</td>
     </tr>
     <tr>
      <td class="number">2</td>
      <td class="name">%T06SCRLMA21</td>
      <td class="score">%T06SCRLMA22</td>
      <td class="stage">%T06SCRLMA23</td>
     </tr>
     <tr>
      <td class="number">3</td>
      <td class="name">%T06SCRLMA31</td>
      <td class="score">%T06SCRLMA32</td>
      <td class="stage">%T06SCRLMA33</td>
     </tr>
     <tr>
      <td class="number">4</td>
      <td class="name">%T06SCRLMA41</td>
      <td class="score">%T06SCRLMA42</td>
      <td class="stage">%T06SCRLMA43</td>
     </tr>
     <tr>
      <td class="number">5</td>
      <td class="name">%T06SCRLMA51</td>
      <td class="score">%T06SCRLMA52</td>
      <td class="stage">%T06SCRLMA53</td>
     </tr>
     <tr>
      <td class="number">6</td>
      <td class="name">%T06SCRLMA61</td>
      <td class="score">%T06SCRLMA62</td>
      <td class="stage">%T06SCRLMA63</td>
     </tr>
     <tr>
      <td class="number">7</td>
      <td class="name">%T06SCRLMA71</td>
      <td class="score">%T06SCRLMA72</td>
      <td class="stage">%T06SCRLMA73</td>
     </tr>
     <tr>
      <td class="number">8</td>
      <td class="name">%T06SCRLMA81</td>
      <td class="score">%T06SCRLMA82</td>
      <td class="stage">%T06SCRLMA83</td>
     </tr>
     <tr>
      <td class="number">9</td>
      <td class="name">%T06SCRLMA91</td>
      <td class="score">%T06SCRLMA92</td>
      <td class="stage">%T06SCRLMA93</td>
     </tr>
     <tr>
      <td class="number">10</td>
      <td class="name">%T06SCRLMA01</td>
      <td class="score">%T06SCRLMA02</td>
      <td class="stage">%T06SCRLMA03</td>
     </tr>
    </tbody>
   </table>

   <table class="score_per_level">
    <caption>霧雨 魔理沙（恋）</caption>
    <thead>
     <tr>
      <td class="number">No.</td>
      <td class="name">Name</td>
      <td class="score">Score</td>
      <td class="stage">Stage</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="number">1</td>
      <td class="name">%T06SCRLMB11</td>
      <td class="score">%T06SCRLMB12</td>
      <td class="stage">%T06SCRLMB13</td>
     </tr>
     <tr>
      <td class="number">2</td>
      <td class="name">%T06SCRLMB21</td>
      <td class="score">%T06SCRLMB22</td>
      <td class="stage">%T06SCRLMB23</td>
     </tr>
     <tr>
      <td class="number">3</td>
      <td class="name">%T06SCRLMB31</td>
      <td class="score">%T06SCRLMB32</td>
      <td class="stage">%T06SCRLMB33</td>
     </tr>
     <tr>
      <td class="number">4</td>
      <td class="name">%T06SCRLMB41</td>
      <td class="score">%T06SCRLMB42</td>
      <td class="stage">%T06SCRLMB43</td>
     </tr>
     <tr>
      <td class="number">5</td>
      <td class="name">%T06SCRLMB51</td>
      <td class="score">%T06SCRLMB52</td>
      <td class="stage">%T06SCRLMB53</td>
     </tr>
     <tr>
      <td class="number">6</td>
      <td class="name">%T06SCRLMB61</td>
      <td class="score">%T06SCRLMB62</td>
      <td class="stage">%T06SCRLMB63</td>
     </tr>
     <tr>
      <td class="number">7</td>
      <td class="name">%T06SCRLMB71</td>
      <td class="score">%T06SCRLMB72</td>
      <td class="stage">%T06SCRLMB73</td>
     </tr>
     <tr>
      <td class="number">8</td>
      <td class="name">%T06SCRLMB81</td>
      <td class="score">%T06SCRLMB82</td>
      <td class="stage">%T06SCRLMB83</td>
     </tr>
     <tr>
      <td class="number">9</td>
      <td class="name">%T06SCRLMB91</td>
      <td class="score">%T06SCRLMB92</td>
      <td class="stage">%T06SCRLMB93</td>
     </tr>
     <tr>
      <td class="number">10</td>
      <td class="name">%T06SCRLMB01</td>
      <td class="score">%T06SCRLMB02</td>
      <td class="stage">%T06SCRLMB03</td>
     </tr>
    </tbody>
   </table>
  </div>

  <hr />

  <div class="section">
   <h2 id="Extra">Extra</h2>

   <table class="score_per_level">
    <caption>博麗 霊夢（霊）</caption>
    <thead>
     <tr>
      <td class="number">No.</td>
      <td class="name">Name</td>
      <td class="score">Score</td>
      <td class="stage">Stage</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="number">1</td>
      <td class="name">%T06SCRXRA11</td>
      <td class="score">%T06SCRXRA12</td>
      <td class="stage">%T06SCRXRA13</td>
     </tr>
     <tr>
      <td class="number">2</td>
      <td class="name">%T06SCRXRA21</td>
      <td class="score">%T06SCRXRA22</td>
      <td class="stage">%T06SCRXRA23</td>
     </tr>
     <tr>
      <td class="number">3</td>
      <td class="name">%T06SCRXRA31</td>
      <td class="score">%T06SCRXRA32</td>
      <td class="stage">%T06SCRXRA33</td>
     </tr>
     <tr>
      <td class="number">4</td>
      <td class="name">%T06SCRXRA41</td>
      <td class="score">%T06SCRXRA42</td>
      <td class="stage">%T06SCRXRA43</td>
     </tr>
     <tr>
      <td class="number">5</td>
      <td class="name">%T06SCRXRA51</td>
      <td class="score">%T06SCRXRA52</td>
      <td class="stage">%T06SCRXRA53</td>
     </tr>
     <tr>
      <td class="number">6</td>
      <td class="name">%T06SCRXRA61</td>
      <td class="score">%T06SCRXRA62</td>
      <td class="stage">%T06SCRXRA63</td>
     </tr>
     <tr>
      <td class="number">7</td>
      <td class="name">%T06SCRXRA71</td>
      <td class="score">%T06SCRXRA72</td>
      <td class="stage">%T06SCRXRA73</td>
     </tr>
     <tr>
      <td class="number">8</td>
      <td class="name">%T06SCRXRA81</td>
      <td class="score">%T06SCRXRA82</td>
      <td class="stage">%T06SCRXRA83</td>
     </tr>
     <tr>
      <td class="number">9</td>
      <td class="name">%T06SCRXRA91</td>
      <td class="score">%T06SCRXRA92</td>
      <td class="stage">%T06SCRXRA93</td>
     </tr>
     <tr>
      <td class="number">10</td>
      <td class="name">%T06SCRXRA01</td>
      <td class="score">%T06SCRXRA02</td>
      <td class="stage">%T06SCRXRA03</td>
     </tr>
    </tbody>
   </table>

   <table class="score_per_level">
    <caption>博麗 霊夢（夢）</caption>
    <thead>
     <tr>
      <td class="number">No.</td>
      <td class="name">Name</td>
      <td class="score">Score</td>
      <td class="stage">Stage</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="number">1</td>
      <td class="name">%T06SCRXRB11</td>
      <td class="score">%T06SCRXRB12</td>
      <td class="stage">%T06SCRXRB13</td>
     </tr>
     <tr>
      <td class="number">2</td>
      <td class="name">%T06SCRXRB21</td>
      <td class="score">%T06SCRXRB22</td>
      <td class="stage">%T06SCRXRB23</td>
     </tr>
     <tr>
      <td class="number">3</td>
      <td class="name">%T06SCRXRB31</td>
      <td class="score">%T06SCRXRB32</td>
      <td class="stage">%T06SCRXRB33</td>
     </tr>
     <tr>
      <td class="number">4</td>
      <td class="name">%T06SCRXRB41</td>
      <td class="score">%T06SCRXRB42</td>
      <td class="stage">%T06SCRXRB43</td>
     </tr>
     <tr>
      <td class="number">5</td>
      <td class="name">%T06SCRXRB51</td>
      <td class="score">%T06SCRXRB52</td>
      <td class="stage">%T06SCRXRB53</td>
     </tr>
     <tr>
      <td class="number">6</td>
      <td class="name">%T06SCRXRB61</td>
      <td class="score">%T06SCRXRB62</td>
      <td class="stage">%T06SCRXRB63</td>
     </tr>
     <tr>
      <td class="number">7</td>
      <td class="name">%T06SCRXRB71</td>
      <td class="score">%T06SCRXRB72</td>
      <td class="stage">%T06SCRXRB73</td>
     </tr>
     <tr>
      <td class="number">8</td>
      <td class="name">%T06SCRXRB81</td>
      <td class="score">%T06SCRXRB82</td>
      <td class="stage">%T06SCRXRB83</td>
     </tr>
     <tr>
      <td class="number">9</td>
      <td class="name">%T06SCRXRB91</td>
      <td class="score">%T06SCRXRB92</td>
      <td class="stage">%T06SCRXRB93</td>
     </tr>
     <tr>
      <td class="number">10</td>
      <td class="name">%T06SCRXRB01</td>
      <td class="score">%T06SCRXRB02</td>
      <td class="stage">%T06SCRXRB03</td>
     </tr>
    </tbody>
   </table>

   <table class="score_per_level">
    <caption>霧雨 魔理沙（魔）</caption>
    <thead>
     <tr>
      <td class="number">No.</td>
      <td class="name">Name</td>
      <td class="score">Score</td>
      <td class="stage">Stage</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="number">1</td>
      <td class="name">%T06SCRXMA11</td>
      <td class="score">%T06SCRXMA12</td>
      <td class="stage">%T06SCRXMA13</td>
     </tr>
     <tr>
      <td class="number">2</td>
      <td class="name">%T06SCRXMA21</td>
      <td class="score">%T06SCRXMA22</td>
      <td class="stage">%T06SCRXMA23</td>
     </tr>
     <tr>
      <td class="number">3</td>
      <td class="name">%T06SCRXMA31</td>
      <td class="score">%T06SCRXMA32</td>
      <td class="stage">%T06SCRXMA33</td>
     </tr>
     <tr>
      <td class="number">4</td>
      <td class="name">%T06SCRXMA41</td>
      <td class="score">%T06SCRXMA42</td>
      <td class="stage">%T06SCRXMA43</td>
     </tr>
     <tr>
      <td class="number">5</td>
      <td class="name">%T06SCRXMA51</td>
      <td class="score">%T06SCRXMA52</td>
      <td class="stage">%T06SCRXMA53</td>
     </tr>
     <tr>
      <td class="number">6</td>
      <td class="name">%T06SCRXMA61</td>
      <td class="score">%T06SCRXMA62</td>
      <td class="stage">%T06SCRXMA63</td>
     </tr>
     <tr>
      <td class="number">7</td>
      <td class="name">%T06SCRXMA71</td>
      <td class="score">%T06SCRXMA72</td>
      <td class="stage">%T06SCRXMA73</td>
     </tr>
     <tr>
      <td class="number">8</td>
      <td class="name">%T06SCRXMA81</td>
      <td class="score">%T06SCRXMA82</td>
      <td class="stage">%T06SCRXMA83</td>
     </tr>
     <tr>
      <td class="number">9</td>
      <td class="name">%T06SCRXMA91</td>
      <td class="score">%T06SCRXMA92</td>
      <td class="stage">%T06SCRXMA93</td>
     </tr>
     <tr>
      <td class="number">10</td>
      <td class="name">%T06SCRXMA01</td>
      <td class="score">%T06SCRXMA02</td>
      <td class="stage">%T06SCRXMA03</td>
     </tr>
    </tbody>
   </table>

   <table class="score_per_level">
    <caption>霧雨 魔理沙（恋）</caption>
    <thead>
     <tr>
      <td class="number">No.</td>
      <td class="name">Name</td>
      <td class="score">Score</td>
      <td class="stage">Stage</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="number">1</td>
      <td class="name">%T06SCRXMB11</td>
      <td class="score">%T06SCRXMB12</td>
      <td class="stage">%T06SCRXMB13</td>
     </tr>
     <tr>
      <td class="number">2</td>
      <td class="name">%T06SCRXMB21</td>
      <td class="score">%T06SCRXMB22</td>
      <td class="stage">%T06SCRXMB23</td>
     </tr>
     <tr>
      <td class="number">3</td>
      <td class="name">%T06SCRXMB31</td>
      <td class="score">%T06SCRXMB32</td>
      <td class="stage">%T06SCRXMB33</td>
     </tr>
     <tr>
      <td class="number">4</td>
      <td class="name">%T06SCRXMB41</td>
      <td class="score">%T06SCRXMB42</td>
      <td class="stage">%T06SCRXMB43</td>
     </tr>
     <tr>
      <td class="number">5</td>
      <td class="name">%T06SCRXMB51</td>
      <td class="score">%T06SCRXMB52</td>
      <td class="stage">%T06SCRXMB53</td>
     </tr>
     <tr>
      <td class="number">6</td>
      <td class="name">%T06SCRXMB61</td>
      <td class="score">%T06SCRXMB62</td>
      <td class="stage">%T06SCRXMB63</td>
     </tr>
     <tr>
      <td class="number">7</td>
      <td class="name">%T06SCRXMB71</td>
      <td class="score">%T06SCRXMB72</td>
      <td class="stage">%T06SCRXMB73</td>
     </tr>
     <tr>
      <td class="number">8</td>
      <td class="name">%T06SCRXMB81</td>
      <td class="score">%T06SCRXMB82</td>
      <td class="stage">%T06SCRXMB83</td>
     </tr>
     <tr>
      <td class="number">9</td>
      <td class="name">%T06SCRXMB91</td>
      <td class="score">%T06SCRXMB92</td>
      <td class="stage">%T06SCRXMB93</td>
     </tr>
     <tr>
      <td class="number">10</td>
      <td class="name">%T06SCRXMB01</td>
      <td class="score">%T06SCRXMB02</td>
      <td class="stage">%T06SCRXMB03</td>
     </tr>
    </tbody>
   </table>
  </div>

  <hr />

  <div class="section">
   <p>
    Data output by <a href="https://www.colorless-sight.jp/thsfc/">ThScoreFileConverter</a>.
<script type="text/javascript">
<!--
    document.write("Last updated: ", document.lastModified, ".");
//-->
</script>
   </p>
  </div>

 </body>
</html>
