<?xml version="1.0" encoding="Shift_JIS"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja">

 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=Shift_JIS" />
  <meta http-equiv="Content-Style-Type" content="text/css" />
  <meta http-equiv="Content-Script-Type" content="text/javascript" />
  <title>東方紅魔郷スコアデータ</title>
  <link rel="stylesheet" type="text/css" href="style.css" />
  <link rel="stylesheet" type="text/css" href="th06.css" />
<style type="text/css">
<!--
    table.score_per_level { float: left; }
    table.rate_per_card td.number { min-width: 50px; }
    table.rate_per_card td.card { min-width: 200px; }
    table.rate_per_card td.rate { min-width: 120px; }
    table.rate_per_stage td.rate { min-width: 150px; }
-->
</style>
 </head>

 <body>
  <h1>東方紅魔郷スコアデータ</h1>

  <hr />

  <div class="section">
   <p>
    スコアデータ全般 /
    <a href="th06score2.html">個別ランキング</a> /
    <a href="th06score3.html">プラクティス</a><br />
    <a href="#Easy">Easy</a> /
    <a href="#Normal">Normal</a> /
    <a href="#Hard">Hard</a> /
    <a href="#Lunatic">Lunatic</a> /
    <a href="#Extra">Extra</a> /
    <a href="#Card">御札戦歴</a> /
    <a href="#Clear">クリア達成度</a>
   </p>
  </div>

  <hr />

  <div class="section">
   <h2>難易度別スコア</h2>

   <table class="score_per_level">
    <caption id="Easy">Easy</caption>
    <thead>
     <tr>
      <td class="character">Character</td>
      <td class="name">Name</td>
      <td class="score">Score</td>
      <td class="stage">Stage</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="character">博麗 霊夢（霊）</td>
      <td class="name">%T06SCRERA11</td>
      <td class="score">%T06SCRERA12</td>
      <td class="stage">%T06SCRERA13</td>
     </tr>
     <tr>
      <td class="character">博麗 霊夢（夢）</td>
      <td class="name">%T06SCRERB11</td>
      <td class="score">%T06SCRERB12</td>
      <td class="stage">%T06SCRERB13</td>
     </tr>
     <tr>
      <td class="character">霧雨 魔理沙（魔）</td>
      <td class="name">%T06SCREMA11</td>
      <td class="score">%T06SCREMA12</td>
      <td class="stage">%T06SCREMA13</td>
     </tr>
     <tr>
      <td class="character">霧雨 魔理沙（恋）</td>
      <td class="name">%T06SCREMB11</td>
      <td class="score">%T06SCREMB12</td>
      <td class="stage">%T06SCREMB13</td>
     </tr>
    </tbody>
   </table>
 
   <table class="score_per_level">
    <caption id="Normal">Normal</caption>
    <thead>
     <tr>
      <td class="character">Character</td>
      <td class="name">Name</td>
      <td class="score">Score</td>
      <td class="stage">Stage</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="character">博麗 霊夢（霊）</td>
      <td class="name">%T06SCRNRA11</td>
      <td class="score">%T06SCRNRA12</td>
      <td class="stage">%T06SCRNRA13</td>
     </tr>
     <tr>
      <td class="character">博麗 霊夢（夢）</td>
      <td class="name">%T06SCRNRB11</td>
      <td class="score">%T06SCRNRB12</td>
      <td class="stage">%T06SCRNRB13</td>
     </tr>
     <tr>
      <td class="character">霧雨 魔理沙（魔）</td>
      <td class="name">%T06SCRNMA11</td>
      <td class="score">%T06SCRNMA12</td>
      <td class="stage">%T06SCRNMA13</td>
     </tr>
     <tr>
      <td class="character">霧雨 魔理沙（恋）</td>
      <td class="name">%T06SCRNMB11</td>
      <td class="score">%T06SCRNMB12</td>
      <td class="stage">%T06SCRNMB13</td>
     </tr>
    </tbody>
   </table>
 
   <table class="score_per_level">
    <caption id="Hard">Hard</caption>
    <thead>
     <tr>
      <td class="character">Character</td>
      <td class="name">Name</td>
      <td class="score">Score</td>
      <td class="stage">Stage</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="character">博麗 霊夢（霊）</td>
      <td class="name">%T06SCRHRA11</td>
      <td class="score">%T06SCRHRA12</td>
      <td class="stage">%T06SCRHRA13</td>
     </tr>
     <tr>
      <td class="character">博麗 霊夢（夢）</td>
      <td class="name">%T06SCRHRB11</td>
      <td class="score">%T06SCRHRB12</td>
      <td class="stage">%T06SCRHRB13</td>
     </tr>
     <tr>
      <td class="character">霧雨 魔理沙（魔）</td>
      <td class="name">%T06SCRHMA11</td>
      <td class="score">%T06SCRHMA12</td>
      <td class="stage">%T06SCRHMA13</td>
     </tr>
     <tr>
      <td class="character">霧雨 魔理沙（恋）</td>
      <td class="name">%T06SCRHMB11</td>
      <td class="score">%T06SCRHMB12</td>
      <td class="stage">%T06SCRHMB13</td>
     </tr>
    </tbody>
   </table>
 
   <table class="score_per_level">
    <caption id="Lunatic">Lunatic</caption>
    <thead>
     <tr>
      <td class="character">Character</td>
      <td class="name">Name</td>
      <td class="score">Score</td>
      <td class="stage">Stage</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="character">博麗 霊夢（霊）</td>
      <td class="name">%T06SCRLRA11</td>
      <td class="score">%T06SCRLRA12</td>
      <td class="stage">%T06SCRLRA13</td>
     </tr>
     <tr>
      <td class="character">博麗 霊夢（夢）</td>
      <td class="name">%T06SCRLRB11</td>
      <td class="score">%T06SCRLRB12</td>
      <td class="stage">%T06SCRLRB13</td>
     </tr>
     <tr>
      <td class="character">霧雨 魔理沙（魔）</td>
      <td class="name">%T06SCRLMA11</td>
      <td class="score">%T06SCRLMA12</td>
      <td class="stage">%T06SCRLMA13</td>
     </tr>
     <tr>
      <td class="character">霧雨 魔理沙（恋）</td>
      <td class="name">%T06SCRLMB11</td>
      <td class="score">%T06SCRLMB12</td>
      <td class="stage">%T06SCRLMB13</td>
     </tr>
    </tbody>
   </table>
 
   <table class="score_per_level">
    <caption id="Extra">Extra</caption>
    <thead>
     <tr>
      <td class="character">Character</td>
      <td class="name">Name</td>
      <td class="score">Score</td>
      <td class="stage">Stage</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="character">博麗 霊夢（霊）</td>
      <td class="name">%T06SCRXRA11</td>
      <td class="score">%T06SCRXRA12</td>
      <td class="stage">%T06SCRXRA13</td>
     </tr>
     <tr>
      <td class="character">博麗 霊夢（夢）</td>
      <td class="name">%T06SCRXRB11</td>
      <td class="score">%T06SCRXRB12</td>
      <td class="stage">%T06SCRXRB13</td>
     </tr>
     <tr>
      <td class="character">霧雨 魔理沙（魔）</td>
      <td class="name">%T06SCRXMA11</td>
      <td class="score">%T06SCRXMA12</td>
      <td class="stage">%T06SCRXMA13</td>
     </tr>
     <tr>
      <td class="character">霧雨 魔理沙（恋）</td>
      <td class="name">%T06SCRXMB11</td>
      <td class="score">%T06SCRXMB12</td>
      <td class="stage">%T06SCRXMB13</td>
     </tr>
    </tbody>
   </table>
  </div>

  <hr />

  <div class="section">
   <h2 id="Card">御札戦歴</h2>

   <table class="rate_per_card">
    <caption>スペルカード別取得率（取得回数 / 遭遇回数）</caption>
    <thead>
     <tr>
      <td class="number">No.</td>
      <td class="card">スペルカード名（難易度）</td>
      <td class="rate">全主人公合計</td>
     </tr>
    </thead>
    <tfoot>
     <tr>
      <td colspan="2">Total</td>
      <td class="rate">%T06C001 / %T06C002</td>
     </tr>
    </tfoot>
    <tbody>
     <tr>
      <td class="number">No.01</td>
      <td class="card">%T06CARD01N<br />(%T06CARD01R)</td>
      <td class="rate">%T06C011 / %T06C012</td>
     </tr>
     <tr>
      <td class="number">No.02</td>
      <td class="card">%T06CARD02N<br />(%T06CARD02R)</td>
      <td class="rate">%T06C021 / %T06C022</td>
     </tr>
     <tr>
      <td class="number">No.03</td>
      <td class="card">%T06CARD03N<br />(%T06CARD03R)</td>
      <td class="rate">%T06C031 / %T06C032</td>
     </tr>
     <tr>
      <td class="number">No.04</td>
      <td class="card">%T06CARD04N<br />(%T06CARD04R)</td>
      <td class="rate">%T06C041 / %T06C042</td>
     </tr>
     <tr>
      <td class="number">No.05</td>
      <td class="card">%T06CARD05N<br />(%T06CARD05R)</td>
      <td class="rate">%T06C051 / %T06C052</td>
     </tr>
     <tr>
      <td class="number">No.06</td>
      <td class="card">%T06CARD06N<br />(%T06CARD06R)</td>
      <td class="rate">%T06C061 / %T06C062</td>
     </tr>
     <tr>
      <td class="number">No.07</td>
      <td class="card">%T06CARD07N<br />(%T06CARD07R)</td>
      <td class="rate">%T06C071 / %T06C072</td>
     </tr>
     <tr>
      <td class="number">No.08</td>
      <td class="card">%T06CARD08N<br />(%T06CARD08R)</td>
      <td class="rate">%T06C081 / %T06C082</td>
     </tr>
     <tr>
      <td class="number">No.09</td>
      <td class="card">%T06CARD09N<br />(%T06CARD09R)</td>
      <td class="rate">%T06C091 / %T06C092</td>
     </tr>
     <tr>
      <td class="number">No.10</td>
      <td class="card">%T06CARD10N<br />(%T06CARD10R)</td>
      <td class="rate">%T06C101 / %T06C102</td>
     </tr>
     <tr>
      <td class="number">No.11</td>
      <td class="card">%T06CARD11N<br />(%T06CARD11R)</td>
      <td class="rate">%T06C111 / %T06C112</td>
     </tr>
     <tr>
      <td class="number">No.12</td>
      <td class="card">%T06CARD12N<br />(%T06CARD12R)</td>
      <td class="rate">%T06C121 / %T06C122</td>
     </tr>
     <tr>
      <td class="number">No.13</td>
      <td class="card">%T06CARD13N<br />(%T06CARD13R)</td>
      <td class="rate">%T06C131 / %T06C132</td>
     </tr>
     <tr>
      <td class="number">No.14</td>
      <td class="card">%T06CARD14N<br />(%T06CARD14R)</td>
      <td class="rate">%T06C141 / %T06C142</td>
     </tr>
     <tr>
      <td class="number">No.15</td>
      <td class="card">%T06CARD15N<br />(%T06CARD15R)</td>
      <td class="rate">%T06C151 / %T06C152</td>
     </tr>
     <tr>
      <td class="number">No.16</td>
      <td class="card">%T06CARD16N<br />(%T06CARD16R)</td>
      <td class="rate">%T06C161 / %T06C162</td>
     </tr>
     <tr>
      <td class="number">No.17</td>
      <td class="card">%T06CARD17N<br />(%T06CARD17R)</td>
      <td class="rate">%T06C171 / %T06C172</td>
     </tr>
     <tr>
      <td class="number">No.18</td>
      <td class="card">%T06CARD18N<br />(%T06CARD18R)</td>
      <td class="rate">%T06C181 / %T06C182</td>
     </tr>
     <tr>
      <td class="number">No.19</td>
      <td class="card">%T06CARD19N<br />(%T06CARD19R)</td>
      <td class="rate">%T06C191 / %T06C192</td>
     </tr>
     <tr>
      <td class="number">No.20</td>
      <td class="card">%T06CARD20N<br />(%T06CARD20R)</td>
      <td class="rate">%T06C201 / %T06C202</td>
     </tr>
     <tr>
      <td class="number">No.21</td>
      <td class="card">%T06CARD21N<br />(%T06CARD21R)</td>
      <td class="rate">%T06C211 / %T06C212</td>
     </tr>
     <tr>
      <td class="number">No.22</td>
      <td class="card">%T06CARD22N<br />(%T06CARD22R)</td>
      <td class="rate">%T06C221 / %T06C222</td>
     </tr>
     <tr>
      <td class="number">No.23</td>
      <td class="card">%T06CARD23N<br />(%T06CARD23R)</td>
      <td class="rate">%T06C231 / %T06C232</td>
     </tr>
     <tr>
      <td class="number">No.24</td>
      <td class="card">%T06CARD24N<br />(%T06CARD24R)</td>
      <td class="rate">%T06C241 / %T06C242</td>
     </tr>
     <tr>
      <td class="number">No.25</td>
      <td class="card">%T06CARD25N<br />(%T06CARD25R)</td>
      <td class="rate">%T06C251 / %T06C252</td>
     </tr>
     <tr>
      <td class="number">No.26</td>
      <td class="card">%T06CARD26N<br />(%T06CARD26R)</td>
      <td class="rate">%T06C261 / %T06C262</td>
     </tr>
     <tr>
      <td class="number">No.27</td>
      <td class="card">%T06CARD27N<br />(%T06CARD27R)</td>
      <td class="rate">%T06C271 / %T06C272</td>
     </tr>
     <tr>
      <td class="number">No.28</td>
      <td class="card">%T06CARD28N<br />(%T06CARD28R)</td>
      <td class="rate">%T06C281 / %T06C282</td>
     </tr>
     <tr>
      <td class="number">No.29</td>
      <td class="card">%T06CARD29N<br />(%T06CARD29R)</td>
      <td class="rate">%T06C291 / %T06C292</td>
     </tr>
     <tr>
      <td class="number">No.30</td>
      <td class="card">%T06CARD30N<br />(%T06CARD30R)</td>
      <td class="rate">%T06C301 / %T06C302</td>
     </tr>
     <tr>
      <td class="number">No.31</td>
      <td class="card">%T06CARD31N<br />(%T06CARD31R)</td>
      <td class="rate">%T06C311 / %T06C312</td>
     </tr>
     <tr>
      <td class="number">No.32</td>
      <td class="card">%T06CARD32N<br />(%T06CARD32R)</td>
      <td class="rate">%T06C321 / %T06C322</td>
     </tr>
     <tr>
      <td class="number">No.33</td>
      <td class="card">%T06CARD33N<br />(%T06CARD33R)</td>
      <td class="rate">%T06C331 / %T06C332</td>
     </tr>
     <tr>
      <td class="number">No.34</td>
      <td class="card">%T06CARD34N<br />(%T06CARD34R)</td>
      <td class="rate">%T06C341 / %T06C342</td>
     </tr>
     <tr>
      <td class="number">No.35</td>
      <td class="card">%T06CARD35N<br />(%T06CARD35R)</td>
      <td class="rate">%T06C351 / %T06C352</td>
     </tr>
     <tr>
      <td class="number">No.36</td>
      <td class="card">%T06CARD36N<br />(%T06CARD36R)</td>
      <td class="rate">%T06C361 / %T06C362</td>
     </tr>
     <tr>
      <td class="number">No.37</td>
      <td class="card">%T06CARD37N<br />(%T06CARD37R)</td>
      <td class="rate">%T06C371 / %T06C372</td>
     </tr>
     <tr>
      <td class="number">No.38</td>
      <td class="card">%T06CARD38N<br />(%T06CARD38R)</td>
      <td class="rate">%T06C381 / %T06C382</td>
     </tr>
     <tr>
      <td class="number">No.39</td>
      <td class="card">%T06CARD39N<br />(%T06CARD39R)</td>
      <td class="rate">%T06C391 / %T06C392</td>
     </tr>
     <tr>
      <td class="number">No.40</td>
      <td class="card">%T06CARD40N<br />(%T06CARD40R)</td>
      <td class="rate">%T06C401 / %T06C402</td>
     </tr>
     <tr>
      <td class="number">No.41</td>
      <td class="card">%T06CARD41N<br />(%T06CARD41R)</td>
      <td class="rate">%T06C411 / %T06C412</td>
     </tr>
     <tr>
      <td class="number">No.42</td>
      <td class="card">%T06CARD42N<br />(%T06CARD42R)</td>
      <td class="rate">%T06C421 / %T06C422</td>
     </tr>
     <tr>
      <td class="number">No.43</td>
      <td class="card">%T06CARD43N<br />(%T06CARD43R)</td>
      <td class="rate">%T06C431 / %T06C432</td>
     </tr>
     <tr>
      <td class="number">No.44</td>
      <td class="card">%T06CARD44N<br />(%T06CARD44R)</td>
      <td class="rate">%T06C441 / %T06C442</td>
     </tr>
     <tr>
      <td class="number">No.45</td>
      <td class="card">%T06CARD45N<br />(%T06CARD45R)</td>
      <td class="rate">%T06C451 / %T06C452</td>
     </tr>
     <tr>
      <td class="number">No.46</td>
      <td class="card">%T06CARD46N<br />(%T06CARD46R)</td>
      <td class="rate">%T06C461 / %T06C462</td>
     </tr>
     <tr>
      <td class="number">No.47</td>
      <td class="card">%T06CARD47N<br />(%T06CARD47R)</td>
      <td class="rate">%T06C471 / %T06C472</td>
     </tr>
     <tr>
      <td class="number">No.48</td>
      <td class="card">%T06CARD48N<br />(%T06CARD48R)</td>
      <td class="rate">%T06C481 / %T06C482</td>
     </tr>
     <tr>
      <td class="number">No.49</td>
      <td class="card">%T06CARD49N<br />(%T06CARD49R)</td>
      <td class="rate">%T06C491 / %T06C492</td>
     </tr>
     <tr>
      <td class="number">No.50</td>
      <td class="card">%T06CARD50N<br />(%T06CARD50R)</td>
      <td class="rate">%T06C501 / %T06C502</td>
     </tr>
     <tr>
      <td class="number">No.51</td>
      <td class="card">%T06CARD51N<br />(%T06CARD51R)</td>
      <td class="rate">%T06C511 / %T06C512</td>
     </tr>
     <tr>
      <td class="number">No.52</td>
      <td class="card">%T06CARD52N<br />(%T06CARD52R)</td>
      <td class="rate">%T06C521 / %T06C522</td>
     </tr>
     <tr>
      <td class="number">No.53</td>
      <td class="card">%T06CARD53N<br />(%T06CARD53R)</td>
      <td class="rate">%T06C531 / %T06C532</td>
     </tr>
     <tr>
      <td class="number">No.54</td>
      <td class="card">%T06CARD54N<br />(%T06CARD54R)</td>
      <td class="rate">%T06C541 / %T06C542</td>
     </tr>
     <tr>
      <td class="number">No.55</td>
      <td class="card">%T06CARD55N<br />(%T06CARD55R)</td>
      <td class="rate">%T06C551 / %T06C552</td>
     </tr>
     <tr>
      <td class="number">No.56</td>
      <td class="card">%T06CARD56N<br />(%T06CARD56R)</td>
      <td class="rate">%T06C561 / %T06C562</td>
     </tr>
     <tr>
      <td class="number">No.57</td>
      <td class="card">%T06CARD57N<br />(%T06CARD57R)</td>
      <td class="rate">%T06C571 / %T06C572</td>
     </tr>
     <tr>
      <td class="number">No.58</td>
      <td class="card">%T06CARD58N<br />(%T06CARD58R)</td>
      <td class="rate">%T06C581 / %T06C582</td>
     </tr>
     <tr>
      <td class="number">No.59</td>
      <td class="card">%T06CARD59N<br />(%T06CARD59R)</td>
      <td class="rate">%T06C591 / %T06C592</td>
     </tr>
     <tr>
      <td class="number">No.60</td>
      <td class="card">%T06CARD60N<br />(%T06CARD60R)</td>
      <td class="rate">%T06C601 / %T06C602</td>
     </tr>
     <tr>
      <td class="number">No.61</td>
      <td class="card">%T06CARD61N<br />(%T06CARD61R)</td>
      <td class="rate">%T06C611 / %T06C612</td>
     </tr>
     <tr>
      <td class="number">No.62</td>
      <td class="card">%T06CARD62N<br />(%T06CARD62R)</td>
      <td class="rate">%T06C621 / %T06C622</td>
     </tr>
     <tr>
      <td class="number">No.63</td>
      <td class="card">%T06CARD63N<br />(%T06CARD63R)</td>
      <td class="rate">%T06C631 / %T06C632</td>
     </tr>
     <tr>
      <td class="number">No.64</td>
      <td class="card">%T06CARD64N<br />(%T06CARD64R)</td>
      <td class="rate">%T06C641 / %T06C642</td>
     </tr>
    </tbody>
   </table>
 
   <table class="rate_per_stage">
    <caption>ステージ別スペルカード取得率<br />（取得回数 / 遭遇回数 / 総数）</caption>
    <thead>
     <tr>
      <td class="stage">ステージ</td>
      <td class="rate">全主人公合計</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="stage">Stage 1</td>
      <td class="rate">%T06CRG11 / %T06CRG12 / 3</td>
     </tr>
     <tr>
      <td class="stage">Stage 2</td>
      <td class="rate">%T06CRG21 / %T06CRG22 / 4</td>
     </tr>
     <tr>
      <td class="stage">Stage 3</td>
      <td class="rate">%T06CRG31 / %T06CRG32 / 7</td>
     </tr>
     <tr>
      <td class="stage">Stage 4</td>
      <td class="rate">%T06CRG41 / %T06CRG42 / 18</td>
     </tr>
     <tr>
      <td class="stage">Stage 5</td>
      <td class="rate">%T06CRG51 / %T06CRG52 / 8</td>
     </tr>
     <tr>
      <td class="stage">Stage 6</td>
      <td class="rate">%T06CRG61 / %T06CRG62 / 11</td>
     </tr>
     <tr>
      <td class="stage">Extra</td>
      <td class="rate">%T06CRGX1 / %T06CRGX2 / 13</td>
     </tr>
     <tr>
      <td>Total</td>
      <td class="rate">%T06CRG01 / %T06CRG02 / 64</td>
     </tr>
    </tbody>
   </table>
  </div>

  <hr />

  <div class="section">
   <h2 id="Clear">クリア達成度</h2>

   <table class="clear">
    <thead>
     <tr>
      <td class="character">Character</td>
      <td class="level">Easy</td>
      <td class="level">Normal</td>
      <td class="level">Hard</td>
      <td class="level">Lunatic</td>
      <td class="level">Extra</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="character">博麗 霊夢（霊）</td>
      <td class="stage">%T06CLEARERA</td>
      <td class="stage">%T06CLEARNRA</td>
      <td class="stage">%T06CLEARHRA</td>
      <td class="stage">%T06CLEARLRA</td>
      <td class="stage">%T06CLEARXRA</td>
     </tr>
     <tr>
      <td class="character">博麗 霊夢（夢）</td>
      <td class="stage">%T06CLEARERB</td>
      <td class="stage">%T06CLEARNRB</td>
      <td class="stage">%T06CLEARHRB</td>
      <td class="stage">%T06CLEARLRB</td>
      <td class="stage">%T06CLEARXRB</td>
     </tr>
     <tr>
      <td class="character">霧雨 魔理沙（魔）</td>
      <td class="stage">%T06CLEAREMA</td>
      <td class="stage">%T06CLEARNMA</td>
      <td class="stage">%T06CLEARHMA</td>
      <td class="stage">%T06CLEARLMA</td>
      <td class="stage">%T06CLEARXMA</td>
     </tr>
     <tr>
      <td class="character">霧雨 魔理沙（恋）</td>
      <td class="stage">%T06CLEAREMB</td>
      <td class="stage">%T06CLEARNMB</td>
      <td class="stage">%T06CLEARHMB</td>
      <td class="stage">%T06CLEARLMB</td>
      <td class="stage">%T06CLEARXMB</td>
     </tr>
    </tbody>
   </table>
  </div>

  <hr />

  <div class="section">
   <p>
    Data output by <a href="https://www.colorless-sight.jp/thsfc/">ThScoreFileConverter</a>.
<script type="text/javascript">
<!--
    document.write("Last updated: ", document.lastModified, ".");
//-->
</script>
   </p>
  </div>

 </body>
</html>
