/*
 * th08.css
 *	Cascading style sheet for TH08 result files
 */

td.character {
	min-width: 120px;
}

td.name {
	min-width: 70px;
}

td.score {
	min-width: 70px;
}

td.level {
	min-width: 70px;
}

td.stage {
	min-width: 100px;
}

td.date {
	min-width: 40px;
}

td.slow {
	min-width: 40px;
}
