<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja">

 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="Content-Style-Type" content="text/css" />
  <meta http-equiv="Content-Script-Type" content="text/javascript" />
  <title>東方文花帖ベストショット一覧</title>
  <link rel="stylesheet" type="text/css" href="style.css" />
<style type="text/css">
<!--
    table.bestshot { float: left; }
    table.bestshot td.bestshot { padding: 2px; width: 260px; height: 196px; }
    table.bestshot td.spell { height: 1em; }
-->
</style>
 </head>

 <body>

  <h1>東方文花帖ベストショット一覧</h1>

  <hr />

  <div class="section">
   <p>
    <a href="th095score.html">スコアデータ全般</a> /
    ベストショット一覧<br />
    <a href="#Level1">Level 1</a> /
    <a href="#Level2">Level 2</a> /
    <a href="#Level3">Level 3</a> /
    <a href="#Level4">Level 4</a> /
    <a href="#Level5">Level 5</a> /
    <a href="#Level6">Level 6</a> /
    <a href="#Level7">Level 7</a> /
    <a href="#Level8">Level 8</a> /
    <a href="#Level9">Level 9</a> /
    <a href="#Level10">Level 10</a> /
    <a href="#Extra">Level Extra</a>
   </p>
  </div>

  <hr />

  <div class="section">
   <h2 id="Level1">Level 1</h2>
   <table class="bestshot">
    <caption>Scene 1</caption>
    <tbody>
     <tr><td class="bestshot"><img src="%T95SHOTEX111" width="%T95SHOTEX112" height="%T95SHOTEX113" alt="Score: %T95SHOTEX114, Slow: %T95SHOTEX115, DateTime: %T95SHOTEX116" title="Score: %T95SHOTEX114, Slow: %T95SHOTEX115, DateTime: %T95SHOTEX116" /></td></tr>
     <tr><td class="spell">%T95CARD112</td></tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>Scene 2</caption>
    <tbody>
     <tr><td class="bestshot"><img src="%T95SHOTEX121" width="%T95SHOTEX122" height="%T95SHOTEX123" alt="Score: %T95SHOTEX124, Slow: %T95SHOTEX125, DateTime: %T95SHOTEX126" title="Score: %T95SHOTEX124, Slow: %T95SHOTEX125, DateTime: %T95SHOTEX126" /></td></tr>
     <tr><td class="spell">%T95CARD122</td></tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>Scene 3</caption>
    <tbody>
     <tr><td class="bestshot"><img src="%T95SHOTEX131" width="%T95SHOTEX132" height="%T95SHOTEX133" alt="Score: %T95SHOTEX134, Slow: %T95SHOTEX135, DateTime: %T95SHOTEX136" title="Score: %T95SHOTEX134, Slow: %T95SHOTEX135, DateTime: %T95SHOTEX136" /></td></tr>
     <tr><td class="spell">%T95CARD132</td></tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>Scene 4</caption>
    <tbody>
     <tr><td class="bestshot"><img src="%T95SHOTEX141" width="%T95SHOTEX142" height="%T95SHOTEX143" alt="Score: %T95SHOTEX144, Slow: %T95SHOTEX145, DateTime: %T95SHOTEX146" title="Score: %T95SHOTEX144, Slow: %T95SHOTEX145, DateTime: %T95SHOTEX146" /></td></tr>
     <tr><td class="spell">%T95CARD142</td></tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>Scene 5</caption>
    <tbody>
     <tr><td class="bestshot"><img src="%T95SHOTEX151" width="%T95SHOTEX152" height="%T95SHOTEX153" alt="Score: %T95SHOTEX154, Slow: %T95SHOTEX155, DateTime: %T95SHOTEX156" title="Score: %T95SHOTEX154, Slow: %T95SHOTEX155, DateTime: %T95SHOTEX156" /></td></tr>
     <tr><td class="spell">%T95CARD152</td></tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>Scene 6</caption>
    <tbody>
     <tr><td class="bestshot"><img src="%T95SHOTEX161" width="%T95SHOTEX162" height="%T95SHOTEX163" alt="Score: %T95SHOTEX164, Slow: %T95SHOTEX165, DateTime: %T95SHOTEX166" title="Score: %T95SHOTEX164, Slow: %T95SHOTEX165, DateTime: %T95SHOTEX166" /></td></tr>
     <tr><td class="spell">%T95CARD162</td></tr>
    </tbody>
   </table>
  </div>

  <hr />

  <div class="section">
   <h2 id="Level2">Level 2</h2>
   <table class="bestshot">
    <caption>Scene 1</caption>
    <tbody>
     <tr><td class="bestshot"><img src="%T95SHOTEX211" width="%T95SHOTEX212" height="%T95SHOTEX213" alt="Score: %T95SHOTEX214, Slow: %T95SHOTEX215, DateTime: %T95SHOTEX216" title="Score: %T95SHOTEX214, Slow: %T95SHOTEX215, DateTime: %T95SHOTEX216" /></td></tr>
     <tr><td class="spell">%T95CARD212</td></tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>Scene 2</caption>
    <tbody>
     <tr><td class="bestshot"><img src="%T95SHOTEX221" width="%T95SHOTEX222" height="%T95SHOTEX223" alt="Score: %T95SHOTEX224, Slow: %T95SHOTEX225, DateTime: %T95SHOTEX226" title="Score: %T95SHOTEX224, Slow: %T95SHOTEX225, DateTime: %T95SHOTEX226" /></td></tr>
     <tr><td class="spell">%T95CARD222</td></tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>Scene 3</caption>
    <tbody>
     <tr><td class="bestshot"><img src="%T95SHOTEX231" width="%T95SHOTEX232" height="%T95SHOTEX233" alt="Score: %T95SHOTEX234, Slow: %T95SHOTEX235, DateTime: %T95SHOTEX236" title="Score: %T95SHOTEX234, Slow: %T95SHOTEX235, DateTime: %T95SHOTEX236" /></td></tr>
     <tr><td class="spell">%T95CARD232</td></tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>Scene 4</caption>
    <tbody>
     <tr><td class="bestshot"><img src="%T95SHOTEX241" width="%T95SHOTEX242" height="%T95SHOTEX243" alt="Score: %T95SHOTEX244, Slow: %T95SHOTEX245, DateTime: %T95SHOTEX246" title="Score: %T95SHOTEX244, Slow: %T95SHOTEX245, DateTime: %T95SHOTEX246" /></td></tr>
     <tr><td class="spell">%T95CARD242</td></tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>Scene 5</caption>
    <tbody>
     <tr><td class="bestshot"><img src="%T95SHOTEX251" width="%T95SHOTEX252" height="%T95SHOTEX253" alt="Score: %T95SHOTEX254, Slow: %T95SHOTEX255, DateTime: %T95SHOTEX256" title="Score: %T95SHOTEX254, Slow: %T95SHOTEX255, DateTime: %T95SHOTEX256" /></td></tr>
     <tr><td class="spell">%T95CARD252</td></tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>Scene 6</caption>
    <tbody>
     <tr><td class="bestshot"><img src="%T95SHOTEX261" width="%T95SHOTEX262" height="%T95SHOTEX263" alt="Score: %T95SHOTEX264, Slow: %T95SHOTEX265, DateTime: %T95SHOTEX266" title="Score: %T95SHOTEX264, Slow: %T95SHOTEX265, DateTime: %T95SHOTEX266" /></td></tr>
     <tr><td class="spell">%T95CARD262</td></tr>
    </tbody>
   </table>
  </div>

  <hr />

  <div class="section">
   <h2 id="Level3">Level 3</h2>
   <table class="bestshot">
    <caption>Scene 1</caption>
    <tbody>
     <tr><td class="bestshot"><img src="%T95SHOTEX311" width="%T95SHOTEX312" height="%T95SHOTEX313" alt="Score: %T95SHOTEX314, Slow: %T95SHOTEX315, DateTime: %T95SHOTEX316" title="Score: %T95SHOTEX314, Slow: %T95SHOTEX315, DateTime: %T95SHOTEX316" /></td></tr>
     <tr><td class="spell">%T95CARD312</td></tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>Scene 2</caption>
    <tbody>
     <tr><td class="bestshot"><img src="%T95SHOTEX321" width="%T95SHOTEX322" height="%T95SHOTEX323" alt="Score: %T95SHOTEX324, Slow: %T95SHOTEX325, DateTime: %T95SHOTEX326" title="Score: %T95SHOTEX324, Slow: %T95SHOTEX325, DateTime: %T95SHOTEX326" /></td></tr>
     <tr><td class="spell">%T95CARD322</td></tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>Scene 3</caption>
    <tbody>
     <tr><td class="bestshot"><img src="%T95SHOTEX331" width="%T95SHOTEX332" height="%T95SHOTEX333" alt="Score: %T95SHOTEX334, Slow: %T95SHOTEX335, DateTime: %T95SHOTEX336" title="Score: %T95SHOTEX334, Slow: %T95SHOTEX335, DateTime: %T95SHOTEX336" /></td></tr>
     <tr><td class="spell">%T95CARD332</td></tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>Scene 4</caption>
    <tbody>
     <tr><td class="bestshot"><img src="%T95SHOTEX341" width="%T95SHOTEX342" height="%T95SHOTEX343" alt="Score: %T95SHOTEX344, Slow: %T95SHOTEX345, DateTime: %T95SHOTEX346" title="Score: %T95SHOTEX344, Slow: %T95SHOTEX345, DateTime: %T95SHOTEX346" /></td></tr>
     <tr><td class="spell">%T95CARD342</td></tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>Scene 5</caption>
    <tbody>
     <tr><td class="bestshot"><img src="%T95SHOTEX351" width="%T95SHOTEX352" height="%T95SHOTEX353" alt="Score: %T95SHOTEX354, Slow: %T95SHOTEX355, DateTime: %T95SHOTEX356" title="Score: %T95SHOTEX354, Slow: %T95SHOTEX355, DateTime: %T95SHOTEX356" /></td></tr>
     <tr><td class="spell">%T95CARD352</td></tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>Scene 6</caption>
    <tbody>
     <tr><td class="bestshot"><img src="%T95SHOTEX361" width="%T95SHOTEX362" height="%T95SHOTEX363" alt="Score: %T95SHOTEX364, Slow: %T95SHOTEX365, DateTime: %T95SHOTEX366" title="Score: %T95SHOTEX364, Slow: %T95SHOTEX365, DateTime: %T95SHOTEX366" /></td></tr>
     <tr><td class="spell">%T95CARD362</td></tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>Scene 7</caption>
    <tbody>
     <tr><td class="bestshot"><img src="%T95SHOTEX371" width="%T95SHOTEX372" height="%T95SHOTEX373" alt="Score: %T95SHOTEX374, Slow: %T95SHOTEX375, DateTime: %T95SHOTEX376" title="Score: %T95SHOTEX374, Slow: %T95SHOTEX375, DateTime: %T95SHOTEX376" /></td></tr>
     <tr><td class="spell">%T95CARD372</td></tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>Scene 8</caption>
    <tbody>
     <tr><td class="bestshot"><img src="%T95SHOTEX381" width="%T95SHOTEX382" height="%T95SHOTEX383" alt="Score: %T95SHOTEX384, Slow: %T95SHOTEX385, DateTime: %T95SHOTEX386" title="Score: %T95SHOTEX384, Slow: %T95SHOTEX385, DateTime: %T95SHOTEX386" /></td></tr>
     <tr><td class="spell">%T95CARD382</td></tr>
    </tbody>
   </table>
  </div>

  <hr />

  <div class="section">
   <h2 id="Level4">Level 4</h2>
   <table class="bestshot">
    <caption>Scene 1</caption>
    <tbody>
     <tr><td class="bestshot"><img src="%T95SHOTEX411" width="%T95SHOTEX412" height="%T95SHOTEX413" alt="Score: %T95SHOTEX414, Slow: %T95SHOTEX415, DateTime: %T95SHOTEX416" title="Score: %T95SHOTEX414, Slow: %T95SHOTEX415, DateTime: %T95SHOTEX416" /></td></tr>
     <tr><td class="spell">%T95CARD412</td></tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>Scene 2</caption>
    <tbody>
     <tr><td class="bestshot"><img src="%T95SHOTEX421" width="%T95SHOTEX422" height="%T95SHOTEX423" alt="Score: %T95SHOTEX424, Slow: %T95SHOTEX425, DateTime: %T95SHOTEX426" title="Score: %T95SHOTEX424, Slow: %T95SHOTEX425, DateTime: %T95SHOTEX426" /></td></tr>
     <tr><td class="spell">%T95CARD422</td></tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>Scene 3</caption>
    <tbody>
     <tr><td class="bestshot"><img src="%T95SHOTEX431" width="%T95SHOTEX432" height="%T95SHOTEX433" alt="Score: %T95SHOTEX434, Slow: %T95SHOTEX435, DateTime: %T95SHOTEX436" title="Score: %T95SHOTEX434, Slow: %T95SHOTEX435, DateTime: %T95SHOTEX436" /></td></tr>
     <tr><td class="spell">%T95CARD432</td></tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>Scene 4</caption>
    <tbody>
     <tr><td class="bestshot"><img src="%T95SHOTEX441" width="%T95SHOTEX442" height="%T95SHOTEX443" alt="Score: %T95SHOTEX444, Slow: %T95SHOTEX445, DateTime: %T95SHOTEX446" title="Score: %T95SHOTEX444, Slow: %T95SHOTEX445, DateTime: %T95SHOTEX446" /></td></tr>
     <tr><td class="spell">%T95CARD442</td></tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>Scene 5</caption>
    <tbody>
     <tr><td class="bestshot"><img src="%T95SHOTEX451" width="%T95SHOTEX452" height="%T95SHOTEX453" alt="Score: %T95SHOTEX454, Slow: %T95SHOTEX455, DateTime: %T95SHOTEX456" title="Score: %T95SHOTEX454, Slow: %T95SHOTEX455, DateTime: %T95SHOTEX456" /></td></tr>
     <tr><td class="spell">%T95CARD452</td></tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>Scene 6</caption>
    <tbody>
     <tr><td class="bestshot"><img src="%T95SHOTEX461" width="%T95SHOTEX462" height="%T95SHOTEX463" alt="Score: %T95SHOTEX464, Slow: %T95SHOTEX465, DateTime: %T95SHOTEX466" title="Score: %T95SHOTEX464, Slow: %T95SHOTEX465, DateTime: %T95SHOTEX466" /></td></tr>
     <tr><td class="spell">%T95CARD462</td></tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>Scene 7</caption>
    <tbody>
     <tr><td class="bestshot"><img src="%T95SHOTEX471" width="%T95SHOTEX472" height="%T95SHOTEX473" alt="Score: %T95SHOTEX474, Slow: %T95SHOTEX475, DateTime: %T95SHOTEX476" title="Score: %T95SHOTEX474, Slow: %T95SHOTEX475, DateTime: %T95SHOTEX476" /></td></tr>
     <tr><td class="spell">%T95CARD472</td></tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>Scene 8</caption>
    <tbody>
     <tr><td class="bestshot"><img src="%T95SHOTEX481" width="%T95SHOTEX482" height="%T95SHOTEX483" alt="Score: %T95SHOTEX484, Slow: %T95SHOTEX485, DateTime: %T95SHOTEX486" title="Score: %T95SHOTEX484, Slow: %T95SHOTEX485, DateTime: %T95SHOTEX486" /></td></tr>
     <tr><td class="spell">%T95CARD482</td></tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>Scene 9</caption>
    <tbody>
     <tr><td class="bestshot"><img src="%T95SHOTEX491" width="%T95SHOTEX492" height="%T95SHOTEX493" alt="Score: %T95SHOTEX494, Slow: %T95SHOTEX495, DateTime: %T95SHOTEX496" title="Score: %T95SHOTEX494, Slow: %T95SHOTEX495, DateTime: %T95SHOTEX496" /></td></tr>
     <tr><td class="spell">%T95CARD492</td></tr>
    </tbody>
   </table>
  </div>

  <hr />

  <div class="section">
   <h2 id="Level5">Level 5</h2>
   <table class="bestshot">
    <caption>Scene 1</caption>
    <tbody>
     <tr><td class="bestshot"><img src="%T95SHOTEX511" width="%T95SHOTEX512" height="%T95SHOTEX513" alt="Score: %T95SHOTEX514, Slow: %T95SHOTEX515, DateTime: %T95SHOTEX516" title="Score: %T95SHOTEX514, Slow: %T95SHOTEX515, DateTime: %T95SHOTEX516" /></td></tr>
     <tr><td class="spell">%T95CARD512</td></tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>Scene 2</caption>
    <tbody>
     <tr><td class="bestshot"><img src="%T95SHOTEX521" width="%T95SHOTEX522" height="%T95SHOTEX523" alt="Score: %T95SHOTEX524, Slow: %T95SHOTEX525, DateTime: %T95SHOTEX526" title="Score: %T95SHOTEX524, Slow: %T95SHOTEX525, DateTime: %T95SHOTEX526" /></td></tr>
     <tr><td class="spell">%T95CARD522</td></tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>Scene 3</caption>
    <tbody>
     <tr><td class="bestshot"><img src="%T95SHOTEX531" width="%T95SHOTEX532" height="%T95SHOTEX533" alt="Score: %T95SHOTEX534, Slow: %T95SHOTEX535, DateTime: %T95SHOTEX536" title="Score: %T95SHOTEX534, Slow: %T95SHOTEX535, DateTime: %T95SHOTEX536" /></td></tr>
     <tr><td class="spell">%T95CARD532</td></tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>Scene 4</caption>
    <tbody>
     <tr><td class="bestshot"><img src="%T95SHOTEX541" width="%T95SHOTEX542" height="%T95SHOTEX543" alt="Score: %T95SHOTEX544, Slow: %T95SHOTEX545, DateTime: %T95SHOTEX546" title="Score: %T95SHOTEX544, Slow: %T95SHOTEX545, DateTime: %T95SHOTEX546" /></td></tr>
     <tr><td class="spell">%T95CARD542</td></tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>Scene 5</caption>
    <tbody>
     <tr><td class="bestshot"><img src="%T95SHOTEX551" width="%T95SHOTEX552" height="%T95SHOTEX553" alt="Score: %T95SHOTEX554, Slow: %T95SHOTEX555, DateTime: %T95SHOTEX556" title="Score: %T95SHOTEX554, Slow: %T95SHOTEX555, DateTime: %T95SHOTEX556" /></td></tr>
     <tr><td class="spell">%T95CARD552</td></tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>Scene 6</caption>
    <tbody>
     <tr><td class="bestshot"><img src="%T95SHOTEX561" width="%T95SHOTEX562" height="%T95SHOTEX563" alt="Score: %T95SHOTEX564, Slow: %T95SHOTEX565, DateTime: %T95SHOTEX566" title="Score: %T95SHOTEX564, Slow: %T95SHOTEX565, DateTime: %T95SHOTEX566" /></td></tr>
     <tr><td class="spell">%T95CARD562</td></tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>Scene 7</caption>
    <tbody>
     <tr><td class="bestshot"><img src="%T95SHOTEX571" width="%T95SHOTEX572" height="%T95SHOTEX573" alt="Score: %T95SHOTEX574, Slow: %T95SHOTEX575, DateTime: %T95SHOTEX576" title="Score: %T95SHOTEX574, Slow: %T95SHOTEX575, DateTime: %T95SHOTEX576" /></td></tr>
     <tr><td class="spell">%T95CARD572</td></tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>Scene 8</caption>
    <tbody>
     <tr><td class="bestshot"><img src="%T95SHOTEX581" width="%T95SHOTEX582" height="%T95SHOTEX583" alt="Score: %T95SHOTEX584, Slow: %T95SHOTEX585, DateTime: %T95SHOTEX586" title="Score: %T95SHOTEX584, Slow: %T95SHOTEX585, DateTime: %T95SHOTEX586" /></td></tr>
     <tr><td class="spell">%T95CARD582</td></tr>
    </tbody>
   </table>
  </div>

  <hr />

  <div class="section">
   <h2 id="Level6">Level 6</h2>
   <table class="bestshot">
    <caption>Scene 1</caption>
    <tbody>
     <tr><td class="bestshot"><img src="%T95SHOTEX611" width="%T95SHOTEX612" height="%T95SHOTEX613" alt="Score: %T95SHOTEX614, Slow: %T95SHOTEX615, DateTime: %T95SHOTEX616" title="Score: %T95SHOTEX614, Slow: %T95SHOTEX615, DateTime: %T95SHOTEX616" /></td></tr>
     <tr><td class="spell">%T95CARD612</td></tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>Scene 2</caption>
    <tbody>
     <tr><td class="bestshot"><img src="%T95SHOTEX621" width="%T95SHOTEX622" height="%T95SHOTEX623" alt="Score: %T95SHOTEX624, Slow: %T95SHOTEX625, DateTime: %T95SHOTEX626" title="Score: %T95SHOTEX624, Slow: %T95SHOTEX625, DateTime: %T95SHOTEX626" /></td></tr>
     <tr><td class="spell">%T95CARD622</td></tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>Scene 3</caption>
    <tbody>
     <tr><td class="bestshot"><img src="%T95SHOTEX631" width="%T95SHOTEX632" height="%T95SHOTEX633" alt="Score: %T95SHOTEX634, Slow: %T95SHOTEX635, DateTime: %T95SHOTEX636" title="Score: %T95SHOTEX634, Slow: %T95SHOTEX635, DateTime: %T95SHOTEX636" /></td></tr>
     <tr><td class="spell">%T95CARD632</td></tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>Scene 4</caption>
    <tbody>
     <tr><td class="bestshot"><img src="%T95SHOTEX641" width="%T95SHOTEX642" height="%T95SHOTEX643" alt="Score: %T95SHOTEX644, Slow: %T95SHOTEX645, DateTime: %T95SHOTEX646" title="Score: %T95SHOTEX644, Slow: %T95SHOTEX645, DateTime: %T95SHOTEX646" /></td></tr>
     <tr><td class="spell">%T95CARD642</td></tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>Scene 5</caption>
    <tbody>
     <tr><td class="bestshot"><img src="%T95SHOTEX651" width="%T95SHOTEX652" height="%T95SHOTEX653" alt="Score: %T95SHOTEX654, Slow: %T95SHOTEX655, DateTime: %T95SHOTEX656" title="Score: %T95SHOTEX654, Slow: %T95SHOTEX655, DateTime: %T95SHOTEX656" /></td></tr>
     <tr><td class="spell">%T95CARD652</td></tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>Scene 6</caption>
    <tbody>
     <tr><td class="bestshot"><img src="%T95SHOTEX661" width="%T95SHOTEX662" height="%T95SHOTEX663" alt="Score: %T95SHOTEX664, Slow: %T95SHOTEX665, DateTime: %T95SHOTEX666" title="Score: %T95SHOTEX664, Slow: %T95SHOTEX665, DateTime: %T95SHOTEX666" /></td></tr>
     <tr><td class="spell">%T95CARD662</td></tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>Scene 7</caption>
    <tbody>
     <tr><td class="bestshot"><img src="%T95SHOTEX671" width="%T95SHOTEX672" height="%T95SHOTEX673" alt="Score: %T95SHOTEX674, Slow: %T95SHOTEX675, DateTime: %T95SHOTEX676" title="Score: %T95SHOTEX674, Slow: %T95SHOTEX675, DateTime: %T95SHOTEX676" /></td></tr>
     <tr><td class="spell">%T95CARD672</td></tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>Scene 8</caption>
    <tbody>
     <tr><td class="bestshot"><img src="%T95SHOTEX681" width="%T95SHOTEX682" height="%T95SHOTEX683" alt="Score: %T95SHOTEX684, Slow: %T95SHOTEX685, DateTime: %T95SHOTEX686" title="Score: %T95SHOTEX684, Slow: %T95SHOTEX685, DateTime: %T95SHOTEX686" /></td></tr>
     <tr><td class="spell">%T95CARD682</td></tr>
    </tbody>
   </table>
  </div>

  <hr />

  <div class="section">
   <h2 id="Level7">Level 7</h2>
   <table class="bestshot">
    <caption>Scene 1</caption>
    <tbody>
     <tr><td class="bestshot"><img src="%T95SHOTEX711" width="%T95SHOTEX712" height="%T95SHOTEX713" alt="Score: %T95SHOTEX714, Slow: %T95SHOTEX715, DateTime: %T95SHOTEX716" title="Score: %T95SHOTEX714, Slow: %T95SHOTEX715, DateTime: %T95SHOTEX716" /></td></tr>
     <tr><td class="spell">%T95CARD712</td></tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>Scene 2</caption>
    <tbody>
     <tr><td class="bestshot"><img src="%T95SHOTEX721" width="%T95SHOTEX722" height="%T95SHOTEX723" alt="Score: %T95SHOTEX724, Slow: %T95SHOTEX725, DateTime: %T95SHOTEX726" title="Score: %T95SHOTEX724, Slow: %T95SHOTEX725, DateTime: %T95SHOTEX726" /></td></tr>
     <tr><td class="spell">%T95CARD722</td></tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>Scene 3</caption>
    <tbody>
     <tr><td class="bestshot"><img src="%T95SHOTEX731" width="%T95SHOTEX732" height="%T95SHOTEX733" alt="Score: %T95SHOTEX734, Slow: %T95SHOTEX735, DateTime: %T95SHOTEX736" title="Score: %T95SHOTEX734, Slow: %T95SHOTEX735, DateTime: %T95SHOTEX736" /></td></tr>
     <tr><td class="spell">%T95CARD732</td></tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>Scene 4</caption>
    <tbody>
     <tr><td class="bestshot"><img src="%T95SHOTEX741" width="%T95SHOTEX742" height="%T95SHOTEX743" alt="Score: %T95SHOTEX744, Slow: %T95SHOTEX745, DateTime: %T95SHOTEX746" title="Score: %T95SHOTEX744, Slow: %T95SHOTEX745, DateTime: %T95SHOTEX746" /></td></tr>
     <tr><td class="spell">%T95CARD742</td></tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>Scene 5</caption>
    <tbody>
     <tr><td class="bestshot"><img src="%T95SHOTEX751" width="%T95SHOTEX752" height="%T95SHOTEX753" alt="Score: %T95SHOTEX754, Slow: %T95SHOTEX755, DateTime: %T95SHOTEX756" title="Score: %T95SHOTEX754, Slow: %T95SHOTEX755, DateTime: %T95SHOTEX756" /></td></tr>
     <tr><td class="spell">%T95CARD752</td></tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>Scene 6</caption>
    <tbody>
     <tr><td class="bestshot"><img src="%T95SHOTEX761" width="%T95SHOTEX762" height="%T95SHOTEX763" alt="Score: %T95SHOTEX764, Slow: %T95SHOTEX765, DateTime: %T95SHOTEX766" title="Score: %T95SHOTEX764, Slow: %T95SHOTEX765, DateTime: %T95SHOTEX766" /></td></tr>
     <tr><td class="spell">%T95CARD762</td></tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>Scene 7</caption>
    <tbody>
     <tr><td class="bestshot"><img src="%T95SHOTEX771" width="%T95SHOTEX772" height="%T95SHOTEX773" alt="Score: %T95SHOTEX774, Slow: %T95SHOTEX775, DateTime: %T95SHOTEX776" title="Score: %T95SHOTEX774, Slow: %T95SHOTEX775, DateTime: %T95SHOTEX776" /></td></tr>
     <tr><td class="spell">%T95CARD772</td></tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>Scene 8</caption>
    <tbody>
     <tr><td class="bestshot"><img src="%T95SHOTEX781" width="%T95SHOTEX782" height="%T95SHOTEX783" alt="Score: %T95SHOTEX784, Slow: %T95SHOTEX785, DateTime: %T95SHOTEX786" title="Score: %T95SHOTEX784, Slow: %T95SHOTEX785, DateTime: %T95SHOTEX786" /></td></tr>
     <tr><td class="spell">%T95CARD782</td></tr>
    </tbody>
   </table>
  </div>

  <hr />

  <div class="section">
   <h2 id="Level8">Level 8</h2>
   <table class="bestshot">
    <caption>Scene 1</caption>
    <tbody>
     <tr><td class="bestshot"><img src="%T95SHOTEX811" width="%T95SHOTEX812" height="%T95SHOTEX813" alt="Score: %T95SHOTEX814, Slow: %T95SHOTEX815, DateTime: %T95SHOTEX816" title="Score: %T95SHOTEX814, Slow: %T95SHOTEX815, DateTime: %T95SHOTEX816" /></td></tr>
     <tr><td class="spell">%T95CARD812</td></tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>Scene 2</caption>
    <tbody>
     <tr><td class="bestshot"><img src="%T95SHOTEX821" width="%T95SHOTEX822" height="%T95SHOTEX823" alt="Score: %T95SHOTEX824, Slow: %T95SHOTEX825, DateTime: %T95SHOTEX826" title="Score: %T95SHOTEX824, Slow: %T95SHOTEX825, DateTime: %T95SHOTEX826" /></td></tr>
     <tr><td class="spell">%T95CARD822</td></tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>Scene 3</caption>
    <tbody>
     <tr><td class="bestshot"><img src="%T95SHOTEX831" width="%T95SHOTEX832" height="%T95SHOTEX833" alt="Score: %T95SHOTEX834, Slow: %T95SHOTEX835, DateTime: %T95SHOTEX836" title="Score: %T95SHOTEX834, Slow: %T95SHOTEX835, DateTime: %T95SHOTEX836" /></td></tr>
     <tr><td class="spell">%T95CARD832</td></tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>Scene 4</caption>
    <tbody>
     <tr><td class="bestshot"><img src="%T95SHOTEX841" width="%T95SHOTEX842" height="%T95SHOTEX843" alt="Score: %T95SHOTEX844, Slow: %T95SHOTEX845, DateTime: %T95SHOTEX846" title="Score: %T95SHOTEX844, Slow: %T95SHOTEX845, DateTime: %T95SHOTEX846" /></td></tr>
     <tr><td class="spell">%T95CARD842</td></tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>Scene 5</caption>
    <tbody>
     <tr><td class="bestshot"><img src="%T95SHOTEX851" width="%T95SHOTEX852" height="%T95SHOTEX853" alt="Score: %T95SHOTEX854, Slow: %T95SHOTEX855, DateTime: %T95SHOTEX856" title="Score: %T95SHOTEX854, Slow: %T95SHOTEX855, DateTime: %T95SHOTEX856" /></td></tr>
     <tr><td class="spell">%T95CARD852</td></tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>Scene 6</caption>
    <tbody>
     <tr><td class="bestshot"><img src="%T95SHOTEX861" width="%T95SHOTEX862" height="%T95SHOTEX863" alt="Score: %T95SHOTEX864, Slow: %T95SHOTEX865, DateTime: %T95SHOTEX866" title="Score: %T95SHOTEX864, Slow: %T95SHOTEX865, DateTime: %T95SHOTEX866" /></td></tr>
     <tr><td class="spell">%T95CARD862</td></tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>Scene 7</caption>
    <tbody>
     <tr><td class="bestshot"><img src="%T95SHOTEX871" width="%T95SHOTEX872" height="%T95SHOTEX873" alt="Score: %T95SHOTEX874, Slow: %T95SHOTEX875, DateTime: %T95SHOTEX876" title="Score: %T95SHOTEX874, Slow: %T95SHOTEX875, DateTime: %T95SHOTEX876" /></td></tr>
     <tr><td class="spell">%T95CARD872</td></tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>Scene 8</caption>
    <tbody>
     <tr><td class="bestshot"><img src="%T95SHOTEX881" width="%T95SHOTEX882" height="%T95SHOTEX883" alt="Score: %T95SHOTEX884, Slow: %T95SHOTEX885, DateTime: %T95SHOTEX886" title="Score: %T95SHOTEX884, Slow: %T95SHOTEX885, DateTime: %T95SHOTEX886" /></td></tr>
     <tr><td class="spell">%T95CARD882</td></tr>
    </tbody>
   </table>
  </div>

  <hr />

  <div class="section">
   <h2 id="Level9">Level 9</h2>
   <table class="bestshot">
    <caption>Scene 1</caption>
    <tbody>
     <tr><td class="bestshot"><img src="%T95SHOTEX911" width="%T95SHOTEX912" height="%T95SHOTEX913" alt="Score: %T95SHOTEX914, Slow: %T95SHOTEX915, DateTime: %T95SHOTEX916" title="Score: %T95SHOTEX914, Slow: %T95SHOTEX915, DateTime: %T95SHOTEX916" /></td></tr>
     <tr><td class="spell">%T95CARD912</td></tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>Scene 2</caption>
    <tbody>
     <tr><td class="bestshot"><img src="%T95SHOTEX921" width="%T95SHOTEX922" height="%T95SHOTEX923" alt="Score: %T95SHOTEX924, Slow: %T95SHOTEX925, DateTime: %T95SHOTEX926" title="Score: %T95SHOTEX924, Slow: %T95SHOTEX925, DateTime: %T95SHOTEX926" /></td></tr>
     <tr><td class="spell">%T95CARD922</td></tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>Scene 3</caption>
    <tbody>
     <tr><td class="bestshot"><img src="%T95SHOTEX931" width="%T95SHOTEX932" height="%T95SHOTEX933" alt="Score: %T95SHOTEX934, Slow: %T95SHOTEX935, DateTime: %T95SHOTEX936" title="Score: %T95SHOTEX934, Slow: %T95SHOTEX935, DateTime: %T95SHOTEX936" /></td></tr>
     <tr><td class="spell">%T95CARD932</td></tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>Scene 4</caption>
    <tbody>
     <tr><td class="bestshot"><img src="%T95SHOTEX941" width="%T95SHOTEX942" height="%T95SHOTEX943" alt="Score: %T95SHOTEX944, Slow: %T95SHOTEX945, DateTime: %T95SHOTEX946" title="Score: %T95SHOTEX944, Slow: %T95SHOTEX945, DateTime: %T95SHOTEX946" /></td></tr>
     <tr><td class="spell">%T95CARD942</td></tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>Scene 5</caption>
    <tbody>
     <tr><td class="bestshot"><img src="%T95SHOTEX951" width="%T95SHOTEX952" height="%T95SHOTEX953" alt="Score: %T95SHOTEX954, Slow: %T95SHOTEX955, DateTime: %T95SHOTEX956" title="Score: %T95SHOTEX954, Slow: %T95SHOTEX955, DateTime: %T95SHOTEX956" /></td></tr>
     <tr><td class="spell">%T95CARD952</td></tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>Scene 6</caption>
    <tbody>
     <tr><td class="bestshot"><img src="%T95SHOTEX961" width="%T95SHOTEX962" height="%T95SHOTEX963" alt="Score: %T95SHOTEX964, Slow: %T95SHOTEX965, DateTime: %T95SHOTEX966" title="Score: %T95SHOTEX964, Slow: %T95SHOTEX965, DateTime: %T95SHOTEX966" /></td></tr>
     <tr><td class="spell">%T95CARD962</td></tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>Scene 7</caption>
    <tbody>
     <tr><td class="bestshot"><img src="%T95SHOTEX971" width="%T95SHOTEX972" height="%T95SHOTEX973" alt="Score: %T95SHOTEX974, Slow: %T95SHOTEX975, DateTime: %T95SHOTEX976" title="Score: %T95SHOTEX974, Slow: %T95SHOTEX975, DateTime: %T95SHOTEX976" /></td></tr>
     <tr><td class="spell">%T95CARD972</td></tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>Scene 8</caption>
    <tbody>
     <tr><td class="bestshot"><img src="%T95SHOTEX981" width="%T95SHOTEX982" height="%T95SHOTEX983" alt="Score: %T95SHOTEX984, Slow: %T95SHOTEX985, DateTime: %T95SHOTEX986" title="Score: %T95SHOTEX984, Slow: %T95SHOTEX985, DateTime: %T95SHOTEX986" /></td></tr>
     <tr><td class="spell">%T95CARD982</td></tr>
    </tbody>
   </table>
  </div>

  <hr />

  <div class="section">
   <h2 id="Level10">Level 10</h2>
   <table class="bestshot">
    <caption>Scene 1</caption>
    <tbody>
     <tr><td class="bestshot"><img src="%T95SHOTEX011" width="%T95SHOTEX012" height="%T95SHOTEX013" alt="Score: %T95SHOTEX014, Slow: %T95SHOTEX015, DateTime: %T95SHOTEX016" title="Score: %T95SHOTEX014, Slow: %T95SHOTEX015, DateTime: %T95SHOTEX016" /></td></tr>
     <tr><td class="spell">%T95CARD012</td></tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>Scene 2</caption>
    <tbody>
     <tr><td class="bestshot"><img src="%T95SHOTEX021" width="%T95SHOTEX022" height="%T95SHOTEX023" alt="Score: %T95SHOTEX024, Slow: %T95SHOTEX025, DateTime: %T95SHOTEX026" title="Score: %T95SHOTEX024, Slow: %T95SHOTEX025, DateTime: %T95SHOTEX026" /></td></tr>
     <tr><td class="spell">%T95CARD022</td></tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>Scene 3</caption>
    <tbody>
     <tr><td class="bestshot"><img src="%T95SHOTEX031" width="%T95SHOTEX032" height="%T95SHOTEX033" alt="Score: %T95SHOTEX034, Slow: %T95SHOTEX035, DateTime: %T95SHOTEX036" title="Score: %T95SHOTEX034, Slow: %T95SHOTEX035, DateTime: %T95SHOTEX036" /></td></tr>
     <tr><td class="spell">%T95CARD032</td></tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>Scene 4</caption>
    <tbody>
     <tr><td class="bestshot"><img src="%T95SHOTEX041" width="%T95SHOTEX042" height="%T95SHOTEX043" alt="Score: %T95SHOTEX044, Slow: %T95SHOTEX045, DateTime: %T95SHOTEX046" title="Score: %T95SHOTEX044, Slow: %T95SHOTEX045, DateTime: %T95SHOTEX046" /></td></tr>
     <tr><td class="spell">%T95CARD042</td></tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>Scene 5</caption>
    <tbody>
     <tr><td class="bestshot"><img src="%T95SHOTEX051" width="%T95SHOTEX052" height="%T95SHOTEX053" alt="Score: %T95SHOTEX054, Slow: %T95SHOTEX055, DateTime: %T95SHOTEX056" title="Score: %T95SHOTEX054, Slow: %T95SHOTEX055, DateTime: %T95SHOTEX056" /></td></tr>
     <tr><td class="spell">%T95CARD052</td></tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>Scene 6</caption>
    <tbody>
     <tr><td class="bestshot"><img src="%T95SHOTEX061" width="%T95SHOTEX062" height="%T95SHOTEX063" alt="Score: %T95SHOTEX064, Slow: %T95SHOTEX065, DateTime: %T95SHOTEX066" title="Score: %T95SHOTEX064, Slow: %T95SHOTEX065, DateTime: %T95SHOTEX066" /></td></tr>
     <tr><td class="spell">%T95CARD062</td></tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>Scene 7</caption>
    <tbody>
     <tr><td class="bestshot"><img src="%T95SHOTEX071" width="%T95SHOTEX072" height="%T95SHOTEX073" alt="Score: %T95SHOTEX074, Slow: %T95SHOTEX075, DateTime: %T95SHOTEX076" title="Score: %T95SHOTEX074, Slow: %T95SHOTEX075, DateTime: %T95SHOTEX076" /></td></tr>
     <tr><td class="spell">%T95CARD072</td></tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>Scene 8</caption>
    <tbody>
     <tr><td class="bestshot"><img src="%T95SHOTEX081" width="%T95SHOTEX082" height="%T95SHOTEX083" alt="Score: %T95SHOTEX084, Slow: %T95SHOTEX085, DateTime: %T95SHOTEX086" title="Score: %T95SHOTEX084, Slow: %T95SHOTEX085, DateTime: %T95SHOTEX086" /></td></tr>
     <tr><td class="spell">%T95CARD082</td></tr>
    </tbody>
   </table>
  </div>

  <hr />

  <div class="section">
   <h2 id="Extra">Level Extra</h2>
   <table class="bestshot">
    <caption>Scene 1</caption>
    <tbody>
     <tr><td class="bestshot"><img src="%T95SHOTEXX11" width="%T95SHOTEXX12" height="%T95SHOTEXX13" alt="Score: %T95SHOTEXX14, Slow: %T95SHOTEXX15, DateTime: %T95SHOTEXX16" title="Score: %T95SHOTEXX14, Slow: %T95SHOTEXX15, DateTime: %T95SHOTEXX16" /></td></tr>
     <tr><td class="spell">%T95CARDX12</td></tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>Scene 2</caption>
    <tbody>
     <tr><td class="bestshot"><img src="%T95SHOTEXX21" width="%T95SHOTEXX22" height="%T95SHOTEXX23" alt="Score: %T95SHOTEXX24, Slow: %T95SHOTEXX25, DateTime: %T95SHOTEXX26" title="Score: %T95SHOTEXX24, Slow: %T95SHOTEXX25, DateTime: %T95SHOTEXX26" /></td></tr>
     <tr><td class="spell">%T95CARDX22</td></tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>Scene 3</caption>
    <tbody>
     <tr><td class="bestshot"><img src="%T95SHOTEXX31" width="%T95SHOTEXX32" height="%T95SHOTEXX33" alt="Score: %T95SHOTEXX34, Slow: %T95SHOTEXX35, DateTime: %T95SHOTEXX36" title="Score: %T95SHOTEXX34, Slow: %T95SHOTEXX35, DateTime: %T95SHOTEXX36" /></td></tr>
     <tr><td class="spell">%T95CARDX32</td></tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>Scene 4</caption>
    <tbody>
     <tr><td class="bestshot"><img src="%T95SHOTEXX41" width="%T95SHOTEXX42" height="%T95SHOTEXX43" alt="Score: %T95SHOTEXX44, Slow: %T95SHOTEXX45, DateTime: %T95SHOTEXX46" title="Score: %T95SHOTEXX44, Slow: %T95SHOTEXX45, DateTime: %T95SHOTEXX46" /></td></tr>
     <tr><td class="spell">%T95CARDX42</td></tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>Scene 5</caption>
    <tbody>
     <tr><td class="bestshot"><img src="%T95SHOTEXX51" width="%T95SHOTEXX52" height="%T95SHOTEXX53" alt="Score: %T95SHOTEXX54, Slow: %T95SHOTEXX55, DateTime: %T95SHOTEXX56" title="Score: %T95SHOTEXX54, Slow: %T95SHOTEXX55, DateTime: %T95SHOTEXX56" /></td></tr>
     <tr><td class="spell">%T95CARDX52</td></tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>Scene 6</caption>
    <tbody>
     <tr><td class="bestshot"><img src="%T95SHOTEXX61" width="%T95SHOTEXX62" height="%T95SHOTEXX63" alt="Score: %T95SHOTEXX64, Slow: %T95SHOTEXX65, DateTime: %T95SHOTEXX66" title="Score: %T95SHOTEXX64, Slow: %T95SHOTEXX65, DateTime: %T95SHOTEXX66" /></td></tr>
     <tr><td class="spell">%T95CARDX62</td></tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>Scene 7</caption>
    <tbody>
     <tr><td class="bestshot"><img src="%T95SHOTEXX71" width="%T95SHOTEXX72" height="%T95SHOTEXX73" alt="Score: %T95SHOTEXX74, Slow: %T95SHOTEXX75, DateTime: %T95SHOTEXX76" title="Score: %T95SHOTEXX74, Slow: %T95SHOTEXX75, DateTime: %T95SHOTEXX76" /></td></tr>
     <tr><td class="spell">%T95CARDX72</td></tr>
    </tbody>
   </table>
   <table class="bestshot">
    <caption>Scene 8</caption>
    <tbody>
     <tr><td class="bestshot"><img src="%T95SHOTEXX81" width="%T95SHOTEXX82" height="%T95SHOTEXX83" alt="Score: %T95SHOTEXX84, Slow: %T95SHOTEXX85, DateTime: %T95SHOTEXX86" title="Score: %T95SHOTEXX84, Slow: %T95SHOTEXX85, DateTime: %T95SHOTEXX86" /></td></tr>
     <tr><td class="spell">%T95CARDX82</td></tr>
    </tbody>
   </table>
  </div>

  <hr />

  <div class="section">
   <p>
    Data output by <a href="https://www.colorless-sight.jp/thsfc/">ThScoreFileConverter</a>.
<script type="text/javascript">
<!--
    document.write("Last updated: ", document.lastModified, ".");
//-->
</script>
   </p>
  </div>

 </body>
</html>
