<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja">

 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="Content-Stype-Type" content="text/css" />
  <meta http-equiv="Content-Script-Type" content="text/javascript" />
  <title>東方風神録スコアデータ</title>
  <link rel="stylesheet" type="text/css" href="style.css" />
  <link rel="stylesheet" type="text/css" href="th10.css" />
<style type="text/css">
<!--
    table.count td.count { min-width: 80px; }
    table.count td.time { min-width: 80px; }
-->
</style>
 </head>

 <body>
  <h1>東方風神録スコアデータ</h1>

  <hr />

  <div class="section">
   <p>
    スコアデータ全般 /
    <a href="th10score2.html">個別ランキング</a> /
    <a href="th10score3.html">プラクティス</a> /
    <a href="th10card.html">御札戦歴</a><br />
    <a href="#Easy">Easy</a>
    <a href="#Normal">Normal</a>
    <a href="#Hard">Hard</a>
    <a href="#Lunatic">Lunatic</a>
    <a href="#Extra">Extra</a>
    <a href="#Other">その他の状態一覧</a>
    <a href="#Clear">クリア達成度</a>
   </p>
  </div>

  <hr />

  <div class="section">
   <h2>難易度別スコア</h2>

   <table class="score_per_level">
    <caption id="Easy">Easy</caption>
    <thead>
     <tr>
      <td class="character">Character</td>
      <td class="name">Name</td>
      <td class="score">Score</td>
      <td class="date">Date</td>
      <td class="stage">Stage</td>
      <td class="slow">Slow</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="character">博麗 霊夢<br />（誘導装備）</td>
      <td class="name">%T10SCRERA11</td>
      <td class="score">%T10SCRERA12</td>
      <td class="date">%T10SCRERA14</td>
      <td class="stage">%T10SCRERA13</td>
      <td class="slow">%T10SCRERA15</td>
     </tr>
     <tr>
      <td class="character">博麗 霊夢<br />（前方集中装備）</td>
      <td class="name">%T10SCRERB11</td>
      <td class="score">%T10SCRERB12</td>
      <td class="date">%T10SCRERB14</td>
      <td class="stage">%T10SCRERB13</td>
      <td class="slow">%T10SCRERB15</td>
     </tr>
     <tr>
      <td class="character">博麗 霊夢<br />（封印装備）</td>
      <td class="name">%T10SCRERC11</td>
      <td class="score">%T10SCRERC12</td>
      <td class="date">%T10SCRERC14</td>
      <td class="stage">%T10SCRERC13</td>
      <td class="slow">%T10SCRERC15</td>
     </tr>
     <tr>
      <td class="character">霧雨 魔理沙<br />（高威力装備）</td>
      <td class="name">%T10SCREMA11</td>
      <td class="score">%T10SCREMA12</td>
      <td class="date">%T10SCREMA14</td>
      <td class="stage">%T10SCREMA13</td>
      <td class="slow">%T10SCREMA15</td>
     </tr>
     <tr>
      <td class="character">霧雨 魔理沙<br />（貫通装備）</td>
      <td class="name">%T10SCREMB11</td>
      <td class="score">%T10SCREMB12</td>
      <td class="date">%T10SCREMB14</td>
      <td class="stage">%T10SCREMB13</td>
      <td class="slow">%T10SCREMB15</td>
     </tr>
     <tr>
      <td class="character">霧雨 魔理沙<br />（魔法使い装備）</td>
      <td class="name">%T10SCREMC11</td>
      <td class="score">%T10SCREMC12</td>
      <td class="date">%T10SCREMC14</td>
      <td class="stage">%T10SCREMC13</td>
      <td class="slow">%T10SCREMC15</td>
     </tr>
    </tbody>
   </table>

   <table class="score_per_level">
    <caption id="Normal">Normal</caption>
    <thead>
     <tr>
      <td class="character">Character</td>
      <td class="name">Name</td>
      <td class="score">Score</td>
      <td class="date">Date</td>
      <td class="stage">Stage</td>
      <td class="slow">Slow</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="character">博麗 霊夢<br />（誘導装備）</td>
      <td class="name">%T10SCRNRA11</td>
      <td class="score">%T10SCRNRA12</td>
      <td class="date">%T10SCRNRA14</td>
      <td class="stage">%T10SCRNRA13</td>
      <td class="slow">%T10SCRNRA15</td>
     </tr>
     <tr>
      <td class="character">博麗 霊夢<br />（前方集中装備）</td>
      <td class="name">%T10SCRNRB11</td>
      <td class="score">%T10SCRNRB12</td>
      <td class="date">%T10SCRNRB14</td>
      <td class="stage">%T10SCRNRB13</td>
      <td class="slow">%T10SCRNRB15</td>
     </tr>
     <tr>
      <td class="character">博麗 霊夢<br />（封印装備）</td>
      <td class="name">%T10SCRNRC11</td>
      <td class="score">%T10SCRNRC12</td>
      <td class="date">%T10SCRNRC14</td>
      <td class="stage">%T10SCRNRC13</td>
      <td class="slow">%T10SCRNRC15</td>
     </tr>
     <tr>
      <td class="character">霧雨 魔理沙<br />（高威力装備）</td>
      <td class="name">%T10SCRNMA11</td>
      <td class="score">%T10SCRNMA12</td>
      <td class="date">%T10SCRNMA14</td>
      <td class="stage">%T10SCRNMA13</td>
      <td class="slow">%T10SCRNMA15</td>
     </tr>
     <tr>
      <td class="character">霧雨 魔理沙<br />（貫通装備）</td>
      <td class="name">%T10SCRNMB11</td>
      <td class="score">%T10SCRNMB12</td>
      <td class="date">%T10SCRNMB14</td>
      <td class="stage">%T10SCRNMB13</td>
      <td class="slow">%T10SCRNMB15</td>
     </tr>
     <tr>
      <td class="character">霧雨 魔理沙<br />（魔法使い装備）</td>
      <td class="name">%T10SCRNMC11</td>
      <td class="score">%T10SCRNMC12</td>
      <td class="date">%T10SCRNMC14</td>
      <td class="stage">%T10SCRNMC13</td>
      <td class="slow">%T10SCRNMC15</td>
     </tr>
    </tbody>
   </table>

   <table class="score_per_level">
    <caption id="Hard">Hard</caption>
    <thead>
     <tr>
      <td class="character">Character</td>
      <td class="name">Name</td>
      <td class="score">Score</td>
      <td class="date">Date</td>
      <td class="stage">Stage</td>
      <td class="slow">Slow</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="character">博麗 霊夢<br />（誘導装備）</td>
      <td class="name">%T10SCRHRA11</td>
      <td class="score">%T10SCRHRA12</td>
      <td class="date">%T10SCRHRA14</td>
      <td class="stage">%T10SCRHRA13</td>
      <td class="slow">%T10SCRHRA15</td>
     </tr>
     <tr>
      <td class="character">博麗 霊夢<br />（前方集中装備）</td>
      <td class="name">%T10SCRHRB11</td>
      <td class="score">%T10SCRHRB12</td>
      <td class="date">%T10SCRHRB14</td>
      <td class="stage">%T10SCRHRB13</td>
      <td class="slow">%T10SCRHRB15</td>
     </tr>
     <tr>
      <td class="character">博麗 霊夢<br />（封印装備）</td>
      <td class="name">%T10SCRHRC11</td>
      <td class="score">%T10SCRHRC12</td>
      <td class="date">%T10SCRHRC14</td>
      <td class="stage">%T10SCRHRC13</td>
      <td class="slow">%T10SCRHRC15</td>
     </tr>
     <tr>
      <td class="character">霧雨 魔理沙<br />（高威力装備）</td>
      <td class="name">%T10SCRHMA11</td>
      <td class="score">%T10SCRHMA12</td>
      <td class="date">%T10SCRHMA14</td>
      <td class="stage">%T10SCRHMA13</td>
      <td class="slow">%T10SCRHMA15</td>
     </tr>
     <tr>
      <td class="character">霧雨 魔理沙<br />（貫通装備）</td>
      <td class="name">%T10SCRHMB11</td>
      <td class="score">%T10SCRHMB12</td>
      <td class="date">%T10SCRHMB14</td>
      <td class="stage">%T10SCRHMB13</td>
      <td class="slow">%T10SCRHMB15</td>
     </tr>
     <tr>
      <td class="character">霧雨 魔理沙<br />（魔法使い装備）</td>
      <td class="name">%T10SCRHMC11</td>
      <td class="score">%T10SCRHMC12</td>
      <td class="date">%T10SCRHMC14</td>
      <td class="stage">%T10SCRHMC13</td>
      <td class="slow">%T10SCRHMC15</td>
     </tr>
    </tbody>
   </table>

   <table class="score_per_level">
    <caption id="Lunatic">Lunatic</caption>
    <thead>
     <tr>
      <td class="character">Character</td>
      <td class="name">Name</td>
      <td class="score">Score</td>
      <td class="date">Date</td>
      <td class="stage">Stage</td>
      <td class="slow">Slow</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="character">博麗 霊夢<br />（誘導装備）</td>
      <td class="name">%T10SCRLRA11</td>
      <td class="score">%T10SCRLRA12</td>
      <td class="date">%T10SCRLRA14</td>
      <td class="stage">%T10SCRLRA13</td>
      <td class="slow">%T10SCRLRA15</td>
     </tr>
     <tr>
      <td class="character">博麗 霊夢<br />（前方集中装備）</td>
      <td class="name">%T10SCRLRB11</td>
      <td class="score">%T10SCRLRB12</td>
      <td class="date">%T10SCRLRB14</td>
      <td class="stage">%T10SCRLRB13</td>
      <td class="slow">%T10SCRLRB15</td>
     </tr>
     <tr>
      <td class="character">博麗 霊夢<br />（封印装備）</td>
      <td class="name">%T10SCRLRC11</td>
      <td class="score">%T10SCRLRC12</td>
      <td class="date">%T10SCRLRC14</td>
      <td class="stage">%T10SCRLRC13</td>
      <td class="slow">%T10SCRLRC15</td>
     </tr>
     <tr>
      <td class="character">霧雨 魔理沙<br />（高威力装備）</td>
      <td class="name">%T10SCRLMA11</td>
      <td class="score">%T10SCRLMA12</td>
      <td class="date">%T10SCRLMA14</td>
      <td class="stage">%T10SCRLMA13</td>
      <td class="slow">%T10SCRLMA15</td>
     </tr>
     <tr>
      <td class="character">霧雨 魔理沙<br />（貫通装備）</td>
      <td class="name">%T10SCRLMB11</td>
      <td class="score">%T10SCRLMB12</td>
      <td class="date">%T10SCRLMB14</td>
      <td class="stage">%T10SCRLMB13</td>
      <td class="slow">%T10SCRLMB15</td>
     </tr>
     <tr>
      <td class="character">霧雨 魔理沙<br />（魔法使い装備）</td>
      <td class="name">%T10SCRLMC11</td>
      <td class="score">%T10SCRLMC12</td>
      <td class="date">%T10SCRLMC14</td>
      <td class="stage">%T10SCRLMC13</td>
      <td class="slow">%T10SCRLMC15</td>
     </tr>
    </tbody>
   </table>

   <table class="score_per_level">
    <caption id="Extra">Extra</caption>
    <thead>
     <tr>
      <td class="character">Character</td>
      <td class="name">Name</td>
      <td class="score">Score</td>
      <td class="date">Date</td>
      <td class="stage">Stage</td>
      <td class="slow">Slow</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="character">博麗 霊夢<br />（誘導装備）</td>
      <td class="name">%T10SCRXRA11</td>
      <td class="score">%T10SCRXRA12</td>
      <td class="date">%T10SCRXRA14</td>
      <td class="stage">%T10SCRXRA13</td>
      <td class="slow">%T10SCRXRA15</td>
     </tr>
     <tr>
      <td class="character">博麗 霊夢<br />（前方集中装備）</td>
      <td class="name">%T10SCRXRB11</td>
      <td class="score">%T10SCRXRB12</td>
      <td class="date">%T10SCRXRB14</td>
      <td class="stage">%T10SCRXRB13</td>
      <td class="slow">%T10SCRXRB15</td>
     </tr>
     <tr>
      <td class="character">博麗 霊夢<br />（封印装備）</td>
      <td class="name">%T10SCRXRC11</td>
      <td class="score">%T10SCRXRC12</td>
      <td class="date">%T10SCRXRC14</td>
      <td class="stage">%T10SCRXRC13</td>
      <td class="slow">%T10SCRXRC15</td>
     </tr>
     <tr>
      <td class="character">霧雨 魔理沙<br />（高威力装備）</td>
      <td class="name">%T10SCRXMA11</td>
      <td class="score">%T10SCRXMA12</td>
      <td class="date">%T10SCRXMA14</td>
      <td class="stage">%T10SCRXMA13</td>
      <td class="slow">%T10SCRXMA15</td>
     </tr>
     <tr>
      <td class="character">霧雨 魔理沙<br />（貫通装備）</td>
      <td class="name">%T10SCRXMB11</td>
      <td class="score">%T10SCRXMB12</td>
      <td class="date">%T10SCRXMB14</td>
      <td class="stage">%T10SCRXMB13</td>
      <td class="slow">%T10SCRXMB15</td>
     </tr>
     <tr>
      <td class="character">霧雨 魔理沙<br />（魔法使い装備）</td>
      <td class="name">%T10SCRXMC11</td>
      <td class="score">%T10SCRXMC12</td>
      <td class="date">%T10SCRXMC14</td>
      <td class="stage">%T10SCRXMC13</td>
      <td class="slow">%T10SCRXMC15</td>
     </tr>
    </tbody>
   </table>
  </div>

  <hr />

  <div class="section">
   <h2 id="Other">その他の状態一覧</h2>

   <table class="count">
    <thead>
     <tr>
      <td rowspan="2" class="character">Character</td>
      <td rowspan="2" class="count">総プレイ回数</td>
      <td rowspan="2" class="time">プレイ時間</td>
      <td colspan="6">クリア回数</td>
     </tr>
     <tr>
      <td class="level">Easy</td>
      <td class="level">Normal</td>
      <td class="level">Hard</td>
      <td class="level">Lunatic</td>
      <td class="level">Extra</td>
      <td class="level">Total</td>
     </tr>
    </thead>
    <tfoot>
     <tr>
      <td class="character">全主人公合計</td>
      <td class="count">%T10CHARATL1</td>
      <td class="time">%T10CHARATL2</td>
      <td class="level">%T10CHARAEXETL3</td>
      <td class="level">%T10CHARAEXNTL3</td>
      <td class="level">%T10CHARAEXHTL3</td>
      <td class="level">%T10CHARAEXLTL3</td>
      <td class="level">%T10CHARAEXXTL3</td>
      <td class="level">%T10CHARAEXTTL3</td>
     </tr>
    </tfoot>
    <tbody>
     <tr>
      <td class="character">博麗 霊夢<br />（誘導装備）</td>
      <td class="count">%T10CHARARA1</td>
      <td class="time">%T10CHARARA2</td>
      <td class="level">%T10CHARAEXERA3</td>
      <td class="level">%T10CHARAEXNRA3</td>
      <td class="level">%T10CHARAEXHRA3</td>
      <td class="level">%T10CHARAEXLRA3</td>
      <td class="level">%T10CHARAEXXRA3</td>
      <td class="level">%T10CHARAEXTRA3</td>
     </tr>
     <tr>
      <td class="character">博麗 霊夢<br />（前方集中装備）</td>
      <td class="count">%T10CHARARB1</td>
      <td class="time">%T10CHARARB2</td>
      <td class="level">%T10CHARAEXERB3</td>
      <td class="level">%T10CHARAEXNRB3</td>
      <td class="level">%T10CHARAEXHRB3</td>
      <td class="level">%T10CHARAEXLRB3</td>
      <td class="level">%T10CHARAEXXRB3</td>
      <td class="level">%T10CHARAEXTRB3</td>
     </tr>
     <tr>
      <td class="character">博麗 霊夢<br />（封印装備）</td>
      <td class="count">%T10CHARARC1</td>
      <td class="time">%T10CHARARC2</td>
      <td class="level">%T10CHARAEXERC3</td>
      <td class="level">%T10CHARAEXNRC3</td>
      <td class="level">%T10CHARAEXHRC3</td>
      <td class="level">%T10CHARAEXLRC3</td>
      <td class="level">%T10CHARAEXXRC3</td>
      <td class="level">%T10CHARAEXTRC3</td>
     </tr>
     <tr>
      <td class="character">霧雨 魔理沙<br />（高威力装備）</td>
      <td class="count">%T10CHARAMA1</td>
      <td class="time">%T10CHARAMA2</td>
      <td class="level">%T10CHARAEXEMA3</td>
      <td class="level">%T10CHARAEXNMA3</td>
      <td class="level">%T10CHARAEXHMA3</td>
      <td class="level">%T10CHARAEXLMA3</td>
      <td class="level">%T10CHARAEXXMA3</td>
      <td class="level">%T10CHARAEXTMA3</td>
     </tr>
     <tr>
      <td class="character">霧雨 魔理沙<br />（貫通装備）</td>
      <td class="count">%T10CHARAMB1</td>
      <td class="time">%T10CHARAMB2</td>
      <td class="level">%T10CHARAEXEMB3</td>
      <td class="level">%T10CHARAEXNMB3</td>
      <td class="level">%T10CHARAEXHMB3</td>
      <td class="level">%T10CHARAEXLMB3</td>
      <td class="level">%T10CHARAEXXMB3</td>
      <td class="level">%T10CHARAEXTMB3</td>
     </tr>
     <tr>
      <td class="character">霧雨 魔理沙<br />（魔法使い装備）</td>
      <td class="count">%T10CHARAMC1</td>
      <td class="time">%T10CHARAMC2</td>
      <td class="level">%T10CHARAEXEMC3</td>
      <td class="level">%T10CHARAEXNMC3</td>
      <td class="level">%T10CHARAEXHMC3</td>
      <td class="level">%T10CHARAEXLMC3</td>
      <td class="level">%T10CHARAEXXMC3</td>
      <td class="level">%T10CHARAEXTMC3</td>
     </tr>
    </tbody>
   </table>
  </div>

  <hr />

  <div class="section">
   <h2 id="Clear">クリア達成度</h2>

   <table class="clear">
    <thead>
     <tr>
      <td class="character">Character</td>
      <td class="level">Easy</td>
      <td class="level">Normal</td>
      <td class="level">Hard</td>
      <td class="level">Lunatic</td>
      <td class="level">Extra</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="character">博麗 霊夢<br />（誘導装備）</td>
      <td class="stage">%T10CLEARERA</td>
      <td class="stage">%T10CLEARNRA</td>
      <td class="stage">%T10CLEARHRA</td>
      <td class="stage">%T10CLEARLRA</td>
      <td class="stage">%T10CLEARXRA</td>
     </tr>
     <tr>
      <td class="character">博麗 霊夢<br />（前方集中装備）</td>
      <td class="stage">%T10CLEARERB</td>
      <td class="stage">%T10CLEARNRB</td>
      <td class="stage">%T10CLEARHRB</td>
      <td class="stage">%T10CLEARLRB</td>
      <td class="stage">%T10CLEARXRB</td>
     </tr>
     <tr>
      <td class="character">博麗 霊夢<br />（封印装備）</td>
      <td class="stage">%T10CLEARERC</td>
      <td class="stage">%T10CLEARNRC</td>
      <td class="stage">%T10CLEARHRC</td>
      <td class="stage">%T10CLEARLRC</td>
      <td class="stage">%T10CLEARXRC</td>
     </tr>
     <tr>
      <td class="character">霧雨 魔理沙<br />（高威力装備）</td>
      <td class="stage">%T10CLEAREMA</td>
      <td class="stage">%T10CLEARNMA</td>
      <td class="stage">%T10CLEARHMA</td>
      <td class="stage">%T10CLEARLMA</td>
      <td class="stage">%T10CLEARXMA</td>
     </tr>
     <tr>
      <td class="character">霧雨 魔理沙<br />（貫通装備）</td>
      <td class="stage">%T10CLEAREMB</td>
      <td class="stage">%T10CLEARNMB</td>
      <td class="stage">%T10CLEARHMB</td>
      <td class="stage">%T10CLEARLMB</td>
      <td class="stage">%T10CLEARXMB</td>
     </tr>
     <tr>
      <td class="character">霧雨 魔理沙<br />（魔法使い装備）</td>
      <td class="stage">%T10CLEAREMC</td>
      <td class="stage">%T10CLEARNMC</td>
      <td class="stage">%T10CLEARHMC</td>
      <td class="stage">%T10CLEARLMC</td>
      <td class="stage">%T10CLEARXMC</td>
     </tr>
    </tbody>
   </table>
  </div>

  <hr />

  <div class="section">
   <p>
    Data output by <a href="https://www.colorless-sight.jp/thsfc/">ThScoreFileConverter</a>.
<script type="text/javascript">
<!--
    document.write("Last updated: ", document.lastModified, ".");
//-->
</script>
   </p>
  </div>

 </body>
</html>
