<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja">

 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="Content-Stype-Type" content="text/css" />
  <meta http-equiv="Content-Script-Type" content="text/javascript" />
  <title>東方地霊殿スコアデータ</title>
  <link rel="stylesheet" type="text/css" href="style.css" />
  <link rel="stylesheet" type="text/css" href="th11.css" />
<style type="text/css">
<!--
    table.practice { float: left; }
-->
</style>
 </head>

 <body>
  <h1>東方地霊殿スコアデータ</h1>

  <hr />

  <div class="section">
   <p>
    <a href="th11score1.html">スコアデータ全般</a> /
    <a href="th11score2.html">個別ランキング</a> /
    プラクティス /
    <a href="th11card.html">御札戦歴</a><br />
    <a href="#Easy">Easy</a>
    <a href="#Normal">Normal</a>
    <a href="#Hard">Hard</a>
    <a href="#Lunatic">Lunatic</a>
   </p>
  </div>

  <hr />

  <div class="section">
   <h2 id="Easy">Easy</h2>

   <table class="practice">
    <caption>霊夢 &amp; 紫</caption>
    <thead>
     <tr>
      <td class="stage">Stage</td>
      <td class="score">Score</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="stage">Stage 1</td>
      <td class="score">%T11PRACERY1</td>
     </tr>
     <tr>
      <td class="stage">Stage 2</td>
      <td class="score">%T11PRACERY2</td>
     </tr>
     <tr>
      <td class="stage">Stage 3</td>
      <td class="score">%T11PRACERY3</td>
     </tr>
     <tr>
      <td class="stage">Stage 4</td>
      <td class="score">%T11PRACERY4</td>
     </tr>
     <tr>
      <td class="stage">Stage 5</td>
      <td class="score">%T11PRACERY5</td>
     </tr>
     <tr>
      <td class="stage">Stage 6</td>
      <td class="score">%T11PRACERY6</td>
     </tr>
    </tbody>
   </table>

   <table class="practice">
    <caption>霊夢 &amp; 萃香</caption>
    <thead>
     <tr>
      <td class="stage">Stage</td>
      <td class="score">Score</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="stage">Stage 1</td>
      <td class="score">%T11PRACERS1</td>
     </tr>
     <tr>
      <td class="stage">Stage 2</td>
      <td class="score">%T11PRACERS2</td>
     </tr>
     <tr>
      <td class="stage">Stage 3</td>
      <td class="score">%T11PRACERS3</td>
     </tr>
     <tr>
      <td class="stage">Stage 4</td>
      <td class="score">%T11PRACERS4</td>
     </tr>
     <tr>
      <td class="stage">Stage 5</td>
      <td class="score">%T11PRACERS5</td>
     </tr>
     <tr>
      <td class="stage">Stage 6</td>
      <td class="score">%T11PRACERS6</td>
     </tr>
    </tbody>
   </table>

   <table class="practice">
    <caption>霊夢 &amp; 文</caption>
    <thead>
     <tr>
      <td class="stage">Stage</td>
      <td class="score">Score</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="stage">Stage 1</td>
      <td class="score">%T11PRACERA1</td>
     </tr>
     <tr>
      <td class="stage">Stage 2</td>
      <td class="score">%T11PRACERA2</td>
     </tr>
     <tr>
      <td class="stage">Stage 3</td>
      <td class="score">%T11PRACERA3</td>
     </tr>
     <tr>
      <td class="stage">Stage 4</td>
      <td class="score">%T11PRACERA4</td>
     </tr>
     <tr>
      <td class="stage">Stage 5</td>
      <td class="score">%T11PRACERA5</td>
     </tr>
     <tr>
      <td class="stage">Stage 6</td>
      <td class="score">%T11PRACERA6</td>
     </tr>
    </tbody>
   </table>

   <table class="practice">
    <caption>魔理沙 &amp; アリス</caption>
    <thead>
     <tr>
      <td class="stage">Stage</td>
      <td class="score">Score</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="stage">Stage 1</td>
      <td class="score">%T11PRACEMA1</td>
     </tr>
     <tr>
      <td class="stage">Stage 2</td>
      <td class="score">%T11PRACEMA2</td>
     </tr>
     <tr>
      <td class="stage">Stage 3</td>
      <td class="score">%T11PRACEMA3</td>
     </tr>
     <tr>
      <td class="stage">Stage 4</td>
      <td class="score">%T11PRACEMA4</td>
     </tr>
     <tr>
      <td class="stage">Stage 5</td>
      <td class="score">%T11PRACEMA5</td>
     </tr>
     <tr>
      <td class="stage">Stage 6</td>
      <td class="score">%T11PRACEMA6</td>
     </tr>
    </tbody>
   </table>

   <table class="practice">
    <caption>魔理沙 &amp; パチュリー</caption>
    <thead>
     <tr>
      <td class="stage">Stage</td>
      <td class="score">Score</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="stage">Stage 1</td>
      <td class="score">%T11PRACEMP1</td>
     </tr>
     <tr>
      <td class="stage">Stage 2</td>
      <td class="score">%T11PRACEMP2</td>
     </tr>
     <tr>
      <td class="stage">Stage 3</td>
      <td class="score">%T11PRACEMP3</td>
     </tr>
     <tr>
      <td class="stage">Stage 4</td>
      <td class="score">%T11PRACEMP4</td>
     </tr>
     <tr>
      <td class="stage">Stage 5</td>
      <td class="score">%T11PRACEMP5</td>
     </tr>
     <tr>
      <td class="stage">Stage 6</td>
      <td class="score">%T11PRACEMP6</td>
     </tr>
    </tbody>
   </table>

   <table class="practice">
    <caption>魔理沙 &amp; にとり</caption>
    <thead>
     <tr>
      <td class="stage">Stage</td>
      <td class="score">Score</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="stage">Stage 1</td>
      <td class="score">%T11PRACEMN1</td>
     </tr>
     <tr>
      <td class="stage">Stage 2</td>
      <td class="score">%T11PRACEMN2</td>
     </tr>
     <tr>
      <td class="stage">Stage 3</td>
      <td class="score">%T11PRACEMN3</td>
     </tr>
     <tr>
      <td class="stage">Stage 4</td>
      <td class="score">%T11PRACEMN4</td>
     </tr>
     <tr>
      <td class="stage">Stage 5</td>
      <td class="score">%T11PRACEMN5</td>
     </tr>
     <tr>
      <td class="stage">Stage 6</td>
      <td class="score">%T11PRACEMN6</td>
     </tr>
    </tbody>
   </table>
  </div>

  <hr />

  <div class="section">
   <h2 id="Normal">Normal</h2>

   <table class="practice">
    <caption>霊夢 &amp; 紫</caption>
    <thead>
     <tr>
      <td class="stage">Stage</td>
      <td class="score">Score</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="stage">Stage 1</td>
      <td class="score">%T11PRACNRY1</td>
     </tr>
     <tr>
      <td class="stage">Stage 2</td>
      <td class="score">%T11PRACNRY2</td>
     </tr>
     <tr>
      <td class="stage">Stage 3</td>
      <td class="score">%T11PRACNRY3</td>
     </tr>
     <tr>
      <td class="stage">Stage 4</td>
      <td class="score">%T11PRACNRY4</td>
     </tr>
     <tr>
      <td class="stage">Stage 5</td>
      <td class="score">%T11PRACNRY5</td>
     </tr>
     <tr>
      <td class="stage">Stage 6</td>
      <td class="score">%T11PRACNRY6</td>
     </tr>
    </tbody>
   </table>

   <table class="practice">
    <caption>霊夢 &amp; 萃香</caption>
    <thead>
     <tr>
      <td class="stage">Stage</td>
      <td class="score">Score</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="stage">Stage 1</td>
      <td class="score">%T11PRACNRS1</td>
     </tr>
     <tr>
      <td class="stage">Stage 2</td>
      <td class="score">%T11PRACNRS2</td>
     </tr>
     <tr>
      <td class="stage">Stage 3</td>
      <td class="score">%T11PRACNRS3</td>
     </tr>
     <tr>
      <td class="stage">Stage 4</td>
      <td class="score">%T11PRACNRS4</td>
     </tr>
     <tr>
      <td class="stage">Stage 5</td>
      <td class="score">%T11PRACNRS5</td>
     </tr>
     <tr>
      <td class="stage">Stage 6</td>
      <td class="score">%T11PRACNRS6</td>
     </tr>
    </tbody>
   </table>

   <table class="practice">
    <caption>霊夢 &amp; 文</caption>
    <thead>
     <tr>
      <td class="stage">Stage</td>
      <td class="score">Score</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="stage">Stage 1</td>
      <td class="score">%T11PRACNRA1</td>
     </tr>
     <tr>
      <td class="stage">Stage 2</td>
      <td class="score">%T11PRACNRA2</td>
     </tr>
     <tr>
      <td class="stage">Stage 3</td>
      <td class="score">%T11PRACNRA3</td>
     </tr>
     <tr>
      <td class="stage">Stage 4</td>
      <td class="score">%T11PRACNRA4</td>
     </tr>
     <tr>
      <td class="stage">Stage 5</td>
      <td class="score">%T11PRACNRA5</td>
     </tr>
     <tr>
      <td class="stage">Stage 6</td>
      <td class="score">%T11PRACNRA6</td>
     </tr>
    </tbody>
   </table>

   <table class="practice">
    <caption>魔理沙 &amp; アリス</caption>
    <thead>
     <tr>
      <td class="stage">Stage</td>
      <td class="score">Score</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="stage">Stage 1</td>
      <td class="score">%T11PRACNMA1</td>
     </tr>
     <tr>
      <td class="stage">Stage 2</td>
      <td class="score">%T11PRACNMA2</td>
     </tr>
     <tr>
      <td class="stage">Stage 3</td>
      <td class="score">%T11PRACNMA3</td>
     </tr>
     <tr>
      <td class="stage">Stage 4</td>
      <td class="score">%T11PRACNMA4</td>
     </tr>
     <tr>
      <td class="stage">Stage 5</td>
      <td class="score">%T11PRACNMA5</td>
     </tr>
     <tr>
      <td class="stage">Stage 6</td>
      <td class="score">%T11PRACNMA6</td>
     </tr>
    </tbody>
   </table>

   <table class="practice">
    <caption>魔理沙 &amp; パチュリー</caption>
    <thead>
     <tr>
      <td class="stage">Stage</td>
      <td class="score">Score</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="stage">Stage 1</td>
      <td class="score">%T11PRACNMP1</td>
     </tr>
     <tr>
      <td class="stage">Stage 2</td>
      <td class="score">%T11PRACNMP2</td>
     </tr>
     <tr>
      <td class="stage">Stage 3</td>
      <td class="score">%T11PRACNMP3</td>
     </tr>
     <tr>
      <td class="stage">Stage 4</td>
      <td class="score">%T11PRACNMP4</td>
     </tr>
     <tr>
      <td class="stage">Stage 5</td>
      <td class="score">%T11PRACNMP5</td>
     </tr>
     <tr>
      <td class="stage">Stage 6</td>
      <td class="score">%T11PRACNMP6</td>
     </tr>
    </tbody>
   </table>

   <table class="practice">
    <caption>魔理沙 &amp; にとり</caption>
    <thead>
     <tr>
      <td class="stage">Stage</td>
      <td class="score">Score</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="stage">Stage 1</td>
      <td class="score">%T11PRACNMN1</td>
     </tr>
     <tr>
      <td class="stage">Stage 2</td>
      <td class="score">%T11PRACNMN2</td>
     </tr>
     <tr>
      <td class="stage">Stage 3</td>
      <td class="score">%T11PRACNMN3</td>
     </tr>
     <tr>
      <td class="stage">Stage 4</td>
      <td class="score">%T11PRACNMN4</td>
     </tr>
     <tr>
      <td class="stage">Stage 5</td>
      <td class="score">%T11PRACNMN5</td>
     </tr>
     <tr>
      <td class="stage">Stage 6</td>
      <td class="score">%T11PRACNMN6</td>
     </tr>
    </tbody>
   </table>
  </div>

  <hr />

  <div class="section">
   <h2 id="Hard">Hard</h2>

   <table class="practice">
    <caption>霊夢 &amp; 紫</caption>
    <thead>
     <tr>
      <td class="stage">Stage</td>
      <td class="score">Score</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="stage">Stage 1</td>
      <td class="score">%T11PRACHRY1</td>
     </tr>
     <tr>
      <td class="stage">Stage 2</td>
      <td class="score">%T11PRACHRY2</td>
     </tr>
     <tr>
      <td class="stage">Stage 3</td>
      <td class="score">%T11PRACHRY3</td>
     </tr>
     <tr>
      <td class="stage">Stage 4</td>
      <td class="score">%T11PRACHRY4</td>
     </tr>
     <tr>
      <td class="stage">Stage 5</td>
      <td class="score">%T11PRACHRY5</td>
     </tr>
     <tr>
      <td class="stage">Stage 6</td>
      <td class="score">%T11PRACHRY6</td>
     </tr>
    </tbody>
   </table>

   <table class="practice">
    <caption>霊夢 &amp; 萃香</caption>
    <thead>
     <tr>
      <td class="stage">Stage</td>
      <td class="score">Score</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="stage">Stage 1</td>
      <td class="score">%T11PRACHRS1</td>
     </tr>
     <tr>
      <td class="stage">Stage 2</td>
      <td class="score">%T11PRACHRS2</td>
     </tr>
     <tr>
      <td class="stage">Stage 3</td>
      <td class="score">%T11PRACHRS3</td>
     </tr>
     <tr>
      <td class="stage">Stage 4</td>
      <td class="score">%T11PRACHRS4</td>
     </tr>
     <tr>
      <td class="stage">Stage 5</td>
      <td class="score">%T11PRACHRS5</td>
     </tr>
     <tr>
      <td class="stage">Stage 6</td>
      <td class="score">%T11PRACHRS6</td>
     </tr>
    </tbody>
   </table>

   <table class="practice">
    <caption>霊夢 &amp; 文</caption>
    <thead>
     <tr>
      <td class="stage">Stage</td>
      <td class="score">Score</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="stage">Stage 1</td>
      <td class="score">%T11PRACHRA1</td>
     </tr>
     <tr>
      <td class="stage">Stage 2</td>
      <td class="score">%T11PRACHRA2</td>
     </tr>
     <tr>
      <td class="stage">Stage 3</td>
      <td class="score">%T11PRACHRA3</td>
     </tr>
     <tr>
      <td class="stage">Stage 4</td>
      <td class="score">%T11PRACHRA4</td>
     </tr>
     <tr>
      <td class="stage">Stage 5</td>
      <td class="score">%T11PRACHRA5</td>
     </tr>
     <tr>
      <td class="stage">Stage 6</td>
      <td class="score">%T11PRACHRA6</td>
     </tr>
    </tbody>
   </table>

   <table class="practice">
    <caption>魔理沙 &amp; アリス</caption>
    <thead>
     <tr>
      <td class="stage">Stage</td>
      <td class="score">Score</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="stage">Stage 1</td>
      <td class="score">%T11PRACHMA1</td>
     </tr>
     <tr>
      <td class="stage">Stage 2</td>
      <td class="score">%T11PRACHMA2</td>
     </tr>
     <tr>
      <td class="stage">Stage 3</td>
      <td class="score">%T11PRACHMA3</td>
     </tr>
     <tr>
      <td class="stage">Stage 4</td>
      <td class="score">%T11PRACHMA4</td>
     </tr>
     <tr>
      <td class="stage">Stage 5</td>
      <td class="score">%T11PRACHMA5</td>
     </tr>
     <tr>
      <td class="stage">Stage 6</td>
      <td class="score">%T11PRACHMA6</td>
     </tr>
    </tbody>
   </table>

   <table class="practice">
    <caption>魔理沙 &amp; パチュリー</caption>
    <thead>
     <tr>
      <td class="stage">Stage</td>
      <td class="score">Score</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="stage">Stage 1</td>
      <td class="score">%T11PRACHMP1</td>
     </tr>
     <tr>
      <td class="stage">Stage 2</td>
      <td class="score">%T11PRACHMP2</td>
     </tr>
     <tr>
      <td class="stage">Stage 3</td>
      <td class="score">%T11PRACHMP3</td>
     </tr>
     <tr>
      <td class="stage">Stage 4</td>
      <td class="score">%T11PRACHMP4</td>
     </tr>
     <tr>
      <td class="stage">Stage 5</td>
      <td class="score">%T11PRACHMP5</td>
     </tr>
     <tr>
      <td class="stage">Stage 6</td>
      <td class="score">%T11PRACHMP6</td>
     </tr>
    </tbody>
   </table>

   <table class="practice">
    <caption>魔理沙 &amp; にとり</caption>
    <thead>
     <tr>
      <td class="stage">Stage</td>
      <td class="score">Score</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="stage">Stage 1</td>
      <td class="score">%T11PRACHMN1</td>
     </tr>
     <tr>
      <td class="stage">Stage 2</td>
      <td class="score">%T11PRACHMN2</td>
     </tr>
     <tr>
      <td class="stage">Stage 3</td>
      <td class="score">%T11PRACHMN3</td>
     </tr>
     <tr>
      <td class="stage">Stage 4</td>
      <td class="score">%T11PRACHMN4</td>
     </tr>
     <tr>
      <td class="stage">Stage 5</td>
      <td class="score">%T11PRACHMN5</td>
     </tr>
     <tr>
      <td class="stage">Stage 6</td>
      <td class="score">%T11PRACHMN6</td>
     </tr>
    </tbody>
   </table>
  </div>

  <hr />

  <div class="section">
   <h2 id="Lunatic">Lunatic</h2>

   <table class="practice">
    <caption>霊夢 &amp; 紫</caption>
    <thead>
     <tr>
      <td class="stage">Stage</td>
      <td class="score">Score</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="stage">Stage 1</td>
      <td class="score">%T11PRACLRY1</td>
     </tr>
     <tr>
      <td class="stage">Stage 2</td>
      <td class="score">%T11PRACLRY2</td>
     </tr>
     <tr>
      <td class="stage">Stage 3</td>
      <td class="score">%T11PRACLRY3</td>
     </tr>
     <tr>
      <td class="stage">Stage 4</td>
      <td class="score">%T11PRACLRY4</td>
     </tr>
     <tr>
      <td class="stage">Stage 5</td>
      <td class="score">%T11PRACLRY5</td>
     </tr>
     <tr>
      <td class="stage">Stage 6</td>
      <td class="score">%T11PRACLRY6</td>
     </tr>
    </tbody>
   </table>

   <table class="practice">
    <caption>霊夢 &amp; 萃香</caption>
    <thead>
     <tr>
      <td class="stage">Stage</td>
      <td class="score">Score</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="stage">Stage 1</td>
      <td class="score">%T11PRACLRS1</td>
     </tr>
     <tr>
      <td class="stage">Stage 2</td>
      <td class="score">%T11PRACLRS2</td>
     </tr>
     <tr>
      <td class="stage">Stage 3</td>
      <td class="score">%T11PRACLRS3</td>
     </tr>
     <tr>
      <td class="stage">Stage 4</td>
      <td class="score">%T11PRACLRS4</td>
     </tr>
     <tr>
      <td class="stage">Stage 5</td>
      <td class="score">%T11PRACLRS5</td>
     </tr>
     <tr>
      <td class="stage">Stage 6</td>
      <td class="score">%T11PRACLRS6</td>
     </tr>
    </tbody>
   </table>

   <table class="practice">
    <caption>霊夢 &amp; 文</caption>
    <thead>
     <tr>
      <td class="stage">Stage</td>
      <td class="score">Score</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="stage">Stage 1</td>
      <td class="score">%T11PRACLRA1</td>
     </tr>
     <tr>
      <td class="stage">Stage 2</td>
      <td class="score">%T11PRACLRA2</td>
     </tr>
     <tr>
      <td class="stage">Stage 3</td>
      <td class="score">%T11PRACLRA3</td>
     </tr>
     <tr>
      <td class="stage">Stage 4</td>
      <td class="score">%T11PRACLRA4</td>
     </tr>
     <tr>
      <td class="stage">Stage 5</td>
      <td class="score">%T11PRACLRA5</td>
     </tr>
     <tr>
      <td class="stage">Stage 6</td>
      <td class="score">%T11PRACLRA6</td>
     </tr>
    </tbody>
   </table>

   <table class="practice">
    <caption>魔理沙 &amp; アリス</caption>
    <thead>
     <tr>
      <td class="stage">Stage</td>
      <td class="score">Score</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="stage">Stage 1</td>
      <td class="score">%T11PRACLMA1</td>
     </tr>
     <tr>
      <td class="stage">Stage 2</td>
      <td class="score">%T11PRACLMA2</td>
     </tr>
     <tr>
      <td class="stage">Stage 3</td>
      <td class="score">%T11PRACLMA3</td>
     </tr>
     <tr>
      <td class="stage">Stage 4</td>
      <td class="score">%T11PRACLMA4</td>
     </tr>
     <tr>
      <td class="stage">Stage 5</td>
      <td class="score">%T11PRACLMA5</td>
     </tr>
     <tr>
      <td class="stage">Stage 6</td>
      <td class="score">%T11PRACLMA6</td>
     </tr>
    </tbody>
   </table>

   <table class="practice">
    <caption>魔理沙 &amp; パチュリー</caption>
    <thead>
     <tr>
      <td class="stage">Stage</td>
      <td class="score">Score</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="stage">Stage 1</td>
      <td class="score">%T11PRACLMP1</td>
     </tr>
     <tr>
      <td class="stage">Stage 2</td>
      <td class="score">%T11PRACLMP2</td>
     </tr>
     <tr>
      <td class="stage">Stage 3</td>
      <td class="score">%T11PRACLMP3</td>
     </tr>
     <tr>
      <td class="stage">Stage 4</td>
      <td class="score">%T11PRACLMP4</td>
     </tr>
     <tr>
      <td class="stage">Stage 5</td>
      <td class="score">%T11PRACLMP5</td>
     </tr>
     <tr>
      <td class="stage">Stage 6</td>
      <td class="score">%T11PRACLMP6</td>
     </tr>
    </tbody>
   </table>

   <table class="practice">
    <caption>魔理沙 &amp; にとり</caption>
    <thead>
     <tr>
      <td class="stage">Stage</td>
      <td class="score">Score</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="stage">Stage 1</td>
      <td class="score">%T11PRACLMN1</td>
     </tr>
     <tr>
      <td class="stage">Stage 2</td>
      <td class="score">%T11PRACLMN2</td>
     </tr>
     <tr>
      <td class="stage">Stage 3</td>
      <td class="score">%T11PRACLMN3</td>
     </tr>
     <tr>
      <td class="stage">Stage 4</td>
      <td class="score">%T11PRACLMN4</td>
     </tr>
     <tr>
      <td class="stage">Stage 5</td>
      <td class="score">%T11PRACLMN5</td>
     </tr>
     <tr>
      <td class="stage">Stage 6</td>
      <td class="score">%T11PRACLMN6</td>
     </tr>
    </tbody>
   </table>
  </div>

  <hr />

  <div class="section">
   <p>
    Data output by <a href="https://www.colorless-sight.jp/thsfc/">ThScoreFileConverter</a>.
<script type="text/javascript">
<!--
    document.write("Last updated: ", document.lastModified, ".");
//-->
</script>
   </p>
  </div>

 </body>
</html>
