/*
 * th125.css
 *	Cascading style sheet for TH125 result files
 */

td.scene {
	min-width: 50px;
}

td.target {
	min-width: 240px;
}

td.score {
	min-width: 50px;
}

td.number {
	min-width: 70px;
}

td.date {
	min-width: 120px;
}
