<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja">

 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="Content-Stype-Type" content="text/css" />
  <meta http-equiv="Content-Script-Type" content="text/javascript" />
  <title>東方神霊廟スペルカードデータ</title>
  <link rel="stylesheet" type="text/css" href="style.css" />
  <link rel="stylesheet" type="text/css" href="th13.css" />
<style type="text/css">
<!--
    table.rate_per_card td.number { min-width: 40px; }
    table.rate_per_card td.card { min-width: 180px; }
    table.rate_per_card td.rate { min-width: 80px; }
    table.rate_per_level td.rate { min-width: 100px; }
    table.rate_per_stage td.rate { min-width: 100px; }
-->
</style>
 </head>

 <body>
  <h1>東方神霊廟スペルカードデータ</h1>

  <hr />

  <div class="section">
   <p>
    <a href="th13score1.html">スコアデータ全般</a> /
    <a href="th13score2.html">個別ランキング</a> /
    <a href="th13score3.html">プラクティス</a> /
    <a href="th13card1.html">御札戦歴（ゲーム本編）</a> /
    御札戦歴（スペルプラクティス）<br />
    <a href="#rate_per_card">スペルカード別</a> /
    <a href="#rate_per_level">難易度別</a> /
    <a href="#rate_per_stage">ステージ別</a>
   </p>
  </div>

  <hr />

  <div class="section">
   <h2 id="Card">御札戦歴（スペルプラクティス）</h2>

   <table class="rate_per_card">
    <caption id="rate_per_card">スペルカード別取得率（取得回数 / 遭遇回数）</caption>
    <thead>
     <tr>
      <td class="number">No.</td>
      <td class="card">スペルカード名<br />（難易度）</td>
      <td class="character">全主人公合計</td>
      <td class="character">博麗 霊夢</td>
      <td class="character">霧雨 魔理沙</td>
      <td class="character">東風谷 早苗</td>
      <td class="character">魂魄 妖夢</td>
     </tr>
    </thead>
    <tfoot>
     <tr>
      <td colspan="2">Total</td>
      <td class="rate">%T13CP000TL1 / %T13CP000TL2</td>
      <td class="rate">%T13CP000RM1 / %T13CP000RM2</td>
      <td class="rate">%T13CP000MR1 / %T13CP000MR2</td>
      <td class="rate">%T13CP000SN1 / %T13CP000SN2</td>
      <td class="rate">%T13CP000YM1 / %T13CP000YM2</td>
     </tr>
    </tfoot>

    <tbody>
     <tr>
      <td class="number">No.01</td>
      <td class="card">%T13CARD001N<br />(%T13CARD001R)</td>
      <td class="rate">%T13CP001TL1 / %T13CP001TL2</td>
      <td class="rate">%T13CP001RM1 / %T13CP001RM2</td>
      <td class="rate">%T13CP001MR1 / %T13CP001MR2</td>
      <td class="rate">%T13CP001SN1 / %T13CP001SN2</td>
      <td class="rate">%T13CP001YM1 / %T13CP001YM2</td>
     </tr>
     <tr>
      <td class="number">No.02</td>
      <td class="card">%T13CARD002N<br />(%T13CARD002R)</td>
      <td class="rate">%T13CP002TL1 / %T13CP002TL2</td>
      <td class="rate">%T13CP002RM1 / %T13CP002RM2</td>
      <td class="rate">%T13CP002MR1 / %T13CP002MR2</td>
      <td class="rate">%T13CP002SN1 / %T13CP002SN2</td>
      <td class="rate">%T13CP002YM1 / %T13CP002YM2</td>
     </tr>
     <tr>
      <td class="number">No.03</td>
      <td class="card">%T13CARD003N<br />(%T13CARD003R)</td>
      <td class="rate">%T13CP003TL1 / %T13CP003TL2</td>
      <td class="rate">%T13CP003RM1 / %T13CP003RM2</td>
      <td class="rate">%T13CP003MR1 / %T13CP003MR2</td>
      <td class="rate">%T13CP003SN1 / %T13CP003SN2</td>
      <td class="rate">%T13CP003YM1 / %T13CP003YM2</td>
     </tr>
     <tr>
      <td class="number">No.04</td>
      <td class="card">%T13CARD004N<br />(%T13CARD004R)</td>
      <td class="rate">%T13CP004TL1 / %T13CP004TL2</td>
      <td class="rate">%T13CP004RM1 / %T13CP004RM2</td>
      <td class="rate">%T13CP004MR1 / %T13CP004MR2</td>
      <td class="rate">%T13CP004SN1 / %T13CP004SN2</td>
      <td class="rate">%T13CP004YM1 / %T13CP004YM2</td>
     </tr>
     <tr>
      <td class="number">No.05</td>
      <td class="card">%T13CARD005N<br />(%T13CARD005R)</td>
      <td class="rate">%T13CP005TL1 / %T13CP005TL2</td>
      <td class="rate">%T13CP005RM1 / %T13CP005RM2</td>
      <td class="rate">%T13CP005MR1 / %T13CP005MR2</td>
      <td class="rate">%T13CP005SN1 / %T13CP005SN2</td>
      <td class="rate">%T13CP005YM1 / %T13CP005YM2</td>
     </tr>
     <tr>
      <td class="number">No.06</td>
      <td class="card">%T13CARD006N<br />(%T13CARD006R)</td>
      <td class="rate">%T13CP006TL1 / %T13CP006TL2</td>
      <td class="rate">%T13CP006RM1 / %T13CP006RM2</td>
      <td class="rate">%T13CP006MR1 / %T13CP006MR2</td>
      <td class="rate">%T13CP006SN1 / %T13CP006SN2</td>
      <td class="rate">%T13CP006YM1 / %T13CP006YM2</td>
     </tr>
     <tr>
      <td class="number">No.07</td>
      <td class="card">%T13CARD007N<br />(%T13CARD007R)</td>
      <td class="rate">%T13CP007TL1 / %T13CP007TL2</td>
      <td class="rate">%T13CP007RM1 / %T13CP007RM2</td>
      <td class="rate">%T13CP007MR1 / %T13CP007MR2</td>
      <td class="rate">%T13CP007SN1 / %T13CP007SN2</td>
      <td class="rate">%T13CP007YM1 / %T13CP007YM2</td>
     </tr>
     <tr>
      <td class="number">No.08</td>
      <td class="card">%T13CARD008N<br />(%T13CARD008R)</td>
      <td class="rate">%T13CP008TL1 / %T13CP008TL2</td>
      <td class="rate">%T13CP008RM1 / %T13CP008RM2</td>
      <td class="rate">%T13CP008MR1 / %T13CP008MR2</td>
      <td class="rate">%T13CP008SN1 / %T13CP008SN2</td>
      <td class="rate">%T13CP008YM1 / %T13CP008YM2</td>
     </tr>
     <tr>
      <td class="number">No.09</td>
      <td class="card">%T13CARD009N<br />(%T13CARD009R)</td>
      <td class="rate">%T13CP009TL1 / %T13CP009TL2</td>
      <td class="rate">%T13CP009RM1 / %T13CP009RM2</td>
      <td class="rate">%T13CP009MR1 / %T13CP009MR2</td>
      <td class="rate">%T13CP009SN1 / %T13CP009SN2</td>
      <td class="rate">%T13CP009YM1 / %T13CP009YM2</td>
     </tr>
     <tr>
      <td class="number">No.10</td>
      <td class="card">%T13CARD010N<br />(%T13CARD010R)</td>
      <td class="rate">%T13CP010TL1 / %T13CP010TL2</td>
      <td class="rate">%T13CP010RM1 / %T13CP010RM2</td>
      <td class="rate">%T13CP010MR1 / %T13CP010MR2</td>
      <td class="rate">%T13CP010SN1 / %T13CP010SN2</td>
      <td class="rate">%T13CP010YM1 / %T13CP010YM2</td>
     </tr>

     <tr>
      <td class="number">No.11</td>
      <td class="card">%T13CARD011N<br />(%T13CARD011R)</td>
      <td class="rate">%T13CP011TL1 / %T13CP011TL2</td>
      <td class="rate">%T13CP011RM1 / %T13CP011RM2</td>
      <td class="rate">%T13CP011MR1 / %T13CP011MR2</td>
      <td class="rate">%T13CP011SN1 / %T13CP011SN2</td>
      <td class="rate">%T13CP011YM1 / %T13CP011YM2</td>
     </tr>
     <tr>
      <td class="number">No.12</td>
      <td class="card">%T13CARD012N<br />(%T13CARD012R)</td>
      <td class="rate">%T13CP012TL1 / %T13CP012TL2</td>
      <td class="rate">%T13CP012RM1 / %T13CP012RM2</td>
      <td class="rate">%T13CP012MR1 / %T13CP012MR2</td>
      <td class="rate">%T13CP012SN1 / %T13CP012SN2</td>
      <td class="rate">%T13CP012YM1 / %T13CP012YM2</td>
     </tr>
     <tr>
      <td class="number">No.13</td>
      <td class="card">%T13CARD013N<br />(%T13CARD013R)</td>
      <td class="rate">%T13CP013TL1 / %T13CP013TL2</td>
      <td class="rate">%T13CP013RM1 / %T13CP013RM2</td>
      <td class="rate">%T13CP013MR1 / %T13CP013MR2</td>
      <td class="rate">%T13CP013SN1 / %T13CP013SN2</td>
      <td class="rate">%T13CP013YM1 / %T13CP013YM2</td>
     </tr>
     <tr>
      <td class="number">No.14</td>
      <td class="card">%T13CARD014N<br />(%T13CARD014R)</td>
      <td class="rate">%T13CP014TL1 / %T13CP014TL2</td>
      <td class="rate">%T13CP014RM1 / %T13CP014RM2</td>
      <td class="rate">%T13CP014MR1 / %T13CP014MR2</td>
      <td class="rate">%T13CP014SN1 / %T13CP014SN2</td>
      <td class="rate">%T13CP014YM1 / %T13CP014YM2</td>
     </tr>
     <tr>
      <td class="number">No.15</td>
      <td class="card">%T13CARD015N<br />(%T13CARD015R)</td>
      <td class="rate">%T13CP015TL1 / %T13CP015TL2</td>
      <td class="rate">%T13CP015RM1 / %T13CP015RM2</td>
      <td class="rate">%T13CP015MR1 / %T13CP015MR2</td>
      <td class="rate">%T13CP015SN1 / %T13CP015SN2</td>
      <td class="rate">%T13CP015YM1 / %T13CP015YM2</td>
     </tr>
     <tr>
      <td class="number">No.16</td>
      <td class="card">%T13CARD016N<br />(%T13CARD016R)</td>
      <td class="rate">%T13CP016TL1 / %T13CP016TL2</td>
      <td class="rate">%T13CP016RM1 / %T13CP016RM2</td>
      <td class="rate">%T13CP016MR1 / %T13CP016MR2</td>
      <td class="rate">%T13CP016SN1 / %T13CP016SN2</td>
      <td class="rate">%T13CP016YM1 / %T13CP016YM2</td>
     </tr>
     <tr>
      <td class="number">No.17</td>
      <td class="card">%T13CARD017N<br />(%T13CARD017R)</td>
      <td class="rate">%T13CP017TL1 / %T13CP017TL2</td>
      <td class="rate">%T13CP017RM1 / %T13CP017RM2</td>
      <td class="rate">%T13CP017MR1 / %T13CP017MR2</td>
      <td class="rate">%T13CP017SN1 / %T13CP017SN2</td>
      <td class="rate">%T13CP017YM1 / %T13CP017YM2</td>
     </tr>
     <tr>
      <td class="number">No.18</td>
      <td class="card">%T13CARD018N<br />(%T13CARD018R)</td>
      <td class="rate">%T13CP018TL1 / %T13CP018TL2</td>
      <td class="rate">%T13CP018RM1 / %T13CP018RM2</td>
      <td class="rate">%T13CP018MR1 / %T13CP018MR2</td>
      <td class="rate">%T13CP018SN1 / %T13CP018SN2</td>
      <td class="rate">%T13CP018YM1 / %T13CP018YM2</td>
     </tr>
     <tr>
      <td class="number">No.19</td>
      <td class="card">%T13CARD019N<br />(%T13CARD019R)</td>
      <td class="rate">%T13CP019TL1 / %T13CP019TL2</td>
      <td class="rate">%T13CP019RM1 / %T13CP019RM2</td>
      <td class="rate">%T13CP019MR1 / %T13CP019MR2</td>
      <td class="rate">%T13CP019SN1 / %T13CP019SN2</td>
      <td class="rate">%T13CP019YM1 / %T13CP019YM2</td>
     </tr>
     <tr>
      <td class="number">No.20</td>
      <td class="card">%T13CARD020N<br />(%T13CARD020R)</td>
      <td class="rate">%T13CP020TL1 / %T13CP020TL2</td>
      <td class="rate">%T13CP020RM1 / %T13CP020RM2</td>
      <td class="rate">%T13CP020MR1 / %T13CP020MR2</td>
      <td class="rate">%T13CP020SN1 / %T13CP020SN2</td>
      <td class="rate">%T13CP020YM1 / %T13CP020YM2</td>
     </tr>

     <tr>
      <td class="number">No.21</td>
      <td class="card">%T13CARD021N<br />(%T13CARD021R)</td>
      <td class="rate">%T13CP021TL1 / %T13CP021TL2</td>
      <td class="rate">%T13CP021RM1 / %T13CP021RM2</td>
      <td class="rate">%T13CP021MR1 / %T13CP021MR2</td>
      <td class="rate">%T13CP021SN1 / %T13CP021SN2</td>
      <td class="rate">%T13CP021YM1 / %T13CP021YM2</td>
     </tr>
     <tr>
      <td class="number">No.22</td>
      <td class="card">%T13CARD022N<br />(%T13CARD022R)</td>
      <td class="rate">%T13CP022TL1 / %T13CP022TL2</td>
      <td class="rate">%T13CP022RM1 / %T13CP022RM2</td>
      <td class="rate">%T13CP022MR1 / %T13CP022MR2</td>
      <td class="rate">%T13CP022SN1 / %T13CP022SN2</td>
      <td class="rate">%T13CP022YM1 / %T13CP022YM2</td>
     </tr>
     <tr>
      <td class="number">No.23</td>
      <td class="card">%T13CARD023N<br />(%T13CARD023R)</td>
      <td class="rate">%T13CP023TL1 / %T13CP023TL2</td>
      <td class="rate">%T13CP023RM1 / %T13CP023RM2</td>
      <td class="rate">%T13CP023MR1 / %T13CP023MR2</td>
      <td class="rate">%T13CP023SN1 / %T13CP023SN2</td>
      <td class="rate">%T13CP023YM1 / %T13CP023YM2</td>
     </tr>
     <tr>
      <td class="number">No.24</td>
      <td class="card">%T13CARD024N<br />(%T13CARD024R)</td>
      <td class="rate">%T13CP024TL1 / %T13CP024TL2</td>
      <td class="rate">%T13CP024RM1 / %T13CP024RM2</td>
      <td class="rate">%T13CP024MR1 / %T13CP024MR2</td>
      <td class="rate">%T13CP024SN1 / %T13CP024SN2</td>
      <td class="rate">%T13CP024YM1 / %T13CP024YM2</td>
     </tr>
     <tr>
      <td class="number">No.25</td>
      <td class="card">%T13CARD025N<br />(%T13CARD025R)</td>
      <td class="rate">%T13CP025TL1 / %T13CP025TL2</td>
      <td class="rate">%T13CP025RM1 / %T13CP025RM2</td>
      <td class="rate">%T13CP025MR1 / %T13CP025MR2</td>
      <td class="rate">%T13CP025SN1 / %T13CP025SN2</td>
      <td class="rate">%T13CP025YM1 / %T13CP025YM2</td>
     </tr>
     <tr>
      <td class="number">No.26</td>
      <td class="card">%T13CARD026N<br />(%T13CARD026R)</td>
      <td class="rate">%T13CP026TL1 / %T13CP026TL2</td>
      <td class="rate">%T13CP026RM1 / %T13CP026RM2</td>
      <td class="rate">%T13CP026MR1 / %T13CP026MR2</td>
      <td class="rate">%T13CP026SN1 / %T13CP026SN2</td>
      <td class="rate">%T13CP026YM1 / %T13CP026YM2</td>
     </tr>
     <tr>
      <td class="number">No.27</td>
      <td class="card">%T13CARD027N<br />(%T13CARD027R)</td>
      <td class="rate">%T13CP027TL1 / %T13CP027TL2</td>
      <td class="rate">%T13CP027RM1 / %T13CP027RM2</td>
      <td class="rate">%T13CP027MR1 / %T13CP027MR2</td>
      <td class="rate">%T13CP027SN1 / %T13CP027SN2</td>
      <td class="rate">%T13CP027YM1 / %T13CP027YM2</td>
     </tr>
     <tr>
      <td class="number">No.28</td>
      <td class="card">%T13CARD028N<br />(%T13CARD028R)</td>
      <td class="rate">%T13CP028TL1 / %T13CP028TL2</td>
      <td class="rate">%T13CP028RM1 / %T13CP028RM2</td>
      <td class="rate">%T13CP028MR1 / %T13CP028MR2</td>
      <td class="rate">%T13CP028SN1 / %T13CP028SN2</td>
      <td class="rate">%T13CP028YM1 / %T13CP028YM2</td>
     </tr>
     <tr>
      <td class="number">No.29</td>
      <td class="card">%T13CARD029N<br />(%T13CARD029R)</td>
      <td class="rate">%T13CP029TL1 / %T13CP029TL2</td>
      <td class="rate">%T13CP029RM1 / %T13CP029RM2</td>
      <td class="rate">%T13CP029MR1 / %T13CP029MR2</td>
      <td class="rate">%T13CP029SN1 / %T13CP029SN2</td>
      <td class="rate">%T13CP029YM1 / %T13CP029YM2</td>
     </tr>
     <tr>
      <td class="number">No.30</td>
      <td class="card">%T13CARD030N<br />(%T13CARD030R)</td>
      <td class="rate">%T13CP030TL1 / %T13CP030TL2</td>
      <td class="rate">%T13CP030RM1 / %T13CP030RM2</td>
      <td class="rate">%T13CP030MR1 / %T13CP030MR2</td>
      <td class="rate">%T13CP030SN1 / %T13CP030SN2</td>
      <td class="rate">%T13CP030YM1 / %T13CP030YM2</td>
     </tr>

     <tr>
      <td class="number">No.31</td>
      <td class="card">%T13CARD031N<br />(%T13CARD031R)</td>
      <td class="rate">%T13CP031TL1 / %T13CP031TL2</td>
      <td class="rate">%T13CP031RM1 / %T13CP031RM2</td>
      <td class="rate">%T13CP031MR1 / %T13CP031MR2</td>
      <td class="rate">%T13CP031SN1 / %T13CP031SN2</td>
      <td class="rate">%T13CP031YM1 / %T13CP031YM2</td>
     </tr>
     <tr>
      <td class="number">No.32</td>
      <td class="card">%T13CARD032N<br />(%T13CARD032R)</td>
      <td class="rate">%T13CP032TL1 / %T13CP032TL2</td>
      <td class="rate">%T13CP032RM1 / %T13CP032RM2</td>
      <td class="rate">%T13CP032MR1 / %T13CP032MR2</td>
      <td class="rate">%T13CP032SN1 / %T13CP032SN2</td>
      <td class="rate">%T13CP032YM1 / %T13CP032YM2</td>
     </tr>
     <tr>
      <td class="number">No.33</td>
      <td class="card">%T13CARD033N<br />(%T13CARD033R)</td>
      <td class="rate">%T13CP033TL1 / %T13CP033TL2</td>
      <td class="rate">%T13CP033RM1 / %T13CP033RM2</td>
      <td class="rate">%T13CP033MR1 / %T13CP033MR2</td>
      <td class="rate">%T13CP033SN1 / %T13CP033SN2</td>
      <td class="rate">%T13CP033YM1 / %T13CP033YM2</td>
     </tr>
     <tr>
      <td class="number">No.34</td>
      <td class="card">%T13CARD034N<br />(%T13CARD034R)</td>
      <td class="rate">%T13CP034TL1 / %T13CP034TL2</td>
      <td class="rate">%T13CP034RM1 / %T13CP034RM2</td>
      <td class="rate">%T13CP034MR1 / %T13CP034MR2</td>
      <td class="rate">%T13CP034SN1 / %T13CP034SN2</td>
      <td class="rate">%T13CP034YM1 / %T13CP034YM2</td>
     </tr>
     <tr>
      <td class="number">No.35</td>
      <td class="card">%T13CARD035N<br />(%T13CARD035R)</td>
      <td class="rate">%T13CP035TL1 / %T13CP035TL2</td>
      <td class="rate">%T13CP035RM1 / %T13CP035RM2</td>
      <td class="rate">%T13CP035MR1 / %T13CP035MR2</td>
      <td class="rate">%T13CP035SN1 / %T13CP035SN2</td>
      <td class="rate">%T13CP035YM1 / %T13CP035YM2</td>
     </tr>
     <tr>
      <td class="number">No.36</td>
      <td class="card">%T13CARD036N<br />(%T13CARD036R)</td>
      <td class="rate">%T13CP036TL1 / %T13CP036TL2</td>
      <td class="rate">%T13CP036RM1 / %T13CP036RM2</td>
      <td class="rate">%T13CP036MR1 / %T13CP036MR2</td>
      <td class="rate">%T13CP036SN1 / %T13CP036SN2</td>
      <td class="rate">%T13CP036YM1 / %T13CP036YM2</td>
     </tr>
     <tr>
      <td class="number">No.37</td>
      <td class="card">%T13CARD037N<br />(%T13CARD037R)</td>
      <td class="rate">%T13CP037TL1 / %T13CP037TL2</td>
      <td class="rate">%T13CP037RM1 / %T13CP037RM2</td>
      <td class="rate">%T13CP037MR1 / %T13CP037MR2</td>
      <td class="rate">%T13CP037SN1 / %T13CP037SN2</td>
      <td class="rate">%T13CP037YM1 / %T13CP037YM2</td>
     </tr>
     <tr>
      <td class="number">No.38</td>
      <td class="card">%T13CARD038N<br />(%T13CARD038R)</td>
      <td class="rate">%T13CP038TL1 / %T13CP038TL2</td>
      <td class="rate">%T13CP038RM1 / %T13CP038RM2</td>
      <td class="rate">%T13CP038MR1 / %T13CP038MR2</td>
      <td class="rate">%T13CP038SN1 / %T13CP038SN2</td>
      <td class="rate">%T13CP038YM1 / %T13CP038YM2</td>
     </tr>
     <tr>
      <td class="number">No.39</td>
      <td class="card">%T13CARD039N<br />(%T13CARD039R)</td>
      <td class="rate">%T13CP039TL1 / %T13CP039TL2</td>
      <td class="rate">%T13CP039RM1 / %T13CP039RM2</td>
      <td class="rate">%T13CP039MR1 / %T13CP039MR2</td>
      <td class="rate">%T13CP039SN1 / %T13CP039SN2</td>
      <td class="rate">%T13CP039YM1 / %T13CP039YM2</td>
     </tr>
     <tr>
      <td class="number">No.40</td>
      <td class="card">%T13CARD040N<br />(%T13CARD040R)</td>
      <td class="rate">%T13CP040TL1 / %T13CP040TL2</td>
      <td class="rate">%T13CP040RM1 / %T13CP040RM2</td>
      <td class="rate">%T13CP040MR1 / %T13CP040MR2</td>
      <td class="rate">%T13CP040SN1 / %T13CP040SN2</td>
      <td class="rate">%T13CP040YM1 / %T13CP040YM2</td>
     </tr>

     <tr>
      <td class="number">No.41</td>
      <td class="card">%T13CARD041N<br />(%T13CARD041R)</td>
      <td class="rate">%T13CP041TL1 / %T13CP041TL2</td>
      <td class="rate">%T13CP041RM1 / %T13CP041RM2</td>
      <td class="rate">%T13CP041MR1 / %T13CP041MR2</td>
      <td class="rate">%T13CP041SN1 / %T13CP041SN2</td>
      <td class="rate">%T13CP041YM1 / %T13CP041YM2</td>
     </tr>
     <tr>
      <td class="number">No.42</td>
      <td class="card">%T13CARD042N<br />(%T13CARD042R)</td>
      <td class="rate">%T13CP042TL1 / %T13CP042TL2</td>
      <td class="rate">%T13CP042RM1 / %T13CP042RM2</td>
      <td class="rate">%T13CP042MR1 / %T13CP042MR2</td>
      <td class="rate">%T13CP042SN1 / %T13CP042SN2</td>
      <td class="rate">%T13CP042YM1 / %T13CP042YM2</td>
     </tr>
     <tr>
      <td class="number">No.43</td>
      <td class="card">%T13CARD043N<br />(%T13CARD043R)</td>
      <td class="rate">%T13CP043TL1 / %T13CP043TL2</td>
      <td class="rate">%T13CP043RM1 / %T13CP043RM2</td>
      <td class="rate">%T13CP043MR1 / %T13CP043MR2</td>
      <td class="rate">%T13CP043SN1 / %T13CP043SN2</td>
      <td class="rate">%T13CP043YM1 / %T13CP043YM2</td>
     </tr>
     <tr>
      <td class="number">No.44</td>
      <td class="card">%T13CARD044N<br />(%T13CARD044R)</td>
      <td class="rate">%T13CP044TL1 / %T13CP044TL2</td>
      <td class="rate">%T13CP044RM1 / %T13CP044RM2</td>
      <td class="rate">%T13CP044MR1 / %T13CP044MR2</td>
      <td class="rate">%T13CP044SN1 / %T13CP044SN2</td>
      <td class="rate">%T13CP044YM1 / %T13CP044YM2</td>
     </tr>
     <tr>
      <td class="number">No.45</td>
      <td class="card">%T13CARD045N<br />(%T13CARD045R)</td>
      <td class="rate">%T13CP045TL1 / %T13CP045TL2</td>
      <td class="rate">%T13CP045RM1 / %T13CP045RM2</td>
      <td class="rate">%T13CP045MR1 / %T13CP045MR2</td>
      <td class="rate">%T13CP045SN1 / %T13CP045SN2</td>
      <td class="rate">%T13CP045YM1 / %T13CP045YM2</td>
     </tr>
     <tr>
      <td class="number">No.46</td>
      <td class="card">%T13CARD046N<br />(%T13CARD046R)</td>
      <td class="rate">%T13CP046TL1 / %T13CP046TL2</td>
      <td class="rate">%T13CP046RM1 / %T13CP046RM2</td>
      <td class="rate">%T13CP046MR1 / %T13CP046MR2</td>
      <td class="rate">%T13CP046SN1 / %T13CP046SN2</td>
      <td class="rate">%T13CP046YM1 / %T13CP046YM2</td>
     </tr>
     <tr>
      <td class="number">No.47</td>
      <td class="card">%T13CARD047N<br />(%T13CARD047R)</td>
      <td class="rate">%T13CP047TL1 / %T13CP047TL2</td>
      <td class="rate">%T13CP047RM1 / %T13CP047RM2</td>
      <td class="rate">%T13CP047MR1 / %T13CP047MR2</td>
      <td class="rate">%T13CP047SN1 / %T13CP047SN2</td>
      <td class="rate">%T13CP047YM1 / %T13CP047YM2</td>
     </tr>
     <tr>
      <td class="number">No.48</td>
      <td class="card">%T13CARD048N<br />(%T13CARD048R)</td>
      <td class="rate">%T13CP048TL1 / %T13CP048TL2</td>
      <td class="rate">%T13CP048RM1 / %T13CP048RM2</td>
      <td class="rate">%T13CP048MR1 / %T13CP048MR2</td>
      <td class="rate">%T13CP048SN1 / %T13CP048SN2</td>
      <td class="rate">%T13CP048YM1 / %T13CP048YM2</td>
     </tr>
     <tr>
      <td class="number">No.49</td>
      <td class="card">%T13CARD049N<br />(%T13CARD049R)</td>
      <td class="rate">%T13CP049TL1 / %T13CP049TL2</td>
      <td class="rate">%T13CP049RM1 / %T13CP049RM2</td>
      <td class="rate">%T13CP049MR1 / %T13CP049MR2</td>
      <td class="rate">%T13CP049SN1 / %T13CP049SN2</td>
      <td class="rate">%T13CP049YM1 / %T13CP049YM2</td>
     </tr>
     <tr>
      <td class="number">No.50</td>
      <td class="card">%T13CARD050N<br />(%T13CARD050R)</td>
      <td class="rate">%T13CP050TL1 / %T13CP050TL2</td>
      <td class="rate">%T13CP050RM1 / %T13CP050RM2</td>
      <td class="rate">%T13CP050MR1 / %T13CP050MR2</td>
      <td class="rate">%T13CP050SN1 / %T13CP050SN2</td>
      <td class="rate">%T13CP050YM1 / %T13CP050YM2</td>
     </tr>

     <tr>
      <td class="number">No.51</td>
      <td class="card">%T13CARD051N<br />(%T13CARD051R)</td>
      <td class="rate">%T13CP051TL1 / %T13CP051TL2</td>
      <td class="rate">%T13CP051RM1 / %T13CP051RM2</td>
      <td class="rate">%T13CP051MR1 / %T13CP051MR2</td>
      <td class="rate">%T13CP051SN1 / %T13CP051SN2</td>
      <td class="rate">%T13CP051YM1 / %T13CP051YM2</td>
     </tr>
     <tr>
      <td class="number">No.52</td>
      <td class="card">%T13CARD052N<br />(%T13CARD052R)</td>
      <td class="rate">%T13CP052TL1 / %T13CP052TL2</td>
      <td class="rate">%T13CP052RM1 / %T13CP052RM2</td>
      <td class="rate">%T13CP052MR1 / %T13CP052MR2</td>
      <td class="rate">%T13CP052SN1 / %T13CP052SN2</td>
      <td class="rate">%T13CP052YM1 / %T13CP052YM2</td>
     </tr>
     <tr>
      <td class="number">No.53</td>
      <td class="card">%T13CARD053N<br />(%T13CARD053R)</td>
      <td class="rate">%T13CP053TL1 / %T13CP053TL2</td>
      <td class="rate">%T13CP053RM1 / %T13CP053RM2</td>
      <td class="rate">%T13CP053MR1 / %T13CP053MR2</td>
      <td class="rate">%T13CP053SN1 / %T13CP053SN2</td>
      <td class="rate">%T13CP053YM1 / %T13CP053YM2</td>
     </tr>
     <tr>
      <td class="number">No.54</td>
      <td class="card">%T13CARD054N<br />(%T13CARD054R)</td>
      <td class="rate">%T13CP054TL1 / %T13CP054TL2</td>
      <td class="rate">%T13CP054RM1 / %T13CP054RM2</td>
      <td class="rate">%T13CP054MR1 / %T13CP054MR2</td>
      <td class="rate">%T13CP054SN1 / %T13CP054SN2</td>
      <td class="rate">%T13CP054YM1 / %T13CP054YM2</td>
     </tr>
     <tr>
      <td class="number">No.55</td>
      <td class="card">%T13CARD055N<br />(%T13CARD055R)</td>
      <td class="rate">%T13CP055TL1 / %T13CP055TL2</td>
      <td class="rate">%T13CP055RM1 / %T13CP055RM2</td>
      <td class="rate">%T13CP055MR1 / %T13CP055MR2</td>
      <td class="rate">%T13CP055SN1 / %T13CP055SN2</td>
      <td class="rate">%T13CP055YM1 / %T13CP055YM2</td>
     </tr>
     <tr>
      <td class="number">No.56</td>
      <td class="card">%T13CARD056N<br />(%T13CARD056R)</td>
      <td class="rate">%T13CP056TL1 / %T13CP056TL2</td>
      <td class="rate">%T13CP056RM1 / %T13CP056RM2</td>
      <td class="rate">%T13CP056MR1 / %T13CP056MR2</td>
      <td class="rate">%T13CP056SN1 / %T13CP056SN2</td>
      <td class="rate">%T13CP056YM1 / %T13CP056YM2</td>
     </tr>
     <tr>
      <td class="number">No.57</td>
      <td class="card">%T13CARD057N<br />(%T13CARD057R)</td>
      <td class="rate">%T13CP057TL1 / %T13CP057TL2</td>
      <td class="rate">%T13CP057RM1 / %T13CP057RM2</td>
      <td class="rate">%T13CP057MR1 / %T13CP057MR2</td>
      <td class="rate">%T13CP057SN1 / %T13CP057SN2</td>
      <td class="rate">%T13CP057YM1 / %T13CP057YM2</td>
     </tr>
     <tr>
      <td class="number">No.58</td>
      <td class="card">%T13CARD058N<br />(%T13CARD058R)</td>
      <td class="rate">%T13CP058TL1 / %T13CP058TL2</td>
      <td class="rate">%T13CP058RM1 / %T13CP058RM2</td>
      <td class="rate">%T13CP058MR1 / %T13CP058MR2</td>
      <td class="rate">%T13CP058SN1 / %T13CP058SN2</td>
      <td class="rate">%T13CP058YM1 / %T13CP058YM2</td>
     </tr>
     <tr>
      <td class="number">No.59</td>
      <td class="card">%T13CARD059N<br />(%T13CARD059R)</td>
      <td class="rate">%T13CP059TL1 / %T13CP059TL2</td>
      <td class="rate">%T13CP059RM1 / %T13CP059RM2</td>
      <td class="rate">%T13CP059MR1 / %T13CP059MR2</td>
      <td class="rate">%T13CP059SN1 / %T13CP059SN2</td>
      <td class="rate">%T13CP059YM1 / %T13CP059YM2</td>
     </tr>
     <tr>
      <td class="number">No.60</td>
      <td class="card">%T13CARD060N<br />(%T13CARD060R)</td>
      <td class="rate">%T13CP060TL1 / %T13CP060TL2</td>
      <td class="rate">%T13CP060RM1 / %T13CP060RM2</td>
      <td class="rate">%T13CP060MR1 / %T13CP060MR2</td>
      <td class="rate">%T13CP060SN1 / %T13CP060SN2</td>
      <td class="rate">%T13CP060YM1 / %T13CP060YM2</td>
     </tr>

     <tr>
      <td class="number">No.61</td>
      <td class="card">%T13CARD061N<br />(%T13CARD061R)</td>
      <td class="rate">%T13CP061TL1 / %T13CP061TL2</td>
      <td class="rate">%T13CP061RM1 / %T13CP061RM2</td>
      <td class="rate">%T13CP061MR1 / %T13CP061MR2</td>
      <td class="rate">%T13CP061SN1 / %T13CP061SN2</td>
      <td class="rate">%T13CP061YM1 / %T13CP061YM2</td>
     </tr>
     <tr>
      <td class="number">No.62</td>
      <td class="card">%T13CARD062N<br />(%T13CARD062R)</td>
      <td class="rate">%T13CP062TL1 / %T13CP062TL2</td>
      <td class="rate">%T13CP062RM1 / %T13CP062RM2</td>
      <td class="rate">%T13CP062MR1 / %T13CP062MR2</td>
      <td class="rate">%T13CP062SN1 / %T13CP062SN2</td>
      <td class="rate">%T13CP062YM1 / %T13CP062YM2</td>
     </tr>
     <tr>
      <td class="number">No.63</td>
      <td class="card">%T13CARD063N<br />(%T13CARD063R)</td>
      <td class="rate">%T13CP063TL1 / %T13CP063TL2</td>
      <td class="rate">%T13CP063RM1 / %T13CP063RM2</td>
      <td class="rate">%T13CP063MR1 / %T13CP063MR2</td>
      <td class="rate">%T13CP063SN1 / %T13CP063SN2</td>
      <td class="rate">%T13CP063YM1 / %T13CP063YM2</td>
     </tr>
     <tr>
      <td class="number">No.64</td>
      <td class="card">%T13CARD064N<br />(%T13CARD064R)</td>
      <td class="rate">%T13CP064TL1 / %T13CP064TL2</td>
      <td class="rate">%T13CP064RM1 / %T13CP064RM2</td>
      <td class="rate">%T13CP064MR1 / %T13CP064MR2</td>
      <td class="rate">%T13CP064SN1 / %T13CP064SN2</td>
      <td class="rate">%T13CP064YM1 / %T13CP064YM2</td>
     </tr>
     <tr>
      <td class="number">No.65</td>
      <td class="card">%T13CARD065N<br />(%T13CARD065R)</td>
      <td class="rate">%T13CP065TL1 / %T13CP065TL2</td>
      <td class="rate">%T13CP065RM1 / %T13CP065RM2</td>
      <td class="rate">%T13CP065MR1 / %T13CP065MR2</td>
      <td class="rate">%T13CP065SN1 / %T13CP065SN2</td>
      <td class="rate">%T13CP065YM1 / %T13CP065YM2</td>
     </tr>
     <tr>
      <td class="number">No.66</td>
      <td class="card">%T13CARD066N<br />(%T13CARD066R)</td>
      <td class="rate">%T13CP066TL1 / %T13CP066TL2</td>
      <td class="rate">%T13CP066RM1 / %T13CP066RM2</td>
      <td class="rate">%T13CP066MR1 / %T13CP066MR2</td>
      <td class="rate">%T13CP066SN1 / %T13CP066SN2</td>
      <td class="rate">%T13CP066YM1 / %T13CP066YM2</td>
     </tr>
     <tr>
      <td class="number">No.67</td>
      <td class="card">%T13CARD067N<br />(%T13CARD067R)</td>
      <td class="rate">%T13CP067TL1 / %T13CP067TL2</td>
      <td class="rate">%T13CP067RM1 / %T13CP067RM2</td>
      <td class="rate">%T13CP067MR1 / %T13CP067MR2</td>
      <td class="rate">%T13CP067SN1 / %T13CP067SN2</td>
      <td class="rate">%T13CP067YM1 / %T13CP067YM2</td>
     </tr>
     <tr>
      <td class="number">No.68</td>
      <td class="card">%T13CARD068N<br />(%T13CARD068R)</td>
      <td class="rate">%T13CP068TL1 / %T13CP068TL2</td>
      <td class="rate">%T13CP068RM1 / %T13CP068RM2</td>
      <td class="rate">%T13CP068MR1 / %T13CP068MR2</td>
      <td class="rate">%T13CP068SN1 / %T13CP068SN2</td>
      <td class="rate">%T13CP068YM1 / %T13CP068YM2</td>
     </tr>
     <tr>
      <td class="number">No.69</td>
      <td class="card">%T13CARD069N<br />(%T13CARD069R)</td>
      <td class="rate">%T13CP069TL1 / %T13CP069TL2</td>
      <td class="rate">%T13CP069RM1 / %T13CP069RM2</td>
      <td class="rate">%T13CP069MR1 / %T13CP069MR2</td>
      <td class="rate">%T13CP069SN1 / %T13CP069SN2</td>
      <td class="rate">%T13CP069YM1 / %T13CP069YM2</td>
     </tr>
     <tr>
      <td class="number">No.70</td>
      <td class="card">%T13CARD070N<br />(%T13CARD070R)</td>
      <td class="rate">%T13CP070TL1 / %T13CP070TL2</td>
      <td class="rate">%T13CP070RM1 / %T13CP070RM2</td>
      <td class="rate">%T13CP070MR1 / %T13CP070MR2</td>
      <td class="rate">%T13CP070SN1 / %T13CP070SN2</td>
      <td class="rate">%T13CP070YM1 / %T13CP070YM2</td>
     </tr>

     <tr>
      <td class="number">No.71</td>
      <td class="card">%T13CARD071N<br />(%T13CARD071R)</td>
      <td class="rate">%T13CP071TL1 / %T13CP071TL2</td>
      <td class="rate">%T13CP071RM1 / %T13CP071RM2</td>
      <td class="rate">%T13CP071MR1 / %T13CP071MR2</td>
      <td class="rate">%T13CP071SN1 / %T13CP071SN2</td>
      <td class="rate">%T13CP071YM1 / %T13CP071YM2</td>
     </tr>
     <tr>
      <td class="number">No.72</td>
      <td class="card">%T13CARD072N<br />(%T13CARD072R)</td>
      <td class="rate">%T13CP072TL1 / %T13CP072TL2</td>
      <td class="rate">%T13CP072RM1 / %T13CP072RM2</td>
      <td class="rate">%T13CP072MR1 / %T13CP072MR2</td>
      <td class="rate">%T13CP072SN1 / %T13CP072SN2</td>
      <td class="rate">%T13CP072YM1 / %T13CP072YM2</td>
     </tr>
     <tr>
      <td class="number">No.73</td>
      <td class="card">%T13CARD073N<br />(%T13CARD073R)</td>
      <td class="rate">%T13CP073TL1 / %T13CP073TL2</td>
      <td class="rate">%T13CP073RM1 / %T13CP073RM2</td>
      <td class="rate">%T13CP073MR1 / %T13CP073MR2</td>
      <td class="rate">%T13CP073SN1 / %T13CP073SN2</td>
      <td class="rate">%T13CP073YM1 / %T13CP073YM2</td>
     </tr>
     <tr>
      <td class="number">No.74</td>
      <td class="card">%T13CARD074N<br />(%T13CARD074R)</td>
      <td class="rate">%T13CP074TL1 / %T13CP074TL2</td>
      <td class="rate">%T13CP074RM1 / %T13CP074RM2</td>
      <td class="rate">%T13CP074MR1 / %T13CP074MR2</td>
      <td class="rate">%T13CP074SN1 / %T13CP074SN2</td>
      <td class="rate">%T13CP074YM1 / %T13CP074YM2</td>
     </tr>
     <tr>
      <td class="number">No.75</td>
      <td class="card">%T13CARD075N<br />(%T13CARD075R)</td>
      <td class="rate">%T13CP075TL1 / %T13CP075TL2</td>
      <td class="rate">%T13CP075RM1 / %T13CP075RM2</td>
      <td class="rate">%T13CP075MR1 / %T13CP075MR2</td>
      <td class="rate">%T13CP075SN1 / %T13CP075SN2</td>
      <td class="rate">%T13CP075YM1 / %T13CP075YM2</td>
     </tr>
     <tr>
      <td class="number">No.76</td>
      <td class="card">%T13CARD076N<br />(%T13CARD076R)</td>
      <td class="rate">%T13CP076TL1 / %T13CP076TL2</td>
      <td class="rate">%T13CP076RM1 / %T13CP076RM2</td>
      <td class="rate">%T13CP076MR1 / %T13CP076MR2</td>
      <td class="rate">%T13CP076SN1 / %T13CP076SN2</td>
      <td class="rate">%T13CP076YM1 / %T13CP076YM2</td>
     </tr>
     <tr>
      <td class="number">No.77</td>
      <td class="card">%T13CARD077N<br />(%T13CARD077R)</td>
      <td class="rate">%T13CP077TL1 / %T13CP077TL2</td>
      <td class="rate">%T13CP077RM1 / %T13CP077RM2</td>
      <td class="rate">%T13CP077MR1 / %T13CP077MR2</td>
      <td class="rate">%T13CP077SN1 / %T13CP077SN2</td>
      <td class="rate">%T13CP077YM1 / %T13CP077YM2</td>
     </tr>
     <tr>
      <td class="number">No.78</td>
      <td class="card">%T13CARD078N<br />(%T13CARD078R)</td>
      <td class="rate">%T13CP078TL1 / %T13CP078TL2</td>
      <td class="rate">%T13CP078RM1 / %T13CP078RM2</td>
      <td class="rate">%T13CP078MR1 / %T13CP078MR2</td>
      <td class="rate">%T13CP078SN1 / %T13CP078SN2</td>
      <td class="rate">%T13CP078YM1 / %T13CP078YM2</td>
     </tr>
     <tr>
      <td class="number">No.79</td>
      <td class="card">%T13CARD079N<br />(%T13CARD079R)</td>
      <td class="rate">%T13CP079TL1 / %T13CP079TL2</td>
      <td class="rate">%T13CP079RM1 / %T13CP079RM2</td>
      <td class="rate">%T13CP079MR1 / %T13CP079MR2</td>
      <td class="rate">%T13CP079SN1 / %T13CP079SN2</td>
      <td class="rate">%T13CP079YM1 / %T13CP079YM2</td>
     </tr>
     <tr>
      <td class="number">No.80</td>
      <td class="card">%T13CARD080N<br />(%T13CARD080R)</td>
      <td class="rate">%T13CP080TL1 / %T13CP080TL2</td>
      <td class="rate">%T13CP080RM1 / %T13CP080RM2</td>
      <td class="rate">%T13CP080MR1 / %T13CP080MR2</td>
      <td class="rate">%T13CP080SN1 / %T13CP080SN2</td>
      <td class="rate">%T13CP080YM1 / %T13CP080YM2</td>
     </tr>

     <tr>
      <td class="number">No.81</td>
      <td class="card">%T13CARD081N<br />(%T13CARD081R)</td>
      <td class="rate">%T13CP081TL1 / %T13CP081TL2</td>
      <td class="rate">%T13CP081RM1 / %T13CP081RM2</td>
      <td class="rate">%T13CP081MR1 / %T13CP081MR2</td>
      <td class="rate">%T13CP081SN1 / %T13CP081SN2</td>
      <td class="rate">%T13CP081YM1 / %T13CP081YM2</td>
     </tr>
     <tr>
      <td class="number">No.82</td>
      <td class="card">%T13CARD082N<br />(%T13CARD082R)</td>
      <td class="rate">%T13CP082TL1 / %T13CP082TL2</td>
      <td class="rate">%T13CP082RM1 / %T13CP082RM2</td>
      <td class="rate">%T13CP082MR1 / %T13CP082MR2</td>
      <td class="rate">%T13CP082SN1 / %T13CP082SN2</td>
      <td class="rate">%T13CP082YM1 / %T13CP082YM2</td>
     </tr>
     <tr>
      <td class="number">No.83</td>
      <td class="card">%T13CARD083N<br />(%T13CARD083R)</td>
      <td class="rate">%T13CP083TL1 / %T13CP083TL2</td>
      <td class="rate">%T13CP083RM1 / %T13CP083RM2</td>
      <td class="rate">%T13CP083MR1 / %T13CP083MR2</td>
      <td class="rate">%T13CP083SN1 / %T13CP083SN2</td>
      <td class="rate">%T13CP083YM1 / %T13CP083YM2</td>
     </tr>
     <tr>
      <td class="number">No.84</td>
      <td class="card">%T13CARD084N<br />(%T13CARD084R)</td>
      <td class="rate">%T13CP084TL1 / %T13CP084TL2</td>
      <td class="rate">%T13CP084RM1 / %T13CP084RM2</td>
      <td class="rate">%T13CP084MR1 / %T13CP084MR2</td>
      <td class="rate">%T13CP084SN1 / %T13CP084SN2</td>
      <td class="rate">%T13CP084YM1 / %T13CP084YM2</td>
     </tr>
     <tr>
      <td class="number">No.85</td>
      <td class="card">%T13CARD085N<br />(%T13CARD085R)</td>
      <td class="rate">%T13CP085TL1 / %T13CP085TL2</td>
      <td class="rate">%T13CP085RM1 / %T13CP085RM2</td>
      <td class="rate">%T13CP085MR1 / %T13CP085MR2</td>
      <td class="rate">%T13CP085SN1 / %T13CP085SN2</td>
      <td class="rate">%T13CP085YM1 / %T13CP085YM2</td>
     </tr>
     <tr>
      <td class="number">No.86</td>
      <td class="card">%T13CARD086N<br />(%T13CARD086R)</td>
      <td class="rate">%T13CP086TL1 / %T13CP086TL2</td>
      <td class="rate">%T13CP086RM1 / %T13CP086RM2</td>
      <td class="rate">%T13CP086MR1 / %T13CP086MR2</td>
      <td class="rate">%T13CP086SN1 / %T13CP086SN2</td>
      <td class="rate">%T13CP086YM1 / %T13CP086YM2</td>
     </tr>
     <tr>
      <td class="number">No.87</td>
      <td class="card">%T13CARD087N<br />(%T13CARD087R)</td>
      <td class="rate">%T13CP087TL1 / %T13CP087TL2</td>
      <td class="rate">%T13CP087RM1 / %T13CP087RM2</td>
      <td class="rate">%T13CP087MR1 / %T13CP087MR2</td>
      <td class="rate">%T13CP087SN1 / %T13CP087SN2</td>
      <td class="rate">%T13CP087YM1 / %T13CP087YM2</td>
     </tr>
     <tr>
      <td class="number">No.88</td>
      <td class="card">%T13CARD088N<br />(%T13CARD088R)</td>
      <td class="rate">%T13CP088TL1 / %T13CP088TL2</td>
      <td class="rate">%T13CP088RM1 / %T13CP088RM2</td>
      <td class="rate">%T13CP088MR1 / %T13CP088MR2</td>
      <td class="rate">%T13CP088SN1 / %T13CP088SN2</td>
      <td class="rate">%T13CP088YM1 / %T13CP088YM2</td>
     </tr>
     <tr>
      <td class="number">No.89</td>
      <td class="card">%T13CARD089N<br />(%T13CARD089R)</td>
      <td class="rate">%T13CP089TL1 / %T13CP089TL2</td>
      <td class="rate">%T13CP089RM1 / %T13CP089RM2</td>
      <td class="rate">%T13CP089MR1 / %T13CP089MR2</td>
      <td class="rate">%T13CP089SN1 / %T13CP089SN2</td>
      <td class="rate">%T13CP089YM1 / %T13CP089YM2</td>
     </tr>
     <tr>
      <td class="number">No.90</td>
      <td class="card">%T13CARD090N<br />(%T13CARD090R)</td>
      <td class="rate">%T13CP090TL1 / %T13CP090TL2</td>
      <td class="rate">%T13CP090RM1 / %T13CP090RM2</td>
      <td class="rate">%T13CP090MR1 / %T13CP090MR2</td>
      <td class="rate">%T13CP090SN1 / %T13CP090SN2</td>
      <td class="rate">%T13CP090YM1 / %T13CP090YM2</td>
     </tr>

     <tr>
      <td class="number">No.91</td>
      <td class="card">%T13CARD091N<br />(%T13CARD091R)</td>
      <td class="rate">%T13CP091TL1 / %T13CP091TL2</td>
      <td class="rate">%T13CP091RM1 / %T13CP091RM2</td>
      <td class="rate">%T13CP091MR1 / %T13CP091MR2</td>
      <td class="rate">%T13CP091SN1 / %T13CP091SN2</td>
      <td class="rate">%T13CP091YM1 / %T13CP091YM2</td>
     </tr>
     <tr>
      <td class="number">No.92</td>
      <td class="card">%T13CARD092N<br />(%T13CARD092R)</td>
      <td class="rate">%T13CP092TL1 / %T13CP092TL2</td>
      <td class="rate">%T13CP092RM1 / %T13CP092RM2</td>
      <td class="rate">%T13CP092MR1 / %T13CP092MR2</td>
      <td class="rate">%T13CP092SN1 / %T13CP092SN2</td>
      <td class="rate">%T13CP092YM1 / %T13CP092YM2</td>
     </tr>
     <tr>
      <td class="number">No.93</td>
      <td class="card">%T13CARD093N<br />(%T13CARD093R)</td>
      <td class="rate">%T13CP093TL1 / %T13CP093TL2</td>
      <td class="rate">%T13CP093RM1 / %T13CP093RM2</td>
      <td class="rate">%T13CP093MR1 / %T13CP093MR2</td>
      <td class="rate">%T13CP093SN1 / %T13CP093SN2</td>
      <td class="rate">%T13CP093YM1 / %T13CP093YM2</td>
     </tr>
     <tr>
      <td class="number">No.94</td>
      <td class="card">%T13CARD094N<br />(%T13CARD094R)</td>
      <td class="rate">%T13CP094TL1 / %T13CP094TL2</td>
      <td class="rate">%T13CP094RM1 / %T13CP094RM2</td>
      <td class="rate">%T13CP094MR1 / %T13CP094MR2</td>
      <td class="rate">%T13CP094SN1 / %T13CP094SN2</td>
      <td class="rate">%T13CP094YM1 / %T13CP094YM2</td>
     </tr>
     <tr>
      <td class="number">No.95</td>
      <td class="card">%T13CARD095N<br />(%T13CARD095R)</td>
      <td class="rate">%T13CP095TL1 / %T13CP095TL2</td>
      <td class="rate">%T13CP095RM1 / %T13CP095RM2</td>
      <td class="rate">%T13CP095MR1 / %T13CP095MR2</td>
      <td class="rate">%T13CP095SN1 / %T13CP095SN2</td>
      <td class="rate">%T13CP095YM1 / %T13CP095YM2</td>
     </tr>
     <tr>
      <td class="number">No.96</td>
      <td class="card">%T13CARD096N<br />(%T13CARD096R)</td>
      <td class="rate">%T13CP096TL1 / %T13CP096TL2</td>
      <td class="rate">%T13CP096RM1 / %T13CP096RM2</td>
      <td class="rate">%T13CP096MR1 / %T13CP096MR2</td>
      <td class="rate">%T13CP096SN1 / %T13CP096SN2</td>
      <td class="rate">%T13CP096YM1 / %T13CP096YM2</td>
     </tr>
     <tr>
      <td class="number">No.97</td>
      <td class="card">%T13CARD097N<br />(%T13CARD097R)</td>
      <td class="rate">%T13CP097TL1 / %T13CP097TL2</td>
      <td class="rate">%T13CP097RM1 / %T13CP097RM2</td>
      <td class="rate">%T13CP097MR1 / %T13CP097MR2</td>
      <td class="rate">%T13CP097SN1 / %T13CP097SN2</td>
      <td class="rate">%T13CP097YM1 / %T13CP097YM2</td>
     </tr>
     <tr>
      <td class="number">No.98</td>
      <td class="card">%T13CARD098N<br />(%T13CARD098R)</td>
      <td class="rate">%T13CP098TL1 / %T13CP098TL2</td>
      <td class="rate">%T13CP098RM1 / %T13CP098RM2</td>
      <td class="rate">%T13CP098MR1 / %T13CP098MR2</td>
      <td class="rate">%T13CP098SN1 / %T13CP098SN2</td>
      <td class="rate">%T13CP098YM1 / %T13CP098YM2</td>
     </tr>
     <tr>
      <td class="number">No.99</td>
      <td class="card">%T13CARD099N<br />(%T13CARD099R)</td>
      <td class="rate">%T13CP099TL1 / %T13CP099TL2</td>
      <td class="rate">%T13CP099RM1 / %T13CP099RM2</td>
      <td class="rate">%T13CP099MR1 / %T13CP099MR2</td>
      <td class="rate">%T13CP099SN1 / %T13CP099SN2</td>
      <td class="rate">%T13CP099YM1 / %T13CP099YM2</td>
     </tr>
     <tr>
      <td class="number">No.100</td>
      <td class="card">%T13CARD100N<br />(%T13CARD100R)</td>
      <td class="rate">%T13CP100TL1 / %T13CP100TL2</td>
      <td class="rate">%T13CP100RM1 / %T13CP100RM2</td>
      <td class="rate">%T13CP100MR1 / %T13CP100MR2</td>
      <td class="rate">%T13CP100SN1 / %T13CP100SN2</td>
      <td class="rate">%T13CP100YM1 / %T13CP100YM2</td>
     </tr>

     <tr>
      <td class="number">No.101</td>
      <td class="card">%T13CARD101N<br />(%T13CARD101R)</td>
      <td class="rate">%T13CP101TL1 / %T13CP101TL2</td>
      <td class="rate">%T13CP101RM1 / %T13CP101RM2</td>
      <td class="rate">%T13CP101MR1 / %T13CP101MR2</td>
      <td class="rate">%T13CP101SN1 / %T13CP101SN2</td>
      <td class="rate">%T13CP101YM1 / %T13CP101YM2</td>
     </tr>
     <tr>
      <td class="number">No.102</td>
      <td class="card">%T13CARD102N<br />(%T13CARD102R)</td>
      <td class="rate">%T13CP102TL1 / %T13CP102TL2</td>
      <td class="rate">%T13CP102RM1 / %T13CP102RM2</td>
      <td class="rate">%T13CP102MR1 / %T13CP102MR2</td>
      <td class="rate">%T13CP102SN1 / %T13CP102SN2</td>
      <td class="rate">%T13CP102YM1 / %T13CP102YM2</td>
     </tr>
     <tr>
      <td class="number">No.103</td>
      <td class="card">%T13CARD103N<br />(%T13CARD103R)</td>
      <td class="rate">%T13CP103TL1 / %T13CP103TL2</td>
      <td class="rate">%T13CP103RM1 / %T13CP103RM2</td>
      <td class="rate">%T13CP103MR1 / %T13CP103MR2</td>
      <td class="rate">%T13CP103SN1 / %T13CP103SN2</td>
      <td class="rate">%T13CP103YM1 / %T13CP103YM2</td>
     </tr>
     <tr>
      <td class="number">No.104</td>
      <td class="card">%T13CARD104N<br />(%T13CARD104R)</td>
      <td class="rate">%T13CP104TL1 / %T13CP104TL2</td>
      <td class="rate">%T13CP104RM1 / %T13CP104RM2</td>
      <td class="rate">%T13CP104MR1 / %T13CP104MR2</td>
      <td class="rate">%T13CP104SN1 / %T13CP104SN2</td>
      <td class="rate">%T13CP104YM1 / %T13CP104YM2</td>
     </tr>
     <tr>
      <td class="number">No.105</td>
      <td class="card">%T13CARD105N<br />(%T13CARD105R)</td>
      <td class="rate">%T13CP105TL1 / %T13CP105TL2</td>
      <td class="rate">%T13CP105RM1 / %T13CP105RM2</td>
      <td class="rate">%T13CP105MR1 / %T13CP105MR2</td>
      <td class="rate">%T13CP105SN1 / %T13CP105SN2</td>
      <td class="rate">%T13CP105YM1 / %T13CP105YM2</td>
     </tr>
     <tr>
      <td class="number">No.106</td>
      <td class="card">%T13CARD106N<br />(%T13CARD106R)</td>
      <td class="rate">%T13CP106TL1 / %T13CP106TL2</td>
      <td class="rate">%T13CP106RM1 / %T13CP106RM2</td>
      <td class="rate">%T13CP106MR1 / %T13CP106MR2</td>
      <td class="rate">%T13CP106SN1 / %T13CP106SN2</td>
      <td class="rate">%T13CP106YM1 / %T13CP106YM2</td>
     </tr>
     <tr>
      <td class="number">No.107</td>
      <td class="card">%T13CARD107N<br />(%T13CARD107R)</td>
      <td class="rate">%T13CP107TL1 / %T13CP107TL2</td>
      <td class="rate">%T13CP107RM1 / %T13CP107RM2</td>
      <td class="rate">%T13CP107MR1 / %T13CP107MR2</td>
      <td class="rate">%T13CP107SN1 / %T13CP107SN2</td>
      <td class="rate">%T13CP107YM1 / %T13CP107YM2</td>
     </tr>
     <tr>
      <td class="number">No.108</td>
      <td class="card">%T13CARD108N<br />(%T13CARD108R)</td>
      <td class="rate">%T13CP108TL1 / %T13CP108TL2</td>
      <td class="rate">%T13CP108RM1 / %T13CP108RM2</td>
      <td class="rate">%T13CP108MR1 / %T13CP108MR2</td>
      <td class="rate">%T13CP108SN1 / %T13CP108SN2</td>
      <td class="rate">%T13CP108YM1 / %T13CP108YM2</td>
     </tr>
     <tr>
      <td class="number">No.109</td>
      <td class="card">%T13CARD109N<br />(%T13CARD109R)</td>
      <td class="rate">%T13CP109TL1 / %T13CP109TL2</td>
      <td class="rate">%T13CP109RM1 / %T13CP109RM2</td>
      <td class="rate">%T13CP109MR1 / %T13CP109MR2</td>
      <td class="rate">%T13CP109SN1 / %T13CP109SN2</td>
      <td class="rate">%T13CP109YM1 / %T13CP109YM2</td>
     </tr>
     <tr>
      <td class="number">No.110</td>
      <td class="card">%T13CARD110N<br />(%T13CARD110R)</td>
      <td class="rate">%T13CP110TL1 / %T13CP110TL2</td>
      <td class="rate">%T13CP110RM1 / %T13CP110RM2</td>
      <td class="rate">%T13CP110MR1 / %T13CP110MR2</td>
      <td class="rate">%T13CP110SN1 / %T13CP110SN2</td>
      <td class="rate">%T13CP110YM1 / %T13CP110YM2</td>
     </tr>

     <tr>
      <td class="number">No.111</td>
      <td class="card">%T13CARD111N<br />(%T13CARD111R)</td>
      <td class="rate">%T13CP111TL1 / %T13CP111TL2</td>
      <td class="rate">%T13CP111RM1 / %T13CP111RM2</td>
      <td class="rate">%T13CP111MR1 / %T13CP111MR2</td>
      <td class="rate">%T13CP111SN1 / %T13CP111SN2</td>
      <td class="rate">%T13CP111YM1 / %T13CP111YM2</td>
     </tr>
     <tr>
      <td class="number">No.112</td>
      <td class="card">%T13CARD112N<br />(%T13CARD112R)</td>
      <td class="rate">%T13CP112TL1 / %T13CP112TL2</td>
      <td class="rate">%T13CP112RM1 / %T13CP112RM2</td>
      <td class="rate">%T13CP112MR1 / %T13CP112MR2</td>
      <td class="rate">%T13CP112SN1 / %T13CP112SN2</td>
      <td class="rate">%T13CP112YM1 / %T13CP112YM2</td>
     </tr>
     <tr>
      <td class="number">No.113</td>
      <td class="card">%T13CARD113N<br />(%T13CARD113R)</td>
      <td class="rate">%T13CP113TL1 / %T13CP113TL2</td>
      <td class="rate">%T13CP113RM1 / %T13CP113RM2</td>
      <td class="rate">%T13CP113MR1 / %T13CP113MR2</td>
      <td class="rate">%T13CP113SN1 / %T13CP113SN2</td>
      <td class="rate">%T13CP113YM1 / %T13CP113YM2</td>
     </tr>
     <tr>
      <td class="number">No.114</td>
      <td class="card">%T13CARD114N<br />(%T13CARD114R)</td>
      <td class="rate">%T13CP114TL1 / %T13CP114TL2</td>
      <td class="rate">%T13CP114RM1 / %T13CP114RM2</td>
      <td class="rate">%T13CP114MR1 / %T13CP114MR2</td>
      <td class="rate">%T13CP114SN1 / %T13CP114SN2</td>
      <td class="rate">%T13CP114YM1 / %T13CP114YM2</td>
     </tr>
     <tr>
      <td class="number">No.115</td>
      <td class="card">%T13CARD115N<br />(%T13CARD115R)</td>
      <td class="rate">%T13CP115TL1 / %T13CP115TL2</td>
      <td class="rate">%T13CP115RM1 / %T13CP115RM2</td>
      <td class="rate">%T13CP115MR1 / %T13CP115MR2</td>
      <td class="rate">%T13CP115SN1 / %T13CP115SN2</td>
      <td class="rate">%T13CP115YM1 / %T13CP115YM2</td>
     </tr>
     <tr>
      <td class="number">No.116</td>
      <td class="card">%T13CARD116N<br />(%T13CARD116R)</td>
      <td class="rate">%T13CP116TL1 / %T13CP116TL2</td>
      <td class="rate">%T13CP116RM1 / %T13CP116RM2</td>
      <td class="rate">%T13CP116MR1 / %T13CP116MR2</td>
      <td class="rate">%T13CP116SN1 / %T13CP116SN2</td>
      <td class="rate">%T13CP116YM1 / %T13CP116YM2</td>
     </tr>
     <tr>
      <td class="number">No.117</td>
      <td class="card">%T13CARD117N<br />(%T13CARD117R)</td>
      <td class="rate">%T13CP117TL1 / %T13CP117TL2</td>
      <td class="rate">%T13CP117RM1 / %T13CP117RM2</td>
      <td class="rate">%T13CP117MR1 / %T13CP117MR2</td>
      <td class="rate">%T13CP117SN1 / %T13CP117SN2</td>
      <td class="rate">%T13CP117YM1 / %T13CP117YM2</td>
     </tr>
     <tr>
      <td class="number">No.118</td>
      <td class="card">%T13CARD118N<br />(%T13CARD118R)</td>
      <td class="rate">%T13CP118TL1 / %T13CP118TL2</td>
      <td class="rate">%T13CP118RM1 / %T13CP118RM2</td>
      <td class="rate">%T13CP118MR1 / %T13CP118MR2</td>
      <td class="rate">%T13CP118SN1 / %T13CP118SN2</td>
      <td class="rate">%T13CP118YM1 / %T13CP118YM2</td>
     </tr>
     <tr>
      <td class="number">No.119</td>
      <td class="card">%T13CARD119N<br />(%T13CARD119R)</td>
      <td class="rate">%T13CP119TL1 / %T13CP119TL2</td>
      <td class="rate">%T13CP119RM1 / %T13CP119RM2</td>
      <td class="rate">%T13CP119MR1 / %T13CP119MR2</td>
      <td class="rate">%T13CP119SN1 / %T13CP119SN2</td>
      <td class="rate">%T13CP119YM1 / %T13CP119YM2</td>
     </tr>
     <tr>
      <td class="number">No.120</td>
      <td class="card">%T13CARD120N<br />(%T13CARD120R)</td>
      <td class="rate">%T13CP120TL1 / %T13CP120TL2</td>
      <td class="rate">%T13CP120RM1 / %T13CP120RM2</td>
      <td class="rate">%T13CP120MR1 / %T13CP120MR2</td>
      <td class="rate">%T13CP120SN1 / %T13CP120SN2</td>
      <td class="rate">%T13CP120YM1 / %T13CP120YM2</td>
     </tr>

     <tr>
      <td class="number">No.121</td>
      <td class="card">%T13CARD121N<br />(%T13CARD121R)</td>
      <td class="rate">%T13CP121TL1 / %T13CP121TL2</td>
      <td class="rate">%T13CP121RM1 / %T13CP121RM2</td>
      <td class="rate">%T13CP121MR1 / %T13CP121MR2</td>
      <td class="rate">%T13CP121SN1 / %T13CP121SN2</td>
      <td class="rate">%T13CP121YM1 / %T13CP121YM2</td>
     </tr>
     <tr>
      <td class="number">No.122</td>
      <td class="card">%T13CARD122N<br />(%T13CARD122R)</td>
      <td class="rate">%T13CP122TL1 / %T13CP122TL2</td>
      <td class="rate">%T13CP122RM1 / %T13CP122RM2</td>
      <td class="rate">%T13CP122MR1 / %T13CP122MR2</td>
      <td class="rate">%T13CP122SN1 / %T13CP122SN2</td>
      <td class="rate">%T13CP122YM1 / %T13CP122YM2</td>
     </tr>
     <tr>
      <td class="number">No.123</td>
      <td class="card">%T13CARD123N<br />(%T13CARD123R)</td>
      <td class="rate">%T13CP123TL1 / %T13CP123TL2</td>
      <td class="rate">%T13CP123RM1 / %T13CP123RM2</td>
      <td class="rate">%T13CP123MR1 / %T13CP123MR2</td>
      <td class="rate">%T13CP123SN1 / %T13CP123SN2</td>
      <td class="rate">%T13CP123YM1 / %T13CP123YM2</td>
     </tr>
     <tr>
      <td class="number">No.124</td>
      <td class="card">%T13CARD124N<br />(%T13CARD124R)</td>
      <td class="rate">%T13CP124TL1 / %T13CP124TL2</td>
      <td class="rate">%T13CP124RM1 / %T13CP124RM2</td>
      <td class="rate">%T13CP124MR1 / %T13CP124MR2</td>
      <td class="rate">%T13CP124SN1 / %T13CP124SN2</td>
      <td class="rate">%T13CP124YM1 / %T13CP124YM2</td>
     </tr>
     <tr>
      <td class="number">No.125</td>
      <td class="card">%T13CARD125N<br />(%T13CARD125R)</td>
      <td class="rate">%T13CP125TL1 / %T13CP125TL2</td>
      <td class="rate">%T13CP125RM1 / %T13CP125RM2</td>
      <td class="rate">%T13CP125MR1 / %T13CP125MR2</td>
      <td class="rate">%T13CP125SN1 / %T13CP125SN2</td>
      <td class="rate">%T13CP125YM1 / %T13CP125YM2</td>
     </tr>
     <tr>
      <td class="number">No.126</td>
      <td class="card">%T13CARD126N<br />(%T13CARD126R)</td>
      <td class="rate">%T13CP126TL1 / %T13CP126TL2</td>
      <td class="rate">%T13CP126RM1 / %T13CP126RM2</td>
      <td class="rate">%T13CP126MR1 / %T13CP126MR2</td>
      <td class="rate">%T13CP126SN1 / %T13CP126SN2</td>
      <td class="rate">%T13CP126YM1 / %T13CP126YM2</td>
     </tr>
     <tr>
      <td class="number">No.127</td>
      <td class="card">%T13CARD127N<br />(%T13CARD127R)</td>
      <td class="rate">%T13CP127TL1 / %T13CP127TL2</td>
      <td class="rate">%T13CP127RM1 / %T13CP127RM2</td>
      <td class="rate">%T13CP127MR1 / %T13CP127MR2</td>
      <td class="rate">%T13CP127SN1 / %T13CP127SN2</td>
      <td class="rate">%T13CP127YM1 / %T13CP127YM2</td>
     </tr>
    </tbody>
   </table>

   <table class="rate_per_level">
    <caption id="rate_per_level">難易度別スペルカード蒐集率（取得回数 / 挑戦回数 / 総数）</caption>
    <thead>
     <tr>
      <td class="level">難易度</td>
      <td class="character">全主人公合計</td>
      <td class="character">博麗 霊夢</td>
      <td class="character">霧雨 魔理沙</td>
      <td class="character">東風谷 早苗</td>
      <td class="character">魂魄 妖夢</td>
     </tr>
    </thead>
    <tfoot>
     <tr>
      <td>Total</td>
      <td class="rate">%T13CRGPTTL01 / %T13CRGPTTL02 / 127</td>
      <td class="rate">%T13CRGPTRM01 / %T13CRGPTRM02 / 127</td>
      <td class="rate">%T13CRGPTMR01 / %T13CRGPTMR02 / 127</td>
      <td class="rate">%T13CRGPTSN01 / %T13CRGPTSN02 / 127</td>
      <td class="rate">%T13CRGPTYM01 / %T13CRGPTYM02 / 127</td>
     </tr>
    </tfoot>
    <tbody>
     <tr>
      <td class="level">Easy</td>
      <td class="rate">%T13CRGPETL01 / %T13CRGPETL02 / 24</td>
      <td class="rate">%T13CRGPERM01 / %T13CRGPERM02 / 24</td>
      <td class="rate">%T13CRGPEMR01 / %T13CRGPEMR02 / 24</td>
      <td class="rate">%T13CRGPESN01 / %T13CRGPESN02 / 24</td>
      <td class="rate">%T13CRGPEYM01 / %T13CRGPEYM02 / 24</td>
     </tr>
     <tr>
      <td class="level">Normal</td>
      <td class="rate">%T13CRGPNTL01 / %T13CRGPNTL02 / 26</td>
      <td class="rate">%T13CRGPNRM01 / %T13CRGPNRM02 / 26</td>
      <td class="rate">%T13CRGPNMR01 / %T13CRGPNMR02 / 26</td>
      <td class="rate">%T13CRGPNSN01 / %T13CRGPNSN02 / 26</td>
      <td class="rate">%T13CRGPNYM01 / %T13CRGPNYM02 / 26</td>
     </tr>
     <tr>
      <td class="level">Hard</td>
      <td class="rate">%T13CRGPHTL01 / %T13CRGPHTL02 / 28</td>
      <td class="rate">%T13CRGPHRM01 / %T13CRGPHRM02 / 28</td>
      <td class="rate">%T13CRGPHMR01 / %T13CRGPHMR02 / 28</td>
      <td class="rate">%T13CRGPHSN01 / %T13CRGPHSN02 / 28</td>
      <td class="rate">%T13CRGPHYM01 / %T13CRGPHYM02 / 28</td>
     </tr>
     <tr>
      <td class="level">Lunatic</td>
      <td class="rate">%T13CRGPLTL01 / %T13CRGPLTL02 / 28</td>
      <td class="rate">%T13CRGPLRM01 / %T13CRGPLRM02 / 28</td>
      <td class="rate">%T13CRGPLMR01 / %T13CRGPLMR02 / 28</td>
      <td class="rate">%T13CRGPLSN01 / %T13CRGPLSN02 / 28</td>
      <td class="rate">%T13CRGPLYM01 / %T13CRGPLYM02 / 28</td>
     </tr>
     <tr>
      <td class="level">Extra</td>
      <td class="rate">%T13CRGPXTL01 / %T13CRGPXTL02 / 13</td>
      <td class="rate">%T13CRGPXRM01 / %T13CRGPXRM02 / 13</td>
      <td class="rate">%T13CRGPXMR01 / %T13CRGPXMR02 / 13</td>
      <td class="rate">%T13CRGPXSN01 / %T13CRGPXSN02 / 13</td>
      <td class="rate">%T13CRGPXYM01 / %T13CRGPXYM02 / 13</td>
     </tr>
     <tr>
      <td class="level">Over Drive</td>
      <td class="rate">%T13CRGPDTL01 / %T13CRGPDTL02 / 8</td>
      <td class="rate">%T13CRGPDRM01 / %T13CRGPDRM02 / 8</td>
      <td class="rate">%T13CRGPDMR01 / %T13CRGPDMR02 / 8</td>
      <td class="rate">%T13CRGPDSN01 / %T13CRGPDSN02 / 8</td>
      <td class="rate">%T13CRGPDYM01 / %T13CRGPDYM02 / 8</td>
     </tr>
    </tbody>
   </table>

   <table class="rate_per_stage">
    <caption id="rate_per_stage">ステージ別スペルカード蒐集率（取得回数 / 挑戦回数 / 総数）</caption>
    <thead>
     <tr>
      <td class="stage">ステージ</td>
      <td class="character">全主人公合計</td>
      <td class="character">博麗 霊夢</td>
      <td class="character">霧雨 魔理沙</td>
      <td class="character">東風谷 早苗</td>
      <td class="character">魂魄 妖夢</td>
     </tr>
    </thead>
    <tfoot>
     <tr>
      <td>Total</td>
      <td class="rate">%T13CRGPTTL01 / %T13CRGPTTL02 / 127</td>
      <td class="rate">%T13CRGPTRM01 / %T13CRGPTRM02 / 127</td>
      <td class="rate">%T13CRGPTMR01 / %T13CRGPTMR02 / 127</td>
      <td class="rate">%T13CRGPTSN01 / %T13CRGPTSN02 / 127</td>
      <td class="rate">%T13CRGPTYM01 / %T13CRGPTYM02 / 127</td>
     </tr>
    </tfoot>
    <tbody>
     <tr>
      <td class="stage">Stage1</td>
      <td class="rate">%T13CRGPTTL11 / %T13CRGPTTL12 / 14</td>
      <td class="rate">%T13CRGPTRM11 / %T13CRGPTRM12 / 14</td>
      <td class="rate">%T13CRGPTMR11 / %T13CRGPTMR12 / 14</td>
      <td class="rate">%T13CRGPTSN11 / %T13CRGPTSN12 / 14</td>
      <td class="rate">%T13CRGPTYM11 / %T13CRGPTYM12 / 14</td>
     </tr>
     <tr>
      <td class="stage">Stage2</td>
      <td class="rate">%T13CRGPTTL21 / %T13CRGPTTL22 / 16</td>
      <td class="rate">%T13CRGPTRM21 / %T13CRGPTRM22 / 16</td>
      <td class="rate">%T13CRGPTMR21 / %T13CRGPTMR22 / 16</td>
      <td class="rate">%T13CRGPTSN21 / %T13CRGPTSN22 / 16</td>
      <td class="rate">%T13CRGPTYM21 / %T13CRGPTYM22 / 16</td>
     </tr>
     <tr>
      <td class="stage">Stage3</td>
      <td class="rate">%T13CRGPTTL31 / %T13CRGPTTL32 / 14</td>
      <td class="rate">%T13CRGPTRM31 / %T13CRGPTRM32 / 14</td>
      <td class="rate">%T13CRGPTMR31 / %T13CRGPTMR32 / 14</td>
      <td class="rate">%T13CRGPTSN31 / %T13CRGPTSN32 / 14</td>
      <td class="rate">%T13CRGPTYM31 / %T13CRGPTYM32 / 14</td>
     </tr>
     <tr>
      <td class="stage">Stage4</td>
      <td class="rate">%T13CRGPTTL41 / %T13CRGPTTL42 / 15</td>
      <td class="rate">%T13CRGPTRM41 / %T13CRGPTRM42 / 15</td>
      <td class="rate">%T13CRGPTMR41 / %T13CRGPTMR42 / 15</td>
      <td class="rate">%T13CRGPTSN41 / %T13CRGPTSN42 / 15</td>
      <td class="rate">%T13CRGPTYM41 / %T13CRGPTYM42 / 15</td>
     </tr>
     <tr>
      <td class="stage">Stage5</td>
      <td class="rate">%T13CRGPTTL51 / %T13CRGPTTL52 / 19</td>
      <td class="rate">%T13CRGPTRM51 / %T13CRGPTRM52 / 19</td>
      <td class="rate">%T13CRGPTMR51 / %T13CRGPTMR52 / 19</td>
      <td class="rate">%T13CRGPTSN51 / %T13CRGPTSN52 / 19</td>
      <td class="rate">%T13CRGPTYM51 / %T13CRGPTYM52 / 19</td>
     </tr>
     <tr>
      <td class="stage">Stage6</td>
      <td class="rate">%T13CRGPTTL61 / %T13CRGPTTL62 / 28</td>
      <td class="rate">%T13CRGPTRM61 / %T13CRGPTRM62 / 28</td>
      <td class="rate">%T13CRGPTMR61 / %T13CRGPTMR62 / 28</td>
      <td class="rate">%T13CRGPTSN61 / %T13CRGPTSN62 / 28</td>
      <td class="rate">%T13CRGPTYM61 / %T13CRGPTYM62 / 28</td>
     </tr>
     <tr>
      <td class="stage">Extra</td>
      <td class="rate">%T13CRGPXTL01 / %T13CRGPXTL02 / 13</td>
      <td class="rate">%T13CRGPXRM01 / %T13CRGPXRM02 / 13</td>
      <td class="rate">%T13CRGPXMR01 / %T13CRGPXMR02 / 13</td>
      <td class="rate">%T13CRGPXSN01 / %T13CRGPXSN02 / 13</td>
      <td class="rate">%T13CRGPXYM01 / %T13CRGPXYM02 / 13</td>
     </tr>
     <tr>
      <td class="stage">Over Drive</td>
      <td class="rate">%T13CRGPDTL01 / %T13CRGPDTL02 / 8</td>
      <td class="rate">%T13CRGPDRM01 / %T13CRGPDRM02 / 8</td>
      <td class="rate">%T13CRGPDMR01 / %T13CRGPDMR02 / 8</td>
      <td class="rate">%T13CRGPDSN01 / %T13CRGPDSN02 / 8</td>
      <td class="rate">%T13CRGPDYM01 / %T13CRGPDYM02 / 8</td>
     </tr>
    </tbody>
   </table>

  </div>

  <hr />

  <div class="section">
   <p>
    Data output by <a href="https://www.colorless-sight.jp/thsfc/">ThScoreFileConverter</a>.
<script type="text/javascript">
<!--
    document.write("Last updated: ", document.lastModified, ".");
//-->
</script>
   </p>
  </div>

 </body>
</html>
