<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">

 <head>
  <meta charset="UTF-8" />
  <title>東方心綺楼 スコアデータ</title>
  <link rel="stylesheet" href="style.css" />
<style>
/* <![CDATA[ */
    td.character { min-width: 120px; }
    td.level { min-width: 70px; }
    table.clear td.clear { min-width: 70px; }
/* ]]> */
</style>
 </head>

 <body>

  <header>
   <h1>東方心綺楼 スコアデータ</h1>
  </header>

  <main>

   <section>
    <h2>クリア達成度</h2>

    <table class="clear">
     <thead>
      <tr>
       <th class="character">Character</th>
       <th class="level">Easy</th>
       <th class="level">Normal</th>
       <th class="level">Hard</th>
       <th class="level">Lunatic</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="character">博麗 霊夢</td>
       <td class="clear">%T135CLEARERM</td>
       <td class="clear">%T135CLEARNRM</td>
       <td class="clear">%T135CLEARHRM</td>
       <td class="clear">%T135CLEARLRM</td>
      </tr>
      <tr>
       <td class="character">霧雨 魔理沙</td>
       <td class="clear">%T135CLEAREMR</td>
       <td class="clear">%T135CLEARNMR</td>
       <td class="clear">%T135CLEARHMR</td>
       <td class="clear">%T135CLEARLMR</td>
      </tr>
      <tr>
       <td class="character">雲居 一輪 &amp; 雲山</td>
       <td class="clear">%T135CLEAREIU</td>
       <td class="clear">%T135CLEARNIU</td>
       <td class="clear">%T135CLEARHIU</td>
       <td class="clear">%T135CLEARLIU</td>
      </tr>
      <tr>
       <td class="character">聖 白蓮</td>
       <td class="clear">%T135CLEAREBY</td>
       <td class="clear">%T135CLEARNBY</td>
       <td class="clear">%T135CLEARHBY</td>
       <td class="clear">%T135CLEARLBY</td>
      </tr>
      <tr>
       <td class="character">物部 布都</td>
       <td class="clear">%T135CLEAREFT</td>
       <td class="clear">%T135CLEARNFT</td>
       <td class="clear">%T135CLEARHFT</td>
       <td class="clear">%T135CLEARLFT</td>
      </tr>
      <tr>
       <td class="character">豊聡耳 神子</td>
       <td class="clear">%T135CLEAREMK</td>
       <td class="clear">%T135CLEARNMK</td>
       <td class="clear">%T135CLEARHMK</td>
       <td class="clear">%T135CLEARLMK</td>
      </tr>
      <tr>
       <td class="character">河城 にとり</td>
       <td class="clear">%T135CLEARENT</td>
       <td class="clear">%T135CLEARNNT</td>
       <td class="clear">%T135CLEARHNT</td>
       <td class="clear">%T135CLEARLNT</td>
      </tr>
      <tr>
       <td class="character">古明地 こいし</td>
       <td class="clear">%T135CLEAREKO</td>
       <td class="clear">%T135CLEARNKO</td>
       <td class="clear">%T135CLEARHKO</td>
       <td class="clear">%T135CLEARLKO</td>
      </tr>
      <tr>
       <td class="character">二ッ岩 マミゾウ</td>
       <td class="clear">%T135CLEAREMM</td>
       <td class="clear">%T135CLEARNMM</td>
       <td class="clear">%T135CLEARHMM</td>
       <td class="clear">%T135CLEARLMM</td>
      </tr>
      <tr>
       <td class="character">秦 こころ</td>
       <td class="clear">%T135CLEAREKK</td>
       <td class="clear">%T135CLEARNKK</td>
       <td class="clear">%T135CLEARHKK</td>
       <td class="clear">%T135CLEARLKK</td>
      </tr>
     </tbody>
    </table>
   </section>

  </main>

  <footer>
   <p>
    Data output by <a href="https://www.colorless-sight.jp/thsfc/">ThScoreFileConverter</a>.
<script>
// <![CDATA[
    document.write("Last updated: ", document.lastModified, ".");
// ]]>
</script>
   </p>
  </footer>

 </body>
</html>
