<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja">

 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="Content-Style-Type" content="text/css" />
  <meta http-equiv="Content-Script-Type" content="text/javascript" />
  <title>東方深秘録スコアデータ</title>
  <link rel="stylesheet" type="text/css" href="style.css" />
  <link rel="stylesheet" type="text/css" href="th145.css" />
<style type="text/css">
<!--
    table.clear td.clear { min-width: 70px; }
    table.time td.time { min-width: 70px; }
-->
</style>
 </head>

 <body>

  <h1>東方深秘録スコアデータ</h1>

  <hr />

  <div class="section">
   <p>
    <a href="#Clear">クリア達成度</a>
    <a href="#Time">クリア時間</a>
   </p>
  </div>

  <hr />

  <div class="section">
   <table class="clear">
    <caption id="Clear">クリア達成度</caption>
    <thead>
     <tr>
      <td class="character">Character</td>
      <td class="level">Easy</td>
      <td class="level">Normal</td>
      <td class="level">Hard</td>
      <td class="level">Lunatic</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="character">博麗 霊夢（序）</td>
      <td class="clear">%T145CLEARERA</td>
      <td class="clear">%T145CLEARNRA</td>
      <td class="clear">%T145CLEARHRA</td>
      <td class="clear">%T145CLEARLRA</td>
     </tr>
     <tr>
      <td class="character">霧雨 魔理沙</td>
      <td class="clear">%T145CLEAREMR</td>
      <td class="clear">%T145CLEARNMR</td>
      <td class="clear">%T145CLEARHMR</td>
      <td class="clear">%T145CLEARLMR</td>
     </tr>
     <tr>
      <td class="character">雲居 一輪 &amp; 雲山</td>
      <td class="clear">%T145CLEAREIU</td>
      <td class="clear">%T145CLEARNIU</td>
      <td class="clear">%T145CLEARHIU</td>
      <td class="clear">%T145CLEARLIU</td>
     </tr>
     <tr>
      <td class="character">聖 白蓮</td>
      <td class="clear">%T145CLEAREBY</td>
      <td class="clear">%T145CLEARNBY</td>
      <td class="clear">%T145CLEARHBY</td>
      <td class="clear">%T145CLEARLBY</td>
     </tr>
     <tr>
      <td class="character">物部 布都</td>
      <td class="clear">%T145CLEAREFT</td>
      <td class="clear">%T145CLEARNFT</td>
      <td class="clear">%T145CLEARHFT</td>
      <td class="clear">%T145CLEARLFT</td>
     </tr>
     <tr>
      <td class="character">豊聡耳 神子</td>
      <td class="clear">%T145CLEAREMK</td>
      <td class="clear">%T145CLEARNMK</td>
      <td class="clear">%T145CLEARHMK</td>
      <td class="clear">%T145CLEARLMK</td>
     </tr>
     <tr>
      <td class="character">河城 にとり</td>
      <td class="clear">%T145CLEARENT</td>
      <td class="clear">%T145CLEARNNT</td>
      <td class="clear">%T145CLEARHNT</td>
      <td class="clear">%T145CLEARLNT</td>
     </tr>
     <tr>
      <td class="character">古明地 こいし</td>
      <td class="clear">%T145CLEAREKO</td>
      <td class="clear">%T145CLEARNKO</td>
      <td class="clear">%T145CLEARHKO</td>
      <td class="clear">%T145CLEARLKO</td>
     </tr>
     <tr>
      <td class="character">二ッ岩 マミゾウ</td>
      <td class="clear">%T145CLEAREMM</td>
      <td class="clear">%T145CLEARNMM</td>
      <td class="clear">%T145CLEARHMM</td>
      <td class="clear">%T145CLEARLMM</td>
     </tr>
     <tr>
      <td class="character">秦 こころ</td>
      <td class="clear">%T145CLEAREKK</td>
      <td class="clear">%T145CLEARNKK</td>
      <td class="clear">%T145CLEARHKK</td>
      <td class="clear">%T145CLEARLKK</td>
     </tr>
     <tr>
      <td class="character">茨木 華扇</td>
      <td class="clear">%T145CLEAREKS</td>
      <td class="clear">%T145CLEARNKS</td>
      <td class="clear">%T145CLEARHKS</td>
      <td class="clear">%T145CLEARLKS</td>
     </tr>
     <tr>
      <td class="character">藤原 妹紅</td>
      <td class="clear">%T145CLEAREMO</td>
      <td class="clear">%T145CLEARNMO</td>
      <td class="clear">%T145CLEARHMO</td>
      <td class="clear">%T145CLEARLMO</td>
     </tr>
     <tr>
      <td class="character">少名 針妙丸</td>
      <td class="clear">%T145CLEARESN</td>
      <td class="clear">%T145CLEARNSN</td>
      <td class="clear">%T145CLEARHSN</td>
      <td class="clear">%T145CLEARLSN</td>
     </tr>
     <tr>
      <td class="character">宇佐見 菫子</td>
      <td class="clear">%T145CLEARESM</td>
      <td class="clear">%T145CLEARNSM</td>
      <td class="clear">%T145CLEARHSM</td>
      <td class="clear">%T145CLEARLSM</td>
     </tr>
     <tr>
      <td class="character">博麗 霊夢（終）</td>
      <td class="clear">%T145CLEARERB</td>
      <td class="clear">%T145CLEARNRB</td>
      <td class="clear">%T145CLEARHRB</td>
      <td class="clear">%T145CLEARLRB</td>
     </tr>
    </tbody>
   </table>
  </div>

  <hr />

  <div class="section">
   <table class="time">
    <caption id="Time">クリア時間</caption>
    <thead>
     <tr>
      <td class="character">Character</td>
      <td class="level">Easy</td>
      <td class="level">Normal</td>
      <td class="level">Hard</td>
      <td class="level">Lunatic</td>
      <td class="level">Total</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="character">博麗 霊夢（序）</td>
      <td class="time">%T145TIMECLRERA</td>
      <td class="time">%T145TIMECLRNRA</td>
      <td class="time">%T145TIMECLRHRA</td>
      <td class="time">%T145TIMECLRLRA</td>
      <td class="time">%T145TIMECLRTRA</td>
     </tr>
     <tr>
      <td class="character">霧雨 魔理沙</td>
      <td class="time">%T145TIMECLREMR</td>
      <td class="time">%T145TIMECLRNMR</td>
      <td class="time">%T145TIMECLRHMR</td>
      <td class="time">%T145TIMECLRLMR</td>
      <td class="time">%T145TIMECLRTMR</td>
     </tr>
     <tr>
      <td class="character">雲居 一輪 &amp; 雲山</td>
      <td class="time">%T145TIMECLREIU</td>
      <td class="time">%T145TIMECLRNIU</td>
      <td class="time">%T145TIMECLRHIU</td>
      <td class="time">%T145TIMECLRLIU</td>
      <td class="time">%T145TIMECLRTIU</td>
     </tr>
     <tr>
      <td class="character">聖 白蓮</td>
      <td class="time">%T145TIMECLREBY</td>
      <td class="time">%T145TIMECLRNBY</td>
      <td class="time">%T145TIMECLRHBY</td>
      <td class="time">%T145TIMECLRLBY</td>
      <td class="time">%T145TIMECLRTBY</td>
     </tr>
     <tr>
      <td class="character">物部 布都</td>
      <td class="time">%T145TIMECLREFT</td>
      <td class="time">%T145TIMECLRNFT</td>
      <td class="time">%T145TIMECLRHFT</td>
      <td class="time">%T145TIMECLRLFT</td>
      <td class="time">%T145TIMECLRTFT</td>
     </tr>
     <tr>
      <td class="character">豊聡耳 神子</td>
      <td class="time">%T145TIMECLREMK</td>
      <td class="time">%T145TIMECLRNMK</td>
      <td class="time">%T145TIMECLRHMK</td>
      <td class="time">%T145TIMECLRLMK</td>
      <td class="time">%T145TIMECLRTMK</td>
     </tr>
     <tr>
      <td class="character">河城 にとり</td>
      <td class="time">%T145TIMECLRENT</td>
      <td class="time">%T145TIMECLRNNT</td>
      <td class="time">%T145TIMECLRHNT</td>
      <td class="time">%T145TIMECLRLNT</td>
      <td class="time">%T145TIMECLRTNT</td>
     </tr>
     <tr>
      <td class="character">古明地 こいし</td>
      <td class="time">%T145TIMECLREKO</td>
      <td class="time">%T145TIMECLRNKO</td>
      <td class="time">%T145TIMECLRHKO</td>
      <td class="time">%T145TIMECLRLKO</td>
      <td class="time">%T145TIMECLRTKO</td>
     </tr>
     <tr>
      <td class="character">二ッ岩 マミゾウ</td>
      <td class="time">%T145TIMECLREMM</td>
      <td class="time">%T145TIMECLRNMM</td>
      <td class="time">%T145TIMECLRHMM</td>
      <td class="time">%T145TIMECLRLMM</td>
      <td class="time">%T145TIMECLRTMM</td>
     </tr>
     <tr>
      <td class="character">秦 こころ</td>
      <td class="time">%T145TIMECLREKK</td>
      <td class="time">%T145TIMECLRNKK</td>
      <td class="time">%T145TIMECLRHKK</td>
      <td class="time">%T145TIMECLRLKK</td>
      <td class="time">%T145TIMECLRTKK</td>
     </tr>
     <tr>
      <td class="character">茨木 華扇</td>
      <td class="time">%T145TIMECLREKS</td>
      <td class="time">%T145TIMECLRNKS</td>
      <td class="time">%T145TIMECLRHKS</td>
      <td class="time">%T145TIMECLRLKS</td>
      <td class="time">%T145TIMECLRTKS</td>
     </tr>
     <tr>
      <td class="character">藤原 妹紅</td>
      <td class="time">%T145TIMECLREMO</td>
      <td class="time">%T145TIMECLRNMO</td>
      <td class="time">%T145TIMECLRHMO</td>
      <td class="time">%T145TIMECLRLMO</td>
      <td class="time">%T145TIMECLRTMO</td>
     </tr>
     <tr>
      <td class="character">少名 針妙丸</td>
      <td class="time">%T145TIMECLRESN</td>
      <td class="time">%T145TIMECLRNSN</td>
      <td class="time">%T145TIMECLRHSN</td>
      <td class="time">%T145TIMECLRLSN</td>
      <td class="time">%T145TIMECLRTSN</td>
     </tr>
     <tr>
      <td class="character">宇佐見 菫子</td>
      <td class="time">%T145TIMECLRESM</td>
      <td class="time">%T145TIMECLRNSM</td>
      <td class="time">%T145TIMECLRHSM</td>
      <td class="time">%T145TIMECLRLSM</td>
      <td class="time">%T145TIMECLRTSM</td>
     </tr>
     <tr>
      <td class="character">博麗 霊夢（終）</td>
      <td class="time">%T145TIMECLRERB</td>
      <td class="time">%T145TIMECLRNRB</td>
      <td class="time">%T145TIMECLRHRB</td>
      <td class="time">%T145TIMECLRLRB</td>
      <td class="time">%T145TIMECLRTRB</td>
     </tr>
     <tr>
      <td class="character">全キャラ合計</td>
      <td class="time">%T145TIMECLRETL</td>
      <td class="time">%T145TIMECLRNTL</td>
      <td class="time">%T145TIMECLRHTL</td>
      <td class="time">%T145TIMECLRLTL</td>
      <td class="time">%T145TIMECLRTTL</td>
     </tr>
    </tbody>
   </table>
  </div>

  <hr />

  <div class="section">
   <p>
    Data output by <a href="https://www.colorless-sight.jp/thsfc/">ThScoreFileConverter</a>.
<script type="text/javascript">
<!--
    document.write("Last updated: ", document.lastModified, ".");
//-->
</script>
   </p>
  </div>

 </body>
</html>
