<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja">

 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="Content-Style-Type" content="text/css" />
  <meta http-equiv="Content-Script-Type" content="text/javascript" />
  <title>東方憑依華スコアデータ</title>
  <link rel="stylesheet" type="text/css" href="style.css" />
<style type="text/css">
<!--
    td.character { min-width: 120px; }
    td.level { min-width: 70px; }
    table.clear td.clear { min-width: 70px; }
-->
</style>
 </head>

 <body>

  <h1>東方憑依華スコアデータ</h1>

  <hr />

  <div class="section">
   <p>
    <a href="#Clear">クリア達成度</a>
   </p>
  </div>

  <hr />

  <div class="section">
   <table class="clear">
    <caption id="Clear">クリア達成度</caption>
    <thead>
     <tr>
      <td class="character">Character</td>
      <td class="level">Easy</td>
      <td class="level">Normal</td>
      <td class="level">Hard</td>
      <td class="level">Lunatic</td>
      <td class="level">OverDrive</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="character">霊夢 &amp; 華扇</td>
      <td class="clear">%T155CLEARERK</td>
      <td class="clear">%T155CLEARNRK</td>
      <td class="clear">%T155CLEARHRK</td>
      <td class="clear">%T155CLEARLRK</td>
      <td class="clear">%T155CLEARDRK</td>
     </tr>
     <tr>
      <td class="character">魔理沙 &amp; こいし</td>
      <td class="clear">%T155CLEAREMK</td>
      <td class="clear">%T155CLEARNMK</td>
      <td class="clear">%T155CLEARHMK</td>
      <td class="clear">%T155CLEARLMK</td>
      <td class="clear">%T155CLEARDMK</td>
     </tr>
     <tr>
      <td class="character">にとり &amp; こころ</td>
      <td class="clear">%T155CLEARENK</td>
      <td class="clear">%T155CLEARNNK</td>
      <td class="clear">%T155CLEARHNK</td>
      <td class="clear">%T155CLEARLNK</td>
      <td class="clear">%T155CLEARDNK</td>
     </tr>
     <tr>
      <td class="character">マミゾウ &amp; 妹紅</td>
      <td class="clear">%T155CLEAREMM</td>
      <td class="clear">%T155CLEARNMM</td>
      <td class="clear">%T155CLEARHMM</td>
      <td class="clear">%T155CLEARLMM</td>
      <td class="clear">%T155CLEARDMM</td>
     </tr>
     <tr>
      <td class="character">神子 &amp; 白蓮</td>
      <td class="clear">%T155CLEAREMB</td>
      <td class="clear">%T155CLEARNMB</td>
      <td class="clear">%T155CLEARHMB</td>
      <td class="clear">%T155CLEARLMB</td>
      <td class="clear">%T155CLEARDMB</td>
     </tr>
     <tr>
      <td class="character">布都 &amp; 一輪</td>
      <td class="clear">%T155CLEAREFI</td>
      <td class="clear">%T155CLEARNFI</td>
      <td class="clear">%T155CLEARHFI</td>
      <td class="clear">%T155CLEARLFI</td>
      <td class="clear">%T155CLEARDFI</td>
     </tr>
     <tr>
      <td class="character">鈴仙 &amp; ドレミー</td>
      <td class="clear">%T155CLEARERD</td>
      <td class="clear">%T155CLEARNRD</td>
      <td class="clear">%T155CLEARHRD</td>
      <td class="clear">%T155CLEARLRD</td>
      <td class="clear">%T155CLEARDRD</td>
     </tr>
     <tr>
      <td class="character">菫子 &amp; ドレミー</td>
      <td class="clear">%T155CLEARESD</td>
      <td class="clear">%T155CLEARNSD</td>
      <td class="clear">%T155CLEARHSD</td>
      <td class="clear">%T155CLEARLSD</td>
      <td class="clear">%T155CLEARDSD</td>
     </tr>
     <tr>
      <td class="character">天子 &amp; 針妙丸</td>
      <td class="clear">%T155CLEARETS</td>
      <td class="clear">%T155CLEARNTS</td>
      <td class="clear">%T155CLEARHTS</td>
      <td class="clear">%T155CLEARLTS</td>
      <td class="clear">%T155CLEARDTS</td>
     </tr>
     <tr>
      <td class="character">紫 &amp; 霊夢</td>
      <td class="clear">%T155CLEAREYR</td>
      <td class="clear">%T155CLEARNYR</td>
      <td class="clear">%T155CLEARHYR</td>
      <td class="clear">%T155CLEARLYR</td>
      <td class="clear">%T155CLEARDYR</td>
     </tr>
     <tr>
      <td class="character">女苑 &amp; 紫苑</td>
      <td class="clear">%T155CLEAREJS</td>
      <td class="clear">%T155CLEARNJS</td>
      <td class="clear">%T155CLEARHJS</td>
      <td class="clear">%T155CLEARLJS</td>
      <td class="clear">%T155CLEARDJS</td>
     </tr>
    </tbody>
   </table>
  </div>

  <hr />

  <div class="section">
   <p>
    Data output by <a href="https://www.colorless-sight.jp/thsfc/">ThScoreFileConverter</a>.
<script type="text/javascript">
<!--
    document.write("Last updated: ", document.lastModified, ".");
//-->
</script>
   </p>
  </div>

 </body>
</html>
