<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja">

 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="Content-Stype-Type" content="text/css" />
  <meta http-equiv="Content-Script-Type" content="text/javascript" />
  <title>東方紺珠伝スペルカードデータ</title>
  <link rel="stylesheet" type="text/css" href="style.css" />
<style type="text/css">
<!--
    td.character { min-width: 150px; }
    td.level { min-width: 70px; }
    td.stage { min-width: 70px; }
    table.rate_per_card td.number { min-width: 40px; }
    table.rate_per_card td.card { min-width: 180px; }
    table.rate_per_card td.rate { min-width: 80px; }
    table.rate_per_level td.rate { min-width: 100px; }
    table.rate_per_stage td.rate { min-width: 100px; }
-->
</style>
 </head>

 <body>
  <h1>東方紺珠伝スペルカードデータ</h1>

  <hr />

  <div class="section">
   <p>
    <a href="th15score1.html">スコアデータ全般</a> /
    <a href="th15score2.html">個別ランキング</a> /
    <a href="th15score3.html">プラクティス</a> /
    <a href="th15card1.html">御札戦歴（完全無欠モード）</a> /
    御札戦歴（レガシーモード）<br />
    <a href="#rate_per_card">スペルカード別</a> /
    <a href="#rate_per_level">難易度別</a> /
    <a href="#rate_per_stage">ステージ別</a>
   </p>
  </div>

  <hr />

  <div class="section">
   <h2 id="Card">御札戦歴（レガシーモード）</h2>

   <table class="rate_per_card">
    <caption id="rate_per_card">スペルカード別取得率（取得回数 / 遭遇回数）</caption>
    <thead>
     <tr>
      <td class="number">No.</td>
      <td class="card">スペルカード名<br />（難易度）</td>
      <td class="character">全主人公合計</td>
      <td class="character">博麗 霊夢</td>
      <td class="character">霧雨 魔理沙</td>
      <td class="character">東風谷 早苗</td>
      <td class="character">鈴仙・優曇華院・イナバ</td>
     </tr>
    </thead>
    <tfoot>
     <tr>
      <td colspan="2">Total</td>
      <td class="rate">%T15CL000TL1 / %T15CL000TL2</td>
      <td class="rate">%T15CL000RM1 / %T15CL000RM2</td>
      <td class="rate">%T15CL000MR1 / %T15CL000MR2</td>
      <td class="rate">%T15CL000SN1 / %T15CL000SN2</td>
      <td class="rate">%T15CL000RS1 / %T15CL000RS2</td>
     </tr>
    </tfoot>

    <tbody>
     <tr>
      <td class="number">No.01</td>
      <td class="card">%T15CARD001N<br />(%T15CARD001R)</td>
      <td class="rate">%T15CL001TL1 / %T15CL001TL2</td>
      <td class="rate">%T15CL001RM1 / %T15CL001RM2</td>
      <td class="rate">%T15CL001MR1 / %T15CL001MR2</td>
      <td class="rate">%T15CL001SN1 / %T15CL001SN2</td>
      <td class="rate">%T15CL001RS1 / %T15CL001RS2</td>
     </tr>
     <tr>
      <td class="number">No.02</td>
      <td class="card">%T15CARD002N<br />(%T15CARD002R)</td>
      <td class="rate">%T15CL002TL1 / %T15CL002TL2</td>
      <td class="rate">%T15CL002RM1 / %T15CL002RM2</td>
      <td class="rate">%T15CL002MR1 / %T15CL002MR2</td>
      <td class="rate">%T15CL002SN1 / %T15CL002SN2</td>
      <td class="rate">%T15CL002RS1 / %T15CL002RS2</td>
     </tr>
     <tr>
      <td class="number">No.03</td>
      <td class="card">%T15CARD003N<br />(%T15CARD003R)</td>
      <td class="rate">%T15CL003TL1 / %T15CL003TL2</td>
      <td class="rate">%T15CL003RM1 / %T15CL003RM2</td>
      <td class="rate">%T15CL003MR1 / %T15CL003MR2</td>
      <td class="rate">%T15CL003SN1 / %T15CL003SN2</td>
      <td class="rate">%T15CL003RS1 / %T15CL003RS2</td>
     </tr>
     <tr>
      <td class="number">No.04</td>
      <td class="card">%T15CARD004N<br />(%T15CARD004R)</td>
      <td class="rate">%T15CL004TL1 / %T15CL004TL2</td>
      <td class="rate">%T15CL004RM1 / %T15CL004RM2</td>
      <td class="rate">%T15CL004MR1 / %T15CL004MR2</td>
      <td class="rate">%T15CL004SN1 / %T15CL004SN2</td>
      <td class="rate">%T15CL004RS1 / %T15CL004RS2</td>
     </tr>
     <tr>
      <td class="number">No.05</td>
      <td class="card">%T15CARD005N<br />(%T15CARD005R)</td>
      <td class="rate">%T15CL005TL1 / %T15CL005TL2</td>
      <td class="rate">%T15CL005RM1 / %T15CL005RM2</td>
      <td class="rate">%T15CL005MR1 / %T15CL005MR2</td>
      <td class="rate">%T15CL005SN1 / %T15CL005SN2</td>
      <td class="rate">%T15CL005RS1 / %T15CL005RS2</td>
     </tr>
     <tr>
      <td class="number">No.06</td>
      <td class="card">%T15CARD006N<br />(%T15CARD006R)</td>
      <td class="rate">%T15CL006TL1 / %T15CL006TL2</td>
      <td class="rate">%T15CL006RM1 / %T15CL006RM2</td>
      <td class="rate">%T15CL006MR1 / %T15CL006MR2</td>
      <td class="rate">%T15CL006SN1 / %T15CL006SN2</td>
      <td class="rate">%T15CL006RS1 / %T15CL006RS2</td>
     </tr>
     <tr>
      <td class="number">No.07</td>
      <td class="card">%T15CARD007N<br />(%T15CARD007R)</td>
      <td class="rate">%T15CL007TL1 / %T15CL007TL2</td>
      <td class="rate">%T15CL007RM1 / %T15CL007RM2</td>
      <td class="rate">%T15CL007MR1 / %T15CL007MR2</td>
      <td class="rate">%T15CL007SN1 / %T15CL007SN2</td>
      <td class="rate">%T15CL007RS1 / %T15CL007RS2</td>
     </tr>
     <tr>
      <td class="number">No.08</td>
      <td class="card">%T15CARD008N<br />(%T15CARD008R)</td>
      <td class="rate">%T15CL008TL1 / %T15CL008TL2</td>
      <td class="rate">%T15CL008RM1 / %T15CL008RM2</td>
      <td class="rate">%T15CL008MR1 / %T15CL008MR2</td>
      <td class="rate">%T15CL008SN1 / %T15CL008SN2</td>
      <td class="rate">%T15CL008RS1 / %T15CL008RS2</td>
     </tr>
     <tr>
      <td class="number">No.09</td>
      <td class="card">%T15CARD009N<br />(%T15CARD009R)</td>
      <td class="rate">%T15CL009TL1 / %T15CL009TL2</td>
      <td class="rate">%T15CL009RM1 / %T15CL009RM2</td>
      <td class="rate">%T15CL009MR1 / %T15CL009MR2</td>
      <td class="rate">%T15CL009SN1 / %T15CL009SN2</td>
      <td class="rate">%T15CL009RS1 / %T15CL009RS2</td>
     </tr>
     <tr>
      <td class="number">No.10</td>
      <td class="card">%T15CARD010N<br />(%T15CARD010R)</td>
      <td class="rate">%T15CL010TL1 / %T15CL010TL2</td>
      <td class="rate">%T15CL010RM1 / %T15CL010RM2</td>
      <td class="rate">%T15CL010MR1 / %T15CL010MR2</td>
      <td class="rate">%T15CL010SN1 / %T15CL010SN2</td>
      <td class="rate">%T15CL010RS1 / %T15CL010RS2</td>
     </tr>

     <tr>
      <td class="number">No.11</td>
      <td class="card">%T15CARD011N<br />(%T15CARD011R)</td>
      <td class="rate">%T15CL011TL1 / %T15CL011TL2</td>
      <td class="rate">%T15CL011RM1 / %T15CL011RM2</td>
      <td class="rate">%T15CL011MR1 / %T15CL011MR2</td>
      <td class="rate">%T15CL011SN1 / %T15CL011SN2</td>
      <td class="rate">%T15CL011RS1 / %T15CL011RS2</td>
     </tr>
     <tr>
      <td class="number">No.12</td>
      <td class="card">%T15CARD012N<br />(%T15CARD012R)</td>
      <td class="rate">%T15CL012TL1 / %T15CL012TL2</td>
      <td class="rate">%T15CL012RM1 / %T15CL012RM2</td>
      <td class="rate">%T15CL012MR1 / %T15CL012MR2</td>
      <td class="rate">%T15CL012SN1 / %T15CL012SN2</td>
      <td class="rate">%T15CL012RS1 / %T15CL012RS2</td>
     </tr>
     <tr>
      <td class="number">No.13</td>
      <td class="card">%T15CARD013N<br />(%T15CARD013R)</td>
      <td class="rate">%T15CL013TL1 / %T15CL013TL2</td>
      <td class="rate">%T15CL013RM1 / %T15CL013RM2</td>
      <td class="rate">%T15CL013MR1 / %T15CL013MR2</td>
      <td class="rate">%T15CL013SN1 / %T15CL013SN2</td>
      <td class="rate">%T15CL013RS1 / %T15CL013RS2</td>
     </tr>
     <tr>
      <td class="number">No.14</td>
      <td class="card">%T15CARD014N<br />(%T15CARD014R)</td>
      <td class="rate">%T15CL014TL1 / %T15CL014TL2</td>
      <td class="rate">%T15CL014RM1 / %T15CL014RM2</td>
      <td class="rate">%T15CL014MR1 / %T15CL014MR2</td>
      <td class="rate">%T15CL014SN1 / %T15CL014SN2</td>
      <td class="rate">%T15CL014RS1 / %T15CL014RS2</td>
     </tr>
     <tr>
      <td class="number">No.15</td>
      <td class="card">%T15CARD015N<br />(%T15CARD015R)</td>
      <td class="rate">%T15CL015TL1 / %T15CL015TL2</td>
      <td class="rate">%T15CL015RM1 / %T15CL015RM2</td>
      <td class="rate">%T15CL015MR1 / %T15CL015MR2</td>
      <td class="rate">%T15CL015SN1 / %T15CL015SN2</td>
      <td class="rate">%T15CL015RS1 / %T15CL015RS2</td>
     </tr>
     <tr>
      <td class="number">No.16</td>
      <td class="card">%T15CARD016N<br />(%T15CARD016R)</td>
      <td class="rate">%T15CL016TL1 / %T15CL016TL2</td>
      <td class="rate">%T15CL016RM1 / %T15CL016RM2</td>
      <td class="rate">%T15CL016MR1 / %T15CL016MR2</td>
      <td class="rate">%T15CL016SN1 / %T15CL016SN2</td>
      <td class="rate">%T15CL016RS1 / %T15CL016RS2</td>
     </tr>
     <tr>
      <td class="number">No.17</td>
      <td class="card">%T15CARD017N<br />(%T15CARD017R)</td>
      <td class="rate">%T15CL017TL1 / %T15CL017TL2</td>
      <td class="rate">%T15CL017RM1 / %T15CL017RM2</td>
      <td class="rate">%T15CL017MR1 / %T15CL017MR2</td>
      <td class="rate">%T15CL017SN1 / %T15CL017SN2</td>
      <td class="rate">%T15CL017RS1 / %T15CL017RS2</td>
     </tr>
     <tr>
      <td class="number">No.18</td>
      <td class="card">%T15CARD018N<br />(%T15CARD018R)</td>
      <td class="rate">%T15CL018TL1 / %T15CL018TL2</td>
      <td class="rate">%T15CL018RM1 / %T15CL018RM2</td>
      <td class="rate">%T15CL018MR1 / %T15CL018MR2</td>
      <td class="rate">%T15CL018SN1 / %T15CL018SN2</td>
      <td class="rate">%T15CL018RS1 / %T15CL018RS2</td>
     </tr>
     <tr>
      <td class="number">No.19</td>
      <td class="card">%T15CARD019N<br />(%T15CARD019R)</td>
      <td class="rate">%T15CL019TL1 / %T15CL019TL2</td>
      <td class="rate">%T15CL019RM1 / %T15CL019RM2</td>
      <td class="rate">%T15CL019MR1 / %T15CL019MR2</td>
      <td class="rate">%T15CL019SN1 / %T15CL019SN2</td>
      <td class="rate">%T15CL019RS1 / %T15CL019RS2</td>
     </tr>
     <tr>
      <td class="number">No.20</td>
      <td class="card">%T15CARD020N<br />(%T15CARD020R)</td>
      <td class="rate">%T15CL020TL1 / %T15CL020TL2</td>
      <td class="rate">%T15CL020RM1 / %T15CL020RM2</td>
      <td class="rate">%T15CL020MR1 / %T15CL020MR2</td>
      <td class="rate">%T15CL020SN1 / %T15CL020SN2</td>
      <td class="rate">%T15CL020RS1 / %T15CL020RS2</td>
     </tr>

     <tr>
      <td class="number">No.21</td>
      <td class="card">%T15CARD021N<br />(%T15CARD021R)</td>
      <td class="rate">%T15CL021TL1 / %T15CL021TL2</td>
      <td class="rate">%T15CL021RM1 / %T15CL021RM2</td>
      <td class="rate">%T15CL021MR1 / %T15CL021MR2</td>
      <td class="rate">%T15CL021SN1 / %T15CL021SN2</td>
      <td class="rate">%T15CL021RS1 / %T15CL021RS2</td>
     </tr>
     <tr>
      <td class="number">No.22</td>
      <td class="card">%T15CARD022N<br />(%T15CARD022R)</td>
      <td class="rate">%T15CL022TL1 / %T15CL022TL2</td>
      <td class="rate">%T15CL022RM1 / %T15CL022RM2</td>
      <td class="rate">%T15CL022MR1 / %T15CL022MR2</td>
      <td class="rate">%T15CL022SN1 / %T15CL022SN2</td>
      <td class="rate">%T15CL022RS1 / %T15CL022RS2</td>
     </tr>
     <tr>
      <td class="number">No.23</td>
      <td class="card">%T15CARD023N<br />(%T15CARD023R)</td>
      <td class="rate">%T15CL023TL1 / %T15CL023TL2</td>
      <td class="rate">%T15CL023RM1 / %T15CL023RM2</td>
      <td class="rate">%T15CL023MR1 / %T15CL023MR2</td>
      <td class="rate">%T15CL023SN1 / %T15CL023SN2</td>
      <td class="rate">%T15CL023RS1 / %T15CL023RS2</td>
     </tr>
     <tr>
      <td class="number">No.24</td>
      <td class="card">%T15CARD024N<br />(%T15CARD024R)</td>
      <td class="rate">%T15CL024TL1 / %T15CL024TL2</td>
      <td class="rate">%T15CL024RM1 / %T15CL024RM2</td>
      <td class="rate">%T15CL024MR1 / %T15CL024MR2</td>
      <td class="rate">%T15CL024SN1 / %T15CL024SN2</td>
      <td class="rate">%T15CL024RS1 / %T15CL024RS2</td>
     </tr>
     <tr>
      <td class="number">No.25</td>
      <td class="card">%T15CARD025N<br />(%T15CARD025R)</td>
      <td class="rate">%T15CL025TL1 / %T15CL025TL2</td>
      <td class="rate">%T15CL025RM1 / %T15CL025RM2</td>
      <td class="rate">%T15CL025MR1 / %T15CL025MR2</td>
      <td class="rate">%T15CL025SN1 / %T15CL025SN2</td>
      <td class="rate">%T15CL025RS1 / %T15CL025RS2</td>
     </tr>
     <tr>
      <td class="number">No.26</td>
      <td class="card">%T15CARD026N<br />(%T15CARD026R)</td>
      <td class="rate">%T15CL026TL1 / %T15CL026TL2</td>
      <td class="rate">%T15CL026RM1 / %T15CL026RM2</td>
      <td class="rate">%T15CL026MR1 / %T15CL026MR2</td>
      <td class="rate">%T15CL026SN1 / %T15CL026SN2</td>
      <td class="rate">%T15CL026RS1 / %T15CL026RS2</td>
     </tr>
     <tr>
      <td class="number">No.27</td>
      <td class="card">%T15CARD027N<br />(%T15CARD027R)</td>
      <td class="rate">%T15CL027TL1 / %T15CL027TL2</td>
      <td class="rate">%T15CL027RM1 / %T15CL027RM2</td>
      <td class="rate">%T15CL027MR1 / %T15CL027MR2</td>
      <td class="rate">%T15CL027SN1 / %T15CL027SN2</td>
      <td class="rate">%T15CL027RS1 / %T15CL027RS2</td>
     </tr>
     <tr>
      <td class="number">No.28</td>
      <td class="card">%T15CARD028N<br />(%T15CARD028R)</td>
      <td class="rate">%T15CL028TL1 / %T15CL028TL2</td>
      <td class="rate">%T15CL028RM1 / %T15CL028RM2</td>
      <td class="rate">%T15CL028MR1 / %T15CL028MR2</td>
      <td class="rate">%T15CL028SN1 / %T15CL028SN2</td>
      <td class="rate">%T15CL028RS1 / %T15CL028RS2</td>
     </tr>
     <tr>
      <td class="number">No.29</td>
      <td class="card">%T15CARD029N<br />(%T15CARD029R)</td>
      <td class="rate">%T15CL029TL1 / %T15CL029TL2</td>
      <td class="rate">%T15CL029RM1 / %T15CL029RM2</td>
      <td class="rate">%T15CL029MR1 / %T15CL029MR2</td>
      <td class="rate">%T15CL029SN1 / %T15CL029SN2</td>
      <td class="rate">%T15CL029RS1 / %T15CL029RS2</td>
     </tr>
     <tr>
      <td class="number">No.30</td>
      <td class="card">%T15CARD030N<br />(%T15CARD030R)</td>
      <td class="rate">%T15CL030TL1 / %T15CL030TL2</td>
      <td class="rate">%T15CL030RM1 / %T15CL030RM2</td>
      <td class="rate">%T15CL030MR1 / %T15CL030MR2</td>
      <td class="rate">%T15CL030SN1 / %T15CL030SN2</td>
      <td class="rate">%T15CL030RS1 / %T15CL030RS2</td>
     </tr>

     <tr>
      <td class="number">No.31</td>
      <td class="card">%T15CARD031N<br />(%T15CARD031R)</td>
      <td class="rate">%T15CL031TL1 / %T15CL031TL2</td>
      <td class="rate">%T15CL031RM1 / %T15CL031RM2</td>
      <td class="rate">%T15CL031MR1 / %T15CL031MR2</td>
      <td class="rate">%T15CL031SN1 / %T15CL031SN2</td>
      <td class="rate">%T15CL031RS1 / %T15CL031RS2</td>
     </tr>
     <tr>
      <td class="number">No.32</td>
      <td class="card">%T15CARD032N<br />(%T15CARD032R)</td>
      <td class="rate">%T15CL032TL1 / %T15CL032TL2</td>
      <td class="rate">%T15CL032RM1 / %T15CL032RM2</td>
      <td class="rate">%T15CL032MR1 / %T15CL032MR2</td>
      <td class="rate">%T15CL032SN1 / %T15CL032SN2</td>
      <td class="rate">%T15CL032RS1 / %T15CL032RS2</td>
     </tr>
     <tr>
      <td class="number">No.33</td>
      <td class="card">%T15CARD033N<br />(%T15CARD033R)</td>
      <td class="rate">%T15CL033TL1 / %T15CL033TL2</td>
      <td class="rate">%T15CL033RM1 / %T15CL033RM2</td>
      <td class="rate">%T15CL033MR1 / %T15CL033MR2</td>
      <td class="rate">%T15CL033SN1 / %T15CL033SN2</td>
      <td class="rate">%T15CL033RS1 / %T15CL033RS2</td>
     </tr>
     <tr>
      <td class="number">No.34</td>
      <td class="card">%T15CARD034N<br />(%T15CARD034R)</td>
      <td class="rate">%T15CL034TL1 / %T15CL034TL2</td>
      <td class="rate">%T15CL034RM1 / %T15CL034RM2</td>
      <td class="rate">%T15CL034MR1 / %T15CL034MR2</td>
      <td class="rate">%T15CL034SN1 / %T15CL034SN2</td>
      <td class="rate">%T15CL034RS1 / %T15CL034RS2</td>
     </tr>
     <tr>
      <td class="number">No.35</td>
      <td class="card">%T15CARD035N<br />(%T15CARD035R)</td>
      <td class="rate">%T15CL035TL1 / %T15CL035TL2</td>
      <td class="rate">%T15CL035RM1 / %T15CL035RM2</td>
      <td class="rate">%T15CL035MR1 / %T15CL035MR2</td>
      <td class="rate">%T15CL035SN1 / %T15CL035SN2</td>
      <td class="rate">%T15CL035RS1 / %T15CL035RS2</td>
     </tr>
     <tr>
      <td class="number">No.36</td>
      <td class="card">%T15CARD036N<br />(%T15CARD036R)</td>
      <td class="rate">%T15CL036TL1 / %T15CL036TL2</td>
      <td class="rate">%T15CL036RM1 / %T15CL036RM2</td>
      <td class="rate">%T15CL036MR1 / %T15CL036MR2</td>
      <td class="rate">%T15CL036SN1 / %T15CL036SN2</td>
      <td class="rate">%T15CL036RS1 / %T15CL036RS2</td>
     </tr>
     <tr>
      <td class="number">No.37</td>
      <td class="card">%T15CARD037N<br />(%T15CARD037R)</td>
      <td class="rate">%T15CL037TL1 / %T15CL037TL2</td>
      <td class="rate">%T15CL037RM1 / %T15CL037RM2</td>
      <td class="rate">%T15CL037MR1 / %T15CL037MR2</td>
      <td class="rate">%T15CL037SN1 / %T15CL037SN2</td>
      <td class="rate">%T15CL037RS1 / %T15CL037RS2</td>
     </tr>
     <tr>
      <td class="number">No.38</td>
      <td class="card">%T15CARD038N<br />(%T15CARD038R)</td>
      <td class="rate">%T15CL038TL1 / %T15CL038TL2</td>
      <td class="rate">%T15CL038RM1 / %T15CL038RM2</td>
      <td class="rate">%T15CL038MR1 / %T15CL038MR2</td>
      <td class="rate">%T15CL038SN1 / %T15CL038SN2</td>
      <td class="rate">%T15CL038RS1 / %T15CL038RS2</td>
     </tr>
     <tr>
      <td class="number">No.39</td>
      <td class="card">%T15CARD039N<br />(%T15CARD039R)</td>
      <td class="rate">%T15CL039TL1 / %T15CL039TL2</td>
      <td class="rate">%T15CL039RM1 / %T15CL039RM2</td>
      <td class="rate">%T15CL039MR1 / %T15CL039MR2</td>
      <td class="rate">%T15CL039SN1 / %T15CL039SN2</td>
      <td class="rate">%T15CL039RS1 / %T15CL039RS2</td>
     </tr>
     <tr>
      <td class="number">No.40</td>
      <td class="card">%T15CARD040N<br />(%T15CARD040R)</td>
      <td class="rate">%T15CL040TL1 / %T15CL040TL2</td>
      <td class="rate">%T15CL040RM1 / %T15CL040RM2</td>
      <td class="rate">%T15CL040MR1 / %T15CL040MR2</td>
      <td class="rate">%T15CL040SN1 / %T15CL040SN2</td>
      <td class="rate">%T15CL040RS1 / %T15CL040RS2</td>
     </tr>

     <tr>
      <td class="number">No.41</td>
      <td class="card">%T15CARD041N<br />(%T15CARD041R)</td>
      <td class="rate">%T15CL041TL1 / %T15CL041TL2</td>
      <td class="rate">%T15CL041RM1 / %T15CL041RM2</td>
      <td class="rate">%T15CL041MR1 / %T15CL041MR2</td>
      <td class="rate">%T15CL041SN1 / %T15CL041SN2</td>
      <td class="rate">%T15CL041RS1 / %T15CL041RS2</td>
     </tr>
     <tr>
      <td class="number">No.42</td>
      <td class="card">%T15CARD042N<br />(%T15CARD042R)</td>
      <td class="rate">%T15CL042TL1 / %T15CL042TL2</td>
      <td class="rate">%T15CL042RM1 / %T15CL042RM2</td>
      <td class="rate">%T15CL042MR1 / %T15CL042MR2</td>
      <td class="rate">%T15CL042SN1 / %T15CL042SN2</td>
      <td class="rate">%T15CL042RS1 / %T15CL042RS2</td>
     </tr>
     <tr>
      <td class="number">No.43</td>
      <td class="card">%T15CARD043N<br />(%T15CARD043R)</td>
      <td class="rate">%T15CL043TL1 / %T15CL043TL2</td>
      <td class="rate">%T15CL043RM1 / %T15CL043RM2</td>
      <td class="rate">%T15CL043MR1 / %T15CL043MR2</td>
      <td class="rate">%T15CL043SN1 / %T15CL043SN2</td>
      <td class="rate">%T15CL043RS1 / %T15CL043RS2</td>
     </tr>
     <tr>
      <td class="number">No.44</td>
      <td class="card">%T15CARD044N<br />(%T15CARD044R)</td>
      <td class="rate">%T15CL044TL1 / %T15CL044TL2</td>
      <td class="rate">%T15CL044RM1 / %T15CL044RM2</td>
      <td class="rate">%T15CL044MR1 / %T15CL044MR2</td>
      <td class="rate">%T15CL044SN1 / %T15CL044SN2</td>
      <td class="rate">%T15CL044RS1 / %T15CL044RS2</td>
     </tr>
     <tr>
      <td class="number">No.45</td>
      <td class="card">%T15CARD045N<br />(%T15CARD045R)</td>
      <td class="rate">%T15CL045TL1 / %T15CL045TL2</td>
      <td class="rate">%T15CL045RM1 / %T15CL045RM2</td>
      <td class="rate">%T15CL045MR1 / %T15CL045MR2</td>
      <td class="rate">%T15CL045SN1 / %T15CL045SN2</td>
      <td class="rate">%T15CL045RS1 / %T15CL045RS2</td>
     </tr>
     <tr>
      <td class="number">No.46</td>
      <td class="card">%T15CARD046N<br />(%T15CARD046R)</td>
      <td class="rate">%T15CL046TL1 / %T15CL046TL2</td>
      <td class="rate">%T15CL046RM1 / %T15CL046RM2</td>
      <td class="rate">%T15CL046MR1 / %T15CL046MR2</td>
      <td class="rate">%T15CL046SN1 / %T15CL046SN2</td>
      <td class="rate">%T15CL046RS1 / %T15CL046RS2</td>
     </tr>
     <tr>
      <td class="number">No.47</td>
      <td class="card">%T15CARD047N<br />(%T15CARD047R)</td>
      <td class="rate">%T15CL047TL1 / %T15CL047TL2</td>
      <td class="rate">%T15CL047RM1 / %T15CL047RM2</td>
      <td class="rate">%T15CL047MR1 / %T15CL047MR2</td>
      <td class="rate">%T15CL047SN1 / %T15CL047SN2</td>
      <td class="rate">%T15CL047RS1 / %T15CL047RS2</td>
     </tr>
     <tr>
      <td class="number">No.48</td>
      <td class="card">%T15CARD048N<br />(%T15CARD048R)</td>
      <td class="rate">%T15CL048TL1 / %T15CL048TL2</td>
      <td class="rate">%T15CL048RM1 / %T15CL048RM2</td>
      <td class="rate">%T15CL048MR1 / %T15CL048MR2</td>
      <td class="rate">%T15CL048SN1 / %T15CL048SN2</td>
      <td class="rate">%T15CL048RS1 / %T15CL048RS2</td>
     </tr>
     <tr>
      <td class="number">No.49</td>
      <td class="card">%T15CARD049N<br />(%T15CARD049R)</td>
      <td class="rate">%T15CL049TL1 / %T15CL049TL2</td>
      <td class="rate">%T15CL049RM1 / %T15CL049RM2</td>
      <td class="rate">%T15CL049MR1 / %T15CL049MR2</td>
      <td class="rate">%T15CL049SN1 / %T15CL049SN2</td>
      <td class="rate">%T15CL049RS1 / %T15CL049RS2</td>
     </tr>
     <tr>
      <td class="number">No.50</td>
      <td class="card">%T15CARD050N<br />(%T15CARD050R)</td>
      <td class="rate">%T15CL050TL1 / %T15CL050TL2</td>
      <td class="rate">%T15CL050RM1 / %T15CL050RM2</td>
      <td class="rate">%T15CL050MR1 / %T15CL050MR2</td>
      <td class="rate">%T15CL050SN1 / %T15CL050SN2</td>
      <td class="rate">%T15CL050RS1 / %T15CL050RS2</td>
     </tr>

     <tr>
      <td class="number">No.51</td>
      <td class="card">%T15CARD051N<br />(%T15CARD051R)</td>
      <td class="rate">%T15CL051TL1 / %T15CL051TL2</td>
      <td class="rate">%T15CL051RM1 / %T15CL051RM2</td>
      <td class="rate">%T15CL051MR1 / %T15CL051MR2</td>
      <td class="rate">%T15CL051SN1 / %T15CL051SN2</td>
      <td class="rate">%T15CL051RS1 / %T15CL051RS2</td>
     </tr>
     <tr>
      <td class="number">No.52</td>
      <td class="card">%T15CARD052N<br />(%T15CARD052R)</td>
      <td class="rate">%T15CL052TL1 / %T15CL052TL2</td>
      <td class="rate">%T15CL052RM1 / %T15CL052RM2</td>
      <td class="rate">%T15CL052MR1 / %T15CL052MR2</td>
      <td class="rate">%T15CL052SN1 / %T15CL052SN2</td>
      <td class="rate">%T15CL052RS1 / %T15CL052RS2</td>
     </tr>
     <tr>
      <td class="number">No.53</td>
      <td class="card">%T15CARD053N<br />(%T15CARD053R)</td>
      <td class="rate">%T15CL053TL1 / %T15CL053TL2</td>
      <td class="rate">%T15CL053RM1 / %T15CL053RM2</td>
      <td class="rate">%T15CL053MR1 / %T15CL053MR2</td>
      <td class="rate">%T15CL053SN1 / %T15CL053SN2</td>
      <td class="rate">%T15CL053RS1 / %T15CL053RS2</td>
     </tr>
     <tr>
      <td class="number">No.54</td>
      <td class="card">%T15CARD054N<br />(%T15CARD054R)</td>
      <td class="rate">%T15CL054TL1 / %T15CL054TL2</td>
      <td class="rate">%T15CL054RM1 / %T15CL054RM2</td>
      <td class="rate">%T15CL054MR1 / %T15CL054MR2</td>
      <td class="rate">%T15CL054SN1 / %T15CL054SN2</td>
      <td class="rate">%T15CL054RS1 / %T15CL054RS2</td>
     </tr>
     <tr>
      <td class="number">No.55</td>
      <td class="card">%T15CARD055N<br />(%T15CARD055R)</td>
      <td class="rate">%T15CL055TL1 / %T15CL055TL2</td>
      <td class="rate">%T15CL055RM1 / %T15CL055RM2</td>
      <td class="rate">%T15CL055MR1 / %T15CL055MR2</td>
      <td class="rate">%T15CL055SN1 / %T15CL055SN2</td>
      <td class="rate">%T15CL055RS1 / %T15CL055RS2</td>
     </tr>
     <tr>
      <td class="number">No.56</td>
      <td class="card">%T15CARD056N<br />(%T15CARD056R)</td>
      <td class="rate">%T15CL056TL1 / %T15CL056TL2</td>
      <td class="rate">%T15CL056RM1 / %T15CL056RM2</td>
      <td class="rate">%T15CL056MR1 / %T15CL056MR2</td>
      <td class="rate">%T15CL056SN1 / %T15CL056SN2</td>
      <td class="rate">%T15CL056RS1 / %T15CL056RS2</td>
     </tr>
     <tr>
      <td class="number">No.57</td>
      <td class="card">%T15CARD057N<br />(%T15CARD057R)</td>
      <td class="rate">%T15CL057TL1 / %T15CL057TL2</td>
      <td class="rate">%T15CL057RM1 / %T15CL057RM2</td>
      <td class="rate">%T15CL057MR1 / %T15CL057MR2</td>
      <td class="rate">%T15CL057SN1 / %T15CL057SN2</td>
      <td class="rate">%T15CL057RS1 / %T15CL057RS2</td>
     </tr>
     <tr>
      <td class="number">No.58</td>
      <td class="card">%T15CARD058N<br />(%T15CARD058R)</td>
      <td class="rate">%T15CL058TL1 / %T15CL058TL2</td>
      <td class="rate">%T15CL058RM1 / %T15CL058RM2</td>
      <td class="rate">%T15CL058MR1 / %T15CL058MR2</td>
      <td class="rate">%T15CL058SN1 / %T15CL058SN2</td>
      <td class="rate">%T15CL058RS1 / %T15CL058RS2</td>
     </tr>
     <tr>
      <td class="number">No.59</td>
      <td class="card">%T15CARD059N<br />(%T15CARD059R)</td>
      <td class="rate">%T15CL059TL1 / %T15CL059TL2</td>
      <td class="rate">%T15CL059RM1 / %T15CL059RM2</td>
      <td class="rate">%T15CL059MR1 / %T15CL059MR2</td>
      <td class="rate">%T15CL059SN1 / %T15CL059SN2</td>
      <td class="rate">%T15CL059RS1 / %T15CL059RS2</td>
     </tr>
     <tr>
      <td class="number">No.60</td>
      <td class="card">%T15CARD060N<br />(%T15CARD060R)</td>
      <td class="rate">%T15CL060TL1 / %T15CL060TL2</td>
      <td class="rate">%T15CL060RM1 / %T15CL060RM2</td>
      <td class="rate">%T15CL060MR1 / %T15CL060MR2</td>
      <td class="rate">%T15CL060SN1 / %T15CL060SN2</td>
      <td class="rate">%T15CL060RS1 / %T15CL060RS2</td>
     </tr>

     <tr>
      <td class="number">No.61</td>
      <td class="card">%T15CARD061N<br />(%T15CARD061R)</td>
      <td class="rate">%T15CL061TL1 / %T15CL061TL2</td>
      <td class="rate">%T15CL061RM1 / %T15CL061RM2</td>
      <td class="rate">%T15CL061MR1 / %T15CL061MR2</td>
      <td class="rate">%T15CL061SN1 / %T15CL061SN2</td>
      <td class="rate">%T15CL061RS1 / %T15CL061RS2</td>
     </tr>
     <tr>
      <td class="number">No.62</td>
      <td class="card">%T15CARD062N<br />(%T15CARD062R)</td>
      <td class="rate">%T15CL062TL1 / %T15CL062TL2</td>
      <td class="rate">%T15CL062RM1 / %T15CL062RM2</td>
      <td class="rate">%T15CL062MR1 / %T15CL062MR2</td>
      <td class="rate">%T15CL062SN1 / %T15CL062SN2</td>
      <td class="rate">%T15CL062RS1 / %T15CL062RS2</td>
     </tr>
     <tr>
      <td class="number">No.63</td>
      <td class="card">%T15CARD063N<br />(%T15CARD063R)</td>
      <td class="rate">%T15CL063TL1 / %T15CL063TL2</td>
      <td class="rate">%T15CL063RM1 / %T15CL063RM2</td>
      <td class="rate">%T15CL063MR1 / %T15CL063MR2</td>
      <td class="rate">%T15CL063SN1 / %T15CL063SN2</td>
      <td class="rate">%T15CL063RS1 / %T15CL063RS2</td>
     </tr>
     <tr>
      <td class="number">No.64</td>
      <td class="card">%T15CARD064N<br />(%T15CARD064R)</td>
      <td class="rate">%T15CL064TL1 / %T15CL064TL2</td>
      <td class="rate">%T15CL064RM1 / %T15CL064RM2</td>
      <td class="rate">%T15CL064MR1 / %T15CL064MR2</td>
      <td class="rate">%T15CL064SN1 / %T15CL064SN2</td>
      <td class="rate">%T15CL064RS1 / %T15CL064RS2</td>
     </tr>
     <tr>
      <td class="number">No.65</td>
      <td class="card">%T15CARD065N<br />(%T15CARD065R)</td>
      <td class="rate">%T15CL065TL1 / %T15CL065TL2</td>
      <td class="rate">%T15CL065RM1 / %T15CL065RM2</td>
      <td class="rate">%T15CL065MR1 / %T15CL065MR2</td>
      <td class="rate">%T15CL065SN1 / %T15CL065SN2</td>
      <td class="rate">%T15CL065RS1 / %T15CL065RS2</td>
     </tr>
     <tr>
      <td class="number">No.66</td>
      <td class="card">%T15CARD066N<br />(%T15CARD066R)</td>
      <td class="rate">%T15CL066TL1 / %T15CL066TL2</td>
      <td class="rate">%T15CL066RM1 / %T15CL066RM2</td>
      <td class="rate">%T15CL066MR1 / %T15CL066MR2</td>
      <td class="rate">%T15CL066SN1 / %T15CL066SN2</td>
      <td class="rate">%T15CL066RS1 / %T15CL066RS2</td>
     </tr>
     <tr>
      <td class="number">No.67</td>
      <td class="card">%T15CARD067N<br />(%T15CARD067R)</td>
      <td class="rate">%T15CL067TL1 / %T15CL067TL2</td>
      <td class="rate">%T15CL067RM1 / %T15CL067RM2</td>
      <td class="rate">%T15CL067MR1 / %T15CL067MR2</td>
      <td class="rate">%T15CL067SN1 / %T15CL067SN2</td>
      <td class="rate">%T15CL067RS1 / %T15CL067RS2</td>
     </tr>
     <tr>
      <td class="number">No.68</td>
      <td class="card">%T15CARD068N<br />(%T15CARD068R)</td>
      <td class="rate">%T15CL068TL1 / %T15CL068TL2</td>
      <td class="rate">%T15CL068RM1 / %T15CL068RM2</td>
      <td class="rate">%T15CL068MR1 / %T15CL068MR2</td>
      <td class="rate">%T15CL068SN1 / %T15CL068SN2</td>
      <td class="rate">%T15CL068RS1 / %T15CL068RS2</td>
     </tr>
     <tr>
      <td class="number">No.69</td>
      <td class="card">%T15CARD069N<br />(%T15CARD069R)</td>
      <td class="rate">%T15CL069TL1 / %T15CL069TL2</td>
      <td class="rate">%T15CL069RM1 / %T15CL069RM2</td>
      <td class="rate">%T15CL069MR1 / %T15CL069MR2</td>
      <td class="rate">%T15CL069SN1 / %T15CL069SN2</td>
      <td class="rate">%T15CL069RS1 / %T15CL069RS2</td>
     </tr>
     <tr>
      <td class="number">No.70</td>
      <td class="card">%T15CARD070N<br />(%T15CARD070R)</td>
      <td class="rate">%T15CL070TL1 / %T15CL070TL2</td>
      <td class="rate">%T15CL070RM1 / %T15CL070RM2</td>
      <td class="rate">%T15CL070MR1 / %T15CL070MR2</td>
      <td class="rate">%T15CL070SN1 / %T15CL070SN2</td>
      <td class="rate">%T15CL070RS1 / %T15CL070RS2</td>
     </tr>

     <tr>
      <td class="number">No.71</td>
      <td class="card">%T15CARD071N<br />(%T15CARD071R)</td>
      <td class="rate">%T15CL071TL1 / %T15CL071TL2</td>
      <td class="rate">%T15CL071RM1 / %T15CL071RM2</td>
      <td class="rate">%T15CL071MR1 / %T15CL071MR2</td>
      <td class="rate">%T15CL071SN1 / %T15CL071SN2</td>
      <td class="rate">%T15CL071RS1 / %T15CL071RS2</td>
     </tr>
     <tr>
      <td class="number">No.72</td>
      <td class="card">%T15CARD072N<br />(%T15CARD072R)</td>
      <td class="rate">%T15CL072TL1 / %T15CL072TL2</td>
      <td class="rate">%T15CL072RM1 / %T15CL072RM2</td>
      <td class="rate">%T15CL072MR1 / %T15CL072MR2</td>
      <td class="rate">%T15CL072SN1 / %T15CL072SN2</td>
      <td class="rate">%T15CL072RS1 / %T15CL072RS2</td>
     </tr>
     <tr>
      <td class="number">No.73</td>
      <td class="card">%T15CARD073N<br />(%T15CARD073R)</td>
      <td class="rate">%T15CL073TL1 / %T15CL073TL2</td>
      <td class="rate">%T15CL073RM1 / %T15CL073RM2</td>
      <td class="rate">%T15CL073MR1 / %T15CL073MR2</td>
      <td class="rate">%T15CL073SN1 / %T15CL073SN2</td>
      <td class="rate">%T15CL073RS1 / %T15CL073RS2</td>
     </tr>
     <tr>
      <td class="number">No.74</td>
      <td class="card">%T15CARD074N<br />(%T15CARD074R)</td>
      <td class="rate">%T15CL074TL1 / %T15CL074TL2</td>
      <td class="rate">%T15CL074RM1 / %T15CL074RM2</td>
      <td class="rate">%T15CL074MR1 / %T15CL074MR2</td>
      <td class="rate">%T15CL074SN1 / %T15CL074SN2</td>
      <td class="rate">%T15CL074RS1 / %T15CL074RS2</td>
     </tr>
     <tr>
      <td class="number">No.75</td>
      <td class="card">%T15CARD075N<br />(%T15CARD075R)</td>
      <td class="rate">%T15CL075TL1 / %T15CL075TL2</td>
      <td class="rate">%T15CL075RM1 / %T15CL075RM2</td>
      <td class="rate">%T15CL075MR1 / %T15CL075MR2</td>
      <td class="rate">%T15CL075SN1 / %T15CL075SN2</td>
      <td class="rate">%T15CL075RS1 / %T15CL075RS2</td>
     </tr>
     <tr>
      <td class="number">No.76</td>
      <td class="card">%T15CARD076N<br />(%T15CARD076R)</td>
      <td class="rate">%T15CL076TL1 / %T15CL076TL2</td>
      <td class="rate">%T15CL076RM1 / %T15CL076RM2</td>
      <td class="rate">%T15CL076MR1 / %T15CL076MR2</td>
      <td class="rate">%T15CL076SN1 / %T15CL076SN2</td>
      <td class="rate">%T15CL076RS1 / %T15CL076RS2</td>
     </tr>
     <tr>
      <td class="number">No.77</td>
      <td class="card">%T15CARD077N<br />(%T15CARD077R)</td>
      <td class="rate">%T15CL077TL1 / %T15CL077TL2</td>
      <td class="rate">%T15CL077RM1 / %T15CL077RM2</td>
      <td class="rate">%T15CL077MR1 / %T15CL077MR2</td>
      <td class="rate">%T15CL077SN1 / %T15CL077SN2</td>
      <td class="rate">%T15CL077RS1 / %T15CL077RS2</td>
     </tr>
     <tr>
      <td class="number">No.78</td>
      <td class="card">%T15CARD078N<br />(%T15CARD078R)</td>
      <td class="rate">%T15CL078TL1 / %T15CL078TL2</td>
      <td class="rate">%T15CL078RM1 / %T15CL078RM2</td>
      <td class="rate">%T15CL078MR1 / %T15CL078MR2</td>
      <td class="rate">%T15CL078SN1 / %T15CL078SN2</td>
      <td class="rate">%T15CL078RS1 / %T15CL078RS2</td>
     </tr>
     <tr>
      <td class="number">No.79</td>
      <td class="card">%T15CARD079N<br />(%T15CARD079R)</td>
      <td class="rate">%T15CL079TL1 / %T15CL079TL2</td>
      <td class="rate">%T15CL079RM1 / %T15CL079RM2</td>
      <td class="rate">%T15CL079MR1 / %T15CL079MR2</td>
      <td class="rate">%T15CL079SN1 / %T15CL079SN2</td>
      <td class="rate">%T15CL079RS1 / %T15CL079RS2</td>
     </tr>
     <tr>
      <td class="number">No.80</td>
      <td class="card">%T15CARD080N<br />(%T15CARD080R)</td>
      <td class="rate">%T15CL080TL1 / %T15CL080TL2</td>
      <td class="rate">%T15CL080RM1 / %T15CL080RM2</td>
      <td class="rate">%T15CL080MR1 / %T15CL080MR2</td>
      <td class="rate">%T15CL080SN1 / %T15CL080SN2</td>
      <td class="rate">%T15CL080RS1 / %T15CL080RS2</td>
     </tr>

     <tr>
      <td class="number">No.81</td>
      <td class="card">%T15CARD081N<br />(%T15CARD081R)</td>
      <td class="rate">%T15CL081TL1 / %T15CL081TL2</td>
      <td class="rate">%T15CL081RM1 / %T15CL081RM2</td>
      <td class="rate">%T15CL081MR1 / %T15CL081MR2</td>
      <td class="rate">%T15CL081SN1 / %T15CL081SN2</td>
      <td class="rate">%T15CL081RS1 / %T15CL081RS2</td>
     </tr>
     <tr>
      <td class="number">No.82</td>
      <td class="card">%T15CARD082N<br />(%T15CARD082R)</td>
      <td class="rate">%T15CL082TL1 / %T15CL082TL2</td>
      <td class="rate">%T15CL082RM1 / %T15CL082RM2</td>
      <td class="rate">%T15CL082MR1 / %T15CL082MR2</td>
      <td class="rate">%T15CL082SN1 / %T15CL082SN2</td>
      <td class="rate">%T15CL082RS1 / %T15CL082RS2</td>
     </tr>
     <tr>
      <td class="number">No.83</td>
      <td class="card">%T15CARD083N<br />(%T15CARD083R)</td>
      <td class="rate">%T15CL083TL1 / %T15CL083TL2</td>
      <td class="rate">%T15CL083RM1 / %T15CL083RM2</td>
      <td class="rate">%T15CL083MR1 / %T15CL083MR2</td>
      <td class="rate">%T15CL083SN1 / %T15CL083SN2</td>
      <td class="rate">%T15CL083RS1 / %T15CL083RS2</td>
     </tr>
     <tr>
      <td class="number">No.84</td>
      <td class="card">%T15CARD084N<br />(%T15CARD084R)</td>
      <td class="rate">%T15CL084TL1 / %T15CL084TL2</td>
      <td class="rate">%T15CL084RM1 / %T15CL084RM2</td>
      <td class="rate">%T15CL084MR1 / %T15CL084MR2</td>
      <td class="rate">%T15CL084SN1 / %T15CL084SN2</td>
      <td class="rate">%T15CL084RS1 / %T15CL084RS2</td>
     </tr>
     <tr>
      <td class="number">No.85</td>
      <td class="card">%T15CARD085N<br />(%T15CARD085R)</td>
      <td class="rate">%T15CL085TL1 / %T15CL085TL2</td>
      <td class="rate">%T15CL085RM1 / %T15CL085RM2</td>
      <td class="rate">%T15CL085MR1 / %T15CL085MR2</td>
      <td class="rate">%T15CL085SN1 / %T15CL085SN2</td>
      <td class="rate">%T15CL085RS1 / %T15CL085RS2</td>
     </tr>
     <tr>
      <td class="number">No.86</td>
      <td class="card">%T15CARD086N<br />(%T15CARD086R)</td>
      <td class="rate">%T15CL086TL1 / %T15CL086TL2</td>
      <td class="rate">%T15CL086RM1 / %T15CL086RM2</td>
      <td class="rate">%T15CL086MR1 / %T15CL086MR2</td>
      <td class="rate">%T15CL086SN1 / %T15CL086SN2</td>
      <td class="rate">%T15CL086RS1 / %T15CL086RS2</td>
     </tr>
     <tr>
      <td class="number">No.87</td>
      <td class="card">%T15CARD087N<br />(%T15CARD087R)</td>
      <td class="rate">%T15CL087TL1 / %T15CL087TL2</td>
      <td class="rate">%T15CL087RM1 / %T15CL087RM2</td>
      <td class="rate">%T15CL087MR1 / %T15CL087MR2</td>
      <td class="rate">%T15CL087SN1 / %T15CL087SN2</td>
      <td class="rate">%T15CL087RS1 / %T15CL087RS2</td>
     </tr>
     <tr>
      <td class="number">No.88</td>
      <td class="card">%T15CARD088N<br />(%T15CARD088R)</td>
      <td class="rate">%T15CL088TL1 / %T15CL088TL2</td>
      <td class="rate">%T15CL088RM1 / %T15CL088RM2</td>
      <td class="rate">%T15CL088MR1 / %T15CL088MR2</td>
      <td class="rate">%T15CL088SN1 / %T15CL088SN2</td>
      <td class="rate">%T15CL088RS1 / %T15CL088RS2</td>
     </tr>
     <tr>
      <td class="number">No.89</td>
      <td class="card">%T15CARD089N<br />(%T15CARD089R)</td>
      <td class="rate">%T15CL089TL1 / %T15CL089TL2</td>
      <td class="rate">%T15CL089RM1 / %T15CL089RM2</td>
      <td class="rate">%T15CL089MR1 / %T15CL089MR2</td>
      <td class="rate">%T15CL089SN1 / %T15CL089SN2</td>
      <td class="rate">%T15CL089RS1 / %T15CL089RS2</td>
     </tr>
     <tr>
      <td class="number">No.90</td>
      <td class="card">%T15CARD090N<br />(%T15CARD090R)</td>
      <td class="rate">%T15CL090TL1 / %T15CL090TL2</td>
      <td class="rate">%T15CL090RM1 / %T15CL090RM2</td>
      <td class="rate">%T15CL090MR1 / %T15CL090MR2</td>
      <td class="rate">%T15CL090SN1 / %T15CL090SN2</td>
      <td class="rate">%T15CL090RS1 / %T15CL090RS2</td>
     </tr>

     <tr>
      <td class="number">No.91</td>
      <td class="card">%T15CARD091N<br />(%T15CARD091R)</td>
      <td class="rate">%T15CL091TL1 / %T15CL091TL2</td>
      <td class="rate">%T15CL091RM1 / %T15CL091RM2</td>
      <td class="rate">%T15CL091MR1 / %T15CL091MR2</td>
      <td class="rate">%T15CL091SN1 / %T15CL091SN2</td>
      <td class="rate">%T15CL091RS1 / %T15CL091RS2</td>
     </tr>
     <tr>
      <td class="number">No.92</td>
      <td class="card">%T15CARD092N<br />(%T15CARD092R)</td>
      <td class="rate">%T15CL092TL1 / %T15CL092TL2</td>
      <td class="rate">%T15CL092RM1 / %T15CL092RM2</td>
      <td class="rate">%T15CL092MR1 / %T15CL092MR2</td>
      <td class="rate">%T15CL092SN1 / %T15CL092SN2</td>
      <td class="rate">%T15CL092RS1 / %T15CL092RS2</td>
     </tr>
     <tr>
      <td class="number">No.93</td>
      <td class="card">%T15CARD093N<br />(%T15CARD093R)</td>
      <td class="rate">%T15CL093TL1 / %T15CL093TL2</td>
      <td class="rate">%T15CL093RM1 / %T15CL093RM2</td>
      <td class="rate">%T15CL093MR1 / %T15CL093MR2</td>
      <td class="rate">%T15CL093SN1 / %T15CL093SN2</td>
      <td class="rate">%T15CL093RS1 / %T15CL093RS2</td>
     </tr>
     <tr>
      <td class="number">No.94</td>
      <td class="card">%T15CARD094N<br />(%T15CARD094R)</td>
      <td class="rate">%T15CL094TL1 / %T15CL094TL2</td>
      <td class="rate">%T15CL094RM1 / %T15CL094RM2</td>
      <td class="rate">%T15CL094MR1 / %T15CL094MR2</td>
      <td class="rate">%T15CL094SN1 / %T15CL094SN2</td>
      <td class="rate">%T15CL094RS1 / %T15CL094RS2</td>
     </tr>
     <tr>
      <td class="number">No.95</td>
      <td class="card">%T15CARD095N<br />(%T15CARD095R)</td>
      <td class="rate">%T15CL095TL1 / %T15CL095TL2</td>
      <td class="rate">%T15CL095RM1 / %T15CL095RM2</td>
      <td class="rate">%T15CL095MR1 / %T15CL095MR2</td>
      <td class="rate">%T15CL095SN1 / %T15CL095SN2</td>
      <td class="rate">%T15CL095RS1 / %T15CL095RS2</td>
     </tr>
     <tr>
      <td class="number">No.96</td>
      <td class="card">%T15CARD096N<br />(%T15CARD096R)</td>
      <td class="rate">%T15CL096TL1 / %T15CL096TL2</td>
      <td class="rate">%T15CL096RM1 / %T15CL096RM2</td>
      <td class="rate">%T15CL096MR1 / %T15CL096MR2</td>
      <td class="rate">%T15CL096SN1 / %T15CL096SN2</td>
      <td class="rate">%T15CL096RS1 / %T15CL096RS2</td>
     </tr>
     <tr>
      <td class="number">No.97</td>
      <td class="card">%T15CARD097N<br />(%T15CARD097R)</td>
      <td class="rate">%T15CL097TL1 / %T15CL097TL2</td>
      <td class="rate">%T15CL097RM1 / %T15CL097RM2</td>
      <td class="rate">%T15CL097MR1 / %T15CL097MR2</td>
      <td class="rate">%T15CL097SN1 / %T15CL097SN2</td>
      <td class="rate">%T15CL097RS1 / %T15CL097RS2</td>
     </tr>
     <tr>
      <td class="number">No.98</td>
      <td class="card">%T15CARD098N<br />(%T15CARD098R)</td>
      <td class="rate">%T15CL098TL1 / %T15CL098TL2</td>
      <td class="rate">%T15CL098RM1 / %T15CL098RM2</td>
      <td class="rate">%T15CL098MR1 / %T15CL098MR2</td>
      <td class="rate">%T15CL098SN1 / %T15CL098SN2</td>
      <td class="rate">%T15CL098RS1 / %T15CL098RS2</td>
     </tr>
     <tr>
      <td class="number">No.99</td>
      <td class="card">%T15CARD099N<br />(%T15CARD099R)</td>
      <td class="rate">%T15CL099TL1 / %T15CL099TL2</td>
      <td class="rate">%T15CL099RM1 / %T15CL099RM2</td>
      <td class="rate">%T15CL099MR1 / %T15CL099MR2</td>
      <td class="rate">%T15CL099SN1 / %T15CL099SN2</td>
      <td class="rate">%T15CL099RS1 / %T15CL099RS2</td>
     </tr>
     <tr>
      <td class="number">No.100</td>
      <td class="card">%T15CARD100N<br />(%T15CARD100R)</td>
      <td class="rate">%T15CL100TL1 / %T15CL100TL2</td>
      <td class="rate">%T15CL100RM1 / %T15CL100RM2</td>
      <td class="rate">%T15CL100MR1 / %T15CL100MR2</td>
      <td class="rate">%T15CL100SN1 / %T15CL100SN2</td>
      <td class="rate">%T15CL100RS1 / %T15CL100RS2</td>
     </tr>

     <tr>
      <td class="number">No.101</td>
      <td class="card">%T15CARD101N<br />(%T15CARD101R)</td>
      <td class="rate">%T15CL101TL1 / %T15CL101TL2</td>
      <td class="rate">%T15CL101RM1 / %T15CL101RM2</td>
      <td class="rate">%T15CL101MR1 / %T15CL101MR2</td>
      <td class="rate">%T15CL101SN1 / %T15CL101SN2</td>
      <td class="rate">%T15CL101RS1 / %T15CL101RS2</td>
     </tr>
     <tr>
      <td class="number">No.102</td>
      <td class="card">%T15CARD102N<br />(%T15CARD102R)</td>
      <td class="rate">%T15CL102TL1 / %T15CL102TL2</td>
      <td class="rate">%T15CL102RM1 / %T15CL102RM2</td>
      <td class="rate">%T15CL102MR1 / %T15CL102MR2</td>
      <td class="rate">%T15CL102SN1 / %T15CL102SN2</td>
      <td class="rate">%T15CL102RS1 / %T15CL102RS2</td>
     </tr>
     <tr>
      <td class="number">No.103</td>
      <td class="card">%T15CARD103N<br />(%T15CARD103R)</td>
      <td class="rate">%T15CL103TL1 / %T15CL103TL2</td>
      <td class="rate">%T15CL103RM1 / %T15CL103RM2</td>
      <td class="rate">%T15CL103MR1 / %T15CL103MR2</td>
      <td class="rate">%T15CL103SN1 / %T15CL103SN2</td>
      <td class="rate">%T15CL103RS1 / %T15CL103RS2</td>
     </tr>
     <tr>
      <td class="number">No.104</td>
      <td class="card">%T15CARD104N<br />(%T15CARD104R)</td>
      <td class="rate">%T15CL104TL1 / %T15CL104TL2</td>
      <td class="rate">%T15CL104RM1 / %T15CL104RM2</td>
      <td class="rate">%T15CL104MR1 / %T15CL104MR2</td>
      <td class="rate">%T15CL104SN1 / %T15CL104SN2</td>
      <td class="rate">%T15CL104RS1 / %T15CL104RS2</td>
     </tr>
     <tr>
      <td class="number">No.105</td>
      <td class="card">%T15CARD105N<br />(%T15CARD105R)</td>
      <td class="rate">%T15CL105TL1 / %T15CL105TL2</td>
      <td class="rate">%T15CL105RM1 / %T15CL105RM2</td>
      <td class="rate">%T15CL105MR1 / %T15CL105MR2</td>
      <td class="rate">%T15CL105SN1 / %T15CL105SN2</td>
      <td class="rate">%T15CL105RS1 / %T15CL105RS2</td>
     </tr>
     <tr>
      <td class="number">No.106</td>
      <td class="card">%T15CARD106N<br />(%T15CARD106R)</td>
      <td class="rate">%T15CL106TL1 / %T15CL106TL2</td>
      <td class="rate">%T15CL106RM1 / %T15CL106RM2</td>
      <td class="rate">%T15CL106MR1 / %T15CL106MR2</td>
      <td class="rate">%T15CL106SN1 / %T15CL106SN2</td>
      <td class="rate">%T15CL106RS1 / %T15CL106RS2</td>
     </tr>
     <tr>
      <td class="number">No.107</td>
      <td class="card">%T15CARD107N<br />(%T15CARD107R)</td>
      <td class="rate">%T15CL107TL1 / %T15CL107TL2</td>
      <td class="rate">%T15CL107RM1 / %T15CL107RM2</td>
      <td class="rate">%T15CL107MR1 / %T15CL107MR2</td>
      <td class="rate">%T15CL107SN1 / %T15CL107SN2</td>
      <td class="rate">%T15CL107RS1 / %T15CL107RS2</td>
     </tr>
     <tr>
      <td class="number">No.108</td>
      <td class="card">%T15CARD108N<br />(%T15CARD108R)</td>
      <td class="rate">%T15CL108TL1 / %T15CL108TL2</td>
      <td class="rate">%T15CL108RM1 / %T15CL108RM2</td>
      <td class="rate">%T15CL108MR1 / %T15CL108MR2</td>
      <td class="rate">%T15CL108SN1 / %T15CL108SN2</td>
      <td class="rate">%T15CL108RS1 / %T15CL108RS2</td>
     </tr>
     <tr>
      <td class="number">No.109</td>
      <td class="card">%T15CARD109N<br />(%T15CARD109R)</td>
      <td class="rate">%T15CL109TL1 / %T15CL109TL2</td>
      <td class="rate">%T15CL109RM1 / %T15CL109RM2</td>
      <td class="rate">%T15CL109MR1 / %T15CL109MR2</td>
      <td class="rate">%T15CL109SN1 / %T15CL109SN2</td>
      <td class="rate">%T15CL109RS1 / %T15CL109RS2</td>
     </tr>
     <tr>
      <td class="number">No.110</td>
      <td class="card">%T15CARD110N<br />(%T15CARD110R)</td>
      <td class="rate">%T15CL110TL1 / %T15CL110TL2</td>
      <td class="rate">%T15CL110RM1 / %T15CL110RM2</td>
      <td class="rate">%T15CL110MR1 / %T15CL110MR2</td>
      <td class="rate">%T15CL110SN1 / %T15CL110SN2</td>
      <td class="rate">%T15CL110RS1 / %T15CL110RS2</td>
     </tr>

     <tr>
      <td class="number">No.111</td>
      <td class="card">%T15CARD111N<br />(%T15CARD111R)</td>
      <td class="rate">%T15CL111TL1 / %T15CL111TL2</td>
      <td class="rate">%T15CL111RM1 / %T15CL111RM2</td>
      <td class="rate">%T15CL111MR1 / %T15CL111MR2</td>
      <td class="rate">%T15CL111SN1 / %T15CL111SN2</td>
      <td class="rate">%T15CL111RS1 / %T15CL111RS2</td>
     </tr>
     <tr>
      <td class="number">No.112</td>
      <td class="card">%T15CARD112N<br />(%T15CARD112R)</td>
      <td class="rate">%T15CL112TL1 / %T15CL112TL2</td>
      <td class="rate">%T15CL112RM1 / %T15CL112RM2</td>
      <td class="rate">%T15CL112MR1 / %T15CL112MR2</td>
      <td class="rate">%T15CL112SN1 / %T15CL112SN2</td>
      <td class="rate">%T15CL112RS1 / %T15CL112RS2</td>
     </tr>
     <tr>
      <td class="number">No.113</td>
      <td class="card">%T15CARD113N<br />(%T15CARD113R)</td>
      <td class="rate">%T15CL113TL1 / %T15CL113TL2</td>
      <td class="rate">%T15CL113RM1 / %T15CL113RM2</td>
      <td class="rate">%T15CL113MR1 / %T15CL113MR2</td>
      <td class="rate">%T15CL113SN1 / %T15CL113SN2</td>
      <td class="rate">%T15CL113RS1 / %T15CL113RS2</td>
     </tr>
     <tr>
      <td class="number">No.114</td>
      <td class="card">%T15CARD114N<br />(%T15CARD114R)</td>
      <td class="rate">%T15CL114TL1 / %T15CL114TL2</td>
      <td class="rate">%T15CL114RM1 / %T15CL114RM2</td>
      <td class="rate">%T15CL114MR1 / %T15CL114MR2</td>
      <td class="rate">%T15CL114SN1 / %T15CL114SN2</td>
      <td class="rate">%T15CL114RS1 / %T15CL114RS2</td>
     </tr>
     <tr>
      <td class="number">No.115</td>
      <td class="card">%T15CARD115N<br />(%T15CARD115R)</td>
      <td class="rate">%T15CL115TL1 / %T15CL115TL2</td>
      <td class="rate">%T15CL115RM1 / %T15CL115RM2</td>
      <td class="rate">%T15CL115MR1 / %T15CL115MR2</td>
      <td class="rate">%T15CL115SN1 / %T15CL115SN2</td>
      <td class="rate">%T15CL115RS1 / %T15CL115RS2</td>
     </tr>
     <tr>
      <td class="number">No.116</td>
      <td class="card">%T15CARD116N<br />(%T15CARD116R)</td>
      <td class="rate">%T15CL116TL1 / %T15CL116TL2</td>
      <td class="rate">%T15CL116RM1 / %T15CL116RM2</td>
      <td class="rate">%T15CL116MR1 / %T15CL116MR2</td>
      <td class="rate">%T15CL116SN1 / %T15CL116SN2</td>
      <td class="rate">%T15CL116RS1 / %T15CL116RS2</td>
     </tr>
     <tr>
      <td class="number">No.117</td>
      <td class="card">%T15CARD117N<br />(%T15CARD117R)</td>
      <td class="rate">%T15CL117TL1 / %T15CL117TL2</td>
      <td class="rate">%T15CL117RM1 / %T15CL117RM2</td>
      <td class="rate">%T15CL117MR1 / %T15CL117MR2</td>
      <td class="rate">%T15CL117SN1 / %T15CL117SN2</td>
      <td class="rate">%T15CL117RS1 / %T15CL117RS2</td>
     </tr>
     <tr>
      <td class="number">No.118</td>
      <td class="card">%T15CARD118N<br />(%T15CARD118R)</td>
      <td class="rate">%T15CL118TL1 / %T15CL118TL2</td>
      <td class="rate">%T15CL118RM1 / %T15CL118RM2</td>
      <td class="rate">%T15CL118MR1 / %T15CL118MR2</td>
      <td class="rate">%T15CL118SN1 / %T15CL118SN2</td>
      <td class="rate">%T15CL118RS1 / %T15CL118RS2</td>
     </tr>
     <tr>
      <td class="number">No.119</td>
      <td class="card">%T15CARD119N<br />(%T15CARD119R)</td>
      <td class="rate">%T15CL119TL1 / %T15CL119TL2</td>
      <td class="rate">%T15CL119RM1 / %T15CL119RM2</td>
      <td class="rate">%T15CL119MR1 / %T15CL119MR2</td>
      <td class="rate">%T15CL119SN1 / %T15CL119SN2</td>
      <td class="rate">%T15CL119RS1 / %T15CL119RS2</td>
     </tr>
    </tbody>
   </table>

   <table class="rate_per_level">
    <caption id="rate_per_level">難易度別スペルカード蒐集率（取得回数 / 挑戦回数 / 総数）</caption>
    <thead>
     <tr>
      <td class="level">難易度</td>
      <td class="character">全主人公合計</td>
      <td class="character">博麗 霊夢</td>
      <td class="character">霧雨 魔理沙</td>
      <td class="character">東風谷 早苗</td>
      <td class="character">鈴仙・優曇華院・イナバ</td>
     </tr>
    </thead>
    <tfoot>
     <tr>
      <td>Total</td>
      <td class="rate">%T15CRGLTTL01 / %T15CRGLTTL02 / 119</td>
      <td class="rate">%T15CRGLTRM01 / %T15CRGLTRM02 / 119</td>
      <td class="rate">%T15CRGLTMR01 / %T15CRGLTMR02 / 119</td>
      <td class="rate">%T15CRGLTSN01 / %T15CRGLTSN02 / 119</td>
      <td class="rate">%T15CRGLTRS01 / %T15CRGLTRS02 / 119</td>
     </tr>
    </tfoot>
    <tbody>
     <tr>
      <td class="level">Easy</td>
      <td class="rate">%T15CRGLETL01 / %T15CRGLETL02 / 26</td>
      <td class="rate">%T15CRGLERM01 / %T15CRGLERM02 / 26</td>
      <td class="rate">%T15CRGLEMR01 / %T15CRGLEMR02 / 26</td>
      <td class="rate">%T15CRGLESN01 / %T15CRGLESN02 / 26</td>
      <td class="rate">%T15CRGLERS01 / %T15CRGLERS02 / 26</td>
     </tr>
     <tr>
      <td class="level">Normal</td>
      <td class="rate">%T15CRGLNTL01 / %T15CRGLNTL02 / 26</td>
      <td class="rate">%T15CRGLNRM01 / %T15CRGLNRM02 / 26</td>
      <td class="rate">%T15CRGLNMR01 / %T15CRGLNMR02 / 26</td>
      <td class="rate">%T15CRGLNSN01 / %T15CRGLNSN02 / 26</td>
      <td class="rate">%T15CRGLNRS01 / %T15CRGLNRS02 / 26</td>
     </tr>
     <tr>
      <td class="level">Hard</td>
      <td class="rate">%T15CRGLHTL01 / %T15CRGLHTL02 / 27</td>
      <td class="rate">%T15CRGLHRM01 / %T15CRGLHRM02 / 27</td>
      <td class="rate">%T15CRGLHMR01 / %T15CRGLHMR02 / 27</td>
      <td class="rate">%T15CRGLHSN01 / %T15CRGLHSN02 / 27</td>
      <td class="rate">%T15CRGLHRS01 / %T15CRGLHRS02 / 27</td>
     </tr>
     <tr>
      <td class="level">Lunatic</td>
      <td class="rate">%T15CRGLLTL01 / %T15CRGLLTL02 / 27</td>
      <td class="rate">%T15CRGLLRM01 / %T15CRGLLRM02 / 27</td>
      <td class="rate">%T15CRGLLMR01 / %T15CRGLLMR02 / 27</td>
      <td class="rate">%T15CRGLLSN01 / %T15CRGLLSN02 / 27</td>
      <td class="rate">%T15CRGLLRS01 / %T15CRGLLRS02 / 27</td>
     </tr>
     <tr>
      <td class="level">Extra</td>
      <td class="rate">%T15CRGLXTL01 / %T15CRGLXTL02 / 13</td>
      <td class="rate">%T15CRGLXRM01 / %T15CRGLXRM02 / 13</td>
      <td class="rate">%T15CRGLXMR01 / %T15CRGLXMR02 / 13</td>
      <td class="rate">%T15CRGLXSN01 / %T15CRGLXSN02 / 13</td>
      <td class="rate">%T15CRGLXRS01 / %T15CRGLXRS02 / 13</td>
     </tr>
    </tbody>
   </table>

   <table class="rate_per_stage">
    <caption id="rate_per_stage">ステージ別スペルカード蒐集率（取得回数 / 挑戦回数 / 総数）</caption>
    <thead>
     <tr>
      <td class="stage">ステージ</td>
      <td class="character">全主人公合計</td>
      <td class="character">博麗 霊夢</td>
      <td class="character">霧雨 魔理沙</td>
      <td class="character">東風谷 早苗</td>
      <td class="character">鈴仙・優曇華院・イナバ</td>
     </tr>
    </thead>
    <tfoot>
     <tr>
      <td>Total</td>
      <td class="rate">%T15CRGLTTL01 / %T15CRGLTTL02 / 119</td>
      <td class="rate">%T15CRGLTRM01 / %T15CRGLTRM02 / 119</td>
      <td class="rate">%T15CRGLTMR01 / %T15CRGLTMR02 / 119</td>
      <td class="rate">%T15CRGLTSN01 / %T15CRGLTSN02 / 119</td>
      <td class="rate">%T15CRGLTRS01 / %T15CRGLTRS02 / 119</td>
     </tr>
    </tfoot>
    <tbody>
     <tr>
      <td class="stage">Stage1</td>
      <td class="rate">%T15CRGLTTL11 / %T15CRGLTTL12 / 10</td>
      <td class="rate">%T15CRGLTRM11 / %T15CRGLTRM12 / 10</td>
      <td class="rate">%T15CRGLTMR11 / %T15CRGLTMR12 / 10</td>
      <td class="rate">%T15CRGLTSN11 / %T15CRGLTSN12 / 10</td>
      <td class="rate">%T15CRGLTRS11 / %T15CRGLTRS12 / 10</td>
     </tr>
     <tr>
      <td class="stage">Stage2</td>
      <td class="rate">%T15CRGLTTL21 / %T15CRGLTTL22 / 12</td>
      <td class="rate">%T15CRGLTRM21 / %T15CRGLTRM22 / 12</td>
      <td class="rate">%T15CRGLTMR21 / %T15CRGLTMR22 / 12</td>
      <td class="rate">%T15CRGLTSN21 / %T15CRGLTSN22 / 12</td>
      <td class="rate">%T15CRGLTRS21 / %T15CRGLTRS22 / 12</td>
     </tr>
     <tr>
      <td class="stage">Stage3</td>
      <td class="rate">%T15CRGLTTL31 / %T15CRGLTTL32 / 20</td>
      <td class="rate">%T15CRGLTRM31 / %T15CRGLTRM32 / 20</td>
      <td class="rate">%T15CRGLTMR31 / %T15CRGLTMR32 / 20</td>
      <td class="rate">%T15CRGLTSN31 / %T15CRGLTSN32 / 20</td>
      <td class="rate">%T15CRGLTRS31 / %T15CRGLTRS32 / 20</td>
     </tr>
     <tr>
      <td class="stage">Stage4</td>
      <td class="rate">%T15CRGLTTL41 / %T15CRGLTTL42 / 16</td>
      <td class="rate">%T15CRGLTRM41 / %T15CRGLTRM42 / 16</td>
      <td class="rate">%T15CRGLTMR41 / %T15CRGLTMR42 / 16</td>
      <td class="rate">%T15CRGLTSN41 / %T15CRGLTSN42 / 16</td>
      <td class="rate">%T15CRGLTRS41 / %T15CRGLTRS42 / 16</td>
     </tr>
     <tr>
      <td class="stage">Stage5</td>
      <td class="rate">%T15CRGLTTL51 / %T15CRGLTTL52 / 20</td>
      <td class="rate">%T15CRGLTRM51 / %T15CRGLTRM52 / 20</td>
      <td class="rate">%T15CRGLTMR51 / %T15CRGLTMR52 / 20</td>
      <td class="rate">%T15CRGLTSN51 / %T15CRGLTSN52 / 20</td>
      <td class="rate">%T15CRGLTRS51 / %T15CRGLTRS52 / 20</td>
     </tr>
     <tr>
      <td class="stage">Stage6</td>
      <td class="rate">%T15CRGLTTL61 / %T15CRGLTTL62 / 28</td>
      <td class="rate">%T15CRGLTRM61 / %T15CRGLTRM62 / 28</td>
      <td class="rate">%T15CRGLTMR61 / %T15CRGLTMR62 / 28</td>
      <td class="rate">%T15CRGLTSN61 / %T15CRGLTSN62 / 28</td>
      <td class="rate">%T15CRGLTRS61 / %T15CRGLTRS62 / 28</td>
     </tr>
     <tr>
      <td class="stage">Extra</td>
      <td class="rate">%T15CRGLXTL01 / %T15CRGLXTL02 / 13</td>
      <td class="rate">%T15CRGLXRM01 / %T15CRGLXRM02 / 13</td>
      <td class="rate">%T15CRGLXMR01 / %T15CRGLXMR02 / 13</td>
      <td class="rate">%T15CRGLXSN01 / %T15CRGLXSN02 / 13</td>
      <td class="rate">%T15CRGLXRS01 / %T15CRGLXRS02 / 13</td>
     </tr>
    </tbody>
   </table>

  </div>

  <hr />

  <div class="section">
   <p>
    Data output by <a href="https://www.colorless-sight.jp/thsfc/">ThScoreFileConverter</a>.
<script type="text/javascript">
<!--
    document.write("Last updated: ", document.lastModified, ".");
//-->
</script>
   </p>
  </div>

 </body>
</html>
