<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja">

 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="Content-Stype-Type" content="text/css" />
  <meta http-equiv="Content-Script-Type" content="text/javascript" />
  <title>東方紺珠伝スコアデータ</title>
  <link rel="stylesheet" type="text/css" href="style.css" />
  <link rel="stylesheet" type="text/css" href="th15.css" />
<style type="text/css">
<!--
    table.practice { float: left; }
-->
</style>
 </head>

 <body>
  <h1>東方紺珠伝スコアデータ</h1>

  <hr />

  <div class="section">
   <p>
    <a href="th15score1.html">スコアデータ全般</a> /
    <a href="th15score2.html">個別ランキング</a> /
    プラクティス /
    <a href="th15card1.html">御札戦歴（完全無欠モード）</a> /
    <a href="th15card2.html">御札戦歴（レガシーモード）</a><br />
    <a href="#Easy">Easy</a>
    <a href="#Normal">Normal</a>
    <a href="#Hard">Hard</a>
    <a href="#Lunatic">Lunatic</a>
   </p>
  </div>

  <hr />

  <div class="section">
   <h2 id="Easy">Easy</h2>

   <table class="practice">
    <caption>博麗 霊夢</caption>
    <thead>
     <tr>
      <td class="stage">Stage</td>
      <td class="score">Score</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="stage">Stage 1</td>
      <td class="score">%T15PRACERM1</td>
     </tr>
     <tr>
      <td class="stage">Stage 2</td>
      <td class="score">%T15PRACERM2</td>
     </tr>
     <tr>
      <td class="stage">Stage 3</td>
      <td class="score">%T15PRACERM3</td>
     </tr>
     <tr>
      <td class="stage">Stage 4</td>
      <td class="score">%T15PRACERM4</td>
     </tr>
     <tr>
      <td class="stage">Stage 5</td>
      <td class="score">%T15PRACERM5</td>
     </tr>
     <tr>
      <td class="stage">Stage 6</td>
      <td class="score">%T15PRACERM6</td>
     </tr>
    </tbody>
   </table>

   <table class="practice">
    <caption>霧雨 魔理沙</caption>
    <thead>
     <tr>
      <td class="stage">Stage</td>
      <td class="score">Score</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="stage">Stage 1</td>
      <td class="score">%T15PRACEMR1</td>
     </tr>
     <tr>
      <td class="stage">Stage 2</td>
      <td class="score">%T15PRACEMR2</td>
     </tr>
     <tr>
      <td class="stage">Stage 3</td>
      <td class="score">%T15PRACEMR3</td>
     </tr>
     <tr>
      <td class="stage">Stage 4</td>
      <td class="score">%T15PRACEMR4</td>
     </tr>
     <tr>
      <td class="stage">Stage 5</td>
      <td class="score">%T15PRACEMR5</td>
     </tr>
     <tr>
      <td class="stage">Stage 6</td>
      <td class="score">%T15PRACEMR6</td>
     </tr>
    </tbody>
   </table>

   <table class="practice">
    <caption>東風谷 早苗</caption>
    <thead>
     <tr>
      <td class="stage">Stage</td>
      <td class="score">Score</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="stage">Stage 1</td>
      <td class="score">%T15PRACESN1</td>
     </tr>
     <tr>
      <td class="stage">Stage 2</td>
      <td class="score">%T15PRACESN2</td>
     </tr>
     <tr>
      <td class="stage">Stage 3</td>
      <td class="score">%T15PRACESN3</td>
     </tr>
     <tr>
      <td class="stage">Stage 4</td>
      <td class="score">%T15PRACESN4</td>
     </tr>
     <tr>
      <td class="stage">Stage 5</td>
      <td class="score">%T15PRACESN5</td>
     </tr>
     <tr>
      <td class="stage">Stage 6</td>
      <td class="score">%T15PRACESN6</td>
     </tr>
    </tbody>
   </table>

   <table class="practice">
    <caption>鈴仙・優曇華院・イナバ</caption>
    <thead>
     <tr>
      <td class="stage">Stage</td>
      <td class="score">Score</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="stage">Stage 1</td>
      <td class="score">%T15PRACERS1</td>
     </tr>
     <tr>
      <td class="stage">Stage 2</td>
      <td class="score">%T15PRACERS2</td>
     </tr>
     <tr>
      <td class="stage">Stage 3</td>
      <td class="score">%T15PRACERS3</td>
     </tr>
     <tr>
      <td class="stage">Stage 4</td>
      <td class="score">%T15PRACERS4</td>
     </tr>
     <tr>
      <td class="stage">Stage 5</td>
      <td class="score">%T15PRACERS5</td>
     </tr>
     <tr>
      <td class="stage">Stage 6</td>
      <td class="score">%T15PRACERS6</td>
     </tr>
    </tbody>
   </table>
  </div>

  <hr />

  <div class="section">
   <h2 id="Normal">Normal</h2>

   <table class="practice">
    <caption>博麗 霊夢</caption>
    <thead>
     <tr>
      <td class="stage">Stage</td>
      <td class="score">Score</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="stage">Stage 1</td>
      <td class="score">%T15PRACNRM1</td>
     </tr>
     <tr>
      <td class="stage">Stage 2</td>
      <td class="score">%T15PRACNRM2</td>
     </tr>
     <tr>
      <td class="stage">Stage 3</td>
      <td class="score">%T15PRACNRM3</td>
     </tr>
     <tr>
      <td class="stage">Stage 4</td>
      <td class="score">%T15PRACNRM4</td>
     </tr>
     <tr>
      <td class="stage">Stage 5</td>
      <td class="score">%T15PRACNRM5</td>
     </tr>
     <tr>
      <td class="stage">Stage 6</td>
      <td class="score">%T15PRACNRM6</td>
     </tr>
    </tbody>
   </table>

   <table class="practice">
    <caption>霧雨 魔理沙</caption>
    <thead>
     <tr>
      <td class="stage">Stage</td>
      <td class="score">Score</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="stage">Stage 1</td>
      <td class="score">%T15PRACNMR1</td>
     </tr>
     <tr>
      <td class="stage">Stage 2</td>
      <td class="score">%T15PRACNMR2</td>
     </tr>
     <tr>
      <td class="stage">Stage 3</td>
      <td class="score">%T15PRACNMR3</td>
     </tr>
     <tr>
      <td class="stage">Stage 4</td>
      <td class="score">%T15PRACNMR4</td>
     </tr>
     <tr>
      <td class="stage">Stage 5</td>
      <td class="score">%T15PRACNMR5</td>
     </tr>
     <tr>
      <td class="stage">Stage 6</td>
      <td class="score">%T15PRACNMR6</td>
     </tr>
    </tbody>
   </table>

   <table class="practice">
    <caption>東風谷 早苗</caption>
    <thead>
     <tr>
      <td class="stage">Stage</td>
      <td class="score">Score</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="stage">Stage 1</td>
      <td class="score">%T15PRACNSN1</td>
     </tr>
     <tr>
      <td class="stage">Stage 2</td>
      <td class="score">%T15PRACNSN2</td>
     </tr>
     <tr>
      <td class="stage">Stage 3</td>
      <td class="score">%T15PRACNSN3</td>
     </tr>
     <tr>
      <td class="stage">Stage 4</td>
      <td class="score">%T15PRACNSN4</td>
     </tr>
     <tr>
      <td class="stage">Stage 5</td>
      <td class="score">%T15PRACNSN5</td>
     </tr>
     <tr>
      <td class="stage">Stage 6</td>
      <td class="score">%T15PRACNSN6</td>
     </tr>
    </tbody>
   </table>

   <table class="practice">
    <caption>鈴仙・優曇華院・イナバ</caption>
    <thead>
     <tr>
      <td class="stage">Stage</td>
      <td class="score">Score</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="stage">Stage 1</td>
      <td class="score">%T15PRACNRS1</td>
     </tr>
     <tr>
      <td class="stage">Stage 2</td>
      <td class="score">%T15PRACNRS2</td>
     </tr>
     <tr>
      <td class="stage">Stage 3</td>
      <td class="score">%T15PRACNRS3</td>
     </tr>
     <tr>
      <td class="stage">Stage 4</td>
      <td class="score">%T15PRACNRS4</td>
     </tr>
     <tr>
      <td class="stage">Stage 5</td>
      <td class="score">%T15PRACNRS5</td>
     </tr>
     <tr>
      <td class="stage">Stage 6</td>
      <td class="score">%T15PRACNRS6</td>
     </tr>
    </tbody>
   </table>
  </div>

  <hr />

  <div class="section">
   <h2 id="Hard">Hard</h2>

   <table class="practice">
    <caption>博麗 霊夢</caption>
    <thead>
     <tr>
      <td class="stage">Stage</td>
      <td class="score">Score</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="stage">Stage 1</td>
      <td class="score">%T15PRACHRM1</td>
     </tr>
     <tr>
      <td class="stage">Stage 2</td>
      <td class="score">%T15PRACHRM2</td>
     </tr>
     <tr>
      <td class="stage">Stage 3</td>
      <td class="score">%T15PRACHRM3</td>
     </tr>
     <tr>
      <td class="stage">Stage 4</td>
      <td class="score">%T15PRACHRM4</td>
     </tr>
     <tr>
      <td class="stage">Stage 5</td>
      <td class="score">%T15PRACHRM5</td>
     </tr>
     <tr>
      <td class="stage">Stage 6</td>
      <td class="score">%T15PRACHRM6</td>
     </tr>
    </tbody>
   </table>

   <table class="practice">
    <caption>霧雨 魔理沙</caption>
    <thead>
     <tr>
      <td class="stage">Stage</td>
      <td class="score">Score</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="stage">Stage 1</td>
      <td class="score">%T15PRACHMR1</td>
     </tr>
     <tr>
      <td class="stage">Stage 2</td>
      <td class="score">%T15PRACHMR2</td>
     </tr>
     <tr>
      <td class="stage">Stage 3</td>
      <td class="score">%T15PRACHMR3</td>
     </tr>
     <tr>
      <td class="stage">Stage 4</td>
      <td class="score">%T15PRACHMR4</td>
     </tr>
     <tr>
      <td class="stage">Stage 5</td>
      <td class="score">%T15PRACHMR5</td>
     </tr>
     <tr>
      <td class="stage">Stage 6</td>
      <td class="score">%T15PRACHMR6</td>
     </tr>
    </tbody>
   </table>

   <table class="practice">
    <caption>東風谷 早苗</caption>
    <thead>
     <tr>
      <td class="stage">Stage</td>
      <td class="score">Score</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="stage">Stage 1</td>
      <td class="score">%T15PRACHSN1</td>
     </tr>
     <tr>
      <td class="stage">Stage 2</td>
      <td class="score">%T15PRACHSN2</td>
     </tr>
     <tr>
      <td class="stage">Stage 3</td>
      <td class="score">%T15PRACHSN3</td>
     </tr>
     <tr>
      <td class="stage">Stage 4</td>
      <td class="score">%T15PRACHSN4</td>
     </tr>
     <tr>
      <td class="stage">Stage 5</td>
      <td class="score">%T15PRACHSN5</td>
     </tr>
     <tr>
      <td class="stage">Stage 6</td>
      <td class="score">%T15PRACHSN6</td>
     </tr>
    </tbody>
   </table>

   <table class="practice">
    <caption>鈴仙・優曇華院・イナバ</caption>
    <thead>
     <tr>
      <td class="stage">Stage</td>
      <td class="score">Score</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="stage">Stage 1</td>
      <td class="score">%T15PRACHRS1</td>
     </tr>
     <tr>
      <td class="stage">Stage 2</td>
      <td class="score">%T15PRACHRS2</td>
     </tr>
     <tr>
      <td class="stage">Stage 3</td>
      <td class="score">%T15PRACHRS3</td>
     </tr>
     <tr>
      <td class="stage">Stage 4</td>
      <td class="score">%T15PRACHRS4</td>
     </tr>
     <tr>
      <td class="stage">Stage 5</td>
      <td class="score">%T15PRACHRS5</td>
     </tr>
     <tr>
      <td class="stage">Stage 6</td>
      <td class="score">%T15PRACHRS6</td>
     </tr>
    </tbody>
   </table>
  </div>

  <hr />

  <div class="section">
   <h2 id="Lunatic">Lunatic</h2>

   <table class="practice">
    <caption>博麗 霊夢</caption>
    <thead>
     <tr>
      <td class="stage">Stage</td>
      <td class="score">Score</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="stage">Stage 1</td>
      <td class="score">%T15PRACLRM1</td>
     </tr>
     <tr>
      <td class="stage">Stage 2</td>
      <td class="score">%T15PRACLRM2</td>
     </tr>
     <tr>
      <td class="stage">Stage 3</td>
      <td class="score">%T15PRACLRM3</td>
     </tr>
     <tr>
      <td class="stage">Stage 4</td>
      <td class="score">%T15PRACLRM4</td>
     </tr>
     <tr>
      <td class="stage">Stage 5</td>
      <td class="score">%T15PRACLRM5</td>
     </tr>
     <tr>
      <td class="stage">Stage 6</td>
      <td class="score">%T15PRACLRM6</td>
     </tr>
    </tbody>
   </table>

   <table class="practice">
    <caption>霧雨 魔理沙</caption>
    <thead>
     <tr>
      <td class="stage">Stage</td>
      <td class="score">Score</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="stage">Stage 1</td>
      <td class="score">%T15PRACLMR1</td>
     </tr>
     <tr>
      <td class="stage">Stage 2</td>
      <td class="score">%T15PRACLMR2</td>
     </tr>
     <tr>
      <td class="stage">Stage 3</td>
      <td class="score">%T15PRACLMR3</td>
     </tr>
     <tr>
      <td class="stage">Stage 4</td>
      <td class="score">%T15PRACLMR4</td>
     </tr>
     <tr>
      <td class="stage">Stage 5</td>
      <td class="score">%T15PRACLMR5</td>
     </tr>
     <tr>
      <td class="stage">Stage 6</td>
      <td class="score">%T15PRACLMR6</td>
     </tr>
    </tbody>
   </table>

   <table class="practice">
    <caption>東風谷 早苗</caption>
    <thead>
     <tr>
      <td class="stage">Stage</td>
      <td class="score">Score</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="stage">Stage 1</td>
      <td class="score">%T15PRACLSN1</td>
     </tr>
     <tr>
      <td class="stage">Stage 2</td>
      <td class="score">%T15PRACLSN2</td>
     </tr>
     <tr>
      <td class="stage">Stage 3</td>
      <td class="score">%T15PRACLSN3</td>
     </tr>
     <tr>
      <td class="stage">Stage 4</td>
      <td class="score">%T15PRACLSN4</td>
     </tr>
     <tr>
      <td class="stage">Stage 5</td>
      <td class="score">%T15PRACLSN5</td>
     </tr>
     <tr>
      <td class="stage">Stage 6</td>
      <td class="score">%T15PRACLSN6</td>
     </tr>
    </tbody>
   </table>

   <table class="practice">
    <caption>鈴仙・優曇華院・イナバ</caption>
    <thead>
     <tr>
      <td class="stage">Stage</td>
      <td class="score">Score</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="stage">Stage 1</td>
      <td class="score">%T15PRACLRS1</td>
     </tr>
     <tr>
      <td class="stage">Stage 2</td>
      <td class="score">%T15PRACLRS2</td>
     </tr>
     <tr>
      <td class="stage">Stage 3</td>
      <td class="score">%T15PRACLRS3</td>
     </tr>
     <tr>
      <td class="stage">Stage 4</td>
      <td class="score">%T15PRACLRS4</td>
     </tr>
     <tr>
      <td class="stage">Stage 5</td>
      <td class="score">%T15PRACLRS5</td>
     </tr>
     <tr>
      <td class="stage">Stage 6</td>
      <td class="score">%T15PRACLRS6</td>
     </tr>
    </tbody>
   </table>
  </div>

  <hr />

  <div class="section">
   <p>
    Data output by <a href="https://www.colorless-sight.jp/thsfc/">ThScoreFileConverter</a>.
<script type="text/javascript">
<!--
    document.write("Last updated: ", document.lastModified, ".");
//-->
</script>
   </p>
  </div>

 </body>
</html>
