<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja">

 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="Content-Stype-Type" content="text/css" />
  <meta http-equiv="Content-Script-Type" content="text/javascript" />
  <title>東方天空璋スコアデータ</title>
  <link rel="stylesheet" type="text/css" href="style.css" />
<style type="text/css">
<!--
    td.score { min-width: 70px; }
    td.stage { min-width: 70px; }
    table.practice { float: left; }
-->
</style>
 </head>

 <body>
  <h1>東方天空璋スコアデータ</h1>

  <hr />

  <div class="section">
   <p>
    <a href="th16score1.html">スコアデータ全般</a> /
    <a href="th16score2.html">個別ランキング</a> /
    プラクティス /
    <a href="th16card1.html">御札戦歴（ゲーム本編）</a> /
    <a href="th16card2.html">御札戦歴（スペルプラクティス）</a><br />
    <a href="#Easy">Easy</a>
    <a href="#Normal">Normal</a>
    <a href="#Hard">Hard</a>
    <a href="#Lunatic">Lunatic</a>
   </p>
  </div>

  <hr />

  <div class="section">
   <h2 id="Easy">Easy</h2>

   <table class="practice">
    <caption>博麗 霊夢</caption>
    <thead>
     <tr>
      <td class="stage">Stage</td>
      <td class="score">Score</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="stage">Stage 1</td>
      <td class="score">%T16PRACERM1</td>
     </tr>
     <tr>
      <td class="stage">Stage 2</td>
      <td class="score">%T16PRACERM2</td>
     </tr>
     <tr>
      <td class="stage">Stage 3</td>
      <td class="score">%T16PRACERM3</td>
     </tr>
     <tr>
      <td class="stage">Stage 4</td>
      <td class="score">%T16PRACERM4</td>
     </tr>
     <tr>
      <td class="stage">Stage 5</td>
      <td class="score">%T16PRACERM5</td>
     </tr>
     <tr>
      <td class="stage">Stage 6</td>
      <td class="score">%T16PRACERM6</td>
     </tr>
    </tbody>
   </table>

   <table class="practice">
    <caption>日焼けしたチルノ</caption>
    <thead>
     <tr>
      <td class="stage">Stage</td>
      <td class="score">Score</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="stage">Stage 1</td>
      <td class="score">%T16PRACECI1</td>
     </tr>
     <tr>
      <td class="stage">Stage 2</td>
      <td class="score">%T16PRACECI2</td>
     </tr>
     <tr>
      <td class="stage">Stage 3</td>
      <td class="score">%T16PRACECI3</td>
     </tr>
     <tr>
      <td class="stage">Stage 4</td>
      <td class="score">%T16PRACECI4</td>
     </tr>
     <tr>
      <td class="stage">Stage 5</td>
      <td class="score">%T16PRACECI5</td>
     </tr>
     <tr>
      <td class="stage">Stage 6</td>
      <td class="score">%T16PRACECI6</td>
     </tr>
    </tbody>
   </table>

   <table class="practice">
    <caption>射命丸 文</caption>
    <thead>
     <tr>
      <td class="stage">Stage</td>
      <td class="score">Score</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="stage">Stage 1</td>
      <td class="score">%T16PRACEAY1</td>
     </tr>
     <tr>
      <td class="stage">Stage 2</td>
      <td class="score">%T16PRACEAY2</td>
     </tr>
     <tr>
      <td class="stage">Stage 3</td>
      <td class="score">%T16PRACEAY3</td>
     </tr>
     <tr>
      <td class="stage">Stage 4</td>
      <td class="score">%T16PRACEAY4</td>
     </tr>
     <tr>
      <td class="stage">Stage 5</td>
      <td class="score">%T16PRACEAY5</td>
     </tr>
     <tr>
      <td class="stage">Stage 6</td>
      <td class="score">%T16PRACEAY6</td>
     </tr>
    </tbody>
   </table>

   <table class="practice">
    <caption>霧雨 魔理沙</caption>
    <thead>
     <tr>
      <td class="stage">Stage</td>
      <td class="score">Score</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="stage">Stage 1</td>
      <td class="score">%T16PRACEMR1</td>
     </tr>
     <tr>
      <td class="stage">Stage 2</td>
      <td class="score">%T16PRACEMR2</td>
     </tr>
     <tr>
      <td class="stage">Stage 3</td>
      <td class="score">%T16PRACEMR3</td>
     </tr>
     <tr>
      <td class="stage">Stage 4</td>
      <td class="score">%T16PRACEMR4</td>
     </tr>
     <tr>
      <td class="stage">Stage 5</td>
      <td class="score">%T16PRACEMR5</td>
     </tr>
     <tr>
      <td class="stage">Stage 6</td>
      <td class="score">%T16PRACEMR6</td>
     </tr>
    </tbody>
   </table>
  </div>

  <hr />

  <div class="section">
   <h2 id="Normal">Normal</h2>

   <table class="practice">
    <caption>博麗 霊夢</caption>
    <thead>
     <tr>
      <td class="stage">Stage</td>
      <td class="score">Score</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="stage">Stage 1</td>
      <td class="score">%T16PRACNRM1</td>
     </tr>
     <tr>
      <td class="stage">Stage 2</td>
      <td class="score">%T16PRACNRM2</td>
     </tr>
     <tr>
      <td class="stage">Stage 3</td>
      <td class="score">%T16PRACNRM3</td>
     </tr>
     <tr>
      <td class="stage">Stage 4</td>
      <td class="score">%T16PRACNRM4</td>
     </tr>
     <tr>
      <td class="stage">Stage 5</td>
      <td class="score">%T16PRACNRM5</td>
     </tr>
     <tr>
      <td class="stage">Stage 6</td>
      <td class="score">%T16PRACNRM6</td>
     </tr>
    </tbody>
   </table>

   <table class="practice">
    <caption>日焼けしたチルノ</caption>
    <thead>
     <tr>
      <td class="stage">Stage</td>
      <td class="score">Score</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="stage">Stage 1</td>
      <td class="score">%T16PRACNCI1</td>
     </tr>
     <tr>
      <td class="stage">Stage 2</td>
      <td class="score">%T16PRACNCI2</td>
     </tr>
     <tr>
      <td class="stage">Stage 3</td>
      <td class="score">%T16PRACNCI3</td>
     </tr>
     <tr>
      <td class="stage">Stage 4</td>
      <td class="score">%T16PRACNCI4</td>
     </tr>
     <tr>
      <td class="stage">Stage 5</td>
      <td class="score">%T16PRACNCI5</td>
     </tr>
     <tr>
      <td class="stage">Stage 6</td>
      <td class="score">%T16PRACNCI6</td>
     </tr>
    </tbody>
   </table>

   <table class="practice">
    <caption>射命丸 文</caption>
    <thead>
     <tr>
      <td class="stage">Stage</td>
      <td class="score">Score</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="stage">Stage 1</td>
      <td class="score">%T16PRACNAY1</td>
     </tr>
     <tr>
      <td class="stage">Stage 2</td>
      <td class="score">%T16PRACNAY2</td>
     </tr>
     <tr>
      <td class="stage">Stage 3</td>
      <td class="score">%T16PRACNAY3</td>
     </tr>
     <tr>
      <td class="stage">Stage 4</td>
      <td class="score">%T16PRACNAY4</td>
     </tr>
     <tr>
      <td class="stage">Stage 5</td>
      <td class="score">%T16PRACNAY5</td>
     </tr>
     <tr>
      <td class="stage">Stage 6</td>
      <td class="score">%T16PRACNAY6</td>
     </tr>
    </tbody>
   </table>

   <table class="practice">
    <caption>霧雨 魔理沙</caption>
    <thead>
     <tr>
      <td class="stage">Stage</td>
      <td class="score">Score</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="stage">Stage 1</td>
      <td class="score">%T16PRACNMR1</td>
     </tr>
     <tr>
      <td class="stage">Stage 2</td>
      <td class="score">%T16PRACNMR2</td>
     </tr>
     <tr>
      <td class="stage">Stage 3</td>
      <td class="score">%T16PRACNMR3</td>
     </tr>
     <tr>
      <td class="stage">Stage 4</td>
      <td class="score">%T16PRACNMR4</td>
     </tr>
     <tr>
      <td class="stage">Stage 5</td>
      <td class="score">%T16PRACNMR5</td>
     </tr>
     <tr>
      <td class="stage">Stage 6</td>
      <td class="score">%T16PRACNMR6</td>
     </tr>
    </tbody>
   </table>
  </div>

  <hr />

  <div class="section">
   <h2 id="Hard">Hard</h2>

   <table class="practice">
    <caption>博麗 霊夢</caption>
    <thead>
     <tr>
      <td class="stage">Stage</td>
      <td class="score">Score</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="stage">Stage 1</td>
      <td class="score">%T16PRACHRM1</td>
     </tr>
     <tr>
      <td class="stage">Stage 2</td>
      <td class="score">%T16PRACHRM2</td>
     </tr>
     <tr>
      <td class="stage">Stage 3</td>
      <td class="score">%T16PRACHRM3</td>
     </tr>
     <tr>
      <td class="stage">Stage 4</td>
      <td class="score">%T16PRACHRM4</td>
     </tr>
     <tr>
      <td class="stage">Stage 5</td>
      <td class="score">%T16PRACHRM5</td>
     </tr>
     <tr>
      <td class="stage">Stage 6</td>
      <td class="score">%T16PRACHRM6</td>
     </tr>
    </tbody>
   </table>

   <table class="practice">
    <caption>日焼けしたチルノ</caption>
    <thead>
     <tr>
      <td class="stage">Stage</td>
      <td class="score">Score</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="stage">Stage 1</td>
      <td class="score">%T16PRACHCI1</td>
     </tr>
     <tr>
      <td class="stage">Stage 2</td>
      <td class="score">%T16PRACHCI2</td>
     </tr>
     <tr>
      <td class="stage">Stage 3</td>
      <td class="score">%T16PRACHCI3</td>
     </tr>
     <tr>
      <td class="stage">Stage 4</td>
      <td class="score">%T16PRACHCI4</td>
     </tr>
     <tr>
      <td class="stage">Stage 5</td>
      <td class="score">%T16PRACHCI5</td>
     </tr>
     <tr>
      <td class="stage">Stage 6</td>
      <td class="score">%T16PRACHCI6</td>
     </tr>
    </tbody>
   </table>

   <table class="practice">
    <caption>射命丸 文</caption>
    <thead>
     <tr>
      <td class="stage">Stage</td>
      <td class="score">Score</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="stage">Stage 1</td>
      <td class="score">%T16PRACHAY1</td>
     </tr>
     <tr>
      <td class="stage">Stage 2</td>
      <td class="score">%T16PRACHAY2</td>
     </tr>
     <tr>
      <td class="stage">Stage 3</td>
      <td class="score">%T16PRACHAY3</td>
     </tr>
     <tr>
      <td class="stage">Stage 4</td>
      <td class="score">%T16PRACHAY4</td>
     </tr>
     <tr>
      <td class="stage">Stage 5</td>
      <td class="score">%T16PRACHAY5</td>
     </tr>
     <tr>
      <td class="stage">Stage 6</td>
      <td class="score">%T16PRACHAY6</td>
     </tr>
    </tbody>
   </table>

   <table class="practice">
    <caption>霧雨 魔理沙</caption>
    <thead>
     <tr>
      <td class="stage">Stage</td>
      <td class="score">Score</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="stage">Stage 1</td>
      <td class="score">%T16PRACHMR1</td>
     </tr>
     <tr>
      <td class="stage">Stage 2</td>
      <td class="score">%T16PRACHMR2</td>
     </tr>
     <tr>
      <td class="stage">Stage 3</td>
      <td class="score">%T16PRACHMR3</td>
     </tr>
     <tr>
      <td class="stage">Stage 4</td>
      <td class="score">%T16PRACHMR4</td>
     </tr>
     <tr>
      <td class="stage">Stage 5</td>
      <td class="score">%T16PRACHMR5</td>
     </tr>
     <tr>
      <td class="stage">Stage 6</td>
      <td class="score">%T16PRACHMR6</td>
     </tr>
    </tbody>
   </table>
  </div>

  <hr />

  <div class="section">
   <h2 id="Lunatic">Lunatic</h2>

   <table class="practice">
    <caption>博麗 霊夢</caption>
    <thead>
     <tr>
      <td class="stage">Stage</td>
      <td class="score">Score</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="stage">Stage 1</td>
      <td class="score">%T16PRACLRM1</td>
     </tr>
     <tr>
      <td class="stage">Stage 2</td>
      <td class="score">%T16PRACLRM2</td>
     </tr>
     <tr>
      <td class="stage">Stage 3</td>
      <td class="score">%T16PRACLRM3</td>
     </tr>
     <tr>
      <td class="stage">Stage 4</td>
      <td class="score">%T16PRACLRM4</td>
     </tr>
     <tr>
      <td class="stage">Stage 5</td>
      <td class="score">%T16PRACLRM5</td>
     </tr>
     <tr>
      <td class="stage">Stage 6</td>
      <td class="score">%T16PRACLRM6</td>
     </tr>
    </tbody>
   </table>

   <table class="practice">
    <caption>日焼けしたチルノ</caption>
    <thead>
     <tr>
      <td class="stage">Stage</td>
      <td class="score">Score</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="stage">Stage 1</td>
      <td class="score">%T16PRACLCI1</td>
     </tr>
     <tr>
      <td class="stage">Stage 2</td>
      <td class="score">%T16PRACLCI2</td>
     </tr>
     <tr>
      <td class="stage">Stage 3</td>
      <td class="score">%T16PRACLCI3</td>
     </tr>
     <tr>
      <td class="stage">Stage 4</td>
      <td class="score">%T16PRACLCI4</td>
     </tr>
     <tr>
      <td class="stage">Stage 5</td>
      <td class="score">%T16PRACLCI5</td>
     </tr>
     <tr>
      <td class="stage">Stage 6</td>
      <td class="score">%T16PRACLCI6</td>
     </tr>
    </tbody>
   </table>

   <table class="practice">
    <caption>射命丸 文</caption>
    <thead>
     <tr>
      <td class="stage">Stage</td>
      <td class="score">Score</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="stage">Stage 1</td>
      <td class="score">%T16PRACLAY1</td>
     </tr>
     <tr>
      <td class="stage">Stage 2</td>
      <td class="score">%T16PRACLAY2</td>
     </tr>
     <tr>
      <td class="stage">Stage 3</td>
      <td class="score">%T16PRACLAY3</td>
     </tr>
     <tr>
      <td class="stage">Stage 4</td>
      <td class="score">%T16PRACLAY4</td>
     </tr>
     <tr>
      <td class="stage">Stage 5</td>
      <td class="score">%T16PRACLAY5</td>
     </tr>
     <tr>
      <td class="stage">Stage 6</td>
      <td class="score">%T16PRACLAY6</td>
     </tr>
    </tbody>
   </table>

   <table class="practice">
    <caption>霧雨 魔理沙</caption>
    <thead>
     <tr>
      <td class="stage">Stage</td>
      <td class="score">Score</td>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="stage">Stage 1</td>
      <td class="score">%T16PRACLMR1</td>
     </tr>
     <tr>
      <td class="stage">Stage 2</td>
      <td class="score">%T16PRACLMR2</td>
     </tr>
     <tr>
      <td class="stage">Stage 3</td>
      <td class="score">%T16PRACLMR3</td>
     </tr>
     <tr>
      <td class="stage">Stage 4</td>
      <td class="score">%T16PRACLMR4</td>
     </tr>
     <tr>
      <td class="stage">Stage 5</td>
      <td class="score">%T16PRACLMR5</td>
     </tr>
     <tr>
      <td class="stage">Stage 6</td>
      <td class="score">%T16PRACLMR6</td>
     </tr>
    </tbody>
   </table>
  </div>

  <hr />

  <div class="section">
   <p>
    Data output by <a href="https://www.colorless-sight.jp/thsfc/">ThScoreFileConverter</a>.
<script type="text/javascript">
<!--
    document.write("Last updated: ", document.lastModified, ".");
//-->
</script>
   </p>
  </div>

 </body>
</html>
