<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja">

 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="Content-Stype-Type" content="text/css" />
  <meta http-equiv="Content-Script-Type" content="text/javascript" />
  <title>東方天空璋スペルカードデータ</title>
  <link rel="stylesheet" type="text/css" href="style.css" />
<style type="text/css">
<!--
    td.character { min-width: 100px; }
    td.level { min-width: 70px; }
    td.stage { min-width: 70px; }
    table.rate_per_card td.number { min-width: 40px; }
    table.rate_per_card td.card { min-width: 180px; }
    table.rate_per_card td.rate { min-width: 80px; }
    table.rate_per_level td.rate { min-width: 100px; }
    table.rate_per_stage td.rate { min-width: 100px; }
-->
</style>
 </head>

 <body>
  <h1>東方天空璋スペルカードデータ</h1>

  <hr />

  <div class="section">
   <p>
    <a href="th16score1.html">スコアデータ全般</a> /
    <a href="th16score2.html">個別ランキング</a> /
    <a href="th16score3.html">プラクティス</a> /
    御札戦歴（ゲーム本編） /
    <a href="th16card2.html">御札戦歴（スペルプラクティス）</a><br />
    <a href="#rate_per_card">スペルカード別</a> /
    <a href="#rate_per_level">難易度別</a> /
    <a href="#rate_per_stage">ステージ別</a>
   </p>
  </div>

  <hr />

  <div class="section">
   <h2 id="Card">御札戦歴（ゲーム本編）</h2>

   <table class="rate_per_card">
    <caption id="rate_per_card">スペルカード別取得率（取得回数 / 遭遇回数）</caption>
    <thead>
     <tr>
      <td class="number">No.</td>
      <td class="card">スペルカード名<br />（難易度）</td>
      <td class="character">全主人公合計</td>
      <td class="character">博麗 霊夢</td>
      <td class="character">日焼けしたチルノ</td>
      <td class="character">射命丸 文</td>
      <td class="character">霧雨 魔理沙</td>
     </tr>
    </thead>
    <tfoot>
     <tr>
      <td colspan="2">Total</td>
      <td class="rate">%T16CS000TL1 / %T16CS000TL2</td>
      <td class="rate">%T16CS000RM1 / %T16CS000RM2</td>
      <td class="rate">%T16CS000CI1 / %T16CS000CI2</td>
      <td class="rate">%T16CS000AY1 / %T16CS000AY2</td>
      <td class="rate">%T16CS000MR1 / %T16CS000MR2</td>
     </tr>
    </tfoot>

    <tbody>
     <tr>
      <td class="number">No.01</td>
      <td class="card">%T16CARD001N<br />(%T16CARD001R)</td>
      <td class="rate">%T16CS001TL1 / %T16CS001TL2</td>
      <td class="rate">%T16CS001RM1 / %T16CS001RM2</td>
      <td class="rate">%T16CS001CI1 / %T16CS001CI2</td>
      <td class="rate">%T16CS001AY1 / %T16CS001AY2</td>
      <td class="rate">%T16CS001MR1 / %T16CS001MR2</td>
     </tr>
     <tr>
      <td class="number">No.02</td>
      <td class="card">%T16CARD002N<br />(%T16CARD002R)</td>
      <td class="rate">%T16CS002TL1 / %T16CS002TL2</td>
      <td class="rate">%T16CS002RM1 / %T16CS002RM2</td>
      <td class="rate">%T16CS002CI1 / %T16CS002CI2</td>
      <td class="rate">%T16CS002AY1 / %T16CS002AY2</td>
      <td class="rate">%T16CS002MR1 / %T16CS002MR2</td>
     </tr>
     <tr>
      <td class="number">No.03</td>
      <td class="card">%T16CARD003N<br />(%T16CARD003R)</td>
      <td class="rate">%T16CS003TL1 / %T16CS003TL2</td>
      <td class="rate">%T16CS003RM1 / %T16CS003RM2</td>
      <td class="rate">%T16CS003CI1 / %T16CS003CI2</td>
      <td class="rate">%T16CS003AY1 / %T16CS003AY2</td>
      <td class="rate">%T16CS003MR1 / %T16CS003MR2</td>
     </tr>
     <tr>
      <td class="number">No.04</td>
      <td class="card">%T16CARD004N<br />(%T16CARD004R)</td>
      <td class="rate">%T16CS004TL1 / %T16CS004TL2</td>
      <td class="rate">%T16CS004RM1 / %T16CS004RM2</td>
      <td class="rate">%T16CS004CI1 / %T16CS004CI2</td>
      <td class="rate">%T16CS004AY1 / %T16CS004AY2</td>
      <td class="rate">%T16CS004MR1 / %T16CS004MR2</td>
     </tr>
     <tr>
      <td class="number">No.05</td>
      <td class="card">%T16CARD005N<br />(%T16CARD005R)</td>
      <td class="rate">%T16CS005TL1 / %T16CS005TL2</td>
      <td class="rate">%T16CS005RM1 / %T16CS005RM2</td>
      <td class="rate">%T16CS005CI1 / %T16CS005CI2</td>
      <td class="rate">%T16CS005AY1 / %T16CS005AY2</td>
      <td class="rate">%T16CS005MR1 / %T16CS005MR2</td>
     </tr>
     <tr>
      <td class="number">No.06</td>
      <td class="card">%T16CARD006N<br />(%T16CARD006R)</td>
      <td class="rate">%T16CS006TL1 / %T16CS006TL2</td>
      <td class="rate">%T16CS006RM1 / %T16CS006RM2</td>
      <td class="rate">%T16CS006CI1 / %T16CS006CI2</td>
      <td class="rate">%T16CS006AY1 / %T16CS006AY2</td>
      <td class="rate">%T16CS006MR1 / %T16CS006MR2</td>
     </tr>
     <tr>
      <td class="number">No.07</td>
      <td class="card">%T16CARD007N<br />(%T16CARD007R)</td>
      <td class="rate">%T16CS007TL1 / %T16CS007TL2</td>
      <td class="rate">%T16CS007RM1 / %T16CS007RM2</td>
      <td class="rate">%T16CS007CI1 / %T16CS007CI2</td>
      <td class="rate">%T16CS007AY1 / %T16CS007AY2</td>
      <td class="rate">%T16CS007MR1 / %T16CS007MR2</td>
     </tr>
     <tr>
      <td class="number">No.08</td>
      <td class="card">%T16CARD008N<br />(%T16CARD008R)</td>
      <td class="rate">%T16CS008TL1 / %T16CS008TL2</td>
      <td class="rate">%T16CS008RM1 / %T16CS008RM2</td>
      <td class="rate">%T16CS008CI1 / %T16CS008CI2</td>
      <td class="rate">%T16CS008AY1 / %T16CS008AY2</td>
      <td class="rate">%T16CS008MR1 / %T16CS008MR2</td>
     </tr>
     <tr>
      <td class="number">No.09</td>
      <td class="card">%T16CARD009N<br />(%T16CARD009R)</td>
      <td class="rate">%T16CS009TL1 / %T16CS009TL2</td>
      <td class="rate">%T16CS009RM1 / %T16CS009RM2</td>
      <td class="rate">%T16CS009CI1 / %T16CS009CI2</td>
      <td class="rate">%T16CS009AY1 / %T16CS009AY2</td>
      <td class="rate">%T16CS009MR1 / %T16CS009MR2</td>
     </tr>
     <tr>
      <td class="number">No.10</td>
      <td class="card">%T16CARD010N<br />(%T16CARD010R)</td>
      <td class="rate">%T16CS010TL1 / %T16CS010TL2</td>
      <td class="rate">%T16CS010RM1 / %T16CS010RM2</td>
      <td class="rate">%T16CS010CI1 / %T16CS010CI2</td>
      <td class="rate">%T16CS010AY1 / %T16CS010AY2</td>
      <td class="rate">%T16CS010MR1 / %T16CS010MR2</td>
     </tr>

     <tr>
      <td class="number">No.11</td>
      <td class="card">%T16CARD011N<br />(%T16CARD011R)</td>
      <td class="rate">%T16CS011TL1 / %T16CS011TL2</td>
      <td class="rate">%T16CS011RM1 / %T16CS011RM2</td>
      <td class="rate">%T16CS011CI1 / %T16CS011CI2</td>
      <td class="rate">%T16CS011AY1 / %T16CS011AY2</td>
      <td class="rate">%T16CS011MR1 / %T16CS011MR2</td>
     </tr>
     <tr>
      <td class="number">No.12</td>
      <td class="card">%T16CARD012N<br />(%T16CARD012R)</td>
      <td class="rate">%T16CS012TL1 / %T16CS012TL2</td>
      <td class="rate">%T16CS012RM1 / %T16CS012RM2</td>
      <td class="rate">%T16CS012CI1 / %T16CS012CI2</td>
      <td class="rate">%T16CS012AY1 / %T16CS012AY2</td>
      <td class="rate">%T16CS012MR1 / %T16CS012MR2</td>
     </tr>
     <tr>
      <td class="number">No.13</td>
      <td class="card">%T16CARD013N<br />(%T16CARD013R)</td>
      <td class="rate">%T16CS013TL1 / %T16CS013TL2</td>
      <td class="rate">%T16CS013RM1 / %T16CS013RM2</td>
      <td class="rate">%T16CS013CI1 / %T16CS013CI2</td>
      <td class="rate">%T16CS013AY1 / %T16CS013AY2</td>
      <td class="rate">%T16CS013MR1 / %T16CS013MR2</td>
     </tr>
     <tr>
      <td class="number">No.14</td>
      <td class="card">%T16CARD014N<br />(%T16CARD014R)</td>
      <td class="rate">%T16CS014TL1 / %T16CS014TL2</td>
      <td class="rate">%T16CS014RM1 / %T16CS014RM2</td>
      <td class="rate">%T16CS014CI1 / %T16CS014CI2</td>
      <td class="rate">%T16CS014AY1 / %T16CS014AY2</td>
      <td class="rate">%T16CS014MR1 / %T16CS014MR2</td>
     </tr>
     <tr>
      <td class="number">No.15</td>
      <td class="card">%T16CARD015N<br />(%T16CARD015R)</td>
      <td class="rate">%T16CS015TL1 / %T16CS015TL2</td>
      <td class="rate">%T16CS015RM1 / %T16CS015RM2</td>
      <td class="rate">%T16CS015CI1 / %T16CS015CI2</td>
      <td class="rate">%T16CS015AY1 / %T16CS015AY2</td>
      <td class="rate">%T16CS015MR1 / %T16CS015MR2</td>
     </tr>
     <tr>
      <td class="number">No.16</td>
      <td class="card">%T16CARD016N<br />(%T16CARD016R)</td>
      <td class="rate">%T16CS016TL1 / %T16CS016TL2</td>
      <td class="rate">%T16CS016RM1 / %T16CS016RM2</td>
      <td class="rate">%T16CS016CI1 / %T16CS016CI2</td>
      <td class="rate">%T16CS016AY1 / %T16CS016AY2</td>
      <td class="rate">%T16CS016MR1 / %T16CS016MR2</td>
     </tr>
     <tr>
      <td class="number">No.17</td>
      <td class="card">%T16CARD017N<br />(%T16CARD017R)</td>
      <td class="rate">%T16CS017TL1 / %T16CS017TL2</td>
      <td class="rate">%T16CS017RM1 / %T16CS017RM2</td>
      <td class="rate">%T16CS017CI1 / %T16CS017CI2</td>
      <td class="rate">%T16CS017AY1 / %T16CS017AY2</td>
      <td class="rate">%T16CS017MR1 / %T16CS017MR2</td>
     </tr>
     <tr>
      <td class="number">No.18</td>
      <td class="card">%T16CARD018N<br />(%T16CARD018R)</td>
      <td class="rate">%T16CS018TL1 / %T16CS018TL2</td>
      <td class="rate">%T16CS018RM1 / %T16CS018RM2</td>
      <td class="rate">%T16CS018CI1 / %T16CS018CI2</td>
      <td class="rate">%T16CS018AY1 / %T16CS018AY2</td>
      <td class="rate">%T16CS018MR1 / %T16CS018MR2</td>
     </tr>
     <tr>
      <td class="number">No.19</td>
      <td class="card">%T16CARD019N<br />(%T16CARD019R)</td>
      <td class="rate">%T16CS019TL1 / %T16CS019TL2</td>
      <td class="rate">%T16CS019RM1 / %T16CS019RM2</td>
      <td class="rate">%T16CS019CI1 / %T16CS019CI2</td>
      <td class="rate">%T16CS019AY1 / %T16CS019AY2</td>
      <td class="rate">%T16CS019MR1 / %T16CS019MR2</td>
     </tr>
     <tr>
      <td class="number">No.20</td>
      <td class="card">%T16CARD020N<br />(%T16CARD020R)</td>
      <td class="rate">%T16CS020TL1 / %T16CS020TL2</td>
      <td class="rate">%T16CS020RM1 / %T16CS020RM2</td>
      <td class="rate">%T16CS020CI1 / %T16CS020CI2</td>
      <td class="rate">%T16CS020AY1 / %T16CS020AY2</td>
      <td class="rate">%T16CS020MR1 / %T16CS020MR2</td>
     </tr>

     <tr>
      <td class="number">No.21</td>
      <td class="card">%T16CARD021N<br />(%T16CARD021R)</td>
      <td class="rate">%T16CS021TL1 / %T16CS021TL2</td>
      <td class="rate">%T16CS021RM1 / %T16CS021RM2</td>
      <td class="rate">%T16CS021CI1 / %T16CS021CI2</td>
      <td class="rate">%T16CS021AY1 / %T16CS021AY2</td>
      <td class="rate">%T16CS021MR1 / %T16CS021MR2</td>
     </tr>
     <tr>
      <td class="number">No.22</td>
      <td class="card">%T16CARD022N<br />(%T16CARD022R)</td>
      <td class="rate">%T16CS022TL1 / %T16CS022TL2</td>
      <td class="rate">%T16CS022RM1 / %T16CS022RM2</td>
      <td class="rate">%T16CS022CI1 / %T16CS022CI2</td>
      <td class="rate">%T16CS022AY1 / %T16CS022AY2</td>
      <td class="rate">%T16CS022MR1 / %T16CS022MR2</td>
     </tr>
     <tr>
      <td class="number">No.23</td>
      <td class="card">%T16CARD023N<br />(%T16CARD023R)</td>
      <td class="rate">%T16CS023TL1 / %T16CS023TL2</td>
      <td class="rate">%T16CS023RM1 / %T16CS023RM2</td>
      <td class="rate">%T16CS023CI1 / %T16CS023CI2</td>
      <td class="rate">%T16CS023AY1 / %T16CS023AY2</td>
      <td class="rate">%T16CS023MR1 / %T16CS023MR2</td>
     </tr>
     <tr>
      <td class="number">No.24</td>
      <td class="card">%T16CARD024N<br />(%T16CARD024R)</td>
      <td class="rate">%T16CS024TL1 / %T16CS024TL2</td>
      <td class="rate">%T16CS024RM1 / %T16CS024RM2</td>
      <td class="rate">%T16CS024CI1 / %T16CS024CI2</td>
      <td class="rate">%T16CS024AY1 / %T16CS024AY2</td>
      <td class="rate">%T16CS024MR1 / %T16CS024MR2</td>
     </tr>
     <tr>
      <td class="number">No.25</td>
      <td class="card">%T16CARD025N<br />(%T16CARD025R)</td>
      <td class="rate">%T16CS025TL1 / %T16CS025TL2</td>
      <td class="rate">%T16CS025RM1 / %T16CS025RM2</td>
      <td class="rate">%T16CS025CI1 / %T16CS025CI2</td>
      <td class="rate">%T16CS025AY1 / %T16CS025AY2</td>
      <td class="rate">%T16CS025MR1 / %T16CS025MR2</td>
     </tr>
     <tr>
      <td class="number">No.26</td>
      <td class="card">%T16CARD026N<br />(%T16CARD026R)</td>
      <td class="rate">%T16CS026TL1 / %T16CS026TL2</td>
      <td class="rate">%T16CS026RM1 / %T16CS026RM2</td>
      <td class="rate">%T16CS026CI1 / %T16CS026CI2</td>
      <td class="rate">%T16CS026AY1 / %T16CS026AY2</td>
      <td class="rate">%T16CS026MR1 / %T16CS026MR2</td>
     </tr>
     <tr>
      <td class="number">No.27</td>
      <td class="card">%T16CARD027N<br />(%T16CARD027R)</td>
      <td class="rate">%T16CS027TL1 / %T16CS027TL2</td>
      <td class="rate">%T16CS027RM1 / %T16CS027RM2</td>
      <td class="rate">%T16CS027CI1 / %T16CS027CI2</td>
      <td class="rate">%T16CS027AY1 / %T16CS027AY2</td>
      <td class="rate">%T16CS027MR1 / %T16CS027MR2</td>
     </tr>
     <tr>
      <td class="number">No.28</td>
      <td class="card">%T16CARD028N<br />(%T16CARD028R)</td>
      <td class="rate">%T16CS028TL1 / %T16CS028TL2</td>
      <td class="rate">%T16CS028RM1 / %T16CS028RM2</td>
      <td class="rate">%T16CS028CI1 / %T16CS028CI2</td>
      <td class="rate">%T16CS028AY1 / %T16CS028AY2</td>
      <td class="rate">%T16CS028MR1 / %T16CS028MR2</td>
     </tr>
     <tr>
      <td class="number">No.29</td>
      <td class="card">%T16CARD029N<br />(%T16CARD029R)</td>
      <td class="rate">%T16CS029TL1 / %T16CS029TL2</td>
      <td class="rate">%T16CS029RM1 / %T16CS029RM2</td>
      <td class="rate">%T16CS029CI1 / %T16CS029CI2</td>
      <td class="rate">%T16CS029AY1 / %T16CS029AY2</td>
      <td class="rate">%T16CS029MR1 / %T16CS029MR2</td>
     </tr>
     <tr>
      <td class="number">No.30</td>
      <td class="card">%T16CARD030N<br />(%T16CARD030R)</td>
      <td class="rate">%T16CS030TL1 / %T16CS030TL2</td>
      <td class="rate">%T16CS030RM1 / %T16CS030RM2</td>
      <td class="rate">%T16CS030CI1 / %T16CS030CI2</td>
      <td class="rate">%T16CS030AY1 / %T16CS030AY2</td>
      <td class="rate">%T16CS030MR1 / %T16CS030MR2</td>
     </tr>

     <tr>
      <td class="number">No.31</td>
      <td class="card">%T16CARD031N<br />(%T16CARD031R)</td>
      <td class="rate">%T16CS031TL1 / %T16CS031TL2</td>
      <td class="rate">%T16CS031RM1 / %T16CS031RM2</td>
      <td class="rate">%T16CS031CI1 / %T16CS031CI2</td>
      <td class="rate">%T16CS031AY1 / %T16CS031AY2</td>
      <td class="rate">%T16CS031MR1 / %T16CS031MR2</td>
     </tr>
     <tr>
      <td class="number">No.32</td>
      <td class="card">%T16CARD032N<br />(%T16CARD032R)</td>
      <td class="rate">%T16CS032TL1 / %T16CS032TL2</td>
      <td class="rate">%T16CS032RM1 / %T16CS032RM2</td>
      <td class="rate">%T16CS032CI1 / %T16CS032CI2</td>
      <td class="rate">%T16CS032AY1 / %T16CS032AY2</td>
      <td class="rate">%T16CS032MR1 / %T16CS032MR2</td>
     </tr>
     <tr>
      <td class="number">No.33</td>
      <td class="card">%T16CARD033N<br />(%T16CARD033R)</td>
      <td class="rate">%T16CS033TL1 / %T16CS033TL2</td>
      <td class="rate">%T16CS033RM1 / %T16CS033RM2</td>
      <td class="rate">%T16CS033CI1 / %T16CS033CI2</td>
      <td class="rate">%T16CS033AY1 / %T16CS033AY2</td>
      <td class="rate">%T16CS033MR1 / %T16CS033MR2</td>
     </tr>
     <tr>
      <td class="number">No.34</td>
      <td class="card">%T16CARD034N<br />(%T16CARD034R)</td>
      <td class="rate">%T16CS034TL1 / %T16CS034TL2</td>
      <td class="rate">%T16CS034RM1 / %T16CS034RM2</td>
      <td class="rate">%T16CS034CI1 / %T16CS034CI2</td>
      <td class="rate">%T16CS034AY1 / %T16CS034AY2</td>
      <td class="rate">%T16CS034MR1 / %T16CS034MR2</td>
     </tr>
     <tr>
      <td class="number">No.35</td>
      <td class="card">%T16CARD035N<br />(%T16CARD035R)</td>
      <td class="rate">%T16CS035TL1 / %T16CS035TL2</td>
      <td class="rate">%T16CS035RM1 / %T16CS035RM2</td>
      <td class="rate">%T16CS035CI1 / %T16CS035CI2</td>
      <td class="rate">%T16CS035AY1 / %T16CS035AY2</td>
      <td class="rate">%T16CS035MR1 / %T16CS035MR2</td>
     </tr>
     <tr>
      <td class="number">No.36</td>
      <td class="card">%T16CARD036N<br />(%T16CARD036R)</td>
      <td class="rate">%T16CS036TL1 / %T16CS036TL2</td>
      <td class="rate">%T16CS036RM1 / %T16CS036RM2</td>
      <td class="rate">%T16CS036CI1 / %T16CS036CI2</td>
      <td class="rate">%T16CS036AY1 / %T16CS036AY2</td>
      <td class="rate">%T16CS036MR1 / %T16CS036MR2</td>
     </tr>
     <tr>
      <td class="number">No.37</td>
      <td class="card">%T16CARD037N<br />(%T16CARD037R)</td>
      <td class="rate">%T16CS037TL1 / %T16CS037TL2</td>
      <td class="rate">%T16CS037RM1 / %T16CS037RM2</td>
      <td class="rate">%T16CS037CI1 / %T16CS037CI2</td>
      <td class="rate">%T16CS037AY1 / %T16CS037AY2</td>
      <td class="rate">%T16CS037MR1 / %T16CS037MR2</td>
     </tr>
     <tr>
      <td class="number">No.38</td>
      <td class="card">%T16CARD038N<br />(%T16CARD038R)</td>
      <td class="rate">%T16CS038TL1 / %T16CS038TL2</td>
      <td class="rate">%T16CS038RM1 / %T16CS038RM2</td>
      <td class="rate">%T16CS038CI1 / %T16CS038CI2</td>
      <td class="rate">%T16CS038AY1 / %T16CS038AY2</td>
      <td class="rate">%T16CS038MR1 / %T16CS038MR2</td>
     </tr>
     <tr>
      <td class="number">No.39</td>
      <td class="card">%T16CARD039N<br />(%T16CARD039R)</td>
      <td class="rate">%T16CS039TL1 / %T16CS039TL2</td>
      <td class="rate">%T16CS039RM1 / %T16CS039RM2</td>
      <td class="rate">%T16CS039CI1 / %T16CS039CI2</td>
      <td class="rate">%T16CS039AY1 / %T16CS039AY2</td>
      <td class="rate">%T16CS039MR1 / %T16CS039MR2</td>
     </tr>
     <tr>
      <td class="number">No.40</td>
      <td class="card">%T16CARD040N<br />(%T16CARD040R)</td>
      <td class="rate">%T16CS040TL1 / %T16CS040TL2</td>
      <td class="rate">%T16CS040RM1 / %T16CS040RM2</td>
      <td class="rate">%T16CS040CI1 / %T16CS040CI2</td>
      <td class="rate">%T16CS040AY1 / %T16CS040AY2</td>
      <td class="rate">%T16CS040MR1 / %T16CS040MR2</td>
     </tr>

     <tr>
      <td class="number">No.41</td>
      <td class="card">%T16CARD041N<br />(%T16CARD041R)</td>
      <td class="rate">%T16CS041TL1 / %T16CS041TL2</td>
      <td class="rate">%T16CS041RM1 / %T16CS041RM2</td>
      <td class="rate">%T16CS041CI1 / %T16CS041CI2</td>
      <td class="rate">%T16CS041AY1 / %T16CS041AY2</td>
      <td class="rate">%T16CS041MR1 / %T16CS041MR2</td>
     </tr>
     <tr>
      <td class="number">No.42</td>
      <td class="card">%T16CARD042N<br />(%T16CARD042R)</td>
      <td class="rate">%T16CS042TL1 / %T16CS042TL2</td>
      <td class="rate">%T16CS042RM1 / %T16CS042RM2</td>
      <td class="rate">%T16CS042CI1 / %T16CS042CI2</td>
      <td class="rate">%T16CS042AY1 / %T16CS042AY2</td>
      <td class="rate">%T16CS042MR1 / %T16CS042MR2</td>
     </tr>
     <tr>
      <td class="number">No.43</td>
      <td class="card">%T16CARD043N<br />(%T16CARD043R)</td>
      <td class="rate">%T16CS043TL1 / %T16CS043TL2</td>
      <td class="rate">%T16CS043RM1 / %T16CS043RM2</td>
      <td class="rate">%T16CS043CI1 / %T16CS043CI2</td>
      <td class="rate">%T16CS043AY1 / %T16CS043AY2</td>
      <td class="rate">%T16CS043MR1 / %T16CS043MR2</td>
     </tr>
     <tr>
      <td class="number">No.44</td>
      <td class="card">%T16CARD044N<br />(%T16CARD044R)</td>
      <td class="rate">%T16CS044TL1 / %T16CS044TL2</td>
      <td class="rate">%T16CS044RM1 / %T16CS044RM2</td>
      <td class="rate">%T16CS044CI1 / %T16CS044CI2</td>
      <td class="rate">%T16CS044AY1 / %T16CS044AY2</td>
      <td class="rate">%T16CS044MR1 / %T16CS044MR2</td>
     </tr>
     <tr>
      <td class="number">No.45</td>
      <td class="card">%T16CARD045N<br />(%T16CARD045R)</td>
      <td class="rate">%T16CS045TL1 / %T16CS045TL2</td>
      <td class="rate">%T16CS045RM1 / %T16CS045RM2</td>
      <td class="rate">%T16CS045CI1 / %T16CS045CI2</td>
      <td class="rate">%T16CS045AY1 / %T16CS045AY2</td>
      <td class="rate">%T16CS045MR1 / %T16CS045MR2</td>
     </tr>
     <tr>
      <td class="number">No.46</td>
      <td class="card">%T16CARD046N<br />(%T16CARD046R)</td>
      <td class="rate">%T16CS046TL1 / %T16CS046TL2</td>
      <td class="rate">%T16CS046RM1 / %T16CS046RM2</td>
      <td class="rate">%T16CS046CI1 / %T16CS046CI2</td>
      <td class="rate">%T16CS046AY1 / %T16CS046AY2</td>
      <td class="rate">%T16CS046MR1 / %T16CS046MR2</td>
     </tr>
     <tr>
      <td class="number">No.47</td>
      <td class="card">%T16CARD047N<br />(%T16CARD047R)</td>
      <td class="rate">%T16CS047TL1 / %T16CS047TL2</td>
      <td class="rate">%T16CS047RM1 / %T16CS047RM2</td>
      <td class="rate">%T16CS047CI1 / %T16CS047CI2</td>
      <td class="rate">%T16CS047AY1 / %T16CS047AY2</td>
      <td class="rate">%T16CS047MR1 / %T16CS047MR2</td>
     </tr>
     <tr>
      <td class="number">No.48</td>
      <td class="card">%T16CARD048N<br />(%T16CARD048R)</td>
      <td class="rate">%T16CS048TL1 / %T16CS048TL2</td>
      <td class="rate">%T16CS048RM1 / %T16CS048RM2</td>
      <td class="rate">%T16CS048CI1 / %T16CS048CI2</td>
      <td class="rate">%T16CS048AY1 / %T16CS048AY2</td>
      <td class="rate">%T16CS048MR1 / %T16CS048MR2</td>
     </tr>
     <tr>
      <td class="number">No.49</td>
      <td class="card">%T16CARD049N<br />(%T16CARD049R)</td>
      <td class="rate">%T16CS049TL1 / %T16CS049TL2</td>
      <td class="rate">%T16CS049RM1 / %T16CS049RM2</td>
      <td class="rate">%T16CS049CI1 / %T16CS049CI2</td>
      <td class="rate">%T16CS049AY1 / %T16CS049AY2</td>
      <td class="rate">%T16CS049MR1 / %T16CS049MR2</td>
     </tr>
     <tr>
      <td class="number">No.50</td>
      <td class="card">%T16CARD050N<br />(%T16CARD050R)</td>
      <td class="rate">%T16CS050TL1 / %T16CS050TL2</td>
      <td class="rate">%T16CS050RM1 / %T16CS050RM2</td>
      <td class="rate">%T16CS050CI1 / %T16CS050CI2</td>
      <td class="rate">%T16CS050AY1 / %T16CS050AY2</td>
      <td class="rate">%T16CS050MR1 / %T16CS050MR2</td>
     </tr>

     <tr>
      <td class="number">No.51</td>
      <td class="card">%T16CARD051N<br />(%T16CARD051R)</td>
      <td class="rate">%T16CS051TL1 / %T16CS051TL2</td>
      <td class="rate">%T16CS051RM1 / %T16CS051RM2</td>
      <td class="rate">%T16CS051CI1 / %T16CS051CI2</td>
      <td class="rate">%T16CS051AY1 / %T16CS051AY2</td>
      <td class="rate">%T16CS051MR1 / %T16CS051MR2</td>
     </tr>
     <tr>
      <td class="number">No.52</td>
      <td class="card">%T16CARD052N<br />(%T16CARD052R)</td>
      <td class="rate">%T16CS052TL1 / %T16CS052TL2</td>
      <td class="rate">%T16CS052RM1 / %T16CS052RM2</td>
      <td class="rate">%T16CS052CI1 / %T16CS052CI2</td>
      <td class="rate">%T16CS052AY1 / %T16CS052AY2</td>
      <td class="rate">%T16CS052MR1 / %T16CS052MR2</td>
     </tr>
     <tr>
      <td class="number">No.53</td>
      <td class="card">%T16CARD053N<br />(%T16CARD053R)</td>
      <td class="rate">%T16CS053TL1 / %T16CS053TL2</td>
      <td class="rate">%T16CS053RM1 / %T16CS053RM2</td>
      <td class="rate">%T16CS053CI1 / %T16CS053CI2</td>
      <td class="rate">%T16CS053AY1 / %T16CS053AY2</td>
      <td class="rate">%T16CS053MR1 / %T16CS053MR2</td>
     </tr>
     <tr>
      <td class="number">No.54</td>
      <td class="card">%T16CARD054N<br />(%T16CARD054R)</td>
      <td class="rate">%T16CS054TL1 / %T16CS054TL2</td>
      <td class="rate">%T16CS054RM1 / %T16CS054RM2</td>
      <td class="rate">%T16CS054CI1 / %T16CS054CI2</td>
      <td class="rate">%T16CS054AY1 / %T16CS054AY2</td>
      <td class="rate">%T16CS054MR1 / %T16CS054MR2</td>
     </tr>
     <tr>
      <td class="number">No.55</td>
      <td class="card">%T16CARD055N<br />(%T16CARD055R)</td>
      <td class="rate">%T16CS055TL1 / %T16CS055TL2</td>
      <td class="rate">%T16CS055RM1 / %T16CS055RM2</td>
      <td class="rate">%T16CS055CI1 / %T16CS055CI2</td>
      <td class="rate">%T16CS055AY1 / %T16CS055AY2</td>
      <td class="rate">%T16CS055MR1 / %T16CS055MR2</td>
     </tr>
     <tr>
      <td class="number">No.56</td>
      <td class="card">%T16CARD056N<br />(%T16CARD056R)</td>
      <td class="rate">%T16CS056TL1 / %T16CS056TL2</td>
      <td class="rate">%T16CS056RM1 / %T16CS056RM2</td>
      <td class="rate">%T16CS056CI1 / %T16CS056CI2</td>
      <td class="rate">%T16CS056AY1 / %T16CS056AY2</td>
      <td class="rate">%T16CS056MR1 / %T16CS056MR2</td>
     </tr>
     <tr>
      <td class="number">No.57</td>
      <td class="card">%T16CARD057N<br />(%T16CARD057R)</td>
      <td class="rate">%T16CS057TL1 / %T16CS057TL2</td>
      <td class="rate">%T16CS057RM1 / %T16CS057RM2</td>
      <td class="rate">%T16CS057CI1 / %T16CS057CI2</td>
      <td class="rate">%T16CS057AY1 / %T16CS057AY2</td>
      <td class="rate">%T16CS057MR1 / %T16CS057MR2</td>
     </tr>
     <tr>
      <td class="number">No.58</td>
      <td class="card">%T16CARD058N<br />(%T16CARD058R)</td>
      <td class="rate">%T16CS058TL1 / %T16CS058TL2</td>
      <td class="rate">%T16CS058RM1 / %T16CS058RM2</td>
      <td class="rate">%T16CS058CI1 / %T16CS058CI2</td>
      <td class="rate">%T16CS058AY1 / %T16CS058AY2</td>
      <td class="rate">%T16CS058MR1 / %T16CS058MR2</td>
     </tr>
     <tr>
      <td class="number">No.59</td>
      <td class="card">%T16CARD059N<br />(%T16CARD059R)</td>
      <td class="rate">%T16CS059TL1 / %T16CS059TL2</td>
      <td class="rate">%T16CS059RM1 / %T16CS059RM2</td>
      <td class="rate">%T16CS059CI1 / %T16CS059CI2</td>
      <td class="rate">%T16CS059AY1 / %T16CS059AY2</td>
      <td class="rate">%T16CS059MR1 / %T16CS059MR2</td>
     </tr>
     <tr>
      <td class="number">No.60</td>
      <td class="card">%T16CARD060N<br />(%T16CARD060R)</td>
      <td class="rate">%T16CS060TL1 / %T16CS060TL2</td>
      <td class="rate">%T16CS060RM1 / %T16CS060RM2</td>
      <td class="rate">%T16CS060CI1 / %T16CS060CI2</td>
      <td class="rate">%T16CS060AY1 / %T16CS060AY2</td>
      <td class="rate">%T16CS060MR1 / %T16CS060MR2</td>
     </tr>

     <tr>
      <td class="number">No.61</td>
      <td class="card">%T16CARD061N<br />(%T16CARD061R)</td>
      <td class="rate">%T16CS061TL1 / %T16CS061TL2</td>
      <td class="rate">%T16CS061RM1 / %T16CS061RM2</td>
      <td class="rate">%T16CS061CI1 / %T16CS061CI2</td>
      <td class="rate">%T16CS061AY1 / %T16CS061AY2</td>
      <td class="rate">%T16CS061MR1 / %T16CS061MR2</td>
     </tr>
     <tr>
      <td class="number">No.62</td>
      <td class="card">%T16CARD062N<br />(%T16CARD062R)</td>
      <td class="rate">%T16CS062TL1 / %T16CS062TL2</td>
      <td class="rate">%T16CS062RM1 / %T16CS062RM2</td>
      <td class="rate">%T16CS062CI1 / %T16CS062CI2</td>
      <td class="rate">%T16CS062AY1 / %T16CS062AY2</td>
      <td class="rate">%T16CS062MR1 / %T16CS062MR2</td>
     </tr>
     <tr>
      <td class="number">No.63</td>
      <td class="card">%T16CARD063N<br />(%T16CARD063R)</td>
      <td class="rate">%T16CS063TL1 / %T16CS063TL2</td>
      <td class="rate">%T16CS063RM1 / %T16CS063RM2</td>
      <td class="rate">%T16CS063CI1 / %T16CS063CI2</td>
      <td class="rate">%T16CS063AY1 / %T16CS063AY2</td>
      <td class="rate">%T16CS063MR1 / %T16CS063MR2</td>
     </tr>
     <tr>
      <td class="number">No.64</td>
      <td class="card">%T16CARD064N<br />(%T16CARD064R)</td>
      <td class="rate">%T16CS064TL1 / %T16CS064TL2</td>
      <td class="rate">%T16CS064RM1 / %T16CS064RM2</td>
      <td class="rate">%T16CS064CI1 / %T16CS064CI2</td>
      <td class="rate">%T16CS064AY1 / %T16CS064AY2</td>
      <td class="rate">%T16CS064MR1 / %T16CS064MR2</td>
     </tr>
     <tr>
      <td class="number">No.65</td>
      <td class="card">%T16CARD065N<br />(%T16CARD065R)</td>
      <td class="rate">%T16CS065TL1 / %T16CS065TL2</td>
      <td class="rate">%T16CS065RM1 / %T16CS065RM2</td>
      <td class="rate">%T16CS065CI1 / %T16CS065CI2</td>
      <td class="rate">%T16CS065AY1 / %T16CS065AY2</td>
      <td class="rate">%T16CS065MR1 / %T16CS065MR2</td>
     </tr>
     <tr>
      <td class="number">No.66</td>
      <td class="card">%T16CARD066N<br />(%T16CARD066R)</td>
      <td class="rate">%T16CS066TL1 / %T16CS066TL2</td>
      <td class="rate">%T16CS066RM1 / %T16CS066RM2</td>
      <td class="rate">%T16CS066CI1 / %T16CS066CI2</td>
      <td class="rate">%T16CS066AY1 / %T16CS066AY2</td>
      <td class="rate">%T16CS066MR1 / %T16CS066MR2</td>
     </tr>
     <tr>
      <td class="number">No.67</td>
      <td class="card">%T16CARD067N<br />(%T16CARD067R)</td>
      <td class="rate">%T16CS067TL1 / %T16CS067TL2</td>
      <td class="rate">%T16CS067RM1 / %T16CS067RM2</td>
      <td class="rate">%T16CS067CI1 / %T16CS067CI2</td>
      <td class="rate">%T16CS067AY1 / %T16CS067AY2</td>
      <td class="rate">%T16CS067MR1 / %T16CS067MR2</td>
     </tr>
     <tr>
      <td class="number">No.68</td>
      <td class="card">%T16CARD068N<br />(%T16CARD068R)</td>
      <td class="rate">%T16CS068TL1 / %T16CS068TL2</td>
      <td class="rate">%T16CS068RM1 / %T16CS068RM2</td>
      <td class="rate">%T16CS068CI1 / %T16CS068CI2</td>
      <td class="rate">%T16CS068AY1 / %T16CS068AY2</td>
      <td class="rate">%T16CS068MR1 / %T16CS068MR2</td>
     </tr>
     <tr>
      <td class="number">No.69</td>
      <td class="card">%T16CARD069N<br />(%T16CARD069R)</td>
      <td class="rate">%T16CS069TL1 / %T16CS069TL2</td>
      <td class="rate">%T16CS069RM1 / %T16CS069RM2</td>
      <td class="rate">%T16CS069CI1 / %T16CS069CI2</td>
      <td class="rate">%T16CS069AY1 / %T16CS069AY2</td>
      <td class="rate">%T16CS069MR1 / %T16CS069MR2</td>
     </tr>
     <tr>
      <td class="number">No.70</td>
      <td class="card">%T16CARD070N<br />(%T16CARD070R)</td>
      <td class="rate">%T16CS070TL1 / %T16CS070TL2</td>
      <td class="rate">%T16CS070RM1 / %T16CS070RM2</td>
      <td class="rate">%T16CS070CI1 / %T16CS070CI2</td>
      <td class="rate">%T16CS070AY1 / %T16CS070AY2</td>
      <td class="rate">%T16CS070MR1 / %T16CS070MR2</td>
     </tr>

     <tr>
      <td class="number">No.71</td>
      <td class="card">%T16CARD071N<br />(%T16CARD071R)</td>
      <td class="rate">%T16CS071TL1 / %T16CS071TL2</td>
      <td class="rate">%T16CS071RM1 / %T16CS071RM2</td>
      <td class="rate">%T16CS071CI1 / %T16CS071CI2</td>
      <td class="rate">%T16CS071AY1 / %T16CS071AY2</td>
      <td class="rate">%T16CS071MR1 / %T16CS071MR2</td>
     </tr>
     <tr>
      <td class="number">No.72</td>
      <td class="card">%T16CARD072N<br />(%T16CARD072R)</td>
      <td class="rate">%T16CS072TL1 / %T16CS072TL2</td>
      <td class="rate">%T16CS072RM1 / %T16CS072RM2</td>
      <td class="rate">%T16CS072CI1 / %T16CS072CI2</td>
      <td class="rate">%T16CS072AY1 / %T16CS072AY2</td>
      <td class="rate">%T16CS072MR1 / %T16CS072MR2</td>
     </tr>
     <tr>
      <td class="number">No.73</td>
      <td class="card">%T16CARD073N<br />(%T16CARD073R)</td>
      <td class="rate">%T16CS073TL1 / %T16CS073TL2</td>
      <td class="rate">%T16CS073RM1 / %T16CS073RM2</td>
      <td class="rate">%T16CS073CI1 / %T16CS073CI2</td>
      <td class="rate">%T16CS073AY1 / %T16CS073AY2</td>
      <td class="rate">%T16CS073MR1 / %T16CS073MR2</td>
     </tr>
     <tr>
      <td class="number">No.74</td>
      <td class="card">%T16CARD074N<br />(%T16CARD074R)</td>
      <td class="rate">%T16CS074TL1 / %T16CS074TL2</td>
      <td class="rate">%T16CS074RM1 / %T16CS074RM2</td>
      <td class="rate">%T16CS074CI1 / %T16CS074CI2</td>
      <td class="rate">%T16CS074AY1 / %T16CS074AY2</td>
      <td class="rate">%T16CS074MR1 / %T16CS074MR2</td>
     </tr>
     <tr>
      <td class="number">No.75</td>
      <td class="card">%T16CARD075N<br />(%T16CARD075R)</td>
      <td class="rate">%T16CS075TL1 / %T16CS075TL2</td>
      <td class="rate">%T16CS075RM1 / %T16CS075RM2</td>
      <td class="rate">%T16CS075CI1 / %T16CS075CI2</td>
      <td class="rate">%T16CS075AY1 / %T16CS075AY2</td>
      <td class="rate">%T16CS075MR1 / %T16CS075MR2</td>
     </tr>
     <tr>
      <td class="number">No.76</td>
      <td class="card">%T16CARD076N<br />(%T16CARD076R)</td>
      <td class="rate">%T16CS076TL1 / %T16CS076TL2</td>
      <td class="rate">%T16CS076RM1 / %T16CS076RM2</td>
      <td class="rate">%T16CS076CI1 / %T16CS076CI2</td>
      <td class="rate">%T16CS076AY1 / %T16CS076AY2</td>
      <td class="rate">%T16CS076MR1 / %T16CS076MR2</td>
     </tr>
     <tr>
      <td class="number">No.77</td>
      <td class="card">%T16CARD077N<br />(%T16CARD077R)</td>
      <td class="rate">%T16CS077TL1 / %T16CS077TL2</td>
      <td class="rate">%T16CS077RM1 / %T16CS077RM2</td>
      <td class="rate">%T16CS077CI1 / %T16CS077CI2</td>
      <td class="rate">%T16CS077AY1 / %T16CS077AY2</td>
      <td class="rate">%T16CS077MR1 / %T16CS077MR2</td>
     </tr>
     <tr>
      <td class="number">No.78</td>
      <td class="card">%T16CARD078N<br />(%T16CARD078R)</td>
      <td class="rate">%T16CS078TL1 / %T16CS078TL2</td>
      <td class="rate">%T16CS078RM1 / %T16CS078RM2</td>
      <td class="rate">%T16CS078CI1 / %T16CS078CI2</td>
      <td class="rate">%T16CS078AY1 / %T16CS078AY2</td>
      <td class="rate">%T16CS078MR1 / %T16CS078MR2</td>
     </tr>
     <tr>
      <td class="number">No.79</td>
      <td class="card">%T16CARD079N<br />(%T16CARD079R)</td>
      <td class="rate">%T16CS079TL1 / %T16CS079TL2</td>
      <td class="rate">%T16CS079RM1 / %T16CS079RM2</td>
      <td class="rate">%T16CS079CI1 / %T16CS079CI2</td>
      <td class="rate">%T16CS079AY1 / %T16CS079AY2</td>
      <td class="rate">%T16CS079MR1 / %T16CS079MR2</td>
     </tr>
     <tr>
      <td class="number">No.80</td>
      <td class="card">%T16CARD080N<br />(%T16CARD080R)</td>
      <td class="rate">%T16CS080TL1 / %T16CS080TL2</td>
      <td class="rate">%T16CS080RM1 / %T16CS080RM2</td>
      <td class="rate">%T16CS080CI1 / %T16CS080CI2</td>
      <td class="rate">%T16CS080AY1 / %T16CS080AY2</td>
      <td class="rate">%T16CS080MR1 / %T16CS080MR2</td>
     </tr>

     <tr>
      <td class="number">No.81</td>
      <td class="card">%T16CARD081N<br />(%T16CARD081R)</td>
      <td class="rate">%T16CS081TL1 / %T16CS081TL2</td>
      <td class="rate">%T16CS081RM1 / %T16CS081RM2</td>
      <td class="rate">%T16CS081CI1 / %T16CS081CI2</td>
      <td class="rate">%T16CS081AY1 / %T16CS081AY2</td>
      <td class="rate">%T16CS081MR1 / %T16CS081MR2</td>
     </tr>
     <tr>
      <td class="number">No.82</td>
      <td class="card">%T16CARD082N<br />(%T16CARD082R)</td>
      <td class="rate">%T16CS082TL1 / %T16CS082TL2</td>
      <td class="rate">%T16CS082RM1 / %T16CS082RM2</td>
      <td class="rate">%T16CS082CI1 / %T16CS082CI2</td>
      <td class="rate">%T16CS082AY1 / %T16CS082AY2</td>
      <td class="rate">%T16CS082MR1 / %T16CS082MR2</td>
     </tr>
     <tr>
      <td class="number">No.83</td>
      <td class="card">%T16CARD083N<br />(%T16CARD083R)</td>
      <td class="rate">%T16CS083TL1 / %T16CS083TL2</td>
      <td class="rate">%T16CS083RM1 / %T16CS083RM2</td>
      <td class="rate">%T16CS083CI1 / %T16CS083CI2</td>
      <td class="rate">%T16CS083AY1 / %T16CS083AY2</td>
      <td class="rate">%T16CS083MR1 / %T16CS083MR2</td>
     </tr>
     <tr>
      <td class="number">No.84</td>
      <td class="card">%T16CARD084N<br />(%T16CARD084R)</td>
      <td class="rate">%T16CS084TL1 / %T16CS084TL2</td>
      <td class="rate">%T16CS084RM1 / %T16CS084RM2</td>
      <td class="rate">%T16CS084CI1 / %T16CS084CI2</td>
      <td class="rate">%T16CS084AY1 / %T16CS084AY2</td>
      <td class="rate">%T16CS084MR1 / %T16CS084MR2</td>
     </tr>
     <tr>
      <td class="number">No.85</td>
      <td class="card">%T16CARD085N<br />(%T16CARD085R)</td>
      <td class="rate">%T16CS085TL1 / %T16CS085TL2</td>
      <td class="rate">%T16CS085RM1 / %T16CS085RM2</td>
      <td class="rate">%T16CS085CI1 / %T16CS085CI2</td>
      <td class="rate">%T16CS085AY1 / %T16CS085AY2</td>
      <td class="rate">%T16CS085MR1 / %T16CS085MR2</td>
     </tr>
     <tr>
      <td class="number">No.86</td>
      <td class="card">%T16CARD086N<br />(%T16CARD086R)</td>
      <td class="rate">%T16CS086TL1 / %T16CS086TL2</td>
      <td class="rate">%T16CS086RM1 / %T16CS086RM2</td>
      <td class="rate">%T16CS086CI1 / %T16CS086CI2</td>
      <td class="rate">%T16CS086AY1 / %T16CS086AY2</td>
      <td class="rate">%T16CS086MR1 / %T16CS086MR2</td>
     </tr>
     <tr>
      <td class="number">No.87</td>
      <td class="card">%T16CARD087N<br />(%T16CARD087R)</td>
      <td class="rate">%T16CS087TL1 / %T16CS087TL2</td>
      <td class="rate">%T16CS087RM1 / %T16CS087RM2</td>
      <td class="rate">%T16CS087CI1 / %T16CS087CI2</td>
      <td class="rate">%T16CS087AY1 / %T16CS087AY2</td>
      <td class="rate">%T16CS087MR1 / %T16CS087MR2</td>
     </tr>
     <tr>
      <td class="number">No.88</td>
      <td class="card">%T16CARD088N<br />(%T16CARD088R)</td>
      <td class="rate">%T16CS088TL1 / %T16CS088TL2</td>
      <td class="rate">%T16CS088RM1 / %T16CS088RM2</td>
      <td class="rate">%T16CS088CI1 / %T16CS088CI2</td>
      <td class="rate">%T16CS088AY1 / %T16CS088AY2</td>
      <td class="rate">%T16CS088MR1 / %T16CS088MR2</td>
     </tr>
     <tr>
      <td class="number">No.89</td>
      <td class="card">%T16CARD089N<br />(%T16CARD089R)</td>
      <td class="rate">%T16CS089TL1 / %T16CS089TL2</td>
      <td class="rate">%T16CS089RM1 / %T16CS089RM2</td>
      <td class="rate">%T16CS089CI1 / %T16CS089CI2</td>
      <td class="rate">%T16CS089AY1 / %T16CS089AY2</td>
      <td class="rate">%T16CS089MR1 / %T16CS089MR2</td>
     </tr>
     <tr>
      <td class="number">No.90</td>
      <td class="card">%T16CARD090N<br />(%T16CARD090R)</td>
      <td class="rate">%T16CS090TL1 / %T16CS090TL2</td>
      <td class="rate">%T16CS090RM1 / %T16CS090RM2</td>
      <td class="rate">%T16CS090CI1 / %T16CS090CI2</td>
      <td class="rate">%T16CS090AY1 / %T16CS090AY2</td>
      <td class="rate">%T16CS090MR1 / %T16CS090MR2</td>
     </tr>

     <tr>
      <td class="number">No.91</td>
      <td class="card">%T16CARD091N<br />(%T16CARD091R)</td>
      <td class="rate">%T16CS091TL1 / %T16CS091TL2</td>
      <td class="rate">%T16CS091RM1 / %T16CS091RM2</td>
      <td class="rate">%T16CS091CI1 / %T16CS091CI2</td>
      <td class="rate">%T16CS091AY1 / %T16CS091AY2</td>
      <td class="rate">%T16CS091MR1 / %T16CS091MR2</td>
     </tr>
     <tr>
      <td class="number">No.92</td>
      <td class="card">%T16CARD092N<br />(%T16CARD092R)</td>
      <td class="rate">%T16CS092TL1 / %T16CS092TL2</td>
      <td class="rate">%T16CS092RM1 / %T16CS092RM2</td>
      <td class="rate">%T16CS092CI1 / %T16CS092CI2</td>
      <td class="rate">%T16CS092AY1 / %T16CS092AY2</td>
      <td class="rate">%T16CS092MR1 / %T16CS092MR2</td>
     </tr>
     <tr>
      <td class="number">No.93</td>
      <td class="card">%T16CARD093N<br />(%T16CARD093R)</td>
      <td class="rate">%T16CS093TL1 / %T16CS093TL2</td>
      <td class="rate">%T16CS093RM1 / %T16CS093RM2</td>
      <td class="rate">%T16CS093CI1 / %T16CS093CI2</td>
      <td class="rate">%T16CS093AY1 / %T16CS093AY2</td>
      <td class="rate">%T16CS093MR1 / %T16CS093MR2</td>
     </tr>
     <tr>
      <td class="number">No.94</td>
      <td class="card">%T16CARD094N<br />(%T16CARD094R)</td>
      <td class="rate">%T16CS094TL1 / %T16CS094TL2</td>
      <td class="rate">%T16CS094RM1 / %T16CS094RM2</td>
      <td class="rate">%T16CS094CI1 / %T16CS094CI2</td>
      <td class="rate">%T16CS094AY1 / %T16CS094AY2</td>
      <td class="rate">%T16CS094MR1 / %T16CS094MR2</td>
     </tr>
     <tr>
      <td class="number">No.95</td>
      <td class="card">%T16CARD095N<br />(%T16CARD095R)</td>
      <td class="rate">%T16CS095TL1 / %T16CS095TL2</td>
      <td class="rate">%T16CS095RM1 / %T16CS095RM2</td>
      <td class="rate">%T16CS095CI1 / %T16CS095CI2</td>
      <td class="rate">%T16CS095AY1 / %T16CS095AY2</td>
      <td class="rate">%T16CS095MR1 / %T16CS095MR2</td>
     </tr>
     <tr>
      <td class="number">No.96</td>
      <td class="card">%T16CARD096N<br />(%T16CARD096R)</td>
      <td class="rate">%T16CS096TL1 / %T16CS096TL2</td>
      <td class="rate">%T16CS096RM1 / %T16CS096RM2</td>
      <td class="rate">%T16CS096CI1 / %T16CS096CI2</td>
      <td class="rate">%T16CS096AY1 / %T16CS096AY2</td>
      <td class="rate">%T16CS096MR1 / %T16CS096MR2</td>
     </tr>
     <tr>
      <td class="number">No.97</td>
      <td class="card">%T16CARD097N<br />(%T16CARD097R)</td>
      <td class="rate">%T16CS097TL1 / %T16CS097TL2</td>
      <td class="rate">%T16CS097RM1 / %T16CS097RM2</td>
      <td class="rate">%T16CS097CI1 / %T16CS097CI2</td>
      <td class="rate">%T16CS097AY1 / %T16CS097AY2</td>
      <td class="rate">%T16CS097MR1 / %T16CS097MR2</td>
     </tr>
     <tr>
      <td class="number">No.98</td>
      <td class="card">%T16CARD098N<br />(%T16CARD098R)</td>
      <td class="rate">%T16CS098TL1 / %T16CS098TL2</td>
      <td class="rate">%T16CS098RM1 / %T16CS098RM2</td>
      <td class="rate">%T16CS098CI1 / %T16CS098CI2</td>
      <td class="rate">%T16CS098AY1 / %T16CS098AY2</td>
      <td class="rate">%T16CS098MR1 / %T16CS098MR2</td>
     </tr>
     <tr>
      <td class="number">No.99</td>
      <td class="card">%T16CARD099N<br />(%T16CARD099R)</td>
      <td class="rate">%T16CS099TL1 / %T16CS099TL2</td>
      <td class="rate">%T16CS099RM1 / %T16CS099RM2</td>
      <td class="rate">%T16CS099CI1 / %T16CS099CI2</td>
      <td class="rate">%T16CS099AY1 / %T16CS099AY2</td>
      <td class="rate">%T16CS099MR1 / %T16CS099MR2</td>
     </tr>
     <tr>
      <td class="number">No.100</td>
      <td class="card">%T16CARD100N<br />(%T16CARD100R)</td>
      <td class="rate">%T16CS100TL1 / %T16CS100TL2</td>
      <td class="rate">%T16CS100RM1 / %T16CS100RM2</td>
      <td class="rate">%T16CS100CI1 / %T16CS100CI2</td>
      <td class="rate">%T16CS100AY1 / %T16CS100AY2</td>
      <td class="rate">%T16CS100MR1 / %T16CS100MR2</td>
     </tr>

     <tr>
      <td class="number">No.101</td>
      <td class="card">%T16CARD101N<br />(%T16CARD101R)</td>
      <td class="rate">%T16CS101TL1 / %T16CS101TL2</td>
      <td class="rate">%T16CS101RM1 / %T16CS101RM2</td>
      <td class="rate">%T16CS101CI1 / %T16CS101CI2</td>
      <td class="rate">%T16CS101AY1 / %T16CS101AY2</td>
      <td class="rate">%T16CS101MR1 / %T16CS101MR2</td>
     </tr>
     <tr>
      <td class="number">No.102</td>
      <td class="card">%T16CARD102N<br />(%T16CARD102R)</td>
      <td class="rate">%T16CS102TL1 / %T16CS102TL2</td>
      <td class="rate">%T16CS102RM1 / %T16CS102RM2</td>
      <td class="rate">%T16CS102CI1 / %T16CS102CI2</td>
      <td class="rate">%T16CS102AY1 / %T16CS102AY2</td>
      <td class="rate">%T16CS102MR1 / %T16CS102MR2</td>
     </tr>
     <tr>
      <td class="number">No.103</td>
      <td class="card">%T16CARD103N<br />(%T16CARD103R)</td>
      <td class="rate">%T16CS103TL1 / %T16CS103TL2</td>
      <td class="rate">%T16CS103RM1 / %T16CS103RM2</td>
      <td class="rate">%T16CS103CI1 / %T16CS103CI2</td>
      <td class="rate">%T16CS103AY1 / %T16CS103AY2</td>
      <td class="rate">%T16CS103MR1 / %T16CS103MR2</td>
     </tr>
     <tr>
      <td class="number">No.104</td>
      <td class="card">%T16CARD104N<br />(%T16CARD104R)</td>
      <td class="rate">%T16CS104TL1 / %T16CS104TL2</td>
      <td class="rate">%T16CS104RM1 / %T16CS104RM2</td>
      <td class="rate">%T16CS104CI1 / %T16CS104CI2</td>
      <td class="rate">%T16CS104AY1 / %T16CS104AY2</td>
      <td class="rate">%T16CS104MR1 / %T16CS104MR2</td>
     </tr>
     <tr>
      <td class="number">No.105</td>
      <td class="card">%T16CARD105N<br />(%T16CARD105R)</td>
      <td class="rate">%T16CS105TL1 / %T16CS105TL2</td>
      <td class="rate">%T16CS105RM1 / %T16CS105RM2</td>
      <td class="rate">%T16CS105CI1 / %T16CS105CI2</td>
      <td class="rate">%T16CS105AY1 / %T16CS105AY2</td>
      <td class="rate">%T16CS105MR1 / %T16CS105MR2</td>
     </tr>
     <tr>
      <td class="number">No.106</td>
      <td class="card">%T16CARD106N<br />(%T16CARD106R)</td>
      <td class="rate">%T16CS106TL1 / %T16CS106TL2</td>
      <td class="rate">%T16CS106RM1 / %T16CS106RM2</td>
      <td class="rate">%T16CS106CI1 / %T16CS106CI2</td>
      <td class="rate">%T16CS106AY1 / %T16CS106AY2</td>
      <td class="rate">%T16CS106MR1 / %T16CS106MR2</td>
     </tr>
     <tr>
      <td class="number">No.107</td>
      <td class="card">%T16CARD107N<br />(%T16CARD107R)</td>
      <td class="rate">%T16CS107TL1 / %T16CS107TL2</td>
      <td class="rate">%T16CS107RM1 / %T16CS107RM2</td>
      <td class="rate">%T16CS107CI1 / %T16CS107CI2</td>
      <td class="rate">%T16CS107AY1 / %T16CS107AY2</td>
      <td class="rate">%T16CS107MR1 / %T16CS107MR2</td>
     </tr>
     <tr>
      <td class="number">No.108</td>
      <td class="card">%T16CARD108N<br />(%T16CARD108R)</td>
      <td class="rate">%T16CS108TL1 / %T16CS108TL2</td>
      <td class="rate">%T16CS108RM1 / %T16CS108RM2</td>
      <td class="rate">%T16CS108CI1 / %T16CS108CI2</td>
      <td class="rate">%T16CS108AY1 / %T16CS108AY2</td>
      <td class="rate">%T16CS108MR1 / %T16CS108MR2</td>
     </tr>
     <tr>
      <td class="number">No.109</td>
      <td class="card">%T16CARD109N<br />(%T16CARD109R)</td>
      <td class="rate">%T16CS109TL1 / %T16CS109TL2</td>
      <td class="rate">%T16CS109RM1 / %T16CS109RM2</td>
      <td class="rate">%T16CS109CI1 / %T16CS109CI2</td>
      <td class="rate">%T16CS109AY1 / %T16CS109AY2</td>
      <td class="rate">%T16CS109MR1 / %T16CS109MR2</td>
     </tr>
     <tr>
      <td class="number">No.110</td>
      <td class="card">%T16CARD110N<br />(%T16CARD110R)</td>
      <td class="rate">%T16CS110TL1 / %T16CS110TL2</td>
      <td class="rate">%T16CS110RM1 / %T16CS110RM2</td>
      <td class="rate">%T16CS110CI1 / %T16CS110CI2</td>
      <td class="rate">%T16CS110AY1 / %T16CS110AY2</td>
      <td class="rate">%T16CS110MR1 / %T16CS110MR2</td>
     </tr>

     <tr>
      <td class="number">No.111</td>
      <td class="card">%T16CARD111N<br />(%T16CARD111R)</td>
      <td class="rate">%T16CS111TL1 / %T16CS111TL2</td>
      <td class="rate">%T16CS111RM1 / %T16CS111RM2</td>
      <td class="rate">%T16CS111CI1 / %T16CS111CI2</td>
      <td class="rate">%T16CS111AY1 / %T16CS111AY2</td>
      <td class="rate">%T16CS111MR1 / %T16CS111MR2</td>
     </tr>
     <tr>
      <td class="number">No.112</td>
      <td class="card">%T16CARD112N<br />(%T16CARD112R)</td>
      <td class="rate">%T16CS112TL1 / %T16CS112TL2</td>
      <td class="rate">%T16CS112RM1 / %T16CS112RM2</td>
      <td class="rate">%T16CS112CI1 / %T16CS112CI2</td>
      <td class="rate">%T16CS112AY1 / %T16CS112AY2</td>
      <td class="rate">%T16CS112MR1 / %T16CS112MR2</td>
     </tr>
     <tr>
      <td class="number">No.113</td>
      <td class="card">%T16CARD113N<br />(%T16CARD113R)</td>
      <td class="rate">%T16CS113TL1 / %T16CS113TL2</td>
      <td class="rate">%T16CS113RM1 / %T16CS113RM2</td>
      <td class="rate">%T16CS113CI1 / %T16CS113CI2</td>
      <td class="rate">%T16CS113AY1 / %T16CS113AY2</td>
      <td class="rate">%T16CS113MR1 / %T16CS113MR2</td>
     </tr>
     <tr>
      <td class="number">No.114</td>
      <td class="card">%T16CARD114N<br />(%T16CARD114R)</td>
      <td class="rate">%T16CS114TL1 / %T16CS114TL2</td>
      <td class="rate">%T16CS114RM1 / %T16CS114RM2</td>
      <td class="rate">%T16CS114CI1 / %T16CS114CI2</td>
      <td class="rate">%T16CS114AY1 / %T16CS114AY2</td>
      <td class="rate">%T16CS114MR1 / %T16CS114MR2</td>
     </tr>
     <tr>
      <td class="number">No.115</td>
      <td class="card">%T16CARD115N<br />(%T16CARD115R)</td>
      <td class="rate">%T16CS115TL1 / %T16CS115TL2</td>
      <td class="rate">%T16CS115RM1 / %T16CS115RM2</td>
      <td class="rate">%T16CS115CI1 / %T16CS115CI2</td>
      <td class="rate">%T16CS115AY1 / %T16CS115AY2</td>
      <td class="rate">%T16CS115MR1 / %T16CS115MR2</td>
     </tr>
     <tr>
      <td class="number">No.116</td>
      <td class="card">%T16CARD116N<br />(%T16CARD116R)</td>
      <td class="rate">%T16CS116TL1 / %T16CS116TL2</td>
      <td class="rate">%T16CS116RM1 / %T16CS116RM2</td>
      <td class="rate">%T16CS116CI1 / %T16CS116CI2</td>
      <td class="rate">%T16CS116AY1 / %T16CS116AY2</td>
      <td class="rate">%T16CS116MR1 / %T16CS116MR2</td>
     </tr>
     <tr>
      <td class="number">No.117</td>
      <td class="card">%T16CARD117N<br />(%T16CARD117R)</td>
      <td class="rate">%T16CS117TL1 / %T16CS117TL2</td>
      <td class="rate">%T16CS117RM1 / %T16CS117RM2</td>
      <td class="rate">%T16CS117CI1 / %T16CS117CI2</td>
      <td class="rate">%T16CS117AY1 / %T16CS117AY2</td>
      <td class="rate">%T16CS117MR1 / %T16CS117MR2</td>
     </tr>
     <tr>
      <td class="number">No.118</td>
      <td class="card">%T16CARD118N<br />(%T16CARD118R)</td>
      <td class="rate">%T16CS118TL1 / %T16CS118TL2</td>
      <td class="rate">%T16CS118RM1 / %T16CS118RM2</td>
      <td class="rate">%T16CS118CI1 / %T16CS118CI2</td>
      <td class="rate">%T16CS118AY1 / %T16CS118AY2</td>
      <td class="rate">%T16CS118MR1 / %T16CS118MR2</td>
     </tr>
     <tr>
      <td class="number">No.119</td>
      <td class="card">%T16CARD119N<br />(%T16CARD119R)</td>
      <td class="rate">%T16CS119TL1 / %T16CS119TL2</td>
      <td class="rate">%T16CS119RM1 / %T16CS119RM2</td>
      <td class="rate">%T16CS119CI1 / %T16CS119CI2</td>
      <td class="rate">%T16CS119AY1 / %T16CS119AY2</td>
      <td class="rate">%T16CS119MR1 / %T16CS119MR2</td>
     </tr>
    </tbody>
   </table>

   <table class="rate_per_level">
    <caption id="rate_per_level">難易度別スペルカード蒐集率（取得回数 / 挑戦回数 / 総数）</caption>
    <thead>
     <tr>
      <td class="level">難易度</td>
      <td class="character">全主人公合計</td>
      <td class="character">博麗 霊夢</td>
      <td class="character">日焼けしたチルノ</td>
      <td class="character">射命丸 文</td>
      <td class="character">霧雨 魔理沙</td>
     </tr>
    </thead>
    <tfoot>
     <tr>
      <td>Total</td>
      <td class="rate">%T16CRGSTTL01 / %T16CRGSTTL02 / 119</td>
      <td class="rate">%T16CRGSTRM01 / %T16CRGSTRM02 / 119</td>
      <td class="rate">%T16CRGSTCI01 / %T16CRGSTCI02 / 119</td>
      <td class="rate">%T16CRGSTAY01 / %T16CRGSTAY02 / 119</td>
      <td class="rate">%T16CRGSTMR01 / %T16CRGSTMR02 / 119</td>
     </tr>
    </tfoot>
    <tbody>
     <tr>
      <td class="level">Easy</td>
      <td class="rate">%T16CRGSETL01 / %T16CRGSETL02 / 26</td>
      <td class="rate">%T16CRGSERM01 / %T16CRGSERM02 / 26</td>
      <td class="rate">%T16CRGSECI01 / %T16CRGSECI02 / 26</td>
      <td class="rate">%T16CRGSEAY01 / %T16CRGSEAY02 / 26</td>
      <td class="rate">%T16CRGSEMR01 / %T16CRGSEMR02 / 26</td>
     </tr>
     <tr>
      <td class="level">Normal</td>
      <td class="rate">%T16CRGSNTL01 / %T16CRGSNTL02 / 26</td>
      <td class="rate">%T16CRGSNRM01 / %T16CRGSNRM02 / 26</td>
      <td class="rate">%T16CRGSNCI01 / %T16CRGSNCI02 / 26</td>
      <td class="rate">%T16CRGSNAY01 / %T16CRGSNAY02 / 26</td>
      <td class="rate">%T16CRGSNMR01 / %T16CRGSNMR02 / 26</td>
     </tr>
     <tr>
      <td class="level">Hard</td>
      <td class="rate">%T16CRGSHTL01 / %T16CRGSHTL02 / 27</td>
      <td class="rate">%T16CRGSHRM01 / %T16CRGSHRM02 / 27</td>
      <td class="rate">%T16CRGSHCI01 / %T16CRGSHCI02 / 27</td>
      <td class="rate">%T16CRGSHAY01 / %T16CRGSHAY02 / 27</td>
      <td class="rate">%T16CRGSHMR01 / %T16CRGSHMR02 / 27</td>
     </tr>
     <tr>
      <td class="level">Lunatic</td>
      <td class="rate">%T16CRGSLTL01 / %T16CRGSLTL02 / 27</td>
      <td class="rate">%T16CRGSLRM01 / %T16CRGSLRM02 / 27</td>
      <td class="rate">%T16CRGSLCI01 / %T16CRGSLCI02 / 27</td>
      <td class="rate">%T16CRGSLAY01 / %T16CRGSLAY02 / 27</td>
      <td class="rate">%T16CRGSLMR01 / %T16CRGSLMR02 / 27</td>
     </tr>
     <tr>
      <td class="level">Extra</td>
      <td class="rate">%T16CRGSXTL01 / %T16CRGSXTL02 / 13</td>
      <td class="rate">%T16CRGSXRM01 / %T16CRGSXRM02 / 13</td>
      <td class="rate">%T16CRGSXCI01 / %T16CRGSXCI02 / 13</td>
      <td class="rate">%T16CRGSXAY01 / %T16CRGSXAY02 / 13</td>
      <td class="rate">%T16CRGSXMR01 / %T16CRGSXMR02 / 13</td>
     </tr>
    </tbody>
   </table>

   <table class="rate_per_stage">
    <caption id="rate_per_stage">ステージ別スペルカード蒐集率（取得回数 / 挑戦回数 / 総数）</caption>
    <thead>
     <tr>
      <td class="stage">ステージ</td>
      <td class="character">全主人公合計</td>
      <td class="character">博麗 霊夢</td>
      <td class="character">日焼けしたチルノ</td>
      <td class="character">射命丸 文</td>
      <td class="character">霧雨 魔理沙</td>
     </tr>
    </thead>
    <tfoot>
     <tr>
      <td>Total</td>
      <td class="rate">%T16CRGSTTL01 / %T16CRGSTTL02 / 119</td>
      <td class="rate">%T16CRGSTRM01 / %T16CRGSTRM02 / 119</td>
      <td class="rate">%T16CRGSTCI01 / %T16CRGSTCI02 / 119</td>
      <td class="rate">%T16CRGSTAY01 / %T16CRGSTAY02 / 119</td>
      <td class="rate">%T16CRGSTMR01 / %T16CRGSTMR02 / 119</td>
     </tr>
    </tfoot>
    <tbody>
     <tr>
      <td class="stage">Stage1</td>
      <td class="rate">%T16CRGSTTL11 / %T16CRGSTTL12 / 8</td>
      <td class="rate">%T16CRGSTRM11 / %T16CRGSTRM12 / 8</td>
      <td class="rate">%T16CRGSTCI11 / %T16CRGSTCI12 / 8</td>
      <td class="rate">%T16CRGSTAY11 / %T16CRGSTAY12 / 8</td>
      <td class="rate">%T16CRGSTMR11 / %T16CRGSTMR12 / 8</td>
     </tr>
     <tr>
      <td class="stage">Stage2</td>
      <td class="rate">%T16CRGSTTL21 / %T16CRGSTTL22 / 12</td>
      <td class="rate">%T16CRGSTRM21 / %T16CRGSTRM22 / 12</td>
      <td class="rate">%T16CRGSTCI21 / %T16CRGSTCI22 / 12</td>
      <td class="rate">%T16CRGSTAY21 / %T16CRGSTAY22 / 12</td>
      <td class="rate">%T16CRGSTMR21 / %T16CRGSTMR22 / 12</td>
     </tr>
     <tr>
      <td class="stage">Stage3</td>
      <td class="rate">%T16CRGSTTL31 / %T16CRGSTTL32 / 14</td>
      <td class="rate">%T16CRGSTRM31 / %T16CRGSTRM32 / 14</td>
      <td class="rate">%T16CRGSTCI31 / %T16CRGSTCI32 / 14</td>
      <td class="rate">%T16CRGSTAY31 / %T16CRGSTAY32 / 14</td>
      <td class="rate">%T16CRGSTMR31 / %T16CRGSTMR32 / 14</td>
     </tr>
     <tr>
      <td class="stage">Stage4</td>
      <td class="rate">%T16CRGSTTL41 / %T16CRGSTTL42 / 12</td>
      <td class="rate">%T16CRGSTRM41 / %T16CRGSTRM42 / 12</td>
      <td class="rate">%T16CRGSTCI41 / %T16CRGSTCI42 / 12</td>
      <td class="rate">%T16CRGSTAY41 / %T16CRGSTAY42 / 12</td>
      <td class="rate">%T16CRGSTMR41 / %T16CRGSTMR42 / 12</td>
     </tr>
     <tr>
      <td class="stage">Stage5</td>
      <td class="rate">%T16CRGSTTL51 / %T16CRGSTTL52 / 24</td>
      <td class="rate">%T16CRGSTRM51 / %T16CRGSTRM52 / 24</td>
      <td class="rate">%T16CRGSTCI51 / %T16CRGSTCI52 / 24</td>
      <td class="rate">%T16CRGSTAY51 / %T16CRGSTAY52 / 24</td>
      <td class="rate">%T16CRGSTMR51 / %T16CRGSTMR52 / 24</td>
     </tr>
     <tr>
      <td class="stage">Stage6</td>
      <td class="rate">%T16CRGSTTL61 / %T16CRGSTTL62 / 36</td>
      <td class="rate">%T16CRGSTRM61 / %T16CRGSTRM62 / 36</td>
      <td class="rate">%T16CRGSTCI61 / %T16CRGSTCI62 / 36</td>
      <td class="rate">%T16CRGSTAY61 / %T16CRGSTAY62 / 36</td>
      <td class="rate">%T16CRGSTMR61 / %T16CRGSTMR62 / 36</td>
     </tr>
     <tr>
      <td class="stage">Extra</td>
      <td class="rate">%T16CRGSXTL01 / %T16CRGSXTL02 / 13</td>
      <td class="rate">%T16CRGSXRM01 / %T16CRGSXRM02 / 13</td>
      <td class="rate">%T16CRGSXCI01 / %T16CRGSXCI02 / 13</td>
      <td class="rate">%T16CRGSXAY01 / %T16CRGSXAY02 / 13</td>
      <td class="rate">%T16CRGSXMR01 / %T16CRGSXMR02 / 13</td>
     </tr>
    </tbody>
   </table>

  </div>

  <hr />

  <div class="section">
   <p>
    Data output by <a href="https://www.colorless-sight.jp/thsfc/">ThScoreFileConverter</a>.
<script type="text/javascript">
<!--
    document.write("Last updated: ", document.lastModified, ".");
//-->
</script>
   </p>
  </div>

 </body>
</html>
