<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GitVersionTask" version="3.6.5" targetFramework="net45" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.FxCopAnalyzers" version="2.9.2" targetFramework="net45" />
  <package id="Microsoft.CodeAnalysis.VersionCheckAnalyzer" version="2.9.2" targetFramework="net45" />
  <package id="Microsoft.CodeQuality.Analyzers" version="2.9.2" targetFramework="net45" />
  <package id="Microsoft.NetCore.Analyzers" version="2.9.2" targetFramework="net45" />
  <package id="Microsoft.NetFramework.Analyzers" version="2.9.2" targetFramework="net45" />
  <package id="Prism.Interactivity" version="5.0.0" targetFramework="net45" />
  <package id="Prism.Mvvm" version="1.1.1" targetFramework="net45" />
  <package id="StyleCop.Analyzers.Unstable" version="1.1.1.114" targetFramework="net45" developmentDependency="true" />
  <package id="WpfAnalyzers" version="2.2.0.2" targetFramework="net45" developmentDependency="true" />
</packages>