name: CI

on: [push, pull_request]

jobs:
  build:
    strategy:
      matrix:
        configuration: [Debug, Release]
        target-framework: [net48, net6.0-windows]

    uses: ./.github/workflows/_build.yml
    with:
      python-version: '3.x'
      dotnet-configuration: ${{ matrix.configuration }}
      dotnet-target-framework: ${{ matrix.target-framework }}
